Repository 1024pix/pix, pull requests merged in 2023-11, with the labels that each got.

#7368 [TECH] Supprimer la méthode findOperative du challenge repository (PIX-9834).
  api/db/database-builder/factory/build-correct-answers-and-knowledge-elements-for-learning-content.js
  api/lib/application/scoring-simulator/scoring-simulator-controller.js
  api/lib/domain/usecases/simulate-old-scoring.js
  api/lib/infrastructure/repositories/certification-assessment-repository.js
  api/tests/acceptance/application/assessments/assessment-controller-complete-assessment_test.js
  api/tests/acceptance/application/session/session-controller-put-finalization_test.js
  api/tests/integration/application/scoring-simulator/scoring-simulator-controller_test.js
  api/tests/integration/domain/usecases/simulate-old-scoring_test.js
  api/tests/integration/infrastructure/repositories/certification-assessment-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-contenu

#7365 [TECH] Détruire le pool de connexion PgBoss à la fin de migration de BdD
  api/scripts/database/pg-boss-migration.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#7332 [TECH] - Api arborescence migration - amélioration du graph time series
  api/scripts/arborescence-monitoring/add-metrics-to-gist.js
  api/scripts/arborescence-monitoring/time-series.js
  api/tests/acceptance/scripts/time-series_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, Bounded-context-migration

#7367 [FEATURE] Modifier l'affichage du texte de suppression des participants/étudiants (Pix-9211)
  orga/app/components/organization-participant/deletion-modal.hbs
  orga/app/components/organization-participant/deletion-modal.js
  orga/app/components/sup-organization-participant/modal/deletion.hbs
  orga/app/components/sup-organization-participant/modal/deletion.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7340 [TECH] Empêcher un candidat d'alerter deux fois si une alerte est en cours (PIX-9027).
  api/lib/domain/usecases/create-certification-challenge-live-alert.js
  api/src/certification/session/infrastructure/repositories/certification-challenge-live-alert-repository.js
  api/tests/certification/session/integration/infrastructure/repositories/certification-challenge-live-alert-repository_test.js
  api/tests/unit/domain/usecases/create-certification-challenge-live-alert_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7323 [BUGFIX] Rendre le champ de la date de naissance obligatoire lors d'un ajout de candidat sur Pix Certif (PIX-9758).
  api/lib/application/sessions/index.js
  api/lib/infrastructure/serializers/jsonapi/certification-candidate-serializer.js
  certif/app/components/enrolled-candidates.js
  certif/app/components/new-certification-candidate-modal.hbs
  certif/tests/integration/components/new-certification-candidate-modal_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-certif

#7303 [FEATURE] Ajouter des metriques sur retenter/remise à zéro d'une campagne (PIX-9730).
  mon-pix/app/routes/campaigns/entry-point.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-devcomp

#7376 [FEATURE] Création du script pour ajouter la feature à toutes les orgas SCO AEFE (PIX-9819)
  api/scripts/prod/enable-compute-certificability-on-sco-aefe-organizations.js
  api/tests/integration/scripts/prod/enable-compute-certificability-on-sco-aefe-organizations_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7381 [FEATURE] Corriger la typo dans la modale de suppression (PIX-9853)
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7347 [FEATURE] Revue des accès pour le versioning des profils cibles sur Pix Admin (PIX-9753).
  admin/app/components/complementary-certifications/target-profiles/information.hbs
  admin/app/components/complementary-certifications/target-profiles/information.js
  admin/app/routes/authenticated/complementary-certifications/complementary-certification/attach-target-profile.js
  admin/app/routes/authenticated/complementary-certifications/complementary-certification/details.js
  admin/app/services/access-control.js
  admin/tests/acceptance/authenticated/complementary-certifications/complementary-certification/attach-target-profile_test.js
  admin/tests/acceptance/authenticated/complementary-certifications/complementary-certification/details_test.js
  admin/tests/acceptance/authenticated/complementary-certifications/list_test.js
  admin/tests/integration/components/complementary-certifications/target-profiles/information_test.js
  admin/tests/integration/components/menu-bar_test.js
  admin/tests/unit/routes/authenticated/complementary-certifications/complementary-certification/details_test.js
  admin/tests/unit/services/access-control-test.js
  api/src/certification/complementary-certification/application/attach-target-profile-route.js
  api/src/certification/complementary-certification/application/complementary-certification-route.js
  api/tests/certification/complementary-certification/unit/application/attach-target-profile-route_test.js
  api/tests/certification/complementary-certification/unit/application/complementary-certification-route_test.js
Labels: :rocket: Ready to Merge, team-certif

#7383 [FEATURE] Retirer la faute dans la clé de trad (PIX-9853)
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#7373 [FEATURE] Permettre aux Orga de type AEFE de bénéficier du calcul de la certificabilité (Pix-9818)
  api/lib/application/organizations/organization-controller.js
  api/lib/domain/models/organizations-administration/OrganizationForAdmin.js
  api/lib/domain/usecases/organizations-administration/update-organization-information.js
  api/lib/infrastructure/repositories/organization-for-admin-repository.js
  api/lib/infrastructure/repositories/tag-repository.js
  api/lib/infrastructure/serializers/jsonapi/organization-for-admin-serializer.js
  api/lib/infrastructure/serializers/jsonapi/organizations-administration/organization-for-admin-serializer.js
  api/tests/integration/infrastructure/repositories/tag-repository_test.js
  api/tests/unit/domain/models/organizations-administration/OrganizationForAdmin_test.js
  api/tests/unit/domain/usecases/organizations-administration/update-organization-information_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/organization-for-admin-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7388 [TECH] Suppression de la documentation sur la variable d'environnement `FT_TRAINING_RECOMMENDATION`
  api/sample.env
Labels: Tech Review OK, :rocket: Ready to Merge, team-devcomp

#7384 [TECH] Supprimer la méthode `findOperative` du `challengeRepository` qui n'est plus utilisé (PIX-9842).
  api/lib/domain/services/certification-challenges-service.js
  api/lib/domain/usecases/simulate-old-scoring.js
  api/lib/infrastructure/repositories/challenge-repository.js
  api/tests/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/unit/domain/services/certification-challenges-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-contenu

#7326 [FEATURE] Ajout du tag marquant une alerte en cours dans l'espace surveillant (PIX-8816).
  certif/app/components/session-supervising/candidate-in-list.hbs
  certif/app/styles/components/session-supervising/candidate-in-list.scss
  certif/tests/integration/components/session-supervising/candidate-in-list_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7380 [FEATURE] Sauvegarde du discriminant et de la difficulté en BDD (PIX-9831).
  api/db/migrations/20231103103002_create-difficulty-and-discriminant-columns-in-certification-challenges.js
  api/lib/domain/models/CertificationChallenge.js
  api/lib/domain/usecases/get-next-challenge-for-certification.js
  api/lib/infrastructure/repositories/certification-challenge-repository.js
  api/tests/tooling/domain-builder/factory/build-certification-challenge.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7344 [FEATURE] Modulix : Gérer la réponse de l'apprenant pour un QCU (PIX-9743)
  api/src/devcomp/application/modules/controller.js
  api/src/devcomp/application/modules/index.js
  api/src/devcomp/domain/models/Feedbacks.js
  api/src/devcomp/domain/models/Module.js
  api/src/devcomp/domain/models/QcuCorrectionResponse.js
  api/src/devcomp/domain/models/QcuProposal.js
  api/src/devcomp/domain/models/element/QCU.js
  api/src/devcomp/domain/models/validator/AnswerStatus.js
  api/src/devcomp/domain/models/validator/Validation.js
  api/src/devcomp/domain/models/validator/Validator.js
  api/src/devcomp/domain/models/validator/ValidatorQCU.js
  api/src/devcomp/domain/services/solution-service-qcu.js
  api/src/devcomp/domain/usecases/validate-answer.js
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/src/devcomp/infrastructure/serializers/jsonapi/correction-response-serializer.js
  api/tests/devcomp/acceptance/application/modules/controller-validateAnswer_test.js
  api/tests/devcomp/unit/application/modules/controller_test.js
  api/tests/devcomp/unit/domain/models/Feedbacks_test.js
  api/tests/devcomp/unit/domain/models/Module_test.js
  api/tests/devcomp/unit/domain/models/QCU_test.js
  api/tests/devcomp/unit/domain/models/QcuCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/QcuForCorrection_test.js
  api/tests/devcomp/unit/domain/models/QcuProposal_test.js
  api/tests/devcomp/unit/domain/models/element/QCU_test.js
  api/tests/devcomp/unit/domain/models/validator/AnswerStatus_test.js
  api/tests/devcomp/unit/domain/models/validator/ValidatorQCU_test.js
  api/tests/devcomp/unit/domain/models/validator/Validator_test.js
  api/tests/devcomp/unit/domain/services/solution-service-qcu_test.js
  api/tests/devcomp/unit/domain/usecases/validate-answer_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/module-datasource_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/correction-response-serializer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#7322 [CLEANUP] Corriger les avertissements de dépréciations d'ember data sur Pix certif#2
  certif/app/adapters/session.js
  certif/app/components/session-finalization/uncompleted-reports-information-step.hbs
  certif/app/controllers/authenticated/sessions/finalize.js
  certif/app/models/session-for-supervising.js
  certif/tests/acceptance/session-supervising-error_test.js
  certif/tests/unit/adapters/session_test.js
  certif/tests/unit/controllers/authenticated/sessions/finalize_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, cross-team

#7387 [FEATURE] [API] Créer une variable d'environnement pour lister les claims OIDC supplémentaires à sauvegarder (PIX-9379)
  api/lib/domain/services/authentication/fwb-oidc-authentication-service.js
  api/lib/domain/services/authentication/oidc-authentication-service.js
  api/sample.env
  api/src/shared/config.js
  api/src/shared/infrastructure/utils/string-utils.js
  api/tests/shared/unit/infrastructure/utils/string-utils_test.js
  api/tests/unit/domain/services/authentication/oidc-authentication-service_test.js
Labels: :rocket: Ready to Merge, team-acces

#7342 [FEATURE] Gestion de l'accusé de traitement CPF (partie 1) (PIX-9104).
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/external-storage/cpf-external-storage.js
  api/lib/infrastructure/external-storage/s3-utils.js
  api/lib/infrastructure/jobs/cpf-export/handlers/create-and-upload.js
  api/lib/infrastructure/jobs/cpf-export/handlers/send-email.js
  api/lib/infrastructure/jobs/cpf-export/index.js
  api/lib/infrastructure/jobs/cpf-export/schedule-cpf-jobs.js
  api/scripts/certification/get-cpf-import-status-from-xml.js
  api/scripts/certification/get-user-certification-eligibility.js
  api/src/certification/courses/domain/models/CpfImportStatus.js
  api/src/certification/session/domain/models/CpfImportStatus.js
  api/src/certification/session/domain/usecases/get-cpf-import-status-from-xml.js
  api/src/certification/session/domain/usecases/get-cpf-presigned-urls.js
  api/src/certification/session/domain/usecases/upload-cpf-files.js
  api/src/certification/session/infrastructure/repositories/cpf-certification-result-repository.js
  api/src/shared/storage/infrastructure/providers/S3ObjectStorageProvider.js
  api/tests/certification/session/integration/domain/usecases/.gitkeep
  api/tests/certification/session/integration/domain/usecases/files/xml/cpfImportLog.xml
  api/tests/certification/session/integration/domain/usecases/files/xml/cpfImportLogEmpty.xml
  api/tests/certification/session/integration/domain/usecases/get-cpf-import-status-from-xml_test.js
  api/tests/certification/session/integration/infrastructure/repositories/cpf-certification-result-repository_test.js
  api/tests/certification/session/unit/domain/usecases/files/xml/cpfImportLog.xml
  api/tests/certification/session/unit/domain/usecases/files/xml/cpfImportLogEmpty.xml
  api/tests/certification/session/unit/domain/usecases/get-cpf-import-status-from-xml_test.js
  api/tests/certification/session/unit/domain/usecases/get-cpf-presigned-urls_test.js
  api/tests/certification/session/unit/domain/usecases/upload-cpf-files_test.js
  api/tests/integration/infrastructure/jobs/cpf-export/handlers/create-and-upload_test.js
  api/tests/shared/unit/storage/infrastructure/providers/S3ObjectStorageProvider_test.js
  api/tests/unit/infrastructure/external-storage/cpf-external-storage_test.js
  api/tests/unit/infrastructure/jobs/cpf-export/handlers/create-and-upload_test.js
  api/tests/unit/infrastructure/jobs/cpf-export/handlers/send-email_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, Bounded-context-migration

#7389 [FEATURE] Ne pas envoyer d'email sans lien pour le CPF (PIX-9863).
  api/lib/infrastructure/jobs/cpf-export/handlers/send-email.js
  api/tests/unit/infrastructure/jobs/cpf-export/handlers/send-email_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7382 [TECH] Migration des fichiers pour les flash campaigns dans la nouvelle arbo (PIX-9856).
  api/db/seeds/data/common/tooling/learning-content.js
  api/lib/application/challenges/challenge-controller.js
  api/lib/domain/errors.js
  api/lib/domain/events/index.js
  api/lib/domain/models/CertificationAssessmentScoreV3.js
  api/lib/domain/models/index.js
  api/lib/domain/services/algorithm-methods/#smart-random.js#
  api/lib/domain/services/certification-challenges-service.js
  api/lib/domain/usecases/get-next-challenge-for-campaign-assessment.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/certification-assessment-repository.js
  api/lib/infrastructure/repositories/participant-result-repository.js
  api/lib/routes.js
  api/scripts/certification/launch-auto-jury-for-session.js
  api/scripts/certification/trigger-autojury-on-finalized-sessions.js
  api/scripts/extract-challenge-with-skills.js
  api/scripts/tooling/tooling.js
  api/server.js
  api/src/certification/flash-certification/application/scenario-simulator-controller.js
  api/src/certification/flash-certification/application/scenario-simulator-route.js
  api/src/certification/flash-certification/domain/model/AssessmentSimulator.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmChallengesBetweenCompetencesRule.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmForcedCompetencesRule.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmNonAnsweredSkillsRule.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmOneQuestionPerTubeRule.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmPassageByAllCompetencesRule.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmRuleEngine.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentSuccessRateHandler.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentSuccessRateHandlerFixedStrategy.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentSuccessRateHandlerLinearStrategy.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/src/certification/flash-certification/domain/usecases/simulate-flash-deterministic-assessment-scenario.js
  api/src/certification/flash-certification/routes.js
  api/src/certification/shared/domain/usecases/index.js
  api/src/certification/shared/infrastructure/repositories/challenge-repository.js
  api/src/school/shared/usecases/index.js
  api/src/shared/application/error-manager.js
  api/src/shared/domain/errors.js
  api/tests/certification/flash-certification/integration/application/scenario-simulator-controller_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulator_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithmChallengesBetweenCompetencesRule_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithmForcedCompetencesRule_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithmNonAnsweredSkillsRule_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithmOneQuestionPerTubeRule_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithmPassageByAllCompetencesRule_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithmRuleEngine_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentSuccessRateHandler_test.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
  api/tests/integration/domain/services/pick-certification-challenge_test.js
  api/tests/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/school/integration/domain/usecases/get-next-challenge_test.js
  api/tests/school/unit/application/assessments/route_test.js
  api/tests/tooling/domain-builder/factory/build-flash-assessment-algorithm-success-rate-handler.js
  api/tests/unit/domain/services/smart-random/smart-random_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/unit/domain/usecases/simulate-flash-deterministic-assessment-scenario_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, certif-next-gen, Bounded-context-migration

#7293 [FEATURE][ADMIN] Sélectionner un rôle à l'envoi d'une invitation à rejoindre un Centre de Certification (PIX-9463)
  admin/app/adapters/certification-center-invitation.js
  admin/app/components/certification-centers/invitations-action.hbs
  admin/app/components/certification-centers/invitations-action.js
  admin/app/components/certification-centers/invitations.hbs
  admin/app/controllers/authenticated/certification-centers/get/invitations.js
  admin/app/models/certification-center-invitation.js
  admin/app/styles/components/certification-centers/invitations-action.scss
  admin/tests/integration/components/certification-centers/invitations-action_test.js
  admin/tests/unit/adapters/certification-center-invitation_test.js
  admin/tests/unit/controllers/authenticated/certification-centers/get/invitations_test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/db/database-builder/factory/build-certification-center-invitation.js
  api/db/migrations/20231027084224_add-role-column-to-certification-center-invitations-table.js
  api/lib/application/certification-centers/certification-center-controller.js
  api/lib/application/certification-centers/index.js
  api/lib/domain/models/CertificationCenterInvitation.js
  api/lib/domain/models/CertificationCenterInvitedUser.js
  api/lib/domain/usecases/create-or-update-certification-center-invitation-for-admin.js
  api/lib/infrastructure/repositories/certification-center-invitation-repository.js
  api/lib/infrastructure/repositories/certification-center-invited-user-repository.js
  api/lib/infrastructure/serializers/jsonapi/certification-center-invitation-serializer.js
  api/tests/acceptance/application/certification-centers/index_test.js
  api/tests/acceptance/application/certifications/index_test.js
  api/tests/integration/domain/usecases/create-or-update-certification-center-invitation-for-admin_test.js
  api/tests/integration/infrastructure/repositories/certification-center-invited-user-repository_test.js
  api/tests/tooling/domain-builder/factory/build-certification-center-invitation.js
  api/tests/unit/application/certification-centers/certification-center-controller_test.js
  api/tests/unit/domain/models/CertificationCenterInvitation_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-center-invitation-serializer_test.js
  certif/app/components/auth/register-form.js
  certif/app/components/auth/toggable-login-form.js
  certif/tests/unit/components/auth/toggable-login-form_test.js
Labels: :rocket: Ready to Merge, team-acces, team-certif

#7393 [TECH] Extrait des méthodes utilitaires pour filtrer les épreuves par locale ou status
  api/lib/infrastructure/datasources/learning-content/challenge-datasource.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-contenu

#7398 [TECH] Corrige des messages de dépréciation relatifs a ember-data sur certif
  certif/app/components/auth/register-form.hbs
  certif/app/components/auth/toggable-login-form.hbs
  certif/app/components/issue-report-modal/add-issue-report-modal.hbs
  certif/app/components/issue-report-modal/issue-reports-modal.hbs
  certif/app/controllers/authenticated/sessions/details/certification-candidates.js
  certif/app/controllers/authenticated/sessions/finalize.js
  certif/app/controllers/authenticated/team/list.js
  certif/app/models/certification-report.js
  certif/config/deprecation-workflow.js
  certif/package-lock.json
  certif/package.json
Labels: Tech Review OK, :rocket: Ready to Merge

#7292 [FEATURE] Ne pas afficher le message de perte de certificabilité pour un prescrit déjà certifié sur Pix App. (PIX-9529)
  api/db/database-builder/factory/build-complementary-certification-course-result.js
  api/lib/domain/models/ComplementaryCertificationCourseWithResults.js
  api/lib/domain/usecases/get-user-certification-eligibility.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/serializers/jsonapi/certification-eligibility-serializer.js
  api/src/certification/complementary-certification/infrastructure/repositories/complementary-certification-course-repository.js
  api/tests/acceptance/application/users/users-controller-is-certifiable_test.js
  api/tests/certification/complementary-certification/integration/infrastucture/repositories/complementary-certification-course-repository_test.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-course-with-results.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/models/ComplementaryCertificationCourseWithResults_test.js
  api/tests/unit/domain/usecases/get-user-certification-eligibility_test.js
  mon-pix/app/components/certification-banners/index.hbs
  mon-pix/app/components/certification-banners/index.js
  mon-pix/tests/integration/components/certification-banners/eligible-complementary-certification-banner_test.js
  mon-pix/tests/integration/components/certification-banners/index_test.js
  mon-pix/tests/integration/components/certification-banners/outdated-complementary-certification-banner_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7404 [TECH] Déplacer get Prescriber dans un bounded context (PIX-9879)
  api/lib/application/security-pre-handlers.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/membership-repository.js
  api/lib/routes.js
  api/server.js
  api/src/shared/application/validator/checkUserIsMemberOfAnOrganization.js
  api/src/shared/infrastructure/repositories/membership-repository.js
  api/src/shared/prescriber-management/application/prescriber-informations-controller.js
  api/src/shared/prescriber-management/application/prescriber-informations-route.js
  api/src/shared/prescriber-management/domain/usecases/get-prescriber.js
  api/src/shared/prescriber-management/domain/usecases/index.js
  api/src/shared/prescriber-management/infrastructure/repositories/prescriber-repository.js
  api/src/shared/prescriber-management/infrastructure/repositories/user-orga-settings-repository.js
  api/src/shared/prescriber-management/infrastructure/serializers/jsonapi/prescriber-serializer.js
  api/src/shared/prescriber-management/routes.js
  api/tests/integration/infrastructure/repositories/membership-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/membership-repository_test.js
  api/tests/shared/prescriber-management/acceptance/application/prescriber-informations-controller_test.js
  api/tests/shared/prescriber-management/integration/application/prescriber-informations-controller_test.js
  api/tests/shared/prescriber-management/integration/application/prescriber-informations-route_test.js
  api/tests/shared/prescriber-management/integration/domain/usecases/get-prescriber_test.js
  api/tests/shared/prescriber-management/integration/infrasctructure/repositories/prescriber-repository_test.js
  api/tests/shared/prescriber-management/integration/infrasctructure/repositories/user-orga-settings-repository_test.js
  api/tests/shared/prescriber-management/unit/application/prescriber-informations-controller_test.js
  api/tests/shared/prescriber-management/unit/application/prescriber-informations-route_test.js
  api/tests/shared/prescriber-management/unit/domain/usecases/get-prescriber_test.js
  api/tests/shared/prescriber-management/unit/infrastructure/serializers/jsonapi/prescriber-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7419 [FEATURE] Empêcher un candidat de répondre en cas d'alerte en cours (PIX-9007).
  api/lib/domain/usecases/correct-answer-then-update-assessment.js
  api/tests/unit/domain/usecases/correct-answer-then-update-assessment_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7428 [BUGFIX] Récupérer que les acquis avec un statut actif ou en construction (Pix-9900)
  api/lib/infrastructure/datasources/learning-content/skill-datasource.js
  api/src/certification/shared/infrastructure/repositories/challenge-repository.js
  api/tests/unit/infrastructure/datasources/learning-content/skill-datasource_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7375 [BUGFIX] Mettre à jour individuellement un palier dans un profil cible (PIX-9837).
  admin/app/adapters/stage.js
  admin/app/controllers/authenticated/target-profiles/target-profile/stages/stage.js
  admin/tests/integration/components/stages/stage_test.js
  admin/tests/unit/adapters/stage_test.js
  api/lib/infrastructure/repositories/stage-repository.js
  api/src/evaluation/application/stages/index.js
  api/src/evaluation/application/stages/stage-controller.js
  api/src/evaluation/domain/errors.js
  api/src/evaluation/domain/usecases/index.js
  api/src/evaluation/domain/usecases/update-stage.js
  api/src/evaluation/routes.js
  api/tests/evaluation/acceptance/application/stages/stage-controller_test.js
  api/tests/evaluation/integration/domain/usecases/update-stage_test.js
  api/tests/integration/infrastructure/repositories/stage-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#7425 [FEATURE] Ajouter des loaders (Pix-9888)
  1d/app/pods/components/challenge/challenge-actions/challenge-actions.scss
  1d/app/pods/identified/missions/list/controller.js
  1d/app/pods/identified/missions/list/missions.scss
  1d/app/pods/identified/missions/list/template.hbs
  1d/app/pods/identified/missions/mission/controller.js
  1d/app/pods/identified/missions/mission/mission.scss
  1d/app/pods/identified/missions/mission/template.hbs
  1d/app/pods/loading/loading.scss
  1d/app/pods/loading/template.hbs
  1d/tests/acceptance/display-mission-info_test.js
  1d/tests/acceptance/start-mission_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7421 [TECH] Ajouter la notion de grain dans le domaine (PIX-9716).
  api/src/devcomp/domain/models/Grain.js
  api/src/devcomp/domain/models/Module.js
  api/src/devcomp/domain/models/QcuProposal.js
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/acceptance/application/modules/controller-getBySlug_test.js
  api/tests/devcomp/acceptance/application/modules/controller-validateAnswer_test.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
  api/tests/devcomp/unit/domain/models/Grain_test.js
  api/tests/devcomp/unit/domain/models/Module_test.js
  api/tests/devcomp/unit/domain/models/QcuProposal_test.js
  api/tests/devcomp/unit/domain/usecases/get-module_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/module-datasource_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
  mon-pix/app/pods/components/module/details/template.hbs
  mon-pix/app/pods/element/model.js
  mon-pix/app/pods/grain/model.js
  mon-pix/app/pods/module/model.js
  mon-pix/tests/acceptance/module/visit-module-page_test.js
  mon-pix/tests/integration/components/module/details_test.js
  mon-pix/tests/unit/models/module_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#7402 [FEATURE] Ajouter un script pour mettre à jour le rôle de membres de centres de certification (PIX-9826)
  api/lib/domain/usecases/set-certification-center-membership-role-to-admin.js
  api/lib/infrastructure/repositories/certification-center-membership-repository.js
  api/scripts/team-acces/set-certification-center-memberships-role-to-admin.js
  api/tests/integration/infrastructure/repositories/certification-center-membership-repository_test.js
  api/tests/unit/domain/usecases/set-certification-center-membership-role-to-admin_test.js
Labels: :rocket: Ready to Merge, team-acces, no-review-app

#7427 [TECH] déplacer le code des listes de participants dans le contexte prescription (PIX-9886)
  api/lib/application/campaigns/campaign-controller.js
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/lib/domain/usecases/index.js
  api/server.js
  api/src/prescription/organization-learner/application/helpers.js
  api/src/prescription/organization-learner/application/learner-list-controller.js
  api/src/prescription/organization-learner/application/learner-list-route.js
  api/src/prescription/organization-learner/application/sco-learner-list-controller.js
  api/src/prescription/organization-learner/application/sco-learner-list-route.js
  api/src/prescription/organization-learner/application/sup-learner-list-controller.js
  api/src/prescription/organization-learner/application/sup-learner-list-route.js
  api/src/prescription/organization-learner/domain/read-models/OrganizationParticipant.js
  api/src/prescription/organization-learner/domain/read-models/ScoOrganizationParticipant.js
  api/src/prescription/organization-learner/domain/read-models/SupOrganizationParticipant.js
  api/src/prescription/organization-learner/domain/usecases/find-paginated-filtered-sco-participants.js
  api/src/prescription/organization-learner/domain/usecases/find-paginated-filtered-sup-participants.js
  api/src/prescription/organization-learner/domain/usecases/get-paginated-participants-for-an-organization.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-participant-repository.js
  api/src/prescription/organization-learner/infrastructure/repositories/sco-organization-participant-repository.js
  api/src/prescription/organization-learner/infrastructure/repositories/sup-organization-participant-repository.js
  api/src/prescription/organization-learner/infrastructure/serializers/jsonapi/organization-participants-serializer.js
  api/src/prescription/organization-learner/infrastructure/serializers/jsonapi/sco-organization-participants-serializer.js
  api/src/prescription/organization-learner/infrastructure/serializers/jsonapi/sup-organization-participants-serializer.js
  api/src/prescription/organization-learner/routes.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
  api/tests/integration/application/organizations/index_test.js
  api/tests/integration/application/organizations/organization-controller_test.js
  api/tests/prescription/organization-learner/acceptance/learner-list-route_test.js
  api/tests/prescription/organization-learner/acceptance/sco-learner-list-route_test.js
  api/tests/prescription/organization-learner/acceptance/sup-learner-list-route_test.js
  api/tests/prescription/organization-learner/integration/application/learner-list-controller_test.js
  api/tests/prescription/organization-learner/integration/application/learner-list-route_test.js
  api/tests/prescription/organization-learner/integration/application/sco-learner-list-controller_test.js
  api/tests/prescription/organization-learner/integration/application/sco-learner-list-route_test.js
  api/tests/prescription/organization-learner/integration/application/sup-learner-list-controller_test.js
  api/tests/prescription/organization-learner/integration/application/sup-learner-list-route_test.js
  api/tests/prescription/organization-learner/integration/domain/usecases/get-paginated-participants-for-an-organisation_test.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-participant-repository_test.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/sco-organization-participant-repository_test.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/sup-organization-participant-repository_test.js
  api/tests/prescription/organization-learner/unit/application/helpers_test.js
  api/tests/prescription/organization-learner/unit/application/learner-list-controller_test.js
  api/tests/prescription/organization-learner/unit/application/sup-learner-list-controller_test.js
  api/tests/prescription/organization-learner/unit/domain/read-models/ScoOrganizationParticipant_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-paginated-filtered-sco-participants_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-paginated-filtered-sup-participants_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/get-paginated-participants-for-an-organization_test.js
  api/tests/prescription/organization-learner/unit/infrastructure/serializers/jsonapi/organization-participants-serializer_test.js
  api/tests/prescription/organization-learner/unit/infrastructure/serializers/jsonapi/sco-organization-participants-serializer_test.js
  api/tests/prescription/organization-learner/unit/infrastructure/serializers/jsonapi/sup-organization-participants-serializer_test.js
  api/tests/unit/application/organizations/organization-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#7417 [TECH] Remplacer contains et not Contains par du testing-library dans les tests Orga (PIX-9885)
  orga/tests/acceptance/authentication_test.js
  orga/tests/acceptance/campaign-activity_test.js
  orga/tests/acceptance/campaign-analysis_test.js
  orga/tests/acceptance/campaign-assessment-results_test.js
  orga/tests/acceptance/campaign-creation_test.js
  orga/tests/acceptance/campaign-list-all-campaigns_test.js
  orga/tests/acceptance/campaign-list-my-campaigns_test.js
  orga/tests/acceptance/campaign-list_test.js
  orga/tests/acceptance/campaign-profiles_test.js
  orga/tests/acceptance/certifications_test.js
  orga/tests/acceptance/invitations-list_test.js
  orga/tests/acceptance/join_test.js
  orga/tests/acceptance/organization-participant-list_test.js
  orga/tests/acceptance/profile_test.js
  orga/tests/acceptance/remove-membership_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#7437 [TECH] Migrer les feedbacks vers la nouvelle arbo API
  api/lib/domain/usecases/index.js
  api/lib/routes.js
  api/src/evaluation/application/feedbacks/feedback-controller.js
  api/src/evaluation/application/feedbacks/index.js
  api/src/evaluation/domain/models/.gitkeep
  api/src/evaluation/domain/models/Feedback.js
  api/src/evaluation/domain/usecases/index.js
  api/src/evaluation/domain/usecases/save-feedback.js
  api/src/evaluation/infrastructure/repositories/feedback-repository.js
  api/src/evaluation/infrastructure/serializers/jsonapi/feedback-serializer.js
  api/src/evaluation/routes.js
  api/tests/evaluation/acceptance/application/feedbacks/feedback-controller_test.js
  api/tests/evaluation/integration/infrastructure/repositories/feedback-repository_test.js
  api/tests/evaluation/unit/application/feedbacks/feedback-controller_test.js
  api/tests/evaluation/unit/application/feedbacks/index_test.js
  api/tests/evaluation/unit/domain/usecases/save-feedback_test.js
  api/tests/evaluation/unit/infrastructure/serializers/jsonapi/feedback-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-feedback.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#7416 [TECH] Extraction de fonctions pour les placer dans le domaine « SCHOOL » (PIX-9883)
  api/lib/infrastructure/datasources/learning-content/LearningContentResourceNotFound.js
  api/lib/infrastructure/datasources/learning-content/challenge-datasource.js
  api/src/certification/shared/infrastructure/repositories/challenge-repository.js
  api/src/school/infrastructure/repositories/challenge-repository.js
  api/src/school/shared/usecases/index.js
  api/tests/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/school/integration/domain/usecases/get-next-challenge_test.js
  api/tests/school/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/tooling/domain-builder/factory/build-challenge.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, 🎒👧🏽👦🏾 Pix1D

#7403 [FEATURE] Permettre la réinitialisation du résultat d'un jury externe de certification complémentaire (PIX-9705)
  admin/app/controllers/authenticated/certifications/certification/informations.js
  admin/app/models/complementary-certification-course-result-with-external.js
  admin/app/styles/authenticated/certifications/certification/informations.scss
  admin/tests/acceptance/authenticated/certifications/certification/informations_test.js
  admin/tests/unit/controllers/authenticated/certifications/certification/informations_test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/lib/domain/models/ComplementaryCertificationCourseResult.js
  api/lib/domain/read-models/ComplementaryCertificationCourseResultForJuryCertificationWithExternal.js
  api/lib/domain/usecases/save-jury-complementary-certification-course-result.js
  api/lib/infrastructure/repositories/complementary-certification-course-result-repository.js
  api/lib/infrastructure/serializers/jsonapi/jury-certification-serializer.js
  api/tests/acceptance/application/certification-courses/certification-course-controller_test.js
  api/tests/integration/infrastructure/repositories/complementary-certification-course-result-repository_test.js
  api/tests/integration/infrastructure/repositories/jury-certification-repository_test.js
  api/tests/unit/domain/read-models/ComplementaryCertificationCourseResultForJuryCertificationWithExternal_test.js
  api/tests/unit/domain/usecases/save-jury-complementary-certification-course-result_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/jury-certification-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7396 [TECH] Récupère des challenges avec la bonne locale
  api/lib/application/assessments/assessment-controller.js
  api/lib/domain/events/AssessmentCompleted.js
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/lib/domain/services/algorithm-methods/data-fetcher.js
  api/lib/domain/usecases/complete-assessment.js
  api/lib/domain/usecases/correct-answer-then-update-assessment.js
  api/lib/infrastructure/datasources/learning-content/challenge-datasource.js
  api/lib/infrastructure/repositories/certification-assessment-repository.js
  api/scripts/tooling/tooling.js
  api/src/certification/shared/infrastructure/repositories/challenge-repository.js
  api/src/school/domain/services/activity-challenge.js
  api/src/school/domain/services/challenge.js
  api/src/school/domain/usecases/get-next-challenge.js
  api/src/school/infrastructure/repositories/challenge-repository.js
  api/tests/acceptance/application/assessments/assessment-controller-complete-assessment_test.js
  api/tests/integration/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/school/integration/domain/usecases/get-next-challenge_test.js
  api/tests/school/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/school/unit/domain/services/activity-challenge_test.js
  api/tests/school/unit/domain/services/challenge_test.js
  api/tests/unit/application/assessments/assessment-controller_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/services/smart-random/data-fetcher_test.js
  api/tests/unit/domain/usecases/correct-answer-then-update-assessment_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-competence-evaluation_test.js
  api/tests/unit/infrastructure/datasources/learning-content/challenge-datasource_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-contenu

#7435 [TECH] Déplacer ce qui touche à la gestion des paliers dans la nouvelle arborescence (PIX-9934).
  api/lib/domain/models/index.js
  api/lib/domain/usecases/get-user-campaign-assessment-result.js
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/stages/handle-stage-acquisition.js
  api/lib/domain/usecases/target-profile-management/detach-organizations-from-target-profile.js
  api/lib/infrastructure/repositories/participant-result-repository.js
  api/lib/infrastructure/repositories/target-profile-for-admin-repository.js
  api/lib/infrastructure/repositories/user-campaign-results/stage-collection-repository.js
  api/lib/routes.js
  api/scripts/prod/target-profile-migrations/migrate-stages-to-level.js
  api/scripts/prod/target-profile-migrations/revert-stages-to-threshold.js
  api/src/evaluation/application/stage-collections/index.js
  api/src/evaluation/application/stage-collections/stage-collection-controller.js
  api/src/evaluation/domain/models/Stage.js
  api/src/evaluation/domain/models/StageAcquisition.js
  api/src/evaluation/domain/services/stages/convert-level-stages-into-thresholds-service.js
  api/src/evaluation/domain/services/stages/get-new-acquired-stages-service.js
  api/src/evaluation/domain/services/stages/stage-and-stage-acquisition-comparison-service.js
  api/src/evaluation/domain/usecases/create-or-update-stage-collection.js
  api/src/evaluation/domain/usecases/index.js
  api/src/evaluation/infrastructure/repositories/stage-acquisition-repository.js
  api/src/evaluation/infrastructure/repositories/stage-collection-repository.js
  api/src/evaluation/infrastructure/repositories/stage-repository.js
  api/src/evaluation/routes.js
  api/src/shared/domain/models/target-profile-management/StageCollection.js
  api/src/shared/domain/models/target-profile-management/StageCollectionUpdate.js
  api/src/shared/domain/models/target-profile-management/TargetProfile.js
  api/src/shared/domain/models/user-campaign-results/StageCollection.js
  api/tests/evaluation/acceptance/application/stage-collections/stage-collection-controller_test.js
  api/tests/evaluation/integration/application/stage-collections/stage-collection-controller_test.js
  api/tests/evaluation/integration/domain/usecases/update-stage_test.js
  api/tests/evaluation/integration/infrastructure/repositories/stage-acquisition-repository_test.js
  api/tests/evaluation/integration/infrastructure/repositories/stage-repository_test.js
  api/tests/evaluation/unit/domain/services/stages/convert-level-stages-into-thresholds-service_test.js
  api/tests/evaluation/unit/domain/services/stages/get-new-acquired-stages-service_test.js
  api/tests/evaluation/unit/domain/services/stages/stage-and-stage-acquisition-comparison-service_test.js
  api/tests/integration/infrastructure/repositories/target-profile-management/stage-collection-repository_test.js
  api/tests/shared/unit/domain/models/target-profile-management/StageCollectionUpdate_test.js
  api/tests/shared/unit/domain/models/target-profile-management/TargetProfile_test.js
  api/tests/shared/unit/domain/models/user-campaign-results/StageCollection_test.js
  api/tests/tooling/domain-builder/factory/build-stage-acquisition.js
  api/tests/tooling/domain-builder/factory/build-stage.js
  api/tests/tooling/domain-builder/factory/target-profile-management/build-stage-collection.js
  api/tests/tooling/domain-builder/factory/user-campaign-results/build-stage-collection.js
  api/tests/unit/domain/read-models/participant-results/AssessmentResult_test.js
  api/tests/unit/domain/usecases/create-or-update-stage-collection_test.js
  api/tests/unit/domain/usecases/start-writing-campaign-assessment-results-to-stream_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/participant-result-serializer_test.js
Labels: :rocket: Ready to Merge, team-evaluation, Bounded-context-migration

#7394 [FEATURE] Ajout de la double mesure de la capacité dans les simulateurs (pix-9833)
  api/src/certification/flash-certification/application/scenario-simulator-controller.js
  api/src/certification/flash-certification/application/scenario-simulator-route.js
  api/src/certification/flash-certification/domain/model/AssessmentSimulator.js
  api/src/certification/flash-certification/domain/model/AssessmentSimulatorDoubleMeasureStrategy.js
  api/src/certification/flash-certification/domain/model/AssessmentSimulatorSingleMeasureStrategy.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/src/certification/flash-certification/domain/usecases/simulate-flash-deterministic-assessment-scenario.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorDoubleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorSingleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulator_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/tests/unit/domain/models/CertificationAssessmentScoreV3_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-certification_test.js
  api/tests/unit/domain/usecases/simulate-flash-deterministic-assessment-scenario_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7433 [TECH] Refactoring des certifications complementaires partie 1 (PIX-9913)
  api/lib/domain/events/handle-complementary-certifications-scoring.js
  api/lib/domain/events/index.js
  api/lib/domain/read-models/ComplementaryCertificationCourseResultForJuryCertificationWithExternal.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/orm-models/ComplementaryCertificationCourseResult.js
  api/lib/infrastructure/repositories/jury-certification-repository.js
  api/lib/infrastructure/repositories/partner-certification-scoring-repository.js
  api/tests/acceptance/application/certification-courses/certification-course-controller_test.js
  api/tests/integration/domain/event/handle-complementary-certifications-scoring_test.js
  api/tests/integration/infrastructure/repositories/jury-certification-repository_test.js
  api/tests/integration/infrastructure/repositories/partner-certification-scoring-repository_test.js
  api/tests/tooling/domain-builder/factory/build-jury-certification.js
  api/tests/unit/domain/events/handle-complementary-certifications-scoring_test.js
  api/tests/unit/domain/read-models/ComplementaryCertificationCourseResultForJuryCertificationWithExternal_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7450 [BUGFIX] Corriger les seeds
  api/db/seeds/data/common/tooling/learning-content.js
Labels: Tech Review OK, :rocket: Ready to Merge

#7430 [BUGFIX][API] Donner le bon rôle par défaut à un utilisateur invité à un Centre de Certification (PIX-9893)
  api/lib/domain/usecases/accept-certification-center-invitation.js
  api/lib/infrastructure/repositories/certification-center-membership-repository.js
  api/tests/integration/infrastructure/repositories/certification-center-membership-repository_test.js
  api/tests/unit/domain/usecases/accept-certification-center-invitation_test.js
Labels: :rocket: Ready to Merge, team-acces, team-certif

#7448 [FEATURE] Ajouter la 2ème bulle de dialogue (Pix-9747)
  1d/app/pods/assessment/results/template.hbs
  1d/app/pods/components/bubble/bubble.scss
  1d/app/pods/components/bubble/integration_test.js
  1d/app/pods/components/bubble/template.hbs
  1d/app/pods/components/challenge/template.hbs
  1d/app/pods/components/robot-dialog/integration_test.js
  1d/app/pods/components/robot-dialog/robot-dialog.scss
  1d/app/pods/components/robot-dialog/template.hbs
  1d/app/pods/identified/missions/list/template.hbs
  1d/app/pods/identified/missions/mission/template.hbs
  1d/app/pods/organization-code/template.hbs
  1d/app/pods/school/divisions/template.hbs
  1d/app/pods/school/students/template.hbs
  1d/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7196 [FEATURE][CERTIF] Afficher le rôle des membres de mon équipe (PIX-4999)
  api/db/seeds/data/team-acces/build-certification-centers.js
  api/lib/domain/usecases/find-certification-center-memberships-by-certification-center.js
  api/lib/infrastructure/repositories/certification-center-membership-repository.js
  api/lib/infrastructure/serializers/jsonapi/certification-center-membership-serializer.js
  api/tests/integration/infrastructure/repositories/certification-center-membership-repository_test.js
  api/tests/unit/domain/usecases/find-certification-center-memberships-by-certification-center_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-center-membership-serializer_test.js
  certif/app/components/members-list-item.hbs
  certif/app/components/members-list.hbs
  certif/app/components/members-list.js
  certif/app/models/member.js
  certif/app/styles/app.scss
  certif/app/styles/components/members-list-item.scss
  certif/tests/integration/components/members-list-item_test.js
  certif/tests/integration/components/members-list_test.js
  certif/tests/unit/components/members-list_test.js
  certif/tests/unit/controllers/authenticated/team/list_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-acces, team-certif

#7356 [FEATURE][CERTIF] Restreindre l'action du choix d'un référent uniquement aux administrateurs (PIX-9393)
  api/lib/application/certification-centers/index.js
  api/tests/acceptance/application/certification-centers/certification-center-controller_test.js
  certif/app/controllers/authenticated/team/list.js
  certif/tests/acceptance/team_test.js
  certif/tests/unit/controllers/authenticated/team/list_test.js
Labels: :rocket: Ready to Merge, team-acces, team-certif

#7452 [BUGFIX] Permettre de recharger la page de fin de mission(Pix-9948)
  api/lib/application/assessments/index.js
  api/src/school/application/assessments/controller.js
  api/src/school/application/assessments/route.js
  api/src/school/domain/usecases/get-mission-assessment-by-assessment-id.js
  api/src/school/routes.js
  api/tests/school/integration/application/assessment/controller_test.js
  api/tests/school/integration/domain/usecases/get-mission-assessment-by-assessment-id_test.js
  api/tests/school/unit/application/assessments/controller_test.js
  api/tests/school/unit/application/assessments/route_test.js
  api/tests/unit/application/assessments/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7431 [TECH] Créer l'API Campagne avec la méthode save (PIX-9906)
  api/src/prescription/campaigns/application/api/campaigns-api.js
  api/tests/prescription/campaigns/application/api/unit/campaigns-api_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, team-prescription, cross-team

#7453 [TECH] Migration du modèle challenge et challenge-repository de shared certif vers le global (PIX-9966).
  api/db/seeds/data/common/tooling/learning-content.js
  api/lib/application/challenges/challenge-controller.js
  api/lib/domain/events/index.js
  api/lib/domain/models/CertificationChallengeWithType.js
  api/lib/domain/models/index.js
  api/lib/domain/services/certification-challenges-service.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/certification-assessment-repository.js
  api/lib/infrastructure/repositories/correction-repository.js
  api/lib/infrastructure/repositories/participant-result-repository.js
  api/scripts/certification/launch-auto-jury-for-session.js
  api/scripts/certification/trigger-autojury-on-finalized-sessions.js
  api/scripts/extract-challenge-with-skills.js
  api/scripts/tooling/tooling.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/src/certification/shared/domain/usecases/index.js
  api/src/shared/domain/models/Challenge.js
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/tests/integration/domain/services/pick-certification-challenge_test.js
  api/tests/integration/infrastructure/repositories/certification-assessment-repository_test.js
  api/tests/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/school/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/tooling/domain-builder/factory/build-certification-challenge-with-type.js
  api/tests/tooling/domain-builder/factory/build-challenge.js
  api/tests/unit/domain/models/CertificationChallengeWithType_test.js
  api/tests/unit/domain/models/Challenge_test.js
  api/tests/unit/domain/usecases/correct-answer_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/challenge-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, Bounded-context-migration

#7459 [TECH] déplacement de l'`ActivityRepository` vers le domain `School` (pix-9973)
  api/lib/domain/usecases/index.js
  api/src/school/infrastructure/repositories/activity-repository.js
  api/src/school/shared/usecases/index.js
  api/tests/integration/domain/usecases/correct-answer_test.js
  api/tests/school/integration/domain/usecases/get-next-challenge_test.js
  api/tests/school/integration/infrastructure/repositories/activity-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D, Bounded-context-migration

#7460 [BUGFIX] Isoler les usages de i18n au sein des tests (PIX-9975).
  api/tests/tooling/i18n/i18n.js
  api/tests/unit/domain/usecases/send-verification-code_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#7464 [TECH] Enlever le missionId de la table assessment (Pix-9774)
  api/db/migrations/20231115145631_remove-mission-id-in-assessments.js
  api/lib/infrastructure/serializers/jsonapi/assessment-serializer.js
  api/src/shared/domain/models/Assessment.js
  api/tests/acceptance/application/assessments/assessment-controller-get_test.js
  api/tests/school/integration/infrastructure/repositories/mission-assessment-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/assessment-repository_test.js
  api/tests/tooling/domain-builder/factory/build-assessment.js
  api/tests/unit/infrastructure/serializers/jsonapi/assessment-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7465 [FEATURE] Améliorer le endpoint de validation de réponse (PIX-9974)
  api/src/devcomp/application/modules/controller.js
  api/src/devcomp/application/modules/index.js
  api/src/devcomp/domain/models/ElementAnswer.js
  api/src/devcomp/domain/models/QcuCorrectionResponse.js
  api/src/devcomp/domain/models/element/QCU.js
  api/src/devcomp/domain/usecases/validate-answer.js
  api/src/devcomp/infrastructure/serializers/jsonapi/correction-response-serializer.js
  api/src/devcomp/infrastructure/serializers/jsonapi/element-answer-serializer.js
  api/tests/devcomp/acceptance/application/modules/controller-validateAnswer_test.js
  api/tests/devcomp/unit/application/modules/controller_test.js
  api/tests/devcomp/unit/domain/models/ElementAnswer_test.js
  api/tests/devcomp/unit/domain/models/QcuCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/QcuForCorrection_test.js
  api/tests/devcomp/unit/domain/usecases/validate-answer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/correction-response-serializer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/element-answer-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#7454 [FEATURE] Améliorer la sauvegarde en base d'un feedback utilisateur (PIX-8867).
  api/src/evaluation/application/feedbacks/index.js
  api/src/evaluation/infrastructure/repositories/feedback-repository.js
  api/src/evaluation/infrastructure/serializers/jsonapi/feedback-serializer.js
  api/tests/evaluation/acceptance/application/feedbacks/feedback-controller_test.js
  api/tests/evaluation/integration/infrastructure/repositories/feedback-repository_test.js
  api/tests/evaluation/unit/infrastructure/serializers/jsonapi/feedback-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#7467 [BUGFIX] Améliore l'accessibilité du QCU (PIX-9984)
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/module-datasource_test.js
  mon-pix/app/pods/components/module/details/template.hbs
  mon-pix/app/pods/components/module/qcu/template.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#7466 [FEATURE] Plafonner le niveau "Positionné" sur la page de détails d'une certif. (PIX-9177)
  api/lib/domain/usecases/get-certification-details.js
  api/tests/unit/domain/usecases/get-certification-details_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7469 [BUGFIX] Retourner les httpErrors dans l'error manager du dossier shared de src (PIX-10002).
  api/src/shared/application/error-manager.js
  api/tests/shared/unit/application/error-manager_test.js
Labels: :rocket: Ready to Merge, team-acces, cross-team

#7451 [FEATURE] Cacher l'onglet "Neutralisation" pour les certifs v3 dans Pix Admin (PIX-9942)
  admin/app/models/certification.js
  admin/app/templates/authenticated/certifications/certification.hbs
  admin/tests/acceptance/authenticated/certifications/certification/certification_test.js
  admin/tests/unit/models/certification_test.js
Labels: :rocket: Ready to Merge, certif-next-gen

#7463 [TECH] Ajouter un test d'accessibilité sur les modules (PIX-9982).
  high-level-tests/e2e/cypress/integration/pix-app/a11y-not-authenticated.test.js
Labels: :rocket: Ready to Merge, team-devcomp

#7390 [FEATURE] Afficher le feedback global à l'apprenant (PIX-9861) (PIX-9707)
  api/src/devcomp/application/modules/index.js
  api/src/devcomp/infrastructure/serializers/jsonapi/element-answer-serializer.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/element-answer-serializer_test.js
  mon-pix/app/adapters/element-answer.js
  mon-pix/app/pods/components/module/details/styles.scss
  mon-pix/app/pods/components/module/details/template.hbs
  mon-pix/app/pods/components/module/qcu/component.js
  mon-pix/app/pods/components/module/qcu/styles.scss
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/app/pods/correction-response/model.js
  mon-pix/app/pods/element-answer/model.js
  mon-pix/app/pods/module/get/controller.js
  mon-pix/app/pods/module/get/template.hbs
  mon-pix/mirage/routes/modules/index.js
  mon-pix/mirage/routes/modules/submit-answer.js
  mon-pix/mirage/serializers/element-answer.js
  mon-pix/mirage/serializers/grain.js
  mon-pix/mirage/serializers/module.js
  mon-pix/tests/acceptance/module/verify-qcu_test.js
  mon-pix/tests/helpers/create-pods-component.js
  mon-pix/tests/integration/components/module/details_test.js
  mon-pix/tests/integration/components/module/qcu_test.js
  mon-pix/tests/unit/adapters/element-answer_test.js
  mon-pix/tests/unit/components/module/qcu_test.js
  mon-pix/tests/unit/controllers/modules/get_test.js
  mon-pix/tests/unit/models/modules/correction-response_test.js
  mon-pix/tests/unit/models/modules/module_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, Design Review OK, team-devcomp

#7449 [TECH] Refacto de FlashAssessmentAlgorithm (PIX-9949).
  api/lib/domain/usecases/get-next-challenge-for-campaign-assessment.js
  api/lib/domain/usecases/get-next-challenge-for-certification.js
  api/src/certification/flash-certification/domain/model/AssessmentSimulatorDoubleMeasureStrategy.js
  api/src/certification/flash-certification/domain/model/AssessmentSimulatorSingleMeasureStrategy.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmChallengesBetweenCompetencesRule.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmForcedCompetencesRule.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmNonAnsweredSkillsRule.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmOneQuestionPerTubeRule.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmPassageByAllCompetencesRule.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmRuleEngine.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorDoubleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorSingleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithmChallengesBetweenCompetencesRule_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithmForcedCompetencesRule_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithmNonAnsweredSkillsRule_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithmOneQuestionPerTubeRule_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithmPassageByAllCompetencesRule_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithmRuleEngine_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithm_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7462 [BUGFIX] Corriger la version française de la double mire lors d'une connexion SSO OIDC et permettre son affichage en anglais
  mon-pix/tests/acceptance/oidc/oidc-authentication-flow_test.js
  mon-pix/tests/acceptance/oidc/start-campaigns-workflow-for-oidc-partner_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: :rocket: Ready to Merge, team-acces

#7471 [FEATURE] Ajouter le tri par date de dernière participation sur les organisations sans import (Pix-9867)
  api/src/prescription/organization-learner/application/learner-list-route.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-participant-repository.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-participant-repository_test.js
  api/tests/prescription/organization-learner/unit/application/learner-list-controller_test.js
  orga/app/components/organization-participant/list.hbs
  orga/app/components/organization-participant/table-headers.hbs
  orga/app/controllers/authenticated/organization-participants/list.js
  orga/app/routes/authenticated/organization-participants/list.js
  orga/app/templates/authenticated/organization-participants/list.hbs
  orga/tests/integration/components/organization-participant/list_test.js
  orga/tests/unit/controllers/authenticated/organization-participants/list_test.js
  orga/tests/unit/controllers/authenticated/sup-organization-participants/list_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7443 [FEATURE] Gestion des rôles et équipe dans Pix Certif
  api/db/migrations/20231109084208_add-default-role-to-pending-certification-center-invitation.js
  api/db/seeds/data/common/tooling/certification-center-tooling.js
  api/db/seeds/data/common/tooling/organization-tooling.js
  api/db/seeds/data/team-acces/build-certification-centers.js
  api/db/seeds/data/team-acces/build-seeds-for-pix-5000-usecases.js
  api/db/seeds/data/team-acces/data-builder.js
  api/lib/application/certification-center-memberships/index.js
  api/lib/application/certification-centers/index.js
  api/lib/application/memberships/membership-controller.js
  api/lib/application/organization-invitations/organization-invitation-controller.js
  api/lib/domain/models/CertificationCenterMembership.js
  api/lib/domain/usecases/accept-certification-center-invitation.js
  api/lib/domain/usecases/create-certification-center-membership-for-sco-organization-admin-member.js
  api/lib/domain/usecases/create-certification-center-membership-for-sco-organization-member.js
  api/lib/domain/usecases/find-certification-center-memberships-by-certification-center.js
  api/lib/infrastructure/repositories/certification-center-membership-repository.js
  api/lib/infrastructure/serializers/jsonapi/certification-center-membership-serializer.js
  api/tests/acceptance/application/certification-center-memberships/certification-center-membership-controller_test.js
  api/tests/acceptance/application/certification-centers/certification-center-controller_test.js
  api/tests/integration/application/memberships/membership-controller_test.js
  api/tests/integration/application/organization-invitations/organization-invitation-controller_test.js
  api/tests/integration/domain/usecases/create-certification-center-membership-for-sco-organization-admin-member_test.js
  api/tests/integration/infrastructure/repositories/certification-center-membership-repository_test.js
  api/tests/unit/application/memberships/membership-controller_test.js
  api/tests/unit/application/organization-invitations/organization-invitation-controller_test.js
  api/tests/unit/domain/models/CertificationCenterMembership_test.js
  api/tests/unit/domain/usecases/accept-certification-center-invitation_test.js
  api/tests/unit/domain/usecases/create-certification-center-membership-for-sco-organization-admin-member_test.js
  api/tests/unit/domain/usecases/create-certification-center-membership-for-sco-organization-member_test.js
  api/tests/unit/domain/usecases/find-certification-center-memberships-by-certification-center_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-center-membership-serializer_test.js
  certif/app/components/members-list-item.hbs
  certif/app/components/members-list.hbs
  certif/app/components/members-list.js
  certif/app/controllers/authenticated/team/list.js
  certif/app/models/member.js
  certif/app/styles/app.scss
  certif/app/styles/components/members-list-item.scss
  certif/tests/acceptance/team_test.js
  certif/tests/integration/components/members-list-item_test.js
  certif/tests/integration/components/members-list_test.js
  certif/tests/unit/components/members-list_test.js
  certif/tests/unit/controllers/authenticated/team/list_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-acces, team-certif

#7472 [FEATURE] Remplacer les pop-up par des bulles de messages (Pix-9748)
  1d/app/pods/assessment/results/template.hbs
  1d/app/pods/components/answer-feedback/answer.scss
  1d/app/pods/components/answer-feedback/component.js
  1d/app/pods/components/answer-feedback/integration_test.js
  1d/app/pods/components/answer-feedback/template.hbs
  1d/app/pods/components/bubble/bubble.scss
  1d/app/pods/components/bubble/integration_test.js
  1d/app/pods/components/bubble/template.hbs
  1d/app/pods/components/challenge/challenge-actions/challenge-actions.scss
  1d/app/pods/components/challenge/challenge-actions/component.js
  1d/app/pods/components/challenge/challenge-actions/template.hbs
  1d/app/pods/components/challenge/component.js
  1d/app/pods/components/challenge/template.hbs
  1d/app/pods/components/robot-dialog/robot-dialog.scss
  1d/app/pods/components/warning-feedback/template.hbs
  1d/app/pods/components/warning-feedback/warning.scss
  1d/app/styles/globals/_buttons.scss
  1d/mirage/config.js
  1d/tests/acceptance/challenge-item-qcm_test.js
  1d/tests/acceptance/challenge-item-qcu_test.js
  1d/tests/acceptance/challenge-item-qroc_test.js
  1d/tests/acceptance/challenge-item-qrocm_test.js
  1d/tests/acceptance/challenge-workflow_test.js
  1d/tests/acceptance/display-challenge_test.js
  1d/tests/acceptance/display-modal_test.js
  1d/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7457 [FEATURE] Autoriser l'edition des informations de candidat sans conditions dans pix admin (PIX-9916)
  admin/app/controllers/authenticated/certifications/certification/informations.js
  admin/app/models/certification.js
  admin/app/templates/authenticated/certifications/certification/informations.hbs
  admin/tests/acceptance/authenticated/certifications/certification/informations_test.js
  admin/tests/unit/models/certification_test.js
  api/db/seeds/data/common/tooling/session-tooling.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7395 [TECH] Refondre la manière d'exposer les fonctionnalités activées pour les organisations (PIX-9860)
  admin/app/models/organization.js
  admin/tests/unit/models/organization_test.js
  api/lib/domain/models/organizations-administration/OrganizationForAdmin.js
  api/lib/domain/read-models/Prescriber.js
  api/lib/infrastructure/repositories/organization-for-admin-repository.js
  api/lib/infrastructure/serializers/jsonapi/organizations-administration/organization-for-admin-serializer.js
  api/src/shared/prescriber-management/infrastructure/repositories/prescriber-repository.js
  api/src/shared/prescriber-management/infrastructure/serializers/jsonapi/prescriber-serializer.js
  api/tests/acceptance/application/organizations-administration/organization-administration-get_test.js
  api/tests/integration/application/organizations-administration/organization-administration-controller_test.js
  api/tests/integration/infrastructure/repositories/organization-for-admin-repository_test.js
  api/tests/shared/prescriber-management/acceptance/application/prescriber-informations-controller_test.js
  api/tests/shared/prescriber-management/integration/infrasctructure/repositories/prescriber-repository_test.js
  api/tests/shared/prescriber-management/unit/infrastructure/serializers/jsonapi/prescriber-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-organization-for-admin.js
  api/tests/tooling/domain-builder/factory/build-prescriber.js
  api/tests/unit/domain/models/organizations-administration/OrganizationForAdmin_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/organization-for-admin-serializer_test.js
  orga/app/models/prescriber.js
  orga/tests/helpers/test-init.js
  orga/tests/integration/components/campaign/create-form_test.js
  orga/tests/unit/models/prescriber_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7473 [TECH][DATA] :broom: supprime le script d'analyse des données extraites d'un panel (pix-10005)
  1d/scripts/analyse.js
Labels: :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7392 [FEATURE] [API] Stocker des infos de l'utilisateur (claims de userInfo) lors d'une connexion SSO OIDC (PIX-9270)
  api/db/database-builder/factory/build-authentication-method.js
  api/db/seeds/data/team-acces/build-users.js
  api/lib/domain/models/AuthenticationMethod.js
  api/lib/domain/services/authentication/oidc-authentication-service.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
  api/lib/domain/usecases/authentication/authenticate-oidc-user.js
  api/lib/domain/usecases/create-oidc-user.js
  api/lib/domain/usecases/reconcile-oidc-user.js
  api/lib/infrastructure/externals/pole-emploi/pole-emploi-notifier.js
  api/lib/infrastructure/repositories/authentication-method-repository.js
  api/src/shared/infrastructure/repositories/user-repository.js
  api/tests/acceptance/application/authentication/oidc/token-route-post_test.js
  api/tests/integration/infrastructure/repositories/authentication-method-repository_test.js
  api/tests/integration/shared/infrastructure/repositories/user-repository_test.js
  api/tests/tooling/domain-builder/factory/build-authentication-method.js
  api/tests/unit/domain/models/AuthenticationMethod_test.js
  api/tests/unit/domain/services/authentication/oidc-authentication-service_test.js
  api/tests/unit/domain/services/authentication/pole-emploi-oidc-authentication-service_test.js
  api/tests/unit/domain/usecases/authentication/authenticate-oidc-user_test.js
  api/tests/unit/domain/usecases/reconcile-oidc-user_test.js
  api/tests/unit/domain/usecases/remove-authentication-method_test.js
  api/tests/unit/infrastructure/externals/pole-emploi/pole-emploi-notifier_test.js
Labels: :rocket: Ready to Merge, team-acces

#7475 [FEATURE] Modifier l'information des candidats présents dans l'espace surveillant sur Pix Certif (PIX-9961).
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-certif

#7481 [FEATURE] PIX1D - Ajout du code de l'organisation côté Admin pour les écoles
  admin/app/components/organizations/information-section-view.hbs
  admin/app/models/organization.js
  api/lib/domain/models/organizations-administration/OrganizationForAdmin.js
  api/lib/domain/usecases/organizations-administration/get-organization-details.js
  api/lib/infrastructure/serializers/jsonapi/organizations-administration/organization-for-admin-serializer.js
  api/src/school/infrastructure/repositories/school-repository.js
  api/tests/acceptance/application/organizations-administration/organization-administration-get_test.js
  api/tests/integration/infrastructure/repositories/school-repository_test.js
  api/tests/tooling/domain-builder/factory/build-organization-for-admin.js
  api/tests/unit/domain/usecases/get-organization-details_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/organization-for-admin-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7445 [TECH] JSDoc pour naviguer vers les dépendances injectées automatiquement (PIX-9938).
  api/src/certification/session/domain/usecases/add-certification-candidate-to-session.js
  api/src/certification/session/domain/usecases/create-session.js
  api/src/certification/session/domain/usecases/dismiss-live-alert.js
  api/src/certification/session/domain/usecases/get-attendance-sheet.js
  api/src/certification/session/domain/usecases/get-invigilator-kit-session-info.js
  api/src/certification/session/domain/usecases/validate-live-alert.js
  api/src/certification/shared/domain/usecases/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, cross-team, no-review-app

#7439 [FEATURE] Intégration des accusés de traitement CPF en masse via API et script (PIX-9835).
  api/lib/infrastructure/jobs/cpf-export/index.js
  api/lib/infrastructure/validate-environment-variables.js
  api/sample.env
  api/scripts/certification/get-cpf-import-status-from-xml.js
  api/src/certification/session/application/update-cpf-import-status-controller.js
  api/src/certification/session/application/update-cpf-import-status-route.js
  api/src/certification/session/domain/models/CpfExport.js
  api/src/certification/session/domain/models/CpfInfos.js
  api/src/certification/session/domain/models/CpfReceipt.js
  api/src/certification/session/domain/usecases/get-cpf-import-status-from-xml.js
  api/src/certification/session/domain/usecases/get-cpf-presigned-urls.js
  api/src/certification/session/domain/usecases/integrate-cpf-processing-receipts.js
  api/src/certification/session/domain/usecases/upload-cpf-files.js
  api/src/certification/session/infrastructure/deserializers/xml/cpf-receipt-file-deserializer.js
  api/src/certification/session/infrastructure/repositories/cpf-certification-result-repository.js
  api/src/certification/session/infrastructure/storage/cpf-exports-storage.js
  api/src/certification/session/infrastructure/storage/cpf-receipts-storage.js
  api/src/certification/session/routes.js
  api/src/certification/shared/domain/usecases/index.js
  api/src/shared/config.js
  api/src/shared/storage/infrastructure/providers/S3ObjectStorageProvider.js
  api/tests/certification/session/acceptance/application/.gitkeep
  api/tests/certification/session/acceptance/application/files/xml/cpfImportLog.xml
  api/tests/certification/session/acceptance/application/files/xml/integrateCpfProccessingReceiptsListObjectsV2.xml
  api/tests/certification/session/acceptance/application/update-cpf-import-status-controller_test.js
  api/tests/certification/session/integration/domain/usecases/files/xml/cpfImportLogEmpty.xml
  api/tests/certification/session/integration/domain/usecases/files/xml/getPreSignedUrlsListObjectsV2.xml
  api/tests/certification/session/integration/domain/usecases/files/xml/integrateCpfProccessingReceiptsListObjectsV2.xml
  api/tests/certification/session/integration/domain/usecases/get-cpf-import-status-from-xml_test.js
  api/tests/certification/session/integration/domain/usecases/get-cpf-presigned-urls_test.js
  api/tests/certification/session/integration/domain/usecases/integrate-cpf-processing-receipts_test.js
  api/tests/certification/session/integration/domain/usecases/upload-cpf-files_test.js
  api/tests/certification/session/unit/domain/usecases/get-cpf-import-status-from-xml_test.js
  api/tests/certification/session/unit/domain/usecases/get-cpf-presigned-urls_test.js
  api/tests/certification/session/unit/domain/usecases/integrate-cpf-processing-receipts_test.js
  api/tests/certification/session/unit/domain/usecases/upload-cpf-files_test.js
  api/tests/certification/session/unit/infrastructure/deserializers/xml/cpf-receipt-file-deserializer_test.js
  api/tests/certification/session/unit/infrastructure/deserializers/xml/files/Accuse_de_traitement_erreur_traitement.xml
  api/tests/certification/session/unit/infrastructure/deserializers/xml/files/Accuse_de_traitement_pix-cpf-export-20231016-223239.xml_20231018.xml
  api/tests/certification/session/unit/infrastructure/deserializers/xml/files/Accuse_de_traitement_sans_nomFichier.xml
  api/tests/certification/session/unit/infrastructure/storage/cpf-exports-storage_test.js
  api/tests/certification/session/unit/infrastructure/storage/cpf-receipts-storage_test.js
  api/tests/shared/unit/storage/infrastructure/providers/S3ObjectStorageProvider_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7479 [TECH] Ajouter une API interne pour récupérer les profils cibles d'une organisation (PIX-10003)
  api/src/prescription/campaigns/application/api/SavedCampaign.js
  api/src/prescription/campaigns/application/api/campaigns-api.js
  api/src/prescription/target-profile/application/api/TargetProfile.js
  api/src/prescription/target-profile/application/api/target-profile-api.js
  api/tests/prescription/target-profile/acceptance/application/api/target-profile-api_test.js
  api/tests/prescription/target-profile/unit/application/api/target-profile-api_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#7478 [TECH] api: ajout du seuil en pix dans la table complementary-certification-badges (PIX-9953)
  api/db/database-builder/factory/build-complementary-certification-badge.js
  api/db/migrations/20231116154702_create_minimum_earned_pix_on_complementary_certification_badge.js
  api/db/seeds/data/common/common-builder.js
  api/tests/certification/complementary-certification/acceptance/application/attach-target-profile-controller_test.js
  api/tests/certification/complementary-certification/integration/infrastucture/repositories/complementary-certification-badge-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#7432 [FEATURE] afficher la certificabilité depuis les campagnes pour les participants (PIX-9892)
  api/src/prescription/organization-learner/application/learner-list-controller.js
  api/src/prescription/organization-learner/application/learner-list-route.js
  api/src/prescription/organization-learner/domain/read-models/OrganizationParticipant.js
  api/src/prescription/organization-learner/domain/usecases/find-paginated-filtered-participants.js
  api/src/prescription/organization-learner/domain/usecases/get-paginated-participants-for-an-organization.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-participant-repository.js
  api/tests/prescription/organization-learner/integration/application/learner-list-controller_test.js
  api/tests/prescription/organization-learner/integration/application/learner-list-route_test.js
  api/tests/prescription/organization-learner/integration/domain/usecases/find-paginated-filtered-participants_test.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-participant-repository_test.js
  api/tests/prescription/organization-learner/unit/application/learner-list-controller_test.js
  api/tests/prescription/organization-learner/unit/domain/read-models/OrganizationParticipant_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-paginated-filtered-participants_test.js
  orga/app/components/certificability/banner.hbs
  orga/app/components/certificability/cell.hbs
  orga/app/components/certificability/cell.js
  orga/app/components/certificability/tooltip.hbs
  orga/app/components/certificability/tooltip.js
  orga/app/components/organization-participant/list.hbs
  orga/app/components/organization-participant/table-headers.hbs
  orga/app/components/organization-participant/table-row.hbs
  orga/app/components/sco-organization-participant/list.hbs
  orga/app/components/sco-organization-participant/list.js
  orga/app/components/sco-organization-participant/table-headers.hbs
  orga/app/components/sco-organization-participant/table-row.hbs
  orga/app/components/sup-organization-participant/list.hbs
  orga/app/components/sup-organization-participant/table-headers.hbs
  orga/app/components/sup-organization-participant/table-row.hbs
  orga/app/controllers/authenticated/organization-participants/list.js
  orga/app/controllers/authenticated/sco-organization-participants/list.js
  orga/app/controllers/authenticated/sup-organization-participants/list.js
  orga/app/styles/app.scss
  orga/app/styles/components/certificability/cell.scss
  orga/app/styles/components/certificability/index.scss
  orga/app/styles/components/certificability/tooltip.scss
  orga/app/styles/components/ui/index.scss
  orga/app/styles/pages/authenticated/organization-participants/list.scss
  orga/app/templates/authenticated/organization-participants/list.hbs
  orga/app/templates/authenticated/sco-organization-participants/list.hbs
  orga/app/templates/authenticated/sup-organization-participants/list.hbs
  orga/tests/acceptance/sco-organization-participant-list_test.js
  orga/tests/integration/components/certificability/banner_test.js
  orga/tests/integration/components/certificability/cell_test.js
  orga/tests/integration/components/certificability/tooltip_test.js
  orga/tests/integration/components/organization-participant/list_test.js
  orga/tests/integration/components/sco-organization-participant/list_test.js
  orga/tests/integration/components/sco-organization-participant/table-row_test.js
  orga/tests/integration/components/sup-organization-participant/list_test.js
  orga/tests/integration/components/ui/certificability-tooltip_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7489 [TECH] Pix1D - Utiliser le modèle "Assessment" du contexte "School"
  1d/app/models/activity.js
  1d/app/pods/assessment/model.js
  api/src/school/application/assessments/controller.js
  api/src/school/application/assessments/route.js
  api/src/school/domain/models/Assessment.js
  api/src/school/domain/usecases/create-mission-assessment.js
  api/src/school/domain/usecases/get-assessment-by-id.js
  api/src/school/domain/usecases/get-mission-assessment-by-assessment-id.js
  api/src/school/infrastructure/models/mission-assessment.js
  api/src/school/infrastructure/repositories/mission-assessment-repository.js
  api/src/school/infrastructure/serializers/assessment.js
  api/tests/school/integration/application/assessment/controller_test.js
  api/tests/school/integration/domain/usecases/create-mission-assessment_test.js
  api/tests/school/integration/domain/usecases/get-assessment-by-id_test.js
  api/tests/school/integration/infrastructure/repositories/mission-assessment-repository_test.js
  api/tests/school/integration/infrastructure/repositories/school-repository_test.js
  api/tests/school/unit/application/assessments/route_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7468 [FEATURE] Vérification de la typologie d'épreuve lors d'une alerte en certif V3 (PIX-9945).
  api/db/database-builder/factory/build-certification-challenge-live-alert.js
  api/db/migrations/20231116100122_add-challenges-typologies-columns-to-certification-challenge-live-alerts.js
  api/lib/domain/usecases/create-certification-challenge-live-alert.js
  api/lib/infrastructure/repositories/sessions/session-for-supervising-repository.js
  api/lib/infrastructure/serializers/jsonapi/session-for-supervising-serializer.js
  api/src/certification/session/domain/models/CertificationChallengeLiveAlert.js
  api/src/certification/supervision/domain/models/CertificationCandidateForSupervisingV3.js
  api/tests/acceptance/application/assessments/assessment-controller-pause-assessment_test.js
  api/tests/certification/session/integration/infrastructure/repositories/certification-challenge-live-alert-repository_test.js
  api/tests/integration/infrastructure/repositories/sessions/session-for-supervising-repository_test.js
  api/tests/tooling/domain-builder/factory/build-certification-challenge-live-alert.js
  api/tests/unit/domain/usecases/create-certification-challenge-live-alert_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/session-for-supervising-serializer_test.js
  certif/app/components/session-supervising/candidate-in-list.hbs
  certif/app/components/session-supervising/candidate-in-list.js
  certif/app/components/session-supervising/handle-live-alert-modal.hbs
  certif/app/components/session-supervising/handle-live-alert-modal.js
  certif/app/models/certification-candidate-for-supervising.js
  certif/tests/acceptance/session-supervising_test.js
  certif/tests/integration/components/session-supervising/candidate-in-list_test.js
  certif/tests/integration/components/session-supervising/handle-live-alert-modal_test.js
  certif/tests/integration/components/session-supervising/live-alert-handled-modal_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7493 [TECH] Déplacer les models et repositories associés aux contenus formatifs dans le bounded context Devcomp (PIX-10028).
  api/lib/domain/models/index.js
  api/lib/infrastructure/repositories/index.js
  api/src/devcomp/domain/models/Training.js
  api/src/devcomp/domain/models/TrainingTrigger.js
  api/src/devcomp/domain/models/TrainingTriggerTube.js
  api/src/devcomp/domain/read-models/TrainingForAdmin.js
  api/src/devcomp/domain/read-models/TrainingSummary.js
  api/src/devcomp/domain/read-models/TrainingTriggerForAdmin.js
  api/src/devcomp/infrastructure/repositories/training-repository.js
  api/src/devcomp/infrastructure/repositories/training-trigger-repository.js
  api/src/devcomp/infrastructure/repositories/user-recommended-training-repository.js
  api/tests/devcomp/integration/infrastructure/repositories/training-repository_test.js
  api/tests/devcomp/integration/infrastructure/repositories/training-trigger-repository_test.js
  api/tests/devcomp/integration/infrastructure/repositories/user-recommended-training-repository_test.js
  api/tests/devcomp/unit/domain/models/TrainingTriggerTube_test.js
  api/tests/devcomp/unit/domain/models/TrainingTrigger_test.js
  api/tests/devcomp/unit/domain/models/Training_test.js
  api/tests/devcomp/unit/domain/read-models/TrainingTriggerForAdmin_test.js
  api/tests/tooling/domain-builder/factory/build-training-for-admin.js
  api/tests/tooling/domain-builder/factory/build-training-summary.js
  api/tests/tooling/domain-builder/factory/build-training-trigger-for-admin.js
  api/tests/tooling/domain-builder/factory/build-training-trigger-tube.js
  api/tests/tooling/domain-builder/factory/build-training-trigger.js
  api/tests/tooling/domain-builder/factory/build-training.js
  api/tests/unit/application/trainings/training-controller_test.js
  api/tests/unit/devcomp/domain/read-models/TrainingForAdmin_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-devcomp

#7497 [TECH] Standardisation des config de tests en fonction de la typologie
  1d/app/helpers/tests/index.js
  1d/app/pods/assessment/challenge/unit_test.js
  1d/app/pods/components/bubble/integration_test.js
  1d/app/pods/components/challenge/item/integration_test.js
  1d/app/pods/components/robot-dialog/integration_test.js
  1d/tests/acceptance/access-school_test.js
  1d/tests/acceptance/challenge-item-qcm_test.js
  1d/tests/acceptance/challenge-item-qcu_test.js
  1d/tests/acceptance/challenge-item-qroc_test.js
  1d/tests/acceptance/challenge-item-qrocm_test.js
  1d/tests/acceptance/challenge-workflow_test.js
  1d/tests/acceptance/display-challenge-preview_test.js
  1d/tests/acceptance/display-challenge_test.js
  1d/tests/acceptance/display-mission-info_test.js
  1d/tests/acceptance/display-missions-list_test.js
  1d/tests/acceptance/end-mission_test.js
  1d/tests/acceptance/start-mission_test.js
  1d/tests/helpers/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7474 [TECH] Migrer les scorecards vers la nouvelle arbo API (PIX-9933).
  api/lib/application/users/user-controller.js
  api/lib/domain/models/index.js
  api/lib/domain/read-models/SharedProfileForCampaign.js
  api/lib/domain/usecases/find-tutorials.js
  api/lib/domain/usecases/get-user-profile.js
  api/lib/domain/usecases/index.js
  api/lib/routes.js
  api/src/evaluation/application/scorecards/index.js
  api/src/evaluation/application/scorecards/scorecard-controller.js
  api/src/evaluation/domain/models/Scorecard.js
  api/src/evaluation/domain/services/scorecard-service.js
  api/src/evaluation/domain/usecases/get-scorecard.js
  api/src/evaluation/domain/usecases/index.js
  api/src/evaluation/domain/usecases/reset-scorecard.js
  api/src/evaluation/infrastructure/serializers/.gitkeep
  api/src/evaluation/infrastructure/serializers/jsonapi/scorecard-serializer.js
  api/src/evaluation/routes.js
  api/tests/evaluation/acceptance/application/scorecards/scorecard-controller_test.js
  api/tests/evaluation/unit/application/scorecards/index_test.js
  api/tests/evaluation/unit/application/scorecards/scorecard-controller_test.js
  api/tests/evaluation/unit/domain/models/Scorecard_test.js
  api/tests/evaluation/unit/domain/services/scorecard-service_test.js
  api/tests/evaluation/unit/domain/usecases/get-scorecard_test.js
  api/tests/evaluation/unit/domain/usecases/reset-scorecard_test.js
  api/tests/evaluation/unit/infrastructure/serializers/jsonapi/scorecard-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-user-scorecard.js
  api/tests/unit/application/users/user-controller_test.js
  api/tests/unit/domain/read-models/SharedProfileForCampaign_test.js
  api/tests/unit/domain/usecases/find-tutorials_test.js
  api/tests/unit/domain/usecases/get-user-profile-shared-for-campaign_test.js
  api/tests/unit/domain/usecases/get-user-profile_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, Bounded-context-migration

#7485 [FEATURE] Ajoute la feature PLACES_MANAGEMENT (PIX-9717)
  api/db/migrations/20231120143059_add-places-management-feature.js
  api/db/seeds/data/common/constants.js
  api/db/seeds/data/common/feature-builder.js
  api/lib/domain/constants.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#7486 [FEATURE] Enregistrer qui a fait l'action de désactivation d'un membre Pix Certif depuis Pix Admin (PIX-9381)
  api/lib/application/certification-center-memberships/certification-center-membership-controller.js
  api/lib/domain/usecases/disable-certification-center-membership.js
  api/lib/infrastructure/repositories/certification-center-membership-repository.js
  api/tests/acceptance/application/certification-center-memberships/certification-center-membership-controller_test.js
  api/tests/integration/infrastructure/repositories/certification-center-membership-repository_test.js
  api/tests/unit/domain/usecases/disable-certification-center-membership_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#7501 [CHORE] :art: Améliorer les pages d'erreur et de not found (Pix-9829)
  1d/app/pods/components/issue/component.js
  1d/app/pods/components/issue/issue.scss
  1d/app/pods/components/issue/template.hbs
  1d/app/pods/error/error.scss
  1d/app/pods/error/template.hbs
  1d/app/pods/identified/missions/mission/controller.js
  1d/app/pods/not-found/template.hbs
  1d/mirage/config.js
  1d/public/images/background-blob.svg
  1d/public/images/sad-robot.svg
  1d/tests/acceptance/error-and-not-found-pages_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7505 [TECH] Flaky sur integrate-cpf-processing-receipts_test.js (PIX-10064).
  api/tests/certification/session/integration/domain/usecases/integrate-cpf-processing-receipts_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, cross-team, no-review-app

#7487 [FEATURE] Afficher le nombre minimum de Pix dans la page de détails d'une certification sur Pix Admin (PIX-9963).
  admin/app/components/complementary-certifications/target-profiles/badges-list.hbs
  admin/app/components/complementary-certifications/target-profiles/badges-list.js
  admin/tests/unit/components/complementary-certifications/target-profiles/badges-list_test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/lib/domain/models/ComplementaryCertificationBadgeForAdmin.js
  api/src/certification/complementary-certification/infrastructure/repositories/complementary-certification-target-profile-history-repository.js
  api/src/certification/complementary-certification/infrastructure/serializers/jsonapi/complementary-certification-serializer.js
  api/tests/certification/complementary-certification/acceptance/application/complementary-certification-controller_test.js
  api/tests/certification/complementary-certification/integration/infrastucture/repositories/complementary-certification-target-profile-history-repository_test.js
  api/tests/certification/complementary-certification/unit/infrastructure/serializers/complementary-certification-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-badge-for-admin.js
Labels: :rocket: Ready to Merge, team-certif

#7498 [FEATURE] Créer le modèle `QcuForAnswerVerification` (PIX-9858)
  api/src/devcomp/application/modules/controller.js
  api/src/devcomp/application/modules/index.js
  api/src/devcomp/domain/models/element/QCU-for-answer-verification.js
  api/src/devcomp/domain/models/element/QCU.js
  api/src/devcomp/domain/usecases/validate-answer.js
  api/src/devcomp/domain/usecases/verify-answer.js
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
  api/tests/devcomp/unit/application/modules/controller_test.js
  api/tests/devcomp/unit/domain/models/element/QCU-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QCU_test.js
  api/tests/devcomp/unit/domain/usecases/verify-answer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#7483 [BUGFIX] Empêcher l'ajout de plusieurs adresses emails (destinataire et candidat) dans l'import ods et la modale (PIX-9994).
  api/lib/domain/models/CertificationCandidate.js
  api/lib/domain/services/certification-candidates-ods-service.js
  api/src/certification/session/domain/usecases/add-certification-candidate-to-session.js
  api/tests/certification/session/unit/domain/usecases/add-certification-candidate-to-session_test.js
  api/tests/integration/domain/services/certification-candidates-ods-service/attendance_sheet_extract_mandatory_ko_test.ods
  api/tests/integration/domain/services/certification-candidates-ods-service/certification-candidates-ods-service_test.js
  api/tests/unit/domain/models/CertificationCandidate_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-certif

#7504 [TECH] Amélioration databasebuilder
  api/db/database-builder/database-builder.js
  api/tests/integration/tooling/database-builder/database-builder_test.js
  api/tests/test-helper.js
  api/tests/unit/tooling/database-builder/database-builder_test.js
Labels: :rocket: Ready to Merge, cross-team

#7496 [FEATURE] Sauvegarder la configuration de l'algo de choix des épreuves en BDD. (PIX-9967)
  api/db/database-builder/factory/build-flash-algorithm-configuration.js
  api/db/migrations/20231120160609_add-configuration-get-next-challenge-for-flash-algorithm.js
  api/lib/domain/usecases/get-next-challenge-for-campaign-assessment.js
  api/lib/domain/usecases/get-next-challenge-for-certification.js
  api/lib/domain/usecases/index.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmConfiguration.js
  api/src/certification/flash-certification/domain/usecases/simulate-flash-deterministic-assessment-scenario.js
  api/src/certification/flash-certification/infrastructure/repositories/flash-algorithm-configuration-repository.js
  api/tests/certification/flash-certification/integration/infrastructure/repositories/flash-algorithm-configuration-repository_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/tooling/domain-builder/factory/build-flash-algorithm-configuration.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-certification_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7477 [BUGFIX] Afficher correctement les paliers sur les compétences
  api/lib/domain/read-models/participant-results/AssessmentResult.js
  api/lib/domain/usecases/get-user-campaign-assessment-result.js
  api/lib/domain/usecases/stages/handle-stage-acquisition.js
  api/lib/infrastructure/repositories/participant-result-repository.js
  api/src/evaluation/domain/services/stages/get-new-acquired-stages-service.js
  api/tests/acceptance/application/users/get-user-campaign-assessment-result_test.js
  api/tests/evaluation/unit/domain/services/stages/get-new-acquired-stages-service_test.js
  api/tests/integration/infrastructure/repositories/participant-result-repository_test.js
  api/tests/unit/domain/read-models/participant-results/AssessmentResult_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/participant-result-serializer_test.js
  mon-pix/app/components/campaigns/assessment/skill-review/competence-stages-result.hbs
  mon-pix/app/components/campaigns/assessment/skill-review/competence-stages-result.js
  mon-pix/app/components/campaigns/assessment/skill-review/share-badge-icons.js
  mon-pix/app/components/reached-stage.js
  mon-pix/app/components/routes/campaigns/assessment/skill-review.hbs
  mon-pix/app/components/routes/campaigns/assessment/skill-review.js
  mon-pix/app/models/competence-result.js
  mon-pix/tests/acceptance/skill-review_test.js
  mon-pix/tests/integration/components/routes/campaigns/assessment/skill-review_test.js
  mon-pix/tests/unit/components/routes/campaigns/assessment/skill-review_test.js
  mon-pix/tests/unit/models/competence-result-test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#7491 [BUGFIX] Corriger les pétouilles du module `bien-ecrire-son-adresse-mail` (PIX-10026)
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  api/tests/devcomp/acceptance/application/modules/controller-validateAnswer_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/module-datasource_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#7503 [FEATURE] Ajoute la feature de gestion des places à la route prescriber (PIX-9718)
  api/db/seeds/data/common/organization-builder.js
  api/src/shared/prescriber-management/domain/read-models/Prescriber.js
  api/src/shared/prescriber-management/infrastructure/repositories/prescriber-repository.js
  api/tests/shared/prescriber-management/integration/infrasctructure/repositories/prescriber-repository_test.js
  api/tests/tooling/domain-builder/factory/build-prescriber.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7510 [TECH] Remplace Bookshelf du prescriber repository par knex (PIX-10071)
  api/db/database-builder/factory/build-organization.js
  api/src/shared/prescriber-management/infrastructure/repositories/prescriber-repository.js
  api/tests/shared/prescriber-management/integration/infrasctructure/repositories/prescriber-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#7494 [BUGFIX] Comportement du scrolling sur la sélection du centre de certif (PIX-9935).
  certif/app/styles/components/user-logged-menu.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7418 [FEATURE] Permettre la création de parcours autonomes dans l'API (PIX-9806).
  api/lib/domain/constants.js
  api/sample.env
  api/src/evaluation/application/autonomous-courses/autonomous-course-controller.js
  api/src/evaluation/application/autonomous-courses/index.js
  api/src/evaluation/domain/errors.js
  api/src/evaluation/domain/usecases/index.js
  api/src/evaluation/domain/usecases/save-autonomous-course.js
  api/src/evaluation/infrastructure/repositories/autonomous-course-repository.js
  api/src/evaluation/infrastructure/repositories/index.js
  api/src/evaluation/infrastructure/serializers/jsonapi/autonomous-course-serializer.js
  api/src/evaluation/routes.js
  api/src/shared/config.js
  api/tests/evaluation/acceptance/application/autonomous-courses/autonomous-course-controller_test.js
  api/tests/evaluation/integration/domain/usecases/save-autonomous-course_test.js
  api/tests/evaluation/integration/infrastructure/repositories/autonomous-course-repository_test.js
  api/tests/evaluation/unit/application/autonomous-courses/autonomous-course-controller_test.js
  api/tests/evaluation/unit/domain/usecases/save-autonomous-course_test.js
  api/tests/evaluation/unit/infrastructure/serializers/jsonapi/autonomous-course-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#7515 [BUGFIX] Corrige un crash de la certification v3 avec les configurations forcedCompetences et enablePassageByAllCompetences
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmConfiguration.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmRuleEngine.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentSuccessRateHandler.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentSuccessRateHandlerFixedStrategy.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentSuccessRateHandlerLinearStrategy.js
  api/src/certification/flash-certification/infrastructure/repositories/flash-algorithm-configuration-repository.js
  api/tests/certification/flash-certification/integration/infrastructure/repositories/flash-algorithm-configuration-repository_test.js
  api/tests/tooling/domain-builder/factory/build-flash-algorithm-configuration.js
  api/tests/unit/domain/usecases/get-next-challenge-for-certification_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7484 [FEATURE] Affichage du bloc personnalisé de fin de parcours pour les campagnes isForAbsoluteNovice (PIX-10020)
  mon-pix/app/components/routes/campaigns/assessment/skill-review.hbs
  mon-pix/app/components/routes/campaigns/assessment/skill-review.js
  mon-pix/tests/integration/components/campaign/skill-review_test.js
  mon-pix/tests/unit/components/campaigns/assessment/skill-review/skill-review_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7492 [FEATURE] Pouvoir définir un nombre de pix minimum lors du rattachement d'un profil cible sur Pix Admin (PIX-9951).
  admin/app/components/complementary-certifications/attach-badges/badges/header.hbs
  admin/app/components/complementary-certifications/attach-badges/badges/list.hbs
  admin/app/components/complementary-certifications/attach-badges/badges/row.hbs
  admin/app/controllers/authenticated/complementary-certifications/complementary-certification/attach-target-profile.js
  admin/app/models/complementary-certification-badge.js
  admin/tests/integration/components/complementary-certifications/attach-form/badges/header_test.js
  admin/tests/integration/components/complementary-certifications/attach-form/badges/index_test.js
  admin/tests/integration/components/complementary-certifications/attach-form/badges/list_test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/src/certification/complementary-certification/application/attach-target-profile-route.js
  api/src/certification/complementary-certification/domain/models/BadgeToAttach.js
  api/tests/certification/complementary-certification/integration/infrastucture/repositories/complementary-certification-badge-repository_test.js
  api/tests/certification/complementary-certification/unit/domain/models/BadgeToAttach_test.js
  api/tests/tooling/domain-builder/factory/build-badge-to-attach.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#7506 [TECH] Finir la migration des contenus formatifs dans devcomp (PIX-10067).
  api/lib/application/assessments/assessment-controller.js
  api/lib/application/campaign-participations/campaign-participation-controller.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/application/users/user-controller.js
  api/lib/domain/errors.js
  api/lib/routes.js
  api/src/devcomp/application/trainings/index.js
  api/src/devcomp/application/trainings/training-controller.js
  api/src/devcomp/domain/errors.js
  api/src/devcomp/domain/read-models/UserRecommendedTraining.js
  api/src/devcomp/domain/usecases/attach-target-profiles-to-training.js
  api/src/devcomp/domain/usecases/create-or-update-training-trigger.js
  api/src/devcomp/domain/usecases/create-training.js
  api/src/devcomp/domain/usecases/find-campaign-participation-trainings.js
  api/src/devcomp/domain/usecases/find-paginated-target-profile-training-summaries.js
  api/src/devcomp/domain/usecases/find-paginated-training-summaries.js
  api/src/devcomp/domain/usecases/find-paginated-user-recommended-trainings.js
  api/src/devcomp/domain/usecases/get-training.js
  api/src/devcomp/domain/usecases/handle-training-recommendation.js
  api/src/devcomp/domain/usecases/index.js
  api/src/devcomp/domain/usecases/update-training.js
  api/src/devcomp/infrastructure/repositories/index.js
  api/src/devcomp/infrastructure/repositories/training-repository.js
  api/src/devcomp/infrastructure/repositories/user-recommended-training-repository.js
  api/src/devcomp/infrastructure/serializers/jsonapi/training-serializer.js
  api/src/devcomp/infrastructure/serializers/jsonapi/training-summary-serializer.js
  api/src/devcomp/infrastructure/serializers/jsonapi/training-trigger-serializer.js
  api/src/devcomp/routes.js
  api/tests/devcomp/acceptance/application/trainings/training-controller_test.js
  api/tests/devcomp/integration/infrastructure/repositories/training-repository_test.js
  api/tests/devcomp/integration/infrastructure/repositories/user-recommended-training-repository_test.js
  api/tests/devcomp/unit/application/trainings/index_test.js
  api/tests/devcomp/unit/application/trainings/training-controller_test.js
  api/tests/devcomp/unit/domain/usecases/attach-target-profiles-to-training_test.js
  api/tests/devcomp/unit/domain/usecases/create-or-update-training-trigger_test.js
  api/tests/devcomp/unit/domain/usecases/create-training_test.js
  api/tests/devcomp/unit/domain/usecases/find-campaign-participation-trainings_test.js
  api/tests/devcomp/unit/domain/usecases/find-paginated-target-profile-training-summaries_test.js
  api/tests/devcomp/unit/domain/usecases/find-paginated-trainings-summary_test.js
  api/tests/devcomp/unit/domain/usecases/find-paginated-user-recommended-trainings_test.js
  api/tests/devcomp/unit/domain/usecases/get-training_test.js
  api/tests/devcomp/unit/domain/usecases/handle-training-recommendation_test.js
  api/tests/devcomp/unit/domain/usecases/update-training_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/training-serializer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/training-trigger-serializer_test.js
  api/tests/unit/application/assessments/assessment-controller_test.js
  api/tests/unit/application/campaign-participations/campaign-participation-controller_test.js
  api/tests/unit/application/target-profiles/target-profile-controller_test.js
  api/tests/unit/application/users/user-controller_test.js
  api/tests/unit/devcomp/infrastructure/serializers/jsonapi/training-summary-serializer_test.js
  api/tests/unit/domain/errors_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-devcomp

#7511 [FEATURE] Rejeter une certification si le candidat n'a pas répondu à assez de questions (PIX-9980).
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/lib/domain/models/CertificationAssessmentScoreV3.js
  api/lib/domain/models/CertificationCourse.js
  api/src/shared/config.js
  api/tests/certification/shared/fixtures/challenges.js
  api/tests/tooling/domain-builder/factory/build-certification-assessment-score-v3.js
  api/tests/unit/domain/events/handle-auto-jury_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/tests/unit/domain/models/CertificationAssessmentScoreV3_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7520 [TECH] Migrer Progression vers la nouvelle arbo API (PIX-9932).
  api/lib/domain/models/index.js
  api/lib/infrastructure/serializers/jsonapi/assessment-serializer.js
  api/lib/routes.js
  api/src/evaluation/application/progressions/index.js
  api/src/evaluation/application/progressions/progression-controller.js
  api/src/evaluation/domain/models/Progression.js
  api/src/evaluation/domain/usecases/get-progression.js
  api/src/evaluation/domain/usecases/index.js
  api/src/evaluation/infrastructure/serializers/jsonapi/progression-serializer.js
  api/src/evaluation/routes.js
  api/tests/evaluation/acceptance/application/progressions/progression-controller_test.js
  api/tests/evaluation/unit/application/progressions/index_test.js
  api/tests/evaluation/unit/application/progressions/progression-controller_test.js
  api/tests/evaluation/unit/domain/models/Progression_test.js
  api/tests/evaluation/unit/domain/usecases/get-progression_test.js
  api/tests/evaluation/unit/infrastructure/serializers/jsonapi/progression-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-progression.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, Bounded-context-migration

#7514 [BUG] Le manque de référent Pix pour CLEA ne doit pas bloquer l'envoi de résultats de certifications (PIX-10013).
  api/lib/domain/services/session-publication-service.js
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/publish-session.js
  api/tests/unit/domain/services/session-publication-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7476 [FEATURE] Afficher uniquement un grain à la fois (PIX-9894)
  mon-pix/app/pods/components/module/details/component.js
  mon-pix/app/pods/components/module/details/styles.scss
  mon-pix/app/pods/components/module/details/template.hbs
  mon-pix/app/pods/components/module/grain/component.js
  mon-pix/app/pods/components/module/grain/style.scss
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/components/module/qcu/component.js
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/app/pods/correction-response/model.js
  mon-pix/app/pods/element-answer/model.js
  mon-pix/app/pods/element/model.js
  mon-pix/app/pods/grain/model.js
  mon-pix/app/pods/module/get/controller.js
  mon-pix/app/pods/module/get/template.hbs
  mon-pix/app/pods/module/model.js
  mon-pix/tests/acceptance/module/navigate-into-the-module_test.js
  mon-pix/tests/integration/components/module/details_test.js
  mon-pix/tests/integration/components/module/grain_test.js
  mon-pix/tests/integration/components/module/qcu_test.js
  mon-pix/tests/unit/components/module/qcu_test.js
  mon-pix/tests/unit/controllers/modules/get_test.js
  mon-pix/tests/unit/models/modules/element_test.js
  mon-pix/tests/unit/models/modules/grain_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#7509 [FEATURE] Le nombre de pix minimum pour une certification complémentaire est porté par ses badges (PIX-9955)
  api/db/database-builder/factory/build-complementary-certification.js
  api/db/migrations/20231121162746_remove_column_minimumEarnedPix_on_complementary_certifications.js
  api/lib/infrastructure/repositories/complementary-certification-scoring-criteria-repository.js
  api/tests/integration/domain/event/handle-complementary-certifications-scoring_test.js
  api/tests/integration/infrastructure/repositories/complementary-certification-scoring-criteria-repository_test.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-scoring-criteria.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7519 [TECH] Exposer une API afin de récupérer les informations d'une campagne (Pix-10062)
  api/lib/application/campaigns/index.js
  api/lib/application/preHandlers/models/CampaignAuthorization.js
  api/lib/application/security-pre-handlers.js
  api/lib/application/usecases/checkAuthorizationToAccessCampaign.js
  api/lib/domain/usecases/get-campaign.js
  api/src/prescription/campaigns/application/api/Campaign.js
  api/src/prescription/campaigns/application/api/campaigns-api.js
  api/tests/acceptance/application/campaigns/campaign-controller_test.js
  api/tests/integration/application/campaigns/index_test.js
  api/tests/integration/application/usecases/checkAuthorizationToAccessCampaign_test.js
  api/tests/integration/domain/usecases/get-campaign_test.js
  api/tests/prescription/campaigns/application/api/unit/campaigns-api_test.js
  api/tests/unit/application/campaign/index_test.js
  api/tests/unit/application/preHandlers/models/CampaignAuthorization_test.js
  api/tests/unit/application/security-pre-handlers_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#7524 [BUGFIX] Modification du format de données de variationPercent en BDD (PIX-10116).
  api/db/migrations/20231124153100_change-variation-format-from-integer-to-float.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7523 [BUGFIX] Mettre à jour la contrainte d'unicité pour valider la mise à jour ou la création d'un OrganizationLearner SUP (PIX-10112)
  api/db/migrations/20231124145156_add-deletedAt-sup-learner-unicity-constraint.js
  api/src/prescription/learner-management/infrastructure/repositories/sup-organization-learner-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/sup-organization-learner-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7518 [FEATURE] Sauvegarder le créateur d'une session de certification (PIX-8002)
  api/db/database-builder/factory/build-session.js
  api/db/migrations/20231123195424_add-session-createdBy.js
  api/lib/domain/usecases/sessions-mass-import/create-sessions.js
  api/src/certification/session/domain/models/Session.js
  api/src/certification/session/domain/usecases/create-session.js
  api/tests/certification/session/integration/infrastructure/repositories/session-repository_test.js
  api/tests/certification/session/unit/domain/models/Session_test.js
  api/tests/certification/session/unit/domain/usecases/create-session_test.js
  api/tests/tooling/domain-builder/factory/build-session.js
  api/tests/unit/domain/usecases/sessions-mass-import/create-sessions_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#7507 [TECH] Mettre à jour pix-ui pour avoir la modif du composant pix input code (Pix-10074)
  1d/package-lock.json
  1d/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7508 [FEATURE] Ajouter un élément Image (PIX-9903)
  api/src/devcomp/domain/models/element/Image.js
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
  api/tests/devcomp/unit/application/modules/controller_test.js
  api/tests/devcomp/unit/application/trainings/index_test.js
  api/tests/devcomp/unit/application/trainings/training-controller_test.js
  api/tests/devcomp/unit/domain/models/ElementAnswer_test.js
  api/tests/devcomp/unit/domain/models/Grain_test.js
  api/tests/devcomp/unit/domain/models/Module_test.js
  api/tests/devcomp/unit/domain/models/QcuCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/QcuProposal_test.js
  api/tests/devcomp/unit/domain/models/TrainingTriggerTube_test.js
  api/tests/devcomp/unit/domain/models/Training_test.js
  api/tests/devcomp/unit/domain/models/element/Element_test.js
  api/tests/devcomp/unit/domain/models/element/Image_test.js
  api/tests/devcomp/unit/domain/models/element/QCU-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QCU_test.js
  api/tests/devcomp/unit/domain/models/element/Text_test.js
  api/tests/devcomp/unit/domain/models/validator/AnswerStatus_test.js
  api/tests/devcomp/unit/domain/models/validator/ValidatorQCU_test.js
  api/tests/devcomp/unit/domain/models/validator/Validator_test.js
  api/tests/devcomp/unit/domain/services/solution-service-qcu_test.js
  api/tests/devcomp/unit/domain/usecases/attach-target-profiles-to-training_test.js
  api/tests/devcomp/unit/domain/usecases/create-or-update-training-trigger_test.js
  api/tests/devcomp/unit/domain/usecases/create-training_test.js
  api/tests/devcomp/unit/domain/usecases/find-campaign-participation-trainings_test.js
  api/tests/devcomp/unit/domain/usecases/find-paginated-target-profile-training-summaries_test.js
  api/tests/devcomp/unit/domain/usecases/find-paginated-trainings-summary_test.js
  api/tests/devcomp/unit/domain/usecases/find-paginated-user-recommended-trainings_test.js
  api/tests/devcomp/unit/domain/usecases/get-module_test.js
  api/tests/devcomp/unit/domain/usecases/get-training_test.js
  api/tests/devcomp/unit/domain/usecases/handle-training-recommendation_test.js
  api/tests/devcomp/unit/domain/usecases/update-training_test.js
  api/tests/devcomp/unit/domain/usecases/verify-answer_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/module-datasource_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/correction-response-serializer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/element-answer-serializer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/training-serializer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/training-trigger-serializer_test.js
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/components/module/image/component.js
  mon-pix/app/pods/components/module/image/styles.scss
  mon-pix/app/pods/components/module/image/template.hbs
  mon-pix/app/pods/element/model.js
  mon-pix/app/pods/image/model.js
  mon-pix/tests/integration/components/module/grain_test.js
  mon-pix/tests/integration/components/module/image_test.js
  mon-pix/tests/unit/components/module/image_test.js
  mon-pix/tests/unit/models/modules/element_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, Design Review OK, team-devcomp

#7532 [TECH] Renome des fichiers du domaine « school » qui on été mal nomé (PIX-10131)
  api/src/school/application/assessment-controller.js
  api/src/school/application/assessment-route.js
  api/src/school/application/organization-learner-controller.js
  api/src/school/application/organization-learner-route.js
  api/src/school/application/school-controller.js
  api/src/school/application/school-route.js
  api/src/school/routes.js
  api/tests/school/integration/application/assessment-controller_test.js
  api/tests/school/unit/application/assessment-controller_test.js
  api/tests/school/unit/application/assessment-route_test.js
  api/tests/school/unit/application/organization-learner-controller_test.js
  api/tests/school/unit/application/organization-learner-route_test.js
  api/tests/school/unit/application/school-controller_test.js
  api/tests/school/unit/application/school-route_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7528 [FEATURE] détache un profil cible target depuis la page organisation (PIX-9983)
  admin/app/components/organizations/target-profiles-section.hbs
  admin/app/components/organizations/target-profiles-section.js
  admin/app/models/target-profile-summary.js
  admin/tests/integration/components/organizations/target-profiles-section_test.js
  admin/tests/unit/components/organizations/target-profiles-section_test.js
  api/lib/domain/models/TargetProfileSummaryForAdmin.js
  api/lib/infrastructure/repositories/target-profile-summary-for-admin-repository.js
  api/lib/infrastructure/serializers/jsonapi/target-profile-summary-for-admin-serializer.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
  api/tests/devcomp/acceptance/application/trainings/training-controller_test.js
  api/tests/integration/infrastructure/repositories/target-profile-summary-for-admin-repository_test.js
  api/tests/tooling/domain-builder/factory/build-target-profile-summary-for-admin.js
  api/tests/unit/application/organizations/organization-controller_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/target-profile-summary-for-admin-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7480 [TECH] Déplacer le mapping des erreurs HTTP vers les bounded context (PIX-10080)
  api/config/server-setup-error-handling.js
  api/server.js
  api/src/authentication/application/http-error-mapper-configuration.js
  api/src/shared/application/domain-error-mapper.js
  api/src/shared/application/error-manager.js
  api/src/shared/application/models/domain-error-mapping-configuration.js
  api/tests/authentication/unit/application/http-error-mapper-configuration_test.js
  api/tests/shared/unit/application/domain-error-mapper_test.js
  api/tests/shared/unit/application/error-manager_test.js
  api/tests/shared/unit/application/models/domain-error-mapping-configuration_test.js
  api/tests/tooling/server/http-test-server.js
Labels: :rocket: Ready to Merge, team-acces, cross-team, Bounded-context-migration

#7533 [TECH] Faire les corrections nécessaires pour enlever les erreurs en console (Pix-9946)
  1d/app/pods/identified/missions/list/template.hbs
  1d/app/pods/identified/missions/mission/controller.js
  1d/app/pods/identified/missions/mission/mission.scss
  1d/app/pods/identified/missions/mission/template.hbs
  1d/tests/acceptance/start-mission_test.js
  1d/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7542 [BUGFIX] Elargir la période de génération d'une date au hasard pour une factory de mirage dans certif (Pix-10161)
  admin/mirage/factories/session.js
  certif/mirage/factories/certification-candidate.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, cross-team, 🎒👧🏽👦🏾 Pix1D

#7530 [FEATURE] Dégrader le score d'une certification avec plus de V questions et SANS problème technique. (PIX-9979)
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/lib/domain/events/index.js
  api/lib/domain/models/CertificationAssessmentScoreV3.js
  api/lib/domain/usecases/get-next-challenge-for-certification.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmConfiguration.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmRuleEngine.js
  api/src/certification/flash-certification/infrastructure/repositories/flash-algorithm-configuration-repository.js
  api/tests/certification/flash-certification/integration/infrastructure/repositories/flash-algorithm-configuration-repository_test.js
  api/tests/tooling/domain-builder/factory/build-flash-algorithm-configuration.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/tests/unit/domain/models/CertificationAssessmentScoreV3_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7538 [TECH] ajoute un paramètre sur le nombre d'élève à créer au script de création d'une école (pix-10097)
  api/src/school/scripts/create-school-learners.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7531 [FEATURE] Ajout d'une route récupérant les profils-cibles dédiés aux parcours autonomes
  api/src/evaluation/application/autonomous-courses/autonomous-course-target-profile-controller.js
  api/src/evaluation/application/autonomous-courses/index.js
  api/src/evaluation/domain/models/AutonomousCourseTargetProfile.js
  api/src/evaluation/domain/usecases/get-autonomous-course-target-profiles.js
  api/src/evaluation/domain/usecases/index.js
  api/src/evaluation/infrastructure/repositories/autonomous-course-target-profile-repository.js
  api/src/evaluation/infrastructure/repositories/index.js
  api/src/evaluation/infrastructure/serializers/jsonapi/autonomous-course-target-profiles-serializer.js
  api/tests/evaluation/acceptance/application/autonomous-courses/autonomous-course-controller_test.js
  api/tests/evaluation/integration/infrastructure/repositories/autonomous-course-target-profile-repository_test.js
  api/tests/evaluation/unit/application/autonomous-courses/autonomous-course-target-profile-controller_test.js
  api/tests/evaluation/unit/domain/usecases/get-autonomous-course-target-profiles_test.js
  api/tests/evaluation/unit/infrastructure/serializers/jsonapi/autonomous-course-target-profiles-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, no-review-app

#7447 [TECH] Refacto des badges des certifications complémentaires (PIX-9862)
  api/db/database-builder/factory/build-complementary-certification-course-result.js
  api/db/migrations/20231106161726_add-cc-course-results-to-cc-badges-reference.js
  api/db/seeds/data/common/tooling/session-tooling.js
  api/lib/application/complementary-certification-course-results/index.js
  api/lib/domain/events/handle-complementary-certifications-scoring.js
  api/lib/domain/models/CertificationResult.js
  api/lib/domain/models/ComplementaryCertificationCourseResult.js
  api/lib/domain/models/ComplementaryCertificationScoringCriteria.js
  api/lib/domain/models/ComplementaryCertificationScoringWithComplementaryReferential.js
  api/lib/domain/models/ComplementaryCertificationScoringWithoutComplementaryReferential.js
  api/lib/domain/models/PartnerCertificationScoring.js
  api/lib/domain/read-models/ComplementaryCertificationCourseResultForJuryCertification.js
  api/lib/domain/read-models/ComplementaryCertificationCourseResultForJuryCertificationWithExternal.js
  api/lib/domain/types/identifiers-type.js
  api/lib/domain/usecases/save-jury-complementary-certification-course-result.js
  api/lib/infrastructure/repositories/certificate-repository.js
  api/lib/infrastructure/repositories/certification-result-repository.js
  api/lib/infrastructure/repositories/complementary-certification-course-result-repository.js
  api/lib/infrastructure/repositories/complementary-certification-scoring-criteria-repository.js
  api/lib/infrastructure/repositories/jury-certification-repository.js
  api/lib/infrastructure/repositories/jury-certification-summary-repository.js
  api/src/certification/complementary-certification/infrastructure/repositories/complementary-certification-course-repository.js
  api/src/certification/course/infrastructure/repositories/certificate-repository.js
  api/tests/acceptance/application/certification-courses/certification-course-controller_test.js
  api/tests/acceptance/application/certifications/index_test.js
  api/tests/acceptance/application/certifications/sticker.pdf
  api/tests/acceptance/application/complementary-certification-course-results/complementary-certification-course-results-controller_test.js
  api/tests/acceptance/application/session/session-controller-get-jury-certification-summaries_test.js
  api/tests/certification/complementary-certification/integration/infrastucture/repositories/complementary-certification-course-repository_test.js
  api/tests/certification/course/acceptance/application/certification-attestation-route_test.js
  api/tests/certification/course/acceptance/application/sticker.pdf
  api/tests/certification/course/integration/infrastructure/repositories/certificate-repository_test.js
  api/tests/certification/course/integration/infrastructure/utils/pdf/certification-attestation-pdf_test.js
  api/tests/integration/application/complementary-certification-course-results/complementary-certification-course-results-controller_test.js
  api/tests/integration/domain/event/handle-complementary-certifications-scoring_test.js
  api/tests/integration/infrastructure/repositories/certificate-repository_private_test.js
  api/tests/integration/infrastructure/repositories/certificate-repository_shareable_test.js
  api/tests/integration/infrastructure/repositories/certification-result-repository_test.js
  api/tests/integration/infrastructure/repositories/complementary-certification-course-result-repository_test.js
  api/tests/integration/infrastructure/repositories/complementary-certification-scoring-criteria-repository_test.js
  api/tests/integration/infrastructure/repositories/jury-certification-repository_test.js
  api/tests/integration/infrastructure/repositories/jury-certification-summary-repository_test.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-course-result-for-certification-with-external.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-course-result.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-scoring-criteria.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-scoring-without-complementary-referential.js
  api/tests/tooling/domain-builder/factory/build-pix-plus-certification-scoring.js
  api/tests/unit/application/complementary-certification-course-results/index_test.js
  api/tests/unit/domain/events/handle-complementary-certifications-scoring_test.js
  api/tests/unit/domain/models/ComplementaryCertificationCourseResult_test.js
  api/tests/unit/domain/models/ComplementaryCertificationScoringWithComplementaryReferential_test.js
  api/tests/unit/domain/models/PartnerCertificationScoring_test.js
  api/tests/unit/domain/read-models/ComplementaryCertificationCourseResultForJuryCertificationWithExternal_test.js
  api/tests/unit/domain/usecases/save-jury-complementary-certification-course-result_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#7535 [FEATURE] Ajouter 3 nouveaux types de contenus formatif (PIX-10173).
  admin/app/models/training.js
  admin/tests/integration/components/trainings/create-or-update-training-form_test.js
  admin/tests/integration/components/trainings/training-details-card_test.js
  admin/tests/unit/controllers/authenticated/trainings/new_test.js
  api/db/seeds/data/team-contenu/data-builder.js
  api/src/devcomp/application/trainings/index.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#7537 [FEATURE] Mettre à jour Pix UI pour utiliser la font Nunito sur Pix Orga (PIX-10135)
  orga/app/components/campaign/list-header.hbs
  orga/app/components/sco-organization-participant/header-actions.hbs
  orga/app/components/sco-organization-participant/manage-authentication-method-modal.hbs
  orga/app/components/sup-organization-participant/header-actions.hbs
  orga/app/components/terms-of-service/page-en.hbs
  orga/app/components/terms-of-service/page-fr.hbs
  orga/app/styles/components/campaign/analysis/recommendations.scss
  orga/app/styles/components/campaign/analysis/tube-recommendation-row.scss
  orga/app/styles/components/campaign/header/archived-banner.scss
  orga/app/styles/components/layout/topbar.scss
  orga/app/styles/components/manage-authentication-method-modal.scss
  orga/app/styles/components/ui/cards.scss
  orga/app/styles/globals/competences.scss
  orga/app/styles/globals/texts.scss
  orga/app/styles/globals/titles.scss
  orga/app/styles/pages/authenticated/campaigns/details/analysis.scss
  orga/app/styles/pages/authenticated/preselect-target-profile.scss
  orga/app/styles/pages/authenticated/sup-organization-participants/import.scss
  orga/app/styles/pages/authenticated/terms-of-service.scss
  orga/app/styles/pages/join-request.scss
  orga/app/styles/pages/login.scss
  orga/app/templates/authenticated/preselect-target-profile.hbs
  orga/app/templates/authenticated/team/list.hbs
  orga/package-lock.json
  orga/package.json
  orga/tests/acceptance/join_test.js
Labels: :rocket: Ready to Merge, team-prescription, Design Review OK

#7551 [DOCS] Améliorer le style du fichier de documentation de contribution
  CONTRIBUTING.md
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, no-review-app

#7526 [TECH] Déplacement de la finalisation d'une session dans le dossier src (PIX-10106).
  api/config/server-setup-error-handling.js
  api/db/database-builder/factory/build-certification-report.js
  api/lib/application/error-manager.js
  api/lib/application/sessions/index.js
  api/lib/application/sessions/session-controller.js
  api/lib/domain/errors.js
  api/lib/domain/models/index.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/serializers/jsonapi/certification-serializer.js
  api/src/certification/course/application/certification-reports-controller.js
  api/src/certification/course/application/certification-reports-route.js
  api/src/certification/course/domain/usecases/get-session-certification-reports.js
  api/src/certification/course/routes.js
  api/src/certification/session/application/http-error-mapper-configuration.js
  api/src/certification/session/application/session-controller.js
  api/src/certification/session/application/session-route.js
  api/src/certification/session/domain/errors.js
  api/src/certification/session/domain/usecases/finalize-session.js
  api/src/certification/shared/application/http-error-mapper-configuration.js
  api/src/certification/shared/domain/errors.js
  api/src/certification/shared/domain/models/CertificationReport.js
  api/src/certification/shared/domain/usecases/index.js
  api/src/certification/shared/infrastructure/repositories/certification-report-repository.js
  api/src/certification/shared/infrastructure/serializers/jsonapi/certification-report-serializer.js
  api/tests/acceptance/application/session/session-controller-put-finalization_test.js
  api/tests/certification/course/acceptance/application/certification-reports-route_test.js
  api/tests/certification/course/unit/application/certification-reports-controller_test.js
  api/tests/certification/course/unit/domain/usecases/get-session-certification-reports_test.js
  api/tests/certification/session/acceptance/session-route_test.js
  api/tests/certification/session/unit/application/http-error-mapper-configuration_test.js
  api/tests/certification/session/unit/application/session-controller_test.js
  api/tests/certification/session/unit/application/session-route_test.js
  api/tests/certification/session/unit/domain/errors_test.js
  api/tests/certification/session/unit/domain/usecases/finalize-session_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-report-repository_test.js
  api/tests/certification/shared/unit/application/http-error-mapper-configuration_test.js
  api/tests/certification/shared/unit/domain/errors_test.js
  api/tests/certification/shared/unit/domain/models/CertificationReport_test.js
  api/tests/certification/shared/unit/infrastructure/serializers/jsonapi/certification-report-serializer_test.js
  api/tests/integration/application/error-manager_test.js
  api/tests/shared/integration/application/error-manager_test.js
  api/tests/tooling/domain-builder/factory/build-certification-report.js
  api/tests/unit/application/session/index_test.js
  api/tests/unit/application/session/session-controller_test.js
  api/tests/unit/domain/errors_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-serializer_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif, Bounded-context-migration
