Repository 1024pix/pix, pull requests merged in 2023-12, with the labels that each got.

#7552 [TECH] Renommage d'un fichier de test avec le suffixe nécessaire.
  api/tests/certification/course/unit/application/certification-attestation-route_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#7557 [FEATURE] QCU - Remplacer l'alerte native `required` par une alerte comme sur l'éval (PIX-10027)
  mon-pix/app/pods/components/module/qcu/component.js
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/tests/integration/components/module/qcu_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#7570 [TECH] Corriger le test flaky
  api/tests/evaluation/acceptance/application/autonomous-courses/autonomous-course-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#7547 [FEATURE] Pix1D - Activation du bouton de vérification uniquement sur réponse complète
  1d/app/pods/components/challenge/challenge-item-qroc/template.hbs
  1d/app/pods/components/challenge/challenge-item-qrocm/component.js
  1d/app/pods/components/challenge/challenge-item-qrocm/template.hbs
  1d/mirage/factories/challenge.js
  1d/tests/acceptance/challenge-item-qcm_test.js
  1d/tests/acceptance/challenge-item-qroc_test.js
  1d/tests/acceptance/challenge-item-qrocm_test.js
  1d/tests/acceptance/challenge-workflow_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7577 [FEATURE] Permettre au contenu de styliser les listes à puces (PIX-10224)
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  mon-pix/app/pods/module/get/styles.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#7576 [FEATURE] Ajouter un tracking sur le click "alternative textuelle" d'un élément Image (PIX-10122).
  mon-pix/app/pods/components/module/image/component.js
  mon-pix/tests/unit/components/module/image_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-devcomp

#7554 [FEATURE][CERTIF] Permettre l'annulation d'une invitation par un administrateur (PIX-5002)
  api/lib/application/certification-center-invitations/index.js
  api/lib/application/security-pre-handlers.js
  api/lib/application/usecases/check-user-is-admin-of-certification-center-with-certification-center-invitation-id.js
  api/tests/acceptance/application/certification-center-invitations/index_test.js
  api/tests/unit/application/security-pre-handlers_test.js
  api/tests/unit/application/usecases/check-user-is-admin-of-certification-center-with-certification-center-invitation-id_test.js
  certif/app/components/table/header.hbs
  certif/app/components/team/invitations-list-item.hbs
  certif/app/components/team/invitations-list.hbs
  certif/app/controllers/authenticated/team/list/invitations.js
  certif/app/styles/app.scss
  certif/app/styles/components/team/invitations-list-item.scss
  certif/app/templates/authenticated/team/list/invitations.hbs
  certif/mirage/config.js
  certif/tests/acceptance/team/invitations_test.js
  certif/tests/acceptance/team/list/invitations_test.js
  certif/tests/integration/components/team/invitations-list-item_test.js
  certif/tests/integration/components/team/invitations-list_test.js
  certif/tests/unit/controllers/authenticated/team/list/invitations_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-acces, team-certif

#7488 [FEATURE][ADMIN] Pouvoir changer le rôle d'un membre d'un centre de certif depuis la page de l'utilisateur
  admin/app/components/users/certification-center-memberships.hbs
  admin/app/components/users/certification-center-memberships.js
  admin/app/components/users/certification-centers/membership-item-actions.hbs
  admin/app/components/users/certification-centers/membership-item-role.hbs
  admin/app/components/users/certification-centers/membership-item.hbs
  admin/app/components/users/certification-centers/membership-item.js
  admin/app/components/users/certification-centers/memberships.hbs
  admin/app/components/users/certification-centers/memberships.js
  admin/app/controllers/authenticated/users/get/certification-center-memberships.js
  admin/app/styles/app.scss
  admin/app/styles/components/users/membership-item.scss
  admin/app/templates/authenticated/users/get/certification-center-memberships.hbs
  admin/tests/acceptance/authenticated/users/get/certification-center-memberships_test.js
  admin/tests/integration/components/users/certification-center-memberships_test.js
  admin/tests/integration/components/users/certification-centers/membership-item-actions_test.js
  admin/tests/integration/components/users/certification-centers/membership-item-role_test.js
  admin/tests/integration/components/users/certification-centers/membership-item_test.js
  admin/tests/integration/components/users/certification-centers/memberships_test.js
  admin/tests/unit/components/users/certification-centers/memberships_test.js
  admin/tests/unit/controllers/authenticated/users/get/certification-center-memberships_test.js
  admin/translations/en.json
  admin/translations/fr.json
Labels: :rocket: Ready to Merge, team-acces, team-certif

#7567 [TECH] Ajouter le script de migration supprimant la table autonomous-courses (PIX-10104).
  api/db/migrations/20231201142713_remove-autonomous-courses-table.js
  api/tests/evaluation/integration/domain/usecases/save-autonomous-course_test.js
  api/tests/evaluation/integration/infrastructure/repositories/autonomous-course-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, no-review-app

#7565 [TECH] Migration de certification candidate for supervising dans src
  api/lib/application/sessions/index.js
  api/lib/application/sessions/session-controller.js
  api/lib/domain/events/index.js
  api/lib/domain/models/index.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/certification-officer-repository.js
  api/lib/infrastructure/repositories/sessions/session-for-supervising-repository.js
  api/scripts/certification/cancel-certifications-and-publish-sessions.js
  api/src/certification/session/application/certification-officer-controller.js
  api/src/certification/session/application/certification-officer-route.js
  api/src/certification/session/domain/models/CertificationOfficer.js
  api/src/certification/session/domain/usecases/assign-certification-officer-to-jury-session.js
  api/src/certification/session/infrastructure/repositories/certification-officer-repository.js
  api/src/certification/session/infrastructure/repositories/finalized-session-repository.js
  api/src/certification/session/infrastructure/repositories/jury-session-repository.js
  api/src/certification/session/routes.js
  api/src/certification/shared/domain/usecases/index.js
  api/src/certification/supervision/domain/models/CertificationCandidateForSupervising.js
  api/src/certification/supervision/infrastructure/repositories/certification-candidate-for-supervising-repository.js
  api/tests/acceptance/application/session/session-controller-patch-user-assignment_test.js
  api/tests/certification/session/acceptance/application/certification-officer-controller_test.js
  api/tests/certification/session/integration/domain/models/CertificationOfficer_test.js
  api/tests/certification/session/integration/infrastructure/repositories/certification-officer-repository_test.js
  api/tests/certification/session/integration/infrastructure/repositories/finalized-session-repository_test.js
  api/tests/certification/session/integration/infrastructure/repositories/jury-session-repository_test.js
  api/tests/certification/session/unit/application/certification-officer-controller_test.js
  api/tests/certification/session/unit/application/certification-officer-route_test.js
  api/tests/certification/supervising/integration/infrastructure/repositories/certification-candidate-for-supervising-repository_test.js
  api/tests/certification/supervising/unit/CertificationCandidateForSupervising_test.js
  api/tests/tooling/domain-builder/factory/build-certification-candidate-for-supervising.js
  api/tests/tooling/domain-builder/factory/build-certification-officer.js
  api/tests/unit/application/session/index_test.js
  api/tests/unit/application/session/session-controller_test.js
  api/tests/unit/domain/usecases/assign-certification-officer-to-session_test.js
  api/tests/unit/domain/usecases/authorize-certification-candidate-to-start_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, certif-next-gen

#7582 [TECH] Simplifier l'injection de dépendances au niveau des controllers dans le contexte de DevComp (PIX-10238).
  api/src/devcomp/application/modules/controller.js
  api/src/devcomp/application/modules/index.js
  api/src/devcomp/infrastructure/utils/handlerWithDependencies.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-devcomp

#7579 [FEATURE] Pouvoir configurer le nombre max de challenges capés sur la variation de capacité (PIX-10187).
  api/db/database-builder/factory/build-flash-algorithm-configuration.js
  api/db/migrations/20231204132912_add-variation-percent-until-for-flash-simulator.js
  api/src/certification/flash-certification/application/scenario-simulator-controller.js
  api/src/certification/flash-certification/application/scenario-simulator-route.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/model/FlashAssessmentAlgorithmConfiguration.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/src/certification/flash-certification/domain/usecases/simulate-flash-deterministic-assessment-scenario.js
  api/tests/certification/flash-certification/integration/infrastructure/repositories/flash-algorithm-configuration-repository_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
  api/tests/tooling/domain-builder/factory/build-flash-algorithm-configuration.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-certification_test.js
  api/tests/unit/domain/usecases/simulate-flash-deterministic-assessment-scenario_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7585 [TECH] Supprimer la clef de traduction current-lang de mon-pix
  mon-pix/app/authenticators/anonymous.js
  mon-pix/app/components/authentication/login-or-register-oidc.js
  mon-pix/app/components/data-protection-policy-information-banner.js
  mon-pix/app/components/signup-form.js
  mon-pix/app/controllers/authenticated/user-trainings.js
  mon-pix/app/controllers/authenticated/user-tutorials/recommended.js
  mon-pix/app/controllers/authenticated/user-tutorials/saved.js
  mon-pix/app/helpers/text-with-multiple-lang.js
  mon-pix/app/services/url.js
  mon-pix/app/templates/authenticated/user-trainings.hbs
  mon-pix/app/templates/authenticated/user-tutorials/recommended.hbs
  mon-pix/app/templates/authenticated/user-tutorials/saved.hbs
  mon-pix/tests/unit/components/signup-form_test.js
  mon-pix/tests/unit/helpers/text-with-multiple-lang_test.js
  mon-pix/tests/unit/services/url_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#7588 [TECH] Nettoyer le fichier .gitignore
  .gitignore
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#7589 [TECH] Permet de désactiver le logger en développement
  api/src/shared/config.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#7407 [TECH] Migrer pix certif sur ember-data 4.12
  certif/app/components/import-candidates.js
  certif/app/controllers/authenticated/team/invite.js
  certif/app/routes/join.js
  certif/package-lock.json
  certif/package.json
  certif/tests/acceptance/join_test.js
  certif/tests/acceptance/routes/authenticated/team/invite_test.js
  certif/tests/acceptance/session-details-certification-candidates_test.js
  certif/tests/acceptance/session-import_test.js
  certif/tests/acceptance/session-supervising_test.js
  certif/tests/unit/routes/join_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#7624 [TECH] Passer le versionning de `@fortawesome/fontawesome-svg-core` en `^`
  1d/package-lock.json
  1d/package.json
  admin/package-lock.json
  admin/package.json
  certif/package-lock.json
  certif/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, no-review-app

#7594 [TECH] Retirer l'utilisation du Feature Toggle Suppression d'un participant (PIX-10255)
  orga/app/components/organization-participant/list.js
  orga/app/components/sup-organization-participant/list.js
  orga/config/environment.js
  orga/tests/integration/components/organization-participant/list_test.js
  orga/tests/integration/components/sup-organization-participant/list_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7601 [TECH] Factoriser les adapter dans Pix Orga afin de n'avoir qu'une mention au deleteParticipant (PIX-10258)
  orga/app/adapters/sup-organization-participant.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#7623 [TECH] Supprimer la clef de traduction current-lang de certif
  certif/app/components/no-session-panel.js
  certif/app/components/sessions/panel-header.js
  certif/app/controllers/terms-of-service.js
  certif/app/helpers/text-with-multiple-lang.js
  certif/app/routes/authenticated/sessions/import.js
  certif/app/services/url.js
  certif/tests/unit/components/no-session-panel_test.js
  certif/tests/unit/components/sessions/panel-header_test.js
  certif/tests/unit/helpers/text-with-multiple-lang_test.js
  certif/tests/unit/routes/authenticated/sessions/import_test.js
  certif/tests/unit/services/url_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#7583 [BUGFIX] Cacher le bouton détacher le profil cible pour les organisations qui sont référentes (PIX-10205)
  admin/app/components/organizations/target-profiles-section.hbs
  admin/app/components/organizations/target-profiles-section.js
  admin/app/models/target-profile-summary.js
  admin/tests/integration/components/organizations/target-profiles-section_test.js
  admin/tests/unit/components/organizations/target-profiles-section_test.js
  api/lib/domain/models/TargetProfileSummaryForAdmin.js
  api/lib/infrastructure/repositories/target-profile-summary-for-admin-repository.js
  api/lib/infrastructure/serializers/jsonapi/target-profile-summary-for-admin-serializer.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
  api/tests/devcomp/acceptance/application/trainings/training-controller_test.js
  api/tests/integration/infrastructure/repositories/target-profile-summary-for-admin-repository_test.js
  api/tests/tooling/domain-builder/factory/build-target-profile-summary-for-admin.js
  api/tests/unit/application/organizations/organization-controller_test.js
  api/tests/unit/domain/models/TargetProfileSummaryForAdmin_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/target-profile-summary-for-admin-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7609 [TECH] Déplacer la route Mission dans le contexte School (Pix-10253)
  api/lib/domain/usecases/get-mission.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/mission-repository.js
  api/lib/routes.js
  api/src/school/application/mission-controller.js
  api/src/school/application/mission-route.js
  api/src/school/domain/models/Mission.js
  api/src/school/domain/usecases/get-mission.js
  api/src/school/infrastructure/repositories/mission-repository.js
  api/src/school/infrastructure/serializers/mission-serializer.js
  api/src/school/routes.js
  api/src/school/shared/usecases/index.js
  api/tests/integration/infrastructure/repositories/mission-repository_test.js
  api/tests/school/integration/application/mission-controller_test.js
  api/tests/school/integration/infrastructure/repositories/mission-repository_test.js
  api/tests/school/unit/application/mission-route_test.js
  api/tests/tooling/domain-builder/factory/build-mission.js
  api/tests/unit/application/missions/mission-controller_test.js
  api/tests/unit/domain/usecases/get-mission_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/mission-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7622 [TECH] Supprimer la clef de traduction current-lang de orga
  orga/app/helpers/text-with-multiple-lang.js
  orga/app/services/url.js
  orga/tests/unit/helpers/text-with-multiple-lang-test.js
  orga/tests/unit/services/url_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#7522 [FEATURE] Ajouter le formulaire de création d'un parcours autonome dans PixAdmin (PIX-9807).
  admin/app/adapters/autonomous-course-target-profile.js
  admin/app/adapters/autonomous-course.js
  admin/app/components/autonomous-courses/create-autonomous-course-form.hbs
  admin/app/components/autonomous-courses/create-autonomous-course-form.js
  admin/app/components/menu-bar.hbs
  admin/app/controllers/authenticated/autonomous-courses/list.js
  admin/app/controllers/authenticated/autonomous-courses/new.js
  admin/app/models/autonomous-course-target-profile.js
  admin/app/models/autonomous-course.js
  admin/app/router.js
  admin/app/routes/authenticated/autonomous-courses/autonomous-course.js
  admin/app/routes/authenticated/autonomous-courses/index.js
  admin/app/routes/authenticated/autonomous-courses/list.js
  admin/app/routes/authenticated/autonomous-courses/new.js
  admin/app/styles/app.scss
  admin/app/styles/components/autonomous-courses/create-autonomous-course-form.scss
  admin/app/templates/authenticated/autonomous-courses.hbs
  admin/app/templates/authenticated/autonomous-courses/list.hbs
  admin/app/templates/authenticated/autonomous-courses/new.hbs
  admin/mirage/config.js
  admin/mirage/handlers/autonomous-courses.js
  admin/tests/acceptance/authenticated/autonomous-crouses/autonomous-courses_test.js
  admin/tests/integration/components/autonomous-courses/create-autonomous-course-form_test.js
  admin/tests/integration/components/menu-bar_test.js
  admin/tests/unit/components/autonomous-courses/create-autonomous-course-form_test.js
  admin/tests/unit/controllers/authenticated/autonomous-courses/new_test.js
  admin/tests/unit/routes/authenticated/autonomous-courses/autonomous-course_test.js
  admin/tests/unit/routes/authenticated/autonomous-courses/new_test.js
  api/db/seeds/data/team-evaluation/build-seeds-for-autonomous-courses.js
  api/db/seeds/data/team-evaluation/data-builder.js
  api/src/evaluation/application/autonomous-courses/autonomous-course-controller.js
  api/src/evaluation/application/autonomous-courses/index.js
  api/src/evaluation/domain/errors.js
  api/src/evaluation/domain/usecases/save-autonomous-course.js
  api/src/evaluation/infrastructure/serializers/jsonapi/autonomous-course-serializer.js
  api/src/shared/application/error-manager.js
  api/src/shared/domain/errors.js
  api/tests/evaluation/acceptance/application/autonomous-courses/autonomous-course-controller_test.js
  api/tests/evaluation/integration/domain/usecases/save-autonomous-course_test.js
  api/tests/evaluation/unit/application/autonomous-courses/autonomous-course-controller_test.js
  api/tests/evaluation/unit/domain/usecases/save-autonomous-course_test.js
  api/tests/evaluation/unit/infrastructure/serializers/jsonapi/autonomous-course-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#7546 [BUGFIX] Harmoniser la taille des boutons sur la création de session en masse et ajout de candidat sur Pix Certif (PIX-10142).
  certif/app/styles/pages/authenticated/sessions/details/certification-candidates.scss
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/tests/acceptance/routes/authenticated/sessions/import_test.js
  certif/tests/acceptance/session-details-certification-candidates_test.js
  certif/tests/acceptance/session-import_test.js
Labels: :rocket: Ready to Merge, team-certif

#7541 [FEATURE] Expliciter la désignation d'un référent CléA Numérique dans les espaces Pix Certif des CDC habilités (PIX-9882).
  certif/app/components/members-list-item.hbs
  certif/app/controllers/authenticated/team/list.js
  certif/app/styles/pages/authenticated/team.scss
  certif/app/templates/authenticated/team/list.hbs
  certif/tests/acceptance/team/list/list_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#7575 [TECH] Simplification des definitions JSDoc (PIX-10211)
  api/lib/domain/services/session-publication-service.js
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/publish-session.js
  api/src/certification/session/domain/usecases/add-certification-candidate-to-session.js
  api/src/certification/session/domain/usecases/assign-certification-officer-to-jury-session.js
  api/src/certification/session/domain/usecases/create-session.js
  api/src/certification/session/domain/usecases/delete-session.js
  api/src/certification/session/domain/usecases/delete-unlinked-certification-candidate.js
  api/src/certification/session/domain/usecases/dismiss-live-alert.js
  api/src/certification/session/domain/usecases/get-attendance-sheet.js
  api/src/certification/session/domain/usecases/get-cpf-presigned-urls.js
  api/src/certification/session/domain/usecases/get-invigilator-kit-session-info.js
  api/src/certification/session/domain/usecases/get-session-certification-candidates.js
  api/src/certification/session/domain/usecases/integrate-cpf-processing-receipts.js
  api/src/certification/session/domain/usecases/update-session.js
  api/src/certification/session/domain/usecases/upload-cpf-files.js
  api/src/certification/session/domain/usecases/validate-live-alert.js
  api/src/certification/shared/domain/usecases/index.js
Labels: :rocket: Ready to Merge, team-certif, cross-team

#7642 [FEATURE] MAJ des commentaires auto-jury en certif V3 (PIX-10212).
  api/lib/domain/events/handle-certification-rescoring.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7652 [FEATURE] Pouvoir activer l'affichage des places à une orga depuis PixAdmin (PIX-9725)
  admin/app/components/organizations/information-section-edit.hbs
  admin/app/components/organizations/information-section-edit.js
  admin/app/components/organizations/information-section-view.hbs
  admin/app/models/organization.js
  admin/app/styles/authenticated/organizations/get.scss
  admin/app/styles/globals/form.scss
  admin/tests/integration/components/organizations/information-section_test.js
  admin/tests/unit/models/organization_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7643 [FEATURE] Fixer le score maximum d'une certification à 896 Pix (PIX-10132).
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/lib/domain/models/CertificationAssessmentScoreV3.js
  api/lib/domain/models/CertificationCourse.js
  api/tests/tooling/domain-builder/factory/build-certification-course.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/tests/unit/domain/models/CertificationAssessmentScoreV3_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7627 [FEATURE][CERTIF] Permettre à un administrateur de renvoyer une invitation en attente (PIX-9786)
  api/lib/application/certification-center-invitations/certification-center-invitation-controller.js
  api/lib/application/certification-center-invitations/index.js
  api/lib/domain/services/certification-center-invitation-service.js
  api/lib/domain/usecases/resend-certification-center-invitation.js
  api/lib/infrastructure/serializers/jsonapi/certification-center-invitation-serializer.js
  api/lib/infrastructure/utils/request-response-utils.js
  api/tests/acceptance/application/certification-center-invitations/index_test.js
  api/tests/unit/application/certification-center-invitations/certification-center-invitation-controller_test.js
  api/tests/unit/domain/services/certification-center-invitation-service_test.js
  api/tests/unit/domain/usecases/resend-certification-center-invitation_test.js
  certif/app/components/team/invitations-list-item.hbs
  certif/app/components/team/invitations-list.hbs
  certif/app/controllers/authenticated/team/list/invitations.js
  certif/app/models/certification-center-invitation.js
  certif/app/templates/authenticated/team/list/invitations.hbs
  certif/config/environment.js
  certif/mirage/config.js
  certif/tests/acceptance/team/list/invitations_test.js
  certif/tests/integration/components/team/invitations-list-item_test.js
  certif/tests/integration/components/team/invitations-list_test.js
  certif/tests/unit/controllers/authenticated/team/list/invitations_test.js
  certif/tests/unit/models/certification-center-invitation_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-acces, team-certif

#7644 [TECH] Migrer AssessmentResult vers la nouvelle arbo API (PIX-9927).
  api/db/database-builder/factory/build-assessment-result.js
  api/lib/application/certification-courses/certification-course-controller.js
  api/lib/domain/errors.js
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/lib/domain/events/index.js
  api/lib/domain/models/CertificationAssessmentScore.js
  api/lib/domain/models/CertificationAssessmentScoreV3.js
  api/lib/domain/models/PrivateCertificate.js
  api/lib/domain/models/index.js
  api/lib/domain/read-models/JuryCertificationSummary.js
  api/lib/domain/services/placement-profile-service.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/certification-repository.js
  api/lib/routes.js
  api/scripts/certification/fill-pix-certification-status-column-in-certification-courses-table.js
  api/src/certification/session/infrastructure/repositories/cpf-certification-result-repository.js
  api/src/certification/shared/domain/usecases/index.js
  api/src/shared/application/assessment-results/assessment-result-controller.js
  api/src/shared/application/assessment-results/index.js
  api/src/shared/domain/errors.js
  api/src/shared/domain/models/AssessmentResult.js
  api/src/shared/domain/services/.gitkeep
  api/src/shared/domain/services/assessment-result-service.js
  api/src/shared/infrastructure/repositories/assessment-result-repository.js
  api/src/shared/routes.js
  api/tests/acceptance/application/session/session-controller-patch-publish-session_test.js
  api/tests/acceptance/application/session/session-controller-patch-unpublish-session_test.js
  api/tests/certification/course/integration/infrastructure/repositories/certificate-repository_test.js
  api/tests/certification/session/integration/infrastructure/repositories/cpf-certification-result-repository_test.js
  api/tests/integration/domain/event/handle-complementary-certifications-scoring_test.js
  api/tests/integration/infrastructure/repositories/certification-repository_test.js
  api/tests/integration/infrastructure/repositories/jury-certification-summary-repository_test.js
  api/tests/integration/scripts/certification/fill-pix-certification-status-column-in-certification-courses-table_test.js
  api/tests/shared/acceptance/application/assessment-results/assessment-result-admin-controller_test.js
  api/tests/shared/integration/infrastructure/repositories/assessment-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/assessment-result-repository_test.js
  api/tests/shared/unit/application/assessment-results/assessment-result-controller_test.js
  api/tests/shared/unit/application/assessment-results/index_test.js
  api/tests/shared/unit/domain/models/AssessmentResult_test.js
  api/tests/tooling/domain-builder/factory/build-assessment-result.js
  api/tests/tooling/domain-builder/factory/build-certification-assessment-score-v3.js
  api/tests/tooling/domain-builder/factory/build-certifications-results-for-ls.js
  api/tests/tooling/domain-builder/factory/build-jury-certification-summary.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/tests/unit/domain/events/handle-session-finalized_test.js
  api/tests/unit/domain/models/CertificationAssessmentScoreV3_test.js
  api/tests/unit/domain/models/FinalizedSession_test.js
  api/tests/unit/domain/models/PrivateCertificate_test.js
  api/tests/unit/domain/read-models/JuryCertificationSummary_test.js
  api/tests/unit/domain/services/assessment-result-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, Bounded-context-migration

#7650 [FEATURE] Retirer les variantes de challenges avec des signalements validés (PIX-10171).
  api/lib/domain/usecases/get-next-challenge-for-certification.js
  api/tests/unit/domain/usecases/get-next-challenge-for-certification_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7631 [FEATURE][CERTIF] Permettre aux administrateurs d'un centre de certification de changer le rôle de ses membres (PIX-5001)
  api/db/database-builder/factory/build-user.js
  api/db/seeds/data/team-acces/build-certification-centers.js
  api/lib/application/certification-center-memberships/certification-center-membership-controller.js
  api/lib/application/certification-center-memberships/index.js
  api/lib/infrastructure/repositories/certification-center-membership-repository.js
  api/lib/infrastructure/serializers/jsonapi/certification-center-membership-serializer.js
  api/tests/acceptance/application/certification-center-memberships/certification-center-membership-controller_test.js
  api/tests/integration/application/certification-center-memberships/certification-center-membership-controller_test.js
  api/tests/integration/infrastructure/repositories/certification-center-membership-repository_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-center-membership-serializer_test.js
  certif/app/adapters/member.js
  certif/app/components/dropdown/icon-trigger.hbs
  certif/app/components/dropdown/icon-trigger.js
  certif/app/components/dropdown/item.js
  certif/app/components/members-list-item.hbs
  certif/app/components/members-list-item.js
  certif/app/components/members-list.hbs
  certif/app/components/members-list.js
  certif/app/models/member.js
  certif/app/styles/components/members-list-item.scss
  certif/tests/acceptance/routes/authenticated/team/members-list-item_test.js
  certif/tests/integration/components/dropdown/icon-trigger_test.js
  certif/tests/integration/components/members-list-item_test.js
  certif/tests/integration/components/members-list_test.js
  certif/tests/unit/adapters/member_test.js
  certif/tests/unit/components/members-list-item_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-acces, team-certif

#7581 [TECH] Ajouter des seeds pour les parcours autonomes (PIX-10234).
  api/db/seeds/data/team-evaluation/autonomous-courses/create-autonomous-courses.js
  api/db/seeds/data/team-evaluation/build-seeds-for-autonomous-courses.js
  api/db/seeds/data/team-evaluation/constants.js
  api/db/seeds/data/team-evaluation/data-builder.js
  api/db/seeds/data/team-evaluation/users/eval-campaign-with-badges.js
  api/db/seeds/data/team-evaluation/users/eval-campaign-with-stages.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#7638 [TECH] Migrer le scope Badge vers la nouvelle arbo API (PIX-9929).
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/domain/events/index.js
  api/lib/domain/models/index.js
  api/lib/domain/usecases/create-badge.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/adapters/target-profile-adapter.js
  api/lib/infrastructure/repositories/organizations-to-attach-to-target-profile-repository.js
  api/lib/infrastructure/repositories/target-profile-repository.js
  api/lib/routes.js
  api/scripts/create-badge-criteria-for-specified-badge.js
  api/src/certification/complementary-certification/infrastructure/repositories/complementary-certification-badge-repository.js
  api/src/certification/shared/domain/usecases/index.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/shared/application/badges/badges-controller.js
  api/src/shared/application/badges/index.js
  api/src/shared/domain/errors.js
  api/src/shared/domain/models/Badge.js
  api/src/shared/domain/usecases/delete-unassociated-badge.js
  api/src/shared/domain/usecases/index.js
  api/src/shared/domain/usecases/update-badge.js
  api/src/shared/infrastructure/repositories/badge-repository.js
  api/src/shared/infrastructure/serializers/jsonapi/badge-serializer.js
  api/src/shared/routes.js
  api/tests/integration/domain/usecases/attach-organizations-from-existing-target-profile_test.js
  api/tests/integration/domain/usecases/create-badge_test.js
  api/tests/integration/infrastructure/repositories/organizations-to-attach-to-target-profile-repository_test.js
  api/tests/integration/infrastructure/repositories/target-profile-repository_test.js
  api/tests/prescription/campaign/integration/domain/usecases/get-campaign_test.js
  api/tests/shared/acceptance/application/badges/badge-controller_test.js
  api/tests/shared/integration/infrastructure/repositories/badge-repository_test.js
  api/tests/shared/unit/application/badges/index_test.js
  api/tests/shared/unit/domain/usecases/delete-unassociated-badge_test.js
  api/tests/shared/unit/infrastructure/serializers/jsonapi/badge-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-badge.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, Bounded-context-migration

#7660 [FEATURE] Renommer le bouton permettant de modifier les infos candidats d'une certification sur Pix Admin (PIX-10164).
  admin/app/templates/authenticated/certifications/certification/informations.hbs
  admin/tests/acceptance/authenticated/certifications/certification/informations_test.js
Labels: :rocket: Ready to Merge, certif-next-gen

#7661 [FEATURE] Ne pas afficher le bouton de rejet d'une certif pour une certif initialement rejetée sur Pix Admin (PIX-10207).
  admin/app/controllers/authenticated/certifications/certification/informations.js
  admin/app/models/certification.js
  admin/app/templates/authenticated/certifications/certification/informations.hbs
  admin/mirage/config.js
  admin/tests/acceptance/authenticated/certifications/certification/informations_test.js
  admin/tests/unit/controllers/authenticated/certifications/certification/informations_test.js
  api/lib/domain/models/JuryCertification.js
  api/lib/infrastructure/repositories/jury-certification-repository.js
  api/lib/infrastructure/serializers/jsonapi/jury-certification-serializer.js
  api/tests/acceptance/application/certification-courses/certification-course-controller_test.js
  api/tests/integration/infrastructure/repositories/jury-certification-repository_test.js
  api/tests/tooling/domain-builder/factory/build-jury-certification.js
  api/tests/unit/domain/models/JuryCertification_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/jury-certification-serializer_test.js
Labels: :rocket: Ready to Merge, certif-next-gen

#7651 [FEATURE] Ajouter une icône sur la liste des campagnes (PIX-10310)
  high-level-tests/e2e/cypress/support/step_definitions/campaign.js
  orga/app/components/campaign/detail/type.hbs
  orga/app/components/campaign/detail/type.js
  orga/app/components/campaign/list.hbs
  orga/app/components/campaign/list.js
  orga/app/components/organization-learner/activity/campaign-type.hbs
  orga/app/components/organization-learner/activity/participation-row.hbs
  orga/app/components/organization-learner/activity/participation-row.js
  orga/app/styles/components/campaign/detail/index.scss
  orga/app/styles/components/campaign/detail/type.scss
  orga/app/styles/components/campaign/index.scss
  orga/app/styles/components/campaign/list.scss
  orga/app/styles/components/organization-learner/index.scss
  orga/mirage/factories/campaign.js
  orga/tests/acceptance/campaign-list-all-campaigns_test.js
  orga/tests/acceptance/campaign-list-my-campaigns_test.js
  orga/tests/integration/components/campaign/list_test.js
  orga/tests/integration/components/organization-learner/activity/participation-list_test.js
  orga/tests/integration/components/organization-learner/activity/participation-row_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7628 [TECH] Fix la version de libxmljs2 à 0.32.0 pour rester compatible avec les proc ARM (PIX-10260).
  api/package-lock.json
  api/package.json
Labels: :rocket: Ready to Merge, team-certif, cross-team

#7668 [FEATURE] Ajoute l'organizationId sur le model Campaign de PixApp (PIX-10345).
  api/lib/infrastructure/serializers/jsonapi/campaign-to-join-serializer.js
  api/tests/unit/application/campaign/campaign-controller_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/campaign-to-join-serializer_test.js
  mon-pix/app/models/campaign.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7637 [TECH] Afficher directement les informations pour l'import de sessions en masse sur Pix Certif (PIX-10148)
  certif/app/components/import/step-one-section.hbs
  certif/app/components/import/step-two-section.hbs
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/tests/acceptance/routes/authenticated/sessions/import_test.js
  certif/tests/integration/components/sessions-import/step-one-section_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7670 [BUGFIX] Finaliser un parcours lorsqu'un tube de déclencheur de CF n'est plus disponible dans le référentiel (PIX-10347).
  api/src/devcomp/infrastructure/repositories/training-trigger-repository.js
  api/tests/devcomp/integration/infrastructure/repositories/training-trigger-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#7664 [TECH] Installer toutes les dépendances dans circleci
  .circleci/config.yml
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#7663 [TECH] Supprimer le paramètre disableEntropyCache des appels a randomUUID
  api/lib/domain/services/authentication/fwb-oidc-authentication-service.js
  api/lib/domain/services/authentication/oidc-authentication-service.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#7647 [FEATURE] Afficher le titre et la date du jour sur la page Places (PIX-9722)
  orga/app/components/places/title.hbs
  orga/app/components/places/title.js
  orga/app/models/prescriber.js
  orga/app/router.js
  orga/app/routes/authenticated/campaigns.js
  orga/app/routes/authenticated/places.js
  orga/app/styles/app.scss
  orga/app/styles/components/places/index.scss
  orga/app/styles/components/places/title.scss
  orga/app/templates/authenticated/campaigns.hbs
  orga/app/templates/authenticated/campaigns/list/all-campaigns.hbs
  orga/app/templates/authenticated/campaigns/list/my-campaigns.hbs
  orga/app/templates/authenticated/places.hbs
  orga/tests/integration/components/places/title_test.js
  orga/tests/unit/models/prescriber_test.js
  orga/tests/unit/routes/authenticated/campaigns_test.js
  orga/tests/unit/routes/authenticated/places_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7665 [TECH] améliore le temps d'exécution de la requête qui affiche les participants d'une orga sans import (PIX-10108)
  api/src/prescription/organization-learner/infrastructure/repositories/organization-participant-repository.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-participant-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, performance

#7640 [TECH] améliore le temps d'exécution de la requête qui affiche les participants d'une orga SCO (PIX-10110)
  api/src/prescription/organization-learner/infrastructure/repositories/sco-organization-participant-repository.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/sco-organization-participant-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, performance

#7587 [TECH] améliore le temps d'exécution de la requête qui affiche les participants d'une orga sup (PIX-10109)
  api/src/prescription/organization-learner/infrastructure/repositories/sup-organization-participant-repository.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/sup-organization-participant-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, performance

#7639 [FEATURE] Modification de la hiérarchie des boutons de création de sessions (PIX-10147).
  certif/app/components/no-session-panel.hbs
  certif/app/components/sessions/panel-header.hbs
  certif/app/styles/pages/authenticated/sessions/list-items.scss
  certif/tests/integration/components/sessions/panel-header_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7677 [TECH] Suppression de l'édition de résultats de la page détails d'Admin (PIX-10361).
  admin/app/components/certifications/details-answer.hbs
  admin/app/components/certifications/details-answer.js
  admin/app/components/certifications/details-competence.hbs
  admin/app/components/certifications/details-competence.js
  admin/app/controllers/authenticated/certifications/certification/details.js
  admin/app/controllers/authenticated/certifications/certification/informations.js
  admin/app/routes/authenticated/certifications/certification/informations.js
  admin/app/services/mark-store.js
  admin/app/templates/authenticated/certifications/certification/details.hbs
  admin/tests/integration/components/certifications/details-answer_test.js
  admin/tests/integration/components/certifications/details-competence_test.js
  admin/tests/unit/components/certifications/details-competence_test.js
  admin/tests/unit/controllers/authenticated/certifications/certification/details_test.js
  admin/tests/unit/controllers/authenticated/certifications/certification/informations_test.js
  admin/tests/unit/services/mark-store_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#7685 [BUGFIX] Améliorer les différents états des boutons (PIX-10388)
  1d/app/pods/identified/missions/list/missions.scss
  1d/app/pods/school/school.scss
  1d/app/styles/globals/_buttons.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, Design Review OK, 🎒👧🏽👦🏾 Pix1D

#7580 [FEATURE] Accéder à un élément QROC M Indep (PIX-10117)
  api/src/devcomp/domain/models/block/BlockInput.js
  api/src/devcomp/domain/models/block/BlockSelect.js
  api/src/devcomp/domain/models/block/BlockSelectOption.js
  api/src/devcomp/domain/models/block/BlockText.js
  api/src/devcomp/domain/models/element/QROCM.js
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
  api/tests/devcomp/unit/domain/models/block/BlockInput_test.js
  api/tests/devcomp/unit/domain/models/block/BlockSelectOption_test.js
  api/tests/devcomp/unit/domain/models/block/BlockSelect_test.js
  api/tests/devcomp/unit/domain/models/block/BlockText_test.js
  api/tests/devcomp/unit/domain/models/element/Element_test.js
  api/tests/devcomp/unit/domain/models/element/QROCM_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/module-datasource_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
  mon-pix/app/helpers/html-safe.js
  mon-pix/app/helpers/html-unsafe.js
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/components/module/image/template.hbs
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/app/pods/components/module/qrocm/component.js
  mon-pix/app/pods/components/module/qrocm/styles.scss
  mon-pix/app/pods/components/module/qrocm/template.hbs
  mon-pix/app/pods/components/module/text/template.hbs
  mon-pix/app/pods/element/model.js
  mon-pix/app/pods/qrocm/model.js
  mon-pix/tests/acceptance/module/verify-qrocm_test.js
  mon-pix/tests/integration/components/module/grain_test.js
  mon-pix/tests/integration/components/module/qrocm_test.js
  mon-pix/tests/integration/helpers/html-unsafe_test.js
  mon-pix/tests/unit/models/modules/element_test.js
  mon-pix/tests/unit/models/modules/grain_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#7671 [FEATURE] Créer la page de détails pour une certification en V3 sur Pix Admin(PIX-10285).
  admin/app/components/certifications/certification/details-v2.hbs
  admin/app/components/certifications/certification/details-v3.hbs
  admin/app/components/target-profiles/target-profile.hbs
  admin/app/models/certification-details-v3.js
  admin/app/models/certification-details.js
  admin/app/routes/authenticated/certifications/certification/details.js
  admin/app/styles/app.scss
  admin/app/styles/authenticated/certifications/certification/details-v2.scss
  admin/app/styles/authenticated/certifications/certification/details-v3.scss
  admin/app/styles/components/target-profiles/target-profile.scss
  admin/app/templates/authenticated/certifications/certification.hbs
  admin/app/templates/authenticated/certifications/certification/details.hbs
  admin/tests/acceptance/authenticated/certifications/certification/details_test.js
  admin/tests/unit/models/certification-details_test.js
Labels: :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7683 [FEATURE] Ajouter un bouton de modification pour les commentaires jury d'une certification sur Pix Admin (PIX-10165).
  admin/app/components/certifications/certification/comments.hbs
  admin/app/components/certifications/certification/comments.js
  admin/app/controllers/authenticated/certifications/certification/informations.js
  admin/app/styles/authenticated/certifications/certification/informations.scss
  admin/app/templates/authenticated/certifications/certification/informations.hbs
  admin/tests/acceptance/authenticated/certifications/certification/informations_test.js
  admin/tests/unit/components/certifications/certification/comments_test.js
  admin/tests/unit/controllers/authenticated/certifications/certification/informations_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7680 [REFACTOR] Amélioration du style des détails de la page d'atterrissage des campagnes (PIX-10376)
  mon-pix/app/styles/pages/_campaign-landing-page.scss
  mon-pix/app/templates/campaigns/campaign-landing-page.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription

#7684 [BUGFIX] Ne plus remonter une 500 lors du double appel à la création d'une participation (PIX-10374)
  api/lib/application/error-manager.js
  api/lib/domain/errors.js
  api/lib/infrastructure/repositories/campaign-participant-repository.js
  api/tests/integration/infrastructure/repositories/campaign-participant-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#7686 [TECH] Mettre à jour ember-data en 4.7 sur Pix App (PIX-10420).
  mon-pix/app/components/authentication/oidc-reconciliation.js
  mon-pix/app/components/routes/campaigns/assessment/skill-review.js
  mon-pix/app/controllers/authenticated/user-account/connection-methods.js
  mon-pix/app/models/answer.js
  mon-pix/app/models/area.js
  mon-pix/app/models/assessment.js
  mon-pix/app/models/campaign-participation.js
  mon-pix/app/models/certification-course.js
  mon-pix/app/models/challenge.js
  mon-pix/app/models/competence-evaluation.js
  mon-pix/app/models/competence.js
  mon-pix/app/models/correction.js
  mon-pix/app/models/profile.js
  mon-pix/app/models/result-competence.js
  mon-pix/app/models/scorecard.js
  mon-pix/app/models/shared-profile-for-campaign.js
  mon-pix/app/models/training.js
  mon-pix/app/models/tutorial-evaluation.js
  mon-pix/app/models/tutorial.js
  mon-pix/app/models/user-saved-tutorial.js
  mon-pix/app/models/user.js
  mon-pix/app/routes/assessments/challenge.js
  mon-pix/app/routes/authenticated/competences/resume.js
  mon-pix/app/serializers/application.js
  mon-pix/app/services/oidc-identity-providers.js
  mon-pix/package-lock.json
  mon-pix/package.json
  mon-pix/tests/unit/routes/assessments/challenge_test.js
  mon-pix/tests/unit/routes/authenticated/competences/resume_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, dependencies

#7659 [TECH] Supprime la colonne partnerKey (PIX-10162 )
  api/db/migrations/20231206185610_drop-column-partner-key.js
  api/db/seeds/data/common/tooling/session-tooling.js
  api/lib/domain/models/ComplementaryCertificationScoringWithComplementaryReferential.js
  api/lib/domain/read-models/CertifiedBadge.js
  api/lib/infrastructure/repositories/certificate-repository.js
  api/src/certification/course/infrastructure/repositories/certificate-repository.js
  api/tests/acceptance/application/certifications/index_test.js
  api/tests/acceptance/application/complementary-certification-course-results/complementary-certification-course-results-controller_test.js
  api/tests/acceptance/application/session/session-controller-get-jury-certification-summaries_test.js
  api/tests/certification/course/acceptance/application/certification-attestation-route_test.js
  api/tests/certification/course/integration/infrastructure/repositories/certificate-repository_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-course-repository_test.js
  api/tests/integration/domain/event/handle-complementary-certifications-scoring_test.js
  api/tests/integration/infrastructure/repositories/certificate-repository_private_test.js
  api/tests/integration/infrastructure/repositories/certificate-repository_shareable_test.js
  api/tests/integration/infrastructure/utils/csv/certification-results/get-session-certification-results-csv_test.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-course-result-for-certification.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-course-result.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-scoring-without-complementary-referential.js
  api/tests/tooling/domain-builder/factory/build-pix-plus-certification-scoring.js
  api/tests/unit/domain/events/handle-complementary-certifications-scoring_test.js
  api/tests/unit/domain/models/ComplementaryCertificationCourseResult_test.js
  api/tests/unit/domain/models/ComplementaryCertificationCourseWithResults_test.js
  api/tests/unit/domain/models/ComplementaryCertificationScoringWithComplementaryReferential_test.js
  api/tests/unit/domain/models/ComplementaryCertificationScoringWithoutComplementaryReferential_test.js
  api/tests/unit/domain/models/JuryCertification_test.js
  api/tests/unit/domain/models/PartnerCertificationScoring_test.js
  api/tests/unit/domain/read-models/CertifiedBadge_test.js
  api/tests/unit/domain/read-models/ComplementaryCertificationCourseResultForJuryCertification_test.js
  api/tests/unit/domain/usecases/get-user-certification-eligibility_test.js
  api/tests/unit/domain/usecases/save-jury-complementary-certification-course-result_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/jury-certification-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7630 [FEATURE] Créer la page d'atterrissage d'un parcours autonome (PIX-9184).
  api/db/seeds/data/team-evaluation/autonomous-courses/create-autonomous-courses.js
  mon-pix/app/components/autonomous-course/landing-page-start-block.hbs
  mon-pix/app/components/autonomous-course/landing-page-start-block.js
  mon-pix/app/controllers/campaigns/campaign-landing-page.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/autonomous-course/_landing-page-start-block.scss
  mon-pix/app/templates/campaigns/campaign-landing-page.hbs
  mon-pix/config/environment.js
  mon-pix/mirage/factories/campaign.js
  mon-pix/tests/acceptance/campaigns/campaign-landing-page_test.js
  mon-pix/tests/integration/components/autonomous-course/landing-page-start-block_test.js
  mon-pix/tests/unit/components/autonomous-courses/landing-page-start-block_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#7698 [TECH] Revert "Créer la page d'atterrissage d'un parcours autonome (PIX-9184)."
  api/db/seeds/data/team-evaluation/autonomous-courses/create-autonomous-courses.js
  mon-pix/app/components/autonomous-course/landing-page-start-block.hbs
  mon-pix/app/components/autonomous-course/landing-page-start-block.js
  mon-pix/app/controllers/campaigns/campaign-landing-page.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/autonomous-course/_landing-page-start-block.scss
  mon-pix/app/templates/campaigns/campaign-landing-page.hbs
  mon-pix/config/environment.js
  mon-pix/mirage/factories/campaign.js
  mon-pix/tests/acceptance/campaigns/campaign-landing-page_test.js
  mon-pix/tests/integration/components/autonomous-course/landing-page-start-block_test.js
  mon-pix/tests/unit/components/autonomous-courses/landing-page-start-block_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#7682 [FEATURE] affiches les statistiques de places d'une organisation
  orga/app/adapters/organization-place-statistic.js
  orga/app/components/places/statistics.hbs
  orga/app/models/organization-place-statistic.js
  orga/app/routes/authenticated/places.js
  orga/app/styles/components/places/index.scss
  orga/app/styles/components/places/statistics.scss
  orga/app/templates/authenticated/places.hbs
  orga/tests/integration/components/places/statistics_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7703 [FEATURE] Modification du texte sur l'activation de la feature places d'une organisation (PIX-10413)
  admin/app/components/organizations/information-section-edit.hbs
  admin/app/components/organizations/information-section-view.hbs
  admin/tests/integration/components/organizations/information-section_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7702 [FEATURE] Modification de la traduction "places" en anglais (PIX-10419)
  orga/translations/en.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7704 [FEATURE] Utiliser la bonne couleur de fond dans les tag du Pix Score d'une collecte de profil (PIX-10432)
  orga/app/components/campaign/results/profile-list.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Design Review OK

#7700 [FEATURE] Ajouter l'entrée Places dans le menu (PIX-9724)
  orga/app/app.js
  orga/app/components/layout/sidebar.hbs
  orga/app/components/layout/sidebar.js
  orga/app/custom-icons/fapix-ticket.js
  orga/app/custom-icons/index.js
  orga/app/routes/authenticated/places.js
  orga/app/services/current-user.js
  orga/tests/acceptance/campaign-parameters_test.js
  orga/tests/acceptance/campaign-update_test.js
  orga/tests/integration/components/layout/sidebar_test.js
  orga/tests/unit/routes/authenticated/places_test.js
  orga/tests/unit/services/current-user_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7696 [FEATURE] Ajouter un endpoint interne pour mettre à jour une campagne (Pix-10138)
  api/lib/application/campaigns/campaign-controller.js
  api/lib/application/campaigns/index.js
  api/lib/domain/usecases/update-campaign.js
  api/lib/infrastructure/repositories/campaign-repository.js
  api/src/prescription/campaign/application/api/campaigns-api.js
  api/src/prescription/campaign/application/campaign-administration-route.js
  api/src/prescription/campaign/application/campaign-adminstration-controller.js
  api/src/prescription/campaign/domain/usecases/update-campaign.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-administration-repository.js
  api/tests/integration/infrastructure/repositories/campaign-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-repository_test.js
  api/tests/prescription/campaign/unit/application/api/campaigns-api_test.js
  api/tests/prescription/campaign/unit/application/campaign-administration-controller_test.js
  api/tests/prescription/campaign/unit/application/campaign-administration-route_test.js
  api/tests/prescription/campaign/unit/domain/usecases/update-campaign_test.js
  api/tests/unit/application/campaign/campaign-controller_test.js
  api/tests/unit/application/campaign/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription, Bounded-context-migration

#7672 [FEATURE] Mise en place du feature toggle pour la certification au niveau n-1 (PIX-10317)
  api/lib/infrastructure/validate-environment-variables.js
  api/sample.env
  api/src/shared/config.js
  api/tests/acceptance/application/feature-toggles/feature-toggle-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7687 [FEATURE] Supprimer le bouton d'édition globale des détails d'une certif sur Pix Admin (PIX-10168)
  admin/app/components/certifications/details-answer.js
  admin/app/components/certifications/status-select.hbs
  admin/app/components/certifications/status-select.js
  admin/app/controllers/authenticated/certifications/certification/informations.js
  admin/app/styles/authenticated/certifications/certification/informations.scss
  admin/app/templates/authenticated/certifications/certification/informations.hbs
  admin/tests/acceptance/authenticated/certifications/certification/informations_test.js
  admin/tests/integration/components/certifications/details-answer_test.js
  admin/tests/integration/components/certifications/status-select_test.js
  admin/tests/unit/controllers/authenticated/certifications/certification/informations_test.js
  api/lib/application/certification-courses/certification-course-controller.js
  api/lib/application/certification-courses/index.js
  api/src/certification/course/application/certification-course-controller.js
  api/src/certification/course/application/certification-course-route.js
  api/src/certification/course/domain/usecases/update-jury-comments.js
  api/src/certification/course/infrastructure/serializers/jsonapi/assessment-result-serializer.js
  api/src/certification/shared/domain/usecases/index.js
  api/src/shared/application/assessment-results/assessment-result-controller.js
  api/src/shared/application/assessment-results/index.js
  api/src/shared/domain/services/assessment-result-service.js
  api/src/shared/routes.js
  api/tests/certification/course/acceptance/application/certification-course-route_test.js
  api/tests/certification/course/unit/application/certification-course-controller_test.js
  api/tests/certification/course/unit/domain/usecases/update-jury-comments_test.js
  api/tests/certification/course/unit/infrasctructure/serializers/jsonapi/assessment-result-serializer_test.js
  api/tests/shared/acceptance/application/assessment-results/assessment-result-admin-controller_test.js
  api/tests/shared/unit/application/assessment-results/assessment-result-controller_test.js
  api/tests/shared/unit/application/assessment-results/index_test.js
  api/tests/unit/application/certification-courses/certification-course-controller_test.js
  api/tests/unit/domain/services/assessment-result-service_test.js
Labels: :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7681 [TECH] Ajout d'un script pour mettre à jour la colonne Authentication Complement (PIX-10101)
  api/lib/domain/usecases/update-authentication-complement.js
  api/scripts/team-acces/update-fwb-authentication-complements.js
  api/tests/unit/domain/usecases/update-authentication-complement_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#7716 [BUGFIX] Protege la route de liste des résultats d'une campagne (PIX-10438)
  api/lib/domain/usecases/find-assessment-participation-result-list.js
  api/tests/integration/domain/usecases/find-assessment-participation-result-list_test.js
  api/tests/unit/domain/usecases/find-assessment-participation-result-list_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7717 [RELEASE] A patch is being released to 4.77.1.
  CHANGELOG.md
Labels: :rocket: Ready to Merge

#7720 [FEATURE] Ajoute l'icône de la typologie de campagne sur les pages de détails d'une campagne (PIX-10349)
  orga/app/components/campaign/detail/type.hbs
  orga/app/components/campaign/detail/type.js
  orga/app/components/campaign/header/title.hbs
  orga/app/components/campaign/header/title.js
  orga/app/styles/components/campaign/detail/type.scss
  orga/app/styles/components/campaign/header/title.scss
  orga/tests/integration/components/campaign/header/title_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7719 [FEATURE] Ajouter un test d'acceptance pour la route assessment-results (PIX-10444)
  api/tests/acceptance/application/campaign-participations/campaign-participation-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, no-review-app

#7709 [TECH] Fixer le style sur l'un des sous-titre de la page d'import de masse de sessions (PIX-10434)
  certif/app/components/import/step-two-section.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7707 [TECH] Éviter que le test de la modal remplacer des étudiants soit Flaky sur Pix Orga (PIX-10421)
  orga/tests/integration/components/sup-organization-participant/import_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#7673 [TECH] Migre les usages de `momentjs`.
  api/lib/application/organizations/organization-controller.js
  api/lib/domain/models/KnowledgeElement.js
  api/lib/domain/read-models/participant-results/AssessmentResult.js
  api/lib/domain/services/improvement-service.js
  api/lib/infrastructure/exports/campaigns/campaign-profiles-collection-result-line.js
  api/lib/infrastructure/externals/pole-emploi/pole-emploi-notifier.js
  api/lib/infrastructure/files/candidates-import/CandidateData.js
  api/lib/infrastructure/files/candidates-import/SessionData.js
  api/lib/infrastructure/serializers/xml/xml-organization-learner-set.js
  api/lib/infrastructure/utils/CampaignAssessmentCsvLine.js
  api/package-lock.json
  api/package.json
  api/scripts/certification/get-results-certifications.js
  api/scripts/data-generation/generate-campaign-with-participants.js
  api/src/shared/config.js
  api/src/shared/infrastructure/repositories/user-repository.js
  api/tests/integration/domain/services/organization-learners-xml-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#7699 [FEATURE] Créer la page d'atterrissage d'un parcours autonome (PIX-9184).
  api/db/seeds/data/team-evaluation/autonomous-courses/create-autonomous-courses.js
  mon-pix/app/components/autonomous-course/landing-page-start-block.hbs
  mon-pix/app/components/autonomous-course/landing-page-start-block.js
  mon-pix/app/controllers/campaigns/campaign-landing-page.js
  mon-pix/app/routes/campaigns/entry-point.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/autonomous-course/_landing-page-start-block.scss
  mon-pix/app/templates/campaigns/campaign-landing-page.hbs
  mon-pix/config/environment.js
  mon-pix/mirage/factories/campaign.js
  mon-pix/tests/acceptance/campaigns/campaign-landing-page_test.js
  mon-pix/tests/integration/components/autonomous-course/landing-page-start-block_test.js
  mon-pix/tests/unit/components/autonomous-courses/landing-page-start-block_test.js
  mon-pix/tests/unit/routes/campaigns/entry-point_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#7710 [FEATURE] Ajout de la colonne minimumReproducibilityRateLowerLevel dans complementaryCertification (PIX-10318)
  api/db/migrations/20231218090719_add_minimumReproducibilityRateLowerLevel_to_complementaryCertifications.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7728 [FEATURE] Ajouter l'information de campagne à envoi multiple dans la page de détail d'une campagne (PIX-10378)
  orga/app/components/campaign/header/title.hbs
  orga/app/components/campaign/header/title.js
  orga/tests/integration/components/campaign/header/title_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7729 [FEATURE] Ajoute une API pour récupérer les détails d'un profil cible à partir de son id (PIX-10137).
  api/src/prescription/target-profile/application/api/target-profile-api.js
  api/tests/prescription/target-profile/unit/application/api/target-profile-api_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, team-prescription

#7738 [BUGFIX] Réparer le support des vieux navigateurs (PIX-10476).
  mon-pix/ember-cli-build.js
Labels: :rocket: Ready to Merge, cross-team

#7399 [TECH] le hook de pre-commit lance les commandes de lint depuis les dossiers des applis front
  .husky/pre-commit
  .lintstagedrc.json
  api/.eslintrc.cjs
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#7733 [BUGFIX] Autoriser l'appel au repository sans définir de filtre (PIX-10474)
  api/src/prescription/campaign/infrastructure/repositories/campaign-report-repository.js
  api/tests/prescription/campaign/integration/application/api/campaign-api_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, team-prescription

#7732 [TECH] Migrer les résultats d'une campagne dans src (Pix-10412)
  api/lib/application/campaign-participations/campaign-participation-controller.js
  api/lib/application/campaign-participations/index.js
  api/lib/domain/usecases/find-assessment-participation-result-list.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/prescriber-role-repository.js
  api/src/prescription/campaign/application/campaign-participation-controller.js
  api/src/prescription/campaign/application/campaign-participation-route.js
  api/src/prescription/campaign/domain/read-models/CampaignAssessmentParticipationResultMinimal.js
  api/src/prescription/campaign/domain/usecases/find-assessment-participation-result-list.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-assessment-participation-result-list-repository.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-assessment-result-minimal-serializer.js
  api/src/prescription/campaign/routes.js
  api/tests/acceptance/application/campaign-participations/campaign-participation-controller_test.js
  api/tests/integration/application/usecases/checkAuthorizationToAccessCampaign_test.js
  api/tests/integration/infrastructure/repositories/prescriber-role-repository_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-participations-controller_test.js
  api/tests/prescription/campaign/integration/application/campaign-participation-route_test.js
  api/tests/prescription/campaign/integration/domain/usecases/find-assessment-participation-result-list_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-assessment-participation-result-list-repository_test.js
  api/tests/prescription/campaign/unit/domain/read-models/CampaignAssessmentParticipationResultMinimal_test.js
  api/tests/prescription/campaign/unit/domain/usecases/find-assessment-participation-result-list_test.js
  api/tests/prescription/campaign/unit/infrastrucutre/serializers/jsonapi/campaign-assessment-result-minimal-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, Bounded-context-migration

#7718 [FEATURE] Rejet d'une certification complémentaire en cas de fraude lors de la certification (PIX-10371)
  api/lib/domain/events/handle-complementary-certifications-scoring.js
  api/lib/domain/models/ComplementaryCertificationScoringWithComplementaryReferential.js
  api/lib/domain/models/ComplementaryCertificationScoringWithoutComplementaryReferential.js
  api/lib/domain/models/PartnerCertificationScoring.js
  api/tests/integration/domain/event/handle-complementary-certifications-scoring_test.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-scoring-without-complementary-referential.js
  api/tests/unit/domain/events/handle-complementary-certifications-scoring_test.js
  api/tests/unit/domain/models/ComplementaryCertificationScoringWithoutComplementaryReferential_test.js
  api/tests/unit/domain/models/PartnerCertificationScoring_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7711 [FEATURE] Voir les informations complémentaires d'une certification sur la page de détails (PIX-10290).
  admin/app/adapters/v3-certification-course-details-for-administration.js
  admin/app/components/certifications/certification/details-v3.hbs
  admin/app/models/certification-challenges-for-administration.js
  admin/app/models/certification-details-v3.js
  admin/app/models/v3-certification-course-details-for-administration.js
  admin/app/routes/authenticated/certifications/certification/details.js
  admin/app/styles/authenticated/certifications/certification/details-v3.scss
  admin/app/templates/authenticated/certifications/certification/details.hbs
  admin/mirage/config.js
  admin/tests/acceptance/authenticated/certifications/certification/details_test.js
  admin/tests/integration/components/certifications/certification/details-v3_test.js
  admin/tests/unit/adapters/v3-certification-course-details-for-administration_test.js
  admin/tests/unit/models/v3-certification-course-details-for-administration_test.js
  api/src/certification/course/application/certification-course-controller.js
  api/src/certification/course/application/certification-course-route.js
  api/src/certification/course/domain/models/V3CertificationChallengeForAdministration.js
  api/src/certification/course/domain/models/V3CertificationChallengeLiveAlertForAdministration.js
  api/src/certification/course/domain/models/V3CertificationCourseDetailsForAdministration.js
  api/src/certification/course/domain/usecases/get-v3-certification-course-details-for-administration.js
  api/src/certification/course/infrastructure/repositories/v3-certification-course-details-for-administration-repository.js
  api/src/certification/course/infrastructure/serializers/jsonapi/v3-certification-course-details-for-administration-serializer.js
  api/src/certification/shared/domain/usecases/index.js
  api/tests/certification/course/acceptance/application/certification-course-route_test.js
  api/tests/certification/course/integration/infrastructure/repositories/v3-certification-course-details-for-administration-repository_test.js
  api/tests/certification/course/unit/application/certification-course-route_test.js
  api/tests/certification/course/unit/domain/usecases/get-certification-course-details-for-administration_test.js
  api/tests/certification/course/unit/infrasctructure/serializers/jsonapi/v3-certification-course-details-for-administration-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-v3-certification-challenge-for-administration.js
  api/tests/tooling/domain-builder/factory/build-v3-certification-challenge-live-alert-for-administration.js
  api/tests/tooling/domain-builder/factory/build-v3-certification-course-details-for-administration.js
  api/tests/tooling/domain-builder/factory/index.js
Labels: :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7745 [TECH] Aligner la version des modules 1d et audit logger
  1d/package-lock.json
  1d/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
Labels: :rocket: Ready to Merge, team-captains

#7746 [TECH] Suppression d'un PixButton avec un paramètre déprécié. (PIX-10369)
  certif/app/templates/authenticated/team/list.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7736 [FEATURE] Edit wording in change referer button (Pix 10364)
  certif/app/styles/pages/authenticated/team.scss
  certif/tests/acceptance/team/list/list_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7724 [TECH] ajouter un script pour faciliter la mise à jour du googlesheet d'audit (PIX-10445)
  api/lib/application/campaigns/index.js
  api/lib/application/certification-center-invitations/index.js
  api/lib/application/memberships/index.js
  api/scripts/update-audit-api-csv-file.js
  api/tests/unit/scripts/update-audit-api-csv-file_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-certif, team-prescription, cross-team

#7740 [TECH] Ajoute un script qui génère la documentation des APIs de la Prescription. (PIX-10504)
  api/package-lock.json
  api/package.json
  api/scripts/generate-api-documentation.js
  api/src/prescription/API.md
  api/src/prescription/campaign/application/api/campaigns-api.js
  api/src/prescription/target-profile/application/api/target-profile-api.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7742 [TECH] migre le route d'export csv des résultats d'une campagne de collecte dans son bounded context (pix-10410)
  api/lib/application/campaigns/campaign-controller.js
  api/lib/application/campaigns/index.js
  api/lib/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/campaign/application/campaign-detail-controller.js
  api/src/prescription/campaign/application/campaign-detail-route.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-profiles-collection-export.js
  api/tests/acceptance/application/campaigns/campaign-controller_test.js
  api/tests/integration/application/campaigns/index_test.js
  api/tests/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-detail-controller_test.js
  api/tests/prescription/campaign/integration/application/campaign-detail-route_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/prescription/campaign/unit/application/campaign-detail-controller_test.js
  api/tests/prescription/campaign/unit/application/campaign-detail-route_test.js
  api/tests/prescription/campaign/unit/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream_test.js
  api/tests/unit/application/campaign/campaign-controller_test.js
  api/tests/unit/application/campaign/index_test.js
  api/tests/unit/infrastructure/serializers/csv/campaign-profile-collection-export_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#7656 [BUGFIX] Corriger un problème d'affichage du Language Switcher (PIX-9761)
  certif/app/components/auth/login-or-register.hbs
  mon-pix/app/styles/pages/_language.scss
  mon-pix/app/templates/authenticated/user-account/language.hbs
  mon-pix/app/templates/campaigns/campaign-landing-page.hbs
Labels: :rocket: Ready to Merge, Func Review OK, team-acces

#7688 [FEATURE] Vérifier un QROC-M indep (PIX-10390)
  api/src/devcomp/domain/models/QcuCorrectionResponse.js
  api/src/devcomp/domain/models/QrocmCorrectionResponse.js
  api/src/devcomp/domain/models/QrocmSolutions.js
  api/src/devcomp/domain/models/block/BlockInput.js
  api/src/devcomp/domain/models/block/BlockSelect.js
  api/src/devcomp/domain/models/block/BlockText.js
  api/src/devcomp/domain/models/element/Element.js
  api/src/devcomp/domain/models/element/Image.js
  api/src/devcomp/domain/models/element/QCU-for-answer-verification.js
  api/src/devcomp/domain/models/element/QCU.js
  api/src/devcomp/domain/models/element/QROCM-for-answer-verification.js
  api/src/devcomp/domain/models/element/QROCM.js
  api/src/devcomp/domain/models/element/Text.js
  api/src/devcomp/domain/models/validator/ValidatorQROC.js
  api/src/devcomp/domain/models/validator/ValidatorQROCMInd.js
  api/src/devcomp/domain/services/solution-service-qroc.js
  api/src/devcomp/domain/services/solution-service-qrocm-ind.js
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/src/devcomp/infrastructure/serializers/jsonapi/correction-response-serializer.js
  api/src/devcomp/infrastructure/serializers/jsonapi/element-answer-serializer.js
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/acceptance/application/modules/controller-validateAnswer_test.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
  api/tests/devcomp/unit/domain/models/QcuCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/QrocmCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/QrocmSolutions_test.js
  api/tests/devcomp/unit/domain/models/block/BlockInput_test.js
  api/tests/devcomp/unit/domain/models/block/BlockSelect_test.js
  api/tests/devcomp/unit/domain/models/block/BlockText_test.js
  api/tests/devcomp/unit/domain/models/element/Image_test.js
  api/tests/devcomp/unit/domain/models/element/QCU-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QCU_test.js
  api/tests/devcomp/unit/domain/models/element/QROCM-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QROCM_test.js
  api/tests/devcomp/unit/domain/models/element/Text_test.js
  api/tests/devcomp/unit/domain/models/validator/ValidatorQROCMInd_test.js
  api/tests/devcomp/unit/domain/models/validator/ValidatorQROC_test.js
  api/tests/devcomp/unit/domain/services/solution-service-qroc_test.js
  api/tests/devcomp/unit/domain/services/solution-service-qrocm-ind_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/correction-response-serializer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/element-answer-serializer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
  mon-pix/app/pods/components/module/grain/style.scss
  mon-pix/app/pods/components/module/qrocm/component.js
  mon-pix/app/pods/components/module/qrocm/styles.scss
  mon-pix/app/pods/components/module/qrocm/template.hbs
  mon-pix/app/pods/correction-response/model.js
  mon-pix/tests/acceptance/module/verify-qcu_test.js
  mon-pix/tests/acceptance/module/verify-qrocm_test.js
  mon-pix/tests/integration/components/module/qcu_test.js
  mon-pix/tests/integration/components/module/qrocm_test.js
  mon-pix/tests/unit/models/modules/correction-response_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#7734 [TECH] déplace getCsvAssmentExport dans son bounded context (pix-10409)
  api/lib/application/campaigns/campaign-controller.js
  api/lib/application/campaigns/index.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/target-profile-repository.js
  api/src/prescription/campaign/application/campaign-detail-controller.js
  api/src/prescription/campaign/application/campaign-detail-route.js
  api/src/prescription/campaign/domain/services/campaign-csv-export-service.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-assessment-results-to-stream.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-participation-info-repository.js
  api/src/prescription/campaign/infrastructure/repositories/target-profile-repository.js
  api/tests/acceptance/application/campaigns/campaign-controller_test.js
  api/tests/integration/application/campaigns/index_test.js
  api/tests/integration/infrastructure/repositories/target-profile-repository_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-detail-controller_test.js
  api/tests/prescription/campaign/integration/application/campaign-detail-route_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-assessment-results-to-stream_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-participation-info-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/target-profile-repository_test.js
  api/tests/prescription/campaign/unit/application/campaign-detail-controller_test.js
  api/tests/prescription/campaign/unit/application/campaign-detail-route_test.js
  api/tests/prescription/campaign/unit/domain/usecases/start-writing-campaign-assessment-results-to-stream_test.js
  api/tests/unit/application/campaign/campaign-controller_test.js
  api/tests/unit/application/campaign/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, Bounded-context-migration

#7749 [TECH] Restreindre l'accès à la liste des candidats d'une session aux membres du centre de certification qui héberge la session (PIX-10512)
  api/lib/application/certification-centers/index.js
  api/tests/unit/application/certification-centers/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, Design Review OK

#7678 [BUGFIX] ajoute le parametre d'url threshold dans le lien personalisé de fin de parcours (PIX-10357)
  api/lib/infrastructure/repositories/participant-result-repository.js
  api/lib/infrastructure/serializers/jsonapi/participant-result-serializer.js
  api/tests/acceptance/application/users/get-user-campaign-assessment-result_test.js
  api/tests/integration/infrastructure/repositories/participant-result-repository_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/participant-result-serializer_test.js
  mon-pix/app/models/reached-stage.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription

#7747 [TECH] Remplace bookshelf par knex sur des repositories du scope certif (PIX-10510)
  api/lib/infrastructure/repositories/certification-challenge-repository.js
  api/lib/infrastructure/repositories/sessions/session-summary-repository.js
  api/src/certification/session/infrastructure/repositories/finalized-session-repository.js
  api/src/certification/session/infrastructure/repositories/jury-session-repository.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, team-prescription

#7500 [TECH] Ajouter le fournisseur d'identité Google pour Pix Admin (PIX-10069)
  admin/app/adapters/oidc-identity-provider.js
  admin/app/routes/application.js
  admin/app/services/oidc-identity-providers.js
  admin/mirage/config.js
  admin/tests/unit/adapters/oidc-identity-provider_test.js
  admin/tests/unit/services/oidc-identity-providers_test.js
  api/lib/application/authentication/oidc/index.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/lib/domain/constants/oidc-identity-providers.js
  api/lib/domain/services/authentication/GoogleOidcAuthenticationService.js
  api/lib/domain/services/authentication/authentication-service-registry.js
  api/lib/domain/services/authentication/oidc-authentication-service.js
  api/lib/domain/usecases/get-ready-identity-providers.js
  api/sample.env
  api/src/shared/config.js
  api/tests/integration/domain/services/authentication/GoogleOidcAuthenticationService_test.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
  api/tests/unit/domain/services/authentication/authentication-service-registry_test.js
  api/tests/unit/domain/usecases/get-ready-identity-providers_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#7741 [FEATURE] Afficher les infos des challenges dans la page de détails d'une certif V3 (PIX-10314).
  admin/app/components/certifications/certification/details-v3.hbs
  admin/app/components/certifications/certification/details-v3.js
  admin/app/controllers/authenticated/certifications/certification/details.js
  admin/app/models/certification-challenges-for-administration.js
  admin/app/routes/authenticated/certifications/certification/details.js
  admin/app/styles/authenticated/certifications/certification/details-v3.scss
  admin/tests/integration/components/certifications/certification/details-v3_test.js
  admin/tests/unit/controllers/authenticated/certifications/certification/details_test.js
  api/src/certification/course/domain/models/V3CertificationChallengeForAdministration.js
  api/src/certification/course/domain/models/V3CertificationCourseDetailsForAdministration.js
  api/src/certification/course/domain/usecases/get-v3-certification-course-details-for-administration.js
  api/src/certification/course/infrastructure/repositories/v3-certification-course-details-for-administration-repository.js
  api/src/certification/course/infrastructure/serializers/jsonapi/v3-certification-course-details-for-administration-serializer.js
  api/src/certification/shared/domain/usecases/index.js
  api/tests/certification/course/acceptance/application/certification-course-route_test.js
  api/tests/certification/course/integration/infrastructure/repositories/v3-certification-course-details-for-administration-repository_test.js
  api/tests/certification/course/unit/domain/models/V3CertificationCourseDetailsForAdministration_test.js
  api/tests/certification/course/unit/domain/usecases/get-certification-course-details-for-administration_test.js
  api/tests/certification/course/unit/domain/usecases/get-v3-certification-course-details-for-administration_test.js
  api/tests/certification/course/unit/infrasctructure/serializers/jsonapi/v3-certification-course-details-for-administration-serializer_test.js
  api/tests/certification/shared/fixtures/certification-course.js
  api/tests/tooling/domain-builder/factory/build-v3-certification-challenge-for-administration.js
Labels: :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7737 [BUGFIX] Améliorer l'accessibilité de l'hexagone score sur Pix-App (PIX-9640)
  mon-pix/app/components/hexagon-score.hbs
  mon-pix/app/styles/components/_hexagon-score.scss
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#7735 [BUGFIX] Modifier la page détails des parcours autonomes sur Pix-Admin (PIX-10475)
  admin/app/components/autonomous-courses/details.hbs
  admin/app/templates/authenticated/autonomous-courses/autonomous-course/details.hbs
  admin/tests/acceptance/authenticated/autonomous-courses/autonomous-courses_test.js
  admin/tests/integration/components/autonomous-courses/details_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#7761 [TECH] Monter les versions des images postgresql et redis
  .circleci/config.yml
  docker-compose.yaml
  docker/docker-compose.yaml
Labels: :rocket: Ready to Merge, team-captains, cross-team

#7760 [BUGFIX] Éviter la modification de propriétés de RT non-souhaitées (PIX-10119).
  admin/app/adapters/badge.js
  admin/tests/unit/adapters/badge_test.js
  api/src/shared/application/badges/index.js
  api/tests/shared/acceptance/application/badges/badge-controller_test.js
  api/tests/shared/unit/application/badges/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#7751 [FEATURE] Afficher la liste des parcours autonomes existants dans Admin (PIX-10342).
  admin/app/components/autonomous-courses/list-items.hbs
  admin/app/controllers/authenticated/autonomous-courses/list.js
  admin/app/models/autonomous-course-list-item.js
  admin/app/routes/authenticated/autonomous-courses/list.js
  admin/app/templates/authenticated/autonomous-courses/list.hbs
  admin/mirage/config.js
  admin/mirage/handlers/autonomous-courses.js
  admin/mirage/serializers/autonomous-course-list-item.js
  admin/tests/acceptance/authenticated/autonomous-courses/autonomous-courses_test.js
  admin/tests/integration/components/autonomous-courses/list-items_test.js
  admin/tests/unit/routes/authenticated/autonomous-courses/list_test.js
  api/src/evaluation/application/autonomous-courses/autonomous-course-controller.js
  api/src/evaluation/application/autonomous-courses/index.js
  api/src/evaluation/domain/usecases/find-all-paginated-autonomous-courses.js
  api/src/evaluation/infrastructure/repositories/autonomous-course-repository.js
  api/src/evaluation/infrastructure/serializers/jsonapi/autonomous-course-paginated-list-serializer.js
  api/tests/evaluation/acceptance/application/autonomous-courses/autonomous-course-controller_test.js
  api/tests/evaluation/integration/infrastructure/repositories/autonomous-course-repository_test.js
  api/tests/evaluation/unit/application/autonomous-courses/autonomous-course-controller_test.js
  api/tests/evaluation/unit/application/autonomous-courses/index_test.js
  api/tests/evaluation/unit/domain/usecases/find-all-paginated-autonomous-courses_test.js
  api/tests/evaluation/unit/infrastructure/serializers/jsonapi/autonomous-course-paginated-list-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#7757 [BUGFIX] Corriger la validation des CGU lors de l'inscription (PIX-10490)
  mon-pix/app/components/signup-form.hbs
  mon-pix/app/components/signup-form.js
  mon-pix/tests/unit/components/signup-form_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-acces, Design Review OK

#7730 [FEATURE] Ajout de la colonne commentByAutoJury dans la table assessment-results (PIX-10320)
  api/db/database-builder/factory/build-assessment-result.js
  api/db/migrations/20231220095119_add-comment-auto-jury-column-in-assessment-results.js
  api/tests/tooling/domain-builder/factory/build-assessment-result.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7759 [FEATURE] Afficher la réponse donnée par le candidat dans la page de détails d'Admin (PIX-10312).
  admin/app/components/certifications/certification/details-v3.hbs
  admin/app/components/certifications/certification/details-v3.js
  admin/app/models/certification-challenges-for-administration.js
  admin/app/styles/authenticated/certifications/certification/details-v3.scss
  admin/tests/integration/components/certifications/certification/details-v3_test.js
  api/src/certification/course/domain/models/V3CertificationChallengeForAdministration.js
  api/src/certification/course/infrastructure/repositories/v3-certification-course-details-for-administration-repository.js
  api/src/certification/course/infrastructure/serializers/jsonapi/v3-certification-course-details-for-administration-serializer.js
  api/tests/certification/course/acceptance/application/certification-course-route_test.js
  api/tests/certification/course/integration/infrastructure/repositories/v3-certification-course-details-for-administration-repository_test.js
  api/tests/certification/course/unit/infrasctructure/serializers/jsonapi/v3-certification-course-details-for-administration-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-v3-certification-challenge-for-administration.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7768 [BUGFIX] Réparer les liens vers Pix Editor sur la page de détails d'une certification sur Pix Admin (PIX-10526).
  admin/app/components/certifications/certification/details-v3.hbs
  admin/app/components/certifications/details-answer.js
  admin/tests/integration/components/certifications/certification/details-v3_test.js
  admin/tests/integration/components/certifications/details-answer_test.js
Labels: :rocket: Ready to Merge, team-certif

#7690 [FEATURE] Ajouter dans modulix l'element Video (PIX-10012)
  api/src/devcomp/domain/models/element/Video.js
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
  api/tests/devcomp/unit/domain/models/element/Video_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/module-datasource_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/components/module/video/component.js
  mon-pix/app/pods/components/module/video/styles.scss
  mon-pix/app/pods/components/module/video/template.hbs
  mon-pix/app/pods/element/model.js
  mon-pix/app/pods/plyr-translation/player_fr.js
  mon-pix/app/pods/video/model.js
  mon-pix/ember-cli-build.js
  mon-pix/package-lock.json
  mon-pix/package.json
  mon-pix/tests/integration/components/module/video_test.js
  mon-pix/tests/unit/components/module/video_test.js
  mon-pix/tests/unit/models/modules/element_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#7767 [TECH] Ajouter une route API pour désactiver un membre depuis Pix Certif (PIX-10547)
  api/db/database-builder/factory/build-user.js
  api/lib/application/certification-center-memberships/certification-center-membership-controller.js
  api/lib/application/certification-center-memberships/index.js
  api/lib/application/certification-centers/index.js
  api/lib/application/security-pre-handlers.js
  api/lib/application/usecases/check-user-is-admin-of-certification-center-with-certification-center-membership-id.js
  api/lib/domain/models/CertificationCenterMembership.js
  api/lib/domain/usecases/disable-certification-center-membership-from-pix-admin.js
  api/lib/domain/usecases/disable-certification-center-membership-from-pix-certif.js
  api/lib/infrastructure/repositories/certification-center-membership-repository.js
  api/tests/acceptance/application/certification-center-memberships/certification-center-membership-controller_test.js
  api/tests/integration/infrastructure/repositories/certification-center-membership-repository_test.js
  api/tests/unit/application/certification-center-memberships/certification-center-memberships-controller_test.js
  api/tests/unit/application/security-pre-handlers_test.js
  api/tests/unit/application/usecases/check-user-is-admin-of-certification-center-with-certification-center-membership-id_test.js
  api/tests/unit/domain/models/CertificationCenterMembership_test.js
  api/tests/unit/domain/usecases/disable-certification-center-membership-from-pix-admin_test.js
  api/tests/unit/domain/usecases/disable-certification-center-membership-from-pix-certif_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-certif

#7771 [FEATURE] Empêcher le rejet d'une certification si celle-ci est publiée (PIX-10492).
  admin/app/templates/authenticated/certifications/certification/informations.hbs
  admin/tests/acceptance/authenticated/certifications/certification/informations_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7770 [FEATURE] Inverser l'ordre des boutons sur la première étape de l'import en masse de session sur Pix Certif (PIX-10150).
  certif/app/components/import/step-one-section.hbs
Labels: :rocket: Ready to Merge, team-certif

#7773 [FEATURE] Ajouter des informations aux étapes "Téléchargement" et "Import" de l'import en masse sur Pix Certif (PIX-10151).
  certif/app/components/import/step-one-section.hbs
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/tests/integration/components/sessions-import/step-one-section_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-certif

#7775 [FEATURE] Changer la couleur du bouton en cas de d'import en masse avec erreur non bloquante (PIX-10316).
  api/db/seeds/data/team-certification/data-builder.js
  certif/app/components/import/step-two-section.hbs
  certif/tests/acceptance/session-import_test.js
  certif/tests/integration/components/sessions-import/step-two-section_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-certif

#7776 [FEATURE] Changer la couleur du récapitulatif lors de l'import en masse de session sur Pix Certif (PIX-10315).
  certif/app/components/import/step-two-section.hbs
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/public/icons/solid-square-chevron-right.svg
Labels: :rocket: Ready to Merge, team-certif
