Repository 1024pix/pix, pull requests merged in 2024-09, with the labels that each got.

#9912 [TECH] Gestion des schedule jobs (PIX-13971)
  api/src/certification/scoring/application/jobs/certification-completed-job-controller.js
  api/src/certification/session-management/application/jobs/certification-rescoring-by-script-job-controller.js
  api/src/certification/session-management/application/jobs/cpf-export-builder-job-controller.js
  api/src/certification/session-management/application/jobs/cpf-export-planner-job-controller.js
  api/src/certification/session-management/application/jobs/cpf-export-sender-job-controller.js
  api/src/certification/session-management/domain/models/CpfExportBuilderJob.js
  api/src/certification/session-management/domain/usecases/get-cpf-presigned-urls.js
  api/src/certification/session-management/domain/usecases/index.js
  api/src/certification/session-management/domain/usecases/integrate-cpf-processing-receipts.js
  api/src/certification/session-management/domain/usecases/upload-cpf-files.js
  api/src/certification/session-management/infrastructure/repositories/index.js
  api/src/certification/session-management/infrastructure/repositories/jobs/cpf-export-builder-job-repository.js
  api/src/identity-access-management/application/jobs/gar-anonymized-batch-events-logging.job-controller.js
  api/src/prescription/campaign-participation/application/jobs/participation-completed-job-controller.js
  api/src/prescription/campaign-participation/application/jobs/participation-result-calculation-job-controller.js
  api/src/prescription/campaign-participation/application/jobs/participation-shared-job-controller.js
  api/src/prescription/campaign-participation/application/jobs/participation-started-job-controller.js
  api/src/prescription/learner-management/application/jobs/compute-certificability-job-controller.js
  api/src/prescription/learner-management/application/jobs/import-organization-learners-job-controller.js
  api/src/prescription/learner-management/application/jobs/schedule-compute-organization-learners-certificability-job-controller.js
  api/src/prescription/learner-management/application/jobs/validate-organization-learners-import-file-job-controller.js
  api/src/prescription/learner-management/domain/models/ScheduleComputeOrganizationLearnersCertificabilityJob.js
  api/src/shared/application/jobs/audit-log/user-anonymized-event-logging-job-controller.js
  api/src/shared/application/jobs/job-controller.js
  api/src/shared/application/jobs/job-schedule-controller.js
  api/src/shared/application/jobs/lcms-refresh-cache-job-controller.js
  api/src/shared/infrastructure/jobs/JobQueue.js
  api/src/shared/infrastructure/jobs/cpf-export/handlers/create-and-upload.js
  api/src/shared/infrastructure/jobs/cpf-export/handlers/planner.js
  api/src/shared/infrastructure/jobs/cpf-export/handlers/send-email.js
  api/src/shared/infrastructure/jobs/cpf-export/index.js
  api/src/shared/infrastructure/jobs/cpf-export/schedule-cpf-jobs.js
  api/src/shared/infrastructure/jobs/monitoring/MonitoredJobHandler.js
  api/tests/certification/scoring/integration/application/jobs/certification-completed-job-controller_test.js
  api/tests/certification/scoring/unit/application/jobs/certification-completed-job-controller_test.js
  api/tests/certification/session-management/integration/application/.gitkeep
  api/tests/certification/session-management/integration/application/jobs/cpf-export-builder-job-controller_test.js
  api/tests/certification/session-management/integration/application/jobs/export.xml
  api/tests/certification/session-management/unit/application/jobs/cpf-export-builder-job-controller_test.js
  api/tests/certification/session-management/unit/application/jobs/cpf-export-planner-job-controller_test.js
  api/tests/certification/session-management/unit/application/jobs/cpf-export-sender-job-controller_test.js
  api/tests/identity-access-management/unit/application/jobs/gar-anonymized-batch-events-logging.job-controller.test.js
  api/tests/prescription/campaign-participation/integration/application/jobs/participation-completed-job-controller_test.js
  api/tests/prescription/campaign-participation/integration/application/jobs/participation-started-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-completed-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-result-calculation-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-shared-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-started-job-controller_test.js
  api/tests/prescription/learner-management/unit/application/jobs/compute-certificability-job-controller_test.js
  api/tests/prescription/learner-management/unit/application/jobs/import-organization-learners-job-controller_test.js
  api/tests/prescription/learner-management/unit/application/jobs/schedule-compute-organization-learners-certificability-job-controller_test.js
  api/tests/prescription/learner-management/unit/application/jobs/validate-organization-learners-import-file-job-controller_test.js
  api/tests/shared/integration/infrastructure/jobs/JobQueue_test.js
  api/tests/shared/unit/application/jobs/audit-log/UserAnonymizedEventLoggingJobController_test.js
  api/tests/shared/unit/application/jobs/job-controller_test.js
  api/tests/shared/unit/application/jobs/lcms-refresh-cache-job-controller_test.js
  api/tests/shared/unit/infrastructure/jobs/cpf-export/handlers/send-email_test.js
  api/worker.js
Labels: :eyes: Tech Review Needed, :eyes: Func Review Needed, team-certif, team-prescription, tech-days-evenementiel

#10009 [FEATURE] Mise à jour de la clé de traduction NL de la bannière d'infos (PIX-14091)
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9995 [FEATURE] : Traduction du message d'avertissement
  orga/translations/nl.json
Labels: :eyes: Tech Review Needed, :eyes: Func Review Needed, team-acces

#9919 [TECH] Migration hors event handler maison de AutoJuryDone (PIX-13977).
  api/lib/application/sessions/session-controller.js
  api/lib/domain/events/handle-session-finalized.js
  api/lib/domain/events/index.js
  api/lib/domain/usecases/index.js
  api/scripts/certification/launch-auto-jury-for-session.js
  api/src/certification/session-management/application/finalize-controller.js
  api/src/certification/session-management/domain/events/AutoJuryDone.js
  api/src/certification/session-management/domain/models/FinalizedSession.js
  api/src/certification/session-management/domain/usecases/index.js
  api/src/certification/session-management/domain/usecases/process-auto-jury.js
  api/src/certification/session-management/domain/usecases/register-publishable-session.js
  api/src/certification/session-management/infrastructure/repositories/finalized-session-repository.js
  api/src/certification/session-management/infrastructure/repositories/index.js
  api/src/certification/session-management/infrastructure/repositories/jury-certification-summary-repository.js
  api/src/shared/domain/models/index.js
  api/tests/certification/session-management/integration/infrastructure/repositories/finalized-session-repository_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/jury-certification-summary-repository_test.js
  api/tests/certification/session-management/unit/application/finalize-controller_test.js
  api/tests/certification/session-management/unit/domain/usecases/process-auto-jury_test.js
  api/tests/certification/session-management/unit/domain/usecases/register-publishable-session_test.js
  api/tests/certification/session-management/unit/infrastructure/serializers/to-be-published-session-serializer_test.js
  api/tests/certification/session-management/unit/infrastructure/serializers/with-required-action-session-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-finalized-session.js
  api/tests/unit/domain/events/event-choreography-finalized-session_test.js
  api/tests/unit/domain/models/FinalizedSession_test.js
  api/tests/unit/domain/services/session-publication-service_test.js
  api/tests/unit/domain/usecases/unpublish-session_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, tech-days-evenementiel

#9916 [FEATURE] Ajoute la gestion des filtres dans les imports à format (PIX-13509)
  api/db/seeds/data/common/organization-learner-import-formats.js
  api/src/prescription/learner-management/domain/models/OrganizationLearnerImportFormat.js
  api/src/prescription/organization-learner/application/learner-list-controller.js
  api/src/prescription/organization-learner/application/learner-list-route.js
  api/src/prescription/organization-learner/domain/usecases/find-paginated-filtered-participants.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-participant-repository.js
  api/tests/prescription/learner-management/unit/domain/models/OrganizationLearnerImportFormat_test.js
  api/tests/prescription/organization-learner/integration/application/learner-list-controller_test.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-participant-repository_test.js
  api/tests/prescription/organization-learner/unit/application/learner-list-controller_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-paginated-filtered-participants_test.js
  orga/app/components/organization-participant/learner-filters.gjs
  orga/app/components/organization-participant/learner-filters.hbs
  orga/app/components/organization-participant/learner-filters.js
  orga/app/components/organization-participant/list.gjs
  orga/app/components/organization-participant/table-headers.gjs
  orga/app/controllers/authenticated/organization-participants/list.js
  orga/app/helpers/import-format.js
  orga/app/routes/authenticated/organization-participants/list.js
  orga/app/templates/authenticated/organization-participants/list.hbs
  orga/app/utils/extra-filter-serializer.js
  orga/tests/integration/components/organization-participant/list-test.js
  orga/tests/unit/controllers/authenticated/organization-participants/list-test.js
  orga/tests/unit/routes/authenticated/organization-participants/list-test.js
  orga/tests/unit/utils/extra-filter-serializer-test.js
Labels: Tech Review OK, Func Review OK, team-prescription

#10023 [BUGFIX] Empêcher d'appeler la route de récupération d'une campagne par son code SANS code (PIX-14090)
  api/src/prescription/campaign/application/campaign-detail-controller.js
  api/src/prescription/campaign/application/campaign-detail-route.js
  api/tests/prescription/campaign/unit/application/campaign-detail-route_test.js
Labels: Tech Review OK, Func Review OK, team-prescription

#10000 [BUGFIX] Consigne : retour ligne pour les très long mots (PIX-13836)
  mon-pix/app/styles/components/_challenge-statement.scss
Labels: :eyes: Tech Review Needed, :eyes: Func Review Needed, team-contenu

#9959 [TECH] Remplacer Bluebird mapSeries par des fonctions natives
  api/db/database-builder/database-builder.js
  api/db/migrations/20210610172018_fill_badge_partner_competence_for_critera.js
  api/db/migrations/20220328102301_link-complementary-certification-course-results-to-complementary-certification-courses.js
  api/db/migrations/20220629091212_drop-target-profile-template-table.js
  api/db/migrations/20220802093742_add-imageUrl-to-complementary-certification-badges.js
  api/db/migrations/20220808152543_add-label-column-to-complementary-certification-badges-table.js
  api/db/migrations/20220831084146_add-complementary-certification-badges-fk-to-complementary-certification-courses.js
  api/db/migrations/20220920091611_add-message-columns-to-complementary-certification-badges.js
  api/lib/domain/usecases/create-organizations-with-tags-and-target-profiles.js
  api/lib/domain/usecases/update-certification-center.js
  api/lib/infrastructure/events/EventBus.js
  api/lib/infrastructure/repositories/badge-acquisition-repository.js
  api/scripts/add-or-update-certification-centers-dpo-infos.js
  api/scripts/certification/send-certification-result-emails.js
  api/scripts/create-badge-criteria-for-specified-badge.js
  api/scripts/create-certification-center-memberships-from-organization-admins.js
  api/scripts/create-users-accounts-for-contest.js
  api/scripts/data-generation/generate-certif-cli.js
  api/scripts/fill-campaign-participation-id-in-badge-acquisitions.js
  api/scripts/prod/compute-badge-acquisitions.js
  api/scripts/prod/compute-participation-results.js
  api/scripts/prod/create-assessment-campaigns-for-sco.js
  api/scripts/prod/select-category-for-target-profiles.js
  api/scripts/tooling/tooling.js
  api/src/certification/complementary-certification/infrastructure/repositories/target-profile-history-repository.js
  api/src/certification/enrolment/domain/services/certification-candidates-ods-service.js
  api/src/certification/enrolment/domain/usecases/create-sessions.js
  api/src/certification/enrolment/domain/usecases/import-certification-candidates-from-candidates-import-sheet.js
  api/src/certification/enrolment/domain/usecases/validate-sessions.js
  api/src/certification/results/domain/usecases/get-certification-attestations-for-session.js
  api/src/certification/results/scripts/generate-certification-attestations-by-session-ids.js
  api/src/certification/session-management/domain/usecases/finalize-session.js
  api/src/certification/session-management/domain/usecases/process-auto-jury.js
  api/src/certification/shared/domain/services/certification-badges-service.js
  api/src/certification/shared/domain/services/scoring-certification-service.js
  api/src/prescription/campaign-participation/domain/usecases/delete-campaign-participation-for-admin.js
  api/src/prescription/campaign-participation/domain/usecases/delete-campaign-participation.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-analysis-repository.js
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-assessment-results-to-stream.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-assessment-participation-result-list-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-collective-result-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-profiles-collection-participation-summary-repository.js
  api/src/prescription/learner-management/domain/usecases/add-or-update-organization-learners.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-csv-format.js
  api/src/prescription/target-profile/infrastructure/repositories/target-profile-for-specifier-repository.js
  api/src/shared/domain/services/placement-profile-service.js
  api/src/shared/infrastructure/utils/promise-utils.js
  api/src/team/domain/usecases/create-or-update-certification-center-invitation.js
  api/src/team/domain/usecases/create-organization-invitations.usecase.js
  api/tests/shared/unit/infrastructure/utils/promise-utils_test.js
Labels: Tech Review OK, :eyes: Func Review Needed, team-acces, team-certif, team-prescription

#10017 [TECH] Corriger les seeds Acces d'élèves (PIX-14101)
  api/db/seeds/data/team-acces/build-sco-organization-learners.js
Labels: Tech Review OK, team-acces

#10032 [BUGFIX] Empêche le job d'import d'échouer lorsqu'il y a une erreur du domain (PIX-14108).
  api/src/prescription/learner-management/application/jobs/import-organization-learners-job-controller.js
  api/tests/prescription/learner-management/unit/application/jobs/import-organization-learners-job-controller_test.js
Labels: Tech Review OK, Func Review OK, team-prescription

#10036 [BUGFIX] Changer la couleur pour corriger le contraste sur la page de code candidat sur Pix App (PIX-14123).
  mon-pix/app/styles/components/_certification-starter.scss
Labels: :rocket: Ready to Merge, team-certif

#9836 [TECH] :recycle: Déménagement de `monitoring_tools` vers `src/shared`
  api/db/knex-database-connection.js
  api/lib/domain/events/index.js
  api/lib/domain/usecases/create-organizations-with-tags-and-target-profiles.js
  api/lib/domain/usecases/send-shared-participation-results-to-pole-emploi.js
  api/lib/infrastructure/events/EventHandlerDependenciesBuilder.js
  api/lib/infrastructure/http/http-agent.js
  api/server.js
  api/src/certification/shared/infrastructure/repositories/certification-challenge-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/src/identity-access-management/domain/services/oidc-authentication-service.js
  api/src/identity-access-management/domain/usecases/validate-user-account-email.usecase.js
  api/src/prescription/campaign-participation/application/jobs/participation-completed-job-controller.js
  api/src/prescription/campaign-participation/application/jobs/participation-started-job-controller.js
  api/src/prescription/campaign-participation/application/learner-participation-controller.js
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/application/sup-organization-management-controller.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/domain/usecases/upload-siecle-file.js
  api/src/prescription/learner-management/infrastructure/storage/import-storage.js
  api/src/prescription/learner-management/infrastructure/utils/xml/detect-encoding.js
  api/src/prescription/learner-management/infrastructure/utils/xml/siecle-file-streamer.js
  api/src/prescription/learner-management/infrastructure/utils/xml/zip.js
  api/src/shared/infrastructure/monitoring-tools.js
  api/src/shared/infrastructure/plugins/pino.js
  api/tests/identity-access-management/unit/domain/services/oidc-authentication-service_test.js
  api/tests/identity-access-management/unit/domain/usecases/validate-user-account-email.usecase.test.js
  api/tests/integration/infrastructure/knex-database-performance-monitoring_test.js
  api/tests/integration/infrastructure/plugins/pino_test.js
  api/tests/prescription/campaign-participation/integration/application/jobs/participation-started-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-completed-job-controller_test.js
  api/tests/unit/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
  api/tests/unit/domain/usecases/send-shared-participation-results-to-pole-emploi_test.js
  api/tests/unit/infrastructure/http/http-agent_test.js
Labels: Tech Review OK, Func Review OK, team-certif, team-captains, cross-team, Bounded-context-migration

#10001 [TECH] Remplacer le `request_id` d'Hapi par celui de Scalingo
  api/src/shared/infrastructure/monitoring-tools.js
Labels: :eyes: Tech Review Needed, team-captains, cross-team

#10031 [FEATURE] Remettre dans leur état initial les participations ayant eu leurs campaignId supprimé (PIX-14054)
  api/scripts/prod/re-assign-campaign-participations-with-campaign.js
  api/tests/integration/scripts/prod/re-assign-campaign-participations-with-campaign_test.js
Labels: Tech Review OK, Func Review OK, team-prescription

#10028 [FEATURE] Personnaliser le message de fin de mission en fonction des résultats (Pix-13845)
  api/db/database-builder/factory/build-mission-assessment.js
  api/db/migrations/20240830131255_add_results_column_into_mission_assessments.js
  api/src/school/application/assessment-controller.js
  api/src/school/domain/models/Assessment.js
  api/src/school/domain/services/update-assessment.js
  api/src/school/domain/usecases/handle-activity-answer.js
  api/src/school/infrastructure/models/mission-assessment.js
  api/src/school/infrastructure/repositories/mission-assessment-repository.js
  api/src/school/infrastructure/serializers/assessment-serializer.js
  api/tests/school/integration/application/assessment-controller_test.js
  api/tests/school/integration/domain/services/update-assessment_test.js
  api/tests/school/integration/domain/usecases/get-assessment-by-id_test.js
  api/tests/school/integration/infrastructure/repositories/mission-assessment-repository_test.js
  api/tests/school/unit/domain/services/get-mission-result-tests.js
  junior/app/controllers/assessment/results.js
  junior/app/models/assessment.js
  junior/app/routes/assessment/results.js
  junior/app/templates/assessment/results.hbs
  junior/tests/acceptance/end-mission-test.js
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10040 [TECH] Monter de version ember-source en 5.9.0 (PIX-14126)
  orga/package-lock.json
  orga/package.json
Labels: Tech Review OK, Func Review OK, team-prescription

#9790 [FEATURE] Réaligner le design des cartes de participation
  mon-pix/app/components/campaign-participation-overview/card/disabled.hbs
  mon-pix/app/components/campaign-participation-overview/card/ended.hbs
  mon-pix/app/components/campaign-participation-overview/card/ongoing.hbs
  mon-pix/app/components/campaign-participation-overview/card/to-share.hbs
  mon-pix/app/styles/components/campaign-participation-overview/_card.scss
  mon-pix/tests/acceptance/user-logged-menu-test.js
  mon-pix/tests/integration/components/campaign-participation-overview/card/disabled-test.js
  mon-pix/tests/integration/components/campaign-participation-overview/card/ongoing-test.js
Labels: :eyes: Tech Review Needed, :eyes: Func Review Needed, team-prescription, :eyes: Design Review Needed, cross-team

#10042 [FEATURE] Junior - Séparer l'activité et les résultats d'une mission en 2 onglets (PIX-13846)
  orga/app/components/mission/activity-table.gjs
  orga/app/components/mission/details.gjs
  orga/app/components/mission/navigation.gjs
  orga/app/components/mission/result-table.gjs
  orga/app/controllers/authenticated/missions/list.js
  orga/app/controllers/authenticated/missions/mission/activities.js
  orga/app/controllers/authenticated/missions/mission/results.js
  orga/app/models/mission-learner.js
  orga/app/router.js
  orga/app/routes/authenticated/missions/mission.js
  orga/app/routes/authenticated/missions/mission/activities.js
  orga/app/routes/authenticated/missions/mission/index.js
  orga/app/routes/authenticated/missions/mission/results.js
  orga/app/templates/authenticated/missions/details/learners.hbs
  orga/app/templates/authenticated/missions/mission.hbs
  orga/app/templates/authenticated/missions/mission/activities.hbs
  orga/app/templates/authenticated/missions/mission/results.hbs
  orga/tests/acceptance/missions-details-test.js
  orga/tests/acceptance/missions-list-test.js
  orga/tests/integration/components/mission/activity-table_test.gjs
  orga/tests/integration/components/mission/result-table_test.gjs
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10035 [TECH] Ajouter le participation id sur le log des jobs des état de participation (PIX-14106)
  api/lib/domain/usecases/send-shared-participation-results-to-pole-emploi.js
  api/lib/infrastructure/externals/pole-emploi/pole-emploi-notifier.js
  api/src/prescription/campaign-participation/application/jobs/participation-completed-job-controller.js
  api/src/prescription/campaign-participation/application/jobs/participation-started-job-controller.js
  api/tests/integration/domain/usecases/send-shared-participation-results-to-pole-emploi_test.js
  api/tests/prescription/campaign-participation/integration/application/jobs/participation-completed-job-controller_test.js
  api/tests/prescription/campaign-participation/integration/application/jobs/participation-started-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-completed-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-started-job-controller_test.js
  api/tests/unit/domain/usecases/send-shared-participation-results-to-pole-emploi_test.js
  api/tests/unit/infrastructure/externals/pole-emploi/pole-emploi-notifier_test.js
Labels: Tech Review OK, team-prescription, team-captains

#10025 [FEATURE] Passer le nom de l'application (le scope) à l'authentification de manière standardisée (PIX-13910)
  admin/app/components/login-form.gjs
  admin/config/environment.js
  certif/app/authenticators/oauth2.js
  certif/app/components/auth/register-form.js
  certif/app/components/auth/toggable-login-form.js
  certif/app/components/login/index.gjs
  certif/config/environment.js
  mon-pix/app/authenticators/oauth2.js
  mon-pix/app/components/routes/login-form.js
  mon-pix/app/components/routes/register-form.js
  mon-pix/app/components/update-expired-password-form.js
  mon-pix/app/controllers/account-recovery/update-sco-record.js
  mon-pix/app/services/session.js
  mon-pix/config/environment.js
  orga/app/components/auth/login-form.js
  orga/app/components/auth/register-form.js
  orga/config/environment.js
Labels: :eyes: Tech Review Needed, :eyes: Func Review Needed, team-acces

#10045 [BUGFIX] Remettre le numéro des questions sur la page de détails des certifs V3 (PIX-14142).
  admin/app/models/certification-challenges-for-administration.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10048 [BUGFIX] Encapsule les erreurs venant du client S3 et les log (PIX-14109)
  api/src/prescription/learner-management/application/jobs/validate-organization-learners-import-file-job-controller.js
  api/src/prescription/learner-management/domain/usecases/add-or-update-organization-learners.js
  api/src/prescription/learner-management/domain/usecases/validate-siecle-xml-file.js
  api/src/prescription/learner-management/infrastructure/storage/import-storage.js
  api/tests/prescription/learner-management/unit/application/jobs/validate-organization-learners-import-file-job-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/add-or-update-organization-learners_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/validate-siecle-xml-file_test.js
  api/tests/prescription/learner-management/unit/infrastructure/storage/import-storage_test.js
Labels: Tech Review OK, Func Review OK, team-prescription

#10041 [BUGFIX] Enlever les organisations archivees des resultats LSU LSL (PIX-14103).
  api/src/certification/results/infrastructure/repositories/certification-livret-scolaire-repository.js
  api/tests/certification/results/integration/infrastructure/repositories/certification-livret-scolaire-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10034 [TECH] Déplacer la route POST /api/admin/tags dans src/organizational-entities (PIX-14105)
  api/lib/application/tags/index.js
  api/lib/application/tags/tag-controller.js
  api/lib/domain/usecases/create-tag.js
  api/src/organizational-entities/application/routes.js
  api/src/organizational-entities/application/tag/tag.admin.controller.js
  api/src/organizational-entities/application/tag/tag.admin.route.js
  api/src/organizational-entities/domain/usecases/create-tag.js
  api/src/organizational-entities/domain/usecases/index.js
  api/src/organizational-entities/infrastructure/serializers/jsonapi/tag-serializer.js
  api/tests/acceptance/application/tags/tag-api_test.js
  api/tests/organizational-entities/acceptance/application/tag/tag.admin.route.test.js
  api/tests/organizational-entities/integration/application/organization/organization.admin.route.test.js
  api/tests/organizational-entities/integration/application/tag/tag.admin.route.test.js
  api/tests/organizational-entities/unit/application/tag/tag.admin.controller.test.js
  api/tests/organizational-entities/unit/domain/usecases/create-tag_test.js
  api/tests/organizational-entities/unit/infrastructure/serializers/jsonapi/tag-serializer_test.js
  api/tests/unit/application/tags/index_test.js
  api/tests/unit/application/tags/tag-controller_test.js
Labels: :eyes: Tech Review Needed, :eyes: Func Review Needed, team-acces, Bounded-context-migration

#10050 [TECH] Corriger un test de script flaky (PIX-14148)
  api/scripts/prod/re-assign-campaign-participations-with-campaign.js
Labels: Tech Review OK, Func Review OK, team-prescription

#10055 [BUGFIX] Corriger la clé de traduction
  orga/app/components/mission/result-table.gjs
  orga/app/templates/authenticated/missions/mission/results.hbs
  orga/translations/en.json
  orga/translations/nl.json
Labels: Tech Review OK, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10033 [BUGFIX] Afficher les tubes sélectionnés lors de l'édition d'un Profil Cible sur PixAdmin (PIX-14092)
  admin/app/components/common/tubes-selection.gjs
  admin/tests/integration/components/target-profiles/edit-target-profile-form-test.gjs
Labels: Tech Review OK, Func Review OK, team-prescription

#10027 [FEATURE] Ajouter un lien vers Modulix Editor dans la page de preview des modules (PIX-14095)
  mon-pix/app/components/module/preview.gjs
  mon-pix/tests/integration/components/module/preview_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#10039 [FEATURE] Utiliser le scope dans les refresh tokens (PIX-13911)
  api/src/identity-access-management/application/token/token.controller.js
  api/src/identity-access-management/domain/models/User.js
  api/src/identity-access-management/domain/services/pix-authentication-service.js
  api/src/identity-access-management/domain/services/refresh-token-service.js
  api/src/identity-access-management/domain/usecases/authenticate-user.js
  api/src/identity-access-management/domain/usecases/create-access-token-from-refresh-token.js
  api/tests/identity-access-management/acceptance/application/token.route.test.js
  api/tests/identity-access-management/integration/domain/services/refresh-token-service.test.js
  api/tests/identity-access-management/unit/application/token.controller.test.js
  api/tests/identity-access-management/unit/domain/models/User.test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-user_test.js
  api/tests/identity-access-management/unit/domain/usecases/create-access-token-from-refresh-token_test.js
Labels: Tech Review OK, Func Review OK, team-acces

#9993 [TECH] Revue de la gestion des erreurs du domaine Modulix (PIX-14043)
  api/src/devcomp/domain/models/Grain.js
  api/src/devcomp/domain/models/QrocmSolutions.js
  api/src/devcomp/domain/models/component/ComponentStepper.js
  api/src/devcomp/domain/models/component/Step.js
  api/src/devcomp/domain/models/element/Download.js
  api/src/devcomp/domain/models/element/Image.js
  api/src/devcomp/domain/models/element/QCM.js
  api/src/devcomp/domain/models/element/QCU-for-answer-verification.js
  api/src/devcomp/domain/models/element/QCU.js
  api/src/devcomp/domain/models/element/QROCM.js
  api/src/devcomp/domain/models/module/Details.js
  api/src/devcomp/domain/models/module/Module.js
  api/tests/devcomp/integration/application/modules/index_test.js
  api/tests/devcomp/integration/domain/models/Module_test.js
  api/tests/devcomp/unit/domain/models/Grain_test.js
  api/tests/devcomp/unit/domain/models/QrocmSolutions_test.js
  api/tests/devcomp/unit/domain/models/component/ComponentStepper_test.js
  api/tests/devcomp/unit/domain/models/component/Step_test.js
  api/tests/devcomp/unit/domain/models/element/Download_test.js
  api/tests/devcomp/unit/domain/models/element/Image_test.js
  api/tests/devcomp/unit/domain/models/element/QCM_test.js
  api/tests/devcomp/unit/domain/models/element/QCU-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QCU_test.js
  api/tests/devcomp/unit/domain/models/element/QROCM_test.js
  api/tests/devcomp/unit/domain/models/module/Details_test.js
  api/tests/devcomp/unit/domain/models/module/Module_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#10044 [TECH] Ajouter les infos de corrélation à chaque log via le logger
  api/db/seeds/seed.js
  api/lib/domain/events/index.js
  api/lib/domain/usecases/create-organizations-with-tags-and-target-profiles.js
  api/lib/infrastructure/events/EventDispatcherLogger.js
  api/lib/infrastructure/events/EventHandlerDependenciesBuilder.js
  api/lib/infrastructure/http/http-agent.js
  api/scripts/prod/target-profile-migrations/migrate-stages-to-level.js
  api/scripts/prod/target-profile-migrations/revert-stages-to-threshold.js
  api/src/certification/complementary-certification/domain/usecases/send-target-profile-notifications.js
  api/src/certification/shared/infrastructure/repositories/certification-challenge-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/src/devcomp/infrastructure/factories/element-for-verification-factory.js
  api/src/devcomp/infrastructure/factories/module-factory.js
  api/src/devcomp/infrastructure/repositories/training-trigger-repository.js
  api/src/identity-access-management/application/saml/saml.controller.js
  api/src/identity-access-management/domain/services/oidc-authentication-service.js
  api/src/identity-access-management/domain/usecases/validate-user-account-email.usecase.js
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/application/sup-organization-management-controller.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/domain/usecases/upload-siecle-file.js
  api/src/prescription/learner-management/infrastructure/storage/import-storage.js
  api/src/prescription/learner-management/infrastructure/utils/xml/detect-encoding.js
  api/src/prescription/learner-management/infrastructure/utils/xml/siecle-file-streamer.js
  api/src/prescription/learner-management/infrastructure/utils/xml/zip.js
  api/src/shared/infrastructure/caches/DistributedCache.js
  api/src/shared/infrastructure/caches/RedisCache.js
  api/src/shared/infrastructure/jobs/monitoring/MonitoredJobHandler.js
  api/src/shared/infrastructure/monitoring-tools.js
  api/src/shared/infrastructure/utils/RedisClient.js
  api/src/shared/infrastructure/utils/logger.js
  api/src/shared/mail/infrastructure/services/mailer.js
  api/tests/devcomp/integration/infrastructure/repositories/training-trigger-repository_test.js
  api/tests/devcomp/unit/infrastructure/factories/element-for-verification-factory_test.js
  api/tests/devcomp/unit/infrastructure/factories/module-factory_test.js
  api/tests/identity-access-management/unit/domain/services/oidc-authentication-service_test.js
  api/tests/identity-access-management/unit/domain/usecases/validate-user-account-email.usecase.test.js
  api/tests/integration/infrastructure/event-dispatcher-logger_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-completed-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-started-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/learner-participation-controller_test.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/application/sup-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/upload-siecle-file_test.js
  api/tests/shared/unit/mail/infrastructure/services/mailer_test.js
  api/tests/unit/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
  api/tests/unit/domain/usecases/send-shared-participation-results-to-pole-emploi_test.js
  api/tests/unit/infrastructure/externals/pole-emploi/pole-emploi-notifier_test.js
  api/tests/unit/infrastructure/http/http-agent_test.js
  api/worker.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#10079 [FEATURE] Updated translations from Phrase (PIX-14182)
  orga/translations/nl.json
Labels: :rocket: Ready to Merge, team-prescription

#10081 [TECH] Migrer la route POST /api/certification-center-invitations/{id}/accept vers src/team (PIX-14138)
  api/lib/application/certification-center-invitations/certification-center-invitation-controller.js
  api/lib/application/certification-center-invitations/index.js
  api/lib/application/certification-center-memberships/certification-center-membership-controller.js
  api/lib/domain/usecases/index.js
  api/src/shared/application/usecases/check-user-is-admin-of-certification-center-with-certification-center-invitation-id.js
  api/src/shared/application/usecases/check-user-is-admin-of-certification-center-with-certification-center-membership-id.js
  api/src/shared/application/usecases/checkUserIsAdminOfCertificationCenter.js
  api/src/shared/application/usecases/checkUserIsMemberOfCertificationCenter.js
  api/src/team/application/certification-center-invitation/certification-center-invitation.controller.js
  api/src/team/application/certification-center-invitation/certification-center-invitation.route.js
  api/src/team/domain/usecases/accept-certification-center-invitation.usecase.js
  api/src/team/domain/usecases/index.js
  api/src/team/infrastructure/repositories/certification-center-invited-user.repository.js
  api/src/team/infrastructure/repositories/certification-center-membership.repository.js
  api/tests/acceptance/application/certification-center-invitations/index_test.js
  api/tests/identity-access-management/integration/domain/usecases/anonymize-user.usecase.test.js
  api/tests/integration/domain/usecases/create-certification-center-membership-by-email_test.js
  api/tests/integration/domain/usecases/find-certification-center-memberships-by-certification-center_test.js
  api/tests/team/acceptance/application/certification-center-invitation/certification-center-invitation.route.test.js
  api/tests/team/integration/domain/usecases/create-certification-center-membership-for-sco-organization-admin-member.usecase.test.js
  api/tests/team/integration/infrastructure/repositories/certification-center-invited-user.repository.test.js
  api/tests/team/integration/infrastructure/repositories/certification-center-membership.repository.test.js
  api/tests/team/unit/application/certification-center-invitation/certification-center-invitation.controller.test.js
  api/tests/team/unit/domain/usecases/accept-certification-center-invitation.usecase.test.js
  api/tests/unit/application/certification-center-invitations/certification-center-invitation-controller_test.js
Labels: team-acces, Bounded-context-migration

#10064 [FEATURE] Utiliser les correspondances des claims en base de données (PIX-13766)
  api/db/database-builder/factory/build-oidc-provider.js
  api/src/identity-access-management/domain/models/OidcProvider.js
  api/src/identity-access-management/domain/services/agent-connect-oidc-authentication-service.js
  api/src/identity-access-management/domain/services/cnfpt-oidc-authentication-service.js
  api/src/identity-access-management/domain/services/google-oidc-authentication-service.js
  api/src/identity-access-management/domain/services/oidc-authentication-service-registry.js
  api/src/identity-access-management/domain/services/oidc-authentication-service.js
  api/src/identity-access-management/domain/usecases/add-oidc-provider.js
  api/src/identity-access-management/domain/validators/add-oidc-provider.validator.js
  api/src/identity-access-management/infrastructure/repositories/oidc-provider-repository.js
  api/tests/identity-access-management/integration/infrastructure/repositories/oidc-provider-repository_test.js
  api/tests/identity-access-management/unit/domain/services/agent-connect-oidc-authentication-service_test.js
  api/tests/identity-access-management/unit/domain/services/cnfpt-oidc-authentication-service_test.js
  api/tests/identity-access-management/unit/domain/services/google-oidc-authentication-service_test.js
  api/tests/identity-access-management/unit/domain/services/oidc-authentication-service-registry_test.js
  api/tests/identity-access-management/unit/domain/services/oidc-authentication-service_test.js
  api/tests/identity-access-management/unit/domain/usecases/add-oidc-provider_test.js
  api/tests/identity-access-management/unit/domain/validators/add-oidc-provider.validator.test.js
Labels: :eyes: Tech Review Needed, :eyes: Func Review Needed, team-acces

#10043 [TECH] Remplacer l'usage de `memberAction` par un appel à des adapters (PIX-14093)
  mon-pix/app/adapters/passage.js
  mon-pix/app/components/module/grain.gjs
  mon-pix/app/components/module/passage.js
  mon-pix/app/models/passage.js
  mon-pix/tests/acceptance/module/navigate-into-the-module-passage-test.js
  mon-pix/tests/acceptance/module/retake_completed_module-test.js
  mon-pix/tests/integration/components/module/passage_test.gjs
  mon-pix/tests/unit/adapters/passage-test.js
Labels: team-devcomp

#10074 [BUGFIX] La liste déroulante pour choisir la méthode facturation entre deux inscriptions de candidats n'est pas réinitialisée sur PixCertif (PIX-14178)
  certif/app/components/new-candidate-modal/index.gjs
Labels: :rocket: Ready to Merge, team-certif

#10073 [TECH] Ajout d'une variable d'environnement pour la gestion d'évènements asynchrones (PIX-14177).
  api/sample.env
Labels: :eyes: Tech Review Needed, cross-team

#10052 [FEATURE] Création d'un endpoint pour remonter les lots de places (PIX-14006)
  api/scripts/prod/create-organization-places-lot.js
  api/src/prescription/organization-place/application/organization-place-controller.js
  api/src/prescription/organization-place/application/organization-place-route.js
  api/src/prescription/organization-place/domain/models/OrganizationPlacesLotForManagement.js
  api/src/prescription/organization-place/domain/read-models/PlacesLot.js
  api/src/prescription/organization-place/domain/usecases/create-organization-places-lot.js
  api/src/prescription/organization-place/domain/usecases/get-organization-places-lots.js
  api/src/prescription/organization-place/infrastructure/repositories/organization-places-lot-repository.js
  api/src/prescription/organization-place/infrastructure/serializers/jsonapi/organization-places-lot-management-serializer.js
  api/src/prescription/organization-place/infrastructure/serializers/jsonapi/organization-places-lot-serializer.js
  api/src/prescription/organization-place/infrastructure/serializers/jsonapi/organization-places-lots-serializer.js
  api/src/shared/domain/models/index.js
  api/tests/prescription/organization-place/acceptance/application/get-organization-places-lots_test.js
  api/tests/prescription/organization-place/integration/application/organization-place-route_test.js
  api/tests/prescription/organization-place/integration/infrastructure/repositories/organization-places-lot-repository_test.js
  api/tests/prescription/organization-place/unit/application/organization-place-controller_test.js
  api/tests/prescription/organization-place/unit/application/organization-place-route_test.js
  api/tests/prescription/organization-place/unit/domain/models/OrganizationPlacesLot_test.js
  api/tests/prescription/organization-place/unit/domain/read-models/PlacesLot_test.js
  api/tests/prescription/organization-place/unit/domain/usecases/create-organization-places-lot_test.js
  api/tests/prescription/organization-place/unit/domain/usecases/get-organization-places-lots_test.js
  api/tests/prescription/organization-place/unit/infrastructure/serializers/jsonapi/organization-places-lot-managment-serializer_test.js
  api/tests/prescription/organization-place/unit/infrastructure/serializers/jsonapi/organization-places-lot-serializer_test.js
  api/tests/prescription/organization-place/unit/infrastructure/serializers/jsonapi/organization-places-lots-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-organization-places-lot.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10075 [FEATURE] Permettre de modifier une configuration d'import sans migration (PIX-14151)
  $
  api/scripts/organization-import-format/update-organization-import-format.js
  api/src/prescription/learner-management/domain/models/OrganizationLearnerImportFormat.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/domain/usecases/update-organization-learner-import-formats.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-import-format-repository.js
  api/tests/prescription/learner-management/integration/domain/usecases/update-organization-import-learner-import-format_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-import-format-repository_test.js
  api/tests/prescription/learner-management/unit/domain/models/OrganizationLearnerImportFormat_test.js
Labels: Tech Review OK, Func Review OK, team-acces, team-prescription

#10083 [TECH] Réparer l'envoi de résultats d'avancement de la migration dans src (PIX-14199)
  api/scripts/arborescence-monitoring/time-series.js
Labels: Tech Review OK, Func Review OK, cross-team, Bounded-context-migration

#10089 [TECH] Supprimer un fichier inutile
  $
Labels: no-review-app

#10085 [TECH] Migrer la route GET api/certification-center-invitations/{id} dans src (PIX-14184)
  api/lib/application/certification-center-invitations/certification-center-invitation-controller.js
  api/lib/application/certification-center-invitations/index.js
  api/src/team/application/certification-center-invitation/certification-center-invitation.controller.js
  api/src/team/application/certification-center-invitation/certification-center-invitation.route.js
  api/src/team/domain/usecases/get-certification-center-invitation.usecase.js
  api/tests/acceptance/application/certification-center-invitations/index_test.js
  api/tests/team/acceptance/application/certification-center-invitation/certification-center-invitation.route.test.js
  api/tests/team/integration/domain/usecases/get-certification-center-invitation.usecase.test.js
Labels: Tech Review OK, Func Review OK, team-acces, Bounded-context-migration

#10067 [FEATURE] Limiter le TTL des refresh token par app (PIX-13912)
  api/sample.env
  api/src/identity-access-management/domain/services/refresh-token-service.js
  api/src/shared/config.js
  api/tests/identity-access-management/integration/domain/services/refresh-token-service.test.js
Labels: :eyes: Tech Review Needed, :eyes: Func Review Needed, team-acces

#10069 [BUGFIX] Verifier les noms de famille et prénoms dans le fichier d'import siecle pendant la validation de celui ci (PIX-14147)
  api/src/prescription/learner-management/infrastructure/serializers/xml/xml-organization-learner-set.js
  api/src/shared/domain/errors.js
  api/tests/prescription/learner-management/integration/infrastructure/serializers/xml/siecle-parser_test.js
  api/tests/tooling/fixtures/siecle-file/siecle-student-with-no-first-name.xml
  api/tests/tooling/fixtures/siecle-file/siecle-student-with-no-last-name.xml
  orga/app/services/error-messages.js
  orga/tests/unit/services/error-messages-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, Func Review OK, team-prescription

#10086 [BUGFIX] supprime la validation du model PlaceStatistics (Pix-14195)
  api/src/prescription/organization-place/domain/read-models/PlaceStatistics.js
  api/tests/prescription/organization-place/acceptance/application/get-organization-places-statistics_test.js
  api/tests/prescription/organization-place/integration/infrastructure/repositories/organization-places-lot-repository_test.js
  api/tests/prescription/organization-place/unit/domain/read-models/PlaceStatistics_test.js
Labels: Tech Review OK, Func Review OK, team-prescription

#10090 [BUGFIX] Désactiver complètement le push FT
  api/lib/domain/usecases/send-completed-participation-results-to-pole-emploi.js
  api/lib/domain/usecases/send-started-participation-results-to-pole-emploi.js
  api/src/prescription/campaign-participation/application/jobs/participation-completed-job-controller.js
  api/src/prescription/campaign-participation/application/jobs/participation-started-job-controller.js
  api/tests/integration/domain/usecases/send-completed-participation-results-to-pole-emploi_test.js
  api/tests/integration/domain/usecases/send-started-participation-results-to-pole-emploi_test.js
  api/tests/prescription/campaign-participation/integration/application/jobs/participation-completed-job-controller_test.js
  api/tests/prescription/campaign-participation/integration/application/jobs/participation-started-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-completed-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-started-job-controller_test.js
Labels: Tech Review OK, Func Review OK, team-prescription

#10092 [TECH] :recycle: Déplace `ResultCompetence` vers son domain d'utilisation
  api/src/certification/results/domain/models/ResultCompetence.js
  api/src/certification/results/domain/models/ResultCompetenceTree.js
  api/src/shared/domain/models/index.js
  api/tests/certification/results/unit/domain/models/ResultCompetenceTree_test.js
  api/tests/certification/results/unit/infrastructure/serializers/private-certificate-serializer_test.js
  api/tests/certification/results/unit/infrastructure/serializers/shareable-certificate-serializer_test.js
Labels: :rocket: Ready to Merge, team-certif, Bounded-context-migration

#10006 [FEATURE] Pouvoir consulter les informations prescrits plus facilement sur Pix Admin (PIX-12646).
  admin/app/components/administration/nav.scss
  admin/app/components/users/user-detail-authentication-methods.gjs
  admin/app/components/users/user-detail-personal-information.gjs
  admin/app/controllers/authenticated/users/get/authentication-methods.js
  admin/app/router.js
  admin/app/routes/authenticated/users/get/authentication-methods.js
  admin/app/routes/authenticated/users/get/information.js
  admin/app/templates/authenticated/users/get.hbs
  admin/app/templates/authenticated/users/get/authentication-methods.hbs
  admin/app/templates/authenticated/users/get/information.hbs
  admin/tests/acceptance/authenticated/users/authentication-method-test.js
  admin/tests/acceptance/authenticated/users/get-test.js
  admin/tests/integration/components/target-profiles/badges-test.gjs
  admin/tests/integration/components/users/user-detail-authentication-methods-test.gjs
  admin/tests/integration/components/users/user-detail-personal-information-test.gjs
  admin/tests/unit/components/users/user-detail-authentication-methods-test.js
  admin/tests/unit/components/users/user-detail-personal-information-test.js
  admin/tests/unit/controllers/authenticated/users/get/information-test.js
  admin/translations/en.json
  admin/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, tech-days-pix-admin

#10102 [TECH] Uniformiser le nom de la propriété des participations aux campagnes dans l'API interne (PIX-14239).
  api/db/seeds/data/team-prescription/build-quests.js
  api/src/prescription/API.md
  api/src/prescription/organization-learner/application/api/organization-learners-with-participations-api.js
  api/src/prescription/organization-learner/application/api/read-models/OrganizationLearnerWithParticipations.js
  api/tests/prescription/organization-learner/unit/application/api/models/OrganizationLearnerWithParticipations_test.js
  api/tests/prescription/organization-learner/unit/application/api/organization-learners-with-participations-api_test.js
Labels: :eyes: Tech Review Needed, team-evaluation, team-prescription

#10037 [FEATURE] Support du message d’initialisation d’embed (PIX-14116)
  mon-pix/app/components/challenge-embed-simulator.js
  mon-pix/tests/integration/components/challenge-embed-simulator-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-contenu

#10105 [FEATURE] Adapter le bandeau des éligibilités aux nouvelles conditions V3 (PIX-14235)
  api/db/seeds/data/team-certification/data-builder.js
  api/lib/infrastructure/repositories/certifiable-badge-acquisition-repository.js
  api/sample.env
  api/scripts/certification/get-user-certification-eligibility.js
  api/src/certification/enrolment/application/user-controller.js
  api/src/certification/enrolment/domain/models/ComplementaryCertificationCourseWithResults.js
  api/src/certification/enrolment/domain/read-models/UserCertificationEligibility.js
  api/src/certification/enrolment/domain/usecases/get-V2-user-certification-eligibility.js
  api/src/certification/enrolment/domain/usecases/get-user-certification-eligibility.js
  api/src/certification/enrolment/infrastructure/serializers/user-certification-eligibility-serializer.js
  api/src/shared/config.js
  api/src/shared/domain/models/CertifiableBadgeAcquisition.js
  api/tests/certification/enrolment/acceptance/application/user-route_test.js
  api/tests/certification/enrolment/unit/application/user-controller_test.js
  api/tests/certification/enrolment/unit/domain/models/ComplementaryCertificationCourseWithResults_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-V2-user-certification-eligibility_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-user-certification-eligibility_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/user-certification-eligibility-serializer_test.js
  api/tests/integration/infrastructure/repositories/certifiable-badge-acquisition-repository_test.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
  api/tests/tooling/domain-builder/factory/build-certifiable-badge-acquisition.js
  api/tests/tooling/domain-builder/factory/build-placement-profile.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-user-certification-eligibility.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-v3-certification-eligibility.js
  api/tests/tooling/domain-builder/factory/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10004 [TECH] Ajout d'un composant Breadcrumb sur pix-admin (PIX-14070)
  admin/app/components/autonomous-courses/details.gjs
  admin/app/components/autonomous-courses/index.gjs
  admin/app/components/autonomous-courses/list/index.gjs
  admin/app/components/autonomous-courses/list/item.gjs
  admin/app/components/autonomous-courses/new/index.gjs
  admin/app/components/autonomous-courses/new/technical-informations.gjs
  admin/app/components/autonomous-courses/new/user-informations.gjs
  admin/app/components/autonomous-courses/update-autonomous-course-form.gjs
  admin/app/components/autonomous-courses/view-autonomous-course.gjs
  admin/app/components/certification-centers/information-view.gjs
  admin/app/components/layout/breadcrumb.gjs
  admin/app/controllers/authenticated/autonomous-courses/new.js
  admin/app/router.js
  admin/app/routes/authenticated/autonomous-courses/autonomous-course.js
  admin/app/routes/authenticated/autonomous-courses/autonomous-course/index.js
  admin/app/routes/authenticated/autonomous-courses/details.js
  admin/app/styles/app.scss
  admin/app/styles/components/layout/breadcrumb.scss
  admin/app/styles/globals/page.scss
  admin/app/templates/authenticated/autonomous-courses/details.hbs
  admin/app/templates/authenticated/sessions/list.hbs
  admin/tests/acceptance/authenticated/autonomous-courses/autonomous-courses-test.js
  admin/tests/acceptance/authenticated/certification-centers/form-test.js
  admin/tests/acceptance/authenticated/certification-centers/get-test.js
  admin/tests/integration/components/autonomous-courses/details-test.gjs
  admin/tests/integration/components/autonomous-courses/new-test.gjs
  admin/tests/integration/components/layout/breadcrumb_test.gjs
  admin/tests/unit/controllers/authenticated/autonomous-courses/new-test.js
  admin/tests/unit/routes/authenticated/autonomous-courses/autonomous-course/details-test.js
  admin/tests/unit/routes/authenticated/autonomous-courses/details-test.js
  admin/translations/en.json
  admin/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, tech-days-pix-admin

#10111 [BUGFIX] Utiliser le bon usecase pour l'envoi d'information lors du démarrage d'une campagne (PIX-14279)
  api/src/prescription/campaign-participation/application/jobs/participation-started-job-controller.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-started-job-controller_test.js
Labels: Tech Review OK, Func Review OK, team-prescription

#10078 [TECH] Migration fichiers js vers gjs (PIX-14145)
  mon-pix/app/components/module/element/module-element.gjs
  mon-pix/app/components/module/element/qrocm.gjs
  mon-pix/app/components/module/element/qrocm.hbs
  mon-pix/app/components/module/element/qrocm.js
  mon-pix/app/components/module/element/text.gjs
  mon-pix/app/components/module/element/text.hbs
  mon-pix/app/components/module/passage.gjs
  mon-pix/app/components/module/passage.hbs
  mon-pix/tests/integration/components/module/qrocm-test.gjs
  mon-pix/tests/integration/components/module/recap-test.gjs
  mon-pix/tests/integration/components/module/text-test.gjs
Labels: team-devcomp

#10091 [TECH] :recycle: Déplacement d'un modèle de domaine évaluation de `src/shared` vers `src/evaluation`
  api/src/evaluation/domain/errors.js
  api/src/evaluation/domain/models/target-profile-management/StageCollectionUpdate.js
  api/src/evaluation/domain/usecases/create-or-update-stage-collection.js
  api/src/shared/domain/errors.js
  api/tests/evaluation/unit/domain/models/target-profile-management/StageCollectionUpdate_test.js
  api/tests/integration/infrastructure/repositories/target-profile-management/stage-collection-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, Bounded-context-migration

#10097 [FEATURE] Afficher des feedback spécifiques aux QCU (PIX-14202) (PIX-13405)
  api/src/devcomp/domain/models/QcuProposal.js
  api/src/devcomp/domain/models/element/QCU-for-answer-verification.js
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/src/devcomp/infrastructure/factories/element-for-verification-factory.js
  api/tests/devcomp/unit/domain/models/QcuProposal_test.js
  api/tests/devcomp/unit/domain/models/element/QCU-for-answer-verification_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/qcu-schema.js
  api/tests/devcomp/unit/infrastructure/factories/module-factory_test.js
Labels: team-devcomp

#10104 [TECH] Retirer l'étagère à bouquins du répertoire des centres de certification
  api/src/certification/shared/infrastructure/repositories/certification-center-repository.js
  api/src/organizational-entities/infrastructure/repositories/certification-center.repository.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-center-repository_test.js
Labels: team-certif, team-evaluation, cross-team

#10088 [TECH] Sauvegarder l'état de l'import dans tous les cas (PIX-14200)
  api/src/prescription/learner-management/domain/usecases/add-or-update-organization-learners.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-import-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-import-repository_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/add-or-update-organization-learners_test.js
Labels: Tech Review OK, Func Review OK, team-prescription

#10120 [TECH] Remplacer le logger error par juste un warn dans le cas des erreurs connues (PIX-14314)
  api/src/prescription/learner-management/application/jobs/validate-organization-learners-import-file-job-controller.js
  api/tests/prescription/learner-management/unit/application/jobs/validate-organization-learners-import-file-job-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10117 [BUGFIX] Correction de l'affichage du temps de certification (PIX-14318)
  admin/app/components/certifications/certification/details-v3.gjs
  admin/tests/integration/components/certifications/certification/details-v3-test.gjs
Labels: :rocket: Ready to Merge, team-certif

#10114 [TECH] Remonter les organisations ayant des lots de places illimités pour data (PIX-14247)
  api/src/prescription/organization-place/domain/read-models/PlacesLot.js
  api/src/shared/infrastructure/repositories/organization-repository.js
  api/tests/integration/infrastructure/repositories/organization-repository_test.js
  api/tests/prescription/organization-place/integration/domain/usecases/get-data-organizations-places-statistics_test.js
  api/tests/prescription/organization-place/unit/domain/read-models/PlacesLot_test.js
Labels: Tech Review OK, team-prescription

#10099 [TECH] Changer le system de Redis lock et supprimer Bluebird.
  api/package-lock.json
  api/package.json
  api/src/shared/infrastructure/caches/RedisCache.js
  api/src/shared/infrastructure/utils/RedisClient.js
  api/tests/shared/integration/infrastructure/utils/RedisClient_test.js
  api/tests/shared/unit/infrastructure/caches/RedisCache_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#10103 [FEATURE] affiche les lots de place dans orga (PIX-14009)
  api/db/seeds/data/team-prescription/build-places-lots.js
  api/db/seeds/data/team-prescription/data-builder.js
  api/scripts/prod/create-organization-places-lot.js
  api/src/prescription/organization-place/application/organization-place-controller.js
  api/src/prescription/organization-place/domain/read-models/PlacesLot.js
  api/src/prescription/organization-place/domain/usecases/create-organization-places-lot.js
  api/src/prescription/organization-place/domain/usecases/delete-organization-places-lot.js
  api/src/prescription/organization-place/domain/usecases/get-organization-places-lots.js
  api/src/prescription/organization-place/infrastructure/repositories/organization-places-lot-repository.js
  api/src/prescription/organization-place/infrastructure/serializers/jsonapi/organization-places-lots-serializer.js
  api/tests/integration/infrastructure/repositories/organization-repository_test.js
  api/tests/prescription/organization-place/acceptance/application/get-organization-places-lots_test.js
  api/tests/prescription/organization-place/integration/infrastructure/repositories/organization-places-lot-repository_test.js
  api/tests/prescription/organization-place/unit/domain/read-models/DataOrganizationPlacesStatistics_test.js
  api/tests/prescription/organization-place/unit/domain/read-models/PlaceStatistics_test.js
  api/tests/prescription/organization-place/unit/domain/read-models/PlacesLot_test.js
  api/tests/prescription/organization-place/unit/domain/usecases/create-organization-places-lot_test.js
  api/tests/prescription/organization-place/unit/domain/usecases/delete-organization-places-lot_test.js
  api/tests/prescription/organization-place/unit/domain/usecases/find-organization-places-lot_test.js
  api/tests/prescription/organization-place/unit/infrastructure/serializers/jsonapi/organization-places-lot-managment-serializer_test.js
  api/tests/prescription/organization-place/unit/infrastructure/serializers/jsonapi/organization-places-lots-serializer_test.js
  orga/app/adapters/organization-places-lot.js
  orga/app/components/places/places-lot-table.gjs
  orga/app/models/organization-places-lot.js
  orga/app/routes/authenticated/places.js
  orga/app/styles/components/places/index.scss
  orga/app/styles/components/places/places-lots.scss
  orga/app/templates/authenticated/places.hbs
  orga/tests/integration/components/places/places-lot-table-test.gjs
  orga/tests/unit/adapters/organization-places-lot-test.js
  orga/tests/unit/models/organization-places-lot-test.js
  orga/tests/unit/routes/authenticated/places-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: :eyes: Tech Review Needed, Tech Review OK, Func Review OK, team-prescription

#10116 [BUGFIX] Corriger l'affichage des listes à puces dans les indices (PIX-9987)
  mon-pix/app/styles/components/_tutorial-panel.scss
Labels: team-devcomp

#10080 [TECH] Passage en v3 des centres de certif de type SCO (hors whitelist) (PIX-14098).
  api/lib/application/certification-centers/certification-center-controller.js
  api/lib/domain/usecases/update-certification-center.js
  api/lib/infrastructure/repositories/certification-center-for-admin-repository.js
  api/lib/infrastructure/serializers/jsonapi/certification-center-for-admin-serializer.js
  api/scripts/certification/next-gen/convert-centers-to-v3.js
  api/src/certification/configuration/application/jobs/convert-center-to-v3-job-controller.js
  api/src/certification/configuration/domain/models/CenterPilotFeatures.js
  api/src/certification/configuration/domain/models/ConvertCenterToV3Job.js
  api/src/certification/configuration/domain/usecases/delete-unstarted-sessions.js
  api/src/certification/configuration/domain/usecases/find-and-trigger-v2-center-to-convert-in-v3.js
  api/src/certification/configuration/domain/usecases/index.js
  api/src/certification/configuration/domain/usecases/register-pilot-features.js
  api/src/certification/configuration/infrastructure/repositories/center-pilot-features-repository.js
  api/src/certification/configuration/infrastructure/repositories/center-repository.js
  api/src/certification/configuration/infrastructure/repositories/index.js
  api/src/certification/configuration/infrastructure/repositories/jobs/convert-center-to-v3-job-repository.js
  api/src/certification/configuration/infrastructure/repositories/sessions-repository.js
  api/src/certification/enrolment/application/api/sessions-api.js
  api/src/certification/enrolment/domain/errors.js
  api/src/shared/domain/DomainTransaction.js
  api/tests/certification/configuration/integration/application/jobs/convert-center-to-v3-job-controller_test.js
  api/tests/certification/configuration/integration/infrastructure/repositories/center-pilot-features-repository_test.js
  api/tests/certification/configuration/integration/infrastructure/repositories/center-repository_test.js
  api/tests/certification/configuration/integration/infrastructure/repositories/jobs/convert-center-to-v3-job-repository_test.js
  api/tests/certification/configuration/integration/infrastructure/repositories/sessions-repository_test.js
  api/tests/certification/configuration/unit/application/jobs/convert-center-to-v3-job-controller_test.js
  api/tests/certification/configuration/unit/domain/models/CenterPilotFeatures_test.js
  api/tests/certification/configuration/unit/domain/models/ConvertCenterToV3Job_test.js
  api/tests/certification/configuration/unit/domain/usecases/delete-unstarted-sessions_test.js
  api/tests/certification/configuration/unit/domain/usecases/find-and-trigger-v2-center-to-convert-in-v3_test.js
  api/tests/certification/configuration/unit/domain/usecases/register-pilot-features_test.js
  api/tests/certification/enrolment/unit/application/api/sessions-api_test.js
  api/tests/integration/domain/usecases/update-certification-center_test.js
  api/tests/integration/infrastructure/repositories/certification-center-for-admin-repository_test.js
  api/tests/integration/scripts/certification/next-gen/convert-centers-to-v3_test.js
  api/tests/tooling/domain-builder/factory/certification/configuration/build-center-pilot-features.js
  api/tests/tooling/domain-builder/factory/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10106 [FEATURE] affiche une alerte d'expiration des lots de places (PIX-14008)
  orga/app/components/places/places-lot-alert.gjs
  orga/app/styles/components/places/index.scss
  orga/app/styles/components/places/places-lots-alert.scss
  orga/app/templates/authenticated/places.hbs
  orga/tests/integration/components/places/places-lot-alert-test.gjs
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, Func Review OK, team-prescription

#9963 [TECH] Migration de la route de la mise à jour du bandeau niveau 7 dans le contexte évaluation (PIX-13671).
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/src/evaluation/application/users/index.js
  api/src/evaluation/application/users/user-controller.js
  api/src/evaluation/domain/usecases/index.js
  api/src/evaluation/domain/usecases/remember-user-has-seen-level-seven-info.js
  api/src/evaluation/infrastructure/repositories/index.js
  api/src/evaluation/infrastructure/repositories/user-repository.js
  api/src/evaluation/routes.js
  api/src/identity-access-management/application/api/users-api.js
  api/src/identity-access-management/domain/usecases/remember-user-has-seen-level-seven-information.usecase.js
  api/tests/acceptance/application/users/remember-user-has-seen-level-seven-info_test.js
  api/tests/evaluation/acceptance/application/users/user-controller_test.js
  api/tests/evaluation/unit/application/users/user-controller_test.js
  api/tests/evaluation/unit/domain/usecases/remember-user-has-seen-level-seven-info_test.js
  api/tests/identity-access-management/integration/application/api/users-api_test.js
  api/tests/identity-access-management/unit/domain/usecases/remember-user-has-seen-level-seven-information.usecase.test.js
Labels: :rocket: Ready to Merge, team-evaluation, Bounded-context-migration

#10087 [TECH] Refactorer le RefreshToken service (PIX-13913)
  api/lib/domain/usecases/anonymize-user.js
  api/lib/domain/usecases/index.js
  api/src/identity-access-management/domain/models/RefreshToken.js
  api/src/identity-access-management/domain/services/refresh-token-service.js
  api/src/identity-access-management/domain/usecases/authenticate-user.js
  api/src/identity-access-management/domain/usecases/create-access-token-from-refresh-token.js
  api/src/identity-access-management/domain/usecases/create-access-token-from-refresh-token.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/identity-access-management/domain/usecases/revoke-refresh-token.usecase.js
  api/src/identity-access-management/infrastructure/repositories/refresh-token.repository.js
  api/src/team/domain/usecases/deactivate-admin-member.usecase.js
  api/src/team/domain/usecases/index.js
  api/tests/identity-access-management/integration/domain/services/refresh-token-service.test.js
  api/tests/identity-access-management/integration/domain/usecases/anonymize-user.usecase.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/refresh-token.repository.test.js
  api/tests/identity-access-management/unit/domain/models/RefreshToken.test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-user_test.js
  api/tests/identity-access-management/unit/domain/usecases/create-access-token-from-refresh-token.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/create-access-token-from-refresh-token_test.js
  api/tests/identity-access-management/unit/domain/usecases/revoke-refresh-token.usecase.test.js
  api/tests/team/unit/domain/usecases/deactivate-admin-member.usecase.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10101 [FEATURE] Déconnecter l'utilisateur s'il utilise un refresh token avec un scope incorrect
  admin/app/authenticators/oauth2.js
  admin/package-lock.json
  admin/package.json
  api/src/identity-access-management/application/token/token.controller.js
  api/tests/identity-access-management/acceptance/application/token.route.test.js
  api/tests/identity-access-management/unit/application/token.controller.test.js
  certif/app/authenticators/oauth2.js
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/cypress/support/commands.js
  mon-pix/app/authenticators/oauth2.js
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/app/authenticators/oauth2.js
  orga/package-lock.json
  orga/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10138 [BUGFIX] Mise à jour du lien de téléchargement de PV d'incident (PIX-14406).
  certif/app/components/session-details/index.gjs
  certif/app/models/session-enrolment.js
  certif/tests/acceptance/session-details-test.js
Labels: :rocket: Ready to Merge, team-certif

#10130 [FEATURE] Ajout de données l'audit logger pour le changement d'email (PIX-14362)
  audit-logger/src/db/migrations/20240916143835_add-email-changed-action.ts
  audit-logger/src/db/migrations/20240916143940_add-pix-app-client.ts
  audit-logger/src/db/migrations/20240916144100_add-user-role.ts
  audit-logger/src/db/migrations/20240916144632_add-data-column.ts
  audit-logger/src/lib/controllers/create-audit-log.controller.ts
  audit-logger/src/lib/domain/models/audit-log.ts
  audit-logger/src/lib/domain/models/models.definition.ts
  audit-logger/tests/acceptance/controllers/create-audit-log.controller.test.ts
  audit-logger/tests/integration/infrastructure/repositories/audit-log-postgres.repository.test.ts
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10121 [FEATURE] Mettre à jour la bannière de certification sur PixOrga (PIX-13969)
  orga/app/components/banner/information.gjs
  orga/tests/integration/components/banner/information_test.gjs
Labels: Tech Review OK, Func Review OK, team-prescription

#10135 [BUGFIX] Eviter de remonter une 500 lors de l'erreur sur l'upload du fichier (PIX-14384)
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/domain/usecases/upload-siecle-file.js
  api/src/prescription/learner-management/infrastructure/utils/xml/zip.js
  api/src/shared/infrastructure/monitoring-tools.js
  api/tests/prescription/learner-management/integration/infrastructure/utils/xml/files/zip/evil.zip
  api/tests/prescription/learner-management/integration/infrastructure/utils/xml/zip_test.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/upload-siecle-file_test.js
Labels: Tech Review OK, Func Review OK, team-prescription

#10115 [FEATURE] Tenir compte de la condition sur l'obligation d'avoir une certification pix délivrée et validée avec un score minimum requis dans le bandeau V3 (PIX-14236)
  api/lib/infrastructure/repositories/certifiable-badge-acquisition-repository.js
  api/src/certification/enrolment/domain/models/ComplementaryCertificationBadge.js
  api/src/certification/enrolment/domain/models/PixCertification.js
  api/src/certification/enrolment/domain/usecases/get-user-certification-eligibility.js
  api/src/certification/enrolment/infrastructure/repositories/complementary-certification-badge-repository.js
  api/src/certification/enrolment/infrastructure/repositories/index.js
  api/src/certification/enrolment/infrastructure/repositories/pix-certification-repository.js
  api/src/shared/domain/models/CertifiableBadgeAcquisition.js
  api/tests/certification/enrolment/acceptance/application/user-route_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/complementary-certification-badge-repository_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/pix-certification-repository_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-user-certification-eligibility_test.js
  api/tests/integration/infrastructure/repositories/certifiable-badge-acquisition-repository_test.js
  api/tests/tooling/domain-builder/factory/build-certifiable-badge-acquisition.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-complementary-certification-badge.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-pix-certification.js
  api/tests/tooling/domain-builder/factory/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10118 [BUGFIX] Ne pas retourner de 500 dans le cas d'un filtre sur la certificabilité mal défini (PIX-14300)
  api/src/prescription/organization-learner/application/learner-list-route.js
  api/src/prescription/organization-learner/application/sco-learner-list-route.js
  api/src/prescription/organization-learner/application/sup-learner-list-route.js
  api/src/prescription/shared/application/helpers.js
  api/src/prescription/shared/domain/types/identifiers-type.js
  api/tests/prescription/organization-learner/integration/application/learner-list-route_test.js
  api/tests/prescription/organization-learner/integration/application/sco-learner-list-route_test.js
  api/tests/prescription/organization-learner/integration/application/sup-learner-list-route_test.js
  api/tests/prescription/shared/unit/application/helpers_test.js
  orga/app/helpers/certificability-types.js
  orga/app/routes/authenticated/organization-participants/list.js
  orga/app/routes/authenticated/sco-organization-participants/list.js
  orga/app/routes/authenticated/sup-organization-participants/list.js
  orga/app/utils/params-validator.js
  orga/tests/unit/routes/authenticated/organization-participants/list-test.js
  orga/tests/unit/routes/authenticated/sco-organization-participants/list-test.js
  orga/tests/unit/routes/authenticated/sup-organization-participants/list-test.js
  orga/tests/unit/utils/params-validator-test.js
Labels: Tech Review OK, Func Review OK, team-prescription, team-captains

#10139 [FEATURE] simplifie les bannière d'info sur orga (PIX-13968)
  orga/app/components/banner/certification.gjs
  orga/app/components/banner/information.gjs
  orga/app/components/banner/sco-communication.gjs
  orga/app/components/banner/top-banners.gjs
  orga/app/styles/components/banner/index.scss
  orga/app/styles/components/banner/sco-communication.scss
  orga/tests/integration/components/banner/certification-test.gjs
  orga/tests/integration/components/banner/information_test.gjs
  orga/tests/integration/components/banner/sco-communication-test.gjs
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, Func Review OK, team-prescription

#10100 [FEATURE] Faire la vérification d'éligibilité Coeur lors de la réconciliation sur Pix App (PIX-14204).
  api/src/certification/enrolment/application/services/index.js
  api/src/certification/enrolment/application/services/register-candidate-participation-service.js
  api/src/certification/enrolment/application/session-controller.js
  api/src/certification/enrolment/domain/models/Candidate.js
  api/src/certification/enrolment/domain/usecases/index.js
  api/src/certification/enrolment/domain/usecases/link-user-to-candidate.js
  api/src/certification/enrolment/domain/usecases/verify-candidate-identity.js
  api/src/certification/enrolment/infrastructure/repositories/candidate-repository.js
  api/tests/certification/enrolment/acceptance/application/session-route_test.js
  api/tests/certification/enrolment/unit/application/session-controller_test.js
  api/tests/certification/enrolment/unit/domain/models/Candidate_test.js
  api/tests/certification/enrolment/unit/domain/services/register-candidate-participation-service_test.js
  api/tests/certification/enrolment/unit/domain/usecases/link-user-to-candidate_test.js
  api/tests/certification/enrolment/unit/domain/usecases/verify-candidate-identity_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#10141 [TECH] Ajout d'une colonne pour enregistrer la reconciliation candidat (PIX-14391).
  api/db/database-builder/factory/build-certification-candidate.js
  api/db/migrations/20240916152303_add-reconciliatedAt-on-certification-candidates-table.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/candidate-repository_test.js
Labels: :rocket: Ready to Merge, team-certif

#10123 [BUGFIX] Ne pas afficher un indice lorsque la traduction n'est pas dispo (PIX-14227)
  api/lib/infrastructure/repositories/correction-repository.js
  api/tests/unit/infrastructure/repositories/correction-repository_test.js
Labels: team-devcomp

#10131 [FEATURE] Retourner un élément de type Flashcards dans l'API (PIX-14305)
  api/src/devcomp/domain/models/element/flashcards/Card.js
  api/src/devcomp/domain/models/element/flashcards/Flashcards.js
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/src/devcomp/infrastructure/factories/module-factory.js
  api/tests/devcomp/shared/validateFlashcards.js
  api/tests/devcomp/unit/domain/models/element/flashcards/Card_test.js
  api/tests/devcomp/unit/domain/models/element/flashcards/Flashcards_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/flashcards-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-schema.js
  api/tests/devcomp/unit/infrastructure/factories/module-factory_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
Labels: team-devcomp

#10136 [FEATURE] :sparkles: Affiche le détail de résultat par mission et par élève pour les enseignants dans pixOrga (PIX-13848)
  api/db/migrations/20240910082213_alter_mission_assessment_result_to_json.js
  api/src/school/domain/models/Activity.js
  api/src/school/domain/models/Assessment.js
  api/src/school/domain/models/Mission.js
  api/src/school/domain/models/MissionLearner.js
  api/src/school/domain/services/compute-global-result.js
  api/src/school/domain/services/compute-step-result.js
  api/src/school/domain/services/get-mission-result.js
  api/src/school/domain/services/update-assessment.js
  api/src/school/domain/usecases/find-paginated-mission-learners.js
  api/src/school/infrastructure/models/mission-assessment.js
  api/src/school/infrastructure/repositories/mission-assessment-repository.js
  api/src/school/infrastructure/repositories/mission-repository.js
  api/src/school/infrastructure/serializers/mission-learner-serializer.js
  api/src/school/infrastructure/serializers/mission-serializer.js
  api/tests/school/acceptance/application/assessments/assessment-controller_test.js
  api/tests/school/integration/application/mission-controller_test.js
  api/tests/school/integration/application/mission-learner-controller_test.js
  api/tests/school/integration/domain/services/update-assessment_test.js
  api/tests/school/integration/domain/usecases/find-all-active-missions_test.js
  api/tests/school/integration/domain/usecases/find-paginated-mission-learners_test.js
  api/tests/school/integration/domain/usecases/get-assessment-by-id_test.js
  api/tests/school/integration/domain/usecases/get-mission_test.js
  api/tests/school/integration/infrastructure/repositories/mission-assessment-repository_test.js
  api/tests/school/integration/infrastructure/repositories/mission-repository_test.js
  api/tests/school/unit/domain/models/Activity_test.js
  api/tests/school/unit/domain/services/compute-global-result_test.js
  api/tests/school/unit/domain/services/compute-step-result_test.js
  api/tests/school/unit/domain/services/get-mission-result-tests.js
  api/tests/tooling/domain-builder/factory/build-school-assessment.js
  api/tests/tooling/learning-content-builder/build-mission.js
  junior/app/controllers/assessment/results.js
  junior/app/models/assessment.js
  junior/tests/acceptance/end-mission-test.js
  orga/app/components/mission/activity-table.gjs
  orga/app/components/mission/result-table.gjs
  orga/app/controllers/authenticated/missions/mission/activities.js
  orga/app/models/mission-learner.js
  orga/app/models/mission.js
  orga/app/styles/app.scss
  orga/app/styles/components/mission/result-table.scss
  orga/tests/integration/components/mission/activity-table_test.gjs
  orga/tests/integration/components/mission/result-table_test.gjs
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10146 [FEATURE] Changement du logo PixJunior / blob / label Béta (pix-13628)
  junior/app/styles/components/footer.scss
  junior/app/styles/pages/organization-code.scss
  junior/app/templates/organization-code.hbs
  junior/public/images/background-blob-with-robot.svg
  junior/public/images/logo.svg
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10153 [FEATURE] Ajout d'une bulle info lors de la selection des classes (pix-13987)
  junior/app/templates/school/divisions.hbs
  junior/tests/acceptance/school-divisions-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9926 [FEATURE] Ajouter le contenu de l'onglet Détails des résultats (PIX-12985).
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/index.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/results-details.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/results-details/competence-row.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/results-details/index.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/rewards/badge.gjs
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results.gjs
  mon-pix/app/components/show-more-text.gjs
  mon-pix/app/components/tabs/tab-panel.gjs
  mon-pix/app/models/competence-result.js
  mon-pix/app/modifiers/on-window-resize.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/_show-more-text.scss
  mon-pix/app/styles/components/campaigns/assessment/skill-review/evaluation-results-tabs/results-details.scss
  mon-pix/app/styles/components/campaigns/assessment/skill-review/evaluation-results-tabs/rewards.scss
  mon-pix/app/styles/components/campaigns/index.scss
  mon-pix/public/images/icons/competences/adapter-les-documents.svg
  mon-pix/public/images/icons/competences/collaborer.svg
  mon-pix/public/images/icons/competences/developper-des-docs-multimedia.svg
  mon-pix/public/images/icons/competences/developper-des-docs-textuels.svg
  mon-pix/public/images/icons/competences/environnement-numerique.svg
  mon-pix/public/images/icons/competences/gerer-des-donnees.svg
  mon-pix/public/images/icons/competences/inserer-dans-le-monde-numerique.svg
  mon-pix/public/images/icons/competences/interagir.svg
  mon-pix/public/images/icons/competences/mener-une-recherche.svg
  mon-pix/public/images/icons/competences/partager-et-publier.svg
  mon-pix/public/images/icons/competences/pix-plus.svg
  mon-pix/public/images/icons/competences/problemes-techniques.svg
  mon-pix/public/images/icons/competences/programmer.svg
  mon-pix/public/images/icons/competences/proteger-la-sante.svg
  mon-pix/public/images/icons/competences/proteger-les-donnees.svg
  mon-pix/public/images/icons/competences/securiser-environnement.svg
  mon-pix/public/images/icons/competences/traiter-des-donnees.svg
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/evaluation-results-tabs-test.js
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/results-details/competence-row-test.js
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/results-details/results-details-test.js
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/rewards/rewards-badge-test.js
  mon-pix/tests/integration/components/routes/campaigns/assessment/evaluation-results-test.js
  mon-pix/tests/integration/components/show-more-text-test.js
  mon-pix/tests/integration/components/tabs-test.js
  mon-pix/tests/unit/components/campaigns/assessment/skill-review/evaluation-results-tabs/competence-row-test.js
  mon-pix/tests/unit/components/campaigns/assessment/skill-review/evaluation-results-tabs/results-details-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#10077 [FEATURE] Amélioration continue chatgpt-parle-francais (MODC-100)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/chatgpt-parle-francais.json
Labels: :rocket: Ready to Merge, team-devcomp

#10108 [FEATURE] Ecoute les évènements questions répondue et détermine si une quête est validée (PIX-13819).
  api/Procfile
  api/db/database-builder/factory/build-attestation.js
  api/db/database-builder/factory/build-profile-reward.js
  api/db/database-builder/factory/build-quest.js
  api/db/migrations/20240820101115_add-attestations-table.js
  api/db/migrations/20240820101213_add-profile-rewards-table.js
  api/db/seeds/data/team-prescription/build-quests.js
  api/lib/infrastructure/repositories/knowledge-element-repository.js
  api/package.json
  api/src/evaluation/application/api/knowledge-elements-api.js
  api/src/evaluation/application/api/models/KnowledgeElementDTO.js
  api/src/evaluation/domain/usecases/find-filtered-most-recent-knowledge-elements-by-user.js
  api/src/evaluation/infrastructure/repositories/answer-job-repository.js
  api/src/prescription/organization-learner/domain/usecases/find-organization-learners-with-participations.js
  api/src/profile/application/api/profile-reward-api.js
  api/src/profile/domain/models/ProfileReward.js
  api/src/profile/domain/usecases/get-profile-rewards-by-user-id.js
  api/src/profile/domain/usecases/index.js
  api/src/profile/domain/usecases/reward-user.js
  api/src/profile/infrastructure/repositories/profile-reward-repository.js
  api/src/quest/application/jobs/answer-job-controller.js
  api/src/quest/domain/constants.js
  api/src/quest/domain/models/AnwserJob.js
  api/src/quest/domain/models/Eligibility.js
  api/src/quest/domain/models/Quest.js
  api/src/quest/domain/models/Success.js
  api/src/quest/domain/usecases/index.js
  api/src/quest/domain/usecases/reward-user.js
  api/src/quest/infrastructure/repositories/eligibility-repository.js
  api/src/quest/infrastructure/repositories/index.js
  api/src/quest/infrastructure/repositories/quest-repository.js
  api/src/quest/infrastructure/repositories/reward-repository.js
  api/src/quest/infrastructure/repositories/success-repository.js
  api/src/shared/application/jobs/job-controller.js
  api/tests/evaluation/unit/application/api/knowlegde-elements-api_test.js
  api/tests/evaluation/unit/domain/usecases/find-filtered-most-recent-knowledge-elements-by-user_test.js
  api/tests/integration/infrastructure/repositories/knowledge-element-repository_test.js
  api/tests/prescription/organization-learner/integration/domain/usecases/find-organization-learners-with-participations_test.js
  api/tests/profile/integration/infrastructure/repositories/profile-reward-repository_test.js
  api/tests/quest/integration/domain/usecases/reward-user_test.js
  api/tests/quest/integration/infrastructure/repositories/quest-repository_test.js
  api/tests/quest/unit/application/answer-job-controller_test.js
  api/tests/quest/unit/domain/models/AnswerJob_test.js
  api/tests/quest/unit/domain/models/Quest_test.js
  api/tests/quest/unit/domain/usecases/reward-user_test.js
  api/tests/quest/unit/infrastructure/repositories/eligibility-repository_test.js
  api/tests/quest/unit/infrastructure/repositories/success-repository_test.js
Labels: team-evaluation, team-prescription

#10144 [FEATURE] Sélection des acquis accessibles pour proposer un test aménagé (PIX-14241).
  api/src/certification/evaluation/domain/usecases/get-next-challenge-for-v2-certification.js
  api/src/certification/evaluation/domain/usecases/get-next-challenge.js
  api/src/certification/evaluation/domain/usecases/index.js
  api/src/certification/evaluation/infrastructure/repositories/certification-candidate-repository.js
  api/src/certification/session-management/domain/models/CertificationCandidateForSupervising.js
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/domain/models/Challenge.js
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/tests/certification/configuration/integration/infrastructure/repositories/center-pilot-features-repository_test.js
  api/tests/certification/evaluation/integration/infrastructure/repositories/certification-candidate-repository_test.js
  api/tests/certification/evaluation/unit/domain/usecases/get-next-challenge-for-v2-certification_test.js
  api/tests/certification/evaluation/unit/domain/usecases/get-next-challenge_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get-next-challenge-for-certification_test.js
  api/tests/shared/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/shared/unit/application/assessments/assessment-controller-get-next-challenge_test.js
  api/tests/tooling/domain-builder/factory/build-certification-candidate-for-supervising.js
  api/tests/tooling/domain-builder/factory/build-challenge.js
  api/tests/tooling/fixtures/infrastructure/challengeLearningContentDataObjectFixture.js
  api/tests/unit/domain/models/Challenge_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10147 [TECH] Migrer le composant enrolled-candidates.hbs présent dans Pix Certif au format gjs (PIX-13810)
  certif/app/components/enrolled-candidates.hbs
  certif/app/components/enrolled-candidates.js
  certif/app/components/sessions/index.gjs
  certif/app/components/sessions/session-details/clea-results-download.gjs
  certif/app/components/sessions/session-details/controls-links.gjs
  certif/app/components/sessions/session-details/enrolled-candidates/candidate-creation-modal-complementary-list.gjs
  certif/app/components/sessions/session-details/enrolled-candidates/candidate-creation-modal.gjs
  certif/app/components/sessions/session-details/enrolled-candidates/candidate-details-modal-row.gjs
  certif/app/components/sessions/session-details/enrolled-candidates/candidate-details-modal.gjs
  certif/app/components/sessions/session-details/enrolled-candidates/candidate-edition-modal.gjs
  certif/app/components/sessions/session-details/enrolled-candidates/index.gjs
  certif/app/components/sessions/session-details/header.gjs
  certif/app/components/sessions/session-details/index.gjs
  certif/app/components/sessions/session-details/nav.gjs
  certif/app/components/sessions/session-list-header.gjs
  certif/app/components/sessions/session-list-row.gjs
  certif/app/components/sessions/session-list.gjs
  certif/app/templates/authenticated/sessions/details.hbs
  certif/app/templates/authenticated/sessions/details/certification-candidates.hbs
  certif/tests/integration/components/certification-candidate-details-modal/index-test.gjs
  certif/tests/integration/components/edit-candidate-modal/index-test.gjs
  certif/tests/integration/components/enrolled-candidates-test.js
  certif/tests/integration/components/new-candidate-modal/index_test.gjs
  certif/tests/integration/components/sessions/session-details/clea-results-download-test.gjs
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/candidate-creation-modal-test.gjs
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/candidate-details-modal-test.gjs
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/candidate-edition-modal-test.gjs
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/index-test.gjs
  certif/tests/integration/components/sessions/session-list-header_test.gjs
  certif/tests/integration/components/sessions/session-list_test.gjs
  certif/tests/unit/components/enrolled-candidates-test.js
  certif/tests/unit/components/new-candidate-modal/index-test.js
  certif/tests/unit/components/session-clea-results-download-test.js
  certif/tests/unit/components/sessions/index_test.gjs
  certif/tests/unit/components/sessions/session-list-header_test.gjs
  certif/tests/unit/components/sessions/session-list_test.gjs
  certif/tests/unit/components/sessions/session-summary-list_test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10155 [FEATURE] Masquer le champ "Code de prépaiement" tant que l'option "Prépayée" n'est pas cochée (PIX-13932)
  certif/app/components/sessions/session-details/enrolled-candidates/candidate-creation-modal.gjs
  certif/tests/acceptance/session-details-certification-candidates-test.js
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/candidate-creation-modal-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10133 [TECH] Essai de déclenchement de la CI via une Github Action, uniquement pour les Pull Requests.
  .circleci/config.yml
  .github/workflows/trigger-ci.yaml
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#10159 [BUGFIX] renomme les clés de traduction dans les fichier nl / en sur la table des lots de places
  orga/translations/en.json
  orga/translations/nl.json
Labels: Tech Review OK, Func Review OK, team-prescription

#10167 [TECH] Suppression d'un script de rescoring N-1 (PIX-13544).
  api/scripts/certification/rescore-complementary-certifications.js
Labels: Tech Review OK, team-certif

#10165 [FEATURE] Sauvegarder la date de reconciliation (PIX-14392).
  api/db/database-builder/factory/build-certification-candidate.js
  api/db/migrations/20240920163000_modify-to-reconciledAt-on-certification-candidates-table .js
  api/db/seeds/data/common/tooling/session-tooling.js
  api/src/certification/enrolment/application/certification-candidate-controller.js
  api/src/certification/enrolment/application/services/register-candidate-participation-service.js
  api/src/certification/enrolment/application/session-controller.js
  api/src/certification/enrolment/domain/models/Candidate.js
  api/src/certification/enrolment/domain/read-models/EnrolledCandidate.js
  api/src/certification/enrolment/domain/usecases/candidate-has-seen-certification-instructions.js
  api/src/certification/enrolment/domain/usecases/reconcile-candidate.js
  api/src/certification/enrolment/domain/usecases/validate-sessions.js
  api/src/certification/enrolment/domain/usecases/verify-candidate-identity.js
  api/src/certification/enrolment/infrastructure/repositories/candidate-repository.js
  api/src/certification/enrolment/infrastructure/repositories/enrolled-candidate-repository.js
  api/src/certification/enrolment/infrastructure/serializers/candidate-serializer.js
  api/src/certification/enrolment/infrastructure/serializers/enrolled-candidate-serializer.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/candidate-repository_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/enrolled-candidate-repository_test.js
  api/tests/certification/enrolment/unit/domain/models/Candidate_test.js
  api/tests/certification/enrolment/unit/domain/services/register-candidate-participation-service_test.js
  api/tests/certification/enrolment/unit/domain/usecases/candidate-has-seen-certification-instructions_test.js
  api/tests/certification/enrolment/unit/domain/usecases/reconcile-candidate_test.js
  api/tests/certification/enrolment/unit/domain/usecases/validate-sessions_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/candidate-serializer_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/enrolled-candidate-serializer_test.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-candidate.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10137 [FEATURE] Journaliser le changement d'adresse email (PIX-14360)
  api/src/identity-access-management/application/jobs/event-logging.job-controller.js
  api/src/identity-access-management/domain/models/jobs/EventLoggingJob.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/identity-access-management/domain/usecases/update-user-email-with-validation.usecase.js
  api/src/identity-access-management/infrastructure/repositories/jobs/event-logging-job.repository.js
  api/src/shared/infrastructure/repositories/jobs/job-repository.js
  api/tests/identity-access-management/integration/domain/usecases/update-user-email-with-validation.usecase.test.js
  api/tests/identity-access-management/unit/application/jobs/event-logging.job-controller.test.js
  api/tests/identity-access-management/unit/domain/models/jobs/EventLoggingJob.test.js
  api/tests/identity-access-management/unit/domain/usecases/update-user-email-with-validation.usecase.test.js
  api/tests/identity-access-management/unit/infrastructure/repositories/jobs/event-logging-job.repository.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10093 [TECH] Ajout de OpenFeature et PixEnvVarProvider
  api/package-lock.json
  api/package.json
  api/src/shared/infrastructure/feature-toggles/index.js
  api/src/shared/infrastructure/feature-toggles/pix-env-var-provider.js
  api/tests/shared/integration/infrastructure/feature-toggles/feature-toggles_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#10162 [FEATURE] Suppression du check de certificabilité à la création de la certification (PIX-14206).
  api/lib/domain/usecases/retrieve-last-or-create-certification-course.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Labels: :eyes: Func Review Needed, Func Review OK, team-certif

#10158 [BUGFIX] Correction de l'alignement des titres dans les cartes mission (Pix-14420)
  junior/app/styles/components/mission-card/card.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10163 [FEATURE] Séparation bulle message sur la page error (Pix-13558)
  junior/app/components/issue.gjs
  junior/app/controllers/school-error.js
  junior/app/templates/school-error.hbs
  junior/public/images/background-blob-warning.svg
  junior/tests/acceptance/access-school-test.js
  junior/tests/integration/issue_test.gjs
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10143 [BUGFIX] Supprimer l'initialisation en lang fr par défaut de l'application (PIX-14387)
  admin/app/index.html
  certif/app/index.html
  mon-pix/app/index.html
  mon-pix/app/routes/application.js
  mon-pix/tests/unit/routes/application-test.js
  orga/app/index.html
Labels: Tech Review OK, Func Review OK, team-acces

#10157 [BUGFIX] Ajout d'espace dans le bouton de la page de fin de mission (Pix-14165)
  junior/app/styles/pages/identified/missions/mission.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10166 [TECH] Migration de la route /api/users/{id}/profile (PIX-14454)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/server.js
  api/src/profile/application/index.js
  api/src/profile/application/profile-controller.js
  api/src/profile/domain/usecases/get-user-profile.js
  api/src/profile/domain/usecases/index.js
  api/src/profile/infrastructure/serializers/jsonapi/profile-serializer.js
  api/src/profile/routes.js
  api/tests/profile/unit/application/index_test.js
  api/tests/profile/unit/application/profile-controller_test.js
  api/tests/profile/unit/domain/usecases/get-user-profile_test.js
  api/tests/profile/unit/infrastructure/serializers/jsonapi/profile-serializer_test.js
  api/tests/unit/application/users/index_test.js
  api/tests/unit/application/users/user-controller_test.js
Labels: team-evaluation, cross-team

#10096 [FEATURE] Générer les identifiants en masse pour les élèves (PIX-12975)
  api/db/seeds/data/team-acces/build-sco-organization-learners.js
  api/db/seeds/data/team-acces/build-sco-organizations.js
  api/db/seeds/data/team-acces/constants.js
  api/lib/application/sco-organization-learners/index.js
  api/lib/application/sco-organization-learners/sco-organization-learner-controller.js
  api/lib/domain/constants/generate-organization-learners-username-and-temporary-password-errors.js
  api/lib/domain/usecases/generate-organization-learners-username-and-temporary-password.js
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/reset-organization-learners-password.js
  api/src/identity-access-management/domain/errors.js
  api/src/identity-access-management/domain/models/OrganizationLearnerIdentities.js
  api/src/identity-access-management/domain/models/OrganizationLearnerIdentity.js
  api/src/identity-access-management/infrastructure/repositories/authentication-method.repository.js
  api/src/identity-access-management/infrastructure/repositories/organization-learner-identity.repository.js
  api/src/organizational-entities/domain/models/Organization.js
  api/tests/acceptance/application/sco-organization-learners/sco-organization-learner-controller_test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/authentication-method.repository.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/organization-learner-identity.repository.test.js
  api/tests/identity-access-management/unit/domain/models/OrganizationLearnerIdentities.test.js
  api/tests/integration/application/sco-organization-learners/sco-organization-learner-controller_test.js
  api/tests/integration/domain/usecases/generate-organization-learners-username-and-temporary-password_test.js
  api/tests/organizational-entities/unit/domain/models/Organization_test.js
  api/tests/unit/domain/usecases/reset-organization-learners-password_test.js
  orga/app/adapters/sco-organization-participant.js
  orga/app/components/sco-organization-participant/action-bar.hbs
  orga/app/components/sco-organization-participant/generate-username-password-modal.gjs
  orga/app/components/sco-organization-participant/generate-username-password-modal.scss
  orga/app/components/sco-organization-participant/list-action-bar.gjs
  orga/app/components/sco-organization-participant/list.hbs
  orga/app/components/sco-organization-participant/list.js
  orga/app/models/organization.js
  orga/app/styles/app.scss
  orga/app/templates/authenticated/sco-organization-participants/list.hbs
  orga/ember-cli-build.js
  orga/mirage/config.js
  orga/tests/acceptance/sco-organization-participant-list-test.js
  orga/tests/integration/components/sco-organization-participant/generate-username-password-modal-test.gjs
  orga/tests/integration/components/sco-organization-participant/list-action-bar-test.gjs
  orga/tests/integration/components/sco-organization-participant/list-test.js
  orga/tests/unit/adapters/sco-organization-participant-test.js
  orga/tests/unit/models/organization-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, Func Review OK, team-acces

#10142 [FEATURE] Supprimer le support des anciens messages d’embed (PIX-14118)
  mon-pix/app/components/challenge-embed-simulator.js
  mon-pix/tests/integration/components/challenge-embed-simulator-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-contenu

#10007 [FEATURE] Ajouter le contenu de l'onglet Formations (PIX-12986).
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/index.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/trainings.gjs
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results.gjs
  mon-pix/app/styles/components/campaigns/assessment/skill-review/evaluation-results-tabs/trainings.scss
  mon-pix/app/styles/components/campaigns/index.scss
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/evaluation-results-tabs-test.js
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/rewards/trainings-test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#10186 [BUGFIX] Ne pas proposer d'épreuves inaccessibles à un candidat de certification nécessitant un test aménagé (PIX-14517).
  api/src/certification/evaluation/infrastructure/repositories/certification-candidate-repository.js
  api/tests/certification/evaluation/integration/infrastructure/repositories/certification-candidate-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10174 [FEATURE] Supprimer le endpoint de ping Companion dans l’API (PIX-14478)
  api/sample.env
  api/src/certification/enrolment/application/companion-controller.js
  api/src/certification/enrolment/application/companion-route.js
  api/src/certification/enrolment/domain/models/CompanionPingInfo.js
  api/src/certification/enrolment/domain/usecases/save-companion-ping.js
  api/src/certification/enrolment/infrastructure/repositories/certification-candidate-repository.js
  api/src/certification/enrolment/routes.js
  api/src/certification/shared/domain/services/temporary-companion-storage-service.js
  api/src/shared/config.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/certification-candidate-repository_test.js
  api/tests/certification/enrolment/unit/application/companion-controller_test.js
  api/tests/certification/enrolment/unit/application/companion-route_test.js
  api/tests/certification/enrolment/unit/domain/usecases/save-companion-ping_test.js
  api/tests/certification/shared/integration/domain/services/temporary-companion-storage-service_test.js
  api/tests/certification/shared/unit/domain/services/temporary-companion-storage-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-companion

#10180 [FEATURE] Supprimer l’info companion actif sur la page de supervision (PIX-14479)
  api/src/certification/enrolment/domain/usecases/index.js
  api/src/certification/session-management/domain/models/CertificationCandidateForSupervising.js
  api/src/certification/session-management/domain/usecases/get-session-for-supervising.js
  api/src/certification/session-management/domain/usecases/index.js
  api/src/certification/session-management/infrastructure/serializers/session-for-supervising-serializer.js
  api/src/certification/shared/domain/services/temporary-companion-storage-service.js
  api/tests/certification/session-management/unit/domain/usecases/get-session-for-supervising_test.js
  api/tests/certification/session-management/unit/infrastructure/serializers/session-for-supervising-serializer_test.js
  api/tests/certification/shared/integration/domain/services/temporary-companion-storage-service_test.js
  certif/app/components/session-supervising/candidate-in-list.hbs
  certif/app/models/certification-candidate-for-supervising.js
  certif/tests/integration/components/session-supervising/candidate-in-list-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-companion

#10140 [FEATURE] Préparer le template de layout pour la nouvelle mire d'authentification (PIX-13996)
  mon-pix/app/components/authentication-layout/footer.gjs
  mon-pix/app/components/authentication-layout/header.gjs
  mon-pix/app/components/authentication-layout/index.gjs
  mon-pix/app/components/authentication-layout/index.scss
  mon-pix/app/components/authentication/login-form.gjs
  mon-pix/app/components/footer.hbs
  mon-pix/app/components/footer.js
  mon-pix/app/components/footer/footer-links.gjs
  mon-pix/app/components/footer/index.hbs
  mon-pix/app/components/footer/index.js
  mon-pix/app/controllers/authentication/login.js
  mon-pix/app/services/url.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/pages/_authentication.scss
  mon-pix/app/templates/authentication/login.hbs
  mon-pix/ember-cli-build.js
  mon-pix/public/images/illustrations/authentication.svg
  mon-pix/tests/acceptance/authentication/login-test.js
  mon-pix/tests/helpers/create-glimmer-component.js
  mon-pix/tests/integration/components/authentication-layout/footer_test.gjs
  mon-pix/tests/integration/components/authentication-layout/index-test.gjs
  mon-pix/tests/integration/components/footer/footer-links_test.gjs
  mon-pix/tests/integration/components/footer/footer-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#10172 [TECH] migrate /api/admin/target-profiles/{id}/badges route (PIX-14465)
  api/lib/application/target-profiles/index.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/src/evaluation/application/badges/badges-controller.js
  api/src/evaluation/application/badges/index.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/evaluation/acceptance/application/badges/index_test.js
  api/tests/evaluation/unit/application/badges/index_test.js
  api/tests/unit/application/target-profiles/index_test.js
Labels: :eyes: Tech Review Needed, team-evaluation, cross-team

#10154 [TECH] Améliorer le mot de passe surveillant (PIX-13007).
  api/db/database-builder/factory/build-session.js
  api/db/migrations/20240920091210_modify-session-invigilator-password.js
  api/db/seeds/data/common/tooling/session-tooling.js
  api/src/certification/enrolment/domain/models/SessionEnrolment.js
  api/src/certification/enrolment/infrastructure/repositories/session-repository.js
  api/src/certification/enrolment/infrastructure/serializers/session-serializer.js
  api/src/certification/session-management/application/supervise-controller.js
  api/src/certification/session-management/domain/models/SessionManagement.js
  api/src/certification/session-management/domain/usecases/supervise-session.js
  api/src/certification/session-management/infrastructure/repositories/session-for-invigilator-kit-repository.js
  api/tests/certification/enrolment/acceptance/application/session-mass-import-route_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/session-repository_test.js
  api/tests/certification/enrolment/unit/domain/models/SessionEnrolment_test.js
  api/tests/certification/enrolment/unit/domain/usecases/create-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/create-sessions_test.js
  api/tests/certification/enrolment/unit/domain/usecases/validate-sessions_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/session-serializer_test.js
  api/tests/certification/session-management/acceptance/application/supervise-controller-supervise_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/session-for-invigilator-kit-repository_test.js
  api/tests/certification/session-management/unit/application/supervise-controller_test.js
  api/tests/certification/session-management/unit/domain/models/SessionManagement_test.js
  api/tests/certification/session-management/unit/domain/usecases/get-invigilator-kit-session-info_test.js
  api/tests/certification/session-management/unit/domain/usecases/supervise-session_test.js
  api/tests/tooling/domain-builder/factory/build-session-for-invigilator-kit.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-session.js
  api/tests/tooling/domain-builder/factory/certification/session-management/build-session.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10190 [TECH] Remplit la colonne `reconciledAt` pour les anciennes certifications (PIX-14403).
  api/db/migrations/20240924091540_add-reconciliation-date-to-former-candidates.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10179 [TECH] Migration du endpoint target-profile-summaries (PIX-14475)
  api/lib/application/target-profiles/index.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/domain/usecases/index.js
  api/src/prescription/target-profile/application/admin-target-profile-controller.js
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/src/prescription/target-profile/domain/usecases/find-paginated-filtered-target-profile-summaries-for-admin.js
  api/src/prescription/target-profile/domain/usecases/index.js
  api/src/prescription/target-profile/infrastructure/repositories/target-profile-summary-for-admin-repository.js
  api/tests/prescription/target-profile/integration/infrastructure/repositories/target-profile-summary-for-admin-repository_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profile-controller_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profiles-route_test.js
  api/tests/prescription/target-profile/unit/domain/usecases/find-paginated-filtered-target-profile-summaries-for-admin_test.js
  api/tests/unit/application/target-profiles/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#10188 [TECH] Prendre en compte la date de réconciliation dans les cas qui vérifie la réconciliation (PIX-14515).
  api/src/certification/enrolment/application/services/register-candidate-participation-service.js
  api/src/certification/enrolment/application/usecases/check-user-is-candidate.js
  api/src/certification/enrolment/domain/models/Candidate.js
  api/src/certification/enrolment/domain/models/SessionEnrolment.js
  api/src/certification/enrolment/domain/read-models/EnrolledCandidate.js
  api/src/certification/enrolment/domain/usecases/delete-unlinked-certification-candidate.js
  api/src/certification/enrolment/domain/usecases/import-certification-candidates-from-candidates-import-sheet.js
  api/src/certification/enrolment/domain/usecases/update-enrolled-candidate.js
  api/src/certification/enrolment/domain/usecases/verify-candidate-identity.js
  api/src/certification/enrolment/infrastructure/repositories/candidate-repository.js
  api/tests/certification/enrolment/unit/application/validator/checkUserIsCandidate_test.js
  api/tests/certification/enrolment/unit/domain/models/Candidate_test.js
  api/tests/certification/enrolment/unit/domain/models/SessionEnrolment_test.js
  api/tests/certification/enrolment/unit/domain/services/register-candidate-participation-service_test.js
  api/tests/certification/enrolment/unit/domain/usecases/import-certification-candidates-from-candidates-import-sheet_test.js
  api/tests/certification/enrolment/unit/domain/usecases/update-enrolled-candidate_test.js
  api/tests/certification/enrolment/unit/domain/usecases/verify-candidate-identity_test.js
  api/tests/certification/session-management/unit/domain/usecases/delete-unlinked-certification-candidate_test.js
  api/tests/integration/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10161 [TECH] Permettre la suppression de cronJob lorsque l'on change son nom (PIX-14453)
  api/db/database-builder/factory/prescription/organization-learners/build-organization-learner.js
  api/src/prescription/campaign-participation/application/jobs/participation-completed-job-controller.js
  api/src/prescription/campaign-participation/application/jobs/participation-shared-job-controller.js
  api/src/prescription/campaign-participation/application/jobs/participation-started-job-controller.js
  api/src/prescription/learner-management/application/jobs/schedule-compute-organization-learners-certificability-job-controller.js
  api/src/shared/config.js
  api/src/shared/infrastructure/jobs/JobQueue.js
  api/src/shared/infrastructure/repositories/jobs/job-repository.js
  api/tests/integration/tooling/jobs/expect-job.test.js
  api/tests/prescription/learner-management/integration/application/jobs/schedule-compute-organization-learners-certificability-job-controller_test.js
  api/tests/shared/integration/infrastructure/jobs/JobQueue_test.js
  api/tests/tooling/jobs/expect-job.js
  api/tests/unit/worker_test.js
  api/worker.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, team-captains, tech-days-evenementiel

#10185 [BUGFIX] Passer la bonne information en paramètre de la Pagination sur PixAdmin (Pix-14499)
  admin/app/routes/authenticated/organizations/get/campaigns.js
  admin/tests/unit/routes/authenticated/organizations/get/campaigns-test.js
  api/src/prescription/campaign/application/campaign-administration-route.js
  api/src/shared/domain/types/identifiers-type.js
  api/tests/prescription/campaign/unit/application/campaign-administration-route_test.js
  api/tests/shared/unit/domain/types/identifiers-type_test.js
Labels: Tech Review OK, Func Review OK, team-prescription

#10145 [FEATURE] exporte les champs supplémentaires fourni lors de l'import (PIX-13695)
  api/db/database-builder/factory/build-organization-learner-with-user.js
  api/db/seeds/data/common/organization-learner-import-formats.js
  api/package.json
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/campaign/domain/read-models/CampaignParticipationInfo.js
  api/src/prescription/campaign/domain/services/campaign-csv-export-service.js
  api/src/prescription/campaign/domain/usecases/get-campaign-by-code.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-assessment-results-to-stream.js
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream.js
  api/src/prescription/campaign/infrastructure/exports/campaigns/campaign-profiles-collection-result-line.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-participation-info-repository.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-profiles-collection-export.js
  api/src/prescription/campaign/infrastructure/utils/CampaignAssessmentCsvLine.js
  api/src/prescription/learner-management/domain/models/OrganizationLearnerImportFormat.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-assessment-results-to-stream_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-participation-info-repository_test.js
  api/tests/prescription/campaign/unit/domain/read-models/CampaignParticipationInfo_test.js
  api/tests/prescription/campaign/unit/domain/usecases/get-campaign-by-code_test.js
  api/tests/prescription/campaign/unit/domain/usecases/start-writing-campaign-assessment-results-to-stream_test.js
  api/tests/prescription/campaign/unit/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream_test.js
  api/tests/prescription/campaign/unit/infrastructure/exports/campaigns/campaign-profiles-collection-result-line_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/csv/campaign-profiles-collection-export_test.js
  api/tests/prescription/campaign/unit/infrastructure/utils/CampaignAssessmentCsvLine_test.js
  api/tests/prescription/learner-management/unit/domain/models/OrganizationLearnerImportFormat_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-participation-info.js
  api/tests/unit/infrastructure/serializers/csv/campaign-profile-collection-export_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10175 [TECH] Replace des tests unitaires de composants par des tests d'intégration (PIX-14496).
  orga/app/components/campaign/charts/participants-by-day.gjs
  orga/tests/integration/components/auth/login-form-test.js
  orga/tests/integration/components/auth/login-or-register-test.js
  orga/tests/integration/components/campaign/activity/dashboard-test.js
  orga/tests/integration/components/campaign/charts/participants-by-day-test.js
  orga/tests/unit/components/auth/login-form-test.js
  orga/tests/unit/components/auth/login-or-register-test.js
  orga/tests/unit/components/campaign/activity/dashboard-test.js
  orga/tests/unit/components/campaign/charts/participants-by-day-test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#10187 [FEATURE] affiche la date de naissance et la classe pour les prescrits venant d'un import à format (Pix-13984)
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/src/prescription/learner-management/domain/read-models/OrganizationLearnerForAdmin.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user.repository.test.js
  api/tests/prescription/learner-management/unit/domain/read-models/OrganizationLearnerForAdmin_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10132 [DOC] Corriger des erreurs dans l'ADR 51.
  docs/adr/0051-nouvelle-arborescence-api.md
Labels: cross-team

#10191 [FEATURE] Pix Companion: Émettre des CustomEvents pour démarrage/fin de certification (PIX-14522)
  mon-pix/app/components/certification-starter.js
  mon-pix/app/routes/authenticated/certifications/results.js
  mon-pix/app/services/pix-companion.js
  mon-pix/app/services/window-post-message.js
  mon-pix/tests/integration/components/certification-starter-test.js
  mon-pix/tests/unit/routes/authenticated/certifications/results-test.js
  mon-pix/tests/unit/services/pix-companion-test.js
  mon-pix/tests/unit/services/window-post-message-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-companion

#10192 [TECH] Changer le code http de l'erreur AnswerEvaluationError (PIX-14519).
  api/lib/domain/usecases/correct-answer-then-update-assessment.js
  api/src/evaluation/application/http-error-mapper-configuration.js
  api/src/evaluation/domain/errors.js
  api/src/shared/application/http-errors.js
  api/src/shared/domain/errors.js
  api/tests/integration/application/error-manager_test.js
Labels: :eyes: Tech Review Needed, team-evaluation

#10169 [TECH] Conserver un seul fichier de constantes pour le repertoire src/shared/infrastructures (PIX-14462).
  api/lib/domain/usecases/create-organizations-with-tags-and-target-profiles.js
  api/lib/infrastructure/constants.js
  api/scripts/prod/compute-participation-results.js
  api/src/certification/session-management/domain/usecases/integrate-cpf-processing-receipts.js
  api/src/certification/session-management/infrastructure/storage/cpf-exports-storage.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-analysis-repository.js
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-assessment-results-to-stream.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-collective-result-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-profiles-collection-participation-summary-repository.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-profiles-collection-export.js
  api/src/shared/infrastructure/constants.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#10173 [TECH] Migrer la route User Has Seen New Dashboard (PIX-14451).
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/src/evaluation/application/users/index.js
  api/src/evaluation/application/users/user-controller.js
  api/src/evaluation/domain/usecases/remember-user-has-seen-level-seven-info.js
  api/src/evaluation/domain/usecases/remember-user-has-seen-new-dashboard-info.js
  api/src/evaluation/infrastructure/repositories/user-repository.js
  api/src/identity-access-management/application/api/users-api.js
  api/src/identity-access-management/domain/usecases/mark-user-has-seen-new-dashboard-info.usecase.js
  api/tests/evaluation/acceptance/application/users/remember-user-has-seen-new-dashboard-info_test.js
  api/tests/evaluation/unit/application/users/user-controller_test.js
  api/tests/evaluation/unit/domain/usecases/remember-user-has-seen-level-seven-info_test.js
  api/tests/identity-access-management/integration/application/api/users-api_test.js
  api/tests/unit/application/users/user-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-evaluation

#10199 [TECH] Retirer les logs de débug de l'import SIECLE (PIX-14529)
  api/src/prescription/learner-management/domain/usecases/add-or-update-organization-learners.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-repository.js
  api/src/prescription/learner-management/utils/loggerForImport.js
  api/src/shared/config.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10164 [FEATURE] Afficher une carte question / réponse (PIX-14306)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/flashcards-schema.js
  mon-pix/app/components/module/element.gjs
  mon-pix/app/components/module/element/flashcards.gjs
  mon-pix/app/components/module/grain.gjs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/module/_flashcards.scss
  mon-pix/app/styles/pages/_module.scss
  mon-pix/tests/integration/components/module/element_test.gjs
  mon-pix/tests/integration/components/module/flashcards_test.gjs
  mon-pix/tests/integration/components/module/grain_test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-devcomp

#10198 [FEATURE] Ajouter des titres explicites aux éléments de tableaux lors de l'export du schema Modulix (PIX-14544)
  api/src/devcomp/infrastructure/datasources/conversion/joi-to-json-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/conversion/joi-to-json-schema_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#10200 [FEATURE] Filtre sur les résultats dans le détail d'une mission sur Pix Orga (PIX-13377)
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-repository.js
  api/src/school/application/mission-learner-controller.js
  api/src/school/application/mission-learner-route.js
  api/src/school/domain/usecases/find-paginated-mission-learners.js
  api/src/school/infrastructure/repositories/mission-learner-repository.js
  api/tests/school/integration/application/mission-learner-controller_test.js
  api/tests/school/integration/domain/usecases/find-paginated-mission-learners_test.js
  api/tests/school/unit/application/mission-learner-route_test.js
  api/tests/school/unit/domain/usecases/find-paginated-mission-learners_test.js
  api/tests/school/unit/infrastructure/repositories/mission-learner-repository_test.js
  orga/app/components/mission/result-table.gjs
  orga/app/controllers/authenticated/missions/mission/results.js
  orga/app/routes/authenticated/missions/mission/results.js
  orga/app/styles/components/mission/result-table.scss
  orga/app/templates/authenticated/missions/list.hbs
  orga/app/templates/authenticated/missions/mission/results.hbs
  orga/mirage/handlers/find-paginated-mission-learners.js
  orga/tests/acceptance/missions-details-test.js
  orga/tests/acceptance/sup-organization-participant-list-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10197 [FEATURE] Ajouter une page de blocage pour Pix Companion (PIX-14538)
  mon-pix/app/components/companion/blocker.gjs
  mon-pix/app/components/companion/shield-icon.gjs
  mon-pix/app/services/pix-companion.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/companion/blocker.scss
  mon-pix/tests/integration/components/companion/blocker-test.gjs
  mon-pix/tests/unit/services/pix-companion-test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-companion

#10211 [FEATURE] Enregistrer comme correcte une réponse focused out si le candidat a un besoin d'aménagement (PIX-14242).
  api/lib/domain/usecases/correct-answer-then-update-assessment.js
  api/lib/domain/usecases/index.js
  api/src/certification/evaluation/domain/models/Candidate.js
  api/src/certification/evaluation/infrastructure/repositories/certification-candidate-repository.js
  api/src/shared/domain/models/Examiner.js
  api/tests/certification/evaluation/acceptance/answer-route_test.js
  api/tests/certification/evaluation/integration/infrastructure/repositories/certification-candidate-repository_test.js
  api/tests/shared/unit/domain/models/Examiner_test.js
  api/tests/tooling/domain-builder/factory/certification/evaluation/build-candidate.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/usecases/correct-answer-then-update-assessment_test.js
Labels: :eyes: Tech Review Needed, Func Review OK, team-certif
