Repository 1024pix/pix, pull requests merged in 2024-03, with the labels that each got.

#8130 [FEATURE] Intégration retour A Tricot, module bien-ecrire-son-adresse-mail (MODC-37)(MODC-40)
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8230 [FEATURE] Màj de contenu après revue Minico - module principes-fondateurs-wikipedia
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8224 [BUGFIX] Remonter le dernier résultat publié d'un élève quand il est bien entré en session (PIX-11398).
  api/src/certification/course/infrastructure/repositories/sco-certification-candidate-repository.js
  api/tests/certification/course/acceptance/application/organization-controller_test.js
  api/tests/certification/course/integration/infrastructure/repositories/sco-certification-candidate-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8151 [BUGFIX] Permettre de publier un certification en erreur si elle est annulée (PIX-11374)
  api/lib/domain/services/session-publication-service.js
  api/lib/infrastructure/repositories/certification-repository.js
  api/tests/integration/infrastructure/repositories/certification-repository_test.js
  api/tests/unit/domain/services/session-publication-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8232 [BUGFIX] rafraichit les divisions après un import (PIX-11463)
  orga/app/controllers/authenticated/import-organization-participants.js
  orga/app/routes/authenticated/import-organization-participants.js
  orga/tests/unit/controllers/authenticated/import-organization-participants_test.js
  orga/tests/unit/routes/authenticated/import-organization-participants_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8219 [FEATURE] Ajout images et derniers grains ports-connexions-essentiels (MODC-11)(MODC-13)
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8233 [FEATURE] Ajout de commentaire jury automatique en cas d'annulation de certification pour trop de challenges neutralisés pour la V2 (PIX-10532)
  api/src/certification/scoring/domain/models/factories/AssessmentResultFactory.js
  api/src/certification/shared/domain/models/JuryComment.js
  api/tests/certification/scoring/unit/domain/factories/AssessmentResultFactory_test.js
Labels: :rocket: Ready to Merge, team-certif

#8234 [TECH] Séparation de l'injection du scoring et de shared (PIX-11472).
  api/src/certification/scoring/application/competence-for-scoring-configuration-controller.js
  api/src/certification/scoring/domain/usecases/index.js
  api/src/certification/scoring/domain/usecases/save-competence-for-scoring-configuration.js
  api/src/certification/shared/domain/usecases/index.js
  api/tests/certification/scoring/integration/application/competence-for-scoring-configuration-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#8239 [FEATURE] Enlever la barre de navigation sur la page /details de Modulix (PIX-11480).
  mon-pix/app/pods/module/details/template.hbs
  mon-pix/tests/acceptance/module/visit-module-details-page_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8226 [FEATURE] Ajout du nouveau fond d'écran pour les 3 page d'identification (Pix-11077)
  1d/app/pods/components/issue/issue.scss
  1d/app/pods/organization-code/route.js
  1d/app/pods/school/route.js
  1d/app/pods/school/students/controller.js
  1d/app/styles/app.scss
  1d/app/utils/layout.js
  1d/public/images/background-blob-error.svg
  1d/public/images/background-blob.svg
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, Design Review OK, 🎒👧🏽👦🏾 Pix1D

#8263 [BUGFIX] Rétablir la création de RT d'un profil-cible (PIX-11508).
  api/lib/application/target-profiles/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#8254 [TECH] :recycle: Déplace `activity-serializer.js` ver `src/school`
  api/src/school/application/assessment-controller.js
  api/src/school/infrastructure/serializers/activity-serializer.js
  api/tests/unit/infrastructure/serializers/jsonapi/activity-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D, Bounded-context-migration

#8249 [TECH] :recycle: déplacement de `area-repository` vers le répertoire `src/shared`
  api/lib/domain/services/scoring/scoring-certification-service.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/campaign-participation-result-repository.js
  api/lib/infrastructure/repositories/campaign-profile-repository.js
  api/lib/infrastructure/repositories/competence-tree-repository.js
  api/lib/infrastructure/repositories/learning-content-repository.js
  api/lib/infrastructure/repositories/participant-result-repository.js
  api/src/certification/scoring/infrastructure/repositories/competence-for-scoring-repository.js
  api/src/devcomp/infrastructure/repositories/training-trigger-repository.js
  api/src/evaluation/domain/usecases/index.js
  api/src/school/domain/usecases/index.js
  api/src/shared/infrastructure/repositories/area-repository.js
  api/src/shared/infrastructure/repositories/target-profile-for-admin-repository.js
  api/tests/integration/infrastructure/repositories/area-repository_test.js
  api/tests/school/integration/domain/usecases/get-mission_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, team-devcomp, Bounded-context-migration

#8159 [TECH] Ajouter le workflow de prise en charge de dépréciation d'Ember.js sur Pix App
  mon-pix/config/deprecation-workflow.js
  mon-pix/package-lock.json
  mon-pix/package.json
Labels: :rocket: Ready to Merge, cross-team

#8199 [BUGFIX] Activer le scoring pour les certifications v3 terminées par le surveillant (PIX-11421)
  api/lib/domain/events/handle-auto-jury.js
  api/tests/unit/domain/events/handle-auto-jury_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#8238 [FEATURE] Eviter le CLS dû au chargement de l'illustration d'un Module
  mon-pix/app/pods/components/module/details/styles.scss
  mon-pix/app/pods/components/module/details/template.hbs
Labels: :rocket: Ready to Merge, team-devcomp

#8104 [FEATURE] Créer une route pour tester l'algorithme Smart Random (PIX-11177).
  api/src/evaluation/application/smart-random-simulator/index.js
  api/src/evaluation/application/smart-random-simulator/smart-random-simulator-controller.js
  api/src/evaluation/domain/models/SimulationParameters.js
  api/src/evaluation/domain/usecases/get-next-challenge-for-simulator.js
  api/src/evaluation/domain/usecases/index.js
  api/src/evaluation/infrastructure/serializers/jsonapi/smart-random-simulator-serializer.js
  api/src/evaluation/routes.js
  api/src/shared/domain/models/AnswerStatus.js
  api/src/shared/domain/types/identifiers-type.js
  api/tests/evaluation/acceptance/application/smart-random-simulator/smart-random-simulator-controller_test.js
  api/tests/evaluation/integration/domain/usecases/get-next-challenge-for-simulator_test.js
  api/tests/evaluation/unit/application/smart-random-simulator/index_test.js
  api/tests/evaluation/unit/domain/usecases/get-next-challenge-for-simulator_test.js
  api/tests/evaluation/unit/infrastructure/serializers/jsonapi/smart-random-simulator-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#8253 [TECH] :recycle: Déplace la constante `ORGANIZATION_FEATURE` dans le fichier `src/shared/domain/constants.js`
  api/db/migrations/20230407090348_add-multiple-sending-feature.js
  api/db/migrations/20230731095207_add-auto-certificability-feature-on-features-table.js
  api/db/migrations/20231120143059_add-places-management-feature.js
  api/db/migrations/20240117095601_add-missions-management-to-features.js
  api/db/seeds/data/common/feature-builder.js
  api/lib/domain/constants.js
  api/lib/domain/models/organizations-administration/OrganizationForAdmin.js
  api/lib/infrastructure/repositories/organization-learner-repository.js
  api/scripts/prod/enable-compute-certificability-on-sco-aefe-organizations.js
  api/scripts/prod/enable-compute-certificability-on-sco-organizations-that-manage-students.js
  api/src/prescription/campaign/domain/models/CampaignCreator.js
  api/src/prescription/organization-place/application/organization-place-route.js
  api/src/school/scripts/create-school-learners.js
  api/src/shared/domain/constants.js
  api/tests/acceptance/application/organizations-administration/organization-administration-get_test.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
  api/tests/acceptance/application/security-pre-handlers_test.js
  api/tests/integration/application/organizations-administration/organization-administration-controller_test.js
  api/tests/integration/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
  api/tests/integration/infrastructure/repositories/organization-for-admin-repository_test.js
  api/tests/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/integration/infrastructure/repositories/organization-repository_test.js
  api/tests/integration/scripts/prod/enable-compute-certificability-on-sco-aefe-organizations_test.js
  api/tests/integration/scripts/prod/enable-compute-certificability-on-sco-organizations-that-manage-students_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-administration-route_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-creator-repository_test.js
  api/tests/prescription/campaign/unit/domain/models/CampaignCreator_test.js
  api/tests/prescription/organization-place/acceptance/application/get-organization-places-statistics_test.js
  api/tests/school/integration/scripts/create-school-learners_test.js
  api/tests/shared/integration/infrastructure/repositories/organization-feature-repository_test.js
  api/tests/shared/prescriber-management/acceptance/application/prescriber-informations-controller_test.js
  api/tests/shared/prescriber-management/integration/infrasctructure/repositories/prescriber-repository_test.js
  api/tests/shared/prescriber-management/unit/infrastructure/serializers/jsonapi/prescriber-serializer_test.js
  api/tests/unit/domain/models/organizations-administration/OrganizationForAdmin_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/organization-for-admin-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, Bounded-context-migration

#8275 [FEATURE] [API] Ajouter nl-BE dans SUPPORTED_LOCALES (PIX-11232)
  api/src/shared/domain/constants.js
Labels: :rocket: Ready to Merge, team-acces

#8258 [TECH] Utiliser la variable recommandée par l'hébergeur pour alimenter le header de version
  1d/app/adapters/application.js
  1d/config/environment.js
  admin/app/adapters/application.js
  admin/config/environment.js
  api/lib/infrastructure/plugins/pino.js
  certif/app/adapters/application.js
  certif/config/environment.js
  mon-pix/app/adapters/application.js
  mon-pix/config/environment.js
  orga/app/adapters/application.js
  orga/config/environment.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-captains, cross-team

#8271 [TECH] :construction_worker: Détecte les branches suceptible d'être périmées
  .github/workflows/stale-branches.yml
Labels: :rocket: Ready to Merge, cross-team, no-review-app

#8250 [TECH] :recycle: Déplacement du service `code-generator` vers `src`
  api/lib/domain/usecases/create-organizations-with-tags-and-target-profiles.js
  api/lib/domain/usecases/index.js
  api/scripts/data-generation/generate-campaign-with-participants.js
  api/scripts/prod/create-assessment-campaigns-for-sco.js
  api/scripts/prod/create-profiles-collection-campaigns.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/school/scripts/create-school-learners.js
  api/src/shared/domain/services/code-generator.js
  api/tests/prescription/campaign/integration/domain/usecases/create-campaign_test.js
  api/tests/unit/domain/services/code-generator_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, Bounded-context-migration

#8274 [TECH] :recycle: Renvoie l'erreur reçue plutôt qu'une erreur maison générique
  api/lib/application/http-errors.js
  api/lib/domain/usecases/get-correction-for-answer.js
  api/src/shared/application/http-errors.js
  api/tests/unit/domain/usecases/get-correction-for-answer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, team-captains, cross-team

#8267 [TECH] Déporter l'utilisation du S3 dans le usecase pour le SUP (PIX-11503)
  api/src/prescription/learner-management/application/sup-organization-management-controller.js
  api/src/prescription/learner-management/domain/usecases/import-sup-organization-learners.js
  api/src/prescription/learner-management/domain/usecases/replace-sup-organization-learner.js
  api/src/prescription/learner-management/infrastructure/serializers/csv/sup-organization-learner-parser.js
  api/tests/prescription/learner-management/integration/domain/usecases/import-sup-organization-learners_test.js
  api/tests/prescription/learner-management/unit/application/sup-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-sup-organization-learners_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/replace-sup-organization-learners_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8281 [TECH] :recycle: Déplacement de `query-params-utils.js` vers `src`
  api/lib/application/campaigns/campaign-controller.js
  api/lib/application/campaigns/campaign-management-controller.js
  api/lib/application/certification-centers/certification-center-controller.js
  api/lib/application/organizations/organization-controller.js
  api/lib/application/sessions/finalized-session-controller.js
  api/lib/application/sessions/session-controller.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/application/user-tutorials/user-tutorials-controller.js
  api/lib/application/users/user-controller.js
  api/src/devcomp/application/trainings/training-controller.js
  api/src/evaluation/application/autonomous-courses/autonomous-course-controller.js
  api/src/prescription/campaign/application/campaign-detail-controller.js
  api/src/prescription/campaign/application/campaign-results-controller.js
  api/src/prescription/organization-learner/application/learner-list-controller.js
  api/src/prescription/organization-learner/application/sco-learner-list-controller.js
  api/src/prescription/organization-learner/application/sup-learner-list-controller.js
  api/src/shared/infrastructure/utils/query-params-utils.js
  api/tests/prescription/organization-learner/unit/application/learner-list-controller_test.js
  api/tests/prescription/organization-learner/unit/application/sup-learner-list-controller_test.js
  api/tests/unit/application/session/session-controller_test.js
  api/tests/unit/application/users/user-controller_test.js
  api/tests/unit/infrastructure/utils/query-params-utils_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, Bounded-context-migration

#8282 [TECH] :recycle: Déplacement de `entity-validator.js` vers `src`
  api/lib/domain/events/UserAnonymized.js
  api/lib/domain/models/AuthenticationMethod.js
  api/lib/domain/models/CertificationAssessment.js
  api/lib/domain/models/CertificationCenterInvitation.js
  api/lib/domain/models/CompetenceMark.js
  api/lib/domain/models/OrganizationInvitation.js
  api/lib/domain/models/PartnerCertificationScoring.js
  api/lib/domain/read-models/CampaignParticipationInfo.js
  api/lib/domain/read-models/OrganizationLearnerForAdmin.js
  api/src/prescription/organization-place/domain/read-models/PlacesLot.js
  api/src/shared/application/models/domain-error-mapping-configuration.js
  api/src/shared/domain/models/AdminMember.js
  api/src/shared/domain/validators/entity-validator.js
  api/tests/unit/domain/validators/entity-validator_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, Bounded-context-migration

#8287 [TECH] extrait la détection de l'encoding du parser (Pix-11518)
  api/src/prescription/learner-management/domain/services/organization-learners-csv-service.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-csv-format.js
  api/src/prescription/learner-management/domain/usecases/import-sup-organization-learners.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/domain/usecases/replace-sup-organization-learner.js
  api/src/prescription/learner-management/infrastructure/serializers/csv/csv-learner-parser.js
  api/tests/prescription/learner-management/integration/domain/services/organization-learners-csv-service_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-csv-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-sup-organization-learners_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/replace-sup-organization-learners_test.js
  api/tests/unit/infrastructure/serializers/csv/csv-learner-parser_test.js
  api/tests/unit/infrastructure/serializers/csv/higher-organization-learner-parser_test.js
  api/tests/unit/infrastructure/serializers/csv/organization-learner-parser_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8270 [TECH] Corriger le manque de contraste sur les textes dans certaines pages liées à la certification (PIX-11409).
  certif/app/styles/pages/session-supervising-error.scss
  mon-pix/app/styles/components/_certification-joiner.scss
  mon-pix/app/styles/components/_congratulations-certification-banner.scss
Labels: :rocket: Ready to Merge, team-certif

#8276 [FEATURE] Fournir la passageId au formulaire de feedback à la fin d'un Module (PIX-11445)
  mon-pix/app/pods/components/module/recap/template.hbs
  mon-pix/app/pods/module/details/route.js
  mon-pix/app/pods/module/recap/route.js
  mon-pix/app/pods/module/recap/template.hbs
  mon-pix/app/pods/module/route.js
  mon-pix/tests/acceptance/module/navigate-into-the-module-recap_test.js
  mon-pix/tests/acceptance/module/visit-module-recap-page_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8272 [TECH] Mis a jour les test e2e a11y avec les endpoints modulix (PIX-112990).
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  high-level-tests/e2e/cypress/integration/pix-app/a11y-not-authenticated.test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8262 [FEATURE] Ajout module sources-informations (MODC-15)
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8285 [FEATURE][ADMIN] Ajouter la gestion de la langue nl et la locale nl-BE sur la page d'un utilisateur (PIX-11537)
  admin/app/services/references.js
  admin/tests/integration/components/users/user-overview_test.js
  api/lib/application/users/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#8291 [TECH] Ajoute une organisation avec import FREGATA dans les seeds (PIX-11541)
  api/db/seeds/data/common/common-builder.js
  api/db/seeds/data/common/constants.js
  api/db/seeds/data/common/organization-builder.js
  api/db/seeds/data/common/tag-builder.js
  api/db/seeds/data/team-certification/data-builder.js
  api/db/seeds/seed.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8242 [FEATURE] Affiche les classes ayant déjà commencé la mission (Pix -11201)
  api/db/seeds/data/team-1d/data-builder.js
  api/src/school/application/mission-controller.js
  api/src/school/domain/models/Mission.js
  api/src/school/domain/services/inject-complement-data-to-mission.js
  api/src/school/domain/usecases/find-all-missions.js
  api/src/school/domain/usecases/get-mission.js
  api/src/school/infrastructure/repositories/organization-learner-repository.js
  api/src/school/infrastructure/serializers/mission-serializer.js
  api/tests/school/integration/application/mission-controller_test.js
  api/tests/school/integration/domain/usecases/find-all-missions_test.js
  api/tests/school/integration/domain/usecases/get-mission_test.js
  api/tests/school/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/school/integration/infrastructure/repositories/organization-learners-repository_test.js
  api/tests/school/unit/domain/services/inject-complement-data-to-mission_test.js
  orga/app/models/mission.js
  orga/app/templates/authenticated/missions/list.hbs
  orga/tests/acceptance/missions-list_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#8298 [FEATURE] Permettre des sous-titres vidéo vides sur Modulix (PIX-10997)
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/video.js
  mon-pix/app/pods/components/module/video/component.js
  mon-pix/app/pods/components/module/video/template.hbs
  mon-pix/tests/integration/components/module/video_test.js
  mon-pix/tests/unit/components/module/video_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8321 [FEATURE] Terminer un passage (PIX-11511)
  api/db/database-builder/factory/build-passage.js
  api/db/migrations/20240306144048_add-terminated-at-in-passages.js
  api/src/devcomp/application/http-error-mapper-configuration.js
  api/src/devcomp/application/passages/controller.js
  api/src/devcomp/application/passages/index.js
  api/src/devcomp/domain/errors.js
  api/src/devcomp/domain/models/Passage.js
  api/src/devcomp/domain/usecases/terminate-passage.js
  api/src/devcomp/domain/usecases/verify-and-save-answer.js
  api/src/devcomp/infrastructure/repositories/passage-repository.js
  api/tests/devcomp/acceptance/application/passages/passage-controller_test.js
  api/tests/devcomp/integration/application/passages/index_test.js
  api/tests/devcomp/integration/repositories/passage-repository_test.js
  api/tests/devcomp/unit/application/passages/controller_test.js
  api/tests/devcomp/unit/domain/models/Passage_test.js
  api/tests/devcomp/unit/domain/usecases/terminate-passage_test.js
  api/tests/devcomp/unit/domain/usecases/verify-and-save-answer_test.js
  mon-pix/app/pods/components/module/passage/component.js
  mon-pix/app/pods/passage/model.js
  mon-pix/mirage/config.js
  mon-pix/mirage/routes/modules/index.js
  mon-pix/mirage/routes/passages/create-passage.js
  mon-pix/mirage/routes/passages/index.js
  mon-pix/mirage/routes/passages/submit-answer.js
  mon-pix/mirage/routes/passages/terminate-passage.js
Labels: :rocket: Ready to Merge, team-devcomp

#8326 [FEATURE] Finalisation MVP module sources-informations
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8328 [FEATURE] Finalisation MVP module adresse-ip-publique-et-vous
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8289 [FEATURE] Améliorer la page de code d'une organisation (pix-11079)
  1d/app/pods/application/template.hbs
  1d/app/pods/organization-code/home.scss
  1d/app/pods/organization-code/route.js
  1d/app/pods/organization-code/template.hbs
  1d/app/styles/app.scss
  1d/app/utils/layout.js
  1d/public/images/background-blob-with-robot.svg
  1d/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, Design Review OK, 🎒👧🏽👦🏾 Pix1D

#8307 [BUGFIX] Ajout d'un UUID pour enregistrer les zip d'import dans des dossiers et sous des noms différents (PIX-11482)
  api/src/prescription/learner-management/infrastructure/utils/xml/zip.js
  api/tests/prescription/learner-management/integration/infrastructure/utils/xml/zip_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8325 [FEATURE] Stocke l'état de l'import FREGATA (PIX-11346)
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-csv-format.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-csv-format_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8331 [FEATURE] Ajouter les étapes de l'upload pour l'ajout/modification sur l'import SUP (PIX-11347)
  api/src/prescription/learner-management/application/sup-organization-management-controller.js
  api/src/prescription/learner-management/domain/usecases/import-sup-organization-learners.js
  api/tests/prescription/learner-management/unit/application/sup-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-sup-organization-learners_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8332 [FEATURE] Finalisation MVP module principes-fondateurs-wikipedia
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8333 [FEATURE] Finalisation MVP module ports-connexions-essentiels
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Labels: :rocket: Ready to Merge

#8179 [TECH] Prendre en charge les dépréciations d'ember-data sur Pix App
  mon-pix/app/models/assessment.js
  mon-pix/app/models/campaign-participation-result.js
  mon-pix/app/models/shared-profile-for-campaign.js
  mon-pix/app/routes/courses/start.js
  mon-pix/tests/unit/models/assessment_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#8345 [FEATURE] Ajouter les étapes de l'import remplacer un étudiant dans PixOrga (PIX-11348)
  api/src/prescription/learner-management/domain/usecases/replace-sup-organization-learner.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-sup-organization-learners_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/replace-sup-organization-learners_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8308 [FEATURE] Afficher l'option Nederlands dans le sélecteur de langues (PIX-10685)
  mon-pix/app/languages.js
  mon-pix/tests/integration/components/language-switcher_test.js
Labels: :rocket: Ready to Merge, team-acces

#8337 [FEATURE] Déplacer chaque module dans son propre fichier (PIX-10962)
  api/src/devcomp/infrastructure/datasources/learning-content/module-datasource.js
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Labels: :rocket: Ready to Merge, team-devcomp

#8343 [FEATURE] Revue de design de Modulix
  mon-pix/app/pods/components/module/grain/style.scss
  mon-pix/app/pods/components/module/passage/styles.scss
  mon-pix/app/pods/components/module/recap/styles.scss
  mon-pix/app/styles/components/_certification-starter.scss
  mon-pix/app/styles/globals/_fonts.scss
  mon-pix/app/styles/globals/_inputs.scss
Labels: :rocket: Ready to Merge, team-devcomp

#8277 [TECH] Migrer les nouvelles couleurs du design system sur Pix Certif (PIX-11528).
  certif/app/components/add-student-list.hbs
  certif/app/components/issue-report-modal/add-issue-report-modal.hbs
  certif/app/components/login-form.hbs
  certif/app/components/members-list-item.hbs
  certif/app/components/new-certification-candidate-modal.hbs
  certif/app/components/session-supervising/candidate-in-list.hbs
  certif/app/components/session-supervising/candidate-in-list.js
  certif/app/styles/app.scss
  certif/app/styles/components/add-issue-report-modal.scss
  certif/app/styles/components/add-student-list.scss
  certif/app/styles/components/auth/toggable-login-form.scss
  certif/app/styles/components/certif-checkbox.scss
  certif/app/styles/components/certification-candidate-details-modal.scss
  certif/app/styles/components/dropdown.scss
  certif/app/styles/components/ember-cli-notifications-ie-fallback.scss
  certif/app/styles/components/finalize.scss
  certif/app/styles/components/issue-report-modal.scss
  certif/app/styles/components/layout/footer.scss
  certif/app/styles/components/login-form.scss
  certif/app/styles/components/login-or-register.scss
  certif/app/styles/components/login-session-supervisor-form.scss
  certif/app/styles/components/new-certification-candidate-modal.scss
  certif/app/styles/components/register-form.scss
  certif/app/styles/components/select-referer-modal.scss
  certif/app/styles/components/session-finalization-step-container.scss
  certif/app/styles/components/session-finalization/complementary-information-step.scss
  certif/app/styles/components/session-finalization/reports-information-step.scss
  certif/app/styles/components/session-summary-list.scss
  certif/app/styles/components/session-supervising/candidate-in-list.scss
  certif/app/styles/components/session-supervising/candidate-list.scss
  certif/app/styles/components/session-supervising/header.scss
  certif/app/styles/components/session-supervising/live-alert-handled-modal.scss
  certif/app/styles/components/user-logged-menu.scss
  certif/app/styles/globals/errors.scss
  certif/app/styles/globals/forms.scss
  certif/app/styles/globals/panels.scss
  certif/app/styles/globals/tables.scss
  certif/app/styles/globals/texts.scss
  certif/app/styles/pages/authenticated.scss
  certif/app/styles/pages/authenticated/restricted-access.scss
  certif/app/styles/pages/authenticated/sessions.scss
  certif/app/styles/pages/authenticated/sessions/details.scss
  certif/app/styles/pages/authenticated/sessions/details/certification-candidates-sco.scss
  certif/app/styles/pages/authenticated/sessions/details/certification-candidates.scss
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/app/styles/pages/authenticated/team.scss
  certif/app/styles/pages/join.scss
  certif/app/styles/pages/login-session-supervisor.scss
  certif/app/styles/pages/session-supervising-error.scss
  certif/app/styles/pages/terms-of-service.scss
  certif/app/templates/authenticated/sessions/details/parameters.hbs
  certif/app/templates/authenticated/team/list.hbs
  certif/translations/en.json
  certif/translations/fr.json
  orga/app/styles/components/login-form.scss
Labels: :rocket: Ready to Merge, team-certif, Design Review OK, cross-team

#8240 [FEATURE] Mise à jour du wording pour la page de verification du code de certificat (PIX-11384)
  mon-pix/tests/acceptance/fill-in-certificate-verification-code_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-certif

#8356 [FEATURE] Finalisation MVP module mots-de-passe-securises (cf. PR #8349)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8347 [FEATURE] Retirer le nom de famille élèves des API non authentifiée (PIX-11320)
  1d/app/models/organization-learner.js
  1d/app/pods/school/school.scss
  1d/app/pods/school/students/controller.js
  1d/app/pods/school/students/template.hbs
  1d/mirage/factories/school.js
  1d/tests/acceptance/access-school_test.js
  api/db/seeds/data/team-1d/data-builder.js
  api/src/school/domain/models/School.js
  api/src/school/domain/read-models/OrganizationLearnerDTO.js
  api/src/school/domain/usecases/get-school-by-code.js
  api/src/school/infrastructure/serializers/organization-learner.js
  api/tests/school/integration/domain/usecases/get-school-by-code_test.js
  api/tests/school/unit/application/organization-learner-controller_test.js
  api/tests/school/unit/application/school-controller_test.js
  api/tests/school/unit/domain/models/School_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#8365 [TECH] déplace la route `csv-template` dans `src/prescription` (PIX-11597)
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/src/prescription/learner-management/application/sup-organization-management-controller.js
  api/src/prescription/learner-management/application/sup-organization-management-route.js
  api/src/prescription/learner-management/domain/usecases/get-organization-learners-csv-template.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
  api/tests/prescription/learner-management/acceptance/application/organization-controller-replace-sup-organization-learners_test.js
  api/tests/prescription/learner-management/acceptance/application/sup-organization-management-route_test.js
  api/tests/prescription/learner-management/unit/application/sup-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/application/sup-organization-management-route_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/get-organization-learners-csv-template_test.js
  api/tests/unit/application/organizations/index_test.js
  api/tests/unit/application/organizations/organization-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#8380 [TECH] Migrer l'archivage et le désarchivage d'une campagne depuis Pix Orga dans son Bounded Context (PIX-11605)
  api/lib/application/campaigns/campaign-controller.js
  api/lib/application/campaigns/index.js
  api/lib/application/error-manager.js
  api/lib/domain/errors.js
  api/lib/domain/models/index.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/serializers/jsonapi/campaign-report-serializer.js
  api/scripts/prod/archive-campaigns.js
  api/src/prescription/campaign-participation/domain/models/CampaignParticipation.js
  api/src/prescription/campaign/application/campaign-administration-route.js
  api/src/prescription/campaign/application/campaign-adminstration-controller.js
  api/src/prescription/campaign/domain/errors.js
  api/src/prescription/campaign/domain/models/CampaignForArchiving.js
  api/src/prescription/campaign/domain/usecases/archive-campaign.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/domain/usecases/unarchive-campaign.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-for-archiving-repository.js
  api/src/shared/application/error-manager.js
  api/tests/acceptance/application/campaigns/campaign-controller_test.js
  api/tests/prescription/campaign-participation/unit/domain/models/CampaignParticipation_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-administration-route_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-for-archiving-repository_test.js
  api/tests/prescription/campaign/unit/application/campaign-administration-controller_test.js
  api/tests/prescription/campaign/unit/application/campaign-administration-route_test.js
  api/tests/prescription/campaign/unit/domain/errors_test.js
  api/tests/prescription/campaign/unit/domain/models/CampaignForArchiving_test.js
  api/tests/prescription/campaign/unit/domain/usecases/archive-campaign_test.js
  api/tests/prescription/campaign/unit/domain/usecases/unarchive-campaign_test.js
  api/tests/unit/application/campaign/campaign-controller_test.js
  api/tests/unit/application/campaign/index_test.js
  api/tests/unit/domain/errors_test.js
  api/tests/unit/domain/usecases/archive-campaign-from-campaign-code_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/campaign-report-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#8372 [TECH] Retirer le passage id du payload de /passages/{id}/answers (PIX-11312)
  mon-pix/app/adapters/element-answer.js
  mon-pix/tests/unit/adapters/element-answer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8370 [TECH] Ne plus utiliser la rétrocompatibilité des éléments du grain dans Pix App (PIX-11359).
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/grain/model.js
  mon-pix/tests/acceptance/module/navigate-into-the-module-passage_test.js
  mon-pix/tests/acceptance/module/retake_completed_module_test.js
  mon-pix/tests/acceptance/module/verify-qcm_test.js
  mon-pix/tests/acceptance/module/verify-qcu_test.js
  mon-pix/tests/acceptance/module/verify-qrocm_test.js
  mon-pix/tests/integration/components/module/grain_test.js
  mon-pix/tests/integration/components/module/passage_test.js
  mon-pix/tests/integration/components/module/qcm_test.js
  mon-pix/tests/integration/components/module/qcu_test.js
  mon-pix/tests/integration/components/module/qrocm_test.js
  mon-pix/tests/unit/models/modules/grain_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8378 [TECH] déplace la route `/api/organizations/{id}/sup-organization-learners/{organizationLearnerId}` dans src/prescription (pix-11604)
  api/lib/application/sup-organization-learners/index.js
  api/lib/application/sup-organization-learners/sup-organization-learner-controller.js
  api/src/prescription/learner-management/application/sup-organization-management-controller.js
  api/src/prescription/learner-management/application/sup-organization-management-route.js
  api/src/prescription/learner-management/domain/usecases/update-student-number.js
  api/tests/integration/application/sup-organization-learners/index_test.js
  api/tests/prescription/learner-management/integration/application/sup-organization-management-routes_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/update-student-number_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#8381 [TECH] déplace la route `/organization/{id}/groups` dans le contexte prescription (pix-11607)
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/src/prescription/organization-learner/application/sup-learner-list-controller.js
  api/src/prescription/organization-learner/application/sup-learner-list-route.js
  api/src/prescription/organization-learner/domain/usecases/find-groups-by-organization.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/tests/integration/application/organizations/organization-controller_test.js
  api/tests/prescription/organization-learner/integration/application/sup-learner-list-controller_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-groups-by-organization_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#8350 [FEATURE] Retourner toutes les erreurs d'un import FREGATA (PIX-11114)
  .vscode/sample.launch.json
  api/src/prescription/learner-management/application/http-error-mapper-configuration.js
  api/src/prescription/learner-management/domain/errors.js
  api/src/prescription/learner-management/domain/validators/organization-learner-validator.js
  api/src/prescription/learner-management/infrastructure/serializers/csv/csv-organization-learner-parser.js
  api/src/prescription/learner-management/infrastructure/serializers/csv/organization-learner-parser.js
  api/src/prescription/learner-management/infrastructure/serializers/csv/sup-organization-learner-parser.js
  api/src/prescription/shared/application/http-error-mapper-configuration.js
  api/src/shared/application/error-manager.js
  api/src/shared/domain/errors.js
  api/src/shared/infrastructure/serializers/jsonapi/error-serializer.js
  api/tests/prescription/learner-management/acceptance/application/organization-controller-import-sco-organization-learners_test.js
  api/tests/prescription/learner-management/unit/infrastructure/serializers/csv/csv-organization-learner-parser_test.js
  api/tests/prescription/learner-management/unit/infrastructure/serializers/csv/organization-learner-parser_test.js
  api/tests/unit/domain/validators/organization-learner-validator_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8393 [TECH] Migration de l'oidc-authentication-service dans src (PIX-11623)
  api/lib/domain/services/authentication/cnav-oidc-authentication-service.js
  api/lib/domain/services/authentication/fwb-oidc-authentication-service.js
  api/lib/domain/services/authentication/google-oidc-authentication-service.js
  api/lib/domain/services/authentication/paysdelaloire-oidc-authentication-service.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
  api/src/authentication/domain/services/oidc-authentication-service.js
  api/tests/authentication/unit/domain/services/oidc-authentication-service_test.js
  api/tests/tooling/server/hapi-server-with-test-oidc-provider.js
  api/tests/unit/setup-oidc-authentication-service-registry_test.js
Labels: :rocket: Ready to Merge, team-acces, no-review-app, Bounded-context-migration

#8269 [FEATURE] Afficher un commentaire auto jury en cas de réponses insuffisantes pour la certification V3 (PIX-10530).
  api/lib/domain/events/handle-auto-jury.js
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/lib/domain/models/CertificationCourse.js
  api/lib/domain/models/CertificationResult.js
  api/lib/infrastructure/utils/csv/certification-results/CertificationResultsCsvValues.js
  api/src/certification/scoring/domain/models/factories/AssessmentResultFactory.js
  api/src/certification/shared/domain/models/JuryComment.js
  api/tests/integration/infrastructure/repositories/certification-result-repository_test.js
  api/tests/integration/infrastructure/utils/csv/certification-results/get-division-certification-results-csv_test.js
  api/tests/integration/infrastructure/utils/csv/certification-results/get-session-certification-results-csv_test.js
  api/tests/tooling/domain-builder/factory/build-certification-result.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/tests/unit/domain/models/CertificationResult_test.js
  api/tests/unit/infrastructure/utils/csv/certification-results/CertificationResultsCsvValues_test.js
  api/translations/en.json
  api/translations/fr.json
  api/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#8295 [FEATURE] Afficher un commentaire auto jury en cas de réponses insuffisantes pour la certification V2 (PIX-11474).
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/src/certification/scoring/domain/models/CertificationAssessmentScore.js
  api/src/certification/scoring/domain/models/factories/AssessmentResultFactory.js
  api/src/certification/shared/domain/models/JuryComment.js
  api/src/shared/config.js
  api/tests/certification/scoring/unit/domain/factories/AssessmentResultFactory_test.js
  api/tests/integration/infrastructure/utils/csv/certification-results/get-division-certification-results-csv_test.js
  api/tests/integration/infrastructure/utils/csv/certification-results/get-session-certification-results-csv_test.js
  api/tests/tooling/domain-builder/factory/certification/scoring/build-assessment-result.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/translations/en.json
  api/translations/fr.json
  api/translations/nl.json
Labels: :rocket: Ready to Merge, team-certif

#8348 [TECH] Extract flash-certification cross-injection from shared (PIX-11471)
  api/src/certification/flash-certification/application/flash-assessment-configuration-controller.js
  api/src/certification/flash-certification/application/scenario-simulator-controller.js
  api/src/certification/flash-certification/domain/usecases/index.js
  api/src/certification/flash-certification/domain/usecases/simulate-flash-deterministic-assessment-scenario.js
  api/src/certification/shared/domain/usecases/index.js
  api/tests/certification/flash-certification/integration/application/flash-assessment-configuration-controller_test.js
  api/tests/certification/flash-certification/integration/application/scenario-simulator-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, certif-next-gen

#8394 [TECH] Supprime le champ title et description du tube
  api/lib/domain/models/Tube.js
  api/lib/infrastructure/repositories/tube-repository.js
  api/tests/devcomp/integration/infrastructure/repositories/training-repository_test.js
  api/tests/devcomp/integration/infrastructure/repositories/training-trigger-repository_test.js
  api/tests/integration/infrastructure/repositories/tube-repository_test.js
  api/tests/tooling/domain-builder/factory/build-tube.js
  api/tests/tooling/learning-content-builder/build-tube.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-contenu

#8354 [REFACTOR] Amélioration du style du lien du bloc de score sur le dashboard (PIX-10555).
  mon-pix/app/components/dashboard/content.hbs
  mon-pix/app/styles/components/dashboard/_content.scss
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, Design Review OK

#8355 [REFACTOR] Amélioration du lien "détails" d'une carte de compétence (PIX-10556).
  mon-pix/app/styles/components/_competence-card-default.scss
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, Design Review OK

#8392 [REFACTOR] Améliorer le contraste du bloc de signalement d'épreuve (PIX-9644).
  mon-pix/app/components/feedback-panel.hbs
  mon-pix/app/styles/components/_feedback-panel.scss
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, Design Review OK

#8389 [REFACTOR] Améliorer le responsive du bloc d'actions des épreuves (PIX-9646).
  mon-pix/app/components/challenge-actions.hbs
  mon-pix/app/styles/components/_challenge-actions.scss
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, Design Review OK

#8406 [BUGFIX] Correction d'une référence de grain dans une transition
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8329 [FEATURE] Récupérer la config de niveau par compétence en fonction de la date du certification-course (PIX-11548).
  api/db/database-builder/factory/build-flash-algorithm-configuration.js
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/lib/domain/models/CertificationCourse.js
  api/lib/domain/usecases/get-next-challenge-for-campaign-assessment.js
  api/src/certification/course/domain/usecases/get-next-challenge-for-certification.js
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithmConfiguration.js
  api/src/certification/flash-certification/domain/usecases/get-active-flash-assessment-configuration.js
  api/src/certification/flash-certification/domain/usecases/update-active-flash-assessment-configuration.js
  api/src/certification/flash-certification/infrastructure/repositories/flash-algorithm-configuration-repository.js
  api/src/shared/config.js
  api/tests/certification/course/acceptance/application/certification-course-route_test.js
  api/tests/certification/course/unit/domain/usecases/get-next-challenge-for-certification_test.js
  api/tests/certification/flash-certification/integration/infrastructure/repositories/flash-algorithm-configuration-repository_test.js
  api/tests/certification/flash-certification/unit/domain/usecases/get-active-flash-assessment-configuration_test.js
  api/tests/certification/flash-certification/unit/domain/usecases/update-active-flash-assessment-configuration_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-complete-assessment_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get-next-challenge-for-certification_test.js
  api/tests/tooling/domain-builder/factory/build-flash-algorithm-configuration.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#8379 [FEATURE] Ajout du calcul du niveau par compétence lors du rescoring (PIX-11546).
  api/lib/domain/events/handle-certification-rescoring.js
  api/tests/certification/course/acceptance/application/certification-course-route_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#8411 [TECH] Migrer l'api pour attacher une organisation fille dans src/organizational-entities (PIX-11632)
  api/lib/application/error-manager.js
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/lib/domain/errors.js
  api/lib/domain/models/index.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/data-protection-officer-repository.js
  api/lib/infrastructure/serializers/jsonapi/organizations-administration/organization-for-admin-serializer.js
  api/scripts/organization/update-organizations-identity-provider-for-campaigns.js
  api/scripts/organization/update-organizations-province-code.js
  api/server.js
  api/src/organizational-entities/application/organization-controller.js
  api/src/organizational-entities/application/routes.js
  api/src/organizational-entities/domain/errors.js
  api/src/organizational-entities/domain/models/DataProtectionOfficer.js
  api/src/organizational-entities/domain/models/OrganizationForAdmin.js
  api/src/organizational-entities/domain/usecases/attach-child-organization-to-organization.js
  api/src/organizational-entities/domain/usecases/index.js
  api/src/organizational-entities/infrastructure/repositories/organization-for-admin-repository.js
  api/tests/integration/domain/usecases/create-organization_test.js
  api/tests/integration/domain/usecases/update-certification-center-data-protection-officer-information_test.js
  api/tests/integration/domain/usecases/update-organization-data-protection-officer-information_test.js
  api/tests/integration/infrastructure/repositories/data-protection-officer-repository_test.js
  api/tests/organizational-entities/acceptance/attach-child-organization-route-post_test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin-repository_test.js
  api/tests/organizational-entities/unit/domain/usecases/attach-child-organization-to-organization_test.js
  api/tests/tooling/domain-builder/factory/build-data-protection-officer.js
  api/tests/tooling/domain-builder/factory/build-organization-for-admin.js
  api/tests/unit/application/error-manager_test.js
  api/tests/unit/domain/errors_test.js
  api/tests/unit/domain/models/DataProtectionOfficer_test.js
  api/tests/unit/domain/models/organizations-administration/OrganizationForAdmin_test.js
  api/tests/unit/domain/usecases/create-certification-center_test.js
  api/tests/unit/domain/usecases/create-organization_test.js
  api/tests/unit/domain/usecases/organizations-administration/update-organization-information_test.js
  api/tests/unit/domain/usecases/organizations-administration/update-organization-province-code_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#8391 [FEATURE] Remonter toutes les erreurs lors d'un import SIECLE (PIX-10955)
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-xml-format.js
  api/src/prescription/learner-management/infrastructure/serializers/xml/siecle-parser.js
  api/src/prescription/learner-management/infrastructure/serializers/xml/xml-organization-learner-set.js
  api/tests/prescription/learner-management/integration/infrastructure/serializers/xml/siecle-parser_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-xml-format_test.js
  api/tests/tooling/fixtures/siecle-file/siecle-student-with-no-sex-no-birthdate.xml
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8397 [FEATURE][ADMIN] Permettre la création d'organisations en masse avec toutes les locales gérées (PIX-11550)
  api/lib/domain/validators/organization-with-tags-and-target-profiles-script.js
  api/tests/integration/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
  api/tests/unit/domain/validators/organization-with-tags-and-target-profiles-script_test.js
Labels: :rocket: Ready to Merge, team-acces

#8390 [FEATURE][MON-PIX] Modifier les URLs des CGU et Politique Protection des données pour le Néerlandais (PIX-11620)
  mon-pix/app/services/url.js
  mon-pix/tests/unit/services/url_test.js
Labels: :rocket: Ready to Merge, team-acces

#8412 [FEATURE] Re-finalisation MVP module distinguer-vrai-faux-sur-internet (post-panel interne)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8404 [BUGFIX]: Corriger la validation d'une épreuve en prévisualisation de Pix 1D (pix-11552)
  1d/app/adapters/activity-answer.js
  1d/app/pods/components/challenge/component.js
  1d/mirage/config.js
  1d/tests/acceptance/challenge-preview_test.js
  api/src/school/application/activity-answer-controller.js
  api/src/school/application/activity-answer-route.js
  api/src/school/domain/usecases/correct-answer.js
  api/src/school/domain/usecases/correct-preview-answer.js
  api/src/school/infrastructure/serializers/activity-answer-serializer.js
  api/tests/school/acceptance/application/assessments/activity-answer-controller_test.js
  api/tests/school/integration/domain/usecases/correct-answer_test.js
  api/tests/school/integration/domain/usecases/correct-preview-answer_test.js
  api/tests/school/unit/application/activity-answer-route.js
  api/tests/school/unit/application/activity-answer-route_test.js
  api/tests/school/unit/infrastructure/serializers/activity-answer-serializer_test.js
  api/tests/unit/application/activity-answers/activity-answer-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#8351 [FEATURE][API] Mettre à jour les liens des emails pour langue Néerlandaise (PIX-11300)
  api/lib/domain/services/mail-service.js
  api/tests/unit/domain/services/mail-service_test.js
Labels: :rocket: Ready to Merge, team-acces

#8410 [FEATURE] Prévenir le mauvais formattage de Module.
  api/package.json
  api/tests/devcomp/acceptance/module-instantiation_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8420 [BUGFIX] Correction typographique : ajout des espaces fines et espaces mots insécables dans tous les modules
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
  api/tests/devcomp/acceptance/application/passages/passage-controller_test.js
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8398 [FEATURE] Retourner toutes les erreurs de validité du fichier d'import sup d'un coup (pix-10956)
  api/src/prescription/learner-management/domain/models/SupOrganizationLearner.js
  api/src/prescription/learner-management/domain/models/SupOrganizationLearnerSet.js
  api/src/prescription/learner-management/domain/validators/sup-organization-learner-set-validator.js
  api/src/prescription/learner-management/domain/validators/sup-organization-learner-validator.js
  api/src/prescription/learner-management/infrastructure/serializers/csv/csv-organization-learner-parser.js
  api/src/prescription/learner-management/infrastructure/serializers/csv/sup-organization-learner-parser.js
  api/tests/prescription/learner-management/unit/domain/models/SupOrganizationLearnerSet_test.js
  api/tests/prescription/learner-management/unit/domain/validators/sup-organization-learner-validator_test.js
  api/tests/prescription/learner-management/unit/infrastructure/serializers/csv/sup-organization-learner-parser_test.js
  api/tests/unit/domain/models/SupOrganizationLearnerSet_test.js
  api/tests/unit/domain/models/SupOrganizationLearner_test.js
  api/tests/unit/infrastructure/serializers/csv/higher-organization-learner-parser_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8377 [TECH] Remplacer les "contains" dans les tests par des méthodes de testingLibrary (PIX-11602)
  orga/tests/acceptance/sco-organization-participant-list_test.js
  orga/tests/acceptance/sup-organization-participant-list_test.js
  orga/tests/acceptance/switch-organization_test.js
  orga/tests/acceptance/team-creation_test.js
  orga/tests/integration/components/auth/join-request-form_test.js
  orga/tests/integration/components/banner/communication_test.js
  orga/tests/integration/components/campaign/activity/delete-participation-modal_test.js
  orga/tests/integration/components/campaign/activity/participants-list_test.js
  orga/tests/integration/components/campaign/analysis/recommendations_test.js
  orga/tests/integration/components/campaign/analysis/tube-recommendation-row_test.js
  orga/tests/integration/components/campaign/badges_test.js
  orga/tests/integration/components/campaign/charts/participants-by-day_test.js
  orga/tests/integration/components/campaign/charts/participants-by-stage_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, cross-team, no-review-app

#8213 [TECH] Créer la route de réconciliation pour le SSO Google sur Pix Admin (PIX-1143).
  api/lib/application/admin-members/index.js
  api/lib/application/authentication/oidc/index.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/lib/domain/services/authentication/authentication-service-registry.js
  api/lib/domain/services/authentication/google-oidc-authentication-service.js
  api/lib/domain/usecases/authentication/authenticate-oidc-user.js
  api/lib/domain/usecases/get-admin-member-details.js
  api/lib/domain/usecases/reconcile-oidc-user-for-admin.js
  api/src/authorization/domain/constants.js
  api/src/shared/application/error-manager.js
  api/src/shared/config.js
  api/src/shared/domain/errors.js
  api/tests/acceptance/application/admin-members/admin-members-routes_test.js
  api/tests/acceptance/application/authentication/oidc/reconcile-route-admin-post_test.js
  api/tests/acceptance/application/authentication/oidc/token-route-post_test.js
  api/tests/authentication/unit/domain/services/oidc-authentication-service_test.js
  api/tests/integration/application/error-manager_test.js
  api/tests/unit/application/admin-members/index_test.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
  api/tests/unit/domain/services/authentication/authentication-service-registry_test.js
  api/tests/unit/domain/services/authentication/google-oidc-authentication-service_test.js
  api/tests/unit/domain/usecases/authentication/authenticate-oidc-user_test.js
  api/tests/unit/domain/usecases/get-admin-member-details_test.js
  api/tests/unit/domain/usecases/get-ready-identity-providers_test.js
  api/tests/unit/domain/usecases/reconcile-oidc-user-for-admin_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, cross-team

#8419 [FEATURE] Ajoute l'information sur la remontée auto dans la page de détail d'une organisation (PIX-9904)
  admin/app/components/organizations/information-section-edit.hbs
  admin/app/components/organizations/information-section-edit.js
  admin/app/components/organizations/information-section-view.hbs
  admin/app/models/organization.js
  admin/tests/integration/components/organizations/information-section-view_test.js
  admin/tests/unit/models/organization_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8280 [TECH] :recycle: Déplacement des `Datasources` de `LearningContent` vers le répertoire `src/shared`
  api/db/seeds/data/common/tooling/learning-content.js
  api/lib/application/cache/cache-controller.js
  api/lib/infrastructure/repositories/campaign-repository.js
  api/lib/infrastructure/repositories/certified-profile-repository.js
  api/lib/infrastructure/repositories/correction-repository.js
  api/lib/infrastructure/repositories/course-repository.js
  api/lib/infrastructure/repositories/framework-repository.js
  api/lib/infrastructure/repositories/skill-repository.js
  api/lib/infrastructure/repositories/tube-repository.js
  api/lib/infrastructure/repositories/tutorial-repository.js
  api/scripts/data-generation/generate-certifications-for-organization.js
  api/scripts/fill-skill-id-in-user-saved-tutorials.js
  api/scripts/refresh-cache.js
  api/src/school/infrastructure/datasources/learning-content/mission-datasource.js
  api/src/school/infrastructure/repositories/challenge-repository.js
  api/src/shared/infrastructure/datasources/learning-content/area-datasource.js
  api/src/shared/infrastructure/datasources/learning-content/challenge-datasource.js
  api/src/shared/infrastructure/datasources/learning-content/competence-datasource.js
  api/src/shared/infrastructure/datasources/learning-content/course-datasource.js
  api/src/shared/infrastructure/datasources/learning-content/datasource.js
  api/src/shared/infrastructure/datasources/learning-content/framework-datasource.js
  api/src/shared/infrastructure/datasources/learning-content/index.js
  api/src/shared/infrastructure/datasources/learning-content/skill-datasource.js
  api/src/shared/infrastructure/datasources/learning-content/thematic-datasource.js
  api/src/shared/infrastructure/datasources/learning-content/tube-datasource.js
  api/src/shared/infrastructure/datasources/learning-content/tutorial-datasource.js
  api/src/shared/infrastructure/repositories/area-repository.js
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/src/shared/infrastructure/repositories/competence-repository.js
  api/tests/integration/domain/usecases/attach-organizations-from-existing-target-profile_test.js
  api/tests/integration/domain/usecases/attach-organizations-to-target-profile_test.js
  api/tests/shared/unit/infrastructure/datasources/learning-content/area-datasource_test.js
  api/tests/shared/unit/infrastructure/datasources/learning-content/challenge-datasource_test.js
  api/tests/shared/unit/infrastructure/datasources/learning-content/competence-datasource_test.js
  api/tests/shared/unit/infrastructure/datasources/learning-content/datasource_test.js
  api/tests/shared/unit/infrastructure/datasources/learning-content/framework-datasource_test.js
  api/tests/shared/unit/infrastructure/datasources/learning-content/skill-datasource_test.js
  api/tests/shared/unit/infrastructure/datasources/learning-content/tube-datasource_test.js
  api/tests/shared/unit/infrastructure/datasources/learning-content/tutorial-datasource_test.js
  api/tests/tooling/learning-content-builder/build-learning-content_test.js
  api/tests/tooling/learning-content-builder/build-skill.js
  api/tests/unit/application/cache/cache-controller_test.js
  api/tests/unit/infrastructure/repositories/correction-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, Bounded-context-migration

#8418 [FEATURE][MON-PIX] Modifier les liens du footer pour la langue néerlandaise (PIX-11596)
  mon-pix/app/services/url.js
  mon-pix/tests/unit/services/url_test.js
Labels: :rocket: Ready to Merge, team-acces

#8421 [TECH] Supprimer la route PATCH /api/certification-courses/{certificationCourseId} dépréciée (PIX-11425).
  api/lib/application/certification-courses/index.js
  api/tests/acceptance/application/certification-courses/certification-course-controller_test.js
  api/tests/unit/application/certification-courses/index_test.js
Labels: :rocket: Ready to Merge, team-certif

#8413 [FEATURE] Ajoute le nombre de participations partagées dans les résultats d'une campagne (PIX-11630)
  api/db/seeds/data/common/organization-builder.js
  api/db/seeds/data/team-prescription/build-campaigns.js
  api/src/prescription/campaign/domain/read-models/CampaignAssessmentParticipationResultMinimal.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-assessment-participation-result-list-repository.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-assessment-result-minimal-serializer.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-assessment-participation-result-list-repository_test.js
  api/tests/prescription/campaign/unit/domain/read-models/CampaignAssessmentParticipationResultMinimal_test.js
  api/tests/prescription/campaign/unit/infrastrucutre/serializers/jsonapi/campaign-assessment-result-minimal-serializer_test.js
  orga/app/components/campaign/results/assessment-list.hbs
  orga/app/components/campaign/results/assessment-row.hbs
  orga/app/models/campaign-assessment-result-minimal.js
  orga/tests/integration/components/campaign/results/assessment-list_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8388 [TECH] Nettoyer le `solution-service-qrocm-ind` hérité de ./api/lib (PIX-10484)
  api/src/devcomp/domain/services/solution-service-qrocm-ind.js
  api/tests/devcomp/unit/domain/services/solution-service-qrocm-ind_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8423 [FEATURE] :sparkles: Reprendre l'aventure après une interruption (PIX-11487)
  api/db/database-builder/factory/build-mission-assessment.js
  api/src/school/application/assessment-controller.js
  api/src/school/application/assessment-route.js
  api/src/school/domain/usecases/create-mission-assessment.js
  api/src/school/domain/usecases/get-or-create-assessment.js
  api/src/school/infrastructure/repositories/mission-assessment-repository.js
  api/tests/school/acceptance/application/assessments/assessment-controller_test.js
  api/tests/school/integration/application/assessment-controller_test.js
  api/tests/school/integration/domain/usecases/create-mission-assessment_test.js
  api/tests/school/integration/domain/usecases/get-or-create-assessment_test.js
  api/tests/school/integration/infrastructure/repositories/mission-assessment-repository_test.js
  api/tests/school/unit/application/assessment-route_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#8417 [FEATURE] Afficher uniquement les missions actives dans Pix 1d et Pix Orga (PIX-11313).
  api/src/school/application/mission-controller.js
  api/src/school/application/mission-route.js
  api/src/school/domain/models/Mission.js
  api/src/school/domain/usecases/find-all-active-missions.js
  api/src/school/infrastructure/repositories/mission-repository.js
  api/tests/school/integration/application/mission-controller_test.js
  api/tests/school/integration/domain/usecases/find-all-active-missions_test.js
  api/tests/school/unit/application/mission-route_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#8407 [FEATURE] Suppression de la règle de dégradation du score pour une certif V3 (PIX-11606).
  api/src/certification/scoring/domain/models/CertificationAssessmentScoreV3.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentScoreV3_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#8416 [BUGFIX] Corriger des soucis d'accessibilité côté Modulix (PIX-11646).
  mon-pix/app/pods/components/module/details/template.hbs
  mon-pix/app/pods/components/module/grain/style.scss
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/components/module/qcm/styles.scss
  mon-pix/app/pods/components/module/qcm/template.hbs
  mon-pix/app/pods/components/module/qcu/styles.scss
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/app/pods/components/module/qrocm/component.js
  mon-pix/app/pods/components/module/qrocm/styles.scss
  mon-pix/app/pods/components/module/qrocm/template.hbs
  mon-pix/tests/integration/components/module/details_test.js
  mon-pix/tests/integration/components/module/qrocm_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-devcomp

#8428 [DOCS] Corriger les notes de deux routes de SSO : "check reconciliation" et "reconcile".
  api/lib/application/authentication/oidc/index.js
Labels: :rocket: Ready to Merge, team-acces

#8324 [FEATURE] Créer une interface de test de l'algorithme Smart Random (PIX-11180).
  admin/app/components/smart-random-simulator/current-challenge.hbs
  admin/app/components/smart-random-simulator/current-challenge.js
  admin/app/components/smart-random-simulator/previous-challenges.hbs
  admin/app/components/smart-random-simulator/previous-challenges.js
  admin/app/components/smart-random-simulator/reset.hbs
  admin/app/components/smart-random-simulator/smart-random-params.hbs
  admin/app/components/smart-random-simulator/smart-random-params.js
  admin/app/components/smart-random-simulator/start.hbs
  admin/app/controllers/authenticated/smart-random-simulator/get-next-challenge.js
  admin/app/router.js
  admin/app/routes/authenticated/smart-random-simulator/get-next-challenge.js
  admin/app/routes/authenticated/smart-random-simulator/index.js
  admin/app/styles/app.scss
  admin/app/styles/authenticated/smart-random-simulator/get-next-challenge.scss
  admin/app/templates/authenticated/smart-random-simulator/get-next-challenge.hbs
  admin/package-lock.json
  admin/package.json
  admin/tests/unit/controllers/authenticated/smart-random-simulator/get-next-challenge-test.js
  api/src/evaluation/application/smart-random-simulator/index.js
  api/tests/evaluation/acceptance/application/smart-random-simulator/smart-random-simulator-controller_test.js
  api/tests/evaluation/unit/application/smart-random-simulator/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#8448 [BUGFIX] Suppression HTML dans un champ qui ne le supporte pas
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8450 [FEATURE] Créer une nouvelle table oidc-providers (PIX-10030)
  api/db/migrations/20240319110619_create-table-oidc-providers.js
Labels: :rocket: Ready to Merge, team-acces

#8449 [FEATURE] expose l'état du dernier import d'un organization (PIX-11256)
  api/src/prescription/learner-management/application/organization-import-controller.js
  api/src/prescription/learner-management/application/organization-import-route.js
  api/src/prescription/learner-management/domain/usecases/get-organization-import-status.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-csv-format.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-xml-format.js
  api/src/prescription/learner-management/domain/usecases/import-sup-organization-learners.js
  api/src/prescription/learner-management/domain/usecases/replace-sup-organization-learner.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-import-repository.js
  api/src/prescription/learner-management/infrastructure/serializers/jsonapi/organization-import-serializer.js
  api/src/prescription/learner-management/routes.js
  api/tests/prescription/learner-management/acceptance/application/organization-import-route_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-import-repository_test.js
  api/tests/prescription/learner-management/unit/application/organization-import-controller_test.js
  api/tests/prescription/learner-management/unit/application/organization-import-route_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/get-organization-import-status_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-csv-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-xml-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-sup-organization-learners_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/replace-sup-organization-learners_test.js
  api/tests/prescription/learner-management/unit/infrastructure/serializers/jsonapi/organization-import-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#8455 [TECH] Déplace la logique validation de code dans le model Campaign (PIX-11691)
  api/src/prescription/campaign/domain/models/Campaign.js
  api/src/prescription/campaign/domain/usecases/update-campaign-code.js
  api/src/prescription/campaign/domain/usecases/update-campaign-details.js
  api/src/prescription/campaign/domain/usecases/update-campaign.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-administration-repository.js
  api/src/shared/domain/services/code-generator.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-administration-repository_test.js
  api/tests/prescription/campaign/unit/domain/models/Campaign_test.js
  api/tests/prescription/campaign/unit/domain/usecases/update-campaign-code_test.js
  api/tests/prescription/campaign/unit/domain/usecases/update-campaign-details_test.js
  api/tests/prescription/campaign/unit/domain/usecases/update-campaign_test.js
  api/tests/unit/domain/services/code-generator_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#8427 [FEATURE] Afficher un commentaire auto jury en cas de problème technique pour la certification V3 (PIX-10603).
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/src/certification/scoring/domain/models/factories/AssessmentResultFactory.js
  api/src/certification/shared/domain/models/JuryComment.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/translations/en.json
  api/translations/fr.json
Labels: :rocket: Ready to Merge, team-certif, certif-next-gen

#8451 [FEATURE] Rendre l'affichage de certains messages d'erreur plus claire lors de la création en masse d'organisations (PIX-11685)
  api/lib/domain/usecases/create-organizations-with-tags-and-target-profiles.js
  api/src/shared/application/error-manager.js
  api/src/shared/domain/errors.js
  api/tests/shared/unit/application/error-manager_test.js
  api/tests/shared/unit/domain/errors_test.js
  api/tests/unit/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
Labels: :rocket: Ready to Merge, team-acces

#8456 [TECH] Supprimer la rétrocompatibilité du champ élément (PIX-11360).
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8454 [TECH] :recycle: Modification de l'appel du token d'authentification pour l'action de « tri » des vieilles branches
  .github/workflows/stale-branches.yml
Labels: :rocket: Ready to Merge, cross-team, no-review-app

#8453 [REFACTOR] Fusion des QROC dans les QROCM (PIX-11486)
  1d/app/pods/components/challenge/challenge-item-qroc/component.js
  1d/app/pods/components/challenge/challenge-item-qroc/template.hbs
  1d/app/pods/components/challenge/challenge-item-qrocm/component.js
  1d/app/pods/components/challenge/challenge-item-qrocm/template.hbs
  1d/app/pods/components/challenge/item/challenge-item.scss
  1d/app/pods/components/challenge/item/integration_test.js
  1d/app/pods/components/challenge/item/template.hbs
  1d/mirage/config.js
  1d/mirage/factories/challenge.js
  1d/tests/acceptance/challenge-item-qroc_test.js
  admin/tests/integration/components/users/user-overview_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#8447 [TECH] Remplacer les notions de `treatment` par `tolerance` (PIX-11679)
  api/src/devcomp/domain/models/Solution.js
  api/src/devcomp/domain/models/element/QROCM-for-answer-verification.js
  api/src/devcomp/domain/services/services-utils.js
  api/src/devcomp/domain/services/solution-service-qrocm-ind.js
  api/src/devcomp/domain/services/validation-tolerances.js
  api/tests/devcomp/unit/domain/models/Solution_test.js
  api/tests/devcomp/unit/domain/services/services-utils_test.js
  api/tests/devcomp/unit/domain/services/solution-service-qrocm-ind_test.js
  api/tests/devcomp/unit/domain/services/validation-tolerances_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8470 [BUGFIX] Corrige la validation d'une épreuve en preview en local (PIX-11709).
  api/src/school/domain/usecases/correct-preview-answer.js
  api/tests/school/acceptance/application/assessments/activity-answer-controller_test.js
  api/tests/school/integration/domain/usecases/correct-preview-answer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#8469 [FEATURE] Correctifs traductions NL (PIX-11729)
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge

#8414 [FEATURE] Ajout d'une page pour la création de configurations de score et de niveau par compétence (PIX-11639).
  admin/app/adapters/scoring-configuration.js
  admin/app/controllers/authenticated/certifications/configuration.js
  admin/app/router.js
  admin/app/templates/authenticated/certifications/configuration.hbs
  api/db/database-builder/factory/build-scoring-configuration.js
  api/db/migrations/20240315094742_create-certification-scoring-configurations-table.js
  api/db/seeds/data/team-certification/create-scoring-configuration.js
  api/db/seeds/data/team-certification/data-builder.js
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/lib/domain/events/index.js
  api/src/certification/scoring/application/competence-for-scoring-configuration-controller.js
  api/src/certification/scoring/application/competence-for-scoring-configuration-route.js
  api/src/certification/scoring/application/scoring-configuration-controller.js
  api/src/certification/scoring/application/scoring-configuration-route.js
  api/src/certification/scoring/domain/models/CertificationAssessmentScoreV3.js
  api/src/certification/scoring/domain/models/V3CertificationScoring.js
  api/src/certification/scoring/domain/usecases/index.js
  api/src/certification/scoring/domain/usecases/save-certification-scoring-configuration.js
  api/src/certification/scoring/domain/usecases/save-competence-for-scoring-configuration.js
  api/src/certification/scoring/infrastructure/repositories/competence-for-scoring-repository.js
  api/src/certification/scoring/infrastructure/repositories/scoring-configuration-repository.js
  api/src/certification/scoring/routes.js
  api/tests/certification/course/acceptance/application/certification-course-route_test.js
  api/tests/certification/scoring/acceptance/application/competence-for-scoring-configuration-route_test.js
  api/tests/certification/scoring/acceptance/application/scoring-configuration-route_test.js
  api/tests/certification/scoring/integration/application/competence-for-scoring-configuration-controller_test.js
  api/tests/certification/scoring/integration/application/scoring-configuration-controller_test.js
  api/tests/certification/scoring/integration/infrastructure/repositories/competence-for-scoring-repository_test.js
  api/tests/certification/scoring/integration/infrastructure/repositories/scoring-configuration-repository_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentScoreV3_test.js
  api/tests/certification/scoring/unit/domain/models/V3CertificationScoring_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-complete-assessment_test.js
  api/tests/tooling/domain-builder/factory/certification/scoring/build-v3-certification-scoring.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#8468 [BUGFIX] Permettre de mettre à jour les code pays (cpf) via le script (PIX-11727)
  api/scripts/certification/import-certification-cpf-cities.js
  api/scripts/certification/import-certification-cpf-countries.js
  api/scripts/certification/import-certifications-from-csv.js
  api/scripts/certification/update-certification-infos.js
  api/scripts/certification/validate-cpf-xml.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8257 [TECH] :recycle: Déplace `organization-repository.js` vers `src/shared`
  api/lib/application/usecases/checkOrganizationIsScoAndManagingStudent.js
  api/lib/domain/events/index.js
  api/lib/domain/usecases/index.js
  api/scripts/create-organizations-with-tags-and-target-profiles.js
  api/scripts/helpers/organizations-by-external-id-helper.js
  api/scripts/prod/target-profile-migrations/migrate-stages-to-level.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/organization-place/domain/usecases/index.js
  api/src/school/scripts/create-school-learners.js
  api/src/shared/application/security-pre-handlers.js
  api/src/shared/infrastructure/repositories/organization-repository.js
  api/tests/acceptance/application/certification-centers/certification-center-controller_test.js
  api/tests/certification/session/acceptance/application/session-mass-import-route_test.js
  api/tests/integration/domain/event/handle-pole-emploi-participation-finished_test.js
  api/tests/integration/domain/event/handle-pole-emploi-participation-started_test.js
  api/tests/integration/domain/services/organization-invitation-service_test.js
  api/tests/integration/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
  api/tests/integration/infrastructure/repositories/organization-repository_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, Bounded-context-migration

#8231 [TECH] Refacto getNextChallengeForCertification (PIX-10870)
  api/lib/domain/usecases/index.js
  api/src/certification/course/domain/usecases/get-next-challenge-for-certification.js
  api/src/certification/course/domain/usecases/get-next-challenge-for-v2-certification.js
  api/src/certification/course/domain/usecases/get-next-challenge-for-v3-certification.js
  api/src/certification/course/domain/usecases/index.js
  api/src/certification/course/infrastructure/repositories/certification-version-repository.js
  api/src/shared/application/assessments/assessment-controller.js
  api/tests/certification/course/integration/infrastructure/repositories/certification-version-repository_test.js
  api/tests/certification/course/unit/domain/usecases/get-next-challenge-for-certification_test.js
  api/tests/certification/course/unit/domain/usecases/get-next-challenge-for-v2-certification_test.js
  api/tests/certification/course/unit/domain/usecases/get-next-challenge-for-v3-certification_test.js
  api/tests/shared/unit/application/assessments/assessment-controller-get-next-challenge_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#8476 [TECH] Remplacer les "contains" dans les tests par des méthodes de testingLibrary (PIX-11714)
  orga/tests/integration/components/campaign/filter/participation-filters_test.js
  orga/tests/integration/components/campaign/results/assessment-list_test.js
  orga/tests/integration/components/campaign/results/profile-list_test.js
  orga/tests/integration/components/dropdown/icon-trigger_test.js
  orga/tests/integration/components/layout/organization-credit-info_test.js
  orga/tests/integration/components/layout/user-logged-menu_test.js
  orga/tests/integration/components/organization-participant/list_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, cross-team, no-review-app

#8409 [FEATURE] Créer une seeds pour l'import ONDE (PIX-11610)
  api/db/database-builder/factory/build-organization-learner-import-format.js
  api/db/seeds/data/team-1d/data-builder.js
  api/db/seeds/data/team-prescription/build-organization-learner-import-formats.js
  api/db/seeds/data/team-prescription/data-builder.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, no-review-app, 🎒👧🏽👦🏾 Pix1D

#8471 [TECH] Ne pas linter les fichiers de traductions générés par Phrase (PIX-11733)
  1d/.eslintignore
  admin/.eslintignore
  api/.eslintignore
  certif/.eslintignore
  mon-pix/.eslintignore
  orga/.eslintignore
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, team-contenu

#8478 [BUGFIX] Corriger la gestion d'exception de checkUserBelongsToScoOrganizationAndManagesStudents (PIX-11814)
  api/src/shared/application/security-pre-handlers.js
  api/tests/integration/application/security-pre-handlers_test.js
Labels: :rocket: Ready to Merge, team-certif

#8484 [FEATURE] Ajouter une colonne id sur la table `organization-learner-import-formats` (PIX-11610)
  api/db/migrations/20240322143837_add-id-to-orgnization-learner-import-format.js
  api/db/seeds/data/team-prescription/build-organization-learner-import-formats.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, 🎒👧🏽👦🏾 Pix1D

#8477 [TECH] Correction de tests échouant aléatoirement (PIX-11751)
  api/lib/domain/usecases/reconcile-oidc-user-for-admin.js
  api/tests/school/acceptance/application/assessments/assessment-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, 🎒👧🏽👦🏾 Pix1D

#8483 [BUGFIX] Inverser les en-têtes de deux colonnes et conditionne un des affichages (PIX-11752)
  orga/app/components/campaign/results/assessment-list.hbs
  orga/app/components/campaign/results/assessment-list.js
  orga/app/components/campaign/results/assessment-row.hbs
  orga/tests/integration/components/campaign/results/assessment-list_test.js
  orga/tests/integration/components/campaign/results/assessment-row_test.js
  orga/tests/unit/components/campaign/results/assessment-list_test.js
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8462 [FEATURE] Différencier les grains activité des grain leçon (PIX-10857)
  mon-pix/app/pods/components/module/grain/style.scss
  mon-pix/app/pods/components/module/grain/tag/component.js
  mon-pix/app/pods/components/module/grain/tag/styles.scss
  mon-pix/app/pods/components/module/grain/tag/template.hbs
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/grain/model.js
  mon-pix/app/pods/module/get/styles.scss
  mon-pix/public/images/icons/icon-book.svg
  mon-pix/public/images/icons/icon-cog.svg
  mon-pix/tests/integration/components/module/grain_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-devcomp

#8457 [BUGFIX] Ne pas afficher de grain vide (PIX-11296)
  mon-pix/app/pods/components/module/grain/component.js
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/components/module/passage/component.js
  mon-pix/app/pods/grain/model.js
  mon-pix/tests/acceptance/module/navigate-into-the-module-passage_test.js
  mon-pix/tests/acceptance/module/navigate-into-the-module-recap_test.js
  mon-pix/tests/acceptance/module/retake_completed_module_test.js
  mon-pix/tests/integration/components/module/grain_test.js
  mon-pix/tests/integration/components/module/passage_test.js
  mon-pix/tests/unit/components/module/grain_test.js
  mon-pix/tests/unit/models/modules/grain_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8395 [BUGFIX] Éviter les 2 écrans intermédiaires en fin de parcours (PIX-11203).
  mon-pix/app/components/checkpoint-continue.js
  mon-pix/app/routes/assessments/challenge.js
  mon-pix/app/routes/assessments/resume.js
  mon-pix/app/routes/authenticated/competences/resume.js
  mon-pix/app/routes/courses/start.js
  mon-pix/tests/unit/routes/authenticated/competences/resume_test.js
  mon-pix/tests/unit/routes/courses/start_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#8496 [TECH] Notifier les membres de l'équipe accès lors d'une modification d'un des domaines (PIX-11836)
  .github/CODEOWNERS
Labels: :rocket: Ready to Merge, team-acces, no-review-app

#8498 [TECH] Utilise la version moderne ES6 de dotenv
  api/index.js
  api/scripts/_template.js
  api/scripts/add-or-update-certification-centers-dpo-infos.js
  api/scripts/add-or-update-organizations-dpo-infos.js
  api/scripts/add-tags-to-organizations.js
  api/scripts/certification/fill-last-assessment-result-certification-course-table.js
  api/scripts/certification/fill-pix-certification-status-column-in-certification-courses-table.js
  api/scripts/certification/generate-certificate-verification-code.js
  api/scripts/certification/generate-certification-test-statistics.js
  api/scripts/certification/import-certification-cpf-cities.js
  api/scripts/certification/launch-auto-jury-for-session.js
  api/scripts/certification/send-certification-result-emails.js
  api/scripts/compare-pix-with-latest-release.js
  api/scripts/create-organizations-with-tags-and-target-profiles.js
  api/scripts/database/create-database.js
  api/scripts/database/drop-database.js
  api/scripts/database/pg-boss-migration.js
  api/scripts/fill-in-assessment-method.js
  api/scripts/fill-skill-id-in-user-saved-tutorials.js
  api/scripts/fill-target-profiles-with-default-image-url.js
  api/scripts/generate-api-documentation.js
  api/scripts/get-difficulties-from-challenge-ids.js
  api/scripts/prod/compute-badge-acquisitions.js
  api/scripts/prod/select-category-for-target-profiles.js
  api/scripts/prod/target-profile-migrations/convert-target-profiles-into-new-format.js
  api/scripts/prod/target-profile-migrations/migrate-stages-to-level.js
  api/scripts/prod/target-profile-migrations/revert-stages-to-threshold.js
  api/scripts/refresh-cache.js
  api/scripts/switch-campaign-to-flash.js
  api/src/certification/course/scripts/generate-certification-attestations-by-session-ids.js
  api/src/shared/config.js
  api/worker.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#8452 [FEATURE] Utiliser les composants Pix UI dans la modale d'ajout de candidat à une session sur Pix Certif (PIX-11588).
  certif/app/components/new-certification-candidate-modal.hbs
  certif/app/styles/components/new-certification-candidate-modal.scss
  certif/app/styles/globals/forms.scss
  certif/tests/acceptance/session-details-certification-candidates_test.js
  certif/tests/integration/components/new-certification-candidate-modal_test.js
Labels: :rocket: Ready to Merge, team-certif, Design Review OK

#8464 [BUGFIX] Remonter la dernière participation d'un élève à une certification sur le CSV des résultats (PIX-11647)
  api/src/certification/course/infrastructure/repositories/sco-certification-candidate-repository.js
  api/tests/certification/course/integration/infrastructure/repositories/sco-certification-candidate-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8503 [TECH] Supprime l'usage de current-lang
  admin/app/services/url.js
  api/lib/application/healthcheck/healthcheck-controller.js
  api/src/certification/session/infrastructure/utils/pdf/attendance-sheet-pdf.js
  api/tests/tooling/i18n/i18n_test.js
  api/tests/unit/application/healthcheck/healthcheck-controller_test.js
  api/translations/en.json
  api/translations/fr.json
  api/translations/nl.json
  orga/app/components/auth/login-form.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#8510 [TECH] Ajoute les tests d'acceptance manquant sur les routes liées aux `campaign-participations` (PIX-11742)
  api/tests/prescription/campaign-participation/acceptance/application/campaign-participation-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, no-review-app

#8495 [TECH] Déplace la configuration du plugin yar dans son propre fichier
  api/lib/infrastructure/plugins/index.js
  api/lib/infrastructure/plugins/yar.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#8508 [TECH] Basculer sur la version publié de eslint-plugin-knex
  api/package-lock.json
  api/package.json
  audit-logger/package-lock.json
  audit-logger/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#8490 [BUGFIX] Réparer la gestion de l'import en masse de sessions avec certification complémentaire sur Pix Certif (PIX-11818).
  api/src/certification/complementary-certification/application/api/complementary-certification-api.js
  api/src/certification/complementary-certification/domain/usecases/get-by-label.js
  api/src/certification/complementary-certification/infrastructure/repositories/complementary-certification-repository.js
  api/src/certification/session/infrastructure/repositories/complementary-certification-repository.js
  api/tests/certification/complementary-certification/integration/infrastucture/repositories/complementary-certification-repository_test.js
  api/tests/certification/session/acceptance/application/session-mass-import-route_test.js
  api/tests/certification/session/integration/infrastructure/repositories/complementary-certification-repository_test.js
Labels: :rocket: Ready to Merge, team-certif

#8494 [TECH] Remplacer l'utilisation de la propriété de configuration endSessionUrl (PIX-11821)
  admin/app/models/oidc-identity-provider.js
  admin/mirage/config.js
  admin/tests/integration/components/organizations/information-section_test.js
  admin/tests/unit/components/organizations/information-section-view_test.js
  admin/tests/unit/components/users/user-detail-personal-information/authentication-method_test.js
  admin/tests/unit/services/oidc-identity-providers_test.js
  api/db/migrations/20240325104111_add-shouldCloseSession-to-table-oidc-providers.js
  api/lib/domain/services/authentication/cnav-oidc-authentication-service.js
  api/lib/domain/services/authentication/fwb-oidc-authentication-service.js
  api/lib/domain/services/authentication/google-oidc-authentication-service.js
  api/lib/domain/services/authentication/paysdelaloire-oidc-authentication-service.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
  api/lib/domain/usecases/authentication/authenticate-oidc-user.js
  api/lib/domain/usecases/create-oidc-user.js
  api/lib/domain/usecases/reconcile-oidc-user.js
  api/lib/infrastructure/serializers/jsonapi/oidc-identity-providers-serializer.js
  api/src/authentication/domain/services/oidc-authentication-service.js
  api/src/shared/config.js
  api/tests/authentication/unit/domain/services/oidc-authentication-service_test.js
  api/tests/integration/domain/services/authentication/fwb-oidc-authentication-service_test.js
  api/tests/integration/domain/services/authentication/pole-emploi-oidc-authentication-service_test.js
  api/tests/tooling/server/hapi-server-with-test-oidc-provider.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
  api/tests/unit/domain/services/authentication/cnav-oidc-authentication-service_test.js
  api/tests/unit/domain/usecases/authentication/authenticate-oidc-user_test.js
  api/tests/unit/domain/usecases/create-oidc-user_test.js
  api/tests/unit/domain/usecases/reconcile-oidc-user_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/oidc-identity-providers-serializer_test.js
  api/tests/unit/setup-oidc-authentication-service-registry_test.js
  mon-pix/app/authenticators/oidc.js
  mon-pix/app/models/oidc-identity-provider.js
  mon-pix/mirage/routes/authentication/oidc/index.js
  mon-pix/tests/integration/components/authentication/login-or-register-oidc_test.js
  mon-pix/tests/unit/authenticators/oidc_test.js
  mon-pix/tests/unit/components/authentication/login-or-register-oidc_test.js
  mon-pix/tests/unit/services/oidc-identity-providers_test.js
  mon-pix/tests/unit/services/session_test.js
Labels: :rocket: Ready to Merge, team-acces

#8466 [FEATURE] ajout du commentaire automatique en cas d'obtention d'une certification complémentaire de niveau inférieur (PIX-10322)
  api/lib/domain/events/handle-complementary-certifications-scoring.js
  api/src/certification/shared/domain/models/JuryComment.js
  api/src/shared/infrastructure/repositories/assessment-result-repository.js
  api/tests/integration/domain/event/handle-complementary-certifications-scoring_test.js
  api/tests/shared/integration/infrastructure/repositories/assessment-result-repository_test.js
  api/tests/unit/domain/events/handle-complementary-certifications-scoring_test.js
  api/translations/en.json
  api/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8475 [FEATURE] Ajout de l'ID d'answer dans la table `certification-challenge-capacities` (PIX-11688)
  api/db/database-builder/factory/build-certification-challenge-capacity.js
  api/db/migrations/20240321142333_add-answer-id-in-certification-challenge-capacities.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/src/certification/scoring/domain/models/CertificationAssessmentHistory.js
  api/src/certification/scoring/domain/models/CertificationChallengeCapacity.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
  api/tests/certification/scoring/integration/infrastructure/repositories/certification-assessment-history-repository_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentHistory_test.js
  api/tests/tooling/domain-builder/factory/certification/scoring/build-certification-challenge-capacity.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#8480 [TECH] Ajout du userId créant une configuration de niveau par compétence (PIX-11721).
  api/db/database-builder/factory/build-competence-scoring-configuration.js
  api/db/migrations/20240322103611_add-user-id-in-competence-scoring-configurations-table.js
  api/db/seeds/data/team-certification/create-competence-scoring-configuration.js
  api/src/certification/scoring/application/scoring-configuration-controller.js
  api/src/certification/scoring/application/scoring-configuration-route.js
  api/src/certification/scoring/domain/usecases/save-competence-for-scoring-configuration.js
  api/src/certification/scoring/infrastructure/repositories/scoring-configuration-repository.js
  api/tests/certification/course/acceptance/application/certification-course-route_test.js
  api/tests/certification/scoring/integration/application/scoring-configuration-controller_test.js
  api/tests/certification/scoring/integration/infrastructure/repositories/scoring-configuration-repository_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-complete-assessment_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#8237 [FEATURE] Récupérer l'information des langues disponibles pour la certification (pix-11277)
  api/lib/domain/models/User.js
  api/lib/domain/usecases/retrieve-last-or-create-certification-course.js
  api/src/shared/domain/services/language-service.js
  api/tests/shared/unit/domain/services/language-service_test.js
  api/tests/unit/domain/models/User_test.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#8509 [FEATURE] afficher le détail du dernier import réalisé par une organisation (pix-11684)
  api/src/prescription/learner-management/application/organization-import-controller.js
  api/src/prescription/learner-management/domain/read-models/OrganizationImportDetail.js
  api/src/prescription/learner-management/domain/usecases/get-organization-import-status.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-import-repository.js
  api/src/prescription/learner-management/infrastructure/serializers/jsonapi/organization-import-detail-serializer.js
  api/src/prescription/learner-management/infrastructure/serializers/jsonapi/organization-import-serializer.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-import-repository_test.js
  api/tests/prescription/learner-management/unit/application/organization-import-controller_test.js
  api/tests/prescription/learner-management/unit/domain/read-models/OrganizationImportDetail_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/get-organization-import-status_test.js
  api/tests/prescription/learner-management/unit/infrastructure/serializers/jsonapi/organization-import-detail-serializer_test.js
  orga/app/adapters/organization-import-detail.js
  orga/app/components/import.hbs
  orga/app/components/import.js
  orga/app/models/organization-import-detail.js
  orga/app/routes/authenticated/import-organization-participants.js
  orga/app/styles/components/import.scss
  orga/app/templates/authenticated/import-organization-participants.hbs
  orga/config/icons.js
  orga/tests/integration/components/import_test.js
  orga/tests/unit/components/import_test.js
  orga/tests/unit/models/organization-import_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8517 [TECH] deplace `campaignManagementController` vers `src/prescription` (PIX-11861)
  api/lib/application/campaigns/campaign-management-controller.js
  api/lib/application/campaigns/index.js
  api/lib/domain/models/index.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/participations-for-campaign-management-repository.js
  api/src/prescription/campaign-participation/application/campaign-participation-controller.js
  api/src/prescription/campaign-participation/application/campaign-participation-route.js
  api/src/prescription/campaign-participation/domain/models/ParticipationForCampaignManagement.js
  api/src/prescription/campaign-participation/domain/usecases/find-paginated-participations-for-campaign-management.js
  api/src/prescription/campaign-participation/infrastructure/repositories/participations-for-campaign-management-repository.js
  api/src/prescription/campaign-participation/infrastructure/serializers/jsonapi/participation-for-campaign-management-serializer.js
  api/src/prescription/campaign/application/campaign-detail-controller.js
  api/src/prescription/campaign/application/campaign-detail-route.js
  api/src/prescription/campaign/domain/usecases/get-campaign-details-management.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-details-management-serializer.js
  api/tests/acceptance/application/campaigns/campaign-management-controller_test.js
  api/tests/integration/infrastructure/repositories/participations-for-campaign-management-repository_test.js
  api/tests/prescription/campaign-participation/acceptance/application/campaign-participation-controller_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/participations-for-campaign-management-repository_test.js
  api/tests/prescription/campaign-participation/unit/application/campaign-participation-route_test.js
  api/tests/prescription/campaign-participation/unit/domain/models/ParticipationForCampaignManagement_test.js
  api/tests/prescription/campaign-participation/unit/domain/usecases/find-paginated-participations-for-campaign-management_test.js
  api/tests/prescription/campaign-participation/unit/infrastructure/serializers/jsonapi/participation-for-campaign-management-serializer_test.js
  api/tests/prescription/campaign/unit/application/campaign-detail-route_test.js
  api/tests/prescription/campaign/unit/infrastrucutre/serializers/jsonapi/campaign-details-management-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-participation-for-campaign-management.js
  api/tests/unit/application/campaign/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#8532 [TECH] Ajouter des fonctions de chiffrement et de déchiffrement symétriques pour stocker les Client Secrets (PIX-11883)
  api/db/database-builder/factory/build-authentication-method.js
  api/db/database-builder/factory/build-user.js
  api/lib/domain/usecases/account-recovery/update-user-for-account-recovery.js
  api/lib/domain/usecases/add-pix-authentication-method-by-email.js
  api/lib/domain/usecases/create-and-reconcile-user-to-organization-learner.js
  api/lib/domain/usecases/create-user.js
  api/lib/domain/usecases/generate-username-with-temporary-password.js
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/reset-organization-learners-password.js
  api/lib/domain/usecases/send-verification-code.js
  api/lib/domain/usecases/update-expired-password.js
  api/lib/domain/usecases/update-organization-learner-dependent-user-password.js
  api/lib/domain/usecases/update-user-password.js
  api/scripts/create-users-accounts-for-contest.js
  api/src/authentication/domain/services/pix-authentication-service.js
  api/src/shared/domain/services/crypto-service.js
  api/src/shared/domain/services/encryption-service.js
  api/tests/authentication/unit/domain/services/pix-authentication-service_test.js
  api/tests/integration/domain/usecases/account-recovery/update-user-for-account-recovery_test.js
  api/tests/integration/domain/usecases/create-and-reconcile-user-to-organization-learner_test.js
  api/tests/shared/unit/domain/services/crypto-service_test.js
  api/tests/tooling/domain-builder/factory/build-authentication-method.js
  api/tests/unit/application/users/user-controller_test.js
  api/tests/unit/domain/usecases/account-recovery/update-user-for-account-recovery_test.js
  api/tests/unit/domain/usecases/add-pix-authentication-method-by-email_test.js
  api/tests/unit/domain/usecases/create-and-reconcile-user-to-organization-learner_test.js
  api/tests/unit/domain/usecases/create-user_test.js
  api/tests/unit/domain/usecases/generate-username-with-temporary-password_test.js
  api/tests/unit/domain/usecases/reset-organization-learners-password_test.js
  api/tests/unit/domain/usecases/send-verification-code_test.js
  api/tests/unit/domain/usecases/update-expired-password_test.js
  api/tests/unit/domain/usecases/update-organization-learner-dependent-user-password_test.js
  api/tests/unit/domain/usecases/update-user-password_test.js
Labels: :rocket: Ready to Merge, team-acces

#8486 [BUGFIX] Remplacement émojis boutons et correction erreurs de niveau de section
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8541 [BUGFIX] Màj tolérance d'un QROC du module bien-ecrire-son-adresse-mail
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8273 [TECH] Mettre à jour ember-data en 4.12.5 sur PixOrga (PIX-11824)
  api/lib/application/sco-organization-learners/sco-organization-learner-controller.js
  api/lib/domain/usecases/generate-username-with-temporary-password.js
  api/lib/domain/usecases/update-organization-learner-dependent-user-password.js
  api/lib/infrastructure/serializers/jsonapi/sco-organization-learner-serializer.js
  api/tests/integration/application/sco-organization-learners/sco-organization-learner-controller_test.js
  api/tests/unit/domain/usecases/update-organization-learner-dependent-user-password_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/sco-organization-learner-serializer_test.js
  orga/app/routes/join.js
  orga/package-lock.json
  orga/package.json
  orga/tests/acceptance/campaign-parameters_test.js
  orga/tests/acceptance/team-list_test.js
  orga/tests/helpers/wait-for.js
  orga/tests/unit/routes/join_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-prescription

#8528 [BUGFIX]Corrections de liens menant vers des pages de support NL (PIX-11551)
  api/translations/nl.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK

#8514 [TECH] Remplacer bookshelf par knex sur le repository user-orga-settings (PIX-11858)
  api/src/shared/prescriber-management/infrastructure/repositories/user-orga-settings-repository.js
  api/tests/shared/prescriber-management/integration/infrasctructure/repositories/user-orga-settings-repository_test.js
Labels: :rocket: Ready to Merge, team-acces, team-prescription

#8535 [FEATURE] désactive les boutons d'import si un import est en cours (PIX-11681)
  orga/app/components/import.hbs
  orga/app/components/import.js
  orga/app/components/sco-organization-participant/import-card.hbs
  orga/app/components/sup-organization-participant/import-cards/add.hbs
  orga/app/components/sup-organization-participant/import-cards/replace.hbs
  orga/app/models/organization-import-detail.js
  orga/tests/integration/components/sco-organization-participant/import-card_test.js
  orga/tests/integration/components/sup-organization-participant/import-cards/add_test.js
  orga/tests/integration/components/sup-organization-participant/import-cards/replace_test.js
  orga/tests/unit/models/organization-import_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8415 [FEATURE] Permettre à partir d'un fichier de configuration de parser un CSV (PIX-11614)
  api/src/prescription/learner-management/domain/models/CommonOrganizationLearnerSet.js
  api/src/prescription/learner-management/domain/validators/common-organization-learner-validator.js
  api/src/prescription/learner-management/infrastructure/serializers/csv/common-csv-learner-parser.js
  api/src/shared/domain/constants.js
  api/src/shared/domain/errors.js
  api/tests/prescription/learner-management/unit/domain/models/CommonOrganizationLearnerSet_test.js
  api/tests/prescription/learner-management/unit/domain/validators/common-organization-learner-validator_test.js
  api/tests/prescription/learner-management/unit/infrastructure/serializers/csv/common-csv-learner-parser_test.js
  api/tests/shared/unit/domain/errors_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, 🎒👧🏽👦🏾 Pix1D

#8491 [TECH] Corriger comportement de screen reader sur l'affichage d'un nouveau grain (PIX-11825).
  mon-pix/app/pods/components/module/grain/component.js
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/components/module/passage/template.hbs
  mon-pix/tests/integration/components/module/passage_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8546 [FEATURE] Créer le repository permettant de sauvegarder les nouveaux format de learner (Pix-11615)
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, no-review-app, 🎒👧🏽👦🏾 Pix1D

#8533 [TECH] Créer un script pour charger les données des OIDC Providers (PIX-10033)
  api/db/migrations/20240327174114_add-enabledForPixAdmin-to-table-oidc-providers.js
  api/db/migrations/20240328154446_add-unicity-constraint-to-table-oidc-providers.js
  api/lib/domain/services/authentication/google-oidc-authentication-service.js
  api/scripts/team-acces/load-oidc-providers-from-env-variables.js
  api/src/authentication/domain/usecases/add-oidc-provider.js
  api/src/authentication/domain/usecases/index.js
  api/src/authentication/infrastructure/repositories/oidc-provider-repository.js
  api/tests/authentication/integration/infrastructure/repositories/oidc-provider-repository_test.js
  api/tests/authentication/unit/domain/usecases/add-oidc-provider_test.js
Labels: :rocket: Ready to Merge, team-acces

#8446 [TECH] Migrer l'injection de certification/shared vers certification/course (PIX-1473)
  api/scripts/certification/generate-certification-csv-results-by-session-ids.js
  api/scripts/certification/get-cpf-import-status-from-xml.js
  api/scripts/data-generation/generate-certif-cli.js
  api/src/certification/course/application/certification-attestation-controller.js
  api/src/certification/course/application/certification-course-controller.js
  api/src/certification/course/application/certification-reports-controller.js
  api/src/certification/course/domain/usecases/get-certification-attestation.js
  api/src/certification/course/domain/usecases/get-certification-attestations-for-session.js
  api/src/certification/course/domain/usecases/index.js
  api/src/certification/course/infrastructure/repositories/certificate-repository.js
  api/src/certification/course/scripts/generate-certification-attestations-by-session-ids.js
  api/src/certification/session/domain/usecases/index.js
  api/src/certification/shared/domain/usecases/index.js
  api/src/shared/application/assessments/assessment-controller.js
  api/tests/certification/course/integration/infrastructure/repositories/certificate-repository_test.js
  api/tests/certification/course/unit/application/certification-attestation-controller_test.js
  api/tests/certification/course/unit/application/certification-course-controller_test.js
  api/tests/certification/course/unit/application/certification-reports-controller_test.js
  api/tests/certification/course/unit/domain/usecases/get-certification-attestation_test.js
  api/tests/certification/course/unit/domain/usecases/get-certification-attestations-for-session_test.js
  api/tests/shared/unit/application/assessments/assessment-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif
