Repository 1024pix/pix, pull requests merged in 2024-08, with the labels that each got.

#9739 [FEATURE] Retourner la lucrativite des acquis dans le simulateur (PIX-13591)
  admin/app/components/smart-random-simulator/tubes-viewer.hbs
  admin/app/components/smart-random-simulator/tubes-viewer.js
  admin/app/controllers/authenticated/smart-random-simulator/get-next-challenge.js
  admin/app/styles/components/smart-random-simulator/tubes-viewer.scss
  admin/app/templates/authenticated/smart-random-simulator/get-next-challenge.hbs
  admin/tests/integration/components/smart-random-simulator/tubes-viewer-test.js
  admin/tests/unit/components/smart-random-simulator/tubes-viewer-test.js
  admin/tests/unit/controllers/authenticated/smart-random-simulator/get-next-challenge-test.js
  api/src/evaluation/application/smart-random-simulator/smart-random-simulator-controller.js
  api/src/evaluation/domain/models/SmartRandomDetails.js
  api/src/evaluation/domain/models/SmartRandomLog.js
  api/src/evaluation/domain/models/SmartRandomSkillReward.js
  api/src/evaluation/domain/models/SmartRandomStep.js
  api/src/evaluation/domain/services/algorithm-methods/cat-algorithm.js
  api/src/evaluation/domain/services/algorithm-methods/skills-filter.js
  api/src/evaluation/domain/services/algorithm-methods/smart-random.js
  api/src/evaluation/domain/services/smart-random-log-service.js
  api/src/evaluation/domain/usecases/get-next-challenge-for-simulator.js
  api/tests/evaluation/acceptance/application/smart-random-simulator/smart-random-simulator-controller_test.js
  api/tests/evaluation/integration/application/smart-random-simulator/smart-random-simulator-controller_test.js
  api/tests/evaluation/integration/domain/services/smart-random-log-service_test.js
  api/tests/evaluation/integration/domain/usecases/get-next-challenge-for-simulator_test.js
  api/tests/evaluation/unit/domain/services/smart-random/skills-filter_test.js
  api/tests/evaluation/unit/domain/services/smart-random/smart-random_test.js
  api/tests/evaluation/unit/domain/usecases/get-next-challenge-for-simulator_test.js
Labels: :rocket: Ready to Merge, team-evaluation

#9772 [BUGFIX] Corrige un test flaky qui empêche la CI de passer sur PixOrga (PIX-13707).
  orga/tests/integration/components/places/title-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#9759 [TECH] Migration de la route d'invitation à rejoindre une orga sur Pix Admin vers le contexte team (PIX-13666).
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/src/shared/application/error-manager.js
  api/src/shared/domain/errors.js
  api/src/team/application/http-error-mapper-configuration.js
  api/src/team/application/organization-invitations/organization-invitation.admin.route.js
  api/src/team/application/organization-invitations/organization-invitation.controller.js
  api/src/team/domain/errors.js
  api/src/team/domain/usecases/create-membership.usecase.js
  api/src/team/domain/usecases/create-organization-invitation-by-admin.usecase.js
  api/src/team/domain/usecases/create-organization-invitations.usecase.js
  api/tests/acceptance/application/organizations/send-invitation-by-lang-and-role-route-post_test.js
  api/tests/integration/application/error-manager_test.js
  api/tests/team/acceptance/application/organization-invitations/organization-invitation.admin.route.test.js
  api/tests/team/integration/application/organization-invitation/organization-invitation.admin.route.test.js
  api/tests/team/integration/application/organization-invitation/organization-invitation.controller.test.js
  api/tests/team/unit/application/http-error-mapper-configuration.test.js
  api/tests/team/unit/application/organization-invitation/organization-invitation.controller.test.js
  api/tests/team/unit/domain/usecases/create-membership.usecase.test.js
  api/tests/team/unit/domain/usecases/create-organization-invitation-by-admin.usecase.test.js
  api/tests/team/unit/domain/usecases/create-organization-invitations.usecase.test.js
  api/tests/unit/application/organizations/index_test.js
  api/tests/unit/application/organizations/organization-controller_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#9753 [TECH] Mise à jour des dépendances d'audit logger (PIX-13684)
  audit-logger/.eslintrc.json
  audit-logger/CONTRIBUTING.md
  audit-logger/INSTALLATION.md
  audit-logger/README.md
  audit-logger/eslint.config.cjs
  audit-logger/package-lock.json
  audit-logger/package.json
  audit-logger/src/db/knex-database-connection.ts
  audit-logger/src/db/knexfile.ts
  audit-logger/src/lib/config.ts
  audit-logger/src/lib/controllers/create-audit-log.controller.ts
  audit-logger/src/lib/domain/models/models.definition.ts
  audit-logger/src/lib/domain/usecases/usecases.ts
  audit-logger/src/lib/index.ts
  audit-logger/src/lib/infrastructure/logger.ts
  audit-logger/src/lib/infrastructure/pg-client.ts
  audit-logger/src/lib/routes.ts
  audit-logger/src/scripts/database/create-database.ts
  audit-logger/src/scripts/database/drop-database.ts
  audit-logger/tests/integration/infrastructure/repositories/audit-log-postgres.repository.test.ts
  audit-logger/tsconfig.json
  audit-logger/tsconfig.production.json
  audit-logger/vitest.config.ts
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, cross-team

#9771 [FEATURE] Initialiser la nouvelle page de résultats de fin de parcours (PIX-13672).
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/index.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/results-details.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/rewards.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/trainings.gjs
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results.gjs
  mon-pix/app/controllers/campaigns/assessment/skill-review.js
  mon-pix/app/models/feature-toggle.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/pages/_evaluation-results.scss
  mon-pix/app/templates/campaigns/assessment/skill-review.hbs
  mon-pix/public/images/pix-logo-dark.svg
  mon-pix/tests/acceptance/campaigns/campaign-skill-review-test.js
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/evaluation-results-tabs-test.js
  mon-pix/tests/integration/components/routes/campaigns/assessment/evaluation-results-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#9768 [FEATURE] Ajout d'événements Matomo sur Modulix (PIX-13403)
  mon-pix/app/components/module/details.gjs
  mon-pix/app/components/module/details.hbs
  mon-pix/app/components/module/element.gjs
  mon-pix/app/components/module/element/video.gjs
  mon-pix/app/components/module/grain.hbs
  mon-pix/app/components/module/grain.js
  mon-pix/app/components/module/passage.hbs
  mon-pix/app/components/module/passage.js
  mon-pix/tests/integration/components/module/details-test.gjs
  mon-pix/tests/integration/components/module/details-test.js
  mon-pix/tests/integration/components/module/passage_test.gjs
  mon-pix/tests/integration/components/module/video_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#9775 [BUGFIX] Corriger l'utilisation du taux de capage dans le choix des épreuves (PIX-13712).
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#9767 [TECH] Ajouter des tests d'intégration concernant le refreshTokenService (PIX-13665)
  api/src/identity-access-management/domain/services/refresh-token-service.js
  api/src/shared/infrastructure/temporary-storage/InMemoryTemporaryStorage.js
  api/src/shared/infrastructure/temporary-storage/RedisTemporaryStorage.js
  api/src/shared/infrastructure/temporary-storage/TemporaryStorage.js
  api/tests/identity-access-management/integration/domain/services/refresh-token-service.test.js
  api/tests/identity-access-management/integration/domain/usecases/anonymize-user.usecase.test.js
  api/tests/identity-access-management/unit/domain/services/refresh-token-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9773 [TECH] Utiliser les nouvelles variables pour les espacements sur Pix Certif (PIX-13708).
  certif/app/styles/components/auth/toggable-login-form.scss
  certif/app/styles/components/dropdown.scss
  certif/app/styles/components/login-form.scss
  certif/app/styles/components/login-or-register.scss
  certif/app/styles/components/login-session-supervisor/index.scss
  certif/app/styles/components/members-list-item.scss
  certif/app/styles/components/register-form.scss
  certif/app/styles/components/session-supervising/candidate-in-list.scss
  certif/app/styles/components/team/invitations-list-item.scss
  certif/app/styles/components/user-logged-menu.scss
  certif/app/styles/globals/forms.scss
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/app/styles/pages/authenticated/sessions/list-items.scss
  certif/app/styles/pages/authenticated/sessions/no-session-panel.scss
  certif/app/styles/pages/authenticated/team.scss
  certif/app/styles/pages/authenticated/team/invite.scss
  certif/app/styles/pages/terms-of-service.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, cross-team

#9769 [FEATURE] Intégrer des composants Pix UI sur l'accueil de Pix App
  mon-pix/app/components/dashboard/section.hbs
  mon-pix/app/components/new-information.hbs
  mon-pix/app/styles/components/_new-information.scss
  mon-pix/app/styles/components/dashboard/_content.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, Design Review OK, cross-team

#9789 [TECH] Augmenter le timeout de 2 tests longs (flakies)
  api/tests/integration/infrastructure/knex-database-connection_test.js
  api/tests/shared/acceptance/application/swagger_test.js
  api/tests/tooling/server/hapi-server-with-test-oidc-provider.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#9787 [TECH] Déplacer les validateurs dans le scope évaluation (PIX-13733)
  api/src/evaluation/domain/models/Validator.js
  api/src/evaluation/domain/models/ValidatorAlwaysOK.js
  api/src/evaluation/domain/models/ValidatorQCM.js
  api/src/evaluation/domain/models/ValidatorQCU.js
  api/src/evaluation/domain/models/ValidatorQROC.js
  api/src/evaluation/domain/models/ValidatorQROCMDep.js
  api/src/evaluation/domain/models/ValidatorQROCMInd.js
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/domain/models/Challenge.js
  api/src/shared/domain/models/index.js
  api/tests/evaluation/unit/domain/models/ValidatorQCM_test.js
  api/tests/evaluation/unit/domain/models/ValidatorQCU_test.js
  api/tests/evaluation/unit/domain/models/ValidatorQROCMDep_test.js
  api/tests/evaluation/unit/domain/models/ValidatorQROCMInd_test.js
  api/tests/evaluation/unit/domain/models/ValidatorQROC_test.js
  api/tests/evaluation/unit/domain/models/Validator_test.js
  api/tests/school/integration/domain/services/correct-answer_test.js
  api/tests/school/integration/domain/usecases/correct-preview-answer_test.js
  api/tests/school/integration/domain/usecases/handle-activity-answer_test.js
  api/tests/shared/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/tooling/domain-builder/factory/build-challenge.js
  api/tests/tooling/domain-builder/factory/build-validator.js
  api/tests/unit/domain/models/Challenge_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#9763 [TECH] Migrer le helper CSV et ls serializer CSV vers la nouvelle arborescence (PIX-13673).
  api/lib/application/organizations/organization-controller.js
  api/scripts/update-audit-api-csv-file.js
  api/src/certification/enrolment/application/session-mass-import-controller.js
  api/src/prescription/campaign/application/campaign-adminstration-controller.js
  api/src/prescription/campaign/domain/services/campaign-csv-export-service.js
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-assessment-results-to-stream.js
  api/src/prescription/campaign/infrastructure/exports/campaigns/campaign-profiles-collection-result-line.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-profiles-collection-export.js
  api/src/prescription/learner-management/domain/usecases/get-organization-learners-csv-template.js
  api/src/shared/infrastructure/helpers/csv.js
  api/src/shared/infrastructure/serializers/csv/csv-serializer.js
  api/tests/shared/unit/infrastructure/helpers/csv.js
  api/tests/shared/unit/infrastructure/serializers/csv/csv-serializer_test.js
  api/tests/unit/infrastructure/helpers/files/organizations-empty-file.csv
  api/tests/unit/infrastructure/helpers/files/organizations-with-tags-and-target-profiles-test.csv
  api/tests/unit/infrastructure/helpers/files/withHeader-test.csv
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#9794 [FEATURE] Changement du design des cartes mission dans Pix Junior (Pix-13623)
  junior/app/components/mission-card/completed-mission-card.gjs
  junior/app/components/mission-card/completed-mission/template.hbs
  junior/app/components/mission-card/incomplete-mission/template.hbs
  junior/app/components/mission-card/mission-card-background.gjs
  junior/app/components/mission-card/mission-card-completed-background.gjs
  junior/app/components/mission-card/mission-card.gjs
  junior/app/components/mission-card/template.hbs
  junior/app/styles/components/mission-card/card.scss
  junior/app/styles/globals/_colors.scss
  junior/app/templates/assessment/results.hbs
  junior/app/templates/identified/missions/list.hbs
  junior/app/templates/identified/missions/mission.hbs
  junior/package-lock.json
  junior/package.json
  junior/public/images/icons/mission-card/img-area-1.svg
  junior/public/images/icons/mission-card/img-area-2.svg
  junior/public/images/icons/mission-card/img-area-3.svg
  junior/public/images/icons/mission-card/img-area-4.svg
  junior/public/images/icons/mission-card/img-area-5.svg
  junior/public/images/mission/icon/area-code-1.svg
  junior/public/images/mission/icon/area-code-2.svg
  junior/public/images/mission/icon/area-code-3.svg
  junior/public/images/mission/icon/area-code-4.svg
  junior/public/images/mission/icon/finished-icon.svg
  junior/tests/acceptance/display-missions-list-test.js
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9774 [BUGFIX] Import tags: gestion d'erreur pour une orga inexistante (PIX-13680)
  admin/app/components/administration/organization-tags-import.js
  admin/app/services/error-response-handler.js
  admin/tests/unit/services/error-response-handler-test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/src/organizational-entities/domain/usecases/update-organizations-in-batch.usecase.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9798 [FIX] Dupliquer la categorie du profil cible (PIX-13525)
  api/src/shared/domain/models/TargetProfile.js
  api/tests/integration/domain/usecases/copy-target-profile_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#9736 [FEATURE] Afficher un QCU Image en web component sur Pix Junior TECH DAYS (Pix-13740)
  api/src/shared/domain/models/Challenge.js
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/src/shared/infrastructure/serializers/jsonapi/challenge-serializer.js
  api/tests/shared/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/shared/unit/infrastructure/serializers/jsonapi/challenge-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-challenge.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/models/Challenge_test.js
  junior/app/app.js
  junior/app/components/challenge/challenge-web-component/component.js
  junior/app/components/challenge/challenge-web-component/template.hbs
  junior/app/components/challenge/item/component.js
  junior/app/components/challenge/item/integration-test.js
  junior/app/components/challenge/item/template.hbs
  junior/app/index.html
  junior/app/models/challenge.js
  junior/package-lock.json
  junior/package.json
  junior/tests/unit/models/challenge-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR, tech-days-simulateurs

#9795 [BUGFIX] Corriger la réinitialisation d'un QCM Modulix lors du clic sur le bouton Réessayer
  mon-pix/app/components/module/element/module-element.js
Labels: :rocket: Ready to Merge, team-devcomp

#9698 [FEATURE] Script de reprise de données des utilisateurs anonymisés (PIX-4218)
  api/lib/domain/usecases/anonymize-user.js
  api/src/identity-access-management/infrastructure/repositories/anonymized-user.repository.js
  api/src/identity-access-management/scripts/backfill-anonymized-users.js
  api/tests/identity-access-management/acceptance/scripts/backfill-anonymized-users.script.test.js
  api/tests/identity-access-management/integration/domain/usecases/anonymize-user.usecase.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/anonymized-user.repository.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, Design Review OK

#9700 [FEATURE] Permettre la saisie au format Utilisateurs de la date (PIX-13569)
  api/db/migrations/20240726092657_add-key-on-import-fwb-sco.js
  api/db/migrations/20240726093046_add-key-on-import-onde.js
  api/db/seeds/data/common/organization-learner-import-formats.js
  api/src/prescription/learner-management/domain/constants.js
  api/src/prescription/learner-management/domain/models/OrganizationLearnerImportFormat.js
  api/tests/prescription/learner-management/acceptance/application/organization-learners-route_test.js
  api/tests/prescription/learner-management/unit/domain/models/OrganizationLearnerImportFormat_test.js
  mon-pix/app/components/campaigns/invited/learner-reconciliation.gjs
  mon-pix/app/components/pages/campaigns/invited/reconciliation.gjs
  mon-pix/app/styles/components/campaigns/index.scss
  mon-pix/app/styles/components/campaigns/invited/learner-reconciliation.scss
  mon-pix/tests/integration/components/campaign/invited/learner-reconciliation-test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9770 [TECH] Refactoriser le test `module-instantiation_test` et la factory de `Module` (PIX-13229)
  api/src/devcomp/domain/models/EmbedCorrectionResponse.js
  api/src/devcomp/domain/models/element/QCU-for-answer-verification.js
  api/src/devcomp/infrastructure/factories/element-for-verification-factory.js
  api/src/devcomp/infrastructure/factories/module-factory.js
  api/src/devcomp/infrastructure/repositories/element-repository.js
  api/tests/devcomp/acceptance/module-instantiation_test.js
  api/tests/devcomp/integration/repositories/element-repository_test.js
  api/tests/devcomp/unit/domain/models/EmbedCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/element/Embed-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QCU-for-answer-verification_test.js
  api/tests/devcomp/unit/infrastructure/factories/element-for-verification-factory_test.js
  api/tests/devcomp/unit/infrastructure/factories/module-factory_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#9764 [TECH] Remplacer bluebird.map (avec concurrence) par des fonctions natives
  api/db/seeds/data/common/tooling/target-profile-tooling.js
  api/db/seeds/data/common/tooling/training-tooling.js
  api/lib/domain/usecases/create-organizations-with-tags-and-target-profiles.js
  api/lib/domain/usecases/get-certification-point-of-contact.js
  api/scripts/certification/generate-certificate-verification-code.js
  api/scripts/certification/generate-certification-results.js
  api/scripts/certification/generate-last-assessments-score.js
  api/scripts/certification/trigger-autojury-on-finalized-sessions.js
  api/scripts/data-generation/generate-certif-cli.js
  api/scripts/prod/compute-participation-results.js
  api/scripts/prod/create-profiles-collection-campaigns.js
  api/scripts/prod/generate-knowledge-element-snapshots-for-campaigns.js
  api/src/certification/complementary-certification/domain/usecases/send-target-profile-notifications.js
  api/src/certification/complementary-certification/infrastructure/serializers/jsonapi/complementary-certification-badge-serializer.js
  api/src/certification/session-management/domain/usecases/get-session-for-supervising.js
  api/src/certification/session-management/domain/usecases/integrate-cpf-processing-receipts.js
  api/src/certification/session-management/infrastructure/storage/cpf-exports-storage.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-profiles-collection-export.js
  api/src/school/scripts/create-school-learners.js
  api/src/shared/application/security-pre-handlers.js
  api/src/shared/infrastructure/utils/promise-utils.js
  api/tests/shared/unit/infrastructure/utils/promise-utils_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, team-prescription, cross-team

#9803 [FEATURE] Ajouter un élément "download" dans le didacticiel modulix (PIX-12501)
  api/scripts/modulix/get-sample-download-element.js
  api/scripts/modulix/get-sample-embed-element.js
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/download.sample.js
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/embed.sample.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/download.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/embed.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/embed_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/index.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-validation_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module.js
  high-level-tests/e2e/cypress/integration/pix-app/modulix-a11y.feature
Labels: :rocket: Ready to Merge, team-devcomp

#9713 [FEATURE] Ne pas afficher la possibilité d'activer la gestion des élèves lorsque l'import à format est actif (PIX-13618)
  admin/app/components/organizations/information-section-edit.gjs
  admin/app/components/organizations/information-section-edit.hbs
  admin/app/components/organizations/information-section-edit.js
  admin/app/components/organizations/information-section-view.gjs
  admin/app/components/organizations/information-section-view.hbs
  admin/app/components/organizations/information-section-view.js
  admin/app/models/organization.js
  admin/tests/acceptance/authenticated/organizations/information-management-test.js
  admin/tests/unit/models/organization-test.js
  api/src/organizational-entities/domain/models/OrganizationForAdmin.js
  api/tests/organizational-entities/unit/domain/models/OrganizationForAdmin_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9805 [TECH] Réparer les seeds de la team évaluation (PIX-13755).
  api/db/seeds/data/team-evaluation/users/eval-campaign-with-badges.js
  api/db/seeds/data/team-evaluation/users/eval-campaign-with-stages.js
  api/db/seeds/seed.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#9751 [TECH] Utiliser le modèle "EnrolledCandidate" partout dans le bounded-context "enrolment" dans des cas de lecture (PIX-13656).
  api/lib/application/sessions/session-controller.js
  api/src/certification/enrolment/application/certification-candidate-controller.js
  api/src/certification/enrolment/application/certification-candidate-route.js
  api/src/certification/enrolment/application/enrolment-controller.js
  api/src/certification/enrolment/domain/read-models/EnrolledCandidate.js
  api/src/certification/enrolment/domain/usecases/get-candidate-import-sheet-data.js
  api/src/certification/enrolment/domain/usecases/get-enrolled-candidates-in-session.js
  api/src/certification/enrolment/domain/usecases/get-session-certification-candidates.js
  api/src/certification/enrolment/domain/usecases/index.js
  api/src/certification/enrolment/infrastructure/files/candidates-import/CandidateData.js
  api/src/certification/enrolment/infrastructure/files/candidates-import/SessionData.js
  api/src/certification/enrolment/infrastructure/files/candidates-import/fill-candidates-import-sheet.js
  api/src/certification/enrolment/infrastructure/repositories/candidate-repository.js
  api/src/certification/enrolment/infrastructure/repositories/complementary-certification-repository.js
  api/src/certification/enrolment/infrastructure/repositories/enrolled-candidate-repository.js
  api/src/certification/enrolment/infrastructure/repositories/index.js
  api/src/certification/enrolment/infrastructure/serializers/enrolled-candidate-serializer.js
  api/src/certification/shared/infrastructure/serializers/jsonapi/certification-candidate-serializer.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-route_test.js
  api/tests/certification/enrolment/integration/infrastructure/ods/files/fill-candidates-import-sheet_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/candidate-repository_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/complementary-certification-repository_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/enrolled-candidate-repository_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-controller_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-route_test.js
  api/tests/certification/enrolment/unit/application/enrolment-controller_test.js
  api/tests/certification/enrolment/unit/domain/read-models/EnrolledCandidate_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-candidate-import-sheet-data_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-session-certification-candidates_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/certification-candidate-serializer_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/enrolled-candidate-serializer_test.js
  api/tests/certification/shared/unit/infrastructure/serializers/jsonapi/certification-candidate-serializer_test.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-enrolled-candidate.js
  api/tests/tooling/domain-builder/factory/index.js
  certif/app/components/certification-candidate-details-modal.hbs
  certif/app/components/certification-candidate-details-modal/index.gjs
  certif/app/components/certification-candidate-details-modal/row.gjs
  certif/app/components/enrolled-candidates.hbs
  certif/app/components/enrolled-candidates.js
  certif/app/styles/app.scss
  certif/app/styles/components/certification-candidate-details-modal.scss
  certif/app/styles/components/certification-candidate-details-modal/index.scss
  certif/app/styles/components/certification-candidate-details-modal/row.scss
  certif/app/templates/authenticated/sessions/details/certification-candidates.hbs
  certif/tests/acceptance/session-details-certification-candidates-test.js
  certif/tests/integration/components/certification-candidate-details-modal/index-test.gjs
  certif/tests/integration/components/enrolled-candidates-test.js
  certif/tests/integration/components/login-session-supervisor/index-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#9811 [BUGFIX] corrige le wording d'affichage de la fonctionnalité d'import sur les orgas (PIX-13795)
  admin/app/components/organizations/information-section-view.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9814 [BUGFIX] Continuer la mission si la dernière des 3 tentatives à été réussie (Pix-13764)
  api/src/school/domain/services/get-next-activity-info.js
  api/tests/school/unit/domain/services/get-next-activity-info_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9804 [FEATURE] Afficher la carte d'une mission avec un statut 'En cours' (Pix-13624)
  api/src/school/application/organization-learner-controller.js
  api/src/school/domain/models/OrganizationLearner.js
  api/src/school/domain/read-models/OrganizationLearnerDTO.js
  api/src/school/domain/usecases/get-organization-learner-with-completed-mission-ids.js
  api/src/school/infrastructure/repositories/mission-assessment-repository.js
  api/src/school/infrastructure/serializers/organization-learner.js
  api/tests/school/integration/domain/usecases/get-organization-learner-with-completed-mission-ids_test.js
  api/tests/school/integration/infrastructure/repositories/mission-assessment-repository_test.js
  api/tests/school/unit/application/organization-learner-controller_test.js
  api/tests/school/unit/application/school-controller_test.js
  api/tests/school/unit/infrastructure/serializers/organization-learner_test.js
  junior/app/components/mission-card/completed-mission-card.gjs
  junior/app/components/mission-card/mission-card-background.gjs
  junior/app/components/mission-card/mission-card.gjs
  junior/app/controllers/identified/missions/list.js
  junior/app/models/organization-learner.js
  junior/app/styles/components/mission-card/card.scss
  junior/app/styles/pages/identified/missions/list.scss
  junior/app/templates/assessment/results.hbs
  junior/app/templates/identified/missions/list.hbs
  junior/public/images/mission/icon/started-icon.svg
  junior/tests/acceptance/display-missions-list-test.js
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, Design Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9817 [FEATURE] Passe directement à la dernière épreuves à jouer d'une mission déjà démarré depuis la page de liste des mission (PIX-13625)
  junior/app/controllers/identified/missions/list.js
  junior/app/templates/identified/missions/list.hbs
  junior/tests/acceptance/display-missions-list-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9780 [FEATURE] Ajouter le contenu de l'onglet Récompenses (PIX-12984).
  api/db/seeds/data/team-evaluation/users/eval-campaign-with-badges.js
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/index.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/rewards.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/rewards/badge.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/rewards/index.gjs
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results.gjs
  mon-pix/app/styles/components/campaigns/assessment/skill-review/evaluation-results-tabs/rewards.scss
  mon-pix/app/styles/components/campaigns/index.scss
  mon-pix/app/styles/pages/_evaluation-results.scss
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/evaluation-results-tabs-test.js
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/rewards/rewards-badge-test.js
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/rewards/rewards-test.js
  mon-pix/tests/integration/components/routes/campaigns/assessment/evaluation-results-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#9818 [FEATURE] Modifier l'affichage des inscriptions en certification pour gérer la compatibilité coeur/complémentaire (PIX-11899)
  api/src/certification/enrolment/domain/models/Subscription.js
  api/src/certification/enrolment/infrastructure/serializers/enrolled-candidate-serializer.js
  api/src/shared/config.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-route_test.js
  api/tests/certification/enrolment/acceptance/application/enrolment-route_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/enrolled-candidate-serializer_test.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
  certif/app/components/certification-candidate-details-modal/index.gjs
  certif/app/components/enrolled-candidates.hbs
  certif/app/components/enrolled-candidates.js
  certif/app/components/members-list.js
  certif/app/controllers/authenticated/sessions/details/certification-candidates.js
  certif/app/controllers/authenticated/sessions/import.js
  certif/app/controllers/authenticated/team/list.js
  certif/app/models/certification-candidate.js
  certif/app/models/feature-toggle.js
  certif/app/models/session-enrolment.js
  certif/app/models/session-management.js
  certif/app/models/subscription.js
  certif/app/routes/authenticated/team/list.js
  certif/app/styles/pages/authenticated/sessions/details/certification-candidates.scss
  certif/app/templates/authenticated/sessions/details/certification-candidates.hbs
  certif/mirage/config.js
  certif/mirage/factories/certification-candidate.js
  certif/mirage/serializers/certification-candidate.js
  certif/tests/acceptance/session-details-certification-candidates-test.js
  certif/tests/acceptance/team/list/list-test.js
  certif/tests/integration/components/certification-candidate-details-modal/index-test.gjs
  certif/tests/integration/components/enrolled-candidates-test.js
  certif/tests/unit/controllers/authenticated/sessions/details/certification-candidates-test.js
  certif/tests/unit/models/certification-candidate-test.js
  certif/tests/unit/models/subscription-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#9807 [FEATURE] Ajoute un script pour convertir le schema Joi des Modulix en JSON Schema (PIX-13620) (PIX-13781)
  api/scripts/modulix/convert-joi-schema-to-json-schema.js
  api/src/devcomp/infrastructure/datasources/conversion/joi-to-json-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/conversion/joi-to-json-schema_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/embed.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/qrocm.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/utils.js
Labels: :rocket: Ready to Merge, team-devcomp

#9806 [FEATURE] Mise en place du SSO pour Agent Connect (PIX-13741)
  api/src/identity-access-management/application/oidc-provider/oidc-provider.controller.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.route.js
  api/src/identity-access-management/domain/services/agent-connect-oidc-authentication-service.js
  api/src/identity-access-management/domain/services/oidc-authentication-service-registry.js
  api/src/identity-access-management/domain/services/oidc-authentication-service.js
  api/src/identity-access-management/domain/usecases/authenticate-oidc-user.usecase.js
  api/tests/identity-access-management/unit/application/oidc-provider.controller.test.js
  api/tests/identity-access-management/unit/domain/services/agent-connect-oidc-authentication-service_test.js
  api/tests/identity-access-management/unit/domain/services/oidc-authentication-service-registry_test.js
  api/tests/identity-access-management/unit/domain/services/oidc-authentication-service_test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-oidc-user.usecase.test.js
  mon-pix/app/authenticators/oidc.js
  mon-pix/app/routes/authentication/login-oidc.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9758 [TECH] :recycle: Suppression du fichier `http-errors.js` présent dans `lib/application`
  api/config/server-setup-error-handling.js
  api/lib/application/certification-center-memberships/certification-center-membership-controller.js
  api/lib/application/error-manager.js
  api/lib/application/http-errors.js
  api/lib/application/organizations/index.js
  api/lib/application/pole-emploi/pole-emploi-controller.js
  api/lib/application/pre-response-utils.js
  api/lib/application/sco-organization-learners/index.js
  api/lib/application/sessions/session-controller.js
  api/lib/application/sup-organization-learners/index.js
  api/lib/application/target-profiles/index.js
  api/lib/application/users/index.js
  api/lib/domain/usecases/disable-certification-center-membership-from-pix-certif.js
  api/src/certification/enrolment/infrastructure/utils/ods/read-ods-utils.js
  api/src/certification/flash-certification/application/scenario-simulator-controller.js
  api/src/devcomp/application/trainings/index.js
  api/src/evaluation/application/autonomous-courses/index.js
  api/src/evaluation/infrastructure/repositories/badge-criteria-repository.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.controller.js
  api/src/identity-access-management/application/token/token.controller.js
  api/src/identity-access-management/application/token/token.route.js
  api/src/prescription/campaign/application/campaign-administration-route.js
  api/src/prescription/campaign/application/campaign-detail-controller.js
  api/src/prescription/learner-management/application/organization-learners-route.js
  api/src/prescription/learner-management/application/sco-organization-management-route.js
  api/src/prescription/learner-management/application/sup-organization-management-route.js
  api/src/prescription/learner-management/domain/usecases/handle-payload-too-large-error.js
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/src/shared/application/http-errors.js
  api/src/shared/validate.js
  api/src/team/application/membership/membership.controller.js
  api/src/team/application/organization-invitations/organization-invitation.controller.js
  api/tests/certification/enrolment/integration/infrastructure/ods/read-ods-utils_test.js
  api/tests/certification/session-management/unit/application/certification-report-route_test.js
  api/tests/evaluation/integration/infrastructure/repositories/badge-criteria-repository_test.js
  api/tests/identity-access-management/unit/application/oidc-provider.controller.test.js
  api/tests/integration/application/pre-response-utils_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/handle-payload-too-large-error_test.js
  api/tests/shared/unit/application/pre-response-utils_test.js
  api/tests/shared/unit/validate_test.js
  api/tests/team/unit/application/organization-invitation/organization-invitation.controller.test.js
  api/tests/unit/application/errors_test.js
  api/tests/unit/application/pole-emploi/pole-emploi-controller_test.js
  api/tests/unit/application/session/index_test.js
  api/tests/unit/application/session/session-controller_test.js
  api/tests/unit/domain/usecases/disable-certification-center-membership-from-pix-certif_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/error-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, team-evaluation, team-prescription, cross-team, team-devcomp, Bounded-context-migration

#9819 [FEATURE] Supporte des petits différences dans le nom / prénom lors de la réconciliation (PIX-13626)
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/domain/usecases/reconcile-common-organization-learner.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/reconcile-common-organization-learner_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9834 [FEATURE] Revue de design Modulix (PIX-13842)
  mon-pix/app/styles/components/module/_grain.scss
  mon-pix/app/styles/components/module/grain/_tag.scss
  mon-pix/app/styles/components/modulix/_feedback.scss
  mon-pix/app/styles/pages/_module.scss
Labels: :rocket: Ready to Merge, team-devcomp

#9816 [BUGFIX] Sauvegarder le statut de l'import en erreur si la publication de l'evenement ne fonctionne pas (PIX-13796)
  api/db/migrations/20240807130501_add-uploading-status-on-organization-imports.js
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/domain/constants.js
  api/src/prescription/learner-management/domain/events/FileUploaded.js
  api/src/prescription/learner-management/domain/events/FileValidated.js
  api/src/prescription/learner-management/domain/models/OrganizationImport.js
  api/src/prescription/learner-management/domain/usecases/add-or-update-organization-learners.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/domain/usecases/upload-siecle-file.js
  api/src/prescription/learner-management/domain/usecases/validate-siecle-xml-file.js
  api/src/prescription/learner-management/infrastructure/jobs/ValidateOrganizationImportFileJobHandler.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-import-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-import-repository_test.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/models/OrganizationImport_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/add-or-update-organization-learners_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/upload-siecle-file_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/validate-siecle-xml-file_test.js
  api/tests/prescription/learner-management/unit/infrastructure/jobs/ValidateOrganizationImportFileJobHandler_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9837 [TECH] Remplacer un plugin eslint par une alternative plus légère
  api/eslint.config.cjs
  api/package-lock.json
  api/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, no-review-app

#9838 [TECH] Remplacer notre parser de query string par une alternative plus légère
  api/eslint.config.cjs
  api/package-lock.json
  api/package.json
  api/server.js
  api/tests/tooling/server/http-test-server.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#9833 [TECH] Simplifier l'utilisation / création d'un job Pgboss (PIX-13854)
  api/lib/application/users/user-controller.js
  api/lib/domain/usecases/anonymize-user.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/events/EventBusBuilder.js
  api/lib/infrastructure/events/EventHandlerDependenciesBuilder.js
  api/lib/infrastructure/events/subscribers/audit-log/UserAnonymizedEventLoggingJobScheduler.js
  api/lib/infrastructure/repositories/jobs/user-anonymized-event-logging-job-repository.js
  api/src/identity-access-management/domain/models/UserAnonymizedEventLoggingJob.js
  api/src/shared/application/jobs/audit-log/user-anonymized-event-logging-job-controller.js
  api/src/shared/infrastructure/jobs/JobPgBoss.js
  api/src/shared/infrastructure/jobs/audit-log/UserAnonymizedEventLoggingJob.js
  api/tests/identity-access-management/integration/domain/usecases/anonymize-user.usecase.test.js
  api/tests/identity-access-management/unit/domain/models/UserAnonymizedAuditLog.test.js
  api/tests/shared/unit/application/jobs/audit-log/UserAnonymizedEventLoggingJobController_test.js
  api/tests/tooling/jobs/expect-job.js
  api/tests/unit/application/users/user-controller_test.js
  api/tests/unit/infrastructure/events/subscribers/audit-log/UserAnonymizedEventLoggingJobScheduler_test.js
  api/worker.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, tech-days-event

#9830 [TECH] Refacto sur quelques repositories du contexte certification/enrolment (PIX-13856)
  api/src/certification/enrolment/application/certification-candidate-controller.js
  api/src/certification/enrolment/application/usecases/check-user-is-candidate.js
  api/src/certification/enrolment/domain/models/Candidate.js
  api/src/certification/enrolment/domain/models/SessionEnrolment.js
  api/src/certification/enrolment/domain/read-models/EnrolledCandidate.js
  api/src/certification/enrolment/domain/usecases/add-candidate-to-session.js
  api/src/certification/enrolment/domain/usecases/candidate-has-seen-certification-instructions.js
  api/src/certification/enrolment/domain/usecases/import-certification-candidates-from-candidates-import-sheet.js
  api/src/certification/enrolment/infrastructure/repositories/candidate-repository.js
  api/src/certification/enrolment/infrastructure/repositories/enrolled-candidate-repository.js
  api/src/shared/application/security-pre-handlers.js
  api/tests/acceptance/application/session/session-controller_test.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-route_test.js
  api/tests/certification/enrolment/acceptance/application/enrolment-route_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/candidate-repository_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/enrolled-candidate-repository_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-controller_test.js
  api/tests/certification/enrolment/unit/application/validator/checkUserIsCandidate_test.js
  api/tests/certification/enrolment/unit/domain/models/Candidate_test.js
  api/tests/certification/enrolment/unit/domain/models/SessionEnrolment_test.js
  api/tests/certification/enrolment/unit/domain/usecases/add-candidate-to-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/candidate-has-seen-certification-instructions_test.js
  api/tests/certification/enrolment/unit/domain/usecases/import-certification-candidates-from-candidates-import-sheet_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/enrolled-candidate-serializer_test.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-enrolled-candidate.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#9788 [TECH] Migrer la duplication des target profiles vers le sous-domaine target-profile (PIX-12951).
  api/lib/application/target-profiles/index.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/domain/usecases/copy-target-profile.js
  api/lib/domain/usecases/create-target-profile.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/target-profile-repository.js
  api/src/prescription/target-profile/application/admin-target-profile-controller.js
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/src/prescription/target-profile/domain/models/TargetProfileForCreation.js
  api/src/prescription/target-profile/domain/usecases/copy-target-profile.js
  api/src/prescription/target-profile/infrastructure/repositories/target-profile-administration-repository.js
  api/src/shared/domain/models/index.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/integration/infrastructure/repositories/target-profile-repository_test.js
  api/tests/prescription/target-profile/acceptance/application/admin-target-profile-route_test.js
  api/tests/prescription/target-profile/integration/domain/usecases/copy-target-profile_test.js
  api/tests/prescription/target-profile/integration/infrastructure/repositories/target-profile-administration-repository_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profile-controller_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profiles-route_test.js
  api/tests/prescription/target-profile/unit/domain/models/TargetProfileForCreation_test.js
  api/tests/prescription/target-profile/unit/domain/usecases/copy-target-profile_test.js
  api/tests/tooling/domain-builder/factory/build-target-profile-for-creation.js
  api/tests/unit/application/target-profiles/index_test.js
  api/tests/unit/domain/usecases/create-target-profile_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#9821 [BUGFIX] Les erreurs de runtime sur le downgrade de capacite ne remonte pas dans le monitoring (PIX-13660).
  api/lib/domain/usecases/get-next-challenge-for-campaign-assessment.js
  api/src/certification/flash-certification/application/scenario-simulator-controller.js
  api/src/certification/flash-certification/application/scenario-simulator-route.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulator.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorSingleMeasureStrategy.js
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithm.js
  api/src/certification/session-management/domain/usecases/get-next-challenge-for-v3-certification.js
  api/src/certification/session-management/domain/usecases/index.js
  api/tests/acceptance/application/scenario-simulator/scenario-simulator-controller_test.js
  api/tests/certification/flash-certification/integration/application/scenario-simulator-controller_test.js
  api/tests/certification/scoring/integration/application/services/scoring-degradation-service_test.js
  api/tests/certification/session-management/unit/domain/usecases/get-next-challenge-for-v3-certification_test.js
  api/tests/certification/shared/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/unit/domain/usecases/simulate-flash-deterministic-assessment-scenario_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#9849 [BUGFIX] Ajout d'une traduction pour le message d'erreur lors de l'inscription à plusieurs certifications complémentaires (PIX-13867)
  certif/tests/integration/components/sessions-import/step-two-section-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#9839 [TECH] Passage de la page de connexion en gjs sur certif (PIX-13856).
  certif/app/components/language-switcher.gjs
  certif/app/components/language-switcher.hbs
  certif/app/components/language-switcher.js
  certif/app/components/login-form.hbs
  certif/app/components/login/form.gjs
  certif/app/components/login/header.gjs
  certif/app/components/login/index.gjs
  certif/app/services/locale.js
  certif/app/templates/login.hbs
  certif/tests/integration/components/auth/toggable-login-form-test.js
  certif/tests/integration/components/language-switcher-test.gjs
  certif/tests/integration/components/language-switcher-test.js
  certif/tests/integration/components/login-test.gjs
  certif/tests/unit/components/language-switcher-test.js
  certif/tests/unit/components/login-form-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#9844 [TECH] Remove bookshelf from certification-report-repository
  api/src/certification/shared/infrastructure/repositories/certification-report-repository.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-report-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, cross-team

#9827 [FEATURE] prend en compte la feature d'import pour la dissociation (PIX-13617)
  api/lib/application/organization-learners/index.js
  api/lib/application/organization-learners/organization-learner-controller.js
  api/lib/infrastructure/repositories/organization-learner-repository.js
  api/lib/routes.js
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/src/prescription/learner-management/application/organization-learners-controller.js
  api/src/prescription/learner-management/application/organization-learners-route.js
  api/src/prescription/learner-management/domain/read-models/OrganizationLearnerForAdmin.js
  api/src/prescription/learner-management/domain/usecases/dissociate-user-from-organization-learner.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/infrastructure/repositories/index.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-feature-repository.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-repository.js
  api/tests/acceptance/application/organization-learners/organization-learner-controller_test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user.repository.test.js
  api/tests/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/learner-management/acceptance/application/organization-learners-route_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-feature-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/learner-management/unit/application/organization-learners-route_test.js
  api/tests/prescription/learner-management/unit/domain/read-models/OrganizationLearnerForAdmin_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/dissociate-user-from-organization-learner_test.js
  api/tests/tooling/domain-builder/factory/build-organization-learner-for-admin.js
  api/tests/unit/application/organization-learners/index_test.js
  api/tests/unit/domain/usecases/dissociate-user-from-organization-learner_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-prescription, cross-team

#9853 [BUGFIX] Affichage d'un deuxième onglet lors du téléchargement d'un document depuis un iPad/iPhone (PIX-13737)
  mon-pix/app/components/challenge-statement.hbs
  mon-pix/tests/integration/components/challenge-statement-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-contenu

#9835 [FEATURE] Afficher les éléments "Download" dans Modulix (PIX-12501)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  mon-pix/app/components/module/details.gjs
  mon-pix/app/components/module/element.gjs
  mon-pix/app/components/module/element/download.gjs
  mon-pix/app/components/module/element/embed.gjs
  mon-pix/app/components/module/element/image.gjs
  mon-pix/app/components/module/element/module-element.js
  mon-pix/app/components/module/element/qcm.hbs
  mon-pix/app/components/module/element/qcu.hbs
  mon-pix/app/components/module/element/qrocm.hbs
  mon-pix/app/components/module/element/video.gjs
  mon-pix/app/components/module/grain.hbs
  mon-pix/app/components/module/grain.js
  mon-pix/app/components/module/passage.hbs
  mon-pix/app/components/module/passage.js
  mon-pix/app/components/module/step.gjs
  mon-pix/app/components/module/stepper.gjs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/module/_download.scss
  mon-pix/app/styles/components/module/_passage.scss
  mon-pix/app/templates/module-preview.hbs
  mon-pix/config/icons.js
  mon-pix/mirage/routes/passages/index.js
  mon-pix/tests/integration/components/module/details-test.gjs
  mon-pix/tests/integration/components/module/download-test.gjs
  mon-pix/tests/integration/components/module/element_test.gjs
  mon-pix/tests/integration/components/module/embed_test.gjs
  mon-pix/tests/integration/components/module/grain_test.gjs
  mon-pix/tests/integration/components/module/image_test.gjs
  mon-pix/tests/integration/components/module/passage_test.gjs
  mon-pix/tests/integration/components/module/qcm-test.js
  mon-pix/tests/integration/components/module/qcu-test.js
  mon-pix/tests/integration/components/module/qrocm-test.js
  mon-pix/tests/integration/components/module/stepper_test.gjs
  mon-pix/tests/integration/components/module/video_test.gjs
  mon-pix/tests/unit/components/module/image_test.gjs
  mon-pix/tests/unit/components/module/video_test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, Func Review OK, Design Review OK, team-devcomp

#9846 [TECH] Amélioration autour du bounded-context "certification/enrolment"
  api/src/certification/enrolment/application/enrolment-controller.js
  api/src/certification/enrolment/application/session-mass-import-controller.js
  api/src/certification/enrolment/domain/models/Center.js
  api/src/certification/enrolment/domain/models/SessionEnrolment.js
  api/src/certification/enrolment/domain/services/certification-candidates-ods-service.js
  api/src/certification/enrolment/domain/usecases/add-candidate-to-session.js
  api/src/certification/enrolment/domain/usecases/create-session.js
  api/src/certification/enrolment/domain/usecases/create-sessions.js
  api/src/certification/enrolment/domain/usecases/enrol-students-to-session.js
  api/src/certification/enrolment/domain/usecases/get-candidate-import-sheet-data.js
  api/src/certification/enrolment/domain/usecases/get-center.js
  api/src/certification/enrolment/domain/usecases/get-certification-candidate-subscription.js
  api/src/certification/enrolment/domain/usecases/get-certification-center.js
  api/src/certification/enrolment/domain/usecases/import-certification-candidates-from-candidates-import-sheet.js
  api/src/certification/enrolment/domain/usecases/index.js
  api/src/certification/enrolment/domain/usecases/update-session.js
  api/src/certification/enrolment/domain/usecases/validate-sessions.js
  api/src/certification/enrolment/infrastructure/files/candidates-import/CandidateData.js
  api/src/certification/enrolment/infrastructure/files/candidates-import/candidates-import-transformation-structures.js
  api/src/certification/enrolment/infrastructure/repositories/center-repository.js
  api/src/certification/enrolment/infrastructure/repositories/session-repository.js
  api/src/shared/infrastructure/serializers/csv/csv-serializer.js
  api/tests/certification/enrolment/acceptance/application/session-mass-import-route_test.js
  api/tests/certification/enrolment/integration/domain/services/certification-candidates-ods-service/certification-candidates-ods-service_test.js
  api/tests/certification/enrolment/integration/infrastructure/ods/files/fill-candidates-import-sheet_test.js
  api/tests/certification/enrolment/integration/infrastructure/ods/read-ods-utils_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/center-repository_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/session-repository_test.js
  api/tests/certification/enrolment/unit/application/enrolment-controller_test.js
  api/tests/certification/enrolment/unit/application/session-mass-import-controller_test.js
  api/tests/certification/enrolment/unit/domain/models/Center_test.js
  api/tests/certification/enrolment/unit/domain/models/SessionEnrolment_test.js
  api/tests/certification/enrolment/unit/domain/usecases/add-candidate-to-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/create-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/create-sessions_test.js
  api/tests/certification/enrolment/unit/domain/usecases/enrol-students-to-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-candidate-import-sheet-data_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-center_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-certification-candidate-subscription_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-certification-center_test.js
  api/tests/certification/enrolment/unit/domain/usecases/import-certification-candidates-from-candidates-import-sheet_test.js
  api/tests/certification/enrolment/unit/domain/usecases/update-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/validate-sessions_test.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-session.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, Bounded-context-migration

#9854 [FEATURE] Avoir les blocs réponses en vert ou rouge sur les QCU
  mon-pix/app/components/module/element/qcu.gjs
  mon-pix/app/components/module/element/qcu.hbs
  mon-pix/app/components/module/element/qcu.js
  mon-pix/tests/integration/components/module/qcu-test.gjs
  mon-pix/tests/unit/components/module/qcu-test.gjs
Labels: :rocket: Ready to Merge, Design Review OK, team-devcomp

#9856 [FEATURE] Avoir les blocs réponses en vert ou rouge sur les QCM (PIX-13878) (PIX-13832)
  mon-pix/app/components/module/element/qcm.gjs
  mon-pix/app/components/module/element/qcm.hbs
  mon-pix/app/components/module/element/qcm.js
  mon-pix/tests/integration/components/module/qcm-test.gjs
  mon-pix/tests/unit/components/module/qcm-test.gjs
Labels: :rocket: Ready to Merge, Design Review OK, team-devcomp

#9848 [TECH] Pouvoir définir la priorité dans les jobs PgBoss
  api/src/shared/infrastructure/jobs/JobPgBoss.js
  api/src/shared/infrastructure/jobs/JobPriority.js
  api/tests/shared/integration/infrastructure/jobs/JobPgBoss_test.js
  api/tests/tooling/jobs/expect-job.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, tech-days-event

#9855 [TECH] Mettre les fichiers css au même endroit que les fichiers de composants (PIX-13307)
  certif/app/components/login-session-supervisor/footer.gjs
  certif/app/components/login-session-supervisor/footer.scss
  certif/app/components/login-session-supervisor/form.gjs
  certif/app/components/login-session-supervisor/form.scss
  certif/app/components/login-session-supervisor/header.gjs
  certif/app/components/login-session-supervisor/header.scss
  certif/app/components/login-session-supervisor/index.gjs
  certif/app/components/login-session-supervisor/index.scss
  certif/app/styles/app.scss
  certif/app/styles/components/login-session-supervisor/form.scss
  certif/app/styles/components/login-session-supervisor/index.scss
  certif/ember-cli-build.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#9840 [TECH] Utiliser directement les Jobs lors du partage des résultats de participation (PIX-13866)
  api/lib/infrastructure/events/EventBusBuilder.js
  api/lib/infrastructure/events/EventHandlerDependenciesBuilder.js
  api/lib/infrastructure/events/subscribers/ScheduleParticipationResultCalculationJob.js
  api/lib/infrastructure/events/subscribers/ScheduleSendSharedParticipationResultsToPoleEmploiJob.js
  api/src/prescription/campaign-participation/application/jobs/participation-result-calculation-job-controller.js
  api/src/prescription/campaign-participation/application/jobs/send-share-participation-results-to-pole-emploi-job-controller.js
  api/src/prescription/campaign-participation/application/learner-participation-controller.js
  api/src/prescription/campaign-participation/domain/models/ParticipationResultCalculationJob.js
  api/src/prescription/campaign-participation/domain/models/SendSharedParticipationResultsToPoleEmploiJob.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/participation-result-calculation-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/send-share-participation-results-to-pole-emploi-job-repository.js
  api/src/shared/infrastructure/jobs/JobPgBoss.js
  api/src/shared/infrastructure/jobs/JobQueue.js
  api/src/shared/infrastructure/jobs/campaign-result/ParticipationResultCalculationJob.js
  api/src/shared/infrastructure/jobs/campaign-result/ParticipationResultCalculationJobHandler.js
  api/src/shared/infrastructure/jobs/campaign-result/SendSharedParticipationResultsToPoleEmploiHandler.js
  api/src/shared/infrastructure/jobs/campaign-result/SendSharedParticipationResultsToPoleEmploiJob.js
  api/src/shared/infrastructure/jobs/monitoring/MonitoredJobHandler.js
  api/tests/prescription/campaign-participation/acceptance/application/learner-participation-route_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-result-calculation-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/send-share-participation-results-to-pole-emploi-job-repository_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-result-calculation-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/send-share-participation-results-to-pole-emploi-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/learner-participation-controller_test.js
  api/tests/shared/integration/infrastructure/jobs/campaign-result/ParticipationResultCalculationJobHandler_test.js
  api/tests/shared/integration/infrastructure/jobs/campaign-result/ParticipationResultCalculationJob_test.js
  api/tests/shared/integration/infrastructure/jobs/campaign-result/SendSharedParticipationResultsToPoleEmploiJob_test.js
  api/tests/shared/unit/infrastructure/jobs/campaign-result/ParticipationResultCalculationJobHandler_test.js
  api/tests/shared/unit/infrastructure/jobs/campaign-result/SendSharedParticipationResultsToPoleEmploiHandler_test.js
  api/tests/unit/infrastructure/events/handlers/ScheduleParticipationResultCalculationJob_test.js
  api/tests/unit/infrastructure/events/handlers/ScheduleSendSharedParticipationResultsToPoleEmploiJob_test.js
  api/worker.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, tech-days-event

#9868 [FEATURE] Ajouter le champ `tabletSupport` dans les métadonnées d'un modue (PIX-13908)
  api/src/devcomp/domain/models/module/Details.js
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/chatgpt-parle-francais.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
  api/tests/devcomp/acceptance/scripts/get-answerable-elements_test.js
  api/tests/devcomp/acceptance/scripts/get-elements_test.js
  api/tests/devcomp/acceptance/scripts/get-modules_test.js
  api/tests/devcomp/acceptance/scripts/get-proposals_test.js
  api/tests/devcomp/integration/repositories/element-repository_test.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
  api/tests/devcomp/unit/domain/models/module/Details_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-validation_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module.js
  api/tests/devcomp/unit/infrastructure/factories/module-factory_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#9857 [TECH] Ajout du tooling pour les tests des Jobs (PIX-13879)
  api/tests/identity-access-management/integration/domain/usecases/anonymize-user.usecase.test.js
  api/tests/prescription/campaign-participation/acceptance/application/learner-participation-route_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-result-calculation-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/send-share-participation-results-to-pole-emploi-job-repository_test.js
  api/tests/shared/integration/infrastructure/jobs/JobPgBoss_test.js
  api/tests/test-helper.js
  api/tests/tooling/jobs/expect-job.js
  api/tests/tooling/jobs/expect-job.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, tech-days-event

#9861 [TECH] PixAdmin - Composant Admin sous gjs (PIX-13882)
  admin/app/components/administration/add-organization-features-in-batch.gjs
  admin/app/components/administration/add-organization-features-in-batch.hbs
  admin/app/components/administration/anonymize-gar-import.gjs
  admin/app/components/administration/anonymize-gar-import.hbs
  admin/app/components/administration/campaigns-import.gjs
  admin/app/components/administration/campaigns-import.hbs
  admin/app/components/administration/learning-content.gjs
  admin/app/components/administration/learning-content.hbs
  admin/app/components/administration/learning-content.js
  admin/app/components/administration/oidc-providers-import.gjs
  admin/app/components/administration/oidc-providers-import.hbs
  admin/app/components/administration/organization-tags-import.gjs
  admin/app/components/administration/organization-tags-import.hbs
  admin/app/components/administration/organizations-import.gjs
  admin/app/components/administration/organizations-import.hbs
  admin/app/components/administration/swap-campaign-codes.gjs
  admin/app/components/administration/swap-campaign-codes.hbs
  admin/app/components/administration/update-campaign-code.gjs
  admin/app/components/administration/update-campaign-code.hbs
  admin/app/components/administration/update-organizations-in-batch.gjs
  admin/app/components/administration/update-organizations-in-batch.hbs
  admin/tests/integration/components/administration/add-organization-features-in-batch-test.gjs
  admin/tests/integration/components/administration/anonymize-gar-import-test.gjs
  admin/tests/integration/components/administration/campaigns-import-test.gjs
  admin/tests/integration/components/administration/oidc-providers-import-test.gjs
  admin/tests/integration/components/administration/organization-tags-import_test.gjs
  admin/tests/integration/components/administration/organizations-import-test.gjs
  admin/tests/integration/components/administration/swap-campaign-codes-test.gjs
  admin/tests/integration/components/administration/update-campaign-code-test.gjs
  admin/tests/integration/components/administration/update-organizations-in-batch-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, tech-days-pix-admin

#9877 [TECH] migrate admin target profiles folder to gjs
  admin/app/components/target-profiles/badge-form.gjs
  admin/app/components/target-profiles/badge-form.hbs
  admin/app/components/target-profiles/badge-form.js
  admin/app/components/target-profiles/badge-form/campaign-criterion.gjs
  admin/app/components/target-profiles/badge-form/campaign-criterion.hbs
  admin/app/components/target-profiles/badge-form/capped-tubes-criterion.gjs
  admin/app/components/target-profiles/badge-form/capped-tubes-criterion.hbs
  admin/app/components/target-profiles/badge-form/criteria.gjs
  admin/app/components/target-profiles/badge-form/criteria.hbs
  admin/app/components/target-profiles/badge-form/criteria.js
  admin/app/components/target-profiles/badges.gjs
  admin/app/components/target-profiles/badges.hbs
  admin/app/components/target-profiles/badges.js
  admin/app/components/target-profiles/category.gjs
  admin/app/components/target-profiles/category.hbs
  admin/app/components/target-profiles/details.gjs
  admin/app/components/target-profiles/details.hbs
  admin/app/components/target-profiles/edit-target-profile-form.gjs
  admin/app/components/target-profiles/edit-target-profile-form.hbs
  admin/app/components/target-profiles/edit-target-profile-form.js
  admin/app/components/target-profiles/insights.gjs
  admin/app/components/target-profiles/insights.hbs
  admin/app/components/target-profiles/list-summary-items.gjs
  admin/app/components/target-profiles/list-summary-items.hbs
  admin/app/components/target-profiles/list-summary-items.js
  admin/app/components/target-profiles/organizations.gjs
  admin/app/components/target-profiles/organizations.hbs
  admin/app/components/target-profiles/pdf-parameters-modal.gjs
  admin/app/components/target-profiles/pdf-parameters-modal.hbs
  admin/app/components/target-profiles/pdf-parameters-modal.js
  admin/app/components/target-profiles/stages.gjs
  admin/app/components/target-profiles/stages.hbs
  admin/app/components/target-profiles/stages/new-stage.gjs
  admin/app/components/target-profiles/stages/new-stage.hbs
  admin/app/components/target-profiles/stages/new-stage.js
  admin/app/components/target-profiles/stages/stage.gjs
  admin/app/components/target-profiles/stages/stage.hbs
  admin/app/components/target-profiles/stages/stage.js
  admin/app/components/target-profiles/target-profile.gjs
  admin/app/components/target-profiles/target-profile.hbs
  admin/app/components/target-profiles/target-profile.js
  admin/app/components/target-profiles/training-summaries.gjs
  admin/app/components/target-profiles/training-summaries.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, tech-days-pix-admin

#9871 [TECH] Déplacer l'évènement démarrage d'une campagne Pole Emploi dans pgboss (PIX-13916)
  api/lib/domain/events/handle-pole-emploi-participation-started.js
  api/lib/domain/events/index.js
  api/src/prescription/campaign-participation/application/jobs/pole-emploi-participation-started-job-controller.js
  api/src/prescription/campaign-participation/application/learner-participation-controller.js
  api/src/prescription/campaign-participation/domain/models/PoleEmploiParticipationStartedJob.js
  api/src/prescription/campaign-participation/domain/usecases/index.js
  api/src/prescription/campaign-participation/domain/usecases/start-campaign-participation.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/pole-emploi-participation-started-job-repository.js
  api/tests/integration/domain/event/handle-pole-emploi-participation-started_test.js
  api/tests/prescription/campaign-participation/integration/application/jobs/pole-emploi-participation-started-job-controller_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/pole-emploi-participation-started-job-repository_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/pole-emploi-participation-started-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/learner-participation-controller_test.js
  api/tests/prescription/campaign-participation/unit/domain/usecases/start-campaign-participation_test.js
  api/tests/unit/domain/events/event-choreography-pole-emploi-participation-started_test.js
  api/worker.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, tech-days-evenementiel

#9875 [TECH] Migrer les composants du dossier admin/campaigns en gjs (PIX-13889)
  admin/app/components/campaigns/participation-row.gjs
  admin/app/components/campaigns/participation-row.hbs
  admin/app/components/campaigns/participation-row.js
  admin/app/components/campaigns/participations-section.gjs
  admin/app/components/campaigns/participations-section.hbs
  admin/app/components/campaigns/participations-section.js
  admin/app/components/campaigns/update.gjs
  admin/app/components/campaigns/update.hbs
  admin/app/components/campaigns/update.js
  admin/app/components/ui/pix-fieldset.gjs
  admin/app/components/ui/pix-fieldset.hbs
  admin/tests/integration/components/campaigns/participation-row-test.gjs
  admin/tests/integration/components/campaigns/participations-section-test.gjs
Labels: :rocket: Ready to Merge, cross-team, tech-days-pix-admin

#9863 [TECH] Supprimer l'événement AssessmentCompleted (PIX-13926).
  api/lib/domain/events/AssessmentCompleted.js
  api/lib/domain/events/CertificationCompleted.js
  api/lib/domain/events/handle-certification-scoring.js
  api/lib/domain/events/handle-pole-emploi-participation-finished.js
  api/lib/domain/events/index.js
  api/lib/domain/usecases/complete-assessment.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/jobs/certification-completed-job-repository.js
  api/src/certification/scoring/application/jobs/certification-completed-job-controller.js
  api/src/prescription/campaign-participation/application/jobs/pole-emploi-participation-completed-job-controller.js
  api/src/prescription/campaign-participation/domain/models/PoleEmploiParticipationCompletedJob.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/pole-emploi-participation-completed-job-repository.js
  api/src/shared/application/assessments/assessment-controller.js
  api/tests/certification/scoring/integration/application/jobs/certification-completed-job-controller_test.js
  api/tests/certification/scoring/unit/application/jobs/certification-completed-job-controller_test.js
  api/tests/certification/session-management/acceptance/application/downgrade-capacity_test.js
  api/tests/certification/shared/unit/domain/services/scoring-certification-service_test.js
  api/tests/integration/domain/usecases/complete-assessment_test.js
  api/tests/integration/infrastructure/repositories/jobs/certification-completed-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/application/jobs/pole-emploi-participation-completed-job-controller_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/pole-emploi-participation-completed-job-repository_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/campaign-participation-completed-job-controller_test.js
  api/tests/shared/unit/application/assessments/assessment-controller_test.js
  api/tests/unit/domain/events/AssessmentCompleted_test.js
  api/tests/unit/domain/events/event-choreography-pole-emploi-participation-finished_test.js
  api/tests/unit/domain/events/event-choreography-score-certification_test.js
  api/tests/unit/domain/events/event-choreography-score-pix-plus-certification_test.js
  api/tests/unit/domain/usecases/complete-assessment_test.js
  api/tests/unit/worker_test.js
  api/worker.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, team-prescription, cross-team, tech-days-evenementiel

#9829 [FEATURE] Permettre l'inscription individuelle d'un candidat en respectant les nouvelles règles d'inscription en certification (compatibilité coeur/complémentaire) (PIX-11903)
  api/lib/infrastructure/serializers/jsonapi/certification-point-of-contact-serializer.js
  api/src/certification/enrolment/application/certification-candidate-route.js
  api/src/certification/enrolment/application/enrolment-controller.js
  api/src/certification/enrolment/domain/models/Candidate.js
  api/src/certification/enrolment/domain/models/Center.js
  api/src/certification/enrolment/domain/services/certification-candidates-ods-service.js
  api/src/certification/enrolment/domain/usecases/add-candidate-to-session.js
  api/src/certification/enrolment/domain/validators/candidate-validator.js
  api/src/certification/enrolment/infrastructure/serializers/candidate-serializer.js
  api/src/shared/config.js
  api/tests/acceptance/application/certification-point-of-contacts/certification-point-of-contact-controller_test.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-controller-post-certification-candidate_test.js
  api/tests/certification/enrolment/acceptance/application/enrolment-route_test.js
  api/tests/certification/enrolment/integration/domain/services/certification-candidates-ods-service/certification-candidates-ods-service_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-route_test.js
  api/tests/certification/enrolment/unit/domain/models/Candidate_test.js
  api/tests/certification/enrolment/unit/domain/models/Center_test.js
  api/tests/certification/enrolment/unit/domain/usecases/add-candidate-to-session_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/candidate-serializer_test.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-point-of-contact-serializer_test.js
  certif/app/adapters/certification-candidate.js
  certif/app/components/enrolled-candidates.js
  certif/app/components/new-candidate-modal/complementary-list.gjs
  certif/app/components/new-candidate-modal/complementary-with-referential.gjs
  certif/app/components/new-candidate-modal/index.gjs
  certif/app/models/allowed-certification-center-access.js
  certif/app/models/certification-candidate.js
  certif/app/models/feature-toggle.js
  certif/app/serializers/certification-candidate.js
  certif/mirage/config.js
  certif/tests/acceptance/session-add-candidate-test.js
  certif/tests/acceptance/session-details-certification-candidates-test.js
  certif/tests/integration/components/certification-candidate-details-modal/index-test.gjs
  certif/tests/integration/components/enrolled-candidates-test.js
  certif/tests/integration/components/new-candidate-modal/index_test.gjs
  certif/tests/unit/components/enrolled-candidates-test.js
  certif/tests/unit/components/new-candidate-modal/index-test.js
  certif/tests/unit/models/allowed-certification-center-access-test.js
  certif/tests/unit/serializers/certification-candidate-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#9852 [TECH] Remove Bookshelf from membership repository
  api/lib/infrastructure/repositories/membership-repository.js
  api/src/shared/infrastructure/repositories/membership-repository.js
  api/tests/integration/infrastructure/repositories/membership-repository_test.js
Labels: :rocket: Ready to Merge, team-acces, cross-team

#9883 [TECH] Migration du dossier certification-centers en gjs (PIX-13890)
  admin/app/components/certification-centers/certification-center-form.scss
  admin/app/components/certification-centers/creation-form.gjs
  admin/app/components/certification-centers/creation-form.hbs
  admin/app/components/certification-centers/creation-form.js
  admin/app/components/certification-centers/habilitation-tag.gjs
  admin/app/components/certification-centers/habilitation-tag/index.hbs
  admin/app/components/certification-centers/information-edit.gjs
  admin/app/components/certification-centers/information-edit.hbs
  admin/app/components/certification-centers/information-edit.js
  admin/app/components/certification-centers/information-view.gjs
  admin/app/components/certification-centers/information-view.hbs
  admin/app/components/certification-centers/information-view.js
  admin/app/components/certification-centers/information.gjs
  admin/app/components/certification-centers/information.hbs
  admin/app/components/certification-centers/information.js
  admin/app/components/certification-centers/information.scss
  admin/app/components/certification-centers/invitations-action.gjs
  admin/app/components/certification-centers/invitations-action.hbs
  admin/app/components/certification-centers/invitations-action.js
  admin/app/components/certification-centers/invitations-action.scss
  admin/app/components/certification-centers/invitations.gjs
  admin/app/components/certification-centers/invitations.hbs
  admin/app/components/certification-centers/invitations.js
  admin/app/components/certification-centers/list-items.gjs
  admin/app/components/certification-centers/list-items.hbs
  admin/app/components/certification-centers/list-items.js
  admin/app/components/certification-centers/member-item.scss
  admin/app/components/certification-centers/membership-item-actions.gjs
  admin/app/components/certification-centers/membership-item-actions.hbs
  admin/app/components/certification-centers/membership-item-role.gjs
  admin/app/components/certification-centers/membership-item-role.hbs
  admin/app/components/certification-centers/membership-item-role.js
  admin/app/components/certification-centers/membership-item.gjs
  admin/app/components/certification-centers/membership-item.hbs
  admin/app/components/certification-centers/membership-item.js
  admin/app/components/certification-centers/membership-item.scss
  admin/app/components/certification-centers/memberships-section.gjs
  admin/app/components/certification-centers/memberships-section.hbs
  admin/app/styles/app.scss
  admin/ember-cli-build.js
  admin/tests/integration/components/certification-centers/creation-form-test.gjs
  admin/tests/integration/components/certification-centers/information-view-test.gjs
  admin/tests/integration/components/certification-centers/invitations-action-test.gjs
  admin/tests/integration/components/certification-centers/invitations-test.gjs
  admin/tests/integration/components/certification-centers/membership-item-actions-test.gjs
  admin/tests/integration/components/certification-centers/membership-item-role-test.gjs
  admin/tests/integration/components/certification-centers/membership-item-test.gjs
  admin/tests/integration/components/certification-centers/memberships-section-test.gjs
  admin/tests/unit/components/certification-centers/habilitation-tag/index-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, tech-days-pix-admin

#9841 [FEATURE] Ajout d'une API interne pour récupérer les prescrits et leurs participations (PIX-13815).
  api/lib/infrastructure/repositories/campaign-participation-overview-repository.js
  api/lib/infrastructure/repositories/organization-learner-repository.js
  api/src/prescription/organization-learner/application/api/organization-learners-with-participations-api.js
  api/src/prescription/organization-learner/application/api/read-models/OrganizationLearnerWithParticipations.js
  api/src/prescription/organization-learner/domain/usecases/find-organization-learners-with-participations.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/src/shared/infrastructure/repositories/organization-repository.js
  api/tests/prescription/organization-learner/integration/domain/usecases/find-organization-learners-with-participations_test.js
  api/tests/prescription/organization-learner/unit/application/api/models/OrganizationLearnerWithParticipations_test.js
  api/tests/prescription/organization-learner/unit/application/api/organization-learners-with-participations-api_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-organization-learners-with-participations_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-participation-overview.js
  api/tests/tooling/domain-builder/factory/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, team-prescription

#9888 [TECH] PixAdmin - Composants tools sous gjs (PIX-13903)
  admin/app/components/tools/new-tag.gjs
  admin/app/components/tools/new-tag.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, tech-days-pix-admin

#9886 [TECH] PixAdmin - Composants Stages sous gjs (PIX-13892)
  admin/app/components/stages/stage-level-select.gjs
  admin/app/components/stages/stage-level-select.hbs
  admin/app/components/stages/stage-level-select.js
  admin/app/components/stages/stage.gjs
  admin/app/components/stages/stage.hbs
  admin/app/components/stages/stage.js
  admin/app/components/stages/update-stage.gjs
  admin/app/components/stages/update-stage.hbs
  admin/app/components/stages/update-stage.js
  admin/app/components/stages/view-stage.gjs
  admin/app/components/stages/view-stage.hbs
  admin/tests/integration/components/stages/stage-test.gjs
  admin/tests/integration/components/stages/stage-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, tech-days-pix-admin

#9884 [TECH] Migrer les composants du dossier sessions en gjs (PIX-13895)
  admin/app/components/sessions/jury-comment.gjs
  admin/app/components/sessions/jury-comment.hbs
  admin/app/components/sessions/jury-comment.js
  admin/app/components/sessions/list-items.gjs
  admin/app/components/sessions/list-items.hbs
  admin/app/components/sessions/list-items.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, tech-days-pix-admin

#9822 [FEATURE] Afficher le besoin d'une certification aménagée dans les détails des candidats (PIX-13294)
  api/db/seeds/data/team-certification/data-builder.js
  api/src/certification/enrolment/domain/read-models/EnrolledCandidate.js
  api/src/certification/enrolment/infrastructure/serializers/enrolled-candidate-serializer.js
  api/tests/acceptance/application/session/session-controller_test.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-route_test.js
  api/tests/certification/enrolment/acceptance/application/enrolment-route_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/enrolled-candidate-repository_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-controller_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/enrolled-candidate-serializer_test.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-enrolled-candidate.js
  certif/app/components/enrolled-candidates.hbs
  certif/app/components/enrolled-candidates.js
  certif/app/models/certification-candidate.js
  certif/app/models/feature-toggle.js
  certif/app/serializers/certification-candidate.js
  certif/app/styles/pages/authenticated/sessions/details/certification-candidates.scss
  certif/mirage/factories/certification-candidate.js
  certif/tests/acceptance/session-details-certification-candidates-test.js
  certif/tests/integration/components/enrolled-candidates-test.js
  certif/tests/unit/models/certification-candidate-test.js
  certif/tests/unit/serializers/certification-candidate-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, Func Review OK, team-certif, Design Review OK

#9866 [FEATURE] Ajouter un avertissement dans la page d'invitation des membres (PIX-12917)
  orga/app/styles/pages/authenticated/team/new.scss
  orga/app/templates/authenticated/team/new.hbs
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9898 [TECH] Retirer le tag deprecated de la route d'inscription de candidat.
  api/src/certification/enrolment/application/certification-candidate-route.js
Labels: :rocket: Ready to Merge, team-certif, no-review-app

#9878 [TECH] PixAdmin - Composant complementary-certifications sous gjs (PIX-13893).
  admin/app/components/complementary-certifications/attach-badges/badges/header.gjs
  admin/app/components/complementary-certifications/attach-badges/badges/header.hbs
  admin/app/components/complementary-certifications/attach-badges/badges/index.gjs
  admin/app/components/complementary-certifications/attach-badges/badges/index.hbs
  admin/app/components/complementary-certifications/attach-badges/badges/list.gjs
  admin/app/components/complementary-certifications/attach-badges/badges/list.hbs
  admin/app/components/complementary-certifications/attach-badges/badges/list.js
  admin/app/components/complementary-certifications/attach-badges/badges/row.gjs
  admin/app/components/complementary-certifications/attach-badges/badges/row.hbs
  admin/app/components/complementary-certifications/attach-badges/index.gjs
  admin/app/components/complementary-certifications/attach-badges/index.hbs
  admin/app/components/complementary-certifications/attach-badges/target-profile-selector/index.gjs
  admin/app/components/complementary-certifications/attach-badges/target-profile-selector/index.hbs
  admin/app/components/complementary-certifications/attach-badges/target-profile-selector/searchbar.gjs
  admin/app/components/complementary-certifications/attach-badges/target-profile-selector/searchbar.hbs
  admin/app/components/complementary-certifications/attach-badges/target-profile-selector/searchbar.js
  admin/app/components/complementary-certifications/attach-badges/target-profile-selector/selected-target-profile.gjs
  admin/app/components/complementary-certifications/attach-badges/target-profile-selector/selected-target-profile.hbs
  admin/app/components/complementary-certifications/common/link-to-current-target-profile.gjs
  admin/app/components/complementary-certifications/common/link-to-current-target-profile.hbs
  admin/app/components/complementary-certifications/header.gjs
  admin/app/components/complementary-certifications/header.hbs
  admin/app/components/complementary-certifications/list.gjs
  admin/app/components/complementary-certifications/list.hbs
  admin/app/components/complementary-certifications/list.js
  admin/app/components/complementary-certifications/target-profiles/badges-list.gjs
  admin/app/components/complementary-certifications/target-profiles/badges-list.hbs
  admin/app/components/complementary-certifications/target-profiles/badges-list.js
  admin/app/components/complementary-certifications/target-profiles/history.gjs
  admin/app/components/complementary-certifications/target-profiles/history.hbs
  admin/app/components/complementary-certifications/target-profiles/information.gjs
  admin/app/components/complementary-certifications/target-profiles/information.hbs
  admin/app/components/complementary-certifications/target-profiles/information.js
  admin/tests/integration/components/complementary-certifications/attach-form/badges/header-test.gjs
  admin/tests/integration/components/complementary-certifications/attach-form/badges/index-test.gjs
  admin/tests/integration/components/complementary-certifications/attach-form/badges/list-test.gjs
  admin/tests/integration/components/complementary-certifications/attach-form/target-profile-selector/index-test.gjs
  admin/tests/integration/components/complementary-certifications/attach-form/target-profile-selector/searchbar-test.gjs
  admin/tests/integration/components/complementary-certifications/attach-form/target-profile-selector/selected-target-profile-test.gjs
  admin/tests/integration/components/complementary-certifications/attach-form/target-profile-selector/selected-target-profile-test.js
  admin/tests/integration/components/complementary-certifications/common/link-to-current-target-profile-test.gjs
  admin/tests/integration/components/complementary-certifications/target-profiles/badges-list-test.gjs
  admin/tests/integration/components/complementary-certifications/target-profiles/history-test.gjs
  admin/tests/integration/components/complementary-certifications/target-profiles/information-test.gjs
Labels: :rocket: Ready to Merge, Func Review OK, cross-team, tech-days-pix-admin

#9892 [FEATURE] Afficher une image ou vidéo d'introduction (Pix-13631)
  api/src/school/domain/models/Mission.js
  api/src/school/infrastructure/repositories/mission-repository.js
  api/src/school/infrastructure/serializers/mission-serializer.js
  api/tests/school/integration/application/mission-controller_test.js
  api/tests/school/integration/infrastructure/repositories/mission-repository_test.js
  junior/app/components/challenge/challenge-illustration/component.js
  junior/app/components/challenge/challenge-illustration/template.hbs
  junior/app/components/challenge/challenge-media.gjs
  junior/app/components/challenge/item/template.hbs
  junior/app/controllers/identified/missions/mission/index.js
  junior/app/models/mission.js
  junior/app/router.js
  junior/app/routes/assessment/resume.js
  junior/app/routes/identified/missions/mission.js
  junior/app/routes/identified/missions/mission/introduction.js
  junior/app/routes/identified/missions/mission/resume.js
  junior/app/styles/app.scss
  junior/app/styles/components/challenge/challenge-media.scss
  junior/app/styles/globals/_buttons.scss
  junior/app/styles/pages/identified/missions/introduction.scss
  junior/app/styles/pages/identified/missions/mission.scss
  junior/app/templates/identified/missions/mission/index.hbs
  junior/app/templates/identified/missions/mission/introduction.hbs
  junior/config/icons.js
  junior/tests/acceptance/start-mission-test.js
  junior/tests/integration/challenge-media_test.gjs
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9889 [TECH] Migrer le composant list-items en gjs (PIX-13902)
  admin/app/components/to-be-published-sessions/list-items.gjs
  admin/app/components/to-be-published-sessions/list-items.hbs
  admin/app/components/to-be-published-sessions/list-items.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, tech-days-pix-admin

#9885 [TECH] Migrer les fichiers de test des components "target profiles" en GJS
  admin/tests/integration/components/target-profiles/badge-form-test.gjs
  admin/tests/integration/components/target-profiles/badges-test.gjs
  admin/tests/integration/components/target-profiles/category-test.gjs
  admin/tests/integration/components/target-profiles/copy-modal-test.gjs
  admin/tests/integration/components/target-profiles/edit-target-profile-form-test.gjs
  admin/tests/integration/components/target-profiles/list-summary-items-test.gjs
  admin/tests/integration/components/target-profiles/organizations-test.gjs
  admin/tests/integration/components/target-profiles/stages-test.gjs
  admin/tests/integration/components/target-profiles/target-profile-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, tech-days-pix-admin

#9860 [TECH] Migration du usecase permettant d'associer un utilisateur à un candidat inscrit en certification (PIX-13808)
  api/lib/application/sessions/index.js
  api/lib/application/sessions/session-controller.js
  api/lib/domain/events/UserAlreadyLinkedToCertificationCandidate.js
  api/lib/domain/events/UserLinkedToCertificationCandidate.js
  api/lib/domain/usecases/get-certification-candidate.js
  api/lib/domain/usecases/link-user-to-session-certification-candidate.js
  api/lib/infrastructure/repositories/organization-learner-repository.js
  api/src/certification/enrolment/application/session-controller.js
  api/src/certification/enrolment/application/session-route.js
  api/src/certification/enrolment/domain/models/Candidate.js
  api/src/certification/enrolment/domain/models/Center.js
  api/src/certification/enrolment/domain/models/SessionEnrolment.js
  api/src/certification/enrolment/domain/models/User.js
  api/src/certification/enrolment/domain/usecases/enrol-students-to-session.js
  api/src/certification/enrolment/domain/usecases/index.js
  api/src/certification/enrolment/domain/usecases/link-user-to-candidate.js
  api/src/certification/enrolment/domain/validators/center-validator.js
  api/src/certification/enrolment/infrastructure/repositories/center-repository.js
  api/src/certification/enrolment/infrastructure/repositories/certification-candidate-repository.js
  api/src/certification/enrolment/infrastructure/repositories/index.js
  api/src/certification/enrolment/infrastructure/repositories/user-repository.js
  api/src/certification/enrolment/infrastructure/serializers/enrolled-candidate-serializer.js
  api/src/shared/domain/errors.js
  api/src/shared/domain/models/CertificationCandidate.js
  api/src/shared/infrastructure/orm-models/CertificationCandidate.js
  api/src/shared/infrastructure/orm-models/CertificationCourse.js
  api/src/shared/infrastructure/orm-models/Session.js
  api/src/shared/infrastructure/repositories/organization-repository.js
  api/tests/acceptance/application/session/session-controller-create-certification-candidate-participation_test.js
  api/tests/certification/enrolment/acceptance/application/session-route_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/center-repository_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/certification-candidate-repository_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/user-repository_test.js
  api/tests/certification/enrolment/unit/application/session-route_test.js
  api/tests/certification/enrolment/unit/domain/models/Candidate_test.js
  api/tests/certification/enrolment/unit/domain/models/Center_test.js
  api/tests/certification/enrolment/unit/domain/models/SessionEnrolment_test.js
  api/tests/certification/enrolment/unit/domain/usecases/enrol-students-to-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/link-user-to-candidate_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/enrolled-candidate-serializer_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-course-repository_test.js
  api/tests/identity-access-management/unit/domain/models/User.test.js
  api/tests/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/integration/infrastructure/repositories/organization-repository_test.js
  api/tests/tooling/domain-builder/factory/build-center.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-user.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/application/session/index_test.js
  api/tests/unit/application/session/session-controller_test.js
  api/tests/unit/domain/errors_test.js
  api/tests/unit/domain/models/CertificationCandidate_test.js
  api/tests/unit/domain/usecases/get-certification-candidate_test.js
  api/tests/unit/domain/usecases/link-user-to-session-certification-candidate_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif, Bounded-context-migration

#9897 [FEATURE] Update clés de trad pour réconciliation SCO FWB (PIX-13943)
  mon-pix/translations/es.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-certif, team-evaluation, team-prescription

#9904 [TECH] Ajout d'un mécanisme de regroupement des jobs (PIX-13954)
  api/src/shared/application/jobs/job-controller.js
  api/src/shared/infrastructure/jobs/JobQueue.js
  api/tests/shared/integration/infrastructure/jobs/JobQueue_test.js
  api/tests/shared/unit/application/jobs/job-controller_test.js
  api/tests/unit/worker_test.js
  api/worker.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, tech-days-evenementiel

#9887 [TECH] Renommer le job de l'état shared d'une participation à Pole Emploi pour être ISO par rapport aux autres job (PIX-13938)
  api/lib/domain/events/CampaignParticipationResultsShared.js
  api/lib/domain/usecases/complete-assessment.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/events/subscribers/LogEvent.js
  api/src/prescription/campaign-participation/application/jobs/participation-completed-job-controller.js
  api/src/prescription/campaign-participation/application/jobs/participation-shared-job-controller.js
  api/src/prescription/campaign-participation/application/jobs/participation-started-job-controller.js
  api/src/prescription/campaign-participation/application/jobs/send-share-participation-results-to-pole-emploi-job-controller.js
  api/src/prescription/campaign-participation/application/learner-participation-controller.js
  api/src/prescription/campaign-participation/domain/models/ParticipationCompletedJob.js
  api/src/prescription/campaign-participation/domain/models/ParticipationSharedJob.js
  api/src/prescription/campaign-participation/domain/models/ParticipationStartedJob.js
  api/src/prescription/campaign-participation/domain/usecases/index.js
  api/src/prescription/campaign-participation/domain/usecases/share-campaign-result.js
  api/src/prescription/campaign-participation/domain/usecases/start-campaign-participation.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/participation-completed-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/participation-shared-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/participation-started-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/pole-emploi-participation-completed-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/pole-emploi-participation-started-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/send-share-participation-results-to-pole-emploi-job-repository.js
  api/tests/integration/domain/usecases/complete-assessment_test.js
  api/tests/prescription/campaign-participation/acceptance/application/learner-participation-route_test.js
  api/tests/prescription/campaign-participation/integration/application/jobs/participation-completed-job-controller_test.js
  api/tests/prescription/campaign-participation/integration/application/jobs/participation-started-job-controller_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-completed-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-shared-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-started-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/pole-emploi-participation-completed-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/pole-emploi-participation-started-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/send-share-participation-results-to-pole-emploi-job-repository_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-completed-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-shared-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-started-job-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/learner-participation-controller_test.js
  api/tests/prescription/campaign-participation/unit/domain/usecases/share-campaign-result_test.js
  api/tests/prescription/campaign-participation/unit/domain/usecases/start-campaign-participation_test.js
  api/tests/unit/domain/usecases/complete-assessment_test.js
  api/tests/unit/infrastructure/events/handlers/LogEvent_test.js
  api/worker.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, tech-days-evenementiel

#9820 [TECH] Suppression de polyfills Intl (PIX-13595)
  admin/package-lock.json
  admin/package.json
  certif/package-lock.json
  certif/package.json
  mon-pix/app/app.js
  mon-pix/ember-cli-build.js
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/app/app.js
  orga/package-lock.json
  orga/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-evaluation, team-prescription

#9876 [FEATURE] Le script d'anonymisation ne necessite pas d'admin pour anonymiser (PIX-13798)
  api/lib/domain/usecases/anonymize-user.js
  api/src/identity-access-management/scripts/backfill-anonymized-users.js
  api/tests/identity-access-management/acceptance/scripts/backfill-anonymized-users.script.test.js
  api/tests/identity-access-management/integration/domain/usecases/anonymize-user.usecase.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9882 [FEATURE] Réorganiser la page Administration en créant 2 nouveaux onglets et déplacer les fonctionnalités
  admin/app/router.js
  admin/app/templates/authenticated/administration.hbs
  admin/app/templates/authenticated/administration/access.hbs
  admin/app/templates/authenticated/administration/common.hbs
  admin/app/templates/authenticated/administration/deployment.hbs
  admin/tests/acceptance/administration-test.js
  admin/translations/en.json
  admin/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9847 [TECH] Utiliser le nouveau format de config ESLint sur mon-pix
  mon-pix/.eslintignore
  mon-pix/.eslintrc.cjs
  mon-pix/eslint.config.cjs
  mon-pix/package-lock.json
  mon-pix/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, no-review-app

#9903 [BUGFIX] Un candidat inscrit en certification dans une session, dont le centre est isV3Pilot et complementaryAlone mais sans habilitations, est en échec (PIX-13950)
  certif/app/components/enrolled-candidates.js
  certif/app/components/new-candidate-modal/index.gjs
  certif/tests/acceptance/session-add-candidate-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#9902 [FEATURE] Rendre la création de sessions en masse fonctionnel avec la compatibilité coeur/complémentaire (PIX-13654)
  api/src/certification/enrolment/application/session-mass-import-controller.js
  api/src/certification/enrolment/domain/services/sessions-import-validation-service.js
  api/src/certification/enrolment/domain/usecases/validate-sessions.js
  api/src/shared/infrastructure/serializers/csv/csv-serializer.js
  api/tests/certification/enrolment/unit/domain/services/sessions-import-validation-service_test.js
  api/tests/certification/enrolment/unit/domain/usecases/validate-sessions_test.js
  api/tests/shared/unit/infrastructure/serializers/csv/csv-serializer_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#9908 [BUGFIX] Jeter une erreur si le candidat n'existe pas lors de la suppression de ce dernier sur Pix Certif (PIX-13961).
  api/src/certification/enrolment/domain/usecases/delete-unlinked-certification-candidate.js
  api/tests/certification/session-management/unit/domain/usecases/delete-unlinked-certification-candidate_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#9893 [FEATURE] Accompagner l'utilisateur mobile si son expérience risque d'être dégradée (PIX-13746)
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module.js
  mon-pix/app/breakpoints.js
  mon-pix/app/components/common/responsive-ul-wide-wrap.gjs
  mon-pix/app/components/module/details.gjs
  mon-pix/app/components/module/element/download.gjs
  mon-pix/app/controllers/module-preview.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/common/_responsive-list-wide-wrap.scss
  mon-pix/app/styles/components/module/_details.scss
  mon-pix/app/styles/components/module/_download.scss
  mon-pix/tests/acceptance/module/navigate-into-the-module-details-test.js
  mon-pix/tests/acceptance/module/retake_completed_module-test.js
  mon-pix/tests/acceptance/module/visit-module-recap-page-test.js
  mon-pix/tests/integration/components/module/details-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, Func Review OK, team-devcomp

#9879 [TECH] Revue de la gestion de l'evenement SessionFinalized (PIX-13922).
  api/lib/domain/events/index.js
  api/scripts/certification/launch-auto-jury-for-session.js
  api/scripts/certification/trigger-autojury-on-finalized-sessions.js
  api/src/certification/session-management/application/finalize-controller.js
  api/src/certification/session-management/domain/read-models/SessionFinalized.js
  api/src/certification/session-management/domain/usecases/finalize-session.js
  api/src/certification/session-management/domain/usecases/process-auto-jury.js
  api/src/certification/session-management/infrastructure/repositories/session-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-assessment-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-issue-report-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-report-repository.js
  api/tests/certification/session-management/acceptance/application/finalize-route_test.js
  api/tests/certification/session-management/unit/application/finalize-controller_test.js
  api/tests/certification/session-management/unit/domain/usecases/finalize-session_test.js
  api/tests/certification/session-management/unit/domain/usecases/process-auto-jury_test.js
  api/tests/unit/domain/events/event-choreography-finalized-session_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, tech-days-evenementiel

#9909 [TECH] Surcharger les propriétés teamConcurrency et teamSize (PIX-13964)
  api/src/prescription/learner-management/application/jobs/import-organization-learners-job-controller.js
  api/src/prescription/learner-management/application/jobs/validate-organization-learners-import-file-job-controller.js
  api/src/shared/application/jobs/job-controller.js
  api/src/shared/infrastructure/jobs/JobQueue.js
  api/tests/prescription/learner-management/unit/application/jobs/import-organization-learners-job-controller_test.js
  api/tests/prescription/learner-management/unit/application/jobs/validate-organization-learners-import-file-job-controller_test.js
  api/tests/shared/integration/infrastructure/jobs/JobQueue_test.js
  api/worker.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, tech-days-evenementiel

#9914 [BUGFIX] Empêche les jobs de validation d'échouer pour des erreurs métiers (PIX-13956)
  api/src/prescription/learner-management/domain/usecases/validate-siecle-xml-file.js
  api/tests/prescription/learner-management/unit/domain/usecases/validate-siecle-xml-file_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, team-captains

#9913 [TECH] Ajouter une liste de configuration définit pour les retry et expireIn (PIX-13965)
  api/lib/infrastructure/repositories/jobs/certification-completed-job-repository.js
  api/lib/infrastructure/repositories/jobs/user-anonymized-event-logging-job-repository.js
  api/src/identity-access-management/infrastructure/repositories/jobs/gar-anonymized-batch-events-logging-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/participation-completed-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/participation-result-calculation-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/participation-shared-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/participation-started-job-repository.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/compute-certificability-job-repository.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/import-organization-learners-job-repository.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/validate-organization-learners-import-file-job-repository.js
  api/src/shared/infrastructure/repositories/jobs/job-repository.js
  api/src/shared/infrastructure/repositories/jobs/lcms-refresh-cache-job-repository.js
  api/tests/certification/session-management/integration/infrastructure/repositories/jobs/certification-rescoring-by-script-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-completed-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-result-calculation-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-shared-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-started-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/validate-organization-learners-import-file-job-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/jobs/job-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, tech-days-evenementiel

#9907 [FEATURE] Réduire la taille du textarea de la Preview Modulix (PIX-13955)
  mon-pix/app/components/module/module-preview.gjs
  mon-pix/app/routes/module-preview.js
  mon-pix/app/styles/pages/_module-preview.scss
  mon-pix/app/templates/module-preview.hbs
Labels: :rocket: Ready to Merge, team-devcomp

#9920 [TECH] Logger les id de transaction et erreurs des requêtes d'insertion de certification-courses et certification-challenges
  api/src/certification/shared/infrastructure/repositories/certification-challenge-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, team-captains

#9910 [TECH] Améliorer la page administration/common (PIX-13962)
  admin/app/components/administration/access/anonymize-gar-import.gjs
  admin/app/components/administration/access/index.gjs
  admin/app/components/administration/access/oidc-providers-import.gjs
  admin/app/components/administration/block-layout.gjs
  admin/app/components/administration/campaigns/campaigns-import.gjs
  admin/app/components/administration/campaigns/index.gjs
  admin/app/components/administration/campaigns/swap-campaign-codes.gjs
  admin/app/components/administration/campaigns/update-campaign-code.gjs
  admin/app/components/administration/certification/certification-scoring-configuration.gjs
  admin/app/components/administration/certification/competence-scoring-configuration.gjs
  admin/app/components/administration/certification/flash-algorithm-configuration/index.gjs
  admin/app/components/administration/certification/scoring-simulator.gjs
  admin/app/components/administration/common/add-organization-features-in-batch.gjs
  admin/app/components/administration/common/index.gjs
  admin/app/components/administration/common/learning-content.gjs
  admin/app/components/administration/deployment/index.gjs
  admin/app/components/administration/deployment/new-tag.gjs
  admin/app/components/administration/deployment/organization-tags-import.gjs
  admin/app/components/administration/deployment/organizations-import.gjs
  admin/app/components/administration/deployment/update-organizations-in-batch.gjs
  admin/app/components/administration/index.gjs
  admin/app/components/administration/nav.gjs
  admin/app/router.js
  admin/app/templates/authenticated/administration.hbs
  admin/app/templates/authenticated/administration/access.hbs
  admin/app/templates/authenticated/administration/campaigns.hbs
  admin/app/templates/authenticated/administration/common.hbs
  admin/app/templates/authenticated/administration/deployment.hbs
  admin/tests/integration/components/administration/access/anonymize-gar-import-test.gjs
  admin/tests/integration/components/administration/access/oidc-providers-import-test.gjs
  admin/tests/integration/components/administration/campaigns/campaigns-import-test.gjs
  admin/tests/integration/components/administration/campaigns/swap-campaign-codes-test.gjs
  admin/tests/integration/components/administration/campaigns/update-campaign-code-test.gjs
  admin/tests/integration/components/administration/common/add-organization-features-in-batch-test.gjs
  admin/tests/integration/components/administration/deployment/organization-tags-import_test.gjs
  admin/tests/integration/components/administration/deployment/organizations-import-test.gjs
  admin/tests/integration/components/administration/deployment/update-organizations-in-batch-test.gjs
  admin/tests/unit/components/administration/update-campaign-code-test.js
  admin/translations/en.json
  admin/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, cross-team, tech-days-pix-admin

#9922 [FEATURE] Permettre l'usage d'HTML sur davantage de champs (PIX-13907)
  api/scripts/modulix/convert-joi-schema-to-json-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/module-datasource_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/download-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/embed-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/embed_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/image-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/index.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/qcm-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/qcu-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/qrocm-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/text-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/video-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-validation_test.js
  mon-pix/app/components/module/details.gjs
  mon-pix/app/components/module/element/qcm.gjs
  mon-pix/app/components/module/element/qcu.gjs
  mon-pix/app/components/module/objectives.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#9923 [TECH] Retirer le retry sur les Job d'état de participation (PIX-13979)
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/participation-completed-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/participation-shared-job-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/participation-started-job-repository.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-completed-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-shared-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-started-job-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, team-captains, tech-days-evenementiel

#9928 [TECH] Ajouter un legacyName afin de pouvoir renommer un Job (PIX-13982)
  api/src/prescription/campaign-participation/application/jobs/participation-completed-job-controller.js
  api/src/prescription/campaign-participation/application/jobs/participation-shared-job-controller.js
  api/src/prescription/campaign-participation/application/jobs/participation-started-job-controller.js
  api/src/shared/application/jobs/job-controller.js
  api/tests/shared/unit/application/jobs/job-controller_test.js
  api/tests/unit/worker_test.js
  api/worker.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, tech-days-evenementiel

#9924 [BUGFIX] Fixer le problème de contraste dans l'écran de fin de test sur Pix App (PIX-13951).
  mon-pix/app/styles/components/certifications/certification-ender.scss
Labels: :rocket: Ready to Merge, team-certif

#9931 [TECH] Améliorer les performances pour la récupération des stats de places de toutes les organisations via un endpoint (PIX-13983)
  api/lib/infrastructure/repositories/organization-learner-repository.js
  api/src/prescription/organization-place/domain/read-models/PlacesLot.js
  api/src/prescription/organization-place/domain/usecases/get-data-organizations-places-statistics.js
  api/src/prescription/organization-place/infrastructure/repositories/organization-places-lot-repository.js
  api/tests/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/organization-place/integration/domain/usecases/get-data-organizations-places-statistics_test.js
  api/tests/prescription/organization-place/integration/infrastructure/repositories/organization-places-lot-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#9915 [FEATURE] Améliorer le formulaire d'entrée en certification sur Pix App (PIX-13948).
  mon-pix/app/components/certification-joiner.hbs
  mon-pix/app/components/certification-joiner.js
  mon-pix/app/styles/components/_certification-joiner.scss
  mon-pix/tests/integration/components/certification-joiner-test.js
Labels: :rocket: Ready to Merge, team-certif

#9953 [BUGFIX] Utiliser les styles par défaut du navigateur sur les liens hypertexte des contenus Modulix (PIX-13989)
  mon-pix/app/styles/components/module/_passage.scss
Labels: :rocket: Ready to Merge, team-devcomp

#9952 [FEATURE] Modulix - Déplier les steppers dans la preview (PIX-13075)
  mon-pix/app/components/module/grain.gjs
  mon-pix/app/components/module/grain.hbs
  mon-pix/app/components/module/preview.gjs
  mon-pix/app/components/module/stepper.gjs
  mon-pix/app/services/modulix-auto-scroll.js
  mon-pix/app/services/modulix-preview-mode.js
  mon-pix/app/templates/module-preview.hbs
  mon-pix/tests/integration/components/module/stepper_test.gjs
  mon-pix/tests/unit/components/module/grain-test.gjs
  mon-pix/tests/unit/components/module/preview_test.gjs
  mon-pix/tests/unit/services/modulix-auto-scroll-test.js
  mon-pix/tests/unit/services/modulix-preview-mode-test.js
Labels: :rocket: Ready to Merge, team-devcomp

#9911 [TECH] Supprimer l'utilisation des "render-modifiers" dans l'admin
  admin/app/components/certifications/candidate-edit-modal.gjs
  admin/app/components/certifications/candidate-edit-modal.hbs
  admin/app/components/certifications/candidate-edit-modal.js
  admin/app/components/common/tubes-selection.gjs
  admin/app/components/common/tubes-selection.hbs
  admin/app/components/common/tubes-selection/checkbox.hbs
  admin/app/components/common/tubes-selection/checkbox.js
  admin/app/components/common/tubes-selection/competence.gjs
  admin/app/components/common/tubes-selection/thematic.gjs
  admin/app/components/common/tubes-selection/tube.gjs
  admin/app/helpers/is-tube-selected.js
  admin/tests/integration/components/common/tubes-selection-test.gjs
  admin/tests/unit/components/common/tubes-selection-test.js
  admin/tests/unit/helpers/is-tube-selected-test.js
Labels: :rocket: Ready to Merge, tech-days-pix-admin

#9949 [FEATURE] Changer le format de date en NL sur la page de réconciliation (PIX-13985)
  mon-pix/translations/es.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9957 [TECH] Utiliser des PixInput pour les champs de recherche des tables de l'administration
  admin/app/components/certification-centers/list-items.gjs
  admin/app/components/organizations/list-items.gjs
  admin/app/components/organizations/team-section.gjs
  admin/app/components/sessions/list-items.gjs
  admin/app/components/target-profiles/list-summary-items.gjs
  admin/app/components/trainings/list-summary-items.gjs
Labels: :rocket: Ready to Merge, tech-days-pix-admin

#9962 [BUGFIX] Corriger la couleur du descriptif des parcours thématiques autonomes (PIX-14032)
  mon-pix/app/styles/components/autonomous-course/_landing-page-start-block.scss
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, cross-team

#9960 [BUGFIX] Remplacer les erreurs génériques par des `DomainError` dans le contexte Modulix (PIX-14015)
  api/src/devcomp/domain/models/Grain.js
  api/src/devcomp/domain/models/QrocmSolutions.js
  api/src/devcomp/domain/models/component/ComponentStepper.js
  api/src/devcomp/domain/models/component/Step.js
  api/src/devcomp/domain/models/element/Download.js
  api/src/devcomp/domain/models/element/QCM.js
  api/src/devcomp/domain/models/element/QCU-for-answer-verification.js
  api/src/devcomp/domain/models/element/QCU.js
  api/src/devcomp/domain/models/element/QROCM.js
  api/src/devcomp/domain/models/module/Details.js
  api/src/devcomp/domain/models/module/Module.js
  api/src/shared/domain/models/asserts.js
  api/tests/devcomp/integration/domain/models/Module_test.js
  api/tests/devcomp/unit/domain/models/ElementAnswer_test.js
  api/tests/devcomp/unit/domain/models/EmbedCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/Feedbacks_test.js
  api/tests/devcomp/unit/domain/models/Grain_test.js
  api/tests/devcomp/unit/domain/models/QcmCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/QcmProposal_test.js
  api/tests/devcomp/unit/domain/models/QcuCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/QcuProposal_test.js
  api/tests/devcomp/unit/domain/models/QrocmCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/QrocmSolutions_test.js
  api/tests/devcomp/unit/domain/models/TransitionText_test.js
  api/tests/devcomp/unit/domain/models/block/BlockInput_test.js
  api/tests/devcomp/unit/domain/models/block/BlockSelectOption_test.js
  api/tests/devcomp/unit/domain/models/block/BlockSelect_test.js
  api/tests/devcomp/unit/domain/models/block/BlockText_test.js
  api/tests/devcomp/unit/domain/models/component/ComponentElement_test.js
  api/tests/devcomp/unit/domain/models/component/ComponentStepper_test.js
  api/tests/devcomp/unit/domain/models/component/Step_test.js
  api/tests/devcomp/unit/domain/models/element/Download_test.js
  api/tests/devcomp/unit/domain/models/element/Embed-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/Embed_test.js
  api/tests/devcomp/unit/domain/models/element/Image_test.js
  api/tests/devcomp/unit/domain/models/element/QCM-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QCM_test.js
  api/tests/devcomp/unit/domain/models/element/QCU-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QCU_test.js
  api/tests/devcomp/unit/domain/models/element/QROCM-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QROCM_test.js
  api/tests/devcomp/unit/domain/models/element/Text_test.js
  api/tests/devcomp/unit/domain/models/element/Video_test.js
  api/tests/devcomp/unit/domain/models/module/Details_test.js
  api/tests/devcomp/unit/domain/models/module/Module_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#9951 [FEATURE] Gérer l'affichage conditionnel de l'onglet Formations (PIX-13986).
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/index.gjs
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results.gjs
  mon-pix/tests/acceptance/campaigns/campaign-skill-review-test.js
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/evaluation-results-tabs-test.js
  mon-pix/tests/integration/components/routes/campaigns/assessment/evaluation-results-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#9973 [FEATURE] Optimiser le script d'anonymisation (PIX-14044)
  api/src/identity-access-management/infrastructure/repositories/anonymized-user.repository.js
  api/src/identity-access-management/scripts/backfill-anonymized-users.js
  api/src/shared/domain/models/AdminMember.js
  api/tests/identity-access-management/acceptance/scripts/backfill-anonymized-users.script.test.js
  api/tests/identity-access-management/integration/domain/usecases/anonymize-user.usecase.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/anonymized-user.repository.test.js
  api/tests/shared/unit/domain/models/AdminMember_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9956 [FEATURE] Ajouter une clé de traduction nl pour le bandeau d'avertissement à l'invitation d'un nouveau membre (PIX-13992)
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9968 [FEATURE] Créer une migration pour stocker les correspondance des claims en base de données (PIX-14039)
  api/db/migrations/20240826162221_add-new-claim-mapping-in-oidc-providers.js
Labels: Tech Review OK, team-acces

#9964 [TECH] ♻️ migration de la route `/api/organizations/{id}/divisions` vers src/prescription (PIX-14030)
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/src/prescription/organization-learner/application/learner-list-controller.js
  api/src/prescription/organization-learner/application/learner-list-route.js
  api/src/prescription/organization-learner/domain/usecases/find-divisions-by-organization.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
  api/tests/integration/application/organizations/organization-controller_test.js
  api/tests/prescription/organization-learner/acceptance/learner-list-route_test.js
  api/tests/prescription/organization-learner/integration/application/learner-list-controller_test.js
  api/tests/prescription/organization-learner/unit/application/learner-list-controller_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-divisions-by-organization_test.js
  api/tests/unit/application/organizations/organization-controller_test.js
Labels: Tech Review OK, Func Review OK, team-prescription, Bounded-context-migration

#9974 [BUGFIX] Ajout d'un prehandler sur le endpoint place-statistics
  api/src/prescription/organization-place/application/organization-place-route.js
  api/tests/prescription/organization-place/unit/application/organization-place-route_test.js
Labels: Tech Review OK, Func Review OK, team-prescription

#9972 [TECH] ♻️ migration de la route `/api/sco-organization-learners/association/auto` vers src/prescription
  api/lib/application/sco-organization-learners/index.js
  api/lib/application/sco-organization-learners/sco-organization-learner-controller.js
  api/lib/infrastructure/repositories/organization-learner-repository.js
  api/src/prescription/learner-management/application/organization-learners-controller.js
  api/src/prescription/learner-management/application/organization-learners-route.js
  api/src/prescription/learner-management/domain/usecases/reconcile-sco-organization-learner-automatically.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-repository.js
  api/tests/acceptance/application/sco-organization-learners/sco-organization-learner-controller_test.js
  api/tests/integration/application/sco-organization-learners/index_test.js
  api/tests/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/learner-management/acceptance/application/organization-learners-route_test.js
  api/tests/prescription/learner-management/integration/application/organization-learners-route_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/reconcile-sco-organization-learner-automatically_test.js
Labels: Tech Review OK, Func Review OK, team-prescription, Bounded-context-migration

#9965 [TECH] Ajouter une configuration de retry pour les jobs d'import (PIX-14023)
  api/src/prescription/learner-management/infrastructure/repositories/jobs/import-organization-learners-job-repository.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/validate-organization-learners-import-file-job-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/validate-organization-learners-import-file-job-repository_test.js
Labels: Tech Review OK, team-prescription

#9991 [TECH] Ajouter le `deletedBy` en condition de la vue des organisation learners actif (PIX-14071)
  api/db/migrations/20240829124253_add-deleted-by-clause-on-view-active-organization-learners.js
Labels: Tech Review OK, Func Review OK, team-prescription

#9970 [FEATURE] Ajoute le support des éléments "Separator" dans Modulix (PIX-14013)
  api/scripts/modulix/get-elements-csv.js
  api/scripts/modulix/get-sample-separator-element.js
  api/src/devcomp/domain/models/element/Separator.js
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/src/devcomp/infrastructure/datasources/learning-content/readme.md
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/separator.sample.js
  api/src/devcomp/infrastructure/factories/module-factory.js
  api/tests/devcomp/acceptance/scripts/get-elements_test.js
  api/tests/devcomp/unit/domain/models/element/Separator_test.js
  api/tests/devcomp/unit/domain/models/element/Video_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/separator-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-validation_test.js
  api/tests/devcomp/unit/infrastructure/factories/module-factory_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
  mon-pix/app/components/module/element.gjs
  mon-pix/app/components/module/element/separator.gjs
  mon-pix/app/components/module/grain.gjs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/module/_separator.scss
  mon-pix/tests/integration/components/module/element_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#9989 [TECH] Ajouter des logs pour aider le debug des timeouts des jobs d'import SIECLE (PIX-14055)
  api/src/prescription/learner-management/domain/usecases/add-or-update-organization-learners.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-repository.js
  api/src/prescription/learner-management/utils/loggerForImport.js
  api/src/shared/config.js
Labels: Tech Review OK, Func Review OK, team-prescription

#9996 [FEATURE] Changement des couleurs de fonds Modulix (PIX-14066)
  mon-pix/app/styles/components/module/_grain.scss
Labels: Design Review OK, team-devcomp

#9954 [FEATURE] Ajout des stepper-step sur les modules du MVP
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Labels: team-contenu, team-devcomp

#9997 [FEATURE] Ajouter un lien pour accéder à la documentation d'une mission (Pix-13775)
  api/db/seeds/data/team-1d/data-builder.js
  api/src/school/domain/models/Mission.js
  api/src/school/infrastructure/repositories/mission-repository.js
  api/src/school/infrastructure/serializers/mission-serializer.js
  api/tests/school/integration/application/mission-controller_test.js
  api/tests/school/integration/infrastructure/repositories/mission-repository_test.js
  orga/app/components/mission/details.gjs
  orga/app/components/mission/header.hbs
  orga/app/components/mission/header.js
  orga/app/components/mission/mission-information.hbs
  orga/app/components/mission/mission-information.js
  orga/app/models/mission.js
  orga/app/styles/app.scss
  orga/app/styles/components/mission/header.scss
  orga/app/styles/pages/authenticated/mission.scss
  orga/app/templates/authenticated/missions/details.hbs
  orga/tests/acceptance/missions-details-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10002 [TECH] Suppression de scripts certification plus utilisés (PIX-14069).
  api/package-lock.json
  api/package.json
  api/scripts/certification/cancel-certifications-and-publish-sessions.js
  api/scripts/certification/fill-issue-report-category-id.js
  api/scripts/certification/fill-last-assessment-result-certification-course-table.js
  api/scripts/certification/generate-certification-csv-results-by-session-ids.js
  api/scripts/certification/generate-certification-results.js
  api/scripts/certification/generate-certification-test-statistics.js
  api/scripts/certification/generate-last-assessments-score.js
  api/scripts/certification/import-certifications-from-csv.js
  api/scripts/certification/update-certification-infos.js
  api/scripts/certification/validate-cpf-xml.js
  api/scripts/certification/verify-certificate-code-service_script.js
  api/tests/acceptance/scripts/certification/import-certifications-from-csv_test.js
  api/tests/acceptance/scripts/certification/update-certification-infos_test.js
  api/tests/integration/scripts/certification/fill-issue-report-category-id_test.js
  api/tests/integration/scripts/certification/fill-last-assessment-result-certification-course-table_test.js
  api/tests/unit/domain/services/cpf/cpf-certification-xml-export-service_test.js
Labels: :rocket: Ready to Merge, team-certif, no-review-app

#9967 [BUGFIX] Tentative de reduction des erreurs 500 a la creation du certification course (PIX-13997).
  api/lib/application/certification-courses/certification-course-controller.js
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/retrieve-last-or-create-certification-course.js
  api/scripts/certification/generate-certificate-verification-code.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/tests/unit/application/certification-courses/certification-course-controller_test.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Labels: :rocket: Ready to Merge, team-certif

#10003 [BUGFIX] Vérifier si l'utilisateur est membre de l'orga pour accéder aux stats de places (PIX-14083)
  api/src/prescription/organization-place/application/organization-place-route.js
  api/tests/prescription/organization-place/unit/application/organization-place-route_test.js
Labels: Tech Review OK, Func Review OK, team-prescription

#9958 [FEATURE] Améliorer l'affichage des erreurs dans l'import en masse sur Pix Certif (PIX-10155).
  certif/app/components/import/step-two-section.hbs
  certif/tests/acceptance/routes/authenticated/sessions/import-test.js
  certif/tests/integration/components/sessions-import/step-two-section-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-certif

#9950 [TECH] Ajout d'un layout pour les composants PixAdmin (PIX-13988)
  admin/app/components/layout/index.gjs
  admin/app/components/layout/menu-bar/entry.gjs
  admin/app/components/layout/menu-bar/index.gjs
  admin/app/components/menu-bar.gjs
  admin/app/styles/app.scss
  admin/app/styles/authenticated.scss
  admin/app/styles/components/layout/menu-bar.scss
  admin/app/templates/about.hbs
  admin/app/templates/authenticated.hbs
  admin/app/templates/authenticated/certifications.hbs
  admin/tests/integration/components/menu-bar-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, tech-days-pix-admin

#9955 [TECH] Simplification du code de la page Parcours autonomes (PIX-14003)
  admin/app/components/autonomous-courses/create-autonomous-course-form.gjs
  admin/app/components/autonomous-courses/details.gjs
  admin/app/components/autonomous-courses/index.gjs
  admin/app/components/autonomous-courses/list-items.gjs
  admin/app/components/autonomous-courses/list/index.gjs
  admin/app/components/autonomous-courses/list/item.gjs
  admin/app/components/autonomous-courses/new/index.gjs
  admin/app/components/autonomous-courses/new/technical-informations.gjs
  admin/app/components/autonomous-courses/new/user-informations.gjs
  admin/app/components/autonomous-courses/update-autonomous-course-form.gjs
  admin/app/components/autonomous-courses/view-autonomous-course.gjs
  admin/app/controllers/authenticated/autonomous-courses/autonomous-course/details.js
  admin/app/controllers/authenticated/autonomous-courses/new.js
  admin/app/router.js
  admin/app/routes/authenticated/autonomous-courses/index.js
  admin/app/routes/authenticated/autonomous-courses/list.js
  admin/app/templates/authenticated/autonomous-courses/autonomous-course/details.hbs
  admin/app/templates/authenticated/autonomous-courses/index.hbs
  admin/app/templates/authenticated/autonomous-courses/list.hbs
  admin/app/templates/authenticated/autonomous-courses/new.hbs
  admin/tests/acceptance/authenticated/autonomous-courses/autonomous-courses-test.js
  admin/tests/integration/components/autonomous-courses/details-test.gjs
  admin/tests/integration/components/autonomous-courses/list/index-test.gjs
  admin/tests/integration/components/autonomous-courses/new-test.gjs
  admin/tests/unit/components/autonomous-courses/create-autonomous-course-form-test.js
  admin/tests/unit/components/autonomous-courses/view-autonomous-course-test.js
  admin/tests/unit/controllers/authenticated/autonomous-courses/new-test.js
  admin/tests/unit/routes/authenticated/autonomous-courses/index-test.js
  admin/translations/en.json
  admin/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, tech-days-pix-admin

#10005 [BUGFIX] Corriger un test flaky dans 'Integration | Component | Team::MembersListItem' (PIX-14084)
  orga/tests/helpers/wait-for.js
  orga/tests/integration/components/team/members-list-item-test.js
Labels: Tech Review OK, team-acces

#9984 [BUGFIX] Améliorer la lisibilité de la solution d'un input de QROC(M) (PIX-14045).
  mon-pix/app/components/solution-panel/qroc-solution-panel.gjs
  mon-pix/app/components/solution-panel/qrocm-dep-solution-panel.hbs
  mon-pix/app/components/solution-panel/qrocm-ind-solution-panel.hbs
  mon-pix/tests/integration/components/solution-panel/qroc-solution-panel-test.js
  mon-pix/tests/integration/components/solution-panel/qrocm-dep-solution-panel-test.js
  mon-pix/tests/integration/components/solution-panel/qrocm-ind-solution-panel-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#10008 [BUGFIX] Utiliser la même icône de suppression dans Pix-Certif (PIX-14086).
  certif/app/components/issue-report-modal/issue-reports-modal.hbs
  certif/app/components/team/invitations-list-item.hbs
  certif/config/icons.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif
