Repository 1024pix/pix, pull requests merged in 2024-02, with the labels that each got.

#7929 [REFACTOR] Réparer les tests flakys (PIX-10945)
  mon-pix/tests/integration/components/feedback-panel_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#7936 [BUGFIX] Le logo Pix Orga doit rediriger vers la page des missions si l'orga est de type Sco-1D (Pix-10939)
  orga/app/components/layout/sidebar.hbs
  orga/app/components/layout/sidebar.js
  orga/tests/integration/components/layout/sidebar_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7941 [FEATURE] Ouvrir le portail surveillant dans un nouvel onglet (PIX-10973).
  certif/app/templates/authenticated.hbs
  certif/tests/acceptance/authenticated_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7943 [FEATURE] Changer la position de la gestion de l'alert dans l'espace surveillant (PIX-10942).
  certif/app/components/session-supervising/candidate-in-list.hbs
  certif/tests/acceptance/session-supervising_test.js
  certif/tests/integration/components/session-supervising/candidate-in-list_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7944 [FEATURE] Retirer les validations et contraintes sur le code d'un fournisseur d'identité (PIX-10980)
  api/db/migrations/20240131091457_remove-identity-provider-constraint-from-authentication-methods-table.js
  api/db/migrations/20240201102606_remove-identity-provider-for-campaigns-constraint-from-organization-table.js
  api/lib/application/authentication/oidc/index.js
  api/lib/domain/models/AuthenticationMethod.js
  api/lib/domain/validators/organization-with-tags-and-target-profiles-script.js
  api/tests/integration/application/authentication/oidc/index_test.js
  api/tests/unit/domain/models/AuthenticationMethod_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#7935 [BUGFIX] Prendre en compte le mot remplacé par le dictionnaire d'une tablette/téléphone (Pix-10968)
  1d/app/pods/components/challenge/challenge-item-qroc/template.hbs
  1d/app/pods/components/challenge/challenge-item-qrocm/template.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#7946 [FEATURE] màj du contenu du module didacticiel
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Labels: :rocket: Ready to Merge, team-devcomp

#7948 [TECH] Améliore la robustesse du groupBy dans certification-point-of-contact-repository
  api/lib/infrastructure/repositories/certification-point-of-contact-repository.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#7952 [FEATURE] Permettre à un utilisateur néerlandophone de recevoir des emails dans sa langue (PIX-10796)
  api/lib/domain/services/mail-service.js
  api/src/shared/domain/constants.js
  api/tests/unit/domain/services/mail-service_test.js
  api/translations/en.json
  api/translations/fr.json
  api/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#7864 [BUGFIX] Corriger l'erreur 500 lors de la récupération d'un profil cible en JSON
  api/src/prescription/target-profile/domain/usecases/get-target-profile-content-as-json.js
  api/tests/prescription/target-profile/unit/domain/usecases/get-target-profile-content-as-json_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#7922 [FEATURE] Création en masse d'organisations PIX 1D (PIX-10889)
  api/lib/domain/usecases/create-organizations-with-tags-and-target-profiles.js
  api/lib/infrastructure/repositories/organization-repository.js
  api/src/school/infrastructure/repositories/school-repository.js
  api/tests/integration/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
  api/tests/integration/infrastructure/repositories/organization-repository_test.js
  api/tests/school/integration/infrastructure/repositories/school-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, 🎒👧🏽👦🏾 Pix1D

#7926 [FEATURE] Afficher le score par compétence sur la page de certificat pour la v3 (PIX-10689)
  admin/app/components/certifications/competence-list.hbs
  admin/app/controllers/authenticated/certifications/certification/informations.js
  admin/app/templates/authenticated/certifications/certification/informations.hbs
  admin/tests/integration/components/certifications/info-competences_test.js
  api/lib/domain/events/handle-certification-scoring.js
  api/lib/domain/events/index.js
  api/lib/domain/models/CertificationAssessmentScoreV3.js
  api/src/certification/scoring/domain/models/CompetenceForScoring.js
  api/src/certification/scoring/infrastructure/repositories/competence-for-scoring-repository.js
  api/src/certification/shared/domain/usecases/index.js
  api/tests/certification/scoring/integration/infrastructure/repositories/competence-for-scoring-repository_test.js
  api/tests/certification/scoring/unit/domain/models/CompetenceForScoring_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-complete-assessment_test.js
  api/tests/tooling/domain-builder/factory/certification/scoring/build-competence-for-scoring.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/tests/unit/domain/models/CertificationAssessmentScoreV3_test.js
  mon-pix/app/components/user-certifications-detail-competence.hbs
  mon-pix/app/components/user-certifications-detail-competence.js
  mon-pix/app/styles/components/_user-certifications-detail-competence.scss
  mon-pix/tests/integration/components/user-certifications-detail-competence_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7958 [TECH] Ne pas supprimer un organization learner déjà supprimé (PIX-11001)
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#7964 [TECH] Migration vers la nouvelle méthode d'import JSON (PIX-11011)
  api/src/devcomp/infrastructure/datasources/learning-content/module-datasource.js
Labels: :rocket: Ready to Merge, team-devcomp

#7963 [BUGFIX] Améliorer les `ariaLabel` Modulix (PIX-11008)
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Labels: :rocket: Ready to Merge, team-devcomp

#7866 [TECH] :arrow_up: Mettre à jour notre fichier swagger en v3.0
  api/lib/swaggers.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#7945 [TECH] Faire retourner uniquement la correction par la méthode `assess` (PIX-10875)
  api/src/devcomp/domain/models/element/QCU-for-answer-verification.js
  api/src/devcomp/domain/models/element/QROCM-for-answer-verification.js
  api/src/devcomp/domain/usecases/verify-and-save-answer.js
  api/tests/devcomp/unit/domain/models/element/QCU-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QROCM-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/usecases/verify-and-save-answer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#7965 [TECH] Mise à jour de l'installation par défaut du projet (PIX-11009).
  INSTALLATION.md
  docker/README.md
  docker/sample.env
  high-level-tests/e2e/README.md
  high-level-tests/e2e/env-api
  scripts/configure.sh
  scripts/tests-e2e
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#7951 [FEATURE] Retirer l'icône de suppression d'issue-report pour les live-alerts en certif V3 (PIX-10941).
  certif/app/components/issue-report-modal/issue-reports-modal.hbs
  certif/app/components/session-finalization/completed-reports-information-step.hbs
  certif/app/models/certification-issue-report.js
  certif/tests/integration/components/issue-reports-modal_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7955 [FEATURE] Création d'un nouveau module (ports de connexion débutant)
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Labels: :rocket: Ready to Merge, team-devcomp

#7949 [FEATURE] Accès à la documentation V3 pour les centres de certifications pilotes (PIX-10839).
  api/lib/domain/read-models/AllowedCertificationCenterAccess.js
  api/lib/infrastructure/repositories/certification-point-of-contact-repository.js
  api/lib/infrastructure/serializers/jsonapi/certification-point-of-contact-serializer.js
  api/tests/integration/infrastructure/repositories/certification-point-of-contact-repository_test.js
  api/tests/tooling/domain-builder/factory/build-allowed-certification-center-access.js
  api/tests/unit/application/certification-point-of-contacts/certification-point-of-contact-controller_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-point-of-contact-serializer_test.js
  certif/app/controllers/authenticated.js
  certif/app/models/allowed-certification-center-access.js
  certif/tests/unit/controllers/authenticated_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7969 [BUGFIX] Retirer le `<p>` par défaut du contenu des `PixModal` (PIX-11006)
  mon-pix/app/pods/components/module/image/styles.scss
  mon-pix/app/pods/components/module/image/template.hbs
  mon-pix/app/pods/components/module/video/styles.scss
  mon-pix/app/pods/components/module/video/template.hbs
  mon-pix/tests/integration/components/module/image_test.js
  mon-pix/tests/integration/components/module/video_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#7901 [REFACTOR] Ajouter la validation de la charge utile de la mise à jour de collection de paliers (PIX-10840).
  api/src/evaluation/application/stage-collections/index.js
  api/tests/evaluation/acceptance/application/stage-collections/stage-collection-controller_test.js
  api/tests/evaluation/unit/application/stage-collections/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#7962 [TECH] Déplacer le read model CertificationIssueReportCategory dans shared (PIX-10772)
  api/src/certification/shared/domain/read-models/CertificationIssueReportCategory.js
  api/src/certification/shared/infrastructure/repositories/issue-report-category-repository.js
  api/tests/certification/shared/integration/infrastructure/repositories/issue-report-categories-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#7972 [FEATURE] Permettre de fournir des alternatives textuelles vides sur Modulix (PIX-10961)
  api/src/devcomp/domain/models/element/Video.js
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
  api/tests/devcomp/unit/domain/models/element/Video_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/image.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/video.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
  mon-pix/app/pods/components/module/image/template.hbs
  mon-pix/app/pods/components/module/video/template.hbs
  mon-pix/app/pods/image/model.js
  mon-pix/app/pods/video/model.js
  mon-pix/tests/integration/components/module/image_test.js
  mon-pix/tests/integration/components/module/video_test.js
  mon-pix/tests/unit/models/modules/image_test.js
  mon-pix/tests/unit/models/modules/video_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#7961 [FEATURE] Retirer le code de rapport d'erreur dans la modal de gestion d'alerte en certif (PIX-1943)
  certif/app/components/session-supervising/handle-live-alert-modal.hbs
  certif/tests/acceptance/session-supervising_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7967 [TECH] Retirer Bookshelf de certification-course-repository (PIX-11012).
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-report-repository.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-course-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7975 [BUGFIX] Corrige un crash de l'API lorsque toutes les réponses à une certif v3 sont OK (PIX-11025)
  api/db/database-builder/factory/build-certification-challenge.js
  api/lib/domain/events/handle-certification-scoring.js
  api/src/certification/flash-certification/domain/constants/competence-level-intervals.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-complete-assessment_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7977 [TECH] Instancier entièrement le Module lors d'une vérification (PIX-11023)
  api/src/devcomp/infrastructure/repositories/module-repository.js
Labels: :rocket: Ready to Merge, team-devcomp

#7942 [FEATURE] Ajouter toutes les participations dans l'export des collecte de profils (Pix-10454)
  api/lib/domain/services/placement-profile-service.js
  api/scripts/prod/compute-participation-results.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-profiles-collection-participation-summary-repository.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-profiles-collection-export.js
  api/tests/integration/domain/services/placement-profile-service_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-profiles-collection-participation-summary-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7939 [FEATURE] Ajout d'une modale sur la définalisation de session (PIX-10898)
  admin/app/controllers/authenticated/certifications/certification/informations.js
  admin/app/controllers/authenticated/sessions/session/informations.js
  admin/app/templates/authenticated/certifications/certification/informations.hbs
  admin/app/templates/authenticated/sessions/session/informations.hbs
  admin/mirage/config.js
  admin/mirage/serializers/session.js
  admin/tests/acceptance/authenticated/sessions/session/informations_test.js
  admin/tests/helpers/wait-for.js
  admin/tests/unit/controllers/authenticated/sessions/session/informations_test.js
  admin/translations/en.json
  admin/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7947 [TECH] Retirer toutes trace de moment dans l'API (PIX-11000)
  api/package-lock.json
  api/package.json
  api/src/shared/infrastructure/utils/date-utils.js
  api/tests/unit/infrastructure/utils/date-utils_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#7979 [FEATURE] Ajout d'un module "Mots de passe sécurisés"
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Labels: :rocket: Ready to Merge, team-devcomp

#7900 [BUGFIX] Ne plus écraser les données de l'assessment-result lors de la mise à jour des commentaires d'une certification sur Pix Admin (PIX-10433).
  admin/app/adapters/certification.js
  admin/app/controllers/authenticated/certifications/certification/informations.js
  admin/mirage/config.js
  admin/tests/acceptance/authenticated/certifications/certification/informations_test.js
  admin/tests/unit/adapters/certification_test.js
  admin/tests/unit/adapters/session_test.js
  admin/tests/unit/controllers/authenticated/certifications/certification/informations_test.js
  api/src/certification/course/application/certification-course-controller.js
  api/src/certification/course/application/certification-course-route.js
  api/src/certification/course/domain/usecases/index.js
  api/src/certification/course/domain/usecases/update-jury-comments.js
  api/src/certification/course/infrastructure/repositories/course-assessment-result-repository.js
  api/src/certification/course/infrastructure/serializers/jsonapi/assessment-result-serializer.js
  api/src/certification/course/infrastructure/serializers/jsonapi/jury-comments-serializer.js
  api/src/certification/shared/domain/usecases/index.js
  api/src/shared/domain/models/AssessmentResult.js
  api/src/shared/infrastructure/repositories/assessment-result-repository.js
  api/tests/certification/course/acceptance/application/certification-course-route_test.js
  api/tests/certification/course/integration/infrastructure/repositories/course-assessment-result-repository_test.js
  api/tests/certification/course/unit/application/certification-course-controller_test.js
  api/tests/certification/course/unit/domain/usecases/update-jury-comments_test.js
  api/tests/certification/course/unit/infrasctructure/serializers/jsonapi/assessment-result-serializer_test.js
  api/tests/certification/course/unit/infrasctructure/serializers/jsonapi/jury-comments-serializer_test.js
  api/tests/shared/integration/infrastructure/repositories/assessment-result-repository_test.js
  api/tests/shared/unit/domain/models/AssessmentResult_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#7932 [BUGFIX] Ne plus appeler la route API pour récupérer tous les oidc providers juste après la connexion sur Pix Admin (PIX-10964).
  admin/app/routes/application.js
  admin/app/routes/authenticated.js
  admin/app/routes/authenticated/users/get.js
  admin/app/routes/login.js
  admin/app/services/oidc-identity-providers.js
  admin/tests/unit/routes/authenticated/users/get_test.js
  admin/tests/unit/routes/authenticated_test.js
  admin/tests/unit/routes/login_test.js
  admin/tests/unit/services/oidc-identity-providers_test.js
Labels: :rocket: Ready to Merge, team-acces, cross-team

#7974 [FEATURE] Accéder à la page de fin de module via l'URL (PIX-11026)
  mon-pix/app/pods/components/module/details/styles.scss
  mon-pix/app/pods/components/module/details/template.hbs
  mon-pix/app/pods/components/module/objectives/styles.scss
  mon-pix/app/pods/components/module/objectives/template.hbs
  mon-pix/app/pods/components/module/recap/styles.scss
  mon-pix/app/pods/components/module/recap/template.hbs
  mon-pix/app/pods/module/get/styles.scss
  mon-pix/app/pods/module/index/route.js
  mon-pix/app/pods/module/recap/route.js
  mon-pix/app/pods/module/recap/template.hbs
  mon-pix/app/pods/module/route.js
  mon-pix/app/router.js
  mon-pix/tests/acceptance/module/navigate-into-the-module-recap_test.js
  mon-pix/tests/acceptance/module/visit-module-recap-page_test.js
  mon-pix/tests/integration/components/module/recap_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, Func Review OK, team-devcomp

#7940 [TECH] Stocke les fichiers d'import dans un bucket S3 (PIX-10927)
  .circleci/config.yml
  api/sample.env
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/domain/services/organization-learners-xml-service.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-format.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/infrastructure/serializers/xml/siecle-parser.js
  api/src/prescription/learner-management/infrastructure/storage/import-storage.js
  api/src/prescription/learner-management/infrastructure/utils/xml/detect-encoding.js
  api/src/prescription/learner-management/infrastructure/utils/xml/siecle-file-streamer.js
  api/src/prescription/learner-management/infrastructure/utils/xml/zip.js
  api/src/shared/config.js
  api/src/shared/storage/infrastructure/providers/S3ObjectStorageProvider.js
  api/tests/prescription/learner-management/integration/infrastructure/serializers/xml/siecle-parser_test.js
  api/tests/prescription/learner-management/integration/infrastructure/utils/xml/detect-encoding_test.js
  api/tests/prescription/learner-management/integration/infrastructure/utils/xml/siecle-file-streamer_test.js
  api/tests/prescription/learner-management/integration/infrastructure/utils/xml/zip_test.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-format_test.js
  api/tests/prescription/learner-management/unit/infrastructure/storage/import-storage_test.js
  api/tests/test-helper.js
  docker-compose.yaml
  docker/docker-compose.yaml
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7980 [TECH]: ajoute les variable d'env du s3 local pour les tests
  api/sample.env
Labels: Tech Review OK, :rocket: Ready to Merge

#7984 [BUGFIX] Utiliser les tolérances lors de la vérification des QROCM-ind (PIX-11007)
  api/src/devcomp/domain/models/element/QCU-for-answer-verification.js
  api/src/devcomp/domain/models/element/QROCM-for-answer-verification.js
  api/tests/devcomp/integration/domain/models/element/QROCMForAnswerVerification_test.js
  api/tests/devcomp/unit/domain/models/element/QCU-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QROCM-for-answer-verification_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-devcomp

#7991 [BUGFIX] Corriger l'extraction des résultats d'une collecte de profil en csv(PIX-11096)
  api/lib/infrastructure/exports/campaigns/campaign-profiles-collection-result-line.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-profiles-collection-export.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7992 [FEATURE] Pouvoir utiliser les logiques de `solution-service-qcm` et de `ValidatorQCM` dans notre BC `devcomp`
  api/src/devcomp/domain/models/validator/ValidatorQCM.js
  api/src/devcomp/domain/services/solution-service-qcm.js
  api/tests/devcomp/unit/domain/models/validator/ValidatorQCM_test.js
  api/tests/devcomp/unit/domain/services/solution-service-qcm_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#7978 [TECH] Utiliser la librairie openid-client (PIX-10990)
  api/config/setup-oidc-authentication-service-registry.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/lib/domain/services/authentication/GoogleOidcAuthenticationService.js
  api/lib/domain/services/authentication/authentication-service-registry.js
  api/lib/domain/services/authentication/cnav-oidc-authentication-service.js
  api/lib/domain/services/authentication/fwb-oidc-authentication-service.js
  api/lib/domain/services/authentication/oidc-authentication-service.js
  api/lib/domain/services/authentication/paysdelaloire-oidc-authentication-service.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
  api/lib/domain/usecases/authentication/authenticate-oidc-user.js
  api/package-lock.json
  api/package.json
  api/sample.env
  api/server.js
  api/src/shared/config.js
  api/tests/acceptance/application/authentication/oidc/authentication-url-route-get_test.js
  api/tests/acceptance/application/authentication/oidc/token-route-post_test.js
  api/tests/acceptance/application/pole-emploi/pole-emploi-controller_test.js
  api/tests/test-helper.js
  api/tests/tooling/server/hapi-server-with-test-oidc-provider.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
  api/tests/unit/domain/services/authentication/authentication-service-registry_test.js
  api/tests/unit/domain/services/authentication/oidc-authentication-service_test.js
  api/tests/unit/domain/usecases/authentication/authenticate-oidc-user_test.js
  api/tests/unit/setup-oidc-authentication-service-registry_test.js
Labels: :rocket: Ready to Merge, team-acces

#8005 [BUGFIX] corrige la suppression de fichier temporaire après un import siecle (PIX-11118)
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7988 [BUGFIX] Retirer l'icône de suppression d'issue pour les alerts de certifs V3 non terminées (PIX-11071).
  certif/app/components/session-finalization/uncompleted-reports-information-step.hbs
  certif/tests/integration/components/issue-report-modal/add-issue-report-modal_test.js
  certif/tests/integration/components/issue-reports-modal_test.js
  certif/tests/integration/components/session-finalization/completed-reports-information-step_test.js
  certif/tests/integration/components/session-finalization/uncompleted-reports-information-step_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#7966 [TECH] Récupérer le nombre de question d'une certif v3 depuis la config
  admin/app/components/certifications/certification/details-v3.hbs
  admin/app/models/v3-certification-course-details-for-administration.js
  admin/tests/integration/components/certifications/certification/details-v3_test.js
  api/db/seeds/data/team-certification/data-builder.js
  api/lib/domain/models/CertificationCourse.js
  api/lib/infrastructure/serializers/jsonapi/certification-course-serializer.js
  api/src/certification/course/domain/models/V3CertificationCourseDetailsForAdministration.js
  api/src/certification/course/infrastructure/repositories/v3-certification-course-details-for-administration-repository.js
  api/src/certification/course/infrastructure/serializers/jsonapi/v3-certification-course-details-for-administration-serializer.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/tests/certification/course/acceptance/application/certification-course-route_test.js
  api/tests/certification/course/integration/infrastructure/repositories/v3-certification-course-details-for-administration-repository_test.js
  api/tests/certification/course/unit/infrasctructure/serializers/jsonapi/v3-certification-course-details-for-administration-serializer_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-course-repository_test.js
  api/tests/tooling/domain-builder/factory/build-certification-course.js
  api/tests/tooling/domain-builder/factory/build-v3-certification-course-details-for-administration.js
  api/tests/unit/domain/models/CertificationCourse_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#8007 [TECH]: Sépare le usecase SIECLE de celui de FREGATA (PIX-11061)
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-csv-format.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-xml-format.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-csv-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-xml-format_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7981 [TECH] Mettre PixUI v43 sur PixOrga (PIX-11084)
  orga/app/components/campaign/create-form.hbs
  orga/app/components/campaign/filter/campaign-filters.hbs
  orga/app/components/campaign/filter/participation-filters.hbs
  orga/app/components/organization-participant/learner-filters.hbs
  orga/app/components/sco-organization-participant/sco-learner-filters.hbs
  orga/app/components/sup-organization-participant/sup-learner-filters.hbs
  orga/app/components/ui/divisions-filter.hbs
  orga/app/components/ui/multi-select-filter.hbs
  orga/app/components/ui/pix-fieldset.hbs
  orga/app/components/ui/search-input-filter.hbs
  orga/app/components/ui/search-input.hbs
  orga/app/components/ui/select-filter.hbs
  orga/app/styles/components/ui/pix-fieldset.scss
  orga/app/styles/globals/forms.scss
  orga/package-lock.json
  orga/package.json
  orga/tests/acceptance/sco-organization-participant-list_test.js
  orga/tests/integration/components/campaign/create-form_test.js
  orga/tests/integration/components/campaign/filter/participation-filters_test.js
  orga/tests/integration/components/sco-organization-participant/list_test.js
  orga/tests/integration/components/sup-organization-participant/list_test.js
  orga/tests/integration/components/tube/list_test.js
  orga/tests/integration/components/ui/divisions-filter_test.js
  orga/tests/integration/components/ui/search-input_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8012 [TECH] [HOTFIX] Retirer la librairie openid-client
  1d/package-lock.json
  1d/package.json
  CHANGELOG.md
  admin/package-lock.json
  admin/package.json
  api/config/setup-oidc-authentication-service-registry.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/lib/domain/services/authentication/GoogleOidcAuthenticationService.js
  api/lib/domain/services/authentication/authentication-service-registry.js
  api/lib/domain/services/authentication/cnav-oidc-authentication-service.js
  api/lib/domain/services/authentication/fwb-oidc-authentication-service.js
  api/lib/domain/services/authentication/oidc-authentication-service.js
  api/lib/domain/services/authentication/paysdelaloire-oidc-authentication-service.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
  api/lib/domain/usecases/authentication/authenticate-oidc-user.js
  api/package-lock.json
  api/package.json
  api/sample.env
  api/server.js
  api/src/shared/config.js
  api/tests/acceptance/application/authentication/oidc/authentication-url-route-get_test.js
  api/tests/acceptance/application/authentication/oidc/token-route-post_test.js
  api/tests/acceptance/application/pole-emploi/pole-emploi-controller_test.js
  api/tests/test-helper.js
  api/tests/tooling/server/hapi-server-with-test-oidc-provider.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
  api/tests/unit/domain/services/authentication/authentication-service-registry_test.js
  api/tests/unit/domain/services/authentication/oidc-authentication-service_test.js
  api/tests/unit/domain/usecases/authentication/authenticate-oidc-user_test.js
  api/tests/unit/setup-oidc-authentication-service-registry_test.js
  audit-logger/package-lock.json
  audit-logger/package.json
  certif/package-lock.json
  certif/package.json
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/load-testing/package-lock.json
  high-level-tests/load-testing/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
  orga/package-lock.json
  orga/package.json
  package-lock.json
  package.json
Labels: :rocket: Ready to Merge, team-acces, team-captains

#8013 [BUGFIX] Revert "[TECH]: Sépare le usecase SIECLE de celui de FREGATA (PIX-11061)"
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-csv-format.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-format.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-csv-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-xml-format_test.js
Labels: :rocket: Ready to Merge, team-captains

#8014 [BUGFIX] Retirer les modifications relatives à l'import SIECLE sur S3.
  .circleci/config.yml
  CHANGELOG.md
  api/sample.env
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/domain/services/organization-learners-xml-service.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-format.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/infrastructure/serializers/xml/siecle-parser.js
  api/src/prescription/learner-management/infrastructure/storage/import-storage.js
  api/src/prescription/learner-management/infrastructure/utils/xml/detect-encoding.js
  api/src/prescription/learner-management/infrastructure/utils/xml/siecle-file-streamer.js
  api/src/prescription/learner-management/infrastructure/utils/xml/zip.js
  api/src/shared/config.js
  api/src/shared/storage/infrastructure/providers/S3ObjectStorageProvider.js
  api/tests/prescription/learner-management/integration/domain/services/organization-learners-xml-service_test.js
  api/tests/prescription/learner-management/integration/infrastructure/utils/xml/detect-encoding_test.js
  api/tests/prescription/learner-management/integration/infrastructure/utils/xml/siecle-file-streamer_test.js
  api/tests/prescription/learner-management/integration/infrastructure/utils/xml/zip_test.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-format_test.js
  api/tests/prescription/learner-management/unit/infrastructure/storage/import-storage_test.js
  api/tests/test-helper.js
  docker-compose.yaml
  docker/docker-compose.yaml
Labels: :rocket: Ready to Merge, team-captains

#7959 [FEAT] Ajouter un message d'erreur spécifique lors de la création de parcours autonome non-autorisée (PIX-10994).
  admin/app/controllers/authenticated/autonomous-courses/new.js
  admin/tests/unit/controllers/authenticated/autonomous-courses/new_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#7999 [FEATURE] Modifier le message de sortie d'épreuve focus lors d'une certification V3 (PIX-11031).
  mon-pix/app/components/challenge-actions.hbs
  mon-pix/app/components/challenge-item-qcm.hbs
  mon-pix/app/components/challenge-item-qcu.hbs
  mon-pix/app/components/challenge-item-qroc.hbs
  mon-pix/app/components/challenge-item-qrocm.hbs
  mon-pix/tests/integration/components/challenge-actions_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#8018 [BUGFIX] Permettre l'affichage du nom de campagne sur plusieurs ligne dans la liste sur PixOrga (PIX-11133)
  orga/app/components/campaign/list.hbs
  orga/app/styles/components/campaign/list.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Design Review OK

#8004 [BUGFIX] Permettre de finaliser une session avec des certifications qui n'ont pas encore de scoring (PIX-11105)
  api/lib/domain/errors.js
  api/lib/infrastructure/repositories/certification-repository.js
  api/src/certification/session/application/http-error-mapper-configuration.js
  api/src/certification/session/domain/errors.js
  api/src/certification/session/domain/usecases/finalize-session.js
  api/src/certification/session/infrastructure/repositories/session-repository.js
  api/tests/certification/session/integration/infrastructure/repositories/session-repository_test.js
  api/tests/certification/session/unit/domain/usecases/finalize-session_test.js
  api/tests/integration/infrastructure/repositories/certification-repository_test.js
  certif/app/controllers/authenticated/sessions/finalize.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-certif

#8024 [BUGFIX] Corrige l'export des campagnes de collecte de profils pour utiliser les chunks correctement (PIX-11141)
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-profiles-collection-export.js
  api/tests/prescription/campaign/unit/infrastrucutre/serializers/csv/campaign-profiles-collection-export_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7976 [FEATURE] Restreindre les informations récupérées pour supprimer un signalement (PIX-11033)
  api/lib/application/preHandlers/authorization.js
  api/lib/domain/usecases/delete-certification-issue-report.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-issue-report-repository.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-course-repository_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-issue-report-repository_test.js
  api/tests/unit/application/preHandlers/authorization_test.js
  api/tests/unit/domain/usecases/delete-certification-issue-report_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8030 [BUGFIX] Retirer les balises '<br>' dans le message lorsque l'utilisateur quitte le focus. (PIX-11148)
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#8006 [FEATURE] Rediriger vers la page de fin de module (PIX-10471)
  mon-pix/app/pods/components/module/grain/component.js
  mon-pix/app/pods/components/module/grain/style.scss
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/components/module/passage/component.js
  mon-pix/app/pods/components/module/passage/template.hbs
  mon-pix/tests/acceptance/module/navigate-into-the-module-passage_test.js
  mon-pix/tests/integration/components/module/grain_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#8021 [FEATURE] Ajouter un QCM dans le referenciel Modulix (PIX-11099)
  api/src/devcomp/domain/models/QcmProposal.js
  api/src/devcomp/domain/models/element/Element.js
  api/src/devcomp/domain/models/element/QCM.js
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
  api/tests/devcomp/unit/domain/models/QcmProposal_test.js
  api/tests/devcomp/unit/domain/models/element/Image_test.js
  api/tests/devcomp/unit/domain/models/element/QCM_test.js
  api/tests/devcomp/unit/domain/models/element/QCU_test.js
  api/tests/devcomp/unit/domain/models/element/QROCM_test.js
  api/tests/devcomp/unit/domain/models/element/Text_test.js
  api/tests/devcomp/unit/domain/models/element/Video_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/index.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/qcm.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-devcomp

#8045 [BUGFIX] Remise à jour du contenu du didacticiel Modulix (image et vidéo)
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Labels: :rocket: Ready to Merge, team-devcomp

#8017 [FEATURE] Ne pas écraser le statut "endedBySupervisor" à la finalisation d'une session (pix-11082)
  api/lib/domain/models/CertificationAssessment.js
  api/tests/unit/domain/models/CertificationAssessment_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#8039 [BUGFIX] Afficher correctement le nombre d'une question lors de la reprise d'une certif v3 (PIX-11150)
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-course-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#8026 [FEATURE] Création d'un module MVP sur les adresses IP publique
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Labels: :rocket: Ready to Merge, team-devcomp

#7998 [FEATURE] Remplacer les chiffres de la barre d'avancement par Question X/Y (PIX-10921).
  mon-pix/app/components/progress-bar.hbs
  mon-pix/app/styles/components/_progress-bar.scss
  mon-pix/app/templates/assessments/challenge.hbs
  mon-pix/tests/integration/components/progress-bar_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#8033 [FEATURE] stocke les fichiers d'import dans s3... le retour (PIX-10927)
  .circleci/config.yml
  api/sample.env
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/domain/services/organization-learners-xml-service.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-csv-format.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-xml-format.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/infrastructure/serializers/xml/siecle-parser.js
  api/src/prescription/learner-management/infrastructure/storage/import-storage.js
  api/src/prescription/learner-management/infrastructure/utils/xml/detect-encoding.js
  api/src/prescription/learner-management/infrastructure/utils/xml/siecle-file-streamer.js
  api/src/prescription/learner-management/infrastructure/utils/xml/zip.js
  api/src/shared/config.js
  api/src/shared/storage/infrastructure/providers/S3ObjectStorageProvider.js
  api/tests/prescription/learner-management/integration/infrastructure/serializers/xml/siecle-parser_test.js
  api/tests/prescription/learner-management/integration/infrastructure/utils/xml/detect-encoding_test.js
  api/tests/prescription/learner-management/integration/infrastructure/utils/xml/siecle-file-streamer_test.js
  api/tests/prescription/learner-management/integration/infrastructure/utils/xml/zip_test.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-csv-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-xml-format_test.js
  api/tests/prescription/learner-management/unit/infrastructure/storage/import-storage_test.js
  api/tests/test-helper.js
  docker-compose.yaml
  docker/docker-compose.yaml
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8059 [BUGFIX] Rebascule ember-flatpickr en version 4 sur admin et certif (PIX-11185)
  admin/package-lock.json
  admin/package.json
  certif/package-lock.json
  certif/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8020 [BUGFIX] Ne retourner que la dernière certification publiée d'un élève dans Pix Orga (PIX-10972).
  api/config/server-setup-error-handling.js
  api/db/seeds/data/team-certification/data-builder.js
  api/lib/application/error-manager.js
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/lib/domain/errors.js
  api/lib/infrastructure/repositories/sco-certification-candidate-repository.js
  api/src/certification/course/application/http-error-mapper-configuration.js
  api/src/certification/course/application/organization-controller.js
  api/src/certification/course/application/organization-route.js
  api/src/certification/course/domain/errors.js
  api/src/certification/course/domain/usecases/get-sco-certification-results-by-division.js
  api/src/certification/course/domain/usecases/index.js
  api/src/certification/course/infrastructure/repositories/sco-certification-candidate-repository.js
  api/src/certification/course/routes.js
  api/src/certification/shared/domain/usecases/index.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
  api/tests/certification/course/acceptance/application/organization-controller_test.js
  api/tests/certification/course/integration/infrastructure/repositories/sco-certification-candidate-repository_test.js
  api/tests/certification/course/unit/application/organization-controller_test.js
  api/tests/certification/course/unit/domain/usecases/get-sco-certification-results-by-division_test.js
  api/tests/integration/application/error-manager_test.js
  api/tests/integration/infrastructure/repositories/sco-certification-candidate-repository_test.js
  api/tests/unit/application/organizations/organization-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, Bounded-context-migration

#8022 [TECH] :broom: Réduction du nombre de fichier de configuration à suivre
  shell.nix
Labels: :rocket: Ready to Merge, cross-team, no-review-app

#8062 [BUGFIX] Finalisation session impossible si le test est terminé par le surveillant par le surveillant (PIX-11179)
  api/src/certification/session/infrastructure/repositories/session-repository.js
  api/tests/certification/session/integration/infrastructure/repositories/session-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8061 [BUMP] Met à jour `Ember-flatpickr`.
  admin/app/app.js
  admin/app/styles/app.scss
  admin/ember-cli-build.js
  admin/package-lock.json
  admin/package.json
  certif/app/app.js
  certif/app/styles/app.scss
  certif/ember-cli-build.js
  certif/package-lock.json
  certif/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#8025 [BUGFIX] Réparer les barres de scroll non désirées des épreuves Ember (PIX-11139).
  mon-pix/app/components/challenge-embed-simulator.hbs
  mon-pix/app/styles/components/_challenge-embed-simulator.scss
  mon-pix/tests/integration/components/challenge-embed-simulator_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#8067 [BUGFIX] Afficher correctement le module de didacticiel
  mon-pix/app/pods/qcm/model.js
Labels: :rocket: Ready to Merge, team-devcomp

#8015 [FEATURE] Changer le texte présent sous la barre d'avancement des écrans intermédiaires (PIX-10922).
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#7957 [FEAT] Afficher la liste des missions trouvé dans le LCMS (PIX-10277)
  1d/app/models/mission.js
  1d/app/pods/components/mission-card/card.scss
  1d/app/pods/components/mission-card/completed-mission/template.hbs
  1d/app/pods/components/mission-card/incomplete-mission/template.hbs
  1d/app/pods/identified/missions/list/controller.js
  1d/app/pods/identified/missions/list/route.js
  1d/app/pods/identified/missions/list/template.hbs
  1d/mirage/config.js
  1d/public/images/icons/mission-card/img-area-1.svg
  1d/public/images/icons/mission-card/img-area-2.svg
  1d/public/images/icons/mission-card/img-area-3.svg
  1d/public/images/icons/mission-card/img-area-4.svg
  1d/public/images/icons/mission-card/img-area-5.svg
  1d/public/images/icons/mission-card/internet-search.svg
  1d/public/images/icons/mission-card/personal-data.svg
  1d/tests/acceptance/display-missions-list_test.js
  1d/tests/helpers/identify-learner.js
  api/lib/infrastructure/datasources/learning-content/area-datasource.js
  api/lib/infrastructure/repositories/area-repository.js
  api/src/school/application/assessment-controller.js
  api/src/school/application/mission-controller.js
  api/src/school/application/mission-route.js
  api/src/school/application/organization-learner-controller.js
  api/src/school/application/school-controller.js
  api/src/school/domain/models/Mission.js
  api/src/school/domain/usecases/find-all-missions.js
  api/src/school/domain/usecases/get-organization-learner-with-completed-mission-ids.js
  api/src/school/domain/usecases/get-school-by-code.js
  api/src/school/domain/usecases/index.js
  api/src/school/infrastructure/datasources/learning-content/mission-datasource.js
  api/src/school/infrastructure/repositories/challenge-repository.js
  api/src/school/infrastructure/repositories/mission-repository.js
  api/src/school/infrastructure/repositories/organization-learner-repository.js
  api/src/school/infrastructure/serializers/mission-serializer.js
  api/tests/integration/infrastructure/repositories/area-repository_test.js
  api/tests/school/integration/application/assessment-controller_test.js
  api/tests/school/integration/application/mission-controller_test.js
  api/tests/school/integration/domain/usecases/find-all-missions_test.js
  api/tests/school/integration/domain/usecases/get-assessment-by-id_test.js
  api/tests/school/integration/domain/usecases/get-next-challenge_test.js
  api/tests/school/integration/domain/usecases/get-organization-learner-with-completed-mission-ids_test.js
  api/tests/school/integration/domain/usecases/get-school-by-code_test.js
  api/tests/school/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/school/integration/infrastructure/repositories/organization-learners-repository_test.js
  api/tests/school/unit/application/assessment-controller_test.js
  api/tests/school/unit/application/mission-route_test.js
  api/tests/school/unit/application/organization-learner-controller_test.js
  api/tests/school/unit/application/school-controller_test.js
  api/tests/tooling/learning-content-builder/build-area.js
  api/tests/tooling/learning-content-builder/build-mission.js
  api/tests/tooling/learning-content-builder/index.js
  api/tests/unit/infrastructure/datasources/learning-content/area-datasource_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/mission-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#5867 [TECH] Introduit la notion d'ApplicationTransaction (PIX-11205)
  api/src/prescription/campaign-participation/application/learner-participation-controller.js
  api/src/prescription/campaign-participation/domain/usecases/share-campaign-result.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/shared/infrastructure/ApplicationTransaction.js
  api/src/prescription/shared/infrastructure/utils/async-local-storage.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/prescription/campaign-participation/unit/application/learner-participation-controller_test.js
  api/tests/prescription/campaign-participation/unit/domain/usecases/share-campaign-result_test.js
  api/tests/prescription/shared/unit/infrastructure/application-transaction_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#7917 [FEATURE] Changer Pôle Emploi en France Travail sur les différents écrans du parcours PE (PIX-10516)
  admin/app/components/users/user-detail-personal-information.js
  admin/app/controllers/authenticated/users/get/information.js
  admin/tests/unit/components/users/user-detail-personal-information_test.js
  api/db/seeds/data/team-acces/build-users.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
  api/tests/integration/domain/services/authentication/pole-emploi-oidc-authentication-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#8065 [TECH] stocke le fichier d'import fregata sur s3 (PIX-11063)
  api/src/prescription/learner-management/domain/services/organization-learners-csv-service.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-csv-format.js
  api/tests/prescription/learner-management/integration/domain/services/organization-learners-csv-service_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-csv-format_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8074 [FEATURE] Affichage dynamique des objectifs pour la page de présentation et la page de fin d'une mission(Pix-10278)
  1d/app/models/mission.js
  1d/app/pods/assessment/results/controller.js
  1d/app/pods/assessment/results/template.hbs
  1d/app/pods/identified/missions/list/route.js
  1d/app/pods/identified/missions/mission/controller.js
  1d/app/pods/identified/missions/mission/template.hbs
  1d/mirage/factories/mission.js
  1d/tests/acceptance/display-mission-info_test.js
  1d/tests/acceptance/end-mission_test.js
  1d/translations/fr.json
  api/src/school/application/mission-controller.js
  api/src/school/domain/services/inject-code-from-area-to-mission.js
  api/src/school/domain/usecases/find-all-missions.js
  api/src/school/domain/usecases/get-mission.js
  api/src/school/infrastructure/repositories/mission-repository.js
  api/src/school/infrastructure/serializers/mission-serializer.js
  api/tests/school/integration/application/mission-controller_test.js
  api/tests/school/integration/domain/usecases/get-mission_test.js
  api/tests/school/integration/infrastructure/repositories/mission-repository_test.js
  api/tests/school/unit/domain/services/inject-code-from-area-to-mission_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#8047 [BUGFIX] Corriger l'affichage de la progression dans l'export des CSV (PIX-11163)
  api/lib/infrastructure/repositories/knowledge-element-repository.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-assessment-results-to-stream.js
  api/tests/integration/infrastructure/repositories/knowledge-element-repository_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-assessment-results-to-stream_test.js
  api/tests/prescription/campaign/unit/domain/usecases/start-writing-campaign-assessment-results-to-stream_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8076 [BUGFIX] Corriges l'affichage des participantExternalId sur les participations dans PixAdmin (PIX-11214)
  admin/app/components/campaigns/participation-row.hbs
  admin/app/styles/globals/tables.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#7915 [FEATURE] Ajouter un label "organisation enfant" sur la page d'une organisation enfant (PIX-10050)
  admin/app/components/organizations/information-section-view.hbs
  admin/app/models/organization.js
  admin/app/styles/authenticated/organizations/get.scss
  admin/tests/integration/components/organizations/information-section-view_test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/lib/domain/models/organizations-administration/OrganizationForAdmin.js
  api/lib/infrastructure/repositories/organization-for-admin-repository.js
  api/lib/infrastructure/serializers/jsonapi/organizations-administration/organization-for-admin-serializer.js
  api/tests/acceptance/application/organizations-administration/organization-administration-get_test.js
  api/tests/integration/infrastructure/repositories/organization-for-admin-repository_test.js
  api/tests/tooling/domain-builder/factory/build-organization-for-admin.js
  api/tests/unit/infrastructure/serializers/jsonapi/organization-for-admin-serializer_test.js
Labels: :rocket: Ready to Merge, team-acces

#8079 [TECH] Deplacement des versions de navigateurs pour docker (PIX-11235)
  1d/config/targets.js
  admin/config/targets.js
  certif/config/targets.js
  config/targets.js
  mon-pix/config/targets.js
  orga/config/targets.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, no-review-app

#8058 [FEATURE] Ajouter la vérification d'un QCM pour modulix (PIX-11134)
  api/src/devcomp/domain/models/QcmCorrectionResponse.js
  api/src/devcomp/domain/models/element/QCM-for-answer-verification.js
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/src/devcomp/infrastructure/serializers/jsonapi/element-answer-serializer.js
  api/tests/devcomp/acceptance/application/passages/passage-controller_test.js
  api/tests/devcomp/integration/domain/models/element/QCMForAnswerVerification_test.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
  api/tests/devcomp/unit/domain/models/QcmCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/element/QCM-for-answer-verification_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/element-answer-serializer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8073 [BUGFIX] Re finalisation session impossible si le test est terminé par la finalisation (PIX-11215)
  api/lib/domain/models/CertificationAssessment.js
  api/src/certification/session/infrastructure/repositories/session-repository.js
  api/tests/certification/session/integration/infrastructure/repositories/session-repository_test.js
  api/tests/unit/domain/models/CertificationAssessment_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8019 [BUGFIX] Modifier les noms des types d'organisation en réseau (PIX-11038)
  admin/tests/acceptance/authenticated/organizations/get/children_test.js
  admin/tests/integration/components/organizations/children/list_test.js
  admin/tests/integration/components/organizations/information-section-view_test.js
  admin/translations/fr.json
  api/lib/application/organizations/index.js
Labels: :rocket: Ready to Merge, team-acces

#8060 [TECH] Mettre à jour ember-data sur PixOrga (PIX-11204)
  orga/app/components/campaign/analysis/recommendations.js
  orga/app/components/layout/user-logged-menu.js
  orga/app/components/selectable-list.js
  orga/app/components/tube/list.js
  orga/app/models/area.js
  orga/app/models/campaign-profile.js
  orga/app/models/competence.js
  orga/app/services/current-user.js
  orga/package-lock.json
  orga/package.json
  orga/tests/acceptance/campaign-parameters_test.js
  orga/tests/acceptance/campaign-update_test.js
  orga/tests/acceptance/join-request_test.js
  orga/tests/helpers/test-init.js
  orga/tests/integration/components/campaign/create-form_test.js
  orga/tests/integration/components/team/members-list-item_test.js
  orga/tests/integration/components/tube/list_test.js
  orga/tests/unit/components/tube/list_test.js
  orga/tests/unit/models/target-profile_test.js
  orga/tests/unit/models/user_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-prescription, cross-team

#8086 [BUGFIX] Rendre les placeholders des inputs sur Pix Admin (PIX-11258)
  admin/app/components/trainings/create-or-update-training-form.hbs
  admin/app/components/trainings/edit-trigger-threshold.hbs
  admin/app/templates/authenticated/users/list.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8063 [FEATURE] Ajout d'une intro au module adresse IP publique (PIX-11167)
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  mon-pix/app/pods/components/module/passage/styles.scss
Labels: :rocket: Ready to Merge, team-devcomp

#8023 [FEATURE] Afficher la date de fin de certification lorsque le candidat n'a pas répondu à toutes les questions (PIX-11083)
  admin/app/components/certifications/certification/details-v3.hbs
  admin/app/components/certifications/certification/details-v3.js
  admin/app/models/v3-certification-course-details-for-administration.js
  admin/tests/integration/components/certifications/certification/details-v3_test.js
  admin/tests/unit/components/certifications/certification/details-v3_test.js
  admin/tests/unit/models/v3-certification-course-details-for-administration_test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/db/database-builder/factory/build-certification-course.js
  api/db/migrations/20240209103538_add-ended-at-column-to-certification-course.js
  api/lib/domain/events/index.js
  api/lib/domain/models/CertificationAssessment.js
  api/lib/domain/models/CertificationChallenge.js
  api/lib/domain/models/CertificationChallengeWithType.js
  api/lib/domain/usecases/end-assessment-by-supervisor.js
  api/lib/domain/usecases/index.js
  api/scripts/certification/generate-certification-results.js
  api/scripts/certification/generate-last-assessments-score.js
  api/scripts/certification/launch-auto-jury-for-session.js
  api/scripts/certification/trigger-autojury-on-finalized-sessions.js
  api/src/certification/course/domain/models/V3CertificationCourseDetailsForAdministration.js
  api/src/certification/course/domain/usecases/end-assessment-by-supervisor.js
  api/src/certification/course/infrastructure/repositories/v3-certification-course-details-for-administration-repository.js
  api/src/certification/course/infrastructure/serializers/jsonapi/v3-certification-course-details-for-administration-serializer.js
  api/src/certification/shared/domain/usecases/index.js
  api/src/certification/shared/infrastructure/repositories/certification-assessment-repository.js
  api/tests/acceptance/application/certification-candidates/certification-candidates-controller_test.js
  api/tests/certification/course/acceptance/application/certification-course-route_test.js
  api/tests/certification/course/unit/domain/usecases/end-assessment-by-supervisor_test.js
  api/tests/certification/course/unit/infrasctructure/serializers/jsonapi/v3-certification-course-details-for-administration-serializer_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-assessment-repository_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-challenge-repository_test.js
  api/tests/integration/domain/event/handle-complementary-certifications-scoring_test.js
  api/tests/tooling/domain-builder/factory/build-certification-assessment.js
  api/tests/tooling/domain-builder/factory/build-certification-challenge-with-type.js
  api/tests/tooling/domain-builder/factory/build-certification-challenge.js
  api/tests/unit/domain/events/handle-auto-jury_test.js
  api/tests/unit/domain/models/CertificationAssessment_test.js
  api/tests/unit/domain/usecases/end-assessment-by-supervisor_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#8080 [TECH] Revue Matomo pour Modulix (PIX-11162)
  mon-pix/app/pods/components/module/grain/component.js
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/components/module/image/component.js
  mon-pix/app/pods/components/module/passage/component.js
  mon-pix/app/pods/components/module/passage/template.hbs
  mon-pix/app/pods/components/module/video/component.js
  mon-pix/tests/integration/components/module/grain_test.js
  mon-pix/tests/integration/components/module/image_test.js
  mon-pix/tests/integration/components/module/passage_test.js
  mon-pix/tests/integration/components/module/video_test.js
  mon-pix/tests/unit/components/module/image_test.js
  mon-pix/tests/unit/components/module/video_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8085 [FEATURE] Ajout des traductions en anglais (PIX-11176)
  admin/app/components/certification-centers/information-view.hbs
  admin/app/templates/authenticated/sessions/list.hbs
  admin/tests/integration/components/certification-centers/information-view_test.js
  admin/translations/en.json
  admin/translations/fr.json
  mon-pix/translations/en.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#8093 [FEATURE] créer la table organization-imports (PIX-11255)
  api/db/migrations/20240216103739_create-organization-imports.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#8084 [TECH] Permettre de tracer les challenge non trouver en certification (PIX-11261)
  api/src/certification/shared/infrastructure/repositories/certification-challenge-repository.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8089 [FEATURE] Création du module distinguer-vrai-faux-sur-internet (MODC-26) (PIX-11267)
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/qcm.js
  mon-pix/app/pods/components/module/image/styles.scss
Labels: :rocket: Ready to Merge, team-devcomp

#8096 [TECH] Utiliser les bon arguments des couleurs sur les PixButton sur Pix Orga (PIX-11283)
  orga/app/components/campaign/activity/delete-participation-modal.hbs
  orga/app/components/campaign/settings/view.hbs
  orga/app/components/organization-participant/action-bar.hbs
  orga/app/components/organization-participant/deletion-modal.hbs
  orga/app/components/sup-organization-participant/action-bar.hbs
  orga/app/components/sup-organization-participant/modal/deletion.hbs
  orga/app/components/sup-organization-participant/modal/replace-students-modal.hbs
  orga/app/components/team/leave-organization-modal.hbs
  orga/app/components/team/remove-member-modal.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8100 [TECH] Utiliser les bon arguments couleurs sur les PixButton dans PixCertif (Pix-11287)
  certif/app/components/select-referer-modal.hbs
  certif/app/components/session-delete-confirm-modal.hbs
  certif/app/components/session-supervising/confirmation-modal.hbs
  certif/app/components/session-supervising/handle-live-alert-modal.hbs
  certif/app/templates/authenticated/sessions/details/parameters.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, team-prescription

#8098 [TECH] Utiliser les bon arguments de couleurs sur PixAdmin (PIX-11284)
  admin/app/components/actions-on-users-role-in-organization.hbs
  admin/app/components/administration/learning-content.hbs
  admin/app/components/autonomous-courses/create-autonomous-course-form.hbs
  admin/app/components/autonomous-courses/update-autonomous-course-form.hbs
  admin/app/components/badges/badge.hbs
  admin/app/components/campaigns/update.hbs
  admin/app/components/certification-centers/information-edit.hbs
  admin/app/components/certification-centers/invitations.hbs
  admin/app/components/certification-centers/membership-item-actions.hbs
  admin/app/components/confirm-popup.hbs
  admin/app/components/organizations/creation-form.hbs
  admin/app/components/organizations/information-section-edit.hbs
  admin/app/components/organizations/information-section-view.hbs
  admin/app/components/organizations/invitations.hbs
  admin/app/components/organizations/list-items.hbs
  admin/app/components/organizations/places-lot-creation-form.hbs
  admin/app/components/organizations/places.hbs
  admin/app/components/organizations/places/list.hbs
  admin/app/components/organizations/target-profiles-section.hbs
  admin/app/components/stages/update-stage.hbs
  admin/app/components/target-profiles/badge-form.hbs
  admin/app/components/target-profiles/badge-form/criteria.hbs
  admin/app/components/target-profiles/badges.hbs
  admin/app/components/target-profiles/create-target-profile-form.hbs
  admin/app/components/target-profiles/stages.hbs
  admin/app/components/target-profiles/stages/new-stage.hbs
  admin/app/components/target-profiles/stages/stage.hbs
  admin/app/components/target-profiles/target-profile.hbs
  admin/app/components/target-profiles/update-target-profile.hbs
  admin/app/components/team/list.hbs
  admin/app/components/trainings/create-or-update-training-form.hbs
  admin/app/components/users/campaign-participations.hbs
  admin/app/components/users/certification-centers/membership-item-actions.hbs
  admin/app/components/users/user-detail-personal-information/authentication-method.hbs
  admin/app/components/users/user-detail-personal-information/organization-learner-information.hbs
  admin/app/components/users/user-overview.hbs
  admin/app/templates/authenticated/certifications/certification/informations.hbs
  admin/app/templates/authenticated/certifications/certification/neutralization.hbs
  admin/app/templates/authenticated/trainings/training/triggers/edit.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, cross-team

#8099 [TECH] Utiliser les bon paramètres couleurs sur PixAPP (PIX-11286)
  mon-pix/app/components/account-recovery/confirmation-step.hbs
  mon-pix/app/components/campaign-share-button.hbs
  mon-pix/app/components/challenge-actions.hbs
  mon-pix/app/components/challenge-embed-simulator.hbs
  mon-pix/app/components/checkpoint-continue.hbs
  mon-pix/app/components/competence-card-default.hbs
  mon-pix/app/components/feedback-panel.hbs
  mon-pix/app/components/routes/campaigns/assessment/skill-review.hbs
  mon-pix/app/components/scorecard-details.hbs
  mon-pix/app/components/timed-challenge-instructions.hbs
  mon-pix/app/templates/components/focused-certification-challenge-instructions.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, cross-team

#8103 [BUGFIX] Autoriser le champ participantExternalId à s'afficher sur plusieurs ligne (PIX-11288)
  orga/app/components/campaign/activity/participants-list.hbs
  orga/app/components/campaign/results/assessment-list.hbs
  orga/app/components/campaign/results/assessment-row.hbs
  orga/app/components/campaign/results/profile-list.hbs
  orga/app/styles/globals/tables.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8097 [FEATURE] Créé des scripts pour générer des élements Modulix (PIX-11270)
  api/scripts/modulix/get-sample-image-element.js
  api/scripts/modulix/get-sample-qcm-element.js
  api/scripts/modulix/get-sample-qcu-element.js
  api/scripts/modulix/get-sample-qrocm-element.js
  api/scripts/modulix/get-sample-text-element.js
  api/scripts/modulix/get-sample-video-element.js
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/image.sample.js
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/qcm.sample.js
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/qcu.sample.js
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/qrocm.sample.js
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/text.sample.js
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/video.sample.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-validation_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8091 [BUGFIX] Permettre de renvoyer un fichier PDF / JSON du profil cible ayant des caractères spéciaux (PIX-11265)
  admin/app/components/target-profiles/target-profile.hbs
  admin/app/components/target-profiles/target-profile.js
  admin/app/models/target-profile.js
  api/lib/infrastructure/utils/request-response-utils.js
  api/src/prescription/target-profile/application/admin-target-profile-controller.js
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/src/prescription/target-profile/domain/usecases/get-target-profile-content-as-json.js
  api/tests/prescription/campaign/unit/application/campaign-detail-controller_test.js
  api/tests/prescription/target-profile/acceptance/application/admin-target-profile-route_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profile-controller_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profiles-route_test.js
  api/tests/prescription/target-profile/unit/domain/usecases/get-target-profile-content-as-json_test.js
  api/tests/unit/infrastructure/utils/request-response-utils_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8083 [BUGFIX] Erreur lors du patch d'une thématique dans le cache LCMS de recette (PIX-11260)
  api/lib/infrastructure/datasources/learning-content/index.js
  api/tests/unit/application/cache/cache-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-contenu

#8028 [FEATURE] Utiliser la librairie openid-client (PIX-11130)
  api/config/setup-oidc-authentication-service-registry.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/lib/application/error-manager.js
  api/lib/domain/errors.js
  api/lib/domain/services/authentication/GoogleOidcAuthenticationService.js
  api/lib/domain/services/authentication/authentication-service-registry.js
  api/lib/domain/services/authentication/cnav-oidc-authentication-service.js
  api/lib/domain/services/authentication/fwb-oidc-authentication-service.js
  api/lib/domain/services/authentication/oidc-authentication-service.js
  api/lib/domain/services/authentication/paysdelaloire-oidc-authentication-service.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
  api/lib/domain/usecases/authentication/authenticate-oidc-user.js
  api/lib/infrastructure/plugins/index.js
  api/package-lock.json
  api/package.json
  api/sample.env
  api/server.js
  api/src/shared/application/error-manager.js
  api/src/shared/config.js
  api/src/shared/domain/errors.js
  api/tests/acceptance/application/authentication/oidc/authentication-url-route-get_test.js
  api/tests/acceptance/application/authentication/oidc/token-route-post_test.js
  api/tests/acceptance/application/pole-emploi/pole-emploi-controller_test.js
  api/tests/shared/unit/application/error-manager_test.js
  api/tests/shared/unit/domain/errors_test.js
  api/tests/test-helper.js
  api/tests/tooling/server/hapi-server-with-test-oidc-provider.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
  api/tests/unit/application/error-manager_test.js
  api/tests/unit/domain/services/authentication/authentication-service-registry_test.js
  api/tests/unit/domain/services/authentication/cnav-oidc-authentication-service_test.js
  api/tests/unit/domain/services/authentication/oidc-authentication-service_test.js
  api/tests/unit/domain/services/authentication/pole-emploi-oidc-authentication-service_test.js
  api/tests/unit/domain/usecases/authentication/authenticate-oidc-user_test.js
  api/tests/unit/setup-oidc-authentication-service-registry_test.js
Labels: :rocket: Ready to Merge, team-acces

#8101 [FEATURE] Afficher les missions dans Pix orga (Pix-11196)
  api/src/school/application/mission-route.js
  api/src/school/domain/models/Mission.js
  api/src/school/domain/services/inject-code-from-area-to-mission.js
  api/src/school/domain/services/inject-complement-data-to-mission.js
  api/src/school/domain/usecases/find-all-missions.js
  api/src/school/domain/usecases/get-mission.js
  api/src/school/domain/usecases/index.js
  api/src/school/infrastructure/serializers/mission-serializer.js
  api/tests/school/integration/application/mission-controller_test.js
  api/tests/school/integration/domain/usecases/find-all-missions_test.js
  api/tests/school/integration/domain/usecases/get-mission_test.js
  api/tests/school/unit/application/mission-route_test.js
  api/tests/school/unit/domain/services/inject-code-from-area-to-mission_test.js
  api/tests/school/unit/domain/services/inject-complement-data-to-mission_test.js
  orga/app/adapters/mission.js
  orga/app/models/mission.js
  orga/app/router.js
  orga/app/routes/authenticated/missions.js
  orga/app/routes/authenticated/missions/list.js
  orga/app/styles/app.scss
  orga/app/styles/pages/authenticated/mission.scss
  orga/app/templates/authenticated/missions.hbs
  orga/app/templates/authenticated/missions/list.hbs
  orga/mirage/config.js
  orga/mirage/factories/mission.js
  orga/mirage/serializers/mission.js
  orga/tests/acceptance/missions-list_test.js
  orga/tests/unit/adapters/mission_test.js
  orga/tests/unit/routes/authenticated/missions_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#8107 [TECH] Protéger la route récupérant la liste des fournisseurs d'identité sur Pix Admin (PIX-10706)
  api/lib/application/authentication/oidc/index.js
Labels: :rocket: Ready to Merge, team-acces

#8106 [BUGFIX] Affichage le pourcentage de réussite qu'une fois sur la page de résultat (PIX-10469).
  orga/app/components/participant/assessment/header.hbs
  orga/tests/integration/components/participant/assessment/header_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8078 [BUGFIX] Supprimer les feedbacks précédents lorsqu'un utilisateur repasse un module (PIX-11175)
  mon-pix/app/adapters/element-answer.js
  mon-pix/app/pods/components/module/grain/component.js
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/components/module/passage/template.hbs
  mon-pix/app/pods/components/module/qcu/component.js
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/app/pods/components/module/qrocm/component.js
  mon-pix/app/pods/components/module/qrocm/template.hbs
  mon-pix/app/pods/element-answer/model.js
  mon-pix/app/pods/grain/model.js
  mon-pix/app/pods/module/get/controller.js
  mon-pix/app/pods/module/get/template.hbs
  mon-pix/app/pods/passage/model.js
  mon-pix/mirage/routes/modules/submit-answer.js
  mon-pix/mirage/serializers/element-answer.js
  mon-pix/tests/acceptance/module/retake_completed_module_test.js
  mon-pix/tests/acceptance/module/verify-qcu_test.js
  mon-pix/tests/integration/components/module/grain_test.js
  mon-pix/tests/integration/components/module/passage_test.js
  mon-pix/tests/integration/components/module/qcu_test.js
  mon-pix/tests/integration/components/module/qrocm_test.js
  mon-pix/tests/unit/adapters/element-answer_test.js
  mon-pix/tests/unit/components/module/qcu_test.js
  mon-pix/tests/unit/controllers/modules/get_test.js
  mon-pix/tests/unit/models/modules/grain_test.js
  mon-pix/tests/unit/models/modules/passage_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#8082 [TECH] Extraction d'une erreur spécifique pour pix 1d : `SchoolNotFoundError`
  api/src/school/domain/school-errors.js
  api/src/school/infrastructure/repositories/school-repository.js
  api/tests/school/integration/infrastructure/repositories/school-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, 🎒👧🏽👦🏾 Pix1D, Bounded-context-migration

#8110 [FEATURE] Valider l'HTML des champs qui requièrent de l'HTML (PIX-10242)
  api/.eslintrc.cjs
  api/package-lock.json
  api/package.json
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  api/tests/devcomp/acceptance/application/passages/passage-controller_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/module-datasource_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/image.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/qcm.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/qcu.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/qrocm.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/text.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/video.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-validation_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/utils.js
Labels: :rocket: Ready to Merge, team-devcomp

#8095 [TECH] Migration de fichiers vers src.
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/lib/domain/models/index.js
  api/lib/domain/services/scoring/scoring-certification-service.js
  api/lib/domain/usecases/simulate-flash-scoring.js
  api/lib/domain/usecases/simulate-old-scoring.js
  api/lib/routes.js
  api/src/certification/course/domain/usecases/abort-certification-course.js
  api/src/certification/course/domain/usecases/create-certification-challenge-live-alert.js
  api/src/certification/scoring/domain/models/CertificationAssessmentScore.js
  api/src/certification/scoring/domain/models/CertificationAssessmentScoreV3.js
  api/src/certification/session/application/certification-report-controller.js
  api/src/certification/session/application/certification-report-route.js
  api/src/certification/session/domain/usecases/save-certification-issue-report.js
  api/src/certification/session/routes.js
  api/src/certification/shared/domain/usecases/index.js
  api/src/shared/application/assessments/assessment-controller.js
  api/tests/certification/course/unit/domain/usecases/abort-certification-course_test.js
  api/tests/certification/course/unit/domain/usecases/create-certification-challenge-live-alert_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentScoreV3_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentScore_test.js
  api/tests/certification/session/acceptance/application/certification-report-controller_test.js
  api/tests/certification/session/unit/application/certification-report-controller_test.js
  api/tests/certification/session/unit/application/certification-report-route_test.js
  api/tests/certification/session/unit/domain/usecases/save-certification-issue-report_test.js
  api/tests/integration/domain/usecases/abort-certification-course_test.js
  api/tests/integration/domain/usecases/simulate-flash-scoring_test.js
  api/tests/integration/domain/usecases/simulate-old-scoring_test.js
  api/tests/shared/unit/application/assessments/assessment-controller_test.js
  api/tests/tooling/domain-builder/factory/build-certification-assessment-score-v3.js
  api/tests/tooling/domain-builder/factory/build-certification-assessment-score.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#8075 [FEATURE] Résoudre automatiquement les signalements validés par le surveillant (PIX-11207).
  api/db/database-builder/factory/build-certification-report.js
  api/lib/domain/events/handle-auto-jury.js
  api/src/certification/session/domain/usecases/validate-live-alert.js
  api/tests/certification/session/acceptance/application/session-route_test.js
  api/tests/certification/session/unit/domain/usecases/validate-live-alert_test.js
  api/tests/unit/domain/events/handle-auto-jury_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#8057 [FEATURE] Affichage et vérification des QCM (PIX-11100) (PIX-11024) (PIX-11135)
  api/src/devcomp/domain/models/QcmCorrectionResponse.js
  api/src/devcomp/domain/models/element/QCM-for-answer-verification.js
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
  api/src/devcomp/infrastructure/serializers/jsonapi/element-answer-serializer.js
  api/tests/devcomp/acceptance/application/passages/passage-controller_test.js
  api/tests/devcomp/unit/domain/models/QcmCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/element/QCM-for-answer-verification_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/element-answer-serializer_test.js
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/components/module/qcm/component.js
  mon-pix/app/pods/components/module/qcm/styles.scss
  mon-pix/app/pods/components/module/qcm/template.hbs
  mon-pix/app/pods/element/model.js
  mon-pix/tests/acceptance/module/verify-qcm_test.js
  mon-pix/tests/integration/components/module/qcm_test.js
  mon-pix/tests/unit/models/modules/element_test.js
  mon-pix/tests/unit/models/modules/grain_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, Func Review OK, team-devcomp

#8094 [BUGFIX] Mise à jour des seeds pour la configuration de la certif v3 (PIX-11278)
  api/db/seeds/data/team-certification/data-builder.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#8112 [BUGFIX] Afficher la dernière participation partagé d'une collecte de profil dans l'onglet Résultat (PIX-11314)
  api/src/prescription/campaign/infrastructure/repositories/campaign-profiles-collection-participation-summary-repository.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-profiles-collection-participation-summary-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8066 [TECH] Extraction d'une erreur spécifique pour pix 1d : `MissionNotFoundError`
  api/src/school/domain/school-errors.js
  api/src/school/infrastructure/repositories/mission-repository.js
  api/tests/school/integration/infrastructure/repositories/mission-repository_test.js
Labels: :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D, Bounded-context-migration

#8090 [FEATURE] Affichage des commentaires auto jury ou commentaires manuels si absents (PIX-10528).
  api/db/database-builder/factory/build-assessment-result.js
  api/lib/application/certification-courses/certification-course-controller.js
  api/lib/application/certifications/certification-controller.js
  api/lib/domain/models/CertificationResult.js
  api/lib/domain/models/JuryCertification.js
  api/lib/domain/models/PrivateCertificate.js
  api/lib/infrastructure/repositories/certificate-repository.js
  api/lib/infrastructure/repositories/certification-result-repository.js
  api/lib/infrastructure/repositories/jury-certification-repository.js
  api/lib/infrastructure/serializers/jsonapi/jury-certification-serializer.js
  api/lib/infrastructure/serializers/jsonapi/private-certificate-serializer.js
  api/lib/infrastructure/utils/csv/certification-results/CertificationResultsCsvValues.js
  api/src/certification/session/domain/models/Center.js
  api/src/certification/session/domain/models/CenterTypes.js
  api/src/certification/shared/domain/models/JuryComment.js
  api/src/shared/domain/models/asserts.js
  api/tests/acceptance/application/certification-courses/certification-course-controller_test.js
  api/tests/acceptance/application/certifications/index_test.js
  api/tests/acceptance/application/session/session-controller-get-session-results-to-download_test.js
  api/tests/certification/course/acceptance/application/organization-controller_test.js
  api/tests/certification/session/unit/domain/models/Center_test.js
  api/tests/certification/shared/unit/domain/models/JuryComment_test.js
  api/tests/integration/infrastructure/repositories/certificate-repository_private_test.js
  api/tests/integration/infrastructure/repositories/certification-result-repository_test.js
  api/tests/integration/infrastructure/repositories/jury-certification-repository_test.js
  api/tests/shared/unit/domain/models/asserts_test.js
  api/tests/tooling/domain-builder/factory/build-certification-result.js
  api/tests/tooling/domain-builder/factory/build-jury-certification.js
  api/tests/tooling/domain-builder/factory/build-private-certificate.js
  api/tests/tooling/domain-builder/factory/certification/shared/build-jury-comment.js
  api/tests/unit/application/certification-courses/certification-course-controller_test.js
  api/tests/unit/application/certifications/certification-controller_test.js
  api/tests/unit/domain/models/CertificationResult_test.js
  api/tests/unit/domain/models/JuryCertification_test.js
  api/tests/unit/domain/models/PrivateCertificate_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/jury-certification-serializer_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/private-certificate-serializer_test.js
  api/tests/unit/infrastructure/utils/csv/certification-results/CertificationResultsCsvValues_test.js
  api/translations/en.json
  api/translations/fr.json
  api/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#7971 [BUGFIX] Absence de message d'erreur lors de la perte de connexion internet dans l'espace surveillant sur Pix Certif (PIX-11017)
  certif/app/routes/session-supervising.js
  certif/tests/unit/routes/session-supervising_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, Func Review OK, team-certif, Design Review OK

#8111 [BUGFIX] Afficher les bonnes icônes en version néerlandaise (PIX-11249).
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#8116 [FEATURE][ADMIN] Ajouter un formulaire pour rattacher une organisation fille à une organisation mère (PIX-10046)
  admin/app/adapters/organization.js
  admin/app/components/organizations/children/attach-child-form.hbs
  admin/app/components/organizations/children/attach-child-form.js
  admin/app/controllers/authenticated/organizations/get/children.js
  admin/app/routes/authenticated/organizations/get/children.js
  admin/app/services/access-control.js
  admin/app/styles/app.scss
  admin/app/styles/components/organizations/children/attach-child-form.scss
  admin/app/templates/authenticated/organizations/get/children.hbs
  admin/mirage/config.js
  admin/tests/acceptance/authenticated/organizations/get/children_test.js
  admin/tests/integration/components/organizations/children/attach-child-form_test.js
  admin/tests/unit/adapters/organization_test.js
  admin/tests/unit/components/organizations/children/attach-children-form_test.js
  admin/tests/unit/controllers/authenticated/organizations/get/children_test.js
  admin/tests/unit/services/access-control_test.js
  admin/translations/en.json
  admin/translations/fr.json
Labels: :rocket: Ready to Merge, team-acces

#8113 [FEATURE] Ajout d'un schéma dans le module ce-que-revele-ladresse-ip-publique-sur-vous (MODC-18)
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Labels: :rocket: Ready to Merge, team-devcomp

#8127 [BUGFIX] Correction et amélioration générateurs d'éléments Modulix
  api/scripts/modulix/get-sample-image-element.js
  api/scripts/modulix/get-sample-qcm-element.js
  api/scripts/modulix/get-sample-qcu-element.js
  api/scripts/modulix/get-sample-qrocm-element.js
  api/scripts/modulix/get-sample-text-element.js
  api/scripts/modulix/get-sample-video-element.js
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/qrocm.sample.js
Labels: :rocket: Ready to Merge, team-devcomp

#8081 [FEATURE] Filtrer les parcours autonomes de la liste des participations de campagnes (PIX-10674).
  api/lib/domain/read-models/CampaignParticipationOverview.js
  api/lib/domain/read-models/CampaignToJoin.js
  api/lib/infrastructure/repositories/campaign-participation-overview-repository.js
  api/lib/infrastructure/repositories/campaign-participation-repository.js
  api/tests/acceptance/application/users/users-controller-get-campaign-participation-overviews_test.js
  api/tests/acceptance/application/users/users-controller-get-current-user_test.js
  api/tests/integration/domain/usecases/find-user-campaign-participation-overviews_test.js
  api/tests/integration/infrastructure/repositories/campaign-participation-overview-repository_test.js
  api/tests/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/unit/domain/read-models/CampaignParticipationOverview_test.js
  api/tests/unit/domain/read-models/CampaignToJoin_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription

#8119 [FEATURE] Créer le type de CF Modulix (PIX-11275) (PIX-11305)
  admin/app/models/training.js
  api/db/seeds/data/team-devcomp/build-trainings.js
  api/src/devcomp/application/trainings/index.js
  mon-pix/.template-lintrc.js
  mon-pix/app/components/training/card.hbs
  mon-pix/app/components/training/card.js
  mon-pix/app/models/training.js
  mon-pix/public/images/illustrations/trainings/Autoformation-1.svg
  mon-pix/public/images/illustrations/trainings/Autoformation-2.svg
  mon-pix/public/images/illustrations/trainings/Autoformation-3.svg
  mon-pix/public/images/illustrations/trainings/E-learning-1.svg
  mon-pix/public/images/illustrations/trainings/Hybrid-1.svg
  mon-pix/public/images/illustrations/trainings/In-person-1.svg
  mon-pix/public/images/illustrations/trainings/Webinaire-1.svg
  mon-pix/public/images/illustrations/trainings/Webinaire-2.svg
  mon-pix/public/images/illustrations/trainings/Webinaire-3.svg
  mon-pix/tests/unit/components/training/card_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, Func Review OK, team-devcomp

#8124 [BUGFIX] Corrige le lien vers la dernière participation partagée depuis l'activité d'un participant (PIX-11170)
  api/src/prescription/organization-learner/domain/read-models/OrganizationLearnerParticipation.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-activity-repository.js
  api/src/prescription/organization-learner/infrastructure/serializers/jsonapi/organization-learner-activity-serializer.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-learner-activity-repository_test.js
  api/tests/prescription/organization-learner/unit/domain/read-models/OrganizationLearnerParticipation_test.js
  api/tests/prescription/organization-learner/unit/infrastructure/serializers/jsonapi/organization-learner-activity-serializer_test.js
  orga/app/components/organization-learner/activity/participation-row.js
  orga/app/models/campaign-participant-activity.js
  orga/app/models/organization-learner-participation.js
  orga/tests/integration/components/organization-learner/activity/participation-row_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8128 [FEATURE] Ajouter un bandeau beta pour expérimentation (PIX-10992)
  mon-pix/app/pods/components/beta-banner/template.hbs
  mon-pix/app/pods/components/module/details/template.hbs
  mon-pix/app/pods/components/module/passage/template.hbs
  mon-pix/app/pods/components/module/recap/template.hbs
  mon-pix/tests/integration/components/module/details_test.js
  mon-pix/tests/integration/components/module/passage_test.js
  mon-pix/tests/integration/components/module/recap_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, Func Review OK, team-devcomp

#8087 [TECH] Mise à jour du fichier sample.env pour la config docker
  docker/sample.env
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, no-review-app

#8092 [FEATURE] Ajout en DB des configurations pour les niveaux par compétences (PIX-11272)
  api/db/database-builder/factory/build-competence-scoring-configuration.js
  api/db/migrations/20240216103316_add-competence-scoring-configurations-table.js
  api/db/seeds/data/team-certification/create-competence-scoring-configuration.js
  api/db/seeds/data/team-certification/data-builder.js
  api/server.js
  api/src/certification/scoring/application/competence-for-scoring-configuration-controller.js
  api/src/certification/scoring/application/competence-for-scoring-configuration-route.js
  api/src/certification/scoring/domain/usecases/save-competence-for-scoring-configuration.js
  api/src/certification/scoring/infrastructure/repositories/competence-for-scoring-repository.js
  api/src/certification/scoring/routes.js
  api/src/certification/shared/domain/usecases/index.js
  api/tests/certification/scoring/acceptance/application/competence-for-scoring-configuration-route_test.js
  api/tests/certification/scoring/integration/application/competence-for-scoring-configuration-controller_test.js
  api/tests/certification/scoring/integration/infrastructure/repositories/competence-for-scoring-repository_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-complete-assessment_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, certif-next-gen

#8132 [BUGFIX] Bug lors d'un enchainement de 2 QCM (pix-11357)
  1d/app/pods/components/challenge/challenge-item-qcm/component.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#8129 [FEATURE] Supporter l'ajout de nouveau élements dans l'API sans les prendre en compte directement dans le front (PIX-11297).
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
  mon-pix/app/adapters/element-answer.js
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/pods/components/module/image/component.js
  mon-pix/app/pods/components/module/image/template.hbs
  mon-pix/app/pods/components/module/qrocm/component.js
  mon-pix/app/pods/components/module/qrocm/template.hbs
  mon-pix/app/pods/components/module/video/component.js
  mon-pix/app/pods/components/module/video/template.hbs
  mon-pix/app/pods/element-answer/model.js
  mon-pix/app/pods/element/model.js
  mon-pix/app/pods/grain/model.js
  mon-pix/app/pods/image/model.js
  mon-pix/app/pods/module/get/controller.js
  mon-pix/app/pods/passage/model.js
  mon-pix/app/pods/qcm/model.js
  mon-pix/app/pods/qcu/model.js
  mon-pix/app/pods/qrocm/model.js
  mon-pix/app/pods/text/model.js
  mon-pix/app/pods/video/model.js
  mon-pix/mirage/serializers/grain.js
  mon-pix/tests/acceptance/module/navigate-into-the-module-passage_test.js
  mon-pix/tests/acceptance/module/retake_completed_module_test.js
  mon-pix/tests/acceptance/module/verify-qcm_test.js
  mon-pix/tests/acceptance/module/verify-qcu_test.js
  mon-pix/tests/acceptance/module/verify-qrocm_test.js
  mon-pix/tests/integration/components/module/grain_test.js
  mon-pix/tests/integration/components/module/image_test.js
  mon-pix/tests/integration/components/module/passage_test.js
  mon-pix/tests/integration/components/module/qcm_test.js
  mon-pix/tests/integration/components/module/qcu_test.js
  mon-pix/tests/integration/components/module/qrocm_test.js
  mon-pix/tests/integration/components/module/text_test.js
  mon-pix/tests/integration/components/module/video_test.js
  mon-pix/tests/unit/adapters/element-answer_test.js
  mon-pix/tests/unit/components/module/image_test.js
  mon-pix/tests/unit/components/module/qcu_test.js
  mon-pix/tests/unit/components/module/video_test.js
  mon-pix/tests/unit/controllers/modules/get_test.js
  mon-pix/tests/unit/models/module_test.js
  mon-pix/tests/unit/models/modules/element_test.js
  mon-pix/tests/unit/models/modules/grain_test.js
  mon-pix/tests/unit/models/modules/image_test.js
  mon-pix/tests/unit/models/modules/module_test.js
  mon-pix/tests/unit/models/modules/passage_test.js
  mon-pix/tests/unit/models/modules/video_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8114 [FEATURE] Afficher les erreurs sur la page d'import des nouveaux participants/élèves/étudiants (PIX-10954)
  orga/app/components/import.hbs
  orga/app/components/import.js
  orga/app/components/sco-organization-participant/import-card.hbs
  orga/app/components/sup-organization-participant/import-cards/add.hbs
  orga/app/components/sup-organization-participant/import-cards/replace.hbs
  orga/app/controllers/authenticated/import-organization-participants.js
  orga/app/routes/authenticated/import-organization-participants.js
  orga/app/styles/components/import.scss
  orga/app/styles/components/sco-organization-participant/import-card.scss
  orga/app/templates/authenticated/import-organization-participants.hbs
  orga/tests/acceptance/import-organization-participants_test.js
  orga/tests/integration/components/import_test.js
  orga/tests/unit/components/import_test.js
  orga/tests/unit/controllers/authenticated/import-organization-participants_test.js
  orga/tests/unit/routes/authenticated/import-organization-participants_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8144 [BUGFIX] Empêche le job de calcul de résultat de s'effectuer si la participation n'est pas partagée (PIX-11350)
  api/lib/domain/errors.js
  api/lib/domain/usecases/save-computed-campaign-participation-result.js
  api/tests/unit/domain/usecases/save-computed-campaign-participation-result_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8140 [FEATURE] Enregistrer l'userId dans le passage lorsque c'est possible (PIX-11309).
  api/db/database-builder/factory/build-passage.js
  api/db/migrations/20240222101244_add-userId-in-passages.js
  api/src/devcomp/application/passages/controller.js
  api/src/devcomp/domain/models/Passage.js
  api/src/devcomp/domain/usecases/create-passage.js
  api/src/devcomp/infrastructure/repositories/passage-repository.js
  api/src/devcomp/infrastructure/utils/handlerWithDependencies.js
  api/tests/devcomp/acceptance/application/passages/passage-controller_test.js
  api/tests/devcomp/integration/repositories/passage-repository_test.js
  api/tests/devcomp/unit/application/passages/controller_test.js
  api/tests/devcomp/unit/domain/usecases/create-passage_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8118 [FEATURE] Ajout et modification de contenu au module "Mots de passe sécurisés"
  api/src/devcomp/infrastructure/datasources/learning-content/module.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8120 [BUGFIX] Le polyfill randomUUID est absent du packaging (PIX-10976)
  1d/package-lock.json
  1d/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#8150 [FEATURE] Amélioration du design de la page de la liste élèves (pix-11068)
  1d/app/pods/school/divisions/template.hbs
  1d/app/pods/school/school.scss
  1d/app/pods/school/students/controller.js
  1d/app/pods/school/students/template.hbs
  1d/tests/acceptance/access-school_test.js
  1d/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#8139 [FEAT] :safety_vest: Enregistre le `next-challenge.id` dans l'`assessment`
  api/src/school/domain/usecases/get-next-challenge.js
  api/tests/school/integration/domain/usecases/get-next-challenge_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#8136 [TECH] Renommer le terme AuthenticationUrl en AuthorizationUrl (PIX-11070)
  api/config/setup-oidc-authentication-service-registry.js
  api/lib/application/authentication/oidc/index.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/lib/domain/services/authentication/cnav-oidc-authentication-service.js
  api/lib/domain/services/authentication/fwb-oidc-authentication-service.js
  api/lib/domain/services/authentication/google-oidc-authentication-service.js
  api/lib/domain/services/authentication/oidc-authentication-service.js
  api/lib/domain/services/authentication/paysdelaloire-oidc-authentication-service.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
  api/sample.env
  api/src/shared/config.js
  api/tests/acceptance/application/authentication/oidc/authentication-url-route-get_test.js
  api/tests/acceptance/application/authentication/oidc/token-route-post_test.js
  api/tests/integration/domain/services/authentication/GoogleOidcAuthenticationService_test.js
  api/tests/tooling/server/hapi-server-with-test-oidc-provider.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
  api/tests/unit/domain/services/authentication/oidc-authentication-service_test.js
  api/tests/unit/setup-oidc-authentication-service-registry_test.js
  mon-pix/app/routes/authentication/login-oidc.js
  mon-pix/mirage/routes/authentication/oidc/index.js
Labels: :rocket: Ready to Merge, team-acces

#8160 [BUGFIX][API] Ajouter l'import manquant des traductions Néerlandaises (PIX-11218)
  api/translations/index.js
Labels: :rocket: Ready to Merge, team-acces

#8155 [BUGFIX] Vide la table job de PGBOSS après chaque test (PIX-11301)
  api/tests/integration/infrastructure/jobs/JobPgBoss_test.js
  api/tests/integration/infrastructure/jobs/campaign-result/ParticipationResultCalculationJob_test.js
  api/tests/integration/infrastructure/jobs/campaign-result/SendSharedParticipationResultsToPoleEmploiJob_test.js
  api/tests/prescription/campaign-participation/acceptance/application/learner-participation-route_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, cross-team

#8050 [REFACTOR] Améliorer la validation de charge utile de création des RT (PIX-10971).
  api/lib/application/target-profiles/index.js
  api/tests/unit/application/target-profiles/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, no-review-app

#8166 [BUGFIX] Corrige le score par compétences pour les capacités très hautes et très basses (PIX-11395)
  api/src/certification/scoring/domain/models/CompetenceForScoring.js
  api/tests/certification/scoring/unit/domain/models/CompetenceForScoring_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-complete-assessment_test.js
Labels: :rocket: Ready to Merge, Func Review OK, certif-next-gen

#8169 [TECH][API] Améliorer le passage des détails d'une erreur OIDC vers datadog (PIX-11391)
  api/lib/domain/services/authentication/oidc-authentication-service.js
  api/lib/infrastructure/monitoring-tools.js
  api/tests/unit/domain/services/authentication/oidc-authentication-service_test.js
Labels: :rocket: Ready to Merge, team-acces

#8164 [FEATURE][API] Supprimer la contrainte sur la locale dans la table users (PIX-11231)
  api/db/migrations/20240223150108_remove-locale-constraint-in-users-table.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#8172 [FEATURE] Améliorer les messages d'erreur lors de la validation des modules (PIX-11303)
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/module-datasource_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/joi-error-parser.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/joi-error-parser_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-validation_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/utils.js
Labels: :rocket: Ready to Merge, team-devcomp

#8180 [BUGFIX] Réactivation des stats d'accès aux tutos (PIX-11408)
  mon-pix/app/components/tutorials/card.hbs
  mon-pix/app/components/tutorials/card.js
  mon-pix/tests/unit/components/tutorials/card_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8171 [TECH] Restreindre l'accès à la dernière activité aux passages de mission en cours (PIX-11319)
  api/config/server-setup-error-handling.js
  api/lib/domain/usecases/get-current-activity.js
  api/lib/domain/usecases/index.js
  api/src/school/application/activity-answer-controller.js
  api/src/school/application/assessment-controller.js
  api/src/school/application/assessment-route.js
  api/src/school/application/http-error-mapper-configuration.js
  api/src/school/domain/school-errors.js
  api/src/school/domain/usecases/correct-answer.js
  api/src/school/domain/usecases/get-current-activity.js
  api/src/school/domain/usecases/index.js
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/application/assessments/index.js
  api/tests/school/acceptance/application/assessments/assessment-controller_test.js
  api/tests/school/integration/domain/usecases/correct-answer_test.js
  api/tests/school/unit/application/assessment-controller_test.js
  api/tests/school/unit/application/assessment-route_test.js
  api/tests/school/unit/domain/usecases/correct-answer_test.js
  api/tests/school/unit/domain/usecases/get-current-activity_test.js
  api/tests/shared/unit/application/assessments/assessment-controller_test.js
  api/tests/shared/unit/application/assessments/index_test.js
  api/tests/unit/application/activity-answers/activity-answer-controller_test.js
  api/tests/unit/domain/usecases/get-current-activity_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D, Bounded-context-migration

#8194 [TECH] Avoir des erreurs serveurs en anglais (PIX-10792)
  api/src/devcomp/domain/errors.js
  api/src/devcomp/domain/models/ElementAnswer.js
  api/src/devcomp/domain/models/Feedbacks.js
  api/src/devcomp/domain/models/Grain.js
  api/src/devcomp/domain/models/QcuCorrectionResponse.js
  api/src/devcomp/domain/models/QcuProposal.js
  api/src/devcomp/domain/models/QrocmCorrectionResponse.js
  api/src/devcomp/domain/models/QrocmSolutions.js
  api/src/devcomp/domain/models/TransitionText.js
  api/src/devcomp/domain/models/block/BlockInput.js
  api/src/devcomp/domain/models/block/BlockSelect.js
  api/src/devcomp/domain/models/block/BlockSelectOption.js
  api/src/devcomp/domain/models/block/BlockText.js
  api/src/devcomp/domain/models/element/Image.js
  api/src/devcomp/domain/models/element/QCU-for-answer-verification.js
  api/src/devcomp/domain/models/element/QCU.js
  api/src/devcomp/domain/models/element/QROCM-for-answer-verification.js
  api/src/devcomp/domain/models/element/Text.js
  api/src/devcomp/domain/models/element/Video.js
  api/src/devcomp/domain/models/module/Module.js
  api/src/devcomp/domain/services/solution-service-qrocm-ind.js
  api/tests/devcomp/integration/domain/models/Module_test.js
  api/tests/devcomp/unit/domain/models/ElementAnswer_test.js
  api/tests/devcomp/unit/domain/models/Feedbacks_test.js
  api/tests/devcomp/unit/domain/models/Grain_test.js
  api/tests/devcomp/unit/domain/models/QcuCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/QcuProposal_test.js
  api/tests/devcomp/unit/domain/models/QrocmCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/QrocmSolutions_test.js
  api/tests/devcomp/unit/domain/models/TransitionText_test.js
  api/tests/devcomp/unit/domain/models/block/BlockInput_test.js
  api/tests/devcomp/unit/domain/models/block/BlockSelectOption_test.js
  api/tests/devcomp/unit/domain/models/block/BlockSelect_test.js
  api/tests/devcomp/unit/domain/models/block/BlockText_test.js
  api/tests/devcomp/unit/domain/models/element/Image_test.js
  api/tests/devcomp/unit/domain/models/element/QCU-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QCU_test.js
  api/tests/devcomp/unit/domain/models/element/QROCM-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/Text_test.js
  api/tests/devcomp/unit/domain/models/element/Video_test.js
  api/tests/devcomp/unit/domain/models/module/Module_test.js
  api/tests/devcomp/unit/domain/services/solution-service-qrocm-ind_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8158 [TECH] Séparer le lint du test pour PixAPP (PIX-11392)
  .circleci/config.yml
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, cross-team

#8133 [BUGFIX] Corrige le nettoyage intempestif de caractères lors de la recherche sur PixAdmin (PIX-11386)
  admin/app/components/certification-centers/list-items.hbs
  admin/app/components/certification-centers/list-items.js
  admin/app/components/organizations/list-items.hbs
  admin/app/components/organizations/list-items.js
  admin/app/components/organizations/team-section.hbs
  admin/app/components/organizations/team-section.js
  admin/app/components/sessions/list-items.hbs
  admin/app/components/sessions/list-items.js
  admin/app/components/target-profiles/list-summary-items.hbs
  admin/app/components/target-profiles/list-summary-items.js
  admin/app/components/trainings/list-summary-items.hbs
  admin/app/components/trainings/list-summary-items.js
  admin/app/controllers/authenticated/certification-centers/list.js
  admin/app/controllers/authenticated/organizations/get/team.js
  admin/app/controllers/authenticated/sessions/list/all.js
  admin/app/controllers/authenticated/target-profiles/list.js
  admin/app/templates/authenticated/sessions/list/all.hbs
  admin/tests/integration/components/routes/authenticated/sessions/list-items_test.js
  admin/tests/unit/controllers/authenticated/certification-centers/list_test.js
  admin/tests/unit/controllers/authenticated/sessions/list/all_test.js
  admin/tests/unit/controllers/authenticated/target-profiles/list_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#8161 [TECH] Mise à jour des dépendances PixOrga (PIX-11393)
  orga/app/app.js
  orga/app/components/language-switcher.js
  orga/app/models/area.js
  orga/app/models/campaign-analysis.js
  orga/app/models/campaign-assessment-participation-competence-result.js
  orga/app/models/campaign-assessment-participation-result.js
  orga/app/models/campaign-assessment-participation.js
  orga/app/models/campaign-assessment-result-minimal.js
  orga/app/models/campaign-collective-result.js
  orga/app/models/campaign-competence-collective-result.js
  orga/app/models/campaign-participation.js
  orga/app/models/campaign-profile-competence.js
  orga/app/models/campaign-profile.js
  orga/app/models/campaign-profiles-collection-participation-summary.js
  orga/app/models/campaign-tube-recommendation.js
  orga/app/models/campaign.js
  orga/app/models/competence.js
  orga/app/models/framework.js
  orga/app/models/membership.js
  orga/app/models/organization-invitation.js
  orga/app/models/organization-learner-activity.js
  orga/app/models/organization-learner-participation.js
  orga/app/models/organization-learner-statistic.js
  orga/app/models/organization.js
  orga/app/models/prescriber.js
  orga/app/models/sco-organization-participant.js
  orga/app/models/sup-organization-participant.js
  orga/app/models/thematic.js
  orga/app/models/user-orga-setting.js
  orga/app/models/user.js
  orga/app/routes/authenticated/campaigns/campaign/loading.js
  orga/app/routes/authenticated/campaigns/participant-assessment/loading.js
  orga/ember-cli-build.js
  orga/package-lock.json
  orga/package.json
  orga/tests/integration/language-switcher_test.js
  orga/tests/unit/models/campaign-participation_test.js
  orga/tests/unit/models/membership_test.js
  orga/tests/unit/models/organization-invitation-response_test.js
  orga/tests/unit/models/organization-invitation_test.js
  orga/tests/unit/models/organization_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, dependencies
