Repository 1024pix/pix, pull requests merged in 2024-05, with the labels that each got.

#8755 [BUGFIX] Afficher le message d'erreur correct pour un utilisateur qui s'inscrit sur PixOrga avec un email déjà connu (PIX-11342)
  orga/app/components/auth/register-form.js
  orga/tests/acceptance/join_test.js
Labels: :rocket: Ready to Merge, team-acces

#8630 [TECH] :recycle: Déplacement des fichiers utilitaires pour `ODS` vers `src/shared`
  api/lib/domain/services/certification-candidates-ods-service.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/files/candidates-import/fill-candidates-import-sheet.js
  api/src/shared/infrastructure/utils/ods/added-cell-option.js
  api/src/shared/infrastructure/utils/ods/common-ods-utils.js
  api/src/shared/infrastructure/utils/ods/read-ods-utils.js
  api/src/shared/infrastructure/utils/ods/write-ods-utils.js
  api/tests/shared/integration/infrastructure/ods/files/1.5/candidates_import_template-sco.ods
  api/tests/shared/integration/infrastructure/ods/files/1.5/candidates_import_template-with-all-complementary-certifications-sco.ods
  api/tests/shared/integration/infrastructure/ods/files/1.5/candidates_import_template-with-billing-columns-complementary.ods
  api/tests/shared/integration/infrastructure/ods/files/1.5/candidates_import_template-with-billing-columns.ods
  api/tests/shared/integration/infrastructure/ods/files/1.5/candidates_import_template-with-one-complementary-certification-sco.ods
  api/tests/shared/integration/infrastructure/ods/files/default_test.ods
  api/tests/shared/integration/infrastructure/ods/files/empty-table_test.ods
  api/tests/shared/integration/infrastructure/ods/files/fill-candidates-import-sheet_test.js
  api/tests/shared/integration/infrastructure/ods/files/get-content-xml_test.ods
  api/tests/shared/integration/infrastructure/ods/files/newline_test.ods
  api/tests/shared/integration/infrastructure/ods/files/simple-attendance_test.ods
  api/tests/shared/integration/infrastructure/ods/files/unknown-version_test.ods
  api/tests/shared/integration/infrastructure/ods/read-ods-utils_test.js
  api/tests/shared/integration/infrastructure/ods/write-ods-utils_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, Bounded-context-migration

#8808 [TECH] Migrer `/api/admin/organizations/{id}/attach-target-profiles` dans le BC Prescription (PIX-12369)
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/lib/infrastructure/repositories/target-profile-share-repository.js
  api/src/prescription/target-profile/application/admin-target-profile-controller.js
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/src/prescription/target-profile/domain/usecases/attach-target-profiles-to-organization.js
  api/src/prescription/target-profile/infrastructure/repositories/organizations-to-attach-to-target-profile-repository.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
  api/tests/integration/infrastructure/repositories/target-profile-share-repository_test.js
  api/tests/prescription/target-profile/acceptance/application/admin-target-profile-route_test.js
  api/tests/prescription/target-profile/integration/infrastructure/repositories/organizations-to-attach-to-target-profile-repository_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profile-controller_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profiles-route_test.js
  api/tests/prescription/target-profile/unit/domain/usecases/attach-target-profiles-to-organization_test.js
  api/tests/unit/application/organizations/index_test.js
  api/tests/unit/application/organizations/organization-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#8756 [FEATURE] Masquer les indices dans l'activité finale qroc. Module bien-ecrire-son-adresse-mail (MODC-83)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  mon-pix/app/pods/components/module/passage/styles.scss
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8799 [TECH] Migrer la liste des campagnes dans PixAdmin dans le Bounded context Prescription (PIX-12358)
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/src/prescription/campaign/application/campaign-administration-route.js
  api/src/prescription/campaign/application/campaign-adminstration-controller.js
  api/src/prescription/campaign/domain/usecases/find-paginated-campaign-managements.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-management-serializer.js
  api/tests/prescription/campaign/unit/application/campaign-administration-controller_test.js
  api/tests/prescription/campaign/unit/domain/usecases/find-paginated-campaign-managments_test .js
  api/tests/prescription/campaign/unit/infrastrucutre/serializers/jsonapi/campaign-management-serializer_test.js
  api/tests/unit/application/organizations/organization-controller_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#8804 [TECH] Corriger l'unicité des requiredClaims (PIX-12368)
  api/src/authentication/domain/services/oidc-authentication-service.js
  api/tests/authentication/unit/domain/services/oidc-authentication-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#8822 [FEATURE] Corrections de mise en forme et de traductions de "compétences" (PIX-12407)
  mon-pix/translations/es.json
Labels: :rocket: Ready to Merge, Func Review OK

#8811 [TECH] migrer la route `/api/admin/target-profiles/{id}/attach-organizations` dans le BC prescription (PIX-12379)
  api/lib/application/target-profiles/index.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/domain/models/index.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/serializers/jsonapi/target-profile-attach-organization-serializer.js
  api/src/prescription/target-profile/application/admin-target-profile-controller.js
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/src/prescription/target-profile/domain/models/OrganizationsToAttachToTargetProfile.js
  api/src/prescription/target-profile/domain/usecases/attach-organizations-to-target-profile.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/prescription/target-profile/acceptance/application/admin-target-profile-route_test.js
  api/tests/prescription/target-profile/integration/domain/usecases/attach-organizations-from-existing-target-profile_test.js
  api/tests/prescription/target-profile/integration/domain/usecases/attach-organizations-to-target-profile_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profile-controller_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profiles-route_test.js
  api/tests/prescription/target-profile/unit/domain/models/OrganizationsToAttachToTargetProfile_test.js
  api/tests/prescription/target-profile/unit/infrastructure/serializers/jsonapi/target-profile-attach-organization-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-organizations-to-attach-to-target-profile.js
  api/tests/unit/application/target-profiles/index_test.js
  api/tests/unit/application/target-profiles/target-profile-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#8777 [TECH] Migrer tous les services OIDC vers src/authentication (PIX-10194)
  api/lib/domain/usecases/index.js
  api/src/authentication/domain/services/cnav-oidc-authentication-service.js
  api/src/authentication/domain/services/fwb-oidc-authentication-service.js
  api/src/authentication/domain/services/google-oidc-authentication-service.js
  api/src/authentication/domain/services/oidc-authentication-service-registry.js
  api/src/authentication/domain/services/paysdelaloire-oidc-authentication-service.js
  api/src/authentication/domain/services/pole-emploi-oidc-authentication-service.js
  api/tests/authentication/integration/domain/services/fwb-oidc-authentication-service_test.js
  api/tests/authentication/integration/domain/services/pole-emploi-oidc-authentication-service_test.js
  api/tests/authentication/unit/domain/services/fwb-oidc-authentication-service.test.js
  api/tests/authentication/unit/domain/services/google-oidc-authentication-service_test.js
  api/tests/authentication/unit/domain/services/oidc-authentication-service-registry_test.js
  api/tests/authentication/unit/domain/services/pole-emploi-oidc-authentication-service_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#8751 [TECH] Ajout de la colonne de typage des souscriptions à une certification (PIX-1221).
  api/db/database-builder/factory/build-complementary-certification-subscription.js
  api/db/migrations/20240425162400_add-type-column-to-certification-subscriptions-table.js
  api/src/certification/session/infrastructure/repositories/certification-candidate-repository.js
  api/src/certification/shared/domain/models/SubscriptionTypes.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8824 [BUGFIX] Permettre de contribuer des CFs anglophone (PIX-12348)
  admin/app/models/training.js
  api/src/devcomp/application/trainings/index.js
  api/tests/devcomp/integration/infrastructure/repositories/training-repository_test.js
  api/tests/devcomp/integration/infrastructure/repositories/user-recommended-training-repository_test.js
  api/tests/devcomp/unit/application/trainings/index_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8826 [FEATURE] Affiche les épreuves contenant des illustrations/embed et un formulaire sur 2 colonnes (PIX-11513).
  1d/app/models/challenge.js
  1d/app/pods/assessment/results/controller.js
  1d/app/pods/components/challenge/challenge-actions/challenge-actions.scss
  1d/app/pods/components/challenge/challenge.scss
  1d/app/pods/components/challenge/item/challenge-item-proposals.scss
  1d/app/pods/components/challenge/item/challenge-item.scss
  1d/app/pods/components/challenge/item/component.js
  1d/app/pods/components/challenge/item/template.hbs
  1d/app/pods/components/challenge/template.hbs
  1d/app/pods/components/issue/issue.scss
  1d/app/pods/components/robot-dialog/robot-dialog.scss
  1d/app/styles/app.scss
  1d/app/styles/globals/_breakpoints.scss
Labels: Tech Review OK, :rocket: Ready to Merge, 🎒👧🏽👦🏾 PIX JUNIOR

#8793 [TECH] Monter la version de pix-ui
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
  mon-pix/app/components/account-recovery/confirmation-step.hbs
  mon-pix/app/components/account-recovery/update-sco-record-form.hbs
  mon-pix/app/components/authentication/login-or-register-oidc.hbs
  mon-pix/app/components/certification-joiner.hbs
  mon-pix/app/components/feedback-panel.hbs
  mon-pix/app/components/language-switcher.hbs
  mon-pix/app/components/proposals/qcm-proposals.hbs
  mon-pix/app/components/proposals/qcu-proposals.hbs
  mon-pix/app/components/proposals/qrocm-proposal.hbs
  mon-pix/app/components/signin-form.hbs
  mon-pix/app/components/signup-form.hbs
  mon-pix/app/components/solution-panel/qrocm-dep-solution-panel.hbs
  mon-pix/app/components/solution-panel/qrocm-ind-solution-panel.hbs
  mon-pix/app/components/user-account/email-with-validation-form.hbs
  mon-pix/app/components/user-tutorials/filters/item-checkbox.hbs
  mon-pix/app/pods/components/module/qcm/template.hbs
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/app/pods/components/module/qrocm/styles.scss
  mon-pix/app/pods/components/module/qrocm/template.hbs
  mon-pix/app/styles/components/_certification-joiner.scss
  mon-pix/app/styles/components/_challenge-item.scss
  mon-pix/app/styles/components/authentication/_login-or-register-oidc.scss
  mon-pix/app/styles/components/user-account/_update-email-with-validation.scss
  mon-pix/app/templates/module-preview.hbs
  mon-pix/app/templates/terms-of-service.hbs
  mon-pix/package-lock.json
  mon-pix/package.json
  mon-pix/tests/acceptance/authentication/login_test.js
  mon-pix/tests/acceptance/campaigns/campaign-landing-page_test.js
  mon-pix/tests/acceptance/challenge-item-qcu_test.js
  mon-pix/tests/acceptance/fill-in-campaign-code_test.js
  mon-pix/tests/acceptance/inscription_test.js
  mon-pix/tests/acceptance/user-account_test.js
  mon-pix/tests/integration/components/certification-joiner_test.js
  mon-pix/tests/integration/components/language-switcher_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#8832 [FEATURE] Retirer l'enquête Sco dans le bandeau du dashboard (PIX-12345).
  mon-pix/app/components/dashboard/banner.hbs
  mon-pix/app/components/dashboard/banner.js
  mon-pix/app/components/dashboard/content.hbs
  mon-pix/app/components/dashboard/content.js
  mon-pix/app/models/user.js
  mon-pix/config/environment.js
  mon-pix/tests/integration/components/dashboard/content_test.js
  mon-pix/tests/unit/models/user_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#8834 [TECH] Déplacer la route `/api/admin/target-profiles/{id}/detach-organizations` dans son BC (Pix-12422)
  api/lib/application/target-profiles-management/index.js
  api/lib/application/target-profiles-management/target-profile-management-controller.js
  api/lib/domain/usecases/index.js
  api/lib/routes.js
  api/server.js
  api/src/prescription/target-profile/application/admin-target-profile-controller.js
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/src/prescription/target-profile/domain/models/TargetProfile.js
  api/src/prescription/target-profile/domain/usecases/detach-organizations-from-target-profile.js
  api/src/prescription/target-profile/domain/usecases/index.js
  api/src/prescription/target-profile/infrastructure/repositories/target-profile-bond-repository.js
  api/src/prescription/target-profile/infrastructure/serializers/jsonapi/target-profile-detach-organizations-serializer.js
  api/src/shared/infrastructure/serializers/jsonapi/deserializer.js
  api/tests/acceptance/application/target-profiles-management/index_test.js
  api/tests/prescription/target-profile/acceptance/application/admin-target-profile-route_test.js
  api/tests/prescription/target-profile/integration/application/admin-target-profile-route_test.js
  api/tests/prescription/target-profile/integration/infrastructure/repositories/target-profile-bond-repository_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profile-controller_test.js
  api/tests/prescription/target-profile/unit/domain/models/TargetProfile_test.js
  api/tests/prescription/target-profile/unit/domain/usecases/detach-organizations-from-target-profile_test.js
  api/tests/prescription/target-profile/unit/infrastructure/serializers/jsonapi/target-profile-detach-organizations-serializer_test.js
  api/tests/unit/application/target-profiles-management/target-profile-management-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#8828 [FEATURE] ajoute une route pour récupérer les participations d'un prescrit à une campagne (PIX-11638)
  api/db/database-builder/factory/build-campaign-participation.js
  api/src/prescription/campaign-participation/application/campaign-participation-controller.js
  api/src/prescription/campaign-participation/application/campaign-participation-route.js
  api/src/prescription/campaign-participation/domain/read-models/AvailableCampaignParticipation.js
  api/src/prescription/campaign-participation/domain/usecases/get-campaign-participations-for-organization-learner.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/campaign-participation/infrastructure/serializers/jsonapi/available-campaign-participation-serializer.js
  api/src/shared/application/security-pre-handlers.js
  api/tests/prescription/campaign-participation/acceptance/application/campaign-participation-controller_test.js
  api/tests/prescription/campaign-participation/integration/application/campaign-participation-route_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/prescription/campaign-participation/unit/application/campaign-participation-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/campaign-participation-route_test.js
  api/tests/prescription/campaign-participation/unit/domain/usecases/get-campaign-participations-for-organization-learner_test.js
  api/tests/prescription/campaign-participation/unit/infrastructure/serializers/jsonapi/available-campaign-participation-serializer_test.js
  api/tests/unit/application/security-pre-handlers_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#8830 [TECH] Ajouter un test manquant sur les custom required claims (PIX-12401)
  api/tests/identity-access-management/unit/domain/services/oidc-authentication-service_test.js
Labels: :rocket: Ready to Merge, team-acces, no-review-app

#8803 [ORGA] Afficher le décompte des places dans le header de l'application (PIX-12246)
  api/src/prescription/organization-place/application/organization-place-route.js
  api/tests/prescription/organization-place/unit/application/organization-place-route_test.js
  orga/app/components/layout/organization-credit-info.hbs
  orga/app/components/layout/organization-credit-info.js
  orga/app/components/layout/organization-places-or-credit-info.gjs
  orga/app/components/layout/topbar.hbs
  orga/app/routes/authenticated.js
  orga/app/routes/authenticated/places.js
  orga/app/styles/app.scss
  orga/app/styles/components/layout/organization-credit-info.scss
  orga/app/styles/components/layout/organization-places-or-credit-info.scss
  orga/app/styles/components/layout/topbar.scss
  orga/app/templates/authenticated.hbs
  orga/tests/integration/components/layout/organization-credit-info_test.js
  orga/tests/integration/components/layout/organization-places-or-credit-info_test.gjs
  orga/tests/unit/routes/authenticated/places_test.js
  orga/tests/unit/routes/authenticated_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8798 [FEATURE] Conditionner l'affichage de la séparation pix/pix+ dans la modale d'ajout de candidat sur Pix Certif (PIX-12214).
  api/lib/domain/read-models/AllowedCertificationCenterAccess.js
  api/lib/infrastructure/repositories/certification-point-of-contact-repository.js
  api/lib/infrastructure/serializers/jsonapi/certification-point-of-contact-serializer.js
  api/tests/acceptance/application/certification-point-of-contacts/certification-point-of-contact-controller_test.js
  api/tests/acceptance/application/certification-point-of-contacts/certification-point-of-contacts_test.js
  api/tests/integration/domain/usecases/get-certification-point-of-contact_test.js
  api/tests/integration/infrastructure/repositories/certification-point-of-contact-repository_test.js
  api/tests/tooling/domain-builder/factory/build-allowed-certification-center-access.js
  api/tests/unit/application/certification-point-of-contacts/certification-point-of-contact-controller_test.js
  api/tests/unit/domain/usecases/get-certification-point-of-contact_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-point-of-contact-serializer_test.js
  certif/app/components/complementary-certification-options.hbs
  certif/app/components/complementary-certification-options.js
  certif/app/components/new-certification-candidate-modal.hbs
  certif/app/components/new-certification-candidate-modal.js
  certif/app/models/allowed-certification-center-access.js
  certif/tests/acceptance/session-details-certification-candidates_test.js
  certif/tests/integration/components/complementary-certification-options_test.js
  certif/tests/integration/components/new-certification-candidate-modal_test.js
  certif/tests/unit/components/new-certification-candidate-modal_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8833 [TECH] Utiliser le service générique pour les services OIDC non-spécifiques (PIX-10193)
  api/src/identity-access-management/domain/services/cnav-oidc-authentication-service.js
  api/src/identity-access-management/domain/services/oidc-authentication-service-registry.js
  api/src/identity-access-management/domain/services/paysdelaloire-oidc-authentication-service.js
  api/src/identity-access-management/domain/services/pro-sante-connect-oidc-authentication.service.js
Labels: :rocket: Ready to Merge, team-acces

#8844 [TECH] Supprimer les propriétés de configuration des SSO OIDC devenues inutiles (PIX-12439)
  api/lib/infrastructure/validate-environment-variables.js
  api/sample.env
  api/src/shared/config.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#8754 [TECH] Ajoute la certification complementaire PRO_SANTE (PIX-12284)
  api/db/migrations/20240425154143_add-pix-pro-sante.js
  api/db/seeds/data/common/common-builder.js
  api/db/seeds/data/common/tooling/session-tooling.js
  api/db/seeds/data/team-certification/data-builder.js
  api/tests/acceptance/application/certifications/index_test.js
  api/tests/acceptance/application/session/session-with-clea-certified-candidate-controller-get-clea-certified-candidate-data-csv_test.js
  api/tests/certification/complementary-certification/acceptance/application/complementary-certification-controller_test.js
  api/tests/certification/complementary-certification/integration/infrastucture/repositories/complementary-certification-badge-repository_test.js
  api/tests/certification/course/acceptance/application/certification-attestation-route_test.js
  api/tests/certification/course/integration/infrastructure/repositories/certificate-repository_test.js
  api/tests/certification/session/acceptance/application/session-mass-import-route_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-center-repository_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-course-repository_test.js
  api/tests/integration/infrastructure/repositories/certifiable-badge-acquisition-repository_test.js
  api/tests/integration/infrastructure/repositories/certificate-repository_private_test.js
  api/tests/integration/infrastructure/repositories/certificate-repository_shareable_test.js
  api/tests/integration/infrastructure/repositories/certification-result-repository_test.js
  api/tests/integration/infrastructure/repositories/clea-certified-candidate-repository_test.js
  api/tests/integration/infrastructure/repositories/complementary-certification-course-result-repository_test.js
  api/tests/integration/infrastructure/repositories/complementary-certification-habilitation-repository_test.js
  api/tests/integration/infrastructure/repositories/complementary-certification-scoring-criteria-repository_test.js
  api/tests/integration/infrastructure/repositories/jury-certification-summary-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8851 [TECH] Migrer la route GET /api/admin/oidc/identity-providers vers src/identity-access-management (PIX-12435)
  api/lib/application/authentication/oidc/index.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/src/identity-access-management/application/oidc-provider.admin.controller.js
  api/src/identity-access-management/application/oidc-provider.admin.route.js
  api/src/identity-access-management/domain/services/oidc-authentication-service-registry.js
  api/src/identity-access-management/domain/usecases/get-all-identity-providers.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/identity-access-management/infrastructure/serializers/jsonapi/oidc-identity-providers.serializer.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.admin.route.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.admin.controller.test.js
  api/tests/identity-access-management/unit/domain/services/oidc-authentication-service-registry_test.js
  api/tests/identity-access-management/unit/domain/usecases/get-all-identity-providers.usecase.test.js
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/oidc-identity-providers.serializer.test.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#8858 [TECH] Migrer la route GET /api/oidc/identity-providers vers src/identity-access-management (PIX-12446)
  api/lib/application/authentication/oidc/index.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/src/identity-access-management/application/oidc-provider.admin.controller.js
  api/src/identity-access-management/application/oidc-provider.controller.js
  api/src/identity-access-management/application/oidc-provider.route.js
  api/src/identity-access-management/application/routes.js
  api/src/identity-access-management/domain/usecases/get-ready-identity-providers.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.route.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.admin.controller.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/get-ready-identity-providers.usecase.test.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#8620 [TECH] Protège de commit sur la branche dev via Husky
  .husky/detect-learning-content
  .husky/lint
  .husky/pre-commit
  .husky/protect-branch
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, cross-team, no-review-app

#8859 [TECH] Migrer la route GET /api/oidc/redirect-logout-url vers src/identity-access-management (PIX-12450)
  api/lib/application/authentication/oidc/index.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/src/identity-access-management/application/oidc-provider.controller.js
  api/src/identity-access-management/application/oidc-provider.route.js
  api/src/identity-access-management/domain/usecases/get-redirect-logout-url.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.route.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/get-redirect-logout-url.usecase.test.js
  api/tests/integration/application/authentication/oidc/index_test.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#8864 [TECH] Construit l'application 1d dans le répertoire junior.
  package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#8863 [TECH] Migrer la route GET /api/oidc/authorization-url vers src/identity-access-management (PIX-12452)
  api/lib/application/authentication/oidc/index.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/src/identity-access-management/application/oidc-provider.controller.js
  api/src/identity-access-management/application/oidc-provider.route.js
  api/src/identity-access-management/domain/usecases/get-authorization-url.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/tests/acceptance/application/authentication/oidc/authentication-url-route-get_test.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.route.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/get-authorization-url.usecase.test.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#8849 [BUGFIX] Corriger l'alignement de la tooltip des crédits (PIX-12443)
  orga/app/components/layout/organization-places-or-credit-info.gjs
  orga/app/styles/components/campaign/empty-state.scss
  orga/app/styles/components/layout/organization-places-or-credit-info.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8861 [FEATURE] Désactiver les champs de réponses et les embed après avoir répondu (Pix-12425)
  1d/app/pods/components/challenge/challenge-embed-simulator/challenge-embed-simulator.scss
  1d/app/pods/components/challenge/challenge-embed-simulator/template.hbs
  1d/app/pods/components/challenge/challenge-item-qcm/template.hbs
  1d/app/pods/components/challenge/challenge-item-qcu/template.hbs
  1d/app/pods/components/challenge/challenge-item-qrocm/template.hbs
  1d/app/pods/components/challenge/component.js
  1d/app/pods/components/challenge/item/template.hbs
  1d/app/pods/components/challenge/template.hbs
  1d/tests/acceptance/challenge-item-qcm_test.js
  1d/tests/acceptance/challenge-item-qcu_test.js
  1d/tests/acceptance/challenge-item-qroc_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#8829 [FEATURE] Conditionner l'affichage du bloc en fonction de si la complémentaire sélectionnée possède un référentiel externe (PIX-12215)
  api/lib/infrastructure/repositories/certification-point-of-contact-repository.js
  api/lib/infrastructure/serializers/jsonapi/certification-point-of-contact-serializer.js
  api/tests/acceptance/application/certification-point-of-contacts/certification-point-of-contact-controller_test.js
  api/tests/integration/infrastructure/repositories/certification-point-of-contact-repository_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-point-of-contact-serializer_test.js
  certif/app/components/complementary-certification-options.hbs
  certif/app/components/complementary-certification-options.js
  certif/app/components/enrolled-candidates.hbs
  certif/app/components/enrolled-candidates.js
  certif/app/components/new-candidate-modal/complementary-list.hbs
  certif/app/components/new-candidate-modal/complementary-with-referential.hbs
  certif/app/components/new-candidate-modal/index.hbs
  certif/app/components/new-candidate-modal/index.js
  certif/app/styles/app.scss
  certif/app/styles/components/new-candidate-modal.scss
  certif/tests/integration/components/complementary-certification-options_test.js
  certif/tests/integration/components/new-candidate-modal/index_test.js
  certif/tests/unit/components/enrolled-candidates_test.js
  certif/tests/unit/components/new-candidate-modal/index_test.js
Labels: :rocket: Ready to Merge, team-certif

#8888 [TYPO] Correction d'une petite typo dans la page de création d'une orga
  admin/app/components/organizations/creation-form.hbs
Labels: Tech Review OK, :rocket: Ready to Merge

#8831 [FEATURE] Mettre à jour le lien de redirection vers le centre d'aide sur Pix Certif (PIX-12405)
  mon-pix/app/components/certification-joiner.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#8895 [BUGFIX] Le texte alternatif des épreuves ne s'affichait pas si c'était null (PIX-12479)
  mon-pix/app/components/challenge-illustration.hbs
  mon-pix/app/components/challenge-illustration.js
  mon-pix/app/models/challenge.js
  mon-pix/tests/integration/components/challenge-illustration_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-contenu

#8670 [FEATURE] Afficher les étapes de Smart Random® dans le simulateur (PIX-11562).
  admin/app/components/smart-random-simulator/SMART_RANDOM_STEPS.js
  admin/app/components/smart-random-simulator/current-challenge.hbs
  admin/app/components/smart-random-simulator/current-challenge.js
  admin/app/components/smart-random-simulator/smart-random-params.js
  admin/app/components/smart-random-simulator/tubes-viewer.hbs
  admin/app/components/smart-random-simulator/tubes-viewer.js
  admin/app/controllers/authenticated/smart-random-simulator/get-next-challenge.js
  admin/app/styles/app.scss
  admin/app/styles/authenticated/smart-random-simulator/get-next-challenge.scss
  admin/app/styles/components/smart-random-simulator/current-challenge.scss
  admin/app/styles/components/smart-random-simulator/previous-challenges.scss
  admin/app/styles/components/smart-random-simulator/tubes-viewer.scss
  admin/app/templates/authenticated/smart-random-simulator/get-next-challenge.hbs
  admin/tests/integration/components/smart-random-simulator/tubes-viewer_test.js
  admin/tests/unit/components/smart-random-simulator/tubes-viewer_test.js
  admin/tests/unit/controllers/authenticated/smart-random-simulator/get-next-challenge-test.js
  api/src/evaluation/domain/models/SmartRandomStep.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#8882 [FEATURE] Utiliser l'attribut `isDisabled` des PixCheckbox et PixRadioButton (PIX-12471)
  mon-pix/app/pods/components/module/qcm/component.js
  mon-pix/app/pods/components/module/qcm/template.hbs
  mon-pix/app/pods/components/module/qcu/component.js
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/package-lock.json
  mon-pix/package.json
  mon-pix/tests/integration/components/module/qcm_test.js
  mon-pix/tests/integration/components/module/qcu_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8898 [BUGFIX] Rendre visible les checkboxs dont le label est masqué sur Pix Certif (PIX-12482).
  certif/app/components/members-list-item.hbs
  certif/app/components/session-finalization/uncompleted-reports-information-step.hbs
  certif/app/styles/components/finalize.scss
  certif/app/styles/components/members-list-item.scss
  certif/package-lock.json
  certif/package.json
Labels: :rocket: Ready to Merge, team-certif

#8871 [FEATURE] Permettre l'activation de fonctionnalité en masse sur les organisations (PIX-12413)
  admin/app/components/administration/organizations-batch-update.hbs
  admin/app/components/administration/organizations-batch-update.js
  admin/app/services/error-response-handler.js
  admin/app/templates/authenticated/administration.hbs
  admin/tests/integration/components/administration/organizations-batch-update_test.js
  admin/tests/unit/controllers/authenticated/smart-random-simulator/get-next-challenge-test.js
  admin/tests/unit/services/error-response-handler_test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/config/server-setup-error-handling.js
  api/src/organizational-entities/application/http-error-mapper-configuration.js
  api/src/organizational-entities/application/organization-controller.js
  api/src/organizational-entities/application/routes.js
  api/src/organizational-entities/domain/errors.js
  api/src/organizational-entities/domain/models/OrganizationFeature.js
  api/src/organizational-entities/domain/usecases/add-organization-feature-in-batch.js
  api/src/organizational-entities/domain/usecases/index.js
  api/src/organizational-entities/infrastructure/repositories/organization-feature-repository.js
  api/tests/organizational-entities/acceptance/add-organization-features-in-batch_test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-feature-repository_test.js
  api/tests/organizational-entities/unit/application/organization-controller_test.js
  api/tests/organizational-entities/unit/application/organization-route_test.js
  api/tests/organizational-entities/unit/domain/models/OrganizationFeature_test.js
  api/tests/organizational-entities/unit/domain/usecases/add-organization-feature-in-batch_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-prescription

#8910 [TECH] Ne pas exécuter le test flaky
  admin/tests/integration/components/administration/organizations-import_test.js
Labels: :rocket: Ready to Merge, team-acces

#8845 [TECH] Ajouter une valeur par défaut pour LOG_ENABLED
  api/lib/infrastructure/validate-environment-variables.js
  api/sample.env
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#8887 [FEATURE] Ajout d'une bannière avec le code Mission dans Pix Orga (Pix-12444)
  api/src/shared/domain/models/Organization.js
  api/src/shared/prescriber-management/application/prescriber-informations-controller.js
  api/src/shared/prescriber-management/infrastructure/repositories/prescriber-repository.js
  api/src/shared/prescriber-management/infrastructure/serializers/jsonapi/prescriber-serializer.js
  api/tests/integration/infrastructure/repositories/organization-repository_test.js
  api/tests/shared/prescriber-management/integration/infrasctructure/repositories/prescriber-repository_test.js
  api/tests/shared/prescriber-management/integration/infrasctructure/repositories/user-orga-settings-repository_test.js
  orga/app/models/organization.js
  orga/app/routes/authenticated/missions/list.js
  orga/app/services/url.js
  orga/app/styles/pages/authenticated/mission.scss
  orga/app/templates/authenticated/missions/list.hbs
  orga/config/environment.js
  orga/sample.env
  orga/tests/acceptance/authentication_test.js
  orga/tests/acceptance/campaign-activity_test.js
  orga/tests/acceptance/campaign-analysis_test.js
  orga/tests/acceptance/campaign-assessment-results_test.js
  orga/tests/acceptance/campaign-creation_test.js
  orga/tests/acceptance/campaign-details_test.js
  orga/tests/acceptance/campaign-list-all-campaigns_test.js
  orga/tests/acceptance/campaign-list-my-campaigns_test.js
  orga/tests/acceptance/campaign-list_test.js
  orga/tests/acceptance/campaign-parameters_test.js
  orga/tests/acceptance/campaign-participants-individual-analysis_test.js
  orga/tests/acceptance/campaign-participants-individual-results_test.js
  orga/tests/acceptance/campaign-profiles_test.js
  orga/tests/acceptance/campaign-update_test.js
  orga/tests/acceptance/certifications_test.js
  orga/tests/acceptance/import-organization-participants_test.js
  orga/tests/acceptance/join_test.js
  orga/tests/acceptance/missions-details_test.js
  orga/tests/acceptance/missions-list_test.js
  orga/tests/acceptance/organization-participant-list_test.js
  orga/tests/acceptance/preselect-target-profile_test.js
  orga/tests/acceptance/profile_test.js
  orga/tests/acceptance/remove-membership_test.js
  orga/tests/acceptance/sco-organization-participant-list_test.js
  orga/tests/acceptance/sup-organization-participant-list_test.js
  orga/tests/acceptance/switch-organization_test.js
  orga/tests/acceptance/team-creation_test.js
  orga/tests/acceptance/team-list_test.js
  orga/tests/helpers/test-init.js
  orga/tests/unit/services/url_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#8880 [FEATURE] Pix App : Arrêt du support des Elements dans les modules (PIX-12455)
  mon-pix/app/controllers/module-preview.js
  mon-pix/app/pods/components/module/grain/component.js
  mon-pix/app/pods/grain/model.js
  mon-pix/tests/acceptance/module/navigate-into-the-module-passage_test.js
  mon-pix/tests/acceptance/module/navigate-into-the-module-recap_test.js
  mon-pix/tests/acceptance/module/preview_test.js
  mon-pix/tests/acceptance/module/retake_completed_module_test.js
  mon-pix/tests/acceptance/module/retry-qcm_test.js
  mon-pix/tests/acceptance/module/retry-qcu_test.js
  mon-pix/tests/acceptance/module/retry-qrocm_test.js
  mon-pix/tests/acceptance/module/verify-qcm_test.js
  mon-pix/tests/acceptance/module/verify-qcu_test.js
  mon-pix/tests/acceptance/module/verify-qrocm_test.js
  mon-pix/tests/integration/components/module/grain_test.js
  mon-pix/tests/integration/components/module/passage_test.js
  mon-pix/tests/integration/components/module/qcm_test.js
  mon-pix/tests/integration/components/module/qcu_test.js
  mon-pix/tests/integration/components/module/qrocm_test.js
  mon-pix/tests/unit/components/module/grain_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8915 [TECH] :recycle: Construit l'URL pour pix junior depuis l'URL courante plutôt qu'une variable
  orga/app/services/current-domain.js
  orga/app/services/url.js
  orga/config/environment.js
  orga/sample.env
  orga/tests/acceptance/missions-list_test.js
  orga/tests/unit/services/current-domain_test.js
  orga/tests/unit/services/url_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#8792 [FEATURE] Amélioration de la formule de score pour simulateurs (PIX-12316).
  api/src/certification/scoring/domain/models/CapacitySimulator.js
  api/src/certification/scoring/domain/models/CertificationAssessmentScoreV3.js
  api/src/certification/scoring/domain/models/Intervals.js
  api/src/certification/scoring/domain/models/ScoringSimulator.js
  api/tests/certification/scoring/acceptance/application/scoring-and-capacity-simulator-route_test.js
  api/tests/certification/scoring/unit/domain/models/CapacitySimulator_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentScoreV3_test.js
  api/tests/certification/scoring/unit/domain/models/Intervals_test.js
  api/tests/certification/scoring/unit/domain/models/ScoringSimulator_test.js
  api/tests/certification/scoring/unit/domain/usecases/simulate-capacity-from-score_test.js
  api/tests/certification/scoring/unit/domain/usecases/simulate-score-from-capacity_test.js
  api/tests/unit/domain/services/scoring/scoring-certification-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#8919 [TECH] Parallélise l'exécution des tests d'acceptance de l'API sur la CI.
  .circleci/config.yml
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#8914 [TECH] Migrer la route /api/campaigns/{id}/divisions dans son Bounded Context (Pix-12517)
  api/lib/application/campaigns/campaign-controller.js
  api/lib/application/campaigns/index.js
  api/lib/domain/models/index.js
  api/lib/domain/usecases/index.js
  api/src/prescription/campaign/application/campaign-controller.js
  api/src/prescription/campaign/application/campaign-route.js
  api/src/prescription/campaign/domain/models/Group.js
  api/src/prescription/campaign/domain/usecases/get-participants-group.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/infrastructure/repositories/group-repository.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/group-serializer.js
  api/src/prescription/organization-learner/application/sup-learner-list-controller.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/tests/acceptance/application/campaigns/campaign-controller_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-route_test.js
  api/tests/prescription/campaign/integration/domain/usecases/get-participants-group_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/group-repository_test.js
  api/tests/prescription/campaign/unit/application/campaign-route_test.js
  api/tests/prescription/campaign/unit/infrastrucutre/serializers/jsonapi/group-serializer_test.js
  api/tests/unit/application/campaign/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#8907 [FEATURE] Ajouter une nouvelle categorie pour les Profil Cible Pix+ (PIX-12429)
  admin/app/models/target-profile.js
  api/lib/domain/models/TargetProfile.js
  api/lib/domain/validators/target-profile/base-validation.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8916 [TECH] Corrige la parallélisation des tests front sur la CI.
  admin/package.json
  admin/tests/test-helper.js
  certif/package-lock.json
  certif/package.json
  certif/tests/test-helper.js
  junior/package-lock.json
  junior/package.json
  junior/tests/test-helper.js
  orga/package-lock.json
  orga/package.json
  orga/tests/test-helper.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#8848 [FEATURE] Afficher si le centre de certification est pilote certification seule dans Pix Admin (PIX-12441)
  .husky/lint
  admin/app/components/certification-centers/habilitation-tag/index.hbs
  admin/app/components/certification-centers/habilitation-tag/index.js
  admin/app/components/certification-centers/information-edit.hbs
  admin/app/components/certification-centers/information-view.hbs
  admin/app/components/certification-centers/information-view.js
  admin/app/models/certification-center.js
  admin/app/styles/authenticated/certification-center/index.scss
  admin/app/styles/components/certification-centers/information.scss
  admin/app/styles/globals/form.scss
  admin/tests/acceptance/authenticated/certification-centers/get_test.js
  admin/tests/integration/components/certification-centers/information-edit_test.js
  admin/tests/integration/components/certification-centers/information-view_test.js
  admin/tests/unit/components/certification-centers/habilitation-tag/index_test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/lib/domain/models/CertificationCenterForAdmin.js
  api/lib/infrastructure/repositories/certification-center-for-admin-repository.js
  api/lib/infrastructure/serializers/jsonapi/certification-center-for-admin-serializer.js
  api/src/certification/session/domain/models/Center.js
  api/tests/certification/session/unit/domain/models/Center_test.js
  api/tests/integration/infrastructure/repositories/certification-center-for-admin-repository_test.js
  api/tests/tooling/domain-builder/factory/build-certification-center-for-admin.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-center-for-admin-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8909 [BUGFIX] Ne plus envoyer le hasComplementaryReferential lors de l'ajout d'un candidat avec certification complémentaire sur Pix Certif (PIX-12491).
  certif/app/serializers/certification-candidate.js
  certif/tests/acceptance/session-details-certification-candidates_test.js
  certif/tests/unit/serializers/certification-candidate_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8827 [TECH] Petit refacto du mail-service pour la gestion de la langue (PIX-12193).
  api/lib/domain/services/mail-service.js
  api/src/shared/config.js
  api/tests/unit/domain/services/mail-service_test.js
  api/translations/en.json
  api/translations/es.json
  api/translations/fr.json
  api/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#8917 [BUGFIX] Enchainement effectif des étapes d'une mission (PIX-12489)
  api/src/school/domain/services/init-mission-activity.js
  api/src/school/domain/usecases/get-next-challenge.js
  api/tests/school/integration/domain/services/init-mission-activity_test.js
  api/tests/school/integration/domain/usecases/get-next-challenge_test.js
  junior/app/modifiers/did-render.js
  junior/app/pods/components/challenge/challenge-item-qrocm/component.js
  junior/app/pods/components/challenge/challenge-item-qrocm/template.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#8932 [FEATURES] Renommage de pix 1d en Pix Junior dans le front de l'application
  junior/app/pods/application/template.hbs
  junior/app/pods/components/mission-card/incomplete-mission/template.hbs
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#8930 [FEATURE] Ajout du support de Typescript sur PixOrga (PIX-12474)
  orga/app/app.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, cross-team, no-review-app

#8511 [TECH] Ajoute un ADR sur la communication entre bounded contexts.
  docs/adr/0055-communication-bounded-contexts.md
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, team-evaluation, team-prescription, cross-team, no-review-app

#8943 [BUGFIX] Passer à l'étape suivante même lorsque le didacticiel a été joué (Pix-12548)
  api/src/school/domain/services/get-next-activity-info.js
  api/tests/school/unit/domain/services/get-next-activity-info_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#8921 [TECH] Utiliser le composant Pixtoggle pour filtrer les campagnes que l'on souhaite voir (PIX-10467)
  orga/app/components/campaign/filter/campaign-filters.hbs
  orga/app/components/campaign/filter/campaign-filters.js
  orga/tests/acceptance/campaign-list-all-campaigns_test.js
  orga/tests/acceptance/campaign-list-my-campaigns_test.js
  orga/tests/integration/components/campaign/filter/campaign-filters_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: :rocket: Ready to Merge, Func Review OK, team-prescription, Design Review OK

#8941 [FEATURE] Rattrapage de la feature "LEARNER_IMPORT" pour les organisation sco-1d (PIX-12339).
  api/db/migrations/20240515151525_add-unicity-constraint-on-import-format-name.js
  api/db/migrations/20240515151526_add-learner-import-to-sco-1d-organisation.js
  api/db/seeds/data/team-prescription/build-organization-learner-import-formats.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#8906 [TECH] Migrer la route POST /api/oidc/users vers src/identity-access-management (PIX-12503)
  api/lib/application/authentication/oidc/index.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/lib/domain/models/index.js
  api/lib/domain/services/authentication/authentication-session-service.js
  api/lib/domain/usecases/authenticate-anonymous-user.js
  api/lib/domain/usecases/index.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.admin.controller.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.admin.route.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.controller.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.route.js
  api/src/identity-access-management/application/routes.js
  api/src/identity-access-management/application/saml/saml.controller.js
  api/src/identity-access-management/application/saml/saml.route.js
  api/src/identity-access-management/application/token/token.controller.js
  api/src/identity-access-management/application/token/token.route.js
  api/src/identity-access-management/application/user/user.admin.controller.js
  api/src/identity-access-management/application/user/user.admin.route.js
  api/src/identity-access-management/application/user/user.controller.js
  api/src/identity-access-management/application/user/user.route.js
  api/src/identity-access-management/domain/models/UserToCreate.js
  api/src/identity-access-management/domain/services/authentication-session.service.js
  api/src/identity-access-management/domain/usecases/create-oidc-user.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/shared/domain/services/user-service.js
  api/tests/acceptance/application/authentication/oidc/check-reconciliation-route-post_test.js
  api/tests/acceptance/application/authentication/oidc/reconcile-route-admin-post_test.js
  api/tests/acceptance/application/authentication/oidc/reconcile-route-post_test.js
  api/tests/acceptance/application/authentication/oidc/token-route-post_test.js
  api/tests/acceptance/application/authentication/oidc/users-route-post_test.js
  api/tests/acceptance/application/users/users-controller-update-password_test.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.route.test.js
  api/tests/identity-access-management/integration/domain/services/pole-emploi-oidc-authentication-service_test.js
  api/tests/identity-access-management/integration/routes.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.admin.controller.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.controller.test.js
  api/tests/identity-access-management/unit/application/token.controller.test.js
  api/tests/identity-access-management/unit/application/user.controller.test.js
  api/tests/identity-access-management/unit/application/user.route.test.js
  api/tests/identity-access-management/unit/domain/models/UserToCreate.test.js
  api/tests/identity-access-management/unit/domain/services/authentication-session.service.test.js
  api/tests/identity-access-management/unit/domain/usecases/create-oidc-user.usecase.test.js
  api/tests/shared/integration/infrastructure/repositories/user-to-create-repository_test.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
  api/tests/unit/domain/services/authentication/authentication-session-service_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#8935 [FEATURE] Supprimer la colonne "grainId" de la table "element-answers" (PIX-12459)
  api/db/migrations/20240515132133_remove_grainId_from_element_answers.js
  api/src/devcomp/domain/usecases/verify-and-save-answer.js
  api/src/devcomp/infrastructure/repositories/element-answer-repository.js
  api/tests/devcomp/integration/repositories/element-answer-repository_test.js
  api/tests/devcomp/unit/domain/usecases/verify-and-save-answer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8966 [FEATURE] Changement de style dans des page resume/result des missions (Pix-12568)
  junior/app/pods/assessment/results/template.hbs
  junior/app/pods/identified/missions/mission/mission.scss
  junior/app/pods/identified/missions/mission/template.hbs
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#8938 [FEATURE] Active l'import élève pour les établissement scolaire du premier degré (PIX-12338).
  api/src/organizational-entities/domain/models/OrganizationForAdmin.js
  api/src/organizational-entities/infrastructure/repositories/organization-for-admin-repository.js
  api/src/shared/domain/constants.js
  api/tests/integration/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin-repository_test.js
  api/tests/unit/domain/models/organizations-administration/OrganizationForAdmin_test.js
  orga/app/templates/authenticated/missions/list.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-prescription, 🎒👧🏽👦🏾 PIX JUNIOR

#8958 [BUGFIX] Le codeEcole ne s'actualise pas correctement lors des choix d'oragnisations (Pix-12569)
  orga/app/routes/authenticated/missions/list.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#8974 [FEATURE] Ajout de titre aux pages de junior
  junior/app/pods/assessment/results/template.hbs
  junior/app/pods/components/challenge/template.hbs
  junior/app/pods/identified/missions/list/template.hbs
  junior/app/pods/identified/missions/mission/template.hbs
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, 🎒👧🏽👦🏾 PIX JUNIOR

#8947 [BUGFIX] utilise un nouveau composant pour afficher le markdown (pix-12552)
  admin/app/components/campaigns/details.hbs
  admin/app/components/safe-markdown-to-html.hbs
  admin/app/components/safe-markdown-to-html.js
  admin/app/components/target-profiles/target-profile.hbs
  admin/package-lock.json
  admin/package.json
  admin/tests/integration/components/safe-markdown-to-html_test.js
  orga/app/components/campaign/settings/view.hbs
  orga/app/components/campaign/target-profile-details.hbs
  orga/app/components/safe-markdown-to-html.gjs
  orga/package-lock.json
  orga/package.json
  orga/tests/integration/components/safe-markdown-to-html_test.gjs
  orga/tests/unit/components/safe-markdown-to-html_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8970 [BUMP] Monter Ember.js en version 5 sur Pix App (PIX-12596)
  mon-pix/app/models/account-recovery-demand.js
  mon-pix/app/models/email-verification-code.js
  mon-pix/app/models/reset-expired-password-demand.js
  mon-pix/app/models/student-information.js
  mon-pix/app/models/user-oidc-authentication-request.js
  mon-pix/app/pods/passage/model.js
  mon-pix/package-lock.json
  mon-pix/package.json
  mon-pix/tests/unit/routes/assessments/checkpoint_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, dependencies

#8962 [BUGFIX] Ne plus envoyer de 500 lors d'une recherche par ID invalide sur 2 pages PixAdmin (PIX-12576)
  admin/app/routes/authenticated/organizations/list.js
  admin/app/routes/authenticated/target-profiles/target-profile/organizations.js
  admin/tests/integration/components/target-profiles/target-profile_test.js
  admin/tests/unit/routes/authenticated/organizations/list_test.js
  admin/tests/unit/routes/authenticated/target-profiles/target-profile/organizations_test.js
  api/lib/application/target-profiles/index.js
  api/src/shared/domain/types/identifiers-type.js
  api/tests/shared/unit/domain/types/identifiers-type_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8945 [FEATURE] Permettre de rattacher un profil cible à une certification complementaire (PIX-12404)
  admin/app/components/complementary-certifications/attach-badges/index.hbs
  admin/app/components/complementary-certifications/attach-badges/index.js
  admin/app/components/complementary-certifications/target-profiles/information.hbs
  admin/app/controllers/authenticated/complementary-certifications/complementary-certification/attach-target-profile/new.js
  admin/app/controllers/authenticated/complementary-certifications/complementary-certification/attach-target-profile/update.js
  admin/app/router.js
  admin/app/routes/authenticated/complementary-certifications/complementary-certification/attach-target-profile/new.js
  admin/app/routes/authenticated/complementary-certifications/complementary-certification/attach-target-profile/update.js
  admin/app/templates/authenticated/complementary-certifications/complementary-certification/attach-target-profile/new.hbs
  admin/app/templates/authenticated/complementary-certifications/complementary-certification/attach-target-profile/update.hbs
  admin/tests/acceptance/authenticated/complementary-certifications/complementary-certification/attach-target-profile_test.js
  admin/tests/unit/components/complementary-certifications/target-profiles/index_test.js
  admin/tests/unit/controllers/authenticated/complementary-certifications/complementary-certification/attach-target-profile_test.js
  api/src/certification/complementary-certification/application/attach-target-profile-controller.js
  api/src/certification/complementary-certification/application/attach-target-profile-route.js
  api/src/certification/complementary-certification/domain/usecases/attach-badges.js
  api/tests/certification/complementary-certification/unit/application/attach-target-profile-controller_test.js
  api/tests/certification/complementary-certification/unit/application/attach-target-profile-route_test.js
  api/tests/certification/complementary-certification/unit/domain/usecases/attach-badges_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8954 [BUGFIX] Le InMemoryTemporaryStorage ne suit pas la TemporaryStorage API et est utilisé à tort dans les tests d'intégration (PIX-12551)
  api/lib/infrastructure/temporary-storage/InMemoryTemporaryStorage.js
  api/lib/infrastructure/temporary-storage/index.js
  api/package.json
  api/src/identity-access-management/domain/services/fwb-oidc-authentication-service.js
  api/src/identity-access-management/domain/services/pole-emploi-oidc-authentication-service.js
  api/src/shared/config.js
  api/tests/identity-access-management/integration/domain/services/fwb-oidc-authentication-service_test.js
  api/tests/identity-access-management/integration/domain/services/pole-emploi-oidc-authentication-service_test.js
  api/tests/unit/infrastructure/temporary-storage/InMemoryTemporaryStorage_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#8896 [TECH] Convertit les composants du dossier banner sur PixOrga au format GJS (PIX-12532).
  orga/app/components/banner/communication.gjs
  orga/app/components/banner/communication.hbs
  orga/app/components/banner/communication.js
  orga/app/components/banner/information.gjs
  orga/app/components/banner/information.hbs
  orga/app/components/banner/information.js
  orga/app/components/banner/language-availability.gjs
  orga/app/components/banner/language-availability.hbs
  orga/app/components/banner/language-availability.js
  orga/app/helpers/get-service.js
  orga/app/services/session.js
  orga/tests/unit/components/banner/language-availability_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#8975 [TECH] Améliorer l'orchestration du usecase `verifyAndSaveAnswer` (PIX-12456)
  api/src/devcomp/domain/usecases/verify-and-save-answer.js
  api/src/devcomp/infrastructure/repositories/element-repository.js
  api/src/devcomp/infrastructure/repositories/index.js
  api/tests/devcomp/integration/repositories/element-repository_test.js
  api/tests/devcomp/unit/domain/usecases/verify-and-save-answer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8976 [FEATURE] Enchainer les activités après le didacticiel (PIX-12566).
  api/src/school/domain/models/Activity.js
  api/src/school/domain/services/get-next-activity-info.js
  api/src/school/domain/services/update-current-activity.js
  api/tests/school/integration/domain/services/update-current-activity_test.js
  api/tests/school/integration/domain/usecases/handle-activity-answer_test.js
  api/tests/school/unit/domain/models/Activity_test.js
  api/tests/school/unit/domain/services/get-next-activity-info_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#8967 [TECH] Ajouter des configurations pour exécuter les tests sur Webstorm
  .run/Acceptance _ Pix Api.run.xml
  .run/Integration _ Pix Api.run.xml
  .run/Pix Api Tests.run.xml
  .run/Unit _ Pix Api.run.xml
Labels: :rocket: Ready to Merge, cross-team, no-review-app

#8971 [BUGFIX] Corriger l'affichage des inputs dans la modale de gestion du compte de l'élève sur Pix Orga (PIX-12469)
  orga/app/components/sco-organization-participant/manage-authentication-method-modal.hbs
  orga/app/styles/components/manage-authentication-method-modal.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#8835 [BUGFIX] Réordonnancement des `fieldset` `legend` de Modulix (PIX-12382)
  mon-pix/app/pods/components/module/qcm/styles.scss
  mon-pix/app/pods/components/module/qcm/template.hbs
  mon-pix/app/pods/components/module/qcu/styles.scss
  mon-pix/app/pods/components/module/qcu/template.hbs
  mon-pix/app/pods/components/module/qrocm/styles.scss
  mon-pix/app/pods/components/module/qrocm/template.hbs
  mon-pix/tests/integration/components/module/qcm_test.js
  mon-pix/tests/integration/components/module/qcu_test.js
  mon-pix/tests/integration/components/module/qrocm_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#9004 [FEATURE] Ne pas jouer deux fois le didacticiel (PIX-12571).
  api/src/school/domain/services/get-next-activity-info.js
  api/tests/school/unit/domain/services/get-next-activity-info_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#8926 [TECH] Migrer la route POST /api/oidc/token vers src/identity-access-management (PIX-12524)
  .github/CODEOWNERS
  admin/app/authenticators/oidc.js
  admin/app/routes/authentication/login-oidc.js
  admin/tests/unit/authenticators/oidc_test.js
  admin/tests/unit/routes/authentication/login-oidc_test.js
  api/lib/application/authentication/oidc/index.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/lib/domain/usecases/index.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.controller.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.route.js
  api/src/identity-access-management/domain/usecases/authenticate-oidc-user.usecase.js
  api/src/identity-access-management/domain/usecases/create-oidc-user.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/tests/acceptance/application/authentication/oidc/token-route-post_test.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.route.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-oidc-user.usecase.test.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
  mon-pix/app/authenticators/oidc.js
  mon-pix/app/routes/authentication/login-oidc.js
  mon-pix/tests/unit/authenticators/oidc_test.js
  mon-pix/tests/unit/routes/authentication/login-oidc_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#9005 [FEATURE] Passe le défi si un didactiel a été vu dans une des missions (PIX-12593)
  api/src/school/domain/services/get-next-activity-info.js
  api/tests/school/unit/domain/services/get-next-activity-info_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, 🎒👧🏽👦🏾 PIX JUNIOR

#8937 [TECH] Supprimer toutes les références au statut "partially" (PIX-11417)
  admin/app/components/certifications/certification/details-v3.js
  admin/app/components/certifications/details-answer.js
  admin/app/components/smart-random-simulator/smart-random-params.js
  admin/app/models/certification-challenges-for-administration.js
  admin/tests/integration/components/certifications/certification/details-v3_test.js
  admin/tests/integration/components/certifications/details-answer_test.js
  admin/tests/integration/components/certifications/details-competence_test.js
  admin/tests/unit/components/certifications/certification/details-v3_test.js
  admin/tests/unit/components/certifications/details-competence_test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/lib/domain/models/AnswerCollectionForScoring.js
  api/lib/domain/models/CertificationAssessment.js
  api/lib/domain/models/CertificationIssueReportResolutionStrategies.js
  api/lib/infrastructure/adapters/answer-status-json-api-adapter.js
  api/src/evaluation/application/smart-random-simulator/index.js
  api/src/evaluation/domain/models/Answer.js
  api/src/shared/domain/models/AnswerStatus.js
  api/src/shared/infrastructure/adapters/answer-status-database-adapter.js
  api/tests/devcomp/unit/domain/models/validator/AnswerStatus_test.js
  api/tests/evaluation/unit/domain/models/Answer_test.js
  api/tests/shared/unit/domain/models/AnswerStatus_test.js
  api/tests/unit/domain/models/AnswerCollectionForScoring_test.js
  api/tests/unit/domain/models/CertificationAssessment_test.js
  api/tests/unit/domain/services/scoring/scoring-certification-service_test.js
  api/tests/unit/infrastructure/adapters/answer-status-database-adapter_test.js
  api/tests/unit/infrastructure/adapters/answer-status-json-api-adapter_test.js
  mon-pix/app/components/comparison-window.js
  mon-pix/app/utils/result-icon.js
  mon-pix/tests/integration/components/result-item-campaign_test.js
  mon-pix/tests/unit/components/comparison-window_test.js
  mon-pix/tests/unit/components/result-item_test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#8990 [TECH] Migrer les routes statistiques d'une campagne par jour / taux de réussite dans son BoundedContext (Pix-12604)
  api/lib/application/campaigns/index.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/campaign-participation-repository.js
  api/lib/infrastructure/repositories/campaign-participations-stats-repository.js
  api/src/prescription/campaign/application/campaign-stats-controller.js
  api/src/prescription/campaign/application/campaign-stats-route.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/domain/usecases/statistics/get-campaign-participations-activity-by-day.js
  api/src/prescription/campaign/domain/usecases/statistics/get-campaign-participations-counts-by-stage.js
  api/src/prescription/campaign/domain/usecases/statistics/get-campaign-participations-counts-by-status.js
  api/src/prescription/campaign/domain/usecases/statistics/get-participations-count-by-mastery-rate.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-participations-stats-repository.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-participations-count-by-stage-serializer.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-participations-counts-by-day-serializer.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-participations-counts-by-status-serializer.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/participations-count-by-mastery-rate.js
  api/src/prescription/campaign/routes.js
  api/tests/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/integration/infrastructure/repositories/campaign-participations-stats-repository_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-stats-route_test.js
  api/tests/prescription/campaign/integration/domain/usecases/statistics/get-campaign-participations-activity-by-day_test.js
  api/tests/prescription/campaign/integration/domain/usecases/statistics/get-campaign-participations-counts-by-stage_test.js
  api/tests/prescription/campaign/integration/domain/usecases/statistics/get-campaign-participations-counts-by-status_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-participations-stats-repository_test.js
  api/tests/prescription/campaign/unit/application/campaign-stats-route_test.js
  api/tests/prescription/campaign/unit/domain/usecases/statistics/get-participations-count-by-mastery-rate_test.js
  api/tests/prescription/campaign/unit/infrastrucutre/serializers/jsonapi/campaign-participations-count-by-stage-serializer_test.js
  api/tests/prescription/campaign/unit/infrastrucutre/serializers/jsonapi/campaign-participations-counts-by-day-serializer_test.js
  api/tests/prescription/campaign/unit/infrastrucutre/serializers/jsonapi/campaign-participations-counts-by-status-serializer_test.js
  api/tests/prescription/campaign/unit/infrastrucutre/serializers/jsonapi/participations-count-by-mastery-rate_test.js
  api/tests/unit/application/campaign/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#9006 [TECH] Migrer le modèle Organization.js dans src/organizational-entities/ (PIX-12606)
  api/lib/domain/models/index.js
  api/lib/domain/validators/organization-with-tags-and-target-profiles-script.js
  api/lib/infrastructure/repositories/membership-repository.js
  api/lib/infrastructure/serializers/jsonapi/organization-serializer.js
  api/src/organizational-entities/domain/models/Organization.js
  api/src/school/scripts/create-school-learners.js
  api/src/shared/infrastructure/repositories/organization-repository.js
  api/src/shared/infrastructure/repositories/user-repository.js
  api/src/shared/prescriber-management/infrastructure/repositories/prescriber-repository.js
  api/tests/integration/infrastructure/repositories/certification-point-of-contact-repository_test.js
  api/tests/integration/infrastructure/repositories/membership-repository_test.js
  api/tests/integration/infrastructure/utils/bookshelf-to-domain-converter_test.js
  api/tests/organizational-entities/unit/domain/models/OrganizationFeature_test.js
  api/tests/organizational-entities/unit/domain/models/Organization_test.js
  api/tests/school/integration/scripts/create-school-learners_test.js
  api/tests/shared/integration/infrastructure/repositories/membership-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/user-repository_test.js
  api/tests/shared/prescriber-management/integration/infrasctructure/repositories/prescriber-repository_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-to-join.js
  api/tests/tooling/domain-builder/factory/build-membership.js
  api/tests/tooling/domain-builder/factory/build-organization.js
  api/tests/tooling/domain-builder/factory/build-prescriber.js
  api/tests/tooling/domain-builder/factory/build-user-orga-settings.js
  api/tests/unit/domain/usecases/find-paginated-filtered-organizations_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/organization-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#9007 [FEATURE] Ajouter un stepper dans le referentiel de Modulix (PIX-12619)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module.js
Labels: :rocket: Ready to Merge, team-devcomp

#8913 [TECH] Supprimer les constantes spécifiques des fournisseurs d'identité OIDC (PIX-12428)
  admin/app/adapters/authentication-method.js
  admin/tests/unit/adapters/authentication-method_test.js
  api/db/seeds/data/team-acces/build-users.js
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/lib/domain/constants/oidc-identity-providers.js
  api/lib/domain/models/AuthenticationMethod.js
  api/lib/domain/usecases/remove-authentication-method.js
  api/scripts/team-acces/load-oidc-providers-from-env-variables.js
  api/scripts/team-acces/update-fwb-authentication-complements.js
  api/src/shared/infrastructure/repositories/user-repository.js
  api/tests/acceptance/application/authentication/oidc/check-reconciliation-route-post_test.js
  api/tests/acceptance/application/users/reassign-authentication-methods-route-put_test.js
  api/tests/identity-access-management/unit/domain/services/fwb-oidc-authentication-service.test.js
  api/tests/identity-access-management/unit/domain/services/oidc-authentication-service_test.js
  api/tests/integration/application/organizations-administration/organization-administration-controller_test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/user-repository_test.js
  api/tests/unit/application/users/index_test.js
  api/tests/unit/domain/models/AuthenticationMethod_test.js
  api/tests/unit/domain/models/organizations-administration/OrganizationForAdmin_test.js
  api/tests/unit/domain/usecases/reconcile-oidc-user-for-admin_test.js
  api/tests/unit/domain/usecases/reconcile-oidc-user_test.js
  api/tests/unit/domain/usecases/remove-authentication-method_test.js
  api/tests/unit/domain/usecases/update-authentication-complement_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/oidc-serializer_test.js
Labels: :rocket: Ready to Merge, team-acces

#8821 [FEATURE] Dégradation du score d'une certification non terminée (PIX-12315).
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/lib/domain/events/index.js
  api/lib/domain/services/scoring/scoring-certification-service.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulator.js
  api/src/certification/scoring/domain/models/CertificationAssessmentScoreV3.js
  api/src/domain/services/scoring/scoring-degradation-service.js
  api/src/shared/infrastructure/datasources/learning-content/challenge-datasource.js
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentScoreV3_test.js
  api/tests/certification/scoring/unit/domain/services/scoring-degradation-service_test.js
  api/tests/certification/session-management/acceptance/application/downgrade-capacity_test.js
  api/tests/shared/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/shared/unit/infrastructure/datasources/learning-content/challenge-datasource_test.js
  api/tests/tooling/domain-builder/factory/certification/flash-certification/build-flash-assessment-algorithm.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/services/scoring/scoring-certification-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#9032 [FEATURE] Ajouter les modèles liés au Stepper (PIX-12620)
  api/src/devcomp/domain/models/component/ComponentElement.js
  api/src/devcomp/domain/models/component/ComponentStepper.js
  api/src/devcomp/domain/models/component/Step.js
  api/src/devcomp/domain/models/module/Module.js
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/unit/domain/models/component/ComponentElement_test.js
  api/tests/devcomp/unit/domain/models/component/ComponentStepper_test.js
  api/tests/devcomp/unit/domain/models/component/Step_test.js
  api/tests/devcomp/unit/domain/models/module/Module_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#9008 [TECH] Migrer la route POST /api/oidc/user/check-reconciliation vers src/identity-access-management (PIX-12618)
  api/lib/application/authentication/oidc/index.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/lib/domain/usecases/index.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.controller.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.route.js
  api/src/identity-access-management/domain/services/pix-authentication-service.js
  api/src/identity-access-management/domain/services/refresh-token-service.js
  api/src/identity-access-management/domain/usecases/find-user-for-oidc-reconciliation.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/tests/acceptance/application/authentication/oidc/check-reconciliation-route-post_test.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.route.test.js
  api/tests/identity-access-management/integration/application/oidc-provider.route.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.controller.test.js
  api/tests/identity-access-management/unit/domain/services/pix-authentication-service_test.js
  api/tests/identity-access-management/unit/domain/services/refresh-token-service_test.js
  api/tests/identity-access-management/unit/domain/usecases/find-user-for-oidc-reconciliation.usecase.test.js
  api/tests/integration/application/authentication/oidc/index_test.js
  api/tests/tooling/server/http-test-server.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#9033 [TECH] Passe les composants de cartes et de graphiques au format GJS sur PixOrga (PIX-12647).
  orga/app/components/campaign/cards/participants-count.gjs
  orga/app/components/campaign/cards/participants-count.hbs
  orga/app/components/campaign/cards/result-average.gjs
  orga/app/components/campaign/cards/result-average.hbs
  orga/app/components/campaign/cards/shared-count.gjs
  orga/app/components/campaign/cards/shared-count.hbs
  orga/app/components/campaign/cards/stage-average.gjs
  orga/app/components/campaign/cards/stage-average.hbs
  orga/app/components/campaign/cards/stage-average.js
  orga/app/components/campaign/charts/participants-by-day-loader.gjs
  orga/app/components/campaign/charts/participants-by-day-loader.hbs
  orga/app/components/campaign/charts/participants-by-day.gjs
  orga/app/components/campaign/charts/participants-by-day.hbs
  orga/app/components/campaign/charts/participants-by-mastery-percentage-loader.gjs
  orga/app/components/campaign/charts/participants-by-mastery-percentage-loader.hbs
  orga/app/components/campaign/charts/participants-by-mastery-percentage.gjs
  orga/app/components/campaign/charts/participants-by-mastery-percentage.hbs
  orga/app/components/campaign/charts/participants-by-stage-bar.gjs
  orga/app/components/campaign/charts/participants-by-stage-bar.hbs
  orga/app/components/campaign/charts/participants-by-stage-loader.gjs
  orga/app/components/campaign/charts/participants-by-stage-loader.hbs
  orga/app/components/campaign/charts/participants-by-stage.gjs
  orga/app/components/campaign/charts/participants-by-stage.hbs
  orga/app/components/campaign/charts/participants-by-stage.js
  orga/app/components/campaign/charts/participants-by-status-legend.gjs
  orga/app/components/campaign/charts/participants-by-status-legend.hbs
  orga/app/components/campaign/charts/participants-by-status-legend.js
  orga/app/components/campaign/charts/participants-by-status-loader.gjs
  orga/app/components/campaign/charts/participants-by-status-loader.hbs
  orga/app/components/campaign/charts/participants-by-status.gjs
  orga/app/components/campaign/charts/participants-by-status.hbs
  orga/app/components/campaign/charts/result-distribution.gjs
  orga/app/components/campaign/charts/result-distribution.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9000 [BUGFIX] met à jour la date dans la banniere d'info sur orga (Pix-12533)
  orga/app/components/banner/information.gjs
  orga/tests/integration/components/banner/information_test.gjs
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9001 [BUGFIX] Unifier les status et score sur la page de détails admin pour les certif v3 (PIX-12061)
  api/src/certification/course/infrastructure/repositories/v3-certification-course-details-for-administration-repository.js
  api/tests/certification/course/integration/infrastructure/repositories/v3-certification-course-details-for-administration-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#8992 [FEATURE] Updated translations from Phrase
  api/translations/es.json
  api/translations/nl.json
  mon-pix/translations/es.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-contenu

#9045 [FEATURE] Modification du wording de la modale lors du remplacement à l’import SUP (PIX-10092)
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8998 [FEATURE] Afficher un sélecteur de participation (PIX-11643)
  orga/app/adapters/available-campaign-participation.js
  orga/app/components/participant/assessment/header.hbs
  orga/app/components/participant/assessment/header.js
  orga/app/models/available-campaign-participation.js
  orga/app/routes/authenticated/campaigns/participant-assessment.js
  orga/app/styles/globals/panels.scss
  orga/app/templates/authenticated/campaigns/participant-assessment.hbs
  orga/mirage/config.js
  orga/tests/integration/components/participant/assessment/header_test.js
  orga/tests/unit/adapters/available-campaign-participation_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9041 [FEATURES] Avoir uniquement un bouton "Je continue" pour les activités "leçon"
  junior/app/pods/components/challenge/challenge-actions/template.hbs
  junior/app/pods/components/challenge/component.js
  junior/app/pods/components/challenge/item/integration_test.js
  junior/app/pods/components/challenge/item/template.hbs
  junior/app/pods/components/challenge/template.hbs
  junior/mirage/factories/challenge.js
  junior/tests/acceptance/lesson-workflow_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9035 [TECH] Éviter l'existance constante d'une raison d'abandon dans la gestion du scoring V3 (PIX-12629).
  api/lib/domain/services/scoring/scoring-certification-service.js
  api/src/certification/shared/domain/models/CertificationCourse.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#9038 [BUGFIX] [Admin] Gérer le cas des imports OIDC Providers suivants qui produisent des 500 (PIX-12333)
  admin/app/components/administration/organizations-batch-update.hbs
  api/src/identity-access-management/domain/usecases/add-oidc-provider.js
  api/src/identity-access-management/infrastructure/repositories/oidc-provider-repository.js
  api/tests/identity-access-management/integration/infrastructure/repositories/oidc-provider-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9058 [BUGFIX] Corriger l'envoi de signalement depuis la correction d'une épreuve
  mon-pix/app/components/feedback-panel.js
  mon-pix/mirage/config.js
  mon-pix/tests/acceptance/compare-answer-solution_test.js
Labels: Tech Review OK, :rocket: Ready to Merge

#9047 [BUGFIX] Chercher les certification-challenges par date de création pour le scoring V3 (PIX-12671).
  api/src/certification/scoring/infrastructure/repositories/certification-challenge-for-scoring-repository.js
  api/tests/certification/scoring/integration/infrastructure/repositories/certification-challenge-for-scoring-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#9043 [FEATURE] Envoyer le composant stepper vers le client (PIX-12621).
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
  mon-pix/app/pods/components/module/grain/component.js
  mon-pix/tests/unit/components/module/grain_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#9050 [FEATURE] Vérifier l'accessibilité des pages de Modulix (PIX-12521)
  high-level-tests/e2e/cypress/integration/pix-app/modulix-a11y.feature
  high-level-tests/e2e/cypress/support/commands.js
  high-level-tests/e2e/cypress/support/step_definitions/index.js
  high-level-tests/e2e/cypress/support/step_definitions/modulix.js
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
Labels: :rocket: Ready to Merge, team-devcomp

#9039 [FEATURE][API] Ajouter une nouvelle route pour importer un fichier CSV pour modifier les informations d'une liste d'organisations (PIX-12032)
  .run/Acceptance _ Pix Api.run.xml
  .run/Integration _ Pix Api.run.xml
  .run/Unit _ Pix Api.run.xml
  api/lib/domain/usecases/index.js
  api/scripts/organization/update-organizations-identity-provider-for-campaigns.js
  api/scripts/organization/update-organizations-province-code.js
  api/src/organizational-entities/application/organization/organization.admin.controller.js
  api/src/organizational-entities/application/organization/organization.admin.route.js
  api/src/organizational-entities/application/routes.js
  api/src/organizational-entities/domain/dtos/OrganizationBatchUpdateDTO.js
  api/src/organizational-entities/domain/models/OrganizationForAdmin.js
  api/src/organizational-entities/domain/usecases/add-organization-feature-in-batch.js
  api/src/organizational-entities/domain/usecases/index.js
  api/src/organizational-entities/domain/usecases/update-organizations-in-batch.usecase.js
  api/src/organizational-entities/infrastructure/repositories/organization-for-admin.repository.js
  api/src/prescription/campaign/infrastructure/serializers/csv/csv-campaigns-ids-parser.js
  api/src/shared/infrastructure/serializers/csv/csv-parser.js
  api/src/shared/infrastructure/utils/buffer.js
  api/tests/integration/domain/usecases/create-organization_test.js
  api/tests/organizational-entities/acceptance/add-organization-features-in-batch_test.js
  api/tests/organizational-entities/acceptance/application/organization/organization.admin.route.test.js
  api/tests/organizational-entities/acceptance/attach-child-organization-route-post_test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin.repository.test.js
  api/tests/organizational-entities/unit/application/organization-controller_test.js
  api/tests/organizational-entities/unit/application/organization-route_test.js
  api/tests/organizational-entities/unit/application/organization/organization.admin.controller.test.js
  api/tests/organizational-entities/unit/application/organization/organization.admin.route.test.js
  api/tests/organizational-entities/unit/domain/dtos/OrganizationBatchUpdateDTO.test.js
  api/tests/organizational-entities/unit/domain/models/OrganizationForAdmin_test.js
  api/tests/organizational-entities/unit/domain/usecases/update-organizations-in-batch.usecase.test.js
  api/tests/shared/unit/infrastructure/serializers/csv/csv-parser_test.js
Labels: :rocket: Ready to Merge, team-acces

#9010 [FEATURE] Ajouter une API interne pour récupérer la liste des features d'une organisation (PIX-12558)
  api/src/organizational-entities/application/api/OrganizationFeatureItemDTO.js
  api/src/organizational-entities/application/api/organization-features-api.js
  api/src/organizational-entities/domain/models/OrganizationFeatureItem.js
  api/src/organizational-entities/domain/usecases/find-organization-features.js
  api/src/organizational-entities/infrastructure/repositories/organization-feature-repository.js
  api/tests/organizational-entities/acceptance/api/organization-features-api_test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-feature-repository_test.js
  api/tests/organizational-entities/unit/application/api/organization-features-api_test.js
  api/tests/organizational-entities/unit/domain/usecases/find-organization-features_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, team-prescription

#9062 [TECH] Remettre la version 14.11 de postgres
  .circleci/config.yml
  compose.yaml
  docker/docker-compose.yaml
  high-level-tests/e2e/docker-compose.yaml
  scalingo.json
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#9064 [BUGFIX] Afficher les puces adéquates dans l'instruction d'épreuve (PIX-12578)
  junior/app/pods/assessment/results/template.hbs
  junior/app/pods/components/bubble/bubble.scss
  junior/app/pods/components/bubble/template.hbs
  junior/app/pods/components/challenge/challenge-item-qcm/template.hbs
  junior/app/pods/components/challenge/challenge-item-qcu/template.hbs
  junior/app/pods/components/challenge/challenge-item-qrocm/template.hbs
  junior/app/pods/components/markdown-to-html/component.js
  junior/app/pods/components/markdown-to-html/template.hbs
  junior/app/pods/components/markdown/markdown-to-html-unsafe/component.js
  junior/app/pods/components/markdown/markdown-to-html/template.hbs
  junior/app/pods/identified/missions/mission/template.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9057 [TECH] Déplacer l'archivage et l'accès simplifié d'un profile cible dans son BC (PIX-12677)
  api/lib/application/target-profiles/index.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/domain/usecases/mark-target-profile-as-simplified-access.js
  api/lib/domain/usecases/outdate-target-profile.js
  api/lib/infrastructure/repositories/target-profile-repository.js
  api/src/prescription/target-profile/application/admin-target-profile-controller.js
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/src/prescription/target-profile/domain/usecases/index.js
  api/src/prescription/target-profile/domain/usecases/mark-target-profile-as-simplified-access.js
  api/src/prescription/target-profile/domain/usecases/outdate-target-profile.js
  api/src/prescription/target-profile/infrastructure/repositories/target-profile-administration-repository.js
  api/src/prescription/target-profile/infrastructure/serializers/jsonapi/target-profile-serializer.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/acceptance/application/target-profiles/simplified-access-route-put_test.js
  api/tests/integration/infrastructure/repositories/target-profile-repository_test.js
  api/tests/prescription/target-profile/acceptance/application/admin-target-profile-route_test.js
  api/tests/prescription/target-profile/integration/infrastructure/repositories/target-profile-administration-repository_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profile-controller_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profiles-route_test.js
  api/tests/prescription/target-profile/unit/domain/usecases/mark-target-profile-as-simplified-access_test.js
  api/tests/prescription/target-profile/unit/domain/usecases/outdate-target-profile_test.js
  api/tests/prescription/target-profile/unit/infrastructure/serializers/jsonapi/target-profile-serializer_test.js
  api/tests/unit/application/target-profiles/index_test.js
  api/tests/unit/application/target-profiles/target-profile-controller_test.js
  api/tests/unit/domain/usecases/mark-target-profile-as-simplified-access_test.js
  api/tests/unit/domain/usecases/outdate-target-profile_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#9061 [FEATURES] Ajout d'un label informatif pour les QCU / QCM (Pix-12592)
  junior/app/pods/components/challenge/challenge-item-qcm/template.hbs
  junior/app/pods/components/challenge/challenge-item-qcu/template.hbs
  junior/app/pods/components/challenge/item/challenge-item-proposals.scss
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9046 [BUGFIX] recharge les places lorsque le prescrit change d'organisation (PIX-12653)
  orga/app/components/layout/topbar.hbs
  orga/app/components/layout/user-logged-menu.js
  orga/app/controllers/authenticated.js
  orga/app/routes/authenticated.js
  orga/app/services/current-user.js
  orga/app/templates/authenticated.hbs
  orga/tests/integration/components/layout/user-logged-menu_test.js
  orga/tests/unit/controllers/authenticated_test.js
  orga/tests/unit/routes/authenticated_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9063 [TECH] Récupération de la version de certification dans le modèle (PIX-11689).
  api/lib/domain/events/handle-auto-jury.js
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/lib/domain/services/placement-profile-service.js
  api/lib/domain/services/scoring/scoring-certification-service.js
  api/lib/domain/usecases/get-certification-details.js
  api/lib/domain/usecases/link-user-to-session-certification-candidate.js
  api/lib/domain/usecases/retrieve-last-or-create-certification-course.js
  api/lib/infrastructure/repositories/sessions/session-for-supervising-repository.js
  api/src/certification/enrolment/domain/models/SessionEnrolment.js
  api/src/certification/enrolment/domain/usecases/create-session.js
  api/src/certification/enrolment/domain/usecases/create-sessions.js
  api/src/certification/enrolment/domain/validators/session-validator.js
  api/src/certification/session-management/domain/models/SessionManagement.js
  api/src/certification/shared/domain/models/CertificationCourse.js
  api/src/certification/shared/domain/models/CertificationVersion.js
  api/src/shared/application/assessments/assessment-controller.js
  api/tests/acceptance/application/certification-courses/certification-course-controller_test.js
  api/tests/certification/course/integration/infrastructure/repositories/certification-version-repository_test.js
  api/tests/certification/course/unit/domain/usecases/get-next-challenge-for-v3-certification_test.js
  api/tests/certification/enrolment/unit/domain/usecases/create-sessions_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-challenge-repository_test.js
  api/tests/certification/shared/unit/domain/models/CertificationCourse_test.js
  api/tests/integration/infrastructure/repositories/sessions/session-for-supervising-repository_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get-next-challenge-for-certification_test.js
  api/tests/tooling/domain-builder/factory/build-jury-certification.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/services/scoring/scoring-certification-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#8939 [FEATURE] Gérer l'inscription à une certification coeur pour un candidat en certif V2 (PIX-12212).
  api/db/database-builder/factory/build-certification-subscription.js
  api/db/migrations/20240425162400_add-type-column-to-certification-subscriptions-table.js
  api/db/migrations/20240515175100_update-certification-subscriptions-constraints.js
  api/db/seeds/data/common/tooling/session-tooling.js
  api/lib/domain/models/CertificationCandidate.js
  api/lib/infrastructure/files/candidates-import/CandidateData.js
  api/lib/infrastructure/repositories/sco-certification-candidate-repository.js
  api/lib/infrastructure/repositories/sessions/session-for-supervising-repository.js
  api/scripts/data-generation/generate-certif-cli.js
  api/src/certification/enrolment/application/certification-candidate-controller.js
  api/src/certification/enrolment/domain/usecases/add-certification-candidate-to-session.js
  api/src/certification/enrolment/infrastructure/repositories/candidate-repository.js
  api/src/certification/enrolment/infrastructure/repositories/certification-candidate-repository.js
  api/src/certification/session-management/infrastructure/repositories/session-repository.js
  api/src/certification/shared/domain/models/SubscriptionTypes.js
  api/src/certification/shared/infrastructure/serializers/jsonapi/certification-candidate-serializer.js
  api/tests/acceptance/application/certification-candidates/certification-candidates-controller_test.js
  api/tests/acceptance/application/certification-centers/certification-center-controller_test.js
  api/tests/acceptance/application/certification-courses/certification-course-controller_test.js
  api/tests/acceptance/application/certification-courses/index_test.js
  api/tests/acceptance/application/session/session-controller-create-certification-candidate-participation_test.js
  api/tests/acceptance/application/session/session-controller-delete-certification-candidate_test.js
  api/tests/acceptance/application/session/session-controller-get-session-results-by-result-recipient-email_test.js
  api/tests/acceptance/application/session/session-controller-get-session-results-to-download_test.js
  api/tests/acceptance/application/session/session-controller-import-certification-candidates-from-attendance-sheet_reports_categorization_test.js
  api/tests/acceptance/application/session/session-controller_test.js
  api/tests/acceptance/application/session/session-for-supervising-controller-get_test.js
  api/tests/acceptance/scripts/certification/update-certification-infos_test.js
  api/tests/certification/course/acceptance/application/certification-attestation-route_test.js
  api/tests/certification/course/acceptance/application/organization-controller_test.js
  api/tests/certification/course/integration/infrastructure/repositories/certificate-repository_test.js
  api/tests/certification/course/integration/infrastructure/repositories/sco-certification-candidate-repository_test.js
  api/tests/certification/enrolment/acceptance/application/attendance-sheet-controller_test.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-controller-post-certification-candidate_test.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-route_test.js
  api/tests/certification/enrolment/acceptance/application/session-mass-import-route_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/candidate-repository_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/certification-candidate-repository_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/session-for-attendance-sheet-repository_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/session-repository_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-controller_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/session-repository_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/supervisor-access-repository_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-assessment-repository_test.js
  api/tests/certification/shared/unit/infrastructure/serializers/jsonapi/certification-candidate-serializer_test.js
  api/tests/certification/supervising/integration/infrastructure/repositories/certification-candidate-for-supervising-repository_test.js
  api/tests/identity-access-management/acceptance/application/token.route.test.js
  api/tests/integration/infrastructure/repositories/certification-result-repository_test.js
  api/tests/integration/infrastructure/repositories/clea-certified-candidate-repository_test.js
  api/tests/integration/infrastructure/repositories/sco-certification-candidate-repository_test.js
  api/tests/integration/infrastructure/repositories/sessions/session-for-supervising-repository_test.js
  api/tests/integration/infrastructure/repositories/sessions/session-summary-repository_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get-next-challenge-for-certification_test.js
  api/tests/shared/integration/infrastructure/ods/files/fill-candidates-import-sheet_test.js
  api/tests/shared/integration/infrastructure/repositories/assessment-repository_test.js
  api/tests/tooling/domain-builder/factory/build-certifications-results-for-ls.js
  api/tests/unit/domain/models/CertificationCandidate_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#9074 [BUGFIX] Correctif de l'affichage des boutons de challenges
  junior/app/pods/components/challenge/challenge-actions/template.hbs
  junior/app/pods/identified/missions/mission/template.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9065 [FEATURE] Permettre d'extraire les contenus des modules en format "tableur" (PIX-12285)
  api/scripts/modulix/get-elements-csv.js
  api/scripts/modulix/get-modules-csv.js
  api/scripts/modulix/get-proposals-csv.js
  api/tests/devcomp/acceptance/scripts/get-elements_test.js
  api/tests/devcomp/acceptance/scripts/get-modules_test.js
  api/tests/devcomp/acceptance/scripts/get-proposals_test.js
Labels: :rocket: Ready to Merge, no-review-app, team-devcomp

#9073 [TECH] Migrer la route DELETE /api/admin/certification-centers/{id}/invitations/{certificationCenterInvitationId} (PIX-12623)
  api/lib/application/certification-center-invitations/certification-center-invitation-controller.js
  api/lib/application/certification-center-invitations/index.js
  api/lib/domain/errors.js
  api/src/team/application/certification-center-invitation/certification-center-invitation.admin.controller.js
  api/src/team/application/certification-center-invitation/certification-center-invitation.admin.route.js
  api/src/team/application/certification-center-invitation/certification-center-invitation.controller.js
  api/src/team/application/certification-center-invitation/certification-center-invitation.route.js
  api/src/team/application/routes.js
  api/src/team/domain/errors.js
  api/src/team/domain/models/CertificationCenterInvitation.js
  api/src/team/domain/usecases/cancel-certification-center-invitation.js
  api/src/team/infrastructure/repositories/certification-center-invitation-repository.js
  api/tests/acceptance/application/certification-center-invitations/index_test.js
  api/tests/team/acceptance/application/certification-center-invitation/certification-center-invitation.admin.route.test.js
  api/tests/team/acceptance/application/certification-center-invitation/certification-center-invitation.route.test.js
  api/tests/team/integration/domain/usecases/cancel-certification-center-invitation_test.js
  api/tests/team/unit/application/certification-center-invitation/certification-center-invitation.admin.controller.test.js
  api/tests/unit/application/certification-center-invitations/certification-center-invitation-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#8995 [TECH] Utiliser le nouveau format de config ESLint sur l'API
  api/.depcheckrc
  api/.eslintignore
  api/.eslintrc.cjs
  api/db/migrations/.eslintrc.cjs
  api/db/seeds/.eslintrc.cjs
  api/eslint.config.cjs
  api/lib/.eslintrc.cjs
  api/lib/application/.eslintrc.cjs
  api/lib/application/healthcheck/healthcheck-controller.js
  api/lib/domain/services/mail-service.js
  api/lib/infrastructure/plugins/sentry.js
  api/lib/swaggers.js
  api/package-lock.json
  api/package.json
  api/scripts/.eslintrc.cjs
  api/scripts/certification/validate-cpf-xml.js
  api/scripts/certification/verify-certificate-code-service_script.js
  api/scripts/generate-api-documentation.js
  api/tests/.eslintrc.cjs
  api/tests/acceptance/application/scenario-simulator/scenario-simulator-controller_test.js
  api/tests/integration/.eslintrc.cjs
  api/tests/integration/application/.eslintrc.cjs
  api/tests/test-helper.js
  api/tests/tooling/mocha-tools.js
  api/tests/unit/.eslintrc.cjs
  api/tests/unit/domain/services/algorithm-methods/cat-algorithm_test.js
  api/tests/unit/domain/services/cpf/cpf-certification-xml-export-service_test.js
  api/tests/unit/domain/services/mail-service_test.js
  api/translations/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, no-review-app

#8993 [FEATURE] Englober les signalements dans la zone de focus (PIX-12025)
  mon-pix/app/components/challenge/item.hbs
  mon-pix/app/components/challenge/item.js
  mon-pix/app/controllers/assessments/challenge.js
  mon-pix/app/styles/components/_challenge-item.scss
  mon-pix/app/styles/pages/_challenge.scss
  mon-pix/app/templates/assessments/challenge.hbs
  mon-pix/tests/acceptance/challenge-item_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, team-evaluation

#9080 [TECH] Ajout d'un feature toggle pour les écrans d'informations de certif V3 (PIX-11844).
  api/lib/infrastructure/validate-environment-variables.js
  api/sample.env
  api/src/shared/config.js
  api/tests/acceptance/application/feature-toggles/feature-toggle-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#9096 [BUGFIX] Import en masse de session KO pour l'inscription aux complémentaires (PIX-12718).
  api/lib/domain/models/CertificationCandidate.js
  api/tests/unit/domain/models/CertificationCandidate_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#9083 [BUGFIX] Numéroter les participations dans le bon ordre dans le selecteur de participation (pix-12713)
  orga/app/components/participant/assessment/header.hbs
  orga/app/components/participant/assessment/header.js
  orga/tests/integration/components/participant/assessment/header_test.js
  orga/tests/unit/components/participant/assessment/header_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9095 [TECH] Corrige un test flaky sur le comportement QROCM (PIX-12730).
  mon-pix/tests/acceptance/module/retry-qrocm_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#9104 [TECH] Monter la version d'`eslint` minimum du dossier racine
  package-lock.json
  package.json
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, dependencies

#8842 [FEATURE] Permettre la modification des sujets d'un profil cible non relié à une campagne (PIX-12436).
  admin/app/adapters/target-profile.js
  admin/app/serializers/target-profile.js
  admin/tests/unit/serializers/target-profile_test.js
  api/lib/application/target-profiles/index.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/domain/models/TargetProfileForAdmin.js
  api/lib/domain/usecases/update-target-profile.js
  api/lib/infrastructure/repositories/target-profile-for-update-repository.js
  api/src/prescription/target-profile/infrastructure/serializers/jsonapi/target-profile-serializer.js
  api/src/shared/infrastructure/repositories/target-profile-for-admin-repository.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/integration/infrastructure/repositories/target-profile-for-update-repository_test.js
  api/tests/prescription/target-profile/unit/infrastructure/serializers/jsonapi/target-profile-serializer_test.js
  api/tests/unit/application/target-profiles/index_test.js
  api/tests/unit/application/target-profiles/target-profile-controller_test.js
  api/tests/unit/domain/models/TargetProfileForAdmin_test.js
  api/tests/unit/domain/usecases/update-target-profile_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#9030 [TECH] Move smart random services in evaluation context (PIX-12625)
  api/lib/domain/usecases/get-next-challenge-for-competence-evaluation.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/participant-result-repository.js
  api/src/evaluation/domain/services/algorithm-methods/cat-algorithm.js
  api/src/evaluation/domain/services/algorithm-methods/data-fetcher.js
  api/src/evaluation/domain/services/algorithm-methods/skills-filter.js
  api/src/evaluation/domain/services/algorithm-methods/smart-random.js
  api/src/evaluation/domain/usecases/index.js
  api/tests/evaluation/unit/domain/services/algorithm-methods/cat-algorithm_test.js
  api/tests/evaluation/unit/domain/services/smart-random/data-fetcher_test.js
  api/tests/evaluation/unit/domain/services/smart-random/skills-filter_test.js
  api/tests/evaluation/unit/domain/services/smart-random/smart-random_test.js
  api/tests/integration/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#9113 [FEATURE] Ajoute les colonnes deletedBy et deletedAt sur la table campaigns (PIX-12688).
  api/db/migrations/20240530060847_add-deleted-at-deleted-by-on-campaigns.js
  api/lib/infrastructure/repositories/campaign-participation-repository.js
  api/tests/prescription/campaign/integration/domain/usecases/update-campaign-details_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9085 [BUGFIX] Renseigner le bon emitter lors d'un rescoring de certification v3 (PIX-12520)
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/lib/domain/services/scoring/scoring-certification-service.js
  api/tests/unit/domain/services/scoring/scoring-certification-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#9116 [BUGFIX] Permettre d'inscrire un candidat à Pix Santé via l'ODS (PIX-12718)
  api/lib/infrastructure/files/candidates-import/candidates-import-transformation-structures.js
  api/tests/acceptance/application/session/files/1.5/import-certification-candidates-reports-categorization-test-complementary-ok.ods
  api/tests/acceptance/application/session/session-controller-import-certification-candidates-from-attendance-sheet_reports_categorization_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#9117 [TECH] Migre les composants des pages de campagnes activité et analyse vers GJS (PIX-12755)
  orga/app/components/campaign/activity/dashboard.gjs
  orga/app/components/campaign/activity/dashboard.hbs
  orga/app/components/campaign/activity/dashboard.js
  orga/app/components/campaign/activity/delete-participation-modal.gjs
  orga/app/components/campaign/activity/delete-participation-modal.hbs
  orga/app/components/campaign/activity/delete-participation-modal.js
  orga/app/components/campaign/activity/participants-list.gjs
  orga/app/components/campaign/activity/participants-list.hbs
  orga/app/components/campaign/activity/participants-list.js
  orga/app/components/campaign/analysis/competences.gjs
  orga/app/components/campaign/analysis/competences.hbs
  orga/app/components/campaign/analysis/competences.js
  orga/app/components/campaign/analysis/recommendation-indicator.gjs
  orga/app/components/campaign/analysis/recommendation-indicator.hbs
  orga/app/components/campaign/analysis/recommendation-indicator.js
  orga/app/components/campaign/analysis/recommendations.gjs
  orga/app/components/campaign/analysis/recommendations.hbs
  orga/app/components/campaign/analysis/recommendations.js
  orga/app/components/campaign/analysis/tube-recommendation-row.gjs
  orga/app/components/campaign/analysis/tube-recommendation-row.hbs
  orga/app/components/campaign/analysis/tube-recommendation-row.js
  orga/app/components/campaign/analysis/tutorial-counter.gjs
  orga/app/components/campaign/analysis/tutorial-counter.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9078 [TECH] Regrouper la gestion des centres (PIX-12462).
  api/lib/application/certification-centers/certification-center-controller.js
  api/lib/domain/models/CertificationCenterForAdmin.js
  api/lib/domain/models/index.js
  api/lib/domain/read-models/AllowedCertificationCenterAccess.js
  api/lib/domain/usecases/get-certification-center-for-admin.js
  api/lib/domain/usecases/get-certification-point-of-contact.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/certification-center-for-admin-repository.js
  api/lib/infrastructure/repositories/certification-point-of-contact-repository.js
  api/lib/infrastructure/serializers/jsonapi/certification-center-for-admin-serializer.js
  api/src/certification/enrolment/domain/models/Center.js
  api/src/certification/enrolment/domain/usecases/get-center-for-admin.js
  api/src/certification/enrolment/infrastructure/repositories/center-repository.js
  api/src/certification/session-management/domain/models/CenterForAdmin.js
  api/tests/acceptance/application/certification-centers/certification-center-controller_test.js
  api/tests/acceptance/application/certification-point-of-contacts/certification-point-of-contact-controller_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/center-repository_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-center-for-admin_test.js
  api/tests/integration/domain/usecases/update-certification-center_test.js
  api/tests/integration/infrastructure/repositories/certification-center-for-admin-repository_test.js
  api/tests/integration/infrastructure/repositories/certification-point-of-contact-repository_test.js
  api/tests/tooling/domain-builder/factory/build-allowed-certification-center-access.js
  api/tests/tooling/domain-builder/factory/build-center-for-admin.js
  api/tests/tooling/domain-builder/factory/build-center.js
  api/tests/tooling/domain-builder/factory/build-certification-center-for-admin.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/application/certification-point-of-contacts/certification-point-of-contact-controller_test.js
  api/tests/unit/domain/usecases/get-certification-center-for-admin_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-center-for-admin-serializer_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-point-of-contact-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-certif

#9048 [TECH] Deplacer PickChallengeService vers Evaluation (PIX-12657)
  api/lib/domain/events/index.js
  api/lib/domain/usecases/index.js
  api/src/certification/course/domain/usecases/index.js
  api/src/certification/flash-certification/application/scenario-simulator-controller.js
  api/src/certification/scoring/domain/services/scoring-degradation-service.js
  api/src/evaluation/domain/services/pick-challenge-service.js
  api/src/evaluation/domain/usecases/index.js
  api/tests/certification/flash-certification/integration/application/scenario-simulator-controller_test.js
  api/tests/certification/scoring/unit/domain/services/scoring-degradation-service_test.js
  api/tests/evaluation/unit/domain/services/pick-challenge-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, team-evaluation

#9077 [TECH] configuration pour le TMS Phrase
  .phrase.yml
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, no-review-app

#9100 [BUGFIX] Ne pas prendre en compte les learner supprimés lors de la réconciliation SUP (PIX-12734)
  api/src/prescription/learner-management/infrastructure/repositories/sup-organization-learner-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/sup-organization-learner-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9119 [BUGFIX] Rediriger vers la bonne participation depuis l'activité d'une campagne et le détail d'un participant (PIX-12673)
  api/db/seeds/data/team-prescription/build-campaigns.js
  api/src/prescription/campaign/domain/read-models/CampaignParticipantActivity.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-participant-activity-repository.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-participant-activity-serializer.js
  api/src/prescription/organization-learner/domain/read-models/OrganizationLearnerParticipation.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-activity-repository.js
  api/src/prescription/organization-learner/infrastructure/serializers/jsonapi/organization-learner-activity-serializer.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-participant-activity-repository_test.js
  api/tests/prescription/campaign/unit/domain/read-models/CampaignParticipantActivity_test.js
  api/tests/prescription/campaign/unit/infrastrucutre/serializers/jsonapi/campaign-participant-activity-serializer_test.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-learner-activity-repository_test.js
  api/tests/prescription/organization-learner/unit/domain/read-models/OrganizationLearnerParticipation_test.js
  api/tests/prescription/organization-learner/unit/infrastructure/serializers/jsonapi/organization-learner-activity-serializer_test.js
  orga/app/components/campaign/activity/participants-list.gjs
  orga/app/components/organization-learner/activity/participation-row.js
  orga/app/models/campaign-participant-activity.js
  orga/app/models/organization-learner-participation.js
  orga/tests/acceptance/campaign-activity_test.js
  orga/tests/integration/components/campaign/activity/participants-list_test.js
  orga/tests/integration/components/organization-learner/activity/participation-row_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9123 [TECH] Utiliser notre action de lint des titres de PR
  .github/workflows/check-pr-title.yaml
Labels: :rocket: Ready to Merge

#9118 [FEATURE] Ajouter les nouvelles couleurs (Pix-11932)
  junior/app/pods/components/bubble/bubble.scss
  junior/app/pods/components/markdown-to-html/component.js
  junior/app/pods/identified/missions/mission/mission.scss
  junior/app/styles/app.scss
  junior/app/styles/globals/_colors.scss
  junior/app/utils/layout.js
  junior/public/images/icons/external-link-alt.svg
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9121 [FEATURE] Ajouter le suffixe "%" pour les paliers par seuil (PIX-11911).
  admin/app/components/target-profiles/stages/new-stage.hbs
  admin/app/components/target-profiles/stages/stage.hbs
  admin/app/styles/globals/tables.scss
  admin/tests/acceptance/authenticated/target-profiles/target-profile/insights_test.js
  admin/tests/integration/components/target-profiles/stages_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation
