Repository 1024pix/pix, pull requests merged in 2024-04, with the labels that each got.

#7406 [FEATURE] Ajouter la connexion SSO Google à Pix Admin (PIX-8809)
  admin/app/authenticators/oidc.js
  admin/app/components/login-form.hbs
  admin/app/controllers/login.js
  admin/app/errors/json-api-error.js
  admin/app/helpers/jwt.js
  admin/app/routes/authentication/login-oidc.js
  admin/app/services/location.js
  admin/app/templates/login.hbs
  admin/package-lock.json
  admin/package.json
  admin/tests/integration/components/login-form_test.js
  admin/tests/unit/authenticators/oidc_test.js
  admin/tests/unit/routes/authentication/login-oidc_test.js
  api/lib/application/authentication/oidc/index.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/src/shared/config.js
  api/tests/acceptance/application/authentication/oidc/authentication-url-route-get_test.js
  api/tests/acceptance/application/authentication/oidc/token-route-post_test.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
  mon-pix/app/routes/authentication/login-oidc.js
  mon-pix/mirage/routes/authentication/oidc/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, cross-team

#8560 [REFACTOR] Migrer badge-criteria-repository dans le scope evaluation (PIX-11894).
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/domain/usecases/index.js
  api/scripts/create-badge-criteria-for-specified-badge.js
  api/src/evaluation/infrastructure/repositories/badge-criteria-repository.js
  api/src/evaluation/infrastructure/repositories/index.js
  api/src/shared/domain/usecases/create-badge.js
  api/src/shared/domain/usecases/index.js
  api/tests/evaluation/integration/infrastructure/repositories/badge-criteria-repository_test.js
  api/tests/shared/integration/domain/usecases/create-badge_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#8547 [FEATURE] Récupérer le format d'import pour une organisation spécifique (PIX-11613)
  api/db/database-builder/factory/build-organization-feature.js
  api/db/migrations/20240329142858_add-params-on-organization-features.js
  api/src/prescription/learner-management/domain/models/OrganizationLearnerImportFormat.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-import-format-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-import-format-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, no-review-app, 🎒👧🏽👦🏾 Pix1D

#8565 [BUGFIX][ORGA] Remettre la couleur de fond manquante (PIX-11877)
  orga/app/styles/pages/join-request.scss
  orga/app/styles/pages/join.scss
Labels: :rocket: Ready to Merge, team-acces

#8523 [FEATURE] Améliorer la gestion du choix de la langue d'affichage (PIX-11826)
  certif/app/services/locale.js
  certif/app/services/session.js
  certif/tests/acceptance/authentication_test.js
  certif/tests/unit/services/locale_test.js
  certif/tests/unit/services/session_test.js
  certif/translations/en.json
  orga/app/services/locale.js
  orga/app/services/session.js
  orga/tests/unit/services/locale_test.js
  orga/tests/unit/services/session_test.js
Labels: :rocket: Ready to Merge, team-acces

#8548 [TECH] Deplacer isRelatedToCertification vers le repo approprié (PIX-11920)
  api/src/certification/complementary-certification/infrastructure/repositories/complementary-certification-badge-repository.js
  api/src/shared/domain/usecases/delete-unassociated-badge.js
  api/src/shared/domain/usecases/index.js
  api/src/shared/infrastructure/repositories/badge-repository.js
  api/tests/certification/complementary-certification/integration/infrastucture/repositories/complementary-certification-badge-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/badge-repository_test.js
  api/tests/shared/unit/domain/usecases/delete-unassociated-badge_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif, team-evaluation

#8515 [TECH] Dans les tests unitaires remplacer le monkey-patching de DomainTransaction.execute par l’utilisation de sinon
  api/tests/prescription/campaign-participation/unit/application/campaign-participation-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/learner-participation-controller_test.js
  api/tests/shared/unit/application/assessments/assessment-controller_test.js
  api/tests/shared/unit/domain/usecases/delete-unassociated-badge_test.js
  api/tests/unit/application/account-recovery/account-recovery-controller_test.js
  api/tests/unit/domain/usecases/account-recovery/update-user-for-account-recovery_test.js
  api/tests/unit/domain/usecases/import-certification-candidates-from-candidates-import-sheet_test.js
Labels: :rocket: Ready to Merge, cross-team

#8529 [FEATURE] Afficher un commentaire auto jury lorsqu'un problème technique empêche le bon déroulement de la certification V2 (PIX-10535)
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/tests/tooling/domain-builder/factory/certification/scoring/build-assessment-result.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
Labels: :rocket: Ready to Merge, team-certif

#8561 [TECH] Charger les données de la table oidc-providers avec les seeds (PIX-10032)
  api/db/database-builder/factory/build-oidc-provider.js
  api/db/seeds/data/team-acces/build-oidc-providers.js
  api/db/seeds/data/team-acces/data-builder.js
Labels: :rocket: Ready to Merge, team-acces

#8566 [TECH] Migrer la connexion à Mediacentre du dossier lib vers src (PIX-11875)
  api/lib/application/saml/index.js
  api/lib/routes.js
  api/src/authentication/application/routes.js
  api/src/authentication/application/saml-controller.js
  api/src/authentication/application/saml.route.js
  api/src/authentication/application/token-controller.js
  api/src/authentication/application/token.route.js
  api/src/authentication/domain/usecases/get-saml-authentication-redirection-url.js
  api/src/authentication/domain/usecases/index.js
  api/src/authentication/infrastructure/saml.js
  api/tests/acceptance/application/users/users-controller-update-password_test.js
  api/tests/authentication/acceptance/application/saml.route.test.js
  api/tests/authentication/acceptance/application/token.route.test.js
  api/tests/authentication/integration/routes_test.js
  api/tests/authentication/unit/domain/usecases/get-saml-authentication-redirection-url_test.js
  api/tests/authentication/unit/token-controller_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#8575 [BUGFIX] corrige la largeur des champ texte lors de la creation de campagne (PIX-11904)
  orga/app/styles/pages/authenticated/campaigns/new.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8485 [TECH] Renommer flash estimatedLevel en capacity (PIX-11379)
  api/lib/domain/usecases/correct-answer-then-update-assessment.js
  api/lib/infrastructure/repositories/participant-result-repository.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorDoubleMeasureStrategy.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorSingleMeasureStrategy.js
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/src/certification/scoring/domain/models/CertificationAssessmentHistory.js
  api/src/certification/scoring/domain/models/CertificationAssessmentScoreV3.js
  api/src/certification/scoring/domain/models/V3CertificationScoring.js
  api/tests/certification/course/unit/domain/usecases/get-next-challenge-for-v3-certification_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorDoubleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorSingleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentHistory_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentScoreV3_test.js
  api/tests/certification/scoring/unit/domain/models/V3CertificationScoring_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/tests/unit/domain/usecases/correct-answer-then-update-assessment_test.js
  api/tests/unit/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/unit/domain/usecases/simulate-flash-deterministic-assessment-scenario_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#8473 [TECH] Refactoriser l'algorithme de sélection d'épreuve (PIX-11595).
  api/lib/domain/services/algorithm-methods/cat-algorithm.js
  api/lib/domain/services/algorithm-methods/skills-filter.js
  api/lib/domain/services/algorithm-methods/smart-random.js
  api/src/certification/flash-certification/domain/services/pick-challenge-service.js
  api/tests/unit/domain/services/algorithm-methods/cat-algorithm_test.js
  api/tests/unit/domain/services/smart-random/skills-filter_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#8574 [FEATURE][API] Ajouter le lien support en néerlandais dans les mails (PIX-11704)
  api/lib/domain/services/mail-service.js
  api/tests/unit/domain/services/mail-service_test.js
Labels: :rocket: Ready to Merge, team-acces

#8570 [TECH] Fusionner idTokenLifespanMs et accessTokenLifespanMs (PIX-8704)
  .gitignore
  INSTALLATION.md
  api/OIDC_PROVIDERS.example.json
  api/db/database-builder/factory/build-oidc-provider.js
  api/db/migrations/20240403112302_remove-useless-idTokenLifespan-in-table-oidc-providers.js
  api/lib/domain/services/authentication/cnav-oidc-authentication-service.js
  api/lib/domain/services/authentication/fwb-oidc-authentication-service.js
  api/lib/domain/services/authentication/google-oidc-authentication-service.js
  api/lib/domain/services/authentication/paysdelaloire-oidc-authentication-service.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
  api/scripts/team-acces/load-oidc-providers-from-env-variables.js
  api/src/authentication/domain/services/oidc-authentication-service.js
  api/src/authentication/domain/usecases/add-oidc-provider.js
  api/src/authentication/infrastructure/repositories/oidc-provider-repository.js
  api/src/shared/config.js
  api/tests/authentication/integration/infrastructure/repositories/oidc-provider-repository_test.js
  api/tests/authentication/unit/domain/services/oidc-authentication-service_test.js
  api/tests/authentication/unit/domain/usecases/add-oidc-provider_test.js
  api/tests/tooling/server/hapi-server-with-test-oidc-provider.js
  api/tests/unit/setup-oidc-authentication-service-registry_test.js
Labels: :rocket: Ready to Merge, team-acces

#8563 [FEATURE] Sauvegarde de la langue du candidat au début d'une certif V3 (PIX-11279).
  api/db/database-builder/factory/build-certification-course.js
  api/db/migrations/20240402085912_add-lang-column-in-certification-courses-table.js
  api/lib/domain/usecases/retrieve-last-or-create-certification-course.js
  api/src/certification/shared/domain/models/CertificationCourse.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-course-repository_test.js
  api/tests/tooling/domain-builder/factory/build-certification-course.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#8578 [TECH] met à jour le plugin update-prettier-plugin-ember-template-tag
  orga/package-lock.json
  orga/package.json
Labels: :rocket: Ready to Merge, team-prescription, dependencies, no-review-app

#8576 [TECH] Extrait le traitement de données de l'import SIECLE dans un usecase (PIX-11945)
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/domain/usecases/add-or-update-organization-learners.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-xml-format.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-import-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-import-repository_test.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/add-or-update-organization-learners_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-xml-format_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8577 [TECH] Migrer l'API d'envoi d'une invitation sur Pix Certif dans src (PIX-11938)
  .github/CODEOWNERS
  api/lib/application/certification-centers/certification-center-controller.js
  api/lib/application/certification-centers/index.js
  api/lib/application/usecases/check-user-is-admin-of-certification-center-with-certification-center-invitation-id.js
  api/lib/domain/models/CertificationCenterInvitedUser.js
  api/lib/domain/models/index.js
  api/lib/domain/usecases/create-or-update-certification-center-invitation-for-admin.js
  api/lib/domain/usecases/index.js
  api/server.js
  api/src/team/application/certification-center-invitation-controller.js
  api/src/team/application/routes.js
  api/src/team/domain/models/CertificationCenterInvitation.js
  api/src/team/domain/services/certification-center-invitation-service.js
  api/src/team/domain/usecases/create-or-update-certification-center-invitation.js
  api/src/team/domain/usecases/index.js
  api/src/team/infrastructure/repositories/certification-center-invitation-repository.js
  api/tests/acceptance/application/certification-center-invitations/index_test.js
  api/tests/acceptance/application/certification-centers/certification-center-controller_test.js
  api/tests/acceptance/application/certification-centers/index_test.js
  api/tests/acceptance/application/certifications/index_test.js
  api/tests/integration/domain/usecases/cancel-certification-center-invitation_test.js
  api/tests/integration/domain/usecases/create-or-update-certification-center-invitation-for-admin_test.js
  api/tests/integration/domain/usecases/find-pending-certification-center-invitations_test.js
  api/tests/integration/domain/usecases/get-certification-center-invitation_test.js
  api/tests/integration/infrastructure/repositories/certification-center-invited-user-repository_test.js
  api/tests/team/acceptance/application/routes.test.js
  api/tests/team/integration/infrastructure/repositories/certification-center-invitation-repository_test.js
  api/tests/team/unit/domain/models/CertificationCenterInvitation_test.js
  api/tests/team/unit/domain/services/certification-center-invitation-service_test.js
  api/tests/team/unit/domain/usecases/create-or-update-certification-center-invitation_test.js
  api/tests/tooling/domain-builder/factory/build-certification-center-invitation.js
  api/tests/unit/application/certification-center-invitations/certification-center-invitation-controller_test.js
  api/tests/unit/domain/models/CertificationCenterInvitedUser_test.js
  api/tests/unit/domain/usecases/accept-certification-center-invitation_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-center-invitation-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#8568 [FEATURE] Import Générique - Extraire les données d'un fichier ONDE (PIX-11616)
  api/src/prescription/learner-management/domain/errors.js
  api/src/prescription/learner-management/domain/models/ImportOrganizationLearnerSet.js
  api/src/prescription/learner-management/domain/usecases/import-from-feature/save-organization-learners-file.js
  api/src/prescription/learner-management/domain/usecases/import-from-feature/send-organization-learners-file.js
  api/src/prescription/learner-management/domain/usecases/import-from-feature/validate-organization-learners-file.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-csv-format.js
  api/src/prescription/learner-management/domain/usecases/import-sup-organization-learners.js
  api/src/prescription/learner-management/domain/usecases/replace-sup-organization-learner.js
  api/src/prescription/learner-management/infrastructure/serializers/csv/common-csv-learner-parser.js
  api/src/prescription/learner-management/infrastructure/utils/bufferize/get-data-buffer.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/learner-management/unit/domain/models/ImportOrganizationLearnerSet_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-from-feature/save-organization-learners-file_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-from-feature/send-organization-learners-file_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-from-feature/validate-organization-learners-file_test.js
  api/tests/prescription/learner-management/unit/infrastructure/serializers/csv/common-csv-learner-parser_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, no-review-app, 🎒👧🏽👦🏾 Pix1D

#8527 [REFACTOR] Améliorer l'affichage des critères d'obtention d'un résultat thématique (PIX-11870).
  admin/app/components/badges/badge.hbs
  admin/app/components/badges/badge.js
  admin/app/components/badges/capped-tubes-criterion.hbs
  admin/app/styles/components/badges/badge.scss
  admin/tests/acceptance/authenticated/target-profiles/target-profile/insights_test.js
  admin/tests/unit/components/badges/badge_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#8595 [TECH] Supprime la dev dependence à inquirer (PIX-11971)
  api/package-lock.json
  api/package.json
  api/scripts/data-generation/generate-certif-cli.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8294 [FEATURE] Message d'inéligibilité à une complémentaire uniquement si une version d'écart (PIX-99866).
  api/lib/domain/models/ComplementaryCertificationBadgeForAdmin.js
  api/lib/domain/models/ComplementaryCertificationCourseWithResults.js
  api/lib/domain/models/TargetProfileHistoryForAdmin.js
  api/lib/domain/services/certification-badges-service.js
  api/lib/domain/usecases/get-user-certification-eligibility.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/certifiable-badge-acquisition-repository.js
  api/lib/infrastructure/repositories/complementary-certification-repository.js
  api/lib/infrastructure/repositories/index.js
  api/lib/infrastructure/serializers/jsonapi/certification-eligibility-serializer.js
  api/src/certification/complementary-certification/application/api/complementary-certification-api.js
  api/src/certification/complementary-certification/application/api/models/ComplementaryCertificationBadgesHistory.js
  api/src/certification/complementary-certification/domain/models/ComplementaryCertificationTargetProfileHistory.js
  api/src/certification/complementary-certification/domain/read-models/ComplementaryCertificationVersioning.js
  api/src/certification/complementary-certification/domain/usecases/get-complementary-certification-target-profile-history.js
  api/src/certification/complementary-certification/domain/usecases/index.js
  api/src/certification/complementary-certification/infrastructure/repositories/complementary-certification-course-repository.js
  api/src/certification/complementary-certification/infrastructure/repositories/complementary-certification-for-target-profile-attachment-repository.js
  api/src/certification/complementary-certification/infrastructure/repositories/target-profile-history-repository.js
  api/src/certification/complementary-certification/infrastructure/serializers/jsonapi/complementary-certification-serializer.js
  api/src/shared/domain/models/asserts.js
  api/tests/acceptance/application/users/users-controller-is-certifiable_test.js
  api/tests/certification/complementary-certification/integration/infrastucture/repositories/complementary-certification-for-target-profile-attachment-repository_test.js
  api/tests/certification/complementary-certification/integration/infrastucture/repositories/target-profile-history-repository_test.js
  api/tests/integration/domain/services/certification-candidates-ods-service/certification-candidates-ods-service_test.js
  api/tests/shared/unit/domain/models/asserts_test.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-badge-for-admin.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-versioning.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/models/ComplementaryCertificationCourseWithResults_test.js
  api/tests/unit/domain/usecases/get-user-certification-eligibility_test.js
  mon-pix/app/components/certification-banners/index.hbs
  mon-pix/app/components/certification-banners/index.js
  mon-pix/tests/integration/components/certification-banners/eligible-complementary-certification-banner_test.js
  mon-pix/tests/integration/components/certification-banners/index_test.js
  mon-pix/tests/integration/components/certification-banners/outdated-complementary-certification-banner_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8587 [FEATURE] Afficher des QROCM "inline" (PIX-10789)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/qrocm.sample.js
  mon-pix/app/pods/components/module/qrocm/styles.scss
  mon-pix/app/pods/components/module/qrocm/template.hbs
  mon-pix/tests/acceptance/module/retry-qrocm_test.js
  mon-pix/tests/acceptance/module/verify-qrocm_test.js
  mon-pix/tests/integration/components/module/qrocm_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8619 [TECH] Ajouter les fichiers à risques que sont *.json et *.csv dans le fichier .gitignore à la racine
  .gitignore
  api/src/devcomp/infrastructure/datasources/learning-content/.gitignore
Labels: :rocket: Ready to Merge, cross-team

#8625 [TECH] Renommer authentication-service-registry→oidc-authentication-service-registry (PIX-12016)
  api/config/setup-oidc-authentication-service-registry.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/lib/domain/services/authentication/oidc-authentication-service-registry.js
  api/lib/domain/usecases/get-all-identity-providers.js
  api/lib/domain/usecases/get-ready-identity-providers.js
  api/lib/domain/usecases/index.js
  api/tests/acceptance/application/authentication/oidc/token-route-post_test.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
  api/tests/unit/domain/services/authentication/oidc-authentication-service-registry_test.js
  api/tests/unit/domain/usecases/get-all-identity-providers_test.js
  api/tests/unit/domain/usecases/get-ready-identity-providers_test.js
  api/tests/unit/server/server_test.js
  api/tests/unit/setup-oidc-authentication-service-registry_test.js
Labels: :rocket: Ready to Merge, team-acces

#8621 [TECH] Corrige la configuration du linter pour les fichiers GJS (PIX-12008)
  orga/package-lock.json
  orga/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, cross-team

#8603 [FEATURE] ajout du endpoint pour l'import générique `ONDE` (Pix-11612)
  api/db/database-builder/factory/build-organization-learner-import-format.js
  api/src/prescription/learner-management/application/organization-learners-controller.js
  api/src/prescription/learner-management/application/organization-learners-route.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/shared/application/security-pre-handlers.js
  api/tests/integration/application/security-pre-handlers_test.js
  api/tests/prescription/learner-management/acceptance/application/organization-learners-route_test.js
  api/tests/prescription/learner-management/integration/application/organization-learners-route_test.js
  api/tests/prescription/learner-management/integration/application/organization-learners_test.js
  api/tests/prescription/learner-management/unit/application/organization-learner-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, no-review-app, 🎒👧🏽👦🏾 Pix1D

#8624 [TECH] Supprimer des fichiers inutilisés sur Pix Certif (PIX-11999).
  certif/app/http-status-code.js
  certif/public/icons/icon-done.svg
Labels: :rocket: Ready to Merge, team-certif, no-review-app

#8616 [TECH] Rendre la règle de l'unicité obligatoire (Pix-11908)
  api/db/database-builder/factory/build-organization-learner-import-format.js
  api/db/seeds/data/team-prescription/build-organization-learner-import-formats.js
  api/src/prescription/learner-management/domain/models/ImportOrganizationLearnerSet.js
  api/src/shared/domain/constants.js
  api/src/shared/domain/errors.js
  api/tests/prescription/learner-management/acceptance/application/organization-learners-route_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-import-format-repository_test.js
  api/tests/prescription/learner-management/unit/domain/models/ImportOrganizationLearnerSet_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, no-review-app, 🎒👧🏽👦🏾 Pix1D

#8516 [FEATURE] Modifs mineures de contenu des modules en production
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8586 [FEATURE] Informer le candidat si sa langue n'est pas disponible en certif V3 (PIX-11280).
  api/lib/domain/models/User.js
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/link-user-to-session-certification-candidate.js
  api/lib/domain/usecases/retrieve-last-or-create-certification-course.js
  api/src/certification/shared/domain/models/CertificationCourse.js
  api/tests/certification/shared/unit/domain/models/CertificationCourse_test.js
  api/tests/unit/domain/models/User_test.js
  api/tests/unit/domain/usecases/link-user-to-session-certification-candidate_test.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
  mon-pix/app/components/certification-joiner.js
  mon-pix/tests/integration/components/certification-joiner_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#8611 [TECH] Modifier le design du message d'erreur de la page de connexion à la certif (PIX-11988)
  mon-pix/app/components/certification-joiner.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#8622 [BUGFIX] Remettre la capacité dans le rendu des simulateurs de déroulé V3 (PIX-12007).
  api/lib/infrastructure/serializers/jsonapi/scenario-simulator-batch-serializer.js
  api/src/certification/flash-certification/application/scenario-simulator-controller.js
  api/tests/acceptance/application/scenario-simulator/scenario-simulator-controller_test.js
  api/tests/certification/flash-certification/integration/application/scenario-simulator-controller_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/scenario-simulator-batch-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#8634 [TECH] Vérifier la présence des propriétés identifiant un learner (PIX-12009)
  api/src/prescription/learner-management/domain/models/ImportOrganizationLearnerSet.js
  api/src/shared/domain/constants.js
  api/tests/prescription/learner-management/unit/domain/models/ImportOrganizationLearnerSet_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, no-review-app, 🎒👧🏽👦🏾 Pix1D

#8582 [FEATURE] Empêcher une valeur nulle ou vide dans la payload de réponse, sauf dans le cas d'un timeout (PIX-11905).
  api/config/server-setup-error-handling.js
  api/lib/domain/usecases/correct-answer-then-update-assessment.js
  api/src/evaluation/application/http-error-mapper-configuration.js
  api/src/evaluation/domain/errors.js
  api/src/evaluation/domain/models/Answer.js
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/application/error-manager.js
  api/tests/evaluation/acceptance/application/answers/answer-controller-save_test.js
  api/tests/evaluation/unit/application/answers/index_test.js
  api/tests/evaluation/unit/domain/models/Answer_test.js
  api/tests/unit/domain/usecases/correct-answer-then-update-assessment_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#8638 [TECH][API] Implémentation à la demande de la configuration des OIDC services (PIX-12039)
  api/config/setup-oidc-authentication-service-registry.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/lib/domain/services/authentication/oidc-authentication-service-registry.js
  api/lib/domain/usecases/get-all-identity-providers.js
  api/lib/domain/usecases/get-ready-identity-providers.js
  api/lib/domain/usecases/index.js
  api/server.js
  api/tests/acceptance/application/authentication/oidc/token-route-post_test.js
  api/tests/tooling/server/hapi-server-with-test-oidc-provider.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
  api/tests/unit/domain/services/authentication/oidc-authentication-service-registry_test.js
  api/tests/unit/domain/usecases/get-all-identity-providers_test.js
  api/tests/unit/domain/usecases/get-ready-identity-providers_test.js
  api/tests/unit/server/server_test.js
  api/tests/unit/setup-oidc-authentication-service-registry_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#8633 [BUGFIX] Erreur 502 lors du rattachement d'un nouveau PC à une certification complémentaire (PIX-12044)
  api/src/certification/complementary-certification/domain/usecases/index.js
  api/tests/certification/complementary-certification/acceptance/application/attach-target-profile-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8640 [TECH] Utilisation du contenu de mission provenant du référentiel (Pix-11698)
  api/db/database-builder/factory/build-activity.js
  api/db/database-builder/factory/build-assessment.js
  api/db/database-builder/factory/build-mission-assessment.js
  api/src/school/application/activity-answer-controller.js
  api/src/school/application/assessment-controller.js
  api/src/school/domain/models/Assessment.js
  api/src/school/domain/models/Mission.js
  api/src/school/domain/services/activity-challenge.js
  api/src/school/domain/services/algorithm-method.js
  api/src/school/domain/services/challenge.js
  api/src/school/domain/services/correct-answer.js
  api/src/school/domain/services/init-mission-activity.js
  api/src/school/domain/services/update-assessment.js
  api/src/school/domain/services/update-current-activity.js
  api/src/school/domain/usecases/correct-preview-answer.js
  api/src/school/domain/usecases/get-next-challenge.js
  api/src/school/domain/usecases/get-or-create-assessment.js
  api/src/school/domain/usecases/handle-activity-answer.js
  api/src/school/domain/usecases/index.js
  api/src/school/domain/usecases/play-mission.js
  api/src/school/infrastructure/repositories/activity-answer-repository.js
  api/src/school/infrastructure/repositories/activity-repository.js
  api/src/school/infrastructure/repositories/challenge-repository.js
  api/src/school/infrastructure/repositories/mission-assessment-repository.js
  api/src/school/infrastructure/repositories/mission-repository.js
  api/src/shared/infrastructure/repositories/assessment-repository.js
  api/tests/school/acceptance/application/assessments/activity-answer-controller_test.js
  api/tests/school/integration/application/assessment-controller_test.js
  api/tests/school/integration/domain/services/correct-answer_test.js
  api/tests/school/integration/domain/services/init-mission-activity_test.js
  api/tests/school/integration/domain/services/update-assessment_test.js
  api/tests/school/integration/domain/services/update-current-activity_test.js
  api/tests/school/integration/domain/usecases/correct-preview-answer_test.js
  api/tests/school/integration/domain/usecases/get-assessment-by-id_test.js
  api/tests/school/integration/domain/usecases/get-next-challenge_test.js
  api/tests/school/integration/domain/usecases/handle-activity-answer_test.js
  api/tests/school/integration/domain/usecases/play-mission_test.js
  api/tests/school/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/school/integration/infrastructure/repositories/mission-repository_test.js
  api/tests/school/unit/application/assessment-controller_test.js
  api/tests/school/unit/domain/models/Mission_test.js
  api/tests/school/unit/domain/services/activity-challenge_test.js
  api/tests/school/unit/domain/services/challenge_test.js
  api/tests/tooling/domain-builder/factory/build-mission.js
  api/tests/tooling/domain-builder/factory/build-school-assessment.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/tooling/learning-content-builder/build-mission.js
  api/tests/unit/application/activity-answers/activity-answer-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#8635 [FEATURE] affiche l'état de l'import sur la page participant (Pix-11671)
  orga/app/components/import-information-banner.gjs
  orga/app/components/import.js
  orga/app/components/sco-organization-participant/list.hbs
  orga/app/components/sup-organization-participant/list.hbs
  orga/app/controllers/authenticated/import-organization-participants.js
  orga/app/routes/authenticated/sco-organization-participants/list.js
  orga/app/routes/authenticated/sup-organization-participants/list.js
  orga/app/styles/app.scss
  orga/app/styles/components/import-information-banner.scss
  orga/app/templates/authenticated/import-organization-participants.hbs
  orga/app/templates/authenticated/sco-organization-participants/list.hbs
  orga/app/templates/authenticated/sup-organization-participants/list.hbs
  orga/tests/integration/components/import-information-banner_test.gjs
  orga/tests/integration/components/import_test.js
  orga/tests/unit/components/import_test.js
  orga/tests/unit/controllers/authenticated/import-organization-participants_test.js
  orga/tests/unit/routes/authenticated/import-organization-participants_test.js
  orga/tests/unit/routes/authenticated/sco-organization-participants/list_test.js
  orga/tests/unit/routes/authenticated/sup-organization-participants/list_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8643 [TECH] Simplifier l'usage des solutions dans les QROCM, QCU et QCM (PIX-11086)
  api/src/devcomp/domain/models/element/QCM-for-answer-verification.js
  api/src/devcomp/domain/models/element/QCU-for-answer-verification.js
  api/src/devcomp/domain/models/element/QROCM-for-answer-verification.js
  api/tests/devcomp/unit/domain/models/element/QCM-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QCU-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QROCM-for-answer-verification_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8627 [TECH] Déplacement de `knex-utils` vers `src/shared`
  api/lib/infrastructure/repositories/campaign-participation-overview-repository.js
  api/lib/infrastructure/repositories/certification-center-membership-repository.js
  api/lib/infrastructure/repositories/jury-certification-summary-repository.js
  api/lib/infrastructure/repositories/knowledge-element-snapshot-repository.js
  api/lib/infrastructure/repositories/membership-repository.js
  api/lib/infrastructure/repositories/organization-learner-repository.js
  api/lib/infrastructure/repositories/organization-tag-repository.js
  api/lib/infrastructure/repositories/organizations-to-attach-to-target-profile-repository.js
  api/lib/infrastructure/repositories/sessions/session-summary-repository.js
  api/lib/infrastructure/repositories/tag-repository.js
  api/lib/infrastructure/repositories/target-profile-summary-for-admin-repository.js
  api/src/certification/session/infrastructure/repositories/jury-session-repository.js
  api/src/devcomp/infrastructure/repositories/training-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participant-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/participations-for-campaign-management-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-assessment-participation-result-list-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-for-archiving-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-management-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-participant-activity-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-profiles-collection-participation-summary-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-report-repository.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-participant-repository.js
  api/src/prescription/organization-learner/infrastructure/repositories/sco-organization-participant-repository.js
  api/src/prescription/organization-learner/infrastructure/repositories/sup-organization-participant-repository.js
  api/src/school/infrastructure/repositories/mission-learner-repository.js
  api/src/shared/infrastructure/repositories/authentication-method-repository.js
  api/src/shared/infrastructure/repositories/badge-repository.js
  api/src/shared/infrastructure/repositories/organization-repository.js
  api/src/shared/infrastructure/repositories/user-repository.js
  api/src/shared/infrastructure/utils/knex-utils.js
  api/src/shared/prescriber-management/infrastructure/repositories/user-orga-settings-repository.js
  api/tests/integration/infrastructure/utils/knex-utils_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, Bounded-context-migration

#8612 [TECH] Supprimer pixCertificationStatus de certification-courses (PIX-11992)
  api/db/database-builder/factory/build-certification-course.js
  api/db/migrations/20240408150129_remove-column-pix-certification-status-in-certification-courses-table.js
  api/db/seeds/data/common/tooling/session-tooling.js
  api/db/seeds/data/team-certification/data-builder.js
  api/lib/infrastructure/repositories/certification-repository.js
  api/scripts/certification/fill-pix-certification-status-column-in-certification-courses-table.js
  api/tests/acceptance/application/session/session-controller-patch-publish-session_test.js
  api/tests/acceptance/application/session/session-controller-patch-unpublish-session_test.js
  api/tests/integration/infrastructure/repositories/certification-repository_test.js
  api/tests/integration/scripts/certification/fill-pix-certification-status-column-in-certification-courses-table_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8644 [TECH] Passage en entier de l'id de mission en base (PIX-12070)
  api/db/migrations/20240411151140_alter_table_mission_assessments_mission_id.js
  api/src/school/application/mission-controller.js
  api/src/shared/domain/types/identifiers-type.js
  api/tests/school/acceptance/application/assessments/assessment-controller_test.js
  api/tests/school/integration/application/assessment-controller_test.js
  api/tests/school/integration/application/mission-controller_test.js
  api/tests/school/integration/domain/services/update-assessment_test.js
  api/tests/school/integration/domain/usecases/get-assessment-by-id_test.js
  api/tests/school/integration/domain/usecases/get-organization-learner-with-completed-mission-ids_test.js
  api/tests/school/integration/domain/usecases/play-mission_test.js
  api/tests/school/integration/infrastructure/repositories/mission-assessment-repository_test.js
  api/tests/school/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/school/unit/application/assessment-route_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#8481 [BUMP] Mettre à jour ember-data en 4.12.5 sur Pix App (PIX-11960)
  api/lib/application/authentication/authentication-controller.js
  api/lib/infrastructure/serializers/jsonapi/sco-organization-learner-serializer.js
  api/tests/unit/infrastructure/serializers/jsonapi/sco-organization-learner-serializer_test.js
  mon-pix/mirage/routes/authentication/index.js
  mon-pix/package-lock.json
  mon-pix/package.json
  mon-pix/tests/acceptance/account-recovery/find-sco-record_test.js
  mon-pix/tests/acceptance/account-recovery/update-sco-record_test.js
  mon-pix/tests/acceptance/certification-course_test.js
  mon-pix/tests/acceptance/oidc/oidc-authentication-flow_test.js
  mon-pix/tests/acceptance/resume-competence-evaluations_test.js
  mon-pix/tests/acceptance/skill-review_test.js
  mon-pix/tests/acceptance/start-campaigns-workflow_test.js
  mon-pix/tests/acceptance/update-expired-password_test.js
  mon-pix/tests/acceptance/user-account/connection-methods_test.js
Labels: :rocket: Ready to Merge, cross-team, dependencies

#8618 [TECH] Supprimer la dépendance inutile à `ember-matomo-tag-manager`
  mon-pix/package-lock.json
  mon-pix/package.json
Labels: :rocket: Ready to Merge, cross-team

#8646 [TECH][API] Factorisation du code de stockage des ID Tokens pour 2 services d'authentification de type OIDC (PIX-12069)
  api/lib/domain/services/authentication/fwb-oidc-authentication-service.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
  api/src/shared/config.js
  api/tests/integration/domain/services/authentication/fwb-oidc-authentication-service_test.js
  api/tests/integration/domain/services/authentication/pole-emploi-oidc-authentication-service_test.js
  api/tests/unit/domain/services/authentication/fwb-oidc-authentication-service.test.js
  api/tests/unit/domain/services/authentication/pole-emploi-oidc-authentication-service_test.js
Labels: :rocket: Ready to Merge, team-acces

#8648 [FEATURE] Corriger le wording pour l'affichage du statut de l'import sur la page participant (PIX-12080)
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8653 [BUGFIX][API] (PIX-12118)
  api/lib/application/authentication/oidc/oidc-controller.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
Labels: :rocket: Ready to Merge, team-acces

#8632 [TECH] Rend asynchrone l'import des organization learners SIECLE (PIX-11937)
  api/lib/infrastructure/events/EventBusBuilder.js
  api/lib/infrastructure/events/EventHandlerDependenciesBuilder.js
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/domain/events/FileValidated.js
  api/src/prescription/learner-management/domain/usecases/add-or-update-organization-learners.js
  api/src/prescription/learner-management/domain/usecases/validate-siecle-xml-file.js
  api/src/prescription/learner-management/infrastructure/events/subscribers/ScheduleImportOrganizationLearnersJob.js
  api/src/prescription/learner-management/infrastructure/jobs/ImportOrganizationLearnersJob.js
  api/src/prescription/learner-management/infrastructure/jobs/ImportOrganizationLearnersJobHandler.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-import-repository.js
  api/src/shared/config.js
  api/tests/prescription/learner-management/acceptance/application/organization-controller-import-sco-organization-learners_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-import-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/serializers/xml/siecle-parser_test.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/add-or-update-organization-learners_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/validate-siecle-xml-file_test.js
  api/tests/prescription/learner-management/unit/infrastructure/events/subscribers/ScheduleImportOrganizationLearnersJob_test.js
  api/tests/prescription/learner-management/unit/infrastructure/jobs/ImportOrganizationLearnersJobHandler_test.js
  api/tests/tooling/fixtures/siecle-file/siecle-with-only-ignored-student.xml
  api/tests/unit/worker_test.js
  api/worker.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8654 [FEATURE] Ajout video ip publique et modification mineure
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8579 [FEATURE] Retourner les détails des étapes de Smart Random (PIX-11561).
  admin/app/controllers/authenticated/smart-random-simulator/get-next-challenge.js
  admin/tests/unit/controllers/authenticated/smart-random-simulator/get-next-challenge-test.js
  api/lib/domain/services/algorithm-methods/cat-algorithm.js
  api/lib/domain/services/algorithm-methods/skills-filter.js
  api/lib/domain/services/algorithm-methods/smart-random.js
  api/src/evaluation/domain/models/SmartRandomDetails.js
  api/src/evaluation/domain/models/SmartRandomStep.js
  api/src/evaluation/domain/usecases/get-next-challenge-for-simulator.js
  api/tests/evaluation/acceptance/application/smart-random-simulator/smart-random-simulator-controller_test.js
  api/tests/evaluation/integration/domain/usecases/get-next-challenge-for-simulator_test.js
  api/tests/evaluation/unit/domain/usecases/get-next-challenge-for-simulator_test.js
  api/tests/unit/domain/services/smart-random/skills-filter_test.js
  api/tests/unit/domain/services/smart-random/smart-random_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#8650 [DOC] Corriger le numéro des ADR
  docs/adr/0036-formater-le-code.md
  docs/adr/0038-ordonnancer-les-propriétés-css.md
  docs/adr/0040-locales-languages.md
  docs/adr/0041-stockage-de-l-access-token-cote-client.md
  docs/adr/0052-compatibilite-navigateurs.md
  docs/adr/0053-utilisation-de-workspaces.md
Labels: :rocket: Ready to Merge, cross-team, no-review-app

#8584 [BUGFIX] Modifications modules expé : retours Lisa et bascule leçon <> activité
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8656 [TECH] Déplacer les évaluations de tutoriels dans le bounded-context DevComp (PIX-12129)
  api/lib/domain/models/index.js
  api/lib/infrastructure/repositories/index.js
  api/lib/infrastructure/serializers/jsonapi/correction-serializer.js
  api/lib/routes.js
  api/src/devcomp/application/tutorial-evaluations/index.js
  api/src/devcomp/application/tutorial-evaluations/tutorial-evaluations-controller.js
  api/src/devcomp/domain/models/TutorialEvaluation.js
  api/src/devcomp/domain/usecases/add-tutorial-evaluation.js
  api/src/devcomp/infrastructure/datasources/learning-content/tutorial-datasource.js
  api/src/devcomp/infrastructure/repositories/index.js
  api/src/devcomp/infrastructure/repositories/tutorial-evaluation-repository.js
  api/src/devcomp/infrastructure/repositories/tutorial-repository.js
  api/src/devcomp/infrastructure/serializers/jsonapi/tutorial-attributes.js
  api/src/devcomp/infrastructure/serializers/jsonapi/tutorial-evaluation-attributes.js
  api/src/devcomp/infrastructure/serializers/jsonapi/tutorial-evaluation-serializer.js
  api/src/devcomp/infrastructure/serializers/jsonapi/tutorial-serializer.js
  api/src/devcomp/infrastructure/serializers/jsonapi/user-saved-tutorial-attributes.js
  api/src/devcomp/infrastructure/serializers/jsonapi/user-saved-tutorial-serializer.js
  api/src/devcomp/routes.js
  api/src/prescription/campaign-participation/infrastructure/serializers/jsonapi/campaign-analysis-serializer.js
  api/src/shared/infrastructure/datasources/learning-content/index.js
  api/tests/devcomp/acceptance/application/tutorial-evaulations/tutorial-evaluations-controller_test.js
  api/tests/devcomp/integration/infrastructure/repositories/tutorial-evaluation-repository_test.js
  api/tests/devcomp/unit/application/tutorial-evaluations/index_test.js
  api/tests/devcomp/unit/application/tutorial-evaluations/tutorial-evaluations-controller_test.js
  api/tests/devcomp/unit/domain/read-models/TrainingForAdmin_test.js
  api/tests/devcomp/unit/domain/usecases/add-tutorial-evaluation_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/tutorial-datasource_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/training-summary-serializer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/tutorial-serializer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/user-saved-tutorial-serializer_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/correction-serializer_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/tutorial-evaluation-serializer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8639 [TECH] Utiliser le Pix Message pour le bandeau des certifications terminées sur la page de finalisation de session sur Pix Certif (PIX-11828).
  certif/app/components/session-finalization/completed-reports-information-step.hbs
  certif/app/styles/components/session-finalization/reports-information-step.scss
Labels: :rocket: Ready to Merge, team-certif

#8645 [BUGFIX] Corriger l'appel au usecase d'envoie de notification (PIX-12077)
  api/src/certification/complementary-certification/application/attach-target-profile-controller.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#8629 [REFACTOR] Utilisation des design tokens de typographie sur certif (PIX-11308)
  certif/app/components/import/file-import-block.hbs
  certif/app/components/import/step-one-section.hbs
  certif/app/styles/app.scss
  certif/app/styles/components/add-student-list.scss
  certif/app/styles/components/auth/toggable-login-form.scss
  certif/app/styles/components/dropdown.scss
  certif/app/styles/components/issue-report-modal.scss
  certif/app/styles/components/layout/footer.scss
  certif/app/styles/components/login-or-register.scss
  certif/app/styles/components/login-session-supervisor-form.scss
  certif/app/styles/components/register-form.scss
  certif/app/styles/components/select-referer-modal.scss
  certif/app/styles/components/session-finalization-step-container.scss
  certif/app/styles/components/session-supervising/candidate-in-list.scss
  certif/app/styles/components/session-supervising/candidate-list.scss
  certif/app/styles/components/session-supervising/header.scss
  certif/app/styles/globals/forms.scss
  certif/app/styles/globals/panels.scss
  certif/app/styles/globals/texts.scss
  certif/app/styles/globals/titles.scss
  certif/app/styles/pages/authenticated/restricted-access.scss
  certif/app/styles/pages/authenticated/sessions/details.scss
  certif/app/styles/pages/authenticated/sessions/details/certification-candidates.scss
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/app/styles/pages/authenticated/team.scss
  certif/app/styles/pages/login-session-supervisor.scss
  certif/app/styles/pages/session-supervising-error.scss
  certif/app/styles/pages/terms-of-service.scss
Labels: :rocket: Ready to Merge, team-certif, Design Review OK

#8658 [FEATURE] Proposer l'enquête Sco dans le bandeau du dashboard (PIX-12068).
  mon-pix/app/components/dashboard/banner.hbs
  mon-pix/app/components/dashboard/banner.js
  mon-pix/app/components/dashboard/content.hbs
  mon-pix/app/components/dashboard/content.js
  mon-pix/app/models/user.js
  mon-pix/config/environment.js
  mon-pix/tests/integration/components/dashboard/content_test.js
  mon-pix/tests/unit/models/user_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#8562 [FEATURE] Permettre la modif d'un critère d'obtention d'ensemble de PF d'un RT dans l'API (PIX-11880).
  api/db/database-builder/factory/build-badge-criterion.js
  api/lib/domain/errors.js
  api/src/evaluation/application/badge-criteria/badge-criteria-controller.js
  api/src/evaluation/application/badge-criteria/index.js
  api/src/evaluation/domain/models/BadgeCriterion.js
  api/src/evaluation/domain/usecases/index.js
  api/src/evaluation/domain/usecases/update-badge-criterion.js
  api/src/evaluation/infrastructure/repositories/badge-criteria-repository.js
  api/src/evaluation/infrastructure/serializers/jsonapi/badge-criterion-serializer.js
  api/src/evaluation/routes.js
  api/tests/evaluation/acceptance/application/badge-criteria/badge-criteria-controller_test.js
  api/tests/evaluation/integration/infrastructure/repositories/badge-criteria-repository_test.js
  api/tests/evaluation/unit/application/badge-criteria/badge-criteria-controller_test.js
  api/tests/evaluation/unit/application/badge-criteria/index_test.js
  api/tests/evaluation/unit/domain/usecases/update-badge-criterion_test.js
  api/tests/evaluation/unit/infrastructure/serializers/jsonapi/badge-criterion-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#8667 [BUGFIX] Corriger l'affichage de la page élèves pour les membres (PIX-12156)
  orga/app/routes/authenticated/sco-organization-participants/list.js
  orga/tests/unit/routes/authenticated/sco-organization-participants/list_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8571 [TECH] Refactoring du scoring/rescoring des certifications (PIX-11584)
  api/lib/domain/constants.js
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/handle-certification-scoring.js
  api/lib/domain/services/scoring/scoring-certification-service.js
  api/src/certification/shared/domain/models/CertificationCourse.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/events/handle-certification-scoring_test.js
  api/tests/unit/domain/services/scoring/scoring-certification-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8652 [FEATURE] Stocker l'information d'un centre de certification comme pilote pour la séparation Pix et Pix+ (PIX-11886).
  api/db/database-builder/factory/build-certification-center-feature.js
  api/db/migrations/20240411141800_add-feature-for-pix-complementary-separation.js
  api/db/seeds/data/common/constants.js
  api/db/seeds/data/common/feature-builder.js
  api/db/seeds/data/common/tooling/certification-center-tooling.js
  api/db/seeds/data/team-certification/data-builder.js
  api/src/certification/shared/domain/constants.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#8660 [FEATURE] Rend asynchrone la validation du fichier d'import SIECLE (PIX-11939)
  api/lib/infrastructure/events/EventBusBuilder.js
  api/lib/infrastructure/events/EventHandlerDependenciesBuilder.js
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/domain/events/FileUploaded.js
  api/src/prescription/learner-management/domain/usecases/upload-siecle-file.js
  api/src/prescription/learner-management/domain/usecases/validate-siecle-xml-file.js
  api/src/prescription/learner-management/infrastructure/events/subscribers/ScheduleValidateOrganizationImportFileJob.js
  api/src/prescription/learner-management/infrastructure/jobs/ValidateOrganizationImportFileJob.js
  api/src/prescription/learner-management/infrastructure/jobs/ValidateOrganizationImportFileJobHandler.js
  api/tests/prescription/learner-management/acceptance/application/organization-controller-import-sco-organization-learners_test.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/upload-siecle-file_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/validate-siecle-xml-file_test.js
  api/tests/prescription/learner-management/unit/infrastructure/events/subscribers/ScheduleValidateOrganizationImportJob_test.js
  api/tests/prescription/learner-management/unit/infrastructure/jobs/ValidateOrganizationImportFileJobHandler_test.js
  api/tests/unit/worker_test.js
  api/worker.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8662 [BUGFIX] Réparer les largeurs des champs du formulaire de création de compte sur Pix Certif (PIX-12144).
  certif/app/components/auth/register-form.hbs
  certif/app/styles/components/auth/toggable-login-form.scss
  certif/app/styles/components/login-or-register.scss
  certif/app/styles/components/register-form.scss
  certif/tests/acceptance/routes/join_test.js
  certif/tests/integration/components/auth/register-form_test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-acces, team-certif

#8636 [TECH] Utiliser la classe screen-reader-only de Pix UI sur Pix Admin et Pix Certif (PIX-12036).
  admin/app/components/autonomous-courses/list-items.hbs
  admin/app/components/common/tubes-details/competence.hbs
  admin/app/components/common/tubes-selection/competence.hbs
  admin/app/components/trainings/list-summary-items.hbs
  admin/app/components/users/user-profile.hbs
  certif/app/components/enrolled-candidates.hbs
  certif/app/components/issue-report-modal/fraud-certification-issue-report-fields.hbs
  certif/app/components/session-finalization/completed-reports-information-step.hbs
  certif/app/components/session-finalization/uncompleted-reports-information-step.hbs
  certif/app/components/session-summary-list.hbs
  certif/app/templates/authenticated/sessions/add-student.hbs
Labels: :rocket: Ready to Merge, Func Review OK, team-certif, cross-team

#8628 [TECH] Déplacement de `code-utils.js` vers `src/shared`
  api/lib/domain/usecases/index.js
  api/src/shared/infrastructure/utils/code-utils.js
  api/tests/unit/infrastructure/utils/code-utils_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, Bounded-context-migration

#8674 [BUGFIX] Corriger l'enregistrements des adresses email lors d'un ajout de candidat à une certification sur Pix Certif (PIX-12160).
  certif/app/components/new-certification-candidate-modal.hbs
  certif/tests/acceptance/session-details-certification-candidates_test.js
  certif/tests/integration/components/new-certification-candidate-modal_test.js
Labels: :rocket: Ready to Merge, team-certif

#8673 [FEATURE] Ne pas retourner d'erreur à l'import de colonnes inconnues (PIX-12139)
  api/src/prescription/learner-management/infrastructure/serializers/csv/common-csv-learner-parser.js
  api/tests/prescription/learner-management/unit/infrastructure/serializers/csv/common-csv-learner-parser_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, no-review-app, 🎒👧🏽👦🏾 Pix1D

#8686 [TECH] Migrer le déblocage d'un compte utilisateur dans src (PIX-12167)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/src/user-account/application/routes.js
  api/src/user-account/application/user.admin.controller.js
  api/src/user-account/application/user.admin.route.js
  api/src/user-account/domain/usecases/index.js
  api/src/user-account/domain/usecases/unblock-user-account.js
  api/tests/acceptance/application/users/users-route_test.js
  api/tests/user-account/acceptance/application/user.admin.route.test.js
  api/tests/user-account/integration/domain/usecases/unblock-user-account.test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#8680 [FEAT] Ajoute la notion d'étape dans le contenu d'une mission (Pix-11699)
  api/db/database-builder/factory/build-activity.js
  api/db/migrations/20240417094532_add-step_index-to-activity.js
  api/src/school/domain/models/Activity.js
  api/src/school/domain/models/ActivityInfo.js
  api/src/school/domain/models/Mission.js
  api/src/school/domain/services/challenge.js
  api/src/school/domain/services/get-next-activity-info.js
  api/src/school/domain/services/init-mission-activity.js
  api/src/school/domain/services/update-current-activity.js
  api/src/school/domain/usecases/get-next-challenge.js
  api/tests/school/integration/domain/services/init-mission-activity_test.js
  api/tests/school/integration/domain/services/update-current-activity_test.js
  api/tests/school/integration/domain/usecases/get-next-challenge_test.js
  api/tests/school/integration/domain/usecases/handle-activity-answer_test.js
  api/tests/school/integration/domain/usecases/play-mission_test.js
  api/tests/school/unit/domain/models/Mission_test.js
  api/tests/school/unit/domain/services/challenge_test.js
  api/tests/school/unit/domain/services/get-next-activity-info_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#8684 [BUGFIX] Corriger l'affichage de la page élèves pour les membres (PIX-12169)
  orga/app/routes/authenticated/sup-organization-participants/list.js
  orga/tests/unit/routes/authenticated/sup-organization-participants/list_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8613 [BUGFIX] Rétablir la mise en place de acr_values suite à la mise en place de la lib openid-client (PIX-11980)
  api/lib/domain/services/authentication/fwb-oidc-authentication-service.js
  api/sample.env
  api/scripts/team-acces/load-oidc-providers-from-env-variables.js
  api/src/shared/config.js
Labels: :rocket: Ready to Merge, team-acces

#8668 [FEATURE] Interdire l'HTML sur les champs qui ne le permettent pas (PIX-10243) (PIX-10241)
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/image.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/index.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/qrocm.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/video.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-validation_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/utils.js
Labels: :rocket: Ready to Merge, team-devcomp

#8696 [TECH] Corriger le test flaky sur la vérification du schéma des modules (PIX-12183)
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/module-datasource_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8699 [TECH] Migrer le service de scoring (PIX-12207).
  api/lib/domain/models/ParticipantResultsShared.js
  api/lib/domain/services/placement-profile-service.js
  api/lib/domain/services/scoring/scoring-certification-service.js
  api/scripts/compare-pix-with-latest-release.js
  api/src/evaluation/domain/models/Scorecard.js
  api/src/evaluation/domain/services/get-competence-level.js
  api/src/evaluation/domain/services/scoring/scoring-service.js
  api/tests/evaluation/unit/domain/services/scoring/scoring-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#8695 [FEATURE] Rediriger vers app.pix.org lors d'un test statique (PIX-11941).
  mon-pix/app/templates/assessments/results.hbs
  mon-pix/tests/acceptance/course-ending-screen_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#8689 [TECH] Script d'ajout d'un centre de certification V2 en tant que pilote pour le passage d'une certification complémentaire seule (PIX-12049).
  api/db/database-builder/factory/build-certification-center-feature.js
  api/db/migrations/20240417123128_rename_complementary-certification-feature_key_in_features_table_and_add_createdAt_in_complementary-certification-features_table.js
  api/db/seeds/data/common/constants.js
  api/db/seeds/data/common/feature-builder.js
  api/db/seeds/data/team-certification/data-builder.js
  api/scripts/certification/import-pilot-certification-centers-from-csv.js
  api/src/certification/shared/domain/constants.js
  api/tests/integration/scripts/certification/import-pilot-certification-centers-from-csv_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8631 [BUGFIX] Corrections d'un lien NL menant vers le support (PIX-12062)
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, Func Review OK

#8596 [FEATURE][PIX APP] Appliquer les token font sur les pages du scope Accès (PIX-11285)
  mon-pix/app/components/campaign-start-block.hbs
  mon-pix/app/components/inaccessible-campaign.hbs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/_communication-banner.scss
  mon-pix/app/styles/components/_login-or-register.scss
  mon-pix/app/styles/components/_navbar-burger-menu.scss
  mon-pix/app/styles/components/_password-reset-demand-form.scss
  mon-pix/app/styles/components/_reset-password-form.scss
  mon-pix/app/styles/components/_user-account-update-email.scss
  mon-pix/app/styles/components/_user-account.scss
  mon-pix/app/styles/components/authentication/_login-or-register-oidc.scss
  mon-pix/app/styles/pages/_account-recovery.scss
  mon-pix/app/styles/pages/_campaign-landing-page.scss
  mon-pix/app/styles/pages/_join-restricted-campaign.scss
  mon-pix/app/styles/pages/_update-expired-password-form.scss
Labels: :rocket: Ready to Merge, Func Review OK, team-acces, Design Review OK

#8698 [FEATURE] Retourner une erreur lors de la création d'un passage pour un utilisateur non-existant (PIX-12184)
  api/src/devcomp/domain/usecases/create-passage.js
  api/src/devcomp/domain/usecases/index.js
  api/tests/devcomp/integration/application/passages/index_test.js
  api/tests/devcomp/unit/domain/usecases/create-passage_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8702 [FEATURE] Renommer les customProperties en additionalRequiredProperties (PIX-12209)
  api/OIDC_PROVIDERS.example.json
  api/db/database-builder/factory/build-oidc-provider.js
  api/db/migrations/20240415144511_rename-oidc-providers-customProperties-into-additionalRequiredProperties.js
  api/scripts/team-acces/load-oidc-providers-from-env-variables.js
  api/src/authentication/domain/usecases/add-oidc-provider.js
  api/src/authentication/infrastructure/repositories/oidc-provider-repository.js
  api/tests/authentication/unit/domain/usecases/add-oidc-provider_test.js
Labels: :rocket: Ready to Merge, team-acces

#8700 [TECH] Fait évoluer l'API interne des prescrits (PIX-12208)
  api/src/prescription/organization-learner/application/api/models/OrganizationLearner.js
  api/src/prescription/organization-learner/application/api/models/OrganizationLearnerListItem.js
  api/src/prescription/organization-learner/application/api/organization-learners-api.js
  api/src/prescription/organization-learner/domain/models/OrganizationLearnerImported.js
  api/src/prescription/organization-learner/domain/read-models/OrganizationLearner.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-repository.js
  api/tests/prescription/organization-learner/integration/application/api/organization-learners-api_test.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/organization-learner/unit/application/api/models/OrganizationLearnerListItem_test.js
  api/tests/prescription/organization-learner/unit/application/api/models/OrganizationLearner_test.js
  api/tests/prescription/organization-learner/unit/application/api/organization-learners-api_test.js
  api/tests/prescription/organization-learner/unit/domain/models/OrganizationLearnerImported_test.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/tooling/domain-builder/factory/prescription/organization-learner/build-organization-learner-imported.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, no-review-app

#8705 [FEATURE] Ajout du lien vers la page Status dans pixOrga (pix-12226)
  orga/app/components/layout/footer.hbs
  orga/app/components/layout/footer.js
  orga/app/services/url.js
  orga/app/styles/components/layout/footer.scss
  orga/tests/integration/components/layout/footer_test.js
  orga/tests/unit/services/url_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8707 [TECH] Modifier l'export du cryptoService (PIX-12228)
  api/db/database-builder/factory/build-authentication-method.js
  api/db/database-builder/factory/build-oidc-provider.js
  api/db/database-builder/factory/build-user.js
  api/lib/domain/usecases/index.js
  api/scripts/create-users-accounts-for-contest.js
  api/scripts/team-acces/load-oidc-providers-from-env-variables.js
  api/src/authentication/domain/services/pix-authentication-service.js
  api/src/shared/domain/services/crypto-service.js
  api/src/user-account/domain/usecases/index.js
  api/tests/integration/domain/usecases/account-recovery/update-user-for-account-recovery_test.js
  api/tests/integration/domain/usecases/create-and-reconcile-user-to-organization-learner_test.js
  api/tests/shared/unit/domain/services/crypto-service_test.js
  api/tests/tooling/domain-builder/factory/build-authentication-method.js
Labels: :rocket: Ready to Merge, team-acces

#8685 [TECH] Migrer l'envoi d'invitation dans un centre de certif depuis Pix Admin dans src (PIX-12168)
  api/lib/application/certification-center-invitations/certification-center-invitation-controller.js
  api/lib/application/certification-centers/certification-center-controller.js
  api/lib/application/certification-centers/index.js
  api/src/team/application/certification-center-invitation-controller.js
  api/src/team/application/certification-center-invitation.controller.js
  api/src/team/application/routes.js
  api/src/team/domain/usecases/create-or-update-certification-center-invitation-for-admin.js
  api/src/team/infrastructure/serializers/jsonapi/certification-center-invitation-serializer.js
  api/tests/team/acceptance/application/routes.test.js
  api/tests/team/integration/domain/usecases/create-or-update-certification-center-invitation-for-admin_test.js
  api/tests/team/unit/application/certification-center-invitation.controller.test.js
  api/tests/team/unit/infrastructure/serializers/jsonapi/certification-center-invitation-serializer_test.js
  api/tests/unit/application/certification-center-invitations/certification-center-invitation-controller_test.js
  api/tests/unit/application/certification-centers/certification-center-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#8690 [FEATURE] Permettre la modification d'un critère d'obtention de RT sur l'ensemble du PF (PIX-12157).
  admin/app/adapters/badge-criterion.js
  admin/app/components/badges/badge.hbs
  admin/app/components/badges/campaign-criterion.hbs
  admin/app/components/badges/campaign-criterion.js
  admin/app/models/badge-criterion.js
  admin/app/styles/components/badges/badge.scss
  admin/mirage/config.js
  admin/mirage/handlers/badge-criteria.js
  admin/tests/acceptance/authenticated/target-profiles/target-profile/insights_test.js
  admin/tests/integration/components/badges/badge_test.js
  admin/tests/integration/components/badges/campaign-criterion_test.js
  admin/tests/unit/adapters/badge-criterion_test.js
  api/src/evaluation/application/badge-criteria/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#8709 [BUGFIX] Affichage d'un titre sur le bloc d'erreur d'import (Pix-12079)
  orga/app/components/import.hbs
  orga/app/styles/components/import.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8463 [DOCS] Création d'un guide de contribution aux contenus de Modulix (PIX-12075)
  api/package.json
  api/src/devcomp/infrastructure/datasources/learning-content/readme.md
Labels: :rocket: Ready to Merge, team-contenu, no-review-app, team-devcomp

#8665 [FEATURE] Corrections mineures sur le module adresse-ip-publique-et-vous
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#8712 [FEATURE] Ajouter Pix+ Santé dans les certifications complémentaires possible lors de l'import de candidat via ODS (PIX-12232).
  api/lib/domain/services/certification-candidates-ods-service.js
  api/lib/infrastructure/files/candidates-import/CandidateData.js
  api/lib/infrastructure/files/candidates-import/candidates-import-placeholders.js
  api/lib/infrastructure/files/candidates-import/candidates-import-transformation-structures.js
  api/src/certification/shared/domain/models/ComplementaryCertificationKeys.js
  api/tests/integration/domain/services/certification-candidates-ods-service/attendance_sheet_extract_with_complementary_certifications_ok_test.ods
  api/tests/integration/domain/services/certification-candidates-ods-service/certification-candidates-ods-service_test.js
Labels: :rocket: Ready to Merge, team-certif

#8708 [FEATURE] Générer une prévisualisation des modules pour la contribution (PIX-12132)
  mon-pix/app/controllers/module-preview.js
  mon-pix/app/pods/components/module/grain/component.js
  mon-pix/app/pods/components/module/passage/component.js
  mon-pix/app/pods/grain/model.js
  mon-pix/app/router.js
  mon-pix/app/routes/module-preview.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/pages/_module-preview.scss
  mon-pix/app/templates/module-preview.hbs
  mon-pix/tests/acceptance/module/preview_test.js
  mon-pix/tests/unit/models/modules/grain_test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-devcomp

#8720 [FEATURE] Change l'ordre de la methode find et ajoute l'organizationId sur la méthode get du organizationLearnersRepository (PIX-12255)
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-repository.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-learner-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, no-review-app

#8663 [FEATURE] Ajouter Pro Santé Connect comme fournisseur d'identité (PIX-12081)
  api/lib/application/users/index.js
  api/lib/domain/constants/oidc-identity-providers.js
  api/lib/domain/models/AuthenticationMethod.js
  api/lib/domain/services/authentication/oidc-authentication-service-registry.js
  api/sample.env
  api/src/authentication/domain/services/oidc-authentication-service.js
  api/src/authentication/domain/services/pro-sante-connect-oidc-authentication.service.js
  api/src/shared/config.js
  api/tests/unit/application/users/index_test.js
Labels: :rocket: Ready to Merge, team-acces

#8706 [TECH] Déplacer l'archivage des campagnes de PixAdmin dans le BC prescription (Pix-12238)
  api/lib/application/campaigns-administration/campaign-controller.js
  api/lib/application/campaigns-administration/index.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/campaigns-administration/campaign-repository.js
  api/lib/routes.js
  api/scripts/prod/archive-campaigns.js
  api/src/prescription/campaign/application/campaign-administration-route.js
  api/src/prescription/campaign/application/campaign-adminstration-controller.js
  api/src/prescription/campaign/domain/usecases/archive-campaigns.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-administration-repository.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-ids-csv-header.js
  api/src/prescription/campaign/infrastructure/serializers/csv/csv-campaigns-ids-parser.js
  api/tests/acceptance/application/campaign-administration/archive-campaigns_test.js
  api/tests/integration/infrastructure/repositories/campaigns-administration/campaign-repository_test.js
  api/tests/integration/scripts/prod/archive-campaigns_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-administration-route_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-administration-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/serializer/csv-campaigns-ids-parser_test.js
  api/tests/prescription/campaign/unit/application/campaign-administration-controller_test.js
  api/tests/prescription/campaign/unit/application/campaign-administration-route_test.js
  api/tests/prescription/campaign/unit/domain/usecases/archive-campaigns_test.js
  api/tests/unit/application/campaigns-administration/campaign-controller_test.js
  api/tests/unit/application/campaigns-administration/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#8724 [TECH] Modifier le fichier de configuration de Phrase (PIX-12190)
  .phrase.yml
Labels: :rocket: Ready to Merge, team-acces, no-review-app

#8715 [TECH] Les scripts de certification n'attendent pas certaines Promises (PIX-12244).
  api/scripts/certification/import-certification-cpf-cities.js
  api/scripts/certification/import-certification-cpf-countries.js
  api/scripts/certification/import-pilot-certification-centers-from-csv.js
  api/tests/integration/scripts/certification/import-pilot-certification-centers-from-csv_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, cross-team, certif-next-gen

#8723 [BUGFIX] Sur Pix Junior, afficher la mission comme terminée quand l'utilisateur l'a déjà terminée (PIX-12276).
  1d/app/pods/assessment/resume/unit_test.js
  1d/mirage/config.js
  api/src/school/infrastructure/serializers/organization-learner.js
  api/tests/school/unit/infrastructure/serializers/organization-learner_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 Pix1D

#8651 [FEATURE] Simulateur de score et de capacité de certification V3 (PIX-11993).
  api/src/certification/scoring/application/scoring-and-capacity-simulator-controller.js
  api/src/certification/scoring/application/scoring-and-capacity-simulator-route.js
  api/src/certification/scoring/domain/models/CapacitySimulator.js
  api/src/certification/scoring/domain/models/ScoringAndCapacitySimulatorReport.js
  api/src/certification/scoring/domain/models/ScoringSimulator.js
  api/src/certification/scoring/domain/models/V3CertificationScoring.js
  api/src/certification/scoring/domain/usecases/simulate-capacity-from-score.js
  api/src/certification/scoring/domain/usecases/simulate-score-from-capacity.js
  api/src/certification/scoring/infrastructure/serializers/jsonapi/scoring-and-capacity-simulator-report-serializer.js
  api/src/certification/scoring/routes.js
  api/tests/certification/scoring/acceptance/application/scoring-and-capacity-simulator-route_test.js
  api/tests/certification/scoring/unit/application/scoring-and-capacity-simulator-controller_test.js
  api/tests/certification/scoring/unit/application/scoring-and-capacity-simulator-route_test.js
  api/tests/certification/scoring/unit/domain/models/CapacitySimulator_test.js
  api/tests/certification/scoring/unit/domain/models/ScoringSimulator_test.js
  api/tests/certification/scoring/unit/domain/usecases/simulate-capacity-from-score_test.js
  api/tests/certification/scoring/unit/domain/usecases/simulate-score-from-capacity_test.js
  api/tests/certification/scoring/unit/infrastructure/serializers/jsonapi/scoring-and-capacity-simulator-report-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-scoring-and-capacity-simulator-report.js
  api/tests/tooling/domain-builder/factory/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#8727 [FEATURE] Ajouter des tests e2e sur les pages élèves/étudiants pour vérifier l'affichage en tant que membre (PIX-12270)
  high-level-tests/e2e/cypress/fixtures/authentication-methods.json
  high-level-tests/e2e/cypress/fixtures/memberships.json
  high-level-tests/e2e/cypress/fixtures/users.json
  high-level-tests/e2e/cypress/integration/pix-orga/member-role.feature
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, no-review-app

#8675 [FEATURE] Rend stoppable les jobs de validation et d'import pour SIECLE (PIX-12017)
  api/lib/infrastructure/jobs/JobQueue.js
  api/src/shared/config.js
  api/tests/unit/worker_test.js
  api/worker.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8666 [BUGFIX] Empêcher la souscription à une certification complémentaire lors de l'import de masse des sessions lorsque le centre ne possède pas les habilitations nécessaires (PIX-11928)
  api/lib/infrastructure/serializers/csv/csv-serializer.js
  api/src/certification/session/application/session-mass-import-controller.js
  api/tests/certification/session/acceptance/application/session-mass-import-route_test.js
  api/tests/unit/infrastructure/serializers/csv/csv-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8729 [FEATURE][APP] Permettre l'affichage de l'application en espagnol (PIX-12195)
  mon-pix/app/languages.js
  mon-pix/tests/unit/services/locale_test.js
Labels: :rocket: Ready to Merge, team-acces

#8730 [BUGFIX] Petites corrections pour faire fonctionner l'import ONDE (Pix-12275)
  api/db/seeds/data/team-prescription/build-organization-learner-import-formats.js
  api/src/prescription/learner-management/application/organization-learners-controller.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-import-format-repository.js
  api/src/prescription/learner-management/infrastructure/serializers/csv/common-csv-learner-parser.js
  api/src/prescription/organization-learner/application/api/models/OrganizationLearner.js
  api/src/school/scripts/create-school-learners.js
  api/tests/prescription/learner-management/acceptance/application/organization-learners-route_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-import-format-repository_test.js
  api/tests/prescription/learner-management/unit/application/organization-learners-controller_test.js
  api/tests/prescription/learner-management/unit/infrastructure/serializers/csv/common-csv-learner-parser_test.js
  api/tests/prescription/organization-learner/unit/application/api/models/OrganizationLearner_test.js
  api/tests/prescription/organization-learner/unit/application/api/organization-learners-api_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, 🎒👧🏽👦🏾 PIX JUNIOR

#8703 [FEATURE] Empêcher le passage d'un centre de certification en V3 s'il est pilote de la feature de Séparation Pix/Pix+ (PIX-12140).
  admin/app/controllers/authenticated/certification-centers/get.js
  admin/tests/acceptance/authenticated/certification-centers/get_test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/lib/application/certification-centers/certification-center-controller.js
  api/lib/application/certification-centers/index.js
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/update-certification-center.js
  api/src/certification/session/domain/models/Center.js
  api/src/certification/session/infrastructure/repositories/center-repository.js
  api/src/shared/application/error-manager.js
  api/src/shared/domain/errors.js
  api/tests/certification/session/integration/infrastructure/repositories/center-repository_test.js
  api/tests/integration/domain/usecases/update-certification-center_test.js
  api/tests/shared/unit/application/error-manager_test.js
  api/tests/shared/unit/domain/errors_test.js
  api/tests/tooling/domain-builder/factory/certification/session/build-center.js
Labels: :rocket: Ready to Merge, team-certif

#8733 [TECH] créer un composant `ImportCard` dans le quel on peut injecter du contenu (PIX-12267)
  orga/app/components/import-card.gjs
  orga/app/components/import.hbs
  orga/app/components/import.js
  orga/app/components/sco-organization-participant/add.gjs
  orga/app/components/sco-organization-participant/import-card.hbs
  orga/app/components/sup-organization-participant/import-cards/add.gjs
  orga/app/components/sup-organization-participant/import-cards/add.hbs
  orga/app/components/sup-organization-participant/import-cards/replace.hbs
  orga/app/components/sup-organization-participant/import-cards/replace.js
  orga/app/components/upload-button.gjs
  orga/tests/integration/components/import-card_test.gjs
  orga/tests/integration/components/sco-organization-participant/import-card_test.js
  orga/tests/integration/components/sup-organization-participant/import-cards/add_test.js
  orga/tests/integration/components/sup-organization-participant/import-cards/replace_test.js
  orga/tests/integration/components/upload-button_test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8737 [TECH] Migrer le serializer de correction vers le dossier Evaluation (PIX-12292).
  api/src/evaluation/application/answers/answer-controller.js
  api/src/evaluation/infrastructure/serializers/jsonapi/correction-serializer.js
  api/tests/unit/infrastructure/serializers/jsonapi/correction-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#8735 [TECH] Organiser les répertoires des composants de challenge de Pix app (PIX-12283)
  mon-pix/app/components/challenge-item/challenge-item-generic.js
  mon-pix/app/components/challenge-item/challenge-item-qcm.hbs
  mon-pix/app/components/challenge-item/challenge-item-qcm.js
  mon-pix/app/components/challenge-item/challenge-item-qcu.hbs
  mon-pix/app/components/challenge-item/challenge-item-qcu.js
  mon-pix/app/components/challenge-item/challenge-item-qroc.hbs
  mon-pix/app/components/challenge-item/challenge-item-qroc.js
  mon-pix/app/components/challenge-item/challenge-item-qrocm.hbs
  mon-pix/app/components/challenge-item/challenge-item-qrocm.js
  mon-pix/app/components/challenge/item.js
  mon-pix/app/components/comparison-window.hbs
  mon-pix/app/components/proposals/qcm-proposals.hbs
  mon-pix/app/components/proposals/qcm-proposals.js
  mon-pix/app/components/proposals/qcu-proposals.hbs
  mon-pix/app/components/proposals/qcu-proposals.js
  mon-pix/app/components/proposals/qrocm-proposal.hbs
  mon-pix/app/components/proposals/qrocm-proposal.js
  mon-pix/app/components/solution-panel/qcm-solution-panel.hbs
  mon-pix/app/components/solution-panel/qcm-solution-panel.js
  mon-pix/app/components/solution-panel/qcu-solution-panel.hbs
  mon-pix/app/components/solution-panel/qcu-solution-panel.js
  mon-pix/app/components/solution-panel/qroc-solution-panel.hbs
  mon-pix/app/components/solution-panel/qroc-solution-panel.js
  mon-pix/app/components/solution-panel/qrocm-dep-solution-panel.hbs
  mon-pix/app/components/solution-panel/qrocm-dep-solution-panel.js
  mon-pix/app/components/solution-panel/qrocm-ind-solution-panel.hbs
  mon-pix/app/components/solution-panel/qrocm-ind-solution-panel.js
  mon-pix/tests/integration/components/challenge-item/challenge-item-qroc_test.js
  mon-pix/tests/integration/components/proposals/qcm-proposals_test.js
  mon-pix/tests/integration/components/proposals/qcu-proposals_test.js
  mon-pix/tests/integration/components/proposals/qrocm-proposal_test.js
  mon-pix/tests/integration/components/solution-panel/qcm-solution-panel_test.js
  mon-pix/tests/integration/components/solution-panel/qcu-solution-panel_test.js
  mon-pix/tests/integration/components/solution-panel/qroc-solution-panel_test.js
  mon-pix/tests/integration/components/solution-panel/qrocm-dep-solution-panel_test.js
  mon-pix/tests/integration/components/solution-panel/qrocm-ind-solution-panel_test.js
  mon-pix/tests/unit/components/challenge-item/challenge-item-qroc_test.js
  mon-pix/tests/unit/components/challenge/challenge-item_test.js
  mon-pix/tests/unit/components/proposals/qcm-proposals_test.js
  mon-pix/tests/unit/components/proposals/qcu-proposals_test.js
  mon-pix/tests/unit/components/solution-panel/qroc-solution-panel_test.js
  mon-pix/tests/unit/components/solution-panel/qrocm-dep-solution-panel_test.js
  mon-pix/tests/unit/components/solution-panel/qrocm-ind-solution-panel_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#8617 [FEATURE][API] Utiliser la base de données pour créer les services de type "OidcAuthentication" (PIX-10192)
  api/OIDC_PROVIDERS.example.json
  api/db/database-builder/factory/build-oidc-provider.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/lib/domain/services/authentication/cnav-oidc-authentication-service.js
  api/lib/domain/services/authentication/fwb-oidc-authentication-service.js
  api/lib/domain/services/authentication/google-oidc-authentication-service.js
  api/lib/domain/services/authentication/oidc-authentication-service-registry.js
  api/lib/domain/services/authentication/paysdelaloire-oidc-authentication-service.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
  api/lib/domain/usecases/get-all-identity-providers.js
  api/lib/domain/usecases/get-ready-identity-providers.js
  api/scripts/team-acces/load-oidc-providers-from-env-variables.js
  api/src/authentication/domain/models/OidcProvider.js
  api/src/authentication/domain/services/oidc-authentication-service.js
  api/src/authentication/domain/services/pro-sante-connect-oidc-authentication.service.js
  api/src/authentication/domain/usecases/index.js
  api/src/authentication/infrastructure/repositories/oidc-provider-repository.js
  api/src/shared/config.js
  api/tests/authentication/integration/infrastructure/repositories/oidc-provider-repository_test.js
  api/tests/authentication/unit/domain/models/OidcProvider.test.js
  api/tests/authentication/unit/domain/services/oidc-authentication-service_test.js
  api/tests/integration/domain/services/authentication/GoogleOidcAuthenticationService_test.js
  api/tests/integration/domain/services/authentication/fwb-oidc-authentication-service_test.js
  api/tests/integration/domain/services/authentication/pole-emploi-oidc-authentication-service_test.js
  api/tests/tooling/server/hapi-server-with-test-oidc-provider.js
  api/tests/unit/domain/services/authentication/fwb-oidc-authentication-service.test.js
  api/tests/unit/domain/services/authentication/oidc-authentication-service-registry_test.js
  api/tests/unit/domain/services/authentication/pole-emploi-oidc-authentication-service_test.js
  api/tests/unit/domain/usecases/get-all-identity-providers_test.js
  api/tests/unit/domain/usecases/get-ready-identity-providers_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#8741 [FEATURE] Ajouter la notion des `components` dans le didacticiel (PIX-12298).
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module.js
Labels: :rocket: Ready to Merge, team-devcomp

#8717 [FEATURES] Ajout de la mécanique d'étape et de ses successions (PIX-11702)
  api/src/school/domain/models/Activity.js
  api/src/school/domain/models/Mission.js
  api/src/school/domain/services/challenge.js
  api/src/school/domain/services/get-next-activity-info.js
  api/src/school/domain/services/init-mission-activity.js
  api/src/school/infrastructure/repositories/activity-repository.js
  api/tests/school/acceptance/application/assessments/activity-answer-controller_test.js
  api/tests/school/integration/domain/services/init-mission-activity_test.js
  api/tests/school/unit/domain/models/Activity_test.js
  api/tests/school/unit/domain/services/get-next-activity-info_test.js
  api/tests/tooling/domain-builder/factory/build-activity.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#8531 [FEATURE] PIX1D - Utilisation du nouveau robot avec des émotions (PIX-11578)
  1d/app/pods/components/bubble/bubble.scss
  1d/app/pods/components/challenge/component.js
  1d/app/pods/components/challenge/template.hbs
  1d/app/pods/components/issue/issue.scss
  1d/app/pods/components/robot-dialog/integration_test.js
  1d/app/pods/components/robot-dialog/robot-dialog.scss
  1d/app/pods/components/robot-dialog/template.hbs
  1d/app/pods/identified/missions/mission/mission.scss
  1d/app/styles/app.scss
  1d/public/images/background-blob-with-robot.svg
  1d/public/images/happy-robot.svg
  1d/public/images/robot.svg
  1d/public/images/robot/dialog-robot-default.svg
  1d/public/images/robot/dialog-robot-happy.svg
  1d/public/images/robot/dialog-robot-hint.svg
  1d/public/images/robot/dialog-robot-proud.svg
  1d/public/images/robot/dialog-robot-retry.svg
  1d/public/images/robot/dialog-robot-sad.svg
  1d/public/images/sad-robot.svg
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#8740 [BUGFIX] Petits correctifs graphiques Modulix (PIX-12304)
  mon-pix/app/pods/components/module/grain/tag/component.js
  mon-pix/app/pods/components/module/grain/tag/styles.scss
  mon-pix/app/pods/components/module/grain/tag/template.hbs
  mon-pix/app/pods/module/get/styles.scss
  mon-pix/app/styles/pages/_module-preview.scss
Labels: :rocket: Ready to Merge, Func Review OK, team-devcomp

#8739 [FEATURE] Ajout des fichiers codeowners de la team Accès
  .github/CODEOWNERS
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#8757 [FEATURE] Modifier les trads du titre du bloc d'erreur d'import et ajouter une marge en dessous (PIX-12291)
  orga/app/styles/components/import.scss
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#8753 [BUGFIX] Faire la redirection vers application avant de faire le reload d'un user (pix-12322)
  orga/app/components/layout/user-logged-menu.js
  orga/tests/integration/components/layout/user-logged-menu_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-prescription

#8726 [FEATURE] Gérer la langue espagnol lors de l'envoi de certains e-mails (PIX-12194)
  api/lib/domain/services/mail-service.js
  api/lib/infrastructure/utils/request-response-utils.js
  api/src/shared/domain/constants.js
  api/src/shared/domain/services/language-service.js
  api/tests/integration/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
  api/tests/unit/domain/services/mail-service_test.js
  api/tests/unit/domain/validators/organization-with-tags-and-target-profiles-script_test.js
  api/translations/index.js
Labels: :rocket: Ready to Merge, team-acces

#8710 [FEATURE] Migrer vers nouveau nom de la table de souscriptions (PIX-12230).
  api/db/database-builder/database-builder.js
  api/db/database-builder/factory/build-complementary-certification-subscription.js
  api/db/knex-database-connection.js
  api/db/migrations/20240419144820_add-view-for-certification-subscriptions-table.js
  api/lib/infrastructure/repositories/sessions/session-for-supervising-repository.js
  api/scripts/data-generation/generate-certif-cli.js
  api/src/certification/session/infrastructure/repositories/candidate-repository.js
  api/src/certification/session/infrastructure/repositories/certification-candidate-repository.js
  api/src/certification/session/infrastructure/repositories/session-repository.js
  api/tests/certification/session/acceptance/application/certification-candidate-controller-post-certification-candidate_test.js
  api/tests/certification/session/integration/infrastructure/repositories/certification-candidate-repository_test.js
  api/tests/certification/session/integration/infrastructure/repositories/session-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#8731 [TECH] Remplacer les "contains" dans les tests par des méthodes de testingLibrary (PIX-12268)
  orga/tests/acceptance/sco-organization-participant-list_test.js
  orga/tests/acceptance/team-list_test.js
  orga/tests/helpers/contains.js
  orga/tests/helpers/test-init.js
  orga/tests/helpers/wait-for.js
  orga/tests/integration/components/organization-participant/list_test.js
  orga/tests/integration/components/organization-participant/no-participant-panel_test.js
  orga/tests/integration/components/participant/profile/header_test.js
  orga/tests/integration/components/participant/profile/table_test.js
  orga/tests/integration/components/sco-organization-participant/header-actions_test.js
  orga/tests/integration/components/sco-organization-participant/list_test.js
  orga/tests/integration/components/sco-organization-participant/manage-authentication-method-modal_test.js
  orga/tests/integration/components/sup-organization-participant/header-actions_test.js
  orga/tests/integration/components/sup-organization-participant/list_test.js
  orga/tests/integration/components/sup-organization-participant/modal/edit-student-number-modal_test.js
  orga/tests/integration/components/sup-organization-participant/modal/replace-students-modal_test.js
  orga/tests/integration/components/tables/header-sort_test.js
  orga/tests/integration/components/tables/pagination-control_test.js
  orga/tests/integration/components/team/members-list-item_test.js
  orga/tests/integration/components/team/members-list_test.js
  orga/tests/integration/components/ui/date_test.js
  orga/tests/integration/components/ui/divisions-filter_test.js
  orga/tests/integration/components/ui/empty-state_test.js
  orga/tests/integration/components/ui/groups-filter_test.js
  orga/tests/integration/components/ui/information-wrapper_test.js
  orga/tests/integration/components/ui/information_test.js
  orga/tests/integration/components/ui/is-certifiable_test.js
  orga/tests/integration/components/ui/last-participation-date-tooltip_test.js
  orga/tests/integration/components/ui/learner-header-info_test.js
  orga/tests/integration/components/ui/participation-status_test.js
  orga/tests/integration/components/ui/pix-loader_test.js
  orga/tests/integration/components/ui/previous-page-button_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, no-review-app

#8738 [FEATURE] Bloquer le rattachement de résultat thématique non certifiants à une certification complémentaire lors d'un versionning sur Pix Admin (PIX-12272).
  admin/app/adapters/target-profile.js
  admin/app/components/complementary-certifications/attach-badges/badges/index.js
  admin/tests/acceptance/authenticated/complementary-certifications/complementary-certification/attach-target-profile_test.js
  admin/tests/integration/components/complementary-certifications/attach-form/badges/index_test.js
  api/lib/application/target-profiles/index.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/infrastructure/serializers/jsonapi/target-profile-for-admin-serializer.js
  api/src/certification/complementary-certification/infrastructure/repositories/complementary-certification-badge-repository.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/certification/complementary-certification/acceptance/application/attach-target-profile-controller_test.js
  api/tests/certification/complementary-certification/integration/infrastucture/repositories/complementary-certification-badge-repository_test.js
  api/tests/certification/complementary-certification/unit/domain/usecases/attach-badges_test.js
  api/tests/unit/application/target-profiles/target-profile-controller_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/target-profile-for-admin-serializer_test.js
Labels: :rocket: Ready to Merge, team-certif

#8762 [TECH] Migrer la route campaign vers son Bounded Context (PIX-12323)
  api/lib/application/campaigns/campaign-controller.js
  api/lib/application/campaigns/index.js
  api/lib/domain/usecases/index.js
  api/src/prescription/campaign/application/campaign-detail-controller.js
  api/src/prescription/campaign/application/campaign-detail-route.js
  api/src/prescription/campaign/domain/read-models/CampaignToJoin.js
  api/src/prescription/campaign/domain/usecases/get-campaign-by-code.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-to-join-repository.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-to-join-serializer.js
  api/tests/acceptance/application/campaigns/campaign-controller_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-detail-route_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-to-join-repository_test.js
  api/tests/prescription/campaign/unit/application/campaign-detail-controller_test.js
  api/tests/prescription/campaign/unit/application/campaign-detail-route_test.js
  api/tests/prescription/campaign/unit/domain/read-models/CampaignToJoin_test.js
  api/tests/prescription/campaign/unit/domain/usecases/get-campaign-by-code_test.js
  api/tests/prescription/campaign/unit/infrastrucutre/serializers/jsonapi/campaign-to-join-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-to-join.js
  api/tests/unit/application/campaign/campaign-controller_test.js
  api/tests/unit/application/campaign/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#8784 [FEATURE] Ajout d'une transcription. Module principes-fondateurs-wikipedia (MODC-74)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
Labels: :rocket: Ready to Merge, team-devcomp

#8785 [TECH] Migrer la route campaign collective results vers son Bounded Context (PIX-12332)
  api/lib/application/campaigns/campaign-controller.js
  api/lib/application/campaigns/index.js
  api/lib/domain/usecases/index.js
  api/src/prescription/campaign/application/campaign-results-controller.js
  api/src/prescription/campaign/application/campaign-results-route.js
  api/src/prescription/campaign/domain/read-models/CampaignCollectiveResult.js
  api/src/prescription/campaign/domain/usecases/compute-campaign-collective-result.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-collective-result-repository.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-collective-result-serializer.js
  api/tests/acceptance/application/campaigns/campaign-controller_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-results-route_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-collective-result-repository_test.js
  api/tests/prescription/campaign/unit/application/campaign-results-controller_test.js
  api/tests/prescription/campaign/unit/application/campaign-results-route_test.js
  api/tests/prescription/campaign/unit/domain/read-models/CampaignCollectiveResult_test.js
  api/tests/prescription/campaign/unit/domain/usecases/compute-campaign-collective-result_test.js
  api/tests/prescription/campaign/unit/infrastrucutre/serializers/jsonapi/campaign-collective-result-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-collective-result.js
  api/tests/unit/application/campaign/campaign-controller_test.js
  api/tests/unit/application/campaign/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#8759 [BUGFIX] Corriger l'erreur 500 lors du rejet d'une certification pour une certification antérieure aux configuration de scoring.
  admin/tests/acceptance/authenticated/target-profiles/target-profile/insights_test.js
  api/src/certification/scoring/infrastructure/repositories/scoring-configuration-repository.js
  api/tests/certification/scoring/integration/infrastructure/repositories/scoring-configuration-repository_test.js
Labels: :rocket: Ready to Merge, certif-next-gen

#8711 [FEATURE] Création de la page de simulation de scoring V3 (PIX-11995).
  admin/app/adapters/scoring-and-capacity-simulator-report.js
  admin/app/controllers/authenticated/certifications/scoring-simulation.js
  admin/app/router.js
  admin/app/styles/app.scss
  admin/app/styles/components/certification/scoring-simulation.scss
  admin/app/templates/authenticated/certifications/scoring-simulation.hbs
  admin/mirage/config.js
  admin/tests/acceptance/authenticated/certifications/scoring-simulation_test.js
  admin/tests/unit/adapters/scoring-and-capacity-simulator-report_test.js
  admin/tests/unit/controllers/authenticated/certifications/certification/scoring-simulation_test.js
  admin/translations/en.json
  admin/translations/fr.json
Labels: :rocket: Ready to Merge, team-certif, certif-next-gen

#8572 [TECH] Unifier le fonctionnement des jobs de la CI (PIX-11947)
  .circleci/config.yml
Labels: :rocket: Ready to Merge, cross-team, no-review-app

#8790 [FEATURE] Ajouter la notion de component dans nos modèles métiers (PIX-12299)
  api/src/devcomp/domain/models/ComponentElement.js
  api/src/devcomp/domain/models/Grain.js
  api/src/devcomp/domain/models/module/Module.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
  api/tests/devcomp/unit/domain/models/ComponentElement_test.js
  api/tests/devcomp/unit/domain/models/Grain_test.js
  api/tests/devcomp/unit/domain/models/module/Module_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8763 [TECH] Avoir des recommandations de CFs par défaut dans les seeds DevComp (PIX-12180)
  api/db/seeds/data/common/tooling/campaign-tooling.js
  api/db/seeds/data/team-devcomp/build-campaigns.js
  api/db/seeds/data/team-devcomp/build-trainings.js
  api/db/seeds/data/team-devcomp/data-builder.js
Labels: :rocket: Ready to Merge, team-devcomp

#8795 [TECH] :recycle: déplace `/api/admin/target-profiles/{id}/copy-organizations` dans le bounded context
  api/lib/application/target-profiles/index.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/domain/usecases/index.js
  api/src/prescription/target-profile/application/admin-target-profile-controller.js
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/src/prescription/target-profile/domain/usecases/attach-organizations-from-existing-target-profile.js
  api/src/prescription/target-profile/domain/usecases/index.js
  api/src/prescription/target-profile/infrastructure/repositories/organizations-to-attach-to-target-profile-repository.js
  api/src/prescription/target-profile/infrastructure/serializers/jsonapi/target-profile-attach-organization-serializer.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/integration/domain/usecases/attach-organizations-to-target-profile_test.js
  api/tests/prescription/target-profile/acceptance/application/admin-target-profile-route_test.js
  api/tests/prescription/target-profile/integration/domain/attach-organizations-from-existing-target-profile_test.js
  api/tests/prescription/target-profile/integration/infrastructure/repositories/organizations-to-attach-to-target-profile-repository_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profile-controller_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profiles-route_test.js
  api/tests/prescription/target-profile/unit/infrastructure/serializers/jsonapi/target-profile-attach-organization-serializer_test.js
  api/tests/unit/application/target-profiles/index_test.js
  api/tests/unit/application/target-profiles/target-profile-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#8789 [FEATURE][ADMIN] Ajouter l'espagnol dans la liste des langues disponibles (PIX-12196)
  admin/app/services/references.js
  admin/tests/unit/services/references_test.js
Labels: :rocket: Ready to Merge, team-acces

#8505 [TECH] :recycle: Déplacement du model `Organization` vers `src/shared`
  api/lib/domain/models/index.js
  api/lib/domain/validators/organization-with-tags-and-target-profiles-script.js
  api/lib/infrastructure/repositories/membership-repository.js
  api/lib/infrastructure/serializers/jsonapi/organization-serializer.js
  api/src/school/scripts/create-school-learners.js
  api/src/shared/domain/models/Organization.js
  api/src/shared/infrastructure/repositories/organization-repository.js
  api/src/shared/infrastructure/repositories/user-repository.js
  api/src/shared/prescriber-management/infrastructure/repositories/prescriber-repository.js
  api/tests/integration/infrastructure/repositories/certification-point-of-contact-repository_test.js
  api/tests/integration/infrastructure/repositories/membership-repository_test.js
  api/tests/integration/infrastructure/utils/bookshelf-to-domain-converter_test.js
  api/tests/school/integration/scripts/create-school-learners_test.js
  api/tests/shared/integration/infrastructure/repositories/membership-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/user-repository_test.js
  api/tests/shared/prescriber-management/integration/infrasctructure/repositories/prescriber-repository_test.js
  api/tests/shared/unit/domain/models/Organization_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-to-join.js
  api/tests/tooling/domain-builder/factory/build-membership.js
  api/tests/tooling/domain-builder/factory/build-organization.js
  api/tests/tooling/domain-builder/factory/build-prescriber.js
  api/tests/tooling/domain-builder/factory/build-user-orga-settings.js
  api/tests/unit/domain/usecases/find-paginated-filtered-organizations_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/organization-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, cross-team, Bounded-context-migration

#8683 [TECH] Utiliser l'API interne pour récupérer les organization-learners (Pix-12134)
  api/db/database-builder/factory/prescription/organization-learners/build-organization-learner.js
  api/db/seeds/data/team-1d/data-builder.js
  api/src/prescription/API.md
  api/src/prescription/organization-learner/application/api/organization-learners-api.js
  api/src/school/domain/services/inject-complement-data-to-mission.js
  api/src/school/domain/usecases/get-organization-learner-with-completed-mission-ids.js
  api/src/school/domain/usecases/get-school-by-code.js
  api/src/school/domain/usecases/index.js
  api/src/school/infrastructure/repositories/index.js
  api/src/school/infrastructure/repositories/mission-learner-repository.js
  api/src/school/infrastructure/repositories/organization-learner-repository.js
  api/tests/school/integration/domain/usecases/get-mission_test.js
  api/tests/school/integration/domain/usecases/get-organization-learner-with-completed-mission-ids_test.js
  api/tests/school/integration/infrastructure/repositories/mission-learners-repository_test.js
  api/tests/school/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/school/unit/infrastructure/repositories/mission-learner-repository_test.js
  api/tests/school/unit/infrastructure/repositories/organization-learner-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, 🎒👧🏽👦🏾 PIX JUNIOR

#8796 [FEATURE] Ajouter components à notre Module Serializer (PIX-12300)
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/unit/domain/models/module/Module_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#8761 [TECH] Supprimer l'utilisation du custom logoutUrlTemporaryStorage (PIX-12119)
  api/lib/domain/services/authentication/fwb-oidc-authentication-service.js
  api/lib/domain/services/authentication/pole-emploi-oidc-authentication-service.js
  api/src/authentication/domain/services/oidc-authentication-service.js
  api/tests/integration/domain/services/authentication/fwb-oidc-authentication-service_test.js
  api/tests/integration/domain/services/authentication/pole-emploi-oidc-authentication-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#8752 [BUGFIX] Vérifier la présence d'un doublon de session uniquement dans le centre de certification courant lors de l'import en masse sur Pix Certif (PIX-11930).
  api/src/certification/session/domain/services/sessions-import-validation-service.js
  api/src/certification/session/infrastructure/repositories/session-repository.js
  api/tests/certification/session/integration/infrastructure/repositories/session-repository_test.js
  api/tests/certification/session/unit/domain/services/sessions-import-validation-service_test.js
Labels: :rocket: Ready to Merge, team-certif
