Repository 1024pix/pix, pull requests merged in 2024-10, with the labels that each got.

#10219 [BUGFIX] Ne pas déclencher une erreur 503 quand l'email est invalide lors de l'envoi d'email transactionnel (PIX-14315)
  api/src/shared/domain/errors.js
  api/src/shared/mail/infrastructure/providers/BrevoProvider.js
  api/src/shared/mail/infrastructure/services/mailer.js
  api/src/team/domain/services/certification-center-invitation-service.js
  api/src/team/domain/services/organization-invitation.service.js
  api/src/team/domain/usecases/create-or-update-certification-center-invitation-for-admin.js
  api/tests/integration/application/error-manager_test.js
  api/tests/shared/unit/mail/infrastructure/providers/BrevoProvider_test.js
  api/tests/shared/unit/mail/infrastructure/services/mailer_test.js
  api/tests/team/integration/domain/services/organization-invitation.service.test.js
  api/tests/team/integration/domain/usecases/create-or-update-certification-center-invitation-for-admin_test.js
  api/tests/team/unit/domain/services/certification-center-invitation-service_test.js
  api/tests/team/unit/domain/services/organization-invitation.service.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10201 [FEATURE] Utiliser la date de réconciliation du candidat dans le service Placement Profile (PIX-14402)
  api/db/database-builder/factory/build-certification-candidate.js
  api/lib/domain/usecases/retrieve-last-or-create-certification-course.js
  api/src/certification/session-management/domain/models/CertificationCandidate.js
  api/src/certification/session-management/domain/usecases/get-certification-details.js
  api/src/certification/session-management/domain/usecases/index.js
  api/src/certification/session-management/infrastructure/repositories/certification-candidate-repository.js
  api/src/certification/session-management/infrastructure/repositories/index.js
  api/src/shared/domain/models/CertificationCandidate.js
  api/tests/acceptance/application/certification-courses/certification-course-controller_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/certification-candidate-repository_test.js
  api/tests/certification/session-management/acceptance/application/certification-details-route_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/certification-candidate-repository_test.js
  api/tests/certification/session-management/unit/domain/models/CertificationCandidate_test.js
  api/tests/certification/session-management/unit/domain/usecases/get-certification-details_test.js
  api/tests/tooling/domain-builder/factory/build-certification-candidate.js
  api/tests/tooling/domain-builder/factory/certification/session-management/build-certification-candidate.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/models/CertificationCandidate_test.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10178 [TECH] Supprimer l'ancienne route de génération d'identifiants et mots de passe en masse (PIX-14498)
  api/lib/application/sco-organization-learners/index.js
Labels: Tech Review OK, Func Review OK, team-acces

#10206 [FEATURE] Créer un composant local pour la sélection des OidcProvider (PIX-14134).
  mon-pix/app/components/authentication/oidc-provider-selector.gjs
  mon-pix/app/components/authentication/oidc-provider-selector.scss
  mon-pix/app/styles/app.scss
  mon-pix/tests/integration/components/authentication/oidc-provider-selector-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10218 [BUGFIX] mets à jours les clefs de trad nl / en
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10221 [TECH] :recycle: Déplace le modèle `OrganizationInvitedUser` dans le context `team`
  api/src/shared/domain/models/OrganizationInvitedUser.js
  api/src/team/domain/models/OrganizationInvitedUser.js
  api/src/team/infrastructure/repositories/organization-invited-user.repository.js
  api/tests/team/unit/domain/models/OrganizationInvitedUser.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#10213 [FEATURE] Créer un générateur de pdf avec formulaire à partir d'un template (pix-13821).
  api/src/profile/infrastructure/serializers/pdf/pdf-with-form-serializer.js
  api/tests/profile/integration/infrastructure/serializers/pdf/expected-first.pdf
  api/tests/profile/integration/infrastructure/serializers/pdf/expected-pdf-with-form.pdf
  api/tests/profile/integration/infrastructure/serializers/pdf/expected-second.pdf
  api/tests/profile/integration/infrastructure/serializers/pdf/pdf-with-form-serializer_test.js
  api/tests/profile/integration/infrastructure/serializers/pdf/template.pdf
  api/tests/tooling/binary-comparator.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, team-prescription

#10226 [FEATURE] Créer la page de sélection de SSO (PIX-14160)
  mon-pix/app/components/authentication-layout/index.scss
  mon-pix/app/components/authentication/oidc-provider-selector.gjs
  mon-pix/app/components/authentication/sso-selection-form.gjs
  mon-pix/app/components/authentication/sso-selection-form.scss
  mon-pix/app/controllers/authentication/sso-selection.js
  mon-pix/app/controllers/inscription/inscription.js
  mon-pix/app/router.js
  mon-pix/app/routes/authentication/sso-selection.js
  mon-pix/app/routes/inscription/inscription.js
  mon-pix/app/routes/inscription/sso-selection.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/pages/_sso-selection.scss
  mon-pix/app/templates/authentication/sso-selection.hbs
  mon-pix/app/templates/inscription/inscription.hbs
  mon-pix/tests/acceptance/authentication/sso-selection-test.js
  mon-pix/tests/integration/components/authentication/oidc-provider-selector-test.gjs
  mon-pix/tests/integration/components/authentication/sso-selection-form-test.gjs
  mon-pix/tests/unit/routes/inscription-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10238 [TECH] Migration de PATCH /api/admin/users/{id} (PIX-14631)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/src/identity-access-management/application/user/user.admin.controller.js
  api/src/identity-access-management/application/user/user.admin.route.js
  api/src/identity-access-management/domain/usecases/update-user-details-by-admin.usecase.js
  api/src/identity-access-management/infrastructure/serializers/jsonapi/user-details-for-admin.serializer.js
  api/tests/acceptance/application/users/update-user-details-for-administration_test.js
  api/tests/identity-access-management/acceptance/application/user/user.admin.route.test.js
  api/tests/identity-access-management/integration/application/user/user.admin.route.test.js
  api/tests/identity-access-management/integration/domain/usecases/update-user-details-by-admin.usecase.test.js
  api/tests/identity-access-management/unit/application/user/user.admin.controller.test.js
  api/tests/identity-access-management/unit/application/user/user.admin.route.test.js
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/user-details-for-admin.serializer.test.js
  api/tests/integration/application/users/index_test.js
  api/tests/integration/domain/usecases/update-user-details-for-administration_test.js
  api/tests/unit/application/users/index_test.js
  api/tests/unit/application/users/user-controller_test.js
  api/tests/unit/domain/usecases/update-user-details-for-administration_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10240 [FEATURE] Rendre obligatoire le champs propriétaire lors de la création de campagne en masse sur Pix Admin (PIX-12577)
  api/src/prescription/campaign/domain/usecases/create-campaigns.js
  api/src/shared/infrastructure/serializers/csv/csv-serializer.js
  api/tests/prescription/campaign/acceptance/application/campaign-administration-route_test.js
  api/tests/prescription/campaign/unit/domain/usecases/create-campaigns_test.js
  api/tests/shared/unit/infrastructure/serializers/csv/csv-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10214 [TECH] Supprimer les usages des key dans la configuration des imports à format (PIX-14622)
  api/db/seeds/data/common/organization-learner-import-formats.js
  api/src/prescription/learner-management/domain/models/ImportOrganizationLearnerSet.js
  api/src/prescription/learner-management/domain/models/OrganizationLearnerImportFormat.js
  api/src/prescription/learner-management/domain/usecases/get-organization-learners-csv-template.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user.repository.test.js
  api/tests/prescription/learner-management/acceptance/application/organization-learners-route_test.js
  api/tests/prescription/learner-management/unit/domain/models/ImportOrganizationLearnerSet_test.js
  api/tests/prescription/learner-management/unit/domain/models/OrganizationLearnerImportFormat_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10176 [FEATURE] Rendre autonome le métier pour gérer la liste blanche des centres de certification fermés.
  admin/app/components/administration/certification/index.gjs
  admin/app/components/administration/certification/sco-whitelist-configuration.gjs
  admin/tests/integration/components/administration/certification/sco-whitelist-configuration-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
  api/db/database-builder/factory/build-certification-center.js
  api/db/migrations/20240910144200_certification_whitelist.js
  api/server.js
  api/src/certification/configuration/application/sco-whitelist-controller.js
  api/src/certification/configuration/application/sco-whitelist-route.js
  api/src/certification/configuration/domain/usecases/import-sco-whitelist.js
  api/src/certification/configuration/infrastructure/repositories/center-repository.js
  api/src/certification/configuration/infrastructure/serializers/csv/sco-whitelist-csv-header.js
  api/src/certification/configuration/infrastructure/serializers/csv/sco-whitelist-csv-parser.js
  api/src/certification/configuration/routes.js
  api/tests/certification/configuration/acceptance/application/sco-whitelist-route_test.js
  api/tests/certification/configuration/integration/infrastructure/repositories/center-repository_test.js
  api/tests/certification/configuration/unit/application/sco-whitelist-route_test.js
  api/tests/certification/configuration/unit/domain/usecases/import-sco-whitelist_test.js
  api/tests/certification/configuration/unit/infrastructure/serializers/csv/sco-whitelist-csv-parser_test.js
  api/tests/team/integration/infrastructure/repositories/certification-center-membership.repository.test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#10168 [FEATURE] Utiliser le composant PixIcon dans Pix Certif (PIX-14461).
  certif/app/components/import-candidates.hbs
  certif/app/components/import/file-import-block.hbs
  certif/app/components/import/step-one-section.hbs
  certif/app/components/import/step-two-section.hbs
  certif/app/components/issue-report-modal/fraud-certification-issue-report-fields.hbs
  certif/app/components/issue-report-modal/issue-reports-modal.hbs
  certif/app/components/issue-report-modal/non-blocking-candidate-issue-certification-issue-report-fields.hbs
  certif/app/components/issue-report-modal/non-blocking-technical-issue-certification-issue-report-fields.hbs
  certif/app/components/layout/sidebar.gjs
  certif/app/components/layout/topbar.gjs
  certif/app/components/login-session-supervisor/footer.gjs
  certif/app/components/login-session-supervisor/footer.scss
  certif/app/components/members-list-item.hbs
  certif/app/components/session-finalization-step-container.hbs
  certif/app/components/session-finalization/completed-reports-information-step.hbs
  certif/app/components/session-finalization/uncompleted-reports-information-step.hbs
  certif/app/components/session-supervising/candidate-in-list.hbs
  certif/app/components/session-supervising/candidate-list.hbs
  certif/app/components/session-supervising/header.hbs
  certif/app/components/sessions/no-session-panel.gjs
  certif/app/components/sessions/session-details/clea-results-download.gjs
  certif/app/components/sessions/session-details/controls-links.gjs
  certif/app/components/sessions/session-details/enrolled-candidates/candidate-creation-modal.gjs
  certif/app/components/sessions/session-details/enrolled-candidates/index.gjs
  certif/app/components/user-logged-menu.hbs
  certif/app/styles/components/add-issue-report-modal.scss
  certif/app/styles/components/issue-report-modal.scss
  certif/app/styles/components/members-list-item.scss
  certif/app/styles/components/new-candidate-modal.scss
  certif/app/styles/components/session-finalization-step-container.scss
  certif/app/styles/components/session-finalization/reports-information-step.scss
  certif/app/styles/components/session-supervising/candidate-in-list.scss
  certif/app/styles/components/session-supervising/candidate-list.scss
  certif/app/styles/components/session-supervising/header.scss
  certif/app/styles/components/user-logged-menu.scss
  certif/app/styles/globals/texts.scss
  certif/app/styles/pages/authenticated.scss
  certif/app/styles/pages/authenticated/sessions/details.scss
  certif/app/styles/pages/authenticated/sessions/details/certification-candidates.scss
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/app/styles/pages/authenticated/team.scss
  certif/app/templates/authenticated/sessions/finalize.hbs
  certif/app/templates/authenticated/team/list.hbs
  certif/public/icons/chevron-square-right.svg
  certif/public/icons/edit-file.svg
  certif/public/icons/session-finalization-user.svg
  certif/public/icons/solid-square-chevron-right.svg
  certif/public/images/empty-list-session.svg
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/candidate-creation-modal-test.gjs
Labels: :rocket: Ready to Merge, team-certif, Design Review OK, cross-team

#10252 [FEATURE] Trier les participations aux campagnes par date de début sur Pix Admin (PIX-14621)
  api/src/prescription/campaign-participation/infrastructure/repositories/participations-for-user-management-repository.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/participations-for-user-management-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10234 [FEATURE] Ajouter une API interne pour récupérer les infos d'utilisateurs (PIX-14624).
  api/db/database-builder/factory/build-user.js
  api/src/identity-access-management/application/api/models/UserDTO.js
  api/src/identity-access-management/application/api/users-api.js
  api/src/identity-access-management/domain/usecases/get-user-details-by-user-ids.usecase.js
  api/tests/identity-access-management/integration/domain/usecases/get-user-details-by-user-ids.usecase.test.js
  api/tests/identity-access-management/unit/application/api/users-api.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, cross-team

#10257 [FEATURE] Mettre à jour l'url vers la politique de protection des données à caractère personnel des élèves (PIX-14460)
  junior/translations/fr.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, cross-team

#10251 [TECH] Supprimer la colonne isPublic de `target-profiles` (PIX-14626)
  api/db/migrations/20241004130635_remove-is-public-column-target-profile.js
  high-level-tests/e2e/cypress/fixtures/target-profiles.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10239 [FEATURE] Journaliser le changement d'email par le support (PIX-14363)
  api/src/identity-access-management/application/user/user.admin.controller.js
  api/src/identity-access-management/domain/usecases/update-user-details-by-admin.usecase.js
  api/tests/identity-access-management/integration/domain/usecases/update-user-details-by-admin.usecase.test.js
  api/tests/identity-access-management/unit/application/user/user.admin.controller.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10181 [TECH] Suppression de Bookshelf
  api/.depcheckrc
  api/db/knex-database-connection.js
  api/package-lock.json
  api/package.json
  api/src/certification/shared/domain/models/CertificationCourse.js
  api/src/identity-access-management/infrastructure/repositories/authentication-method.repository.js
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/src/shared/application/usecases/checkUserOwnsCertificationCourse.js
  api/src/shared/infrastructure/bookshelf.js
  api/src/shared/infrastructure/orm-models/Answer.js
  api/src/shared/infrastructure/orm-models/Assessment.js
  api/src/shared/infrastructure/orm-models/AuthenticationMethod.js
  api/src/shared/infrastructure/orm-models/Badge.js
  api/src/shared/infrastructure/orm-models/Campaign.js
  api/src/shared/infrastructure/orm-models/CampaignParticipation.js
  api/src/shared/infrastructure/orm-models/CertificationCenter.js
  api/src/shared/infrastructure/orm-models/CertificationCenterMembership.js
  api/src/shared/infrastructure/orm-models/CertificationChallenge.js
  api/src/shared/infrastructure/orm-models/CertificationIssueReport.js
  api/src/shared/infrastructure/orm-models/ComplementaryCertification.js
  api/src/shared/infrastructure/orm-models/ComplementaryCertificationCourse.js
  api/src/shared/infrastructure/orm-models/KnowledgeElement.js
  api/src/shared/infrastructure/orm-models/Membership.js
  api/src/shared/infrastructure/orm-models/Organization.js
  api/src/shared/infrastructure/orm-models/OrganizationLearner.js
  api/src/shared/infrastructure/orm-models/Stage.js
  api/src/shared/infrastructure/orm-models/Tag.js
  api/src/shared/infrastructure/orm-models/TargetProfile.js
  api/src/shared/infrastructure/orm-models/User.js
  api/src/shared/infrastructure/orm-models/UserOrgaSettings.js
  api/src/shared/infrastructure/utils/bookshelf-to-domain-converter.js
  api/src/team/infrastructure/repositories/certification-center-membership.repository.js
  api/tests/acceptance/scripts/add-many-divisions-and-students-to-sco-organization_test.js
  api/tests/acceptance/scripts/add-many-students-to-sco-certification-center_test.js
  api/tests/integration/infrastructure/repositories/campaign-repository_test.js
  api/tests/integration/infrastructure/repositories/complementary-certification-course-result-repository_test.js
  api/tests/integration/infrastructure/repositories/complementary-certification-habilitation-repository_test.js
  api/tests/integration/scripts/create-certification-center-memberships-from-organization-admins_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-post_test.js
  api/tests/shared/integration/infrastructure/utils/bookshelf-to-domain-converter_test.js
  api/tests/shared/integration/infrastructure/utils/knex-utils_test.js
  api/tests/shared/unit/application/usecases/checkUserOwnsCertificationCourse_test.js
  api/tests/shared/unit/infrastructure/serializers/jsonapi/validation-error-serializer_test.js
  api/tests/team/integration/infrastructure/repositories/certification-center-membership.repository.test.js
  docs/Bookshelf.md
Labels: :eyes: Tech Review Needed, team-acces, cross-team

#10260 [FEATURE] ajoute la feature de campagne external-id(Pix-14659)
  api/db/database-builder/factory/build-campaign-feature.js
  api/db/migrations/20241001073207_add-campaign-features.js
  api/db/seeds/data/common/constants.js
  api/db/seeds/data/common/feature-builder.js
  api/src/prescription/shared/domain/constants.js
  api/src/shared/domain/constants.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10233 [FEATURE] Ajout d'un nouvel ordre de mission (Pix-14469)
  api/src/school/infrastructure/repositories/mission-assessment-repository.js
  api/tests/school/integration/domain/usecases/get-organization-learner-with-completed-mission-ids_test.js
  api/tests/school/integration/infrastructure/repositories/mission-assessment-repository_test.js
  junior/app/controllers/identified/missions/list.js
  junior/app/routes/identified/missions/list.js
  junior/app/templates/identified/missions/list.hbs
  junior/tests/acceptance/display-missions-list-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10250 [TECH] Suppression du FT pour les écrans d'instruction certif v3 (PIX-12908)
  api/sample.env
  api/src/shared/config.js
  api/src/shared/infrastructure/validate-environment-variables.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
  mon-pix/app/models/feature-toggle.js
  mon-pix/app/routes/authenticated/certifications/start.js
  mon-pix/tests/acceptance/authenticated/certifications/information-test.js
  mon-pix/tests/unit/routes/authenticated/certifications/start-test.js
Labels: Tech Review OK, Func Review OK, team-certif

#10207 [FEATURE] Vérifier l'éligibilité complémentaire lors de la réconciliation V3 (PIX-14207)
  api/lib/domain/events/index.js
  api/src/certification/complementary-certification/domain/usecases/attach-badges.js
  api/src/certification/complementary-certification/infrastructure/repositories/complementary-certification-badge-repository.js
  api/src/certification/enrolment/application/http-error-mapper-configuration.js
  api/src/certification/enrolment/application/services/register-candidate-participation-service.js
  api/src/certification/enrolment/domain/errors.js
  api/src/certification/enrolment/domain/models/ComplementaryCertificationBadge.js
  api/src/certification/enrolment/domain/usecases/get-user-certification-eligibility.js
  api/src/certification/enrolment/domain/usecases/index.js
  api/src/certification/enrolment/domain/usecases/reconcile-candidate.js
  api/src/certification/enrolment/domain/usecases/verify-candidate-subscriptions.js
  api/src/certification/enrolment/infrastructure/repositories/complementary-certification-badge-with-offset-version-repository.js
  api/src/certification/enrolment/infrastructure/repositories/index.js
  api/src/certification/shared/domain/models/ComplementaryCertificationBadge.js
  api/src/certification/shared/infrastructure/repositories/complementary-certification-badge-repository.js
  api/tests/certification/complementary-certification/integration/infrastucture/repositories/complementary-certification-badge-repository_test.js
  api/tests/certification/enrolment/acceptance/application/session-route_test.js
  api/tests/certification/enrolment/integration/domain/services/register-candidate-participation-service_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/complementary-certification-badge-with-offset-version-repository_test.js
  api/tests/certification/enrolment/unit/domain/services/register-candidate-participation-service_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-user-certification-eligibility_test.js
  api/tests/certification/enrolment/unit/domain/usecases/reconcile-candidate_test.js
  api/tests/certification/enrolment/unit/domain/usecases/verify-candidate-subscriptions_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/complementary-certification-badge-repository_test.js
  api/tests/certification/shared/unit/domain/models/ComplementaryCertificationBadge_test.js
  api/tests/integration/domain/event/handle-complementary-certifications-scoring_test.js
  api/tests/tooling/domain-builder/factory/build-complementary-certification-badge.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-complementary-certification-badge.js
  api/tests/tooling/domain-builder/factory/index.js
  mon-pix/app/components/certification-joiner.js
  mon-pix/mirage/routes/post-session-participation.js
  mon-pix/tests/acceptance/certification-course-test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10272 [FEATURE] Voir le nombre de sujets évalués lors de la consultation d'un PC sur Pix Admin (PIX-9042)
  admin/app/components/target-profiles/target-profile.gjs
  admin/app/models/target-profile.js
  admin/tests/integration/components/target-profiles/target-profile-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
  api/lib/infrastructure/serializers/jsonapi/target-profile-for-admin-serializer.js
  api/src/shared/domain/models/TargetProfileForAdmin.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/target-profile-for-admin-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10270 [TECH] Migrer les derniers composants du dossier campaign de PixOrga vers GJS (PIX-14708)
  orga/app/components/campaign/badges.gjs
  orga/app/components/campaign/badges.hbs
  orga/app/components/campaign/create-form.gjs
  orga/app/components/campaign/create-form.hbs
  orga/app/components/campaign/create-form.js
  orga/app/components/campaign/empty-state.gjs
  orga/app/components/campaign/empty-state.hbs
  orga/app/components/campaign/empty-state.js
  orga/app/components/campaign/list-header.gjs
  orga/app/components/campaign/list-header.hbs
  orga/app/components/campaign/no-campaign-panel.gjs
  orga/app/components/campaign/no-campaign-panel.hbs
  orga/app/components/campaign/settings/target-profile-tooltip.gjs
  orga/app/components/campaign/settings/target-profile-tooltip.hbs
  orga/app/components/campaign/settings/view.gjs
  orga/app/components/campaign/settings/view.hbs
  orga/app/components/campaign/settings/view.js
  orga/app/components/campaign/target-profile-details.gjs
  orga/app/components/campaign/target-profile-details.hbs
  orga/app/components/campaign/target-profile-details.js
  orga/app/components/campaign/update-form.gjs
  orga/app/components/campaign/update-form.hbs
  orga/app/components/campaign/update-form.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#10258 [FEATURE] Mise à jour du wording lors du défocus pour candidats avec besoins d'ajustements (PIX-14428).
  api/lib/domain/usecases/retrieve-last-or-create-certification-course.js
  api/lib/infrastructure/serializers/jsonapi/certification-course-serializer.js
  api/src/certification/shared/domain/models/CertificationCourse.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/tests/acceptance/application/certification-courses/certification-course-controller_test.js
  api/tests/certification/scoring/integration/application/jobs/certification-completed-job-controller_test.js
  api/tests/certification/session-management/acceptance/application/certification-course-route_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-course-repository_test.js
  api/tests/certification/shared/unit/domain/models/CertificationCourse_test.js
  api/tests/tooling/domain-builder/factory/build-certification-course.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-course-serializer_test.js
  mon-pix/app/components/challenge-actions.hbs
  mon-pix/app/components/challenge-actions.js
  mon-pix/app/components/challenge-item/challenge-item-qcm.hbs
  mon-pix/app/components/challenge-item/challenge-item-qcu.hbs
  mon-pix/app/components/challenge-item/challenge-item-qroc.hbs
  mon-pix/app/components/challenge-item/challenge-item-qrocm.hbs
  mon-pix/app/models/certification-course.js
  mon-pix/app/templates/assessments/challenge.hbs
  mon-pix/mirage/serializers/certification-course.js
  mon-pix/tests/acceptance/challenge-item-test.js
  mon-pix/tests/integration/components/challenge-actions-test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: :eyes: Tech Review Needed, Func Review OK, team-certif

#10253 [BUGFIX] Supporter les descriptions de parcours autonomes en markdown (PIX-14214).
  api/db/seeds/data/team-evaluation/autonomous-courses/create-autonomous-courses.js
  mon-pix/app/components/autonomous-course/landing-page-start-block.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#10255 [FEATURE] Ajoute un endpoint qui permet de télécharger le pdf d'une attestation pour un utilisateur (PIX-13823).
  api/src/profile/application/attestation-controller.js
  api/src/profile/application/index.js
  api/src/profile/domain/models/User.js
  api/src/profile/domain/usecases/get-attestation-data-for-users.js
  api/src/profile/infrastructure/serializers/pdf/templates/sixth-grade-attestation-template.pdf
  api/tests/profile/acceptance/application/attestation-route_test.js
  api/tests/profile/integration/domain/usecases/get-attestation-data-for-users_test.js
  api/tests/profile/unit/application/attestation-controller_test.js
  api/tests/profile/unit/domain/models/User_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription

#10235 [BUGFIX] Conversion des centres restants (PIX-14581).
  api/src/certification/configuration/domain/models/Center.js
  api/src/certification/configuration/domain/models/CenterTypes.js
  api/src/certification/configuration/domain/usecases/find-and-trigger-v2-center-to-convert-in-v3.js
  api/src/certification/configuration/infrastructure/repositories/center-repository.js
  api/src/shared/config.js
  api/tests/certification/configuration/integration/infrastructure/repositories/center-repository_test.js
  api/tests/certification/configuration/unit/domain/models/CenterTypes_test.js
  api/tests/certification/configuration/unit/domain/models/Center_test.js
  api/tests/certification/configuration/unit/domain/usecases/find-and-trigger-v2-center-to-convert-in-v3_test.js
  api/tests/tooling/domain-builder/factory/certification/configuration/build-center.js
  api/tests/tooling/domain-builder/factory/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10267 [TECH] Fix sur des tests flaky (PIX-14702)
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/candidate-creation-modal-test.gjs
Labels: Tech Review OK, Func Review OK, team-certif

#10276 [FEATURE] Bloquer le test de certif si l’extension n’est pas détectée (PIX-12780)
  mon-pix/app/components/assessments/assessments.gjs
  mon-pix/app/components/companion/blocker.gjs
  mon-pix/app/services/pix-companion.js
  mon-pix/app/templates/assessments.hbs
  mon-pix/config/environment.js
  mon-pix/tests/integration/components/assessments/assessment-test.gjs
  mon-pix/tests/integration/components/companion/blocker-test.gjs
  mon-pix/tests/unit/services/pix-companion-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-companion

#10246 [FEATURE] Désafficher la bannière d'ouverture du niveau 7 (PIX-14495).
  api/db/database-builder/factory/build-user.js
  api/db/migrations/20241004090234_remove-has-seen-level-seven-info-column.js
  api/src/evaluation/application/users/index.js
  api/src/evaluation/application/users/user-controller.js
  api/src/evaluation/domain/usecases/remember-user-has-seen-level-seven-info.js
  api/src/evaluation/infrastructure/repositories/user-repository.js
  api/src/identity-access-management/application/api/users-api.js
  api/src/identity-access-management/domain/models/User.js
  api/src/identity-access-management/domain/usecases/remember-user-has-seen-level-seven-information.usecase.js
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/src/identity-access-management/infrastructure/serializers/jsonapi/user-with-activity.serializer.js
  api/src/shared/infrastructure/serializers/jsonapi/user-serializer.js
  api/tests/evaluation/acceptance/application/users/user-controller_test.js
  api/tests/evaluation/unit/application/users/user-controller_test.js
  api/tests/evaluation/unit/domain/usecases/remember-user-has-seen-level-seven-info_test.js
  api/tests/identity-access-management/acceptance/application/user/user.route.test.js
  api/tests/identity-access-management/integration/application/api/users-api_test.js
  api/tests/identity-access-management/unit/domain/models/User.test.js
  api/tests/identity-access-management/unit/domain/usecases/remember-user-has-seen-level-seven-information.usecase.test.js
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/user-with-activity.serializer.test.js
  api/tests/shared/unit/infrastructure/serializers/jsonapi/user-serializer_test.js
  api/tests/unit/tooling/database-builder/database-helpers_test.js
  mon-pix/app/adapters/user.js
  mon-pix/app/components/profile-content.hbs
  mon-pix/app/components/profile-content.js
  mon-pix/app/models/user.js
  mon-pix/app/services/url.js
  mon-pix/mirage/factories/user.js
  mon-pix/mirage/routes/users/index.js
  mon-pix/mirage/serializers/user.js
  mon-pix/tests/acceptance/profile-test.js
  mon-pix/tests/unit/services/url-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#10262 [FEATURE] Afficher la carte d'intro dans les flashcards Modulix (PIX-14311)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  mon-pix/app/components/module/element.gjs
  mon-pix/app/components/module/element/flashcards.gjs
  mon-pix/app/components/module/element/flashcards/flashcards-card.gjs
  mon-pix/app/components/module/element/flashcards/flashcards-intro-card.gjs
  mon-pix/app/components/module/element/flashcards/flashcards.gjs
  mon-pix/app/styles/components/module/_flashcards.scss
  mon-pix/tests/integration/components/module/element_test.gjs
  mon-pix/tests/integration/components/module/flashcards-card_test.gjs
  mon-pix/tests/integration/components/module/flashcards-intro-card_test.gjs
  mon-pix/tests/integration/components/module/flashcards_test.gjs
  mon-pix/tests/integration/components/module/grain_test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-devcomp

#10259 [TECH] Ajouter un composant local de gestion des règles de mot de passe (PIX-14149)
  mon-pix/app/components/authentication/password-input/index.gjs
  mon-pix/app/components/authentication/password-input/password-checklist.gjs
  mon-pix/app/components/authentication/password-input/password-checklist.scss
  mon-pix/app/components/authentication/password-input/password-rule.gjs
  mon-pix/app/components/authentication/password-input/password-rule.scss
  mon-pix/app/styles/app.scss
  mon-pix/tests/integration/components/authentication/password-input/index-test.gjs
  mon-pix/tests/integration/components/authentication/password-input/password-checklist-test.gjs
  mon-pix/tests/integration/components/authentication/password-input/password-rule-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10271 [FEATURE] Permettre la prévisualisation depuis Modulix Editor (PIX-14709)
  mon-pix/app/components/module/preview.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#10282 [TECH] Créer le feature toggle FT_PIX_COMPANION_ENABLED (PIX-14733).
  api/sample.env
  api/src/shared/config.js
  api/src/shared/infrastructure/validate-environment-variables.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
  mon-pix/app/models/feature-toggle.js
  mon-pix/app/services/pix-companion.js
  mon-pix/config/environment.js
  mon-pix/tests/unit/services/feature-toggles-test.js
  mon-pix/tests/unit/services/pix-companion-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-companion

#10281 [FEATURE] Lister les RT certifiants des campagnes en premier (PIX-14560).
  api/src/evaluation/infrastructure/repositories/badge-repository.js
  api/tests/evaluation/integration/infrastructure/repositories/badge-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#10261 [FEATURE] Récupérer les inscriptions candidats après réconciliation (v3 uniquement) (PIX-14209)
  api/src/certification/enrolment/domain/read-models/CertificationCandidateSubscription.js
  api/src/certification/enrolment/domain/usecases/get-certification-candidate-subscription.js
  api/src/certification/enrolment/infrastructure/repositories/certification-candidate-repository.js
  api/src/certification/enrolment/infrastructure/serializers/certification-candidate-subscription-serializer.js
  api/src/shared/domain/models/CertificationCandidate.js
  api/tests/certification/enrolment/acceptance/application/subscription-route_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/certification-candidate-repository_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-certification-candidate-subscription_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/certification-candidate-subscription-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-certification-candidate-subscription.js
  api/tests/unit/domain/models/CertificationCandidate_test.js
  mon-pix/app/components/certification-starter.hbs
  mon-pix/app/components/certification-starter.js
  mon-pix/app/models/certification-candidate-subscription.js
  mon-pix/tests/acceptance/authenticated/certifications/information-test.js
  mon-pix/tests/acceptance/certification-course-test.js
  mon-pix/tests/integration/components/certification-starter-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10287 [TECH] Correction du tests Flaky sur le usecase `get-data-organizations-places-statistics` (PIX-14739)
  api/tests/prescription/organization-place/integration/domain/usecases/get-data-organizations-places-statistics_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#10275 [FEATURE] Créer le composant des autres moyens de connexion/inscription (PIX-14159)
  api/src/identity-access-management/infrastructure/serializers/jsonapi/oidc-identity-providers.serializer.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.admin.route.test.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.route.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.admin.controller.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.controller.test.js
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/oidc-identity-providers.serializer.test.js
  mon-pix/app/components/authentication/other-authentication-providers.gjs
  mon-pix/app/components/authentication/other-authentication-providers.scss
  mon-pix/app/components/signin-form.hbs
  mon-pix/app/models/oidc-identity-provider.js
  mon-pix/app/services/oidc-identity-providers.js
  mon-pix/app/styles/app.scss
  mon-pix/app/templates/authentication/login.hbs
  mon-pix/mirage/routes/authentication/oidc/index.js
  mon-pix/public/images/logo/identity-providers/fwb.svg
  mon-pix/public/images/logo/identity-providers/pole-emploi-deprecated.svg
  mon-pix/public/images/logo/identity-providers/pole-emploi.svg
  mon-pix/tests/integration/components/authentication/login-or-register-oidc-test.js
  mon-pix/tests/integration/components/authentication/other-authentication-providers-test.gjs
  mon-pix/tests/unit/services/oidc-identity-providers-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10295 [TECH] Corriger le test flaky sur le usecase on `get-user-details-by-id-usecase` (PIX-14779)
  api/tests/identity-access-management/integration/domain/usecases/get-user-details-by-user-ids.usecase.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, team-evaluation, team-prescription

#10254 [FEATURE] permet la creation de feature de campagne (Pix-13814)
  admin/app/routes/authenticated/campaigns/campaign/participations.js
  api/db/migrations/20241004143337_migrate-idPixLabel-to-campaign-features.js
  api/lib/infrastructure/repositories/campaign-repository.js
  api/src/prescription/campaign/application/campaign-adminstration-controller.js
  api/src/prescription/campaign/domain/models/Campaign.js
  api/src/prescription/campaign/domain/models/CampaignForCreation.js
  api/src/prescription/campaign/domain/models/CampaignManagement.js
  api/src/prescription/campaign/domain/read-models/CampaignToJoin.js
  api/src/prescription/campaign/domain/validators/campaign-creation-validator.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-administration-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-management-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-report-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-to-join-repository.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-report-serializer.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-to-join-serializer.js
  api/src/shared/domain/models/Campaign.js
  api/src/shared/domain/read-models/CampaignReport.js
  api/tests/integration/infrastructure/repositories/campaign-repository_test.js
  api/tests/integration/migration/20241001073207_add-campaign-features_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-administration-route_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-detail-route_test.js
  api/tests/prescription/campaign/integration/domain/usecases/create-campaign_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-assessment-results-to-stream_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-administration-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-management-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-report-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-to-join-repository_test.js
  api/tests/prescription/campaign/unit/application/campaign-administration-controller_test.js
  api/tests/prescription/campaign/unit/domain/models/CampaignForCreation_test.js
  api/tests/prescription/campaign/unit/domain/models/CampaignManagement_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/jsonapi/campaign-report-serializer_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/jsonapi/campaign-to-join-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-report.js
  api/tests/tooling/domain-builder/factory/build-campaign-to-join.js
  high-level-tests/e2e/cypress/fixtures/campaign-features.json
  high-level-tests/e2e/cypress/fixtures/campaigns.json
  high-level-tests/e2e/cypress/fixtures/features.json
  high-level-tests/e2e/cypress/support/step_definitions/index.js
  orga/app/components/campaign/settings/view.gjs
  orga/app/components/participant/assessment/header.hbs
  orga/app/helpers/id-pix-types.js
  orga/app/models/campaign.js
  orga/tests/unit/models/campaign-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10297 [BUGFIX] Couper le nom de la campagne même si elle ne contient pas d'espace dans les tableaux PixAdmin (PIX-11535)
  admin/app/components/organizations/campaigns-section.gjs
  admin/app/styles/globals/page.scss
  admin/app/styles/globals/tables.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10294 [FEATURE] MAJ wording bandeau SCO
  orga/tests/integration/components/banner/sco-communication-test.gjs
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10296 [FEATURE] :sparkles: filtre les élèves par status de mission assessment (PIX-13382)
  api/src/school/application/mission-learner-controller.js
  api/src/school/application/mission-learner-route.js
  api/src/school/domain/usecases/find-paginated-mission-learners.js
  api/tests/school/unit/application/mission-learner-route_test.js
  api/tests/school/unit/domain/usecases/find-paginated-mission-learners_test.js
  orga/app/controllers/authenticated/missions/mission/activities.js
  orga/app/controllers/authenticated/missions/mission/results.js
  orga/app/routes/authenticated/missions/mission/activities.js
  orga/app/templates/authenticated/missions/mission/activities.hbs
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10236 [FEATURE] Migration vers PixIcon sur Junior (Pix-14628)
  junior/app/components/challenge/challenge-media.gjs
  junior/app/styles/pages/identified/missions/introduction.scss
  junior/app/styles/pages/identified/missions/mission.scss
  junior/app/templates/assessment/results.hbs
  junior/app/templates/identified/missions/mission/index.hbs
  junior/app/templates/identified/missions/mission/introduction.hbs
  junior/package-lock.json
  junior/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10302 [FEATURE] Afficher les boutons de réponse des Flashcards Modulix (PIX-14309)
  mon-pix/app/components/module/element/flashcards/flashcards-card.gjs
  mon-pix/app/components/module/element/flashcards/flashcards-intro-card.gjs
  mon-pix/app/components/module/element/flashcards/flashcards.gjs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/module/_flashcards-card.scss
  mon-pix/app/styles/components/module/_flashcards.scss
  mon-pix/tests/integration/components/module/flashcards_test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-devcomp

#10263 [FEATURE] Permettre de filtrer sur les category des Profil Cible sur PixAdmin(PIX-14651)
  admin/app/components/target-profiles/list-summary-items.gjs
  admin/app/controllers/authenticated/target-profiles/list.js
  admin/app/helpers/target-profile-categories.js
  admin/app/models/target-profile-summary.js
  admin/app/routes/authenticated/target-profiles/list.js
  admin/app/styles/globals/page.scss
  admin/app/styles/globals/table-admin.scss
  admin/app/templates/authenticated/target-profiles/list.hbs
  admin/tests/acceptance/authenticated/target-profiles/list-test.js
  admin/tests/integration/components/routes/authenticated/target-profiles/list-items-test.gjs
  admin/tests/integration/components/target-profiles/list-summary-items-test.gjs
  admin/tests/unit/controllers/authenticated/target-profiles/list-test.js
  admin/tests/unit/routes/authenticated/target-profiles/list-test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/src/prescription/shared/domain/types/identifiers-type.js
  api/src/prescription/target-profile/application/admin-target-profile-controller.js
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/src/prescription/target-profile/domain/models/TargetProfileSummaryForAdmin.js
  api/src/prescription/target-profile/infrastructure/repositories/target-profile-summary-for-admin-repository.js
  api/src/prescription/target-profile/infrastructure/serializers/jsonapi/target-profile-summary-for-admin-serializer.js
  api/tests/devcomp/acceptance/application/trainings/training-controller_test.js
  api/tests/prescription/target-profile/acceptance/application/admin-target-profile-route_test.js
  api/tests/prescription/target-profile/integration/infrastructure/repositories/target-profile-summary-for-admin-repository_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profile-controller_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profiles-route_test.js
  api/tests/prescription/target-profile/unit/infrastructure/serializers/jsonapi/target-profile-summary-for-admin-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-target-profile-summary-for-admin.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10170 [TECH] Amender l'ADR sur le EventDispatcher.
  docs/adr/0010-propager-domain-events-via-event-dispatcher.md
  docs/adr/0025-precisions-sur-les-transactions-et-les-evenements-metier.md
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, tech-days-evenementiel

#10280 [REFACTOR] Améliorer l'ergonomie de la liste des RT dans Admin (PIX-14711).
  admin/app/components/target-profiles/badges.gjs
  admin/app/styles/components/target-profiles/badges.scss
  admin/package-lock.json
  admin/package.json
  admin/tests/acceptance/authenticated/target-profiles/target-profile/insights-test.js
  admin/tests/integration/components/target-profiles/badges-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#10264 [FEATURE] Ajout d'un bouton d'actualisation sur la page école de Pix Junior (PIX-14587)
  junior/app/components/issue.gjs
  junior/app/components/school-code-error.gjs
  junior/app/controllers/school-error.js
  junior/app/controllers/school/divisions.js
  junior/app/routes/school-error.js
  junior/app/routes/school.js
  junior/app/styles/components/issue.scss
  junior/app/templates/school-error.hbs
  junior/app/templates/school/divisions.hbs
  junior/config/icons.js
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10292 [BUGFIX] Vérifier l'éligibilité de l'utilisateur en fonction du profil cible du badge acquis (PIX-14763)
  api/src/certification/enrolment/domain/usecases/get-user-certification-eligibility.js
  api/src/certification/enrolment/infrastructure/repositories/complementary-certification-badge-with-offset-version-repository.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/complementary-certification-badge-with-offset-version-repository_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-user-certification-eligibility_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10268 [FEATURE] Ajoute un endpoint pour télécharger un zip des attestations pour une organisation (PIX-13824).
  api/src/identity-access-management/application/api/models/UserDTO.js
  api/src/prescription/organization-learner/application/organization-learners-controller.js
  api/src/prescription/organization-learner/application/organization-learners-route.js
  api/src/prescription/organization-learner/domain/read-models/OrganizationLearner.js
  api/src/prescription/organization-learner/domain/usecases/get-attestation-zip-for-divisions.js
  api/src/prescription/organization-learner/domain/usecases/get-organization-learner.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/src/prescription/organization-learner/infrastructure/repositories/index.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-repository.js
  api/src/prescription/organization-learner/routes.js
  api/src/profile/application/api/attestations-api.js
  api/src/profile/domain/models/ProfileReward.js
  api/src/profile/infrastructure/repositories/profile-reward-repository.js
  api/tests/prescription/learner-management/unit/infrastructure/organization-learner-repository_test.js
  api/tests/prescription/organization-learner/acceptance/application/organization-learner-route_test.js
  api/tests/prescription/organization-learner/integration/domain/usecases/get-attestation-zip-for-divisions_test.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/get-organization-learner_test.js
  api/tests/profile/integration/domain/usecases/get-attestation-data-for-users_test.js
  api/tests/profile/integration/infrastructure/repositories/profile-reward-repository_test.js
  api/tests/profile/unit/application/api/attestations-api_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription

#10303 [FEATURE] Créer une alerte en cas de non détection de l'extension Companion lors de la certification sur Pix App (PIX-14727).
  api/db/database-builder/factory/build-certification-companion-live-alert.js
  api/db/migrations/20241011074058_create-certification-companion-live-alert-table.js
  api/server.js
  api/src/certification/evaluation/application/companion-alert-controller.js
  api/src/certification/evaluation/application/companion-alert-route.js
  api/src/certification/evaluation/domain/usecases/create-companion-alert.js
  api/src/certification/evaluation/domain/usecases/index.js
  api/src/certification/evaluation/infrastructure/repositories/certification-companion-alert-repository.js
  api/src/certification/evaluation/routes.js
  api/src/certification/shared/domain/models/CertificationCompanionLiveAlert.js
  api/src/evaluation/application/pre-handlers/assessment-authorization.js
  api/tests/certification/evaluation/acceptance/application/companion-live-alert-route_test.js
  api/tests/certification/evaluation/integration/domain/usecases/create-companion-alert_test.js
  mon-pix/app/adapters/assessment.js
  mon-pix/app/components/assessments/assessments.gjs
  mon-pix/app/components/companion/blocker.gjs
  mon-pix/app/services/pix-companion.js
  mon-pix/tests/integration/components/assessments/assessment-test.gjs
  mon-pix/tests/integration/components/companion/blocker-test.gjs
  mon-pix/tests/unit/adapters/assessment-test.js
  mon-pix/tests/unit/components/assessments/assessments-test.js
  mon-pix/tests/unit/components/companion/blocker-test.js
  mon-pix/tests/unit/services/pix-companion-test.js
Labels: :rocket: Ready to Merge, team-certif, team-companion

#10312 [TECH] Recuperer le templateName depuis la base de données plutôt qu'en dur dans le code (PIX-14786)
  api/config/server-setup-error-handling.js
  api/src/profile/application/api/attestations-api.js
  api/src/profile/application/attestation-controller.js
  api/src/profile/application/http-error-mapper-configuration.js
  api/src/profile/domain/errors.js
  api/src/profile/domain/models/Attestation.js
  api/src/profile/domain/usecases/get-attestation-data-for-users.js
  api/src/profile/domain/usecases/index.js
  api/src/profile/infrastructure/repositories/attestation-repository.js
  api/tests/prescription/organization-learner/acceptance/application/organization-learner-route_test.js
  api/tests/profile/integration/domain/usecases/get-attestation-data-for-users_test.js
  api/tests/profile/integration/infrastructure/repositories/attestation-repository_test.js
  api/tests/profile/unit/application/api/attestations-api_test.js
  api/tests/profile/unit/application/attestation-controller_test.js
  api/tests/profile/unit/application/http-error-mapper-configuration_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, team-prescription

#10298 [FEATURE] maj lien et nom LANGUIA MODC-285
  api/src/devcomp/infrastructure/datasources/learning-content/modules/chatgpt-parle-francais.json
Labels: :rocket: Ready to Merge, contribution-modulix

#10230 [FEATURE] Ajouter la bannière de la nouvelle page de fin de parcours (PIX-12987).
  api/db/seeds/data/common/tooling/target-profile-tooling.js
  api/db/seeds/data/team-evaluation/users/eval-campaign-with-badges.js
  api/db/seeds/data/team-evaluation/users/eval-campaign-with-stages.js
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-hero/acquired-badges.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-hero/custom-organization-block.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-hero/index.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-hero/retry-or-reset-block.gjs
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results.gjs
  mon-pix/app/models/campaign-participation-result.js
  mon-pix/app/models/campaign.js
  mon-pix/app/styles/pages/_evaluation-results.scss
  mon-pix/public/images/illustrations/fusee-results.svg
  mon-pix/public/images/illustrations/skill-review/retry-assessment.svg
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/hero/acquired-badges-test.js
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/hero/custom-organization-block-test.js
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/hero/evaluation-results-hero-test.js
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/hero/retry-or-reset-block-test.js
  mon-pix/tests/integration/components/routes/campaigns/assessment/evaluation-results-test.js
  mon-pix/tests/unit/models/campaign-participation-result-test.js
  mon-pix/tests/unit/models/campaign-test.js
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#10313 [FEATURE] Afficher un signalement d'extension de Companion dans l’espace surveillant (PIX-14731)
  api/src/certification/session-management/domain/models/CertificationCandidateForSupervising.js
  api/src/certification/session-management/domain/models/CertificationCandidateForSupervisingV3.js
  api/src/certification/session-management/infrastructure/repositories/session-for-supervising-repository.js
  api/src/certification/session-management/infrastructure/serializers/session-for-supervising-serializer.js
  api/tests/certification/session-management/integration/infrastructure/repositories/session-for-supervising-repository_test.js
  api/tests/certification/session-management/unit/infrastructure/serializers/session-for-supervising-serializer_test.js
  certif/app/components/session-supervising/candidate-in-list.hbs
  certif/app/components/session-supervising/candidate-in-list.js
  certif/app/models/certification-candidate-for-supervising.js
  certif/tests/acceptance/session-supervising-test.js
  certif/tests/integration/components/session-supervising/candidate-in-list-test.js
  certif/tests/integration/components/session-supervising/handle-live-alert-modal-test.js
  certif/tests/integration/components/session-supervising/live-alert-handled-modal-test.js
  certif/tests/unit/models/certification-candidate-for-supervising-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-certif, :bellhop_bell: ping-jp, team-companion

#10349 [TECH] insere les idPixLabel dans la table campaign-features lors des seed (pix-14874)
  api/db/database-builder/factory/build-campaign.js
  api/db/seeds/data/common/tooling/campaign-tooling.js
  api/db/seeds/data/team-certification/data-builder.js
  api/db/seeds/data/team-devcomp/build-campaigns.js
  api/db/seeds/data/team-prescription/build-campaigns.js
  api/tests/integration/infrastructure/repositories/campaign-repository_test.js
  api/tests/prescription/campaign/integration/domain/usecases/update-campaign-details_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-administration-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, no-review-app

#10351 [FEATURE] Afficher dans le bandeau "Certification" l'éligibilité au niveau N-1 (PIX-14870).
  api/db/seeds/data/common/complementary-certification-builder.js
  api/src/certification/enrolment/domain/models/ComplementaryCertificationBadge.js
  api/src/certification/enrolment/domain/usecases/get-user-certification-eligibility.js
  api/src/certification/enrolment/infrastructure/repositories/complementary-certification-badge-with-offset-version-repository.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/complementary-certification-badge-with-offset-version-repository_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-user-certification-eligibility_test.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-complementary-certification-badge.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10307 [FEATURE] Ajout de la nouvelle page d'inscription Pix App (PIX-14154)
  mon-pix/app/components/authentication/new-password-input/index.gjs
  mon-pix/app/components/authentication/new-password-input/password-checklist.gjs
  mon-pix/app/components/authentication/new-password-input/password-checklist.scss
  mon-pix/app/components/authentication/new-password-input/password-rule.gjs
  mon-pix/app/components/authentication/new-password-input/password-rule.scss
  mon-pix/app/components/authentication/other-authentication-providers.gjs
  mon-pix/app/components/authentication/password-input/index.gjs
  mon-pix/app/components/authentication/signin-form.gjs
  mon-pix/app/components/authentication/signup-form/cgu-checkbox.gjs
  mon-pix/app/components/authentication/signup-form/index.gjs
  mon-pix/app/components/authentication/signup-form/index.scss
  mon-pix/app/components/authentication/signup-form/signup-form-validation.js
  mon-pix/app/controllers/authentication/login.js
  mon-pix/app/controllers/inscription/inscription.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/pages/_inscription.scss
  mon-pix/app/templates/inscription/inscription.hbs
  mon-pix/app/utils/password-validator.js
  mon-pix/mirage/routes/users/get-profile.js
  mon-pix/mirage/routes/users/get-scorecards.js
  mon-pix/mirage/routes/users/index.js
  mon-pix/tests/acceptance/authentication/login-test.js
  mon-pix/tests/acceptance/authentication/signup-test.js
  mon-pix/tests/acceptance/authentication/sso-selection-test.js
  mon-pix/tests/acceptance/inscription-test.js
  mon-pix/tests/integration/components/authentication/other-authentication-providers-test.gjs
  mon-pix/tests/integration/components/authentication/password-input/index-test.gjs
  mon-pix/tests/integration/components/authentication/password-input/password-checklist-test.gjs
  mon-pix/tests/integration/components/authentication/password-input/password-rule-test.gjs
  mon-pix/tests/integration/components/authentication/signup-form/cgu-checkbox-test.gjs
  mon-pix/tests/integration/components/authentication/signup-form/index-test.gjs
  mon-pix/tests/unit/components/authentication/signup-form/signup-form-validation-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10327 [FEATURE] Afficher un menu Élèves personnalisé pour les écoles (PIX-13536)
  orga/app/components/layout/sidebar.hbs
  orga/app/components/layout/sidebar.js
  orga/app/components/organization-participant/header.gjs
  orga/app/components/organization-participant/learner-filters.gjs
  orga/app/components/organization-participant/list.gjs
  orga/app/components/organization-participant/table-headers.gjs
  orga/app/components/organization-participant/table-row.gjs
  orga/app/controllers/authenticated/organization-participants/list.js
  orga/app/styles/globals/tables.scss
  orga/app/templates/authenticated/organization-participants/list.hbs
  orga/tests/integration/components/organization-participant/table-row_test.gjs
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, 🎒👧🏽👦🏾 PIX JUNIOR

#10350 [BUGFIX] Éviter la création mutltiple de lot de place lors du clique sur le bouton valider (PIX-14821)
  admin/app/components/organizations/places-lot-creation-form.gjs
  admin/tests/integration/components/organizations/places-lot-creation-form-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10353 [FEATURE] Ajoute le suivi du nombre d'answer jobs par utilisateur dans redis (PIX-14878)
  api/src/evaluation/infrastructure/repositories/answer-job-repository.js
  api/src/quest/application/jobs/answer-job-controller.js
  api/src/shared/infrastructure/temporary-storage/InMemoryTemporaryStorage.js
  api/src/shared/infrastructure/temporary-storage/RedisTemporaryStorage.js
  api/src/shared/infrastructure/temporary-storage/TemporaryStorage.js
  api/src/shared/infrastructure/utils/RedisClient.js
  api/tests/evaluation/unit/infrastructure/repositories/answer-job-repository_test.js
  api/tests/quest/unit/application/answer-job-controller_test.js
  api/tests/shared/integration/infrastructure/utils/RedisClient_test.js
  api/tests/shared/unit/infrastructure/temporary-storage/InMemoryTemporaryStorage_test.js
  api/tests/shared/unit/infrastructure/temporary-storage/RedisTemporaryStorage_test.js
  api/tests/shared/unit/infrastructure/temporary-storage/TemporaryStorage_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, team-prescription

#10337 [FEATURE] Permettre au surveillant de traiter un signalement d'extension sur Pix Certif (PIX-14820).
  api/src/certification/evaluation/application/companion-alert-route.js
  api/src/certification/evaluation/domain/usecases/create-companion-alert.js
  api/src/certification/evaluation/domain/usecases/index.js
  api/src/certification/session-management/application/companion-alert-controller.js
  api/src/certification/session-management/application/companion-alert-route.js
  api/src/certification/session-management/domain/usecases/clear-companion-alert.js
  api/src/certification/session-management/domain/usecases/index.js
  api/src/certification/session-management/infrastructure/repositories/certification-companion-alert-repository.js
  api/src/certification/session-management/infrastructure/repositories/index.js
  api/src/certification/session-management/routes.js
  api/src/certification/shared/domain/models/CertificationCompanionLiveAlert.js
  api/tests/certification/evaluation/acceptance/application/companion-alert-route_test.js
  api/tests/certification/session-management/acceptance/application/companion-alert-route_test.js
  api/tests/certification/session-management/integration/domain/usecases/clear-companion-alert_test.js
  api/tests/certification/shared/unit/domain/models/CertificationCompanionLiveAlert_test.js
  api/tests/tooling/domain-builder/factory/build-certification-companion-live-alert.js
  api/tests/tooling/domain-builder/factory/index.js
  certif/app/adapters/session-management.js
  certif/app/components/session-supervising/candidate-in-list.hbs
  certif/app/components/session-supervising/candidate-in-list.js
  certif/app/components/session-supervising/companion-live-alert-modal.hbs
  certif/app/components/session-supervising/companion-live-alert-modal.js
  certif/app/components/session-supervising/live-alert-handled-modal.hbs
  certif/app/components/session-supervising/live-alert-handled-modal.js
  certif/app/models/certification-candidate-for-supervising.js
  certif/mirage/config.js
  certif/tests/acceptance/session-supervising-test.js
  certif/tests/integration/components/session-supervising/candidate-in-list-test.js
  certif/tests/integration/components/session-supervising/companion-live-alert-modal-test.js
  certif/tests/integration/components/session-supervising/live-alert-handled-modal-test.js
  certif/tests/unit/adapters/session-management-test.js
  certif/tests/unit/models/certification-candidate-for-supervising-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, Func Review OK, team-certif, team-companion

#10291 [BUGFIX] Rendre plus résistante la gestion d'erreur de la création de comptes côté API (PIX-14736)
  api/scripts/create-users-accounts-for-contest.js
  api/src/identity-access-management/application/user/user.controller.js
  api/src/identity-access-management/application/user/user.route.js
  api/src/identity-access-management/domain/usecases/create-user.usecase.js
  api/src/identity-access-management/infrastructure/repositories/user-to-create.repository.js
  api/src/shared/domain/services/user-service.js
  api/tests/identity-access-management/acceptance/application/user/user.route.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user-to-create.repository.test.js
  api/tests/identity-access-management/unit/application/user/user.controller.test.js
  api/tests/identity-access-management/unit/application/user/user.route.test.js
  api/tests/identity-access-management/unit/domain/usecases/create-user.usecase.test.js
  api/tests/shared/unit/domain/services/user-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#10357 [FEATURE] Compléter la page de non détection de l'extension (PIX-14726).
  mon-pix/app/components/companion/blocker.gjs
  mon-pix/app/styles/components/companion/blocker.scss
  mon-pix/tests/integration/components/companion/blocker-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, team-companion

#10362 [FEATURE] Ajouter une icône de rafraîchissement sur le bouton de l'écran d'extension.
  mon-pix/app/components/companion/blocker.gjs
  mon-pix/app/styles/components/companion/blocker.scss
Labels: :rocket: Ready to Merge, team-certif, team-companion

#10348 [FEATURE] Bloquer le candidat pendant la certification si une alerte d'extension existe (PIX-14732).
  api/lib/domain/usecases/get-assessment.js
  api/lib/domain/usecases/index.js
  api/src/certification/shared/infrastructure/repositories/certification-companion-alert-repository.js
  api/src/shared/domain/models/Assessment.js
  api/src/shared/infrastructure/repositories/assessment-repository.js
  api/src/shared/infrastructure/serializers/jsonapi/assessment-serializer.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-challenge-live-alert-repository_test.js
  api/tests/integration/domain/usecases/get-assessment_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get_test.js
  api/tests/shared/unit/domain/models/Assessment_test.js
  api/tests/shared/unit/infrastructure/serializers/jsonapi/assessment-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-assessment.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/usecases/get-assessment_test.js
  mon-pix/app/components/assessments/assessments.gjs
  mon-pix/app/components/assessments/live-alert.gjs
  mon-pix/app/components/challenge-actions.hbs
  mon-pix/app/components/challenge-actions.js
  mon-pix/app/components/challenge-item/challenge-item-qcm.hbs
  mon-pix/app/components/challenge-item/challenge-item-qcu.hbs
  mon-pix/app/components/challenge-item/challenge-item-qroc.hbs
  mon-pix/app/components/challenge-item/challenge-item-qrocm.hbs
  mon-pix/app/components/feedback-panel-v3.hbs
  mon-pix/app/components/feedback-panel-v3.js
  mon-pix/app/models/assessment.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/_feedback-panel-v3.scss
  mon-pix/app/styles/components/assessments/_live-alert.scss
  mon-pix/app/templates/assessments/challenge.hbs
  mon-pix/mirage/routes/assessments/pause-assessment.js
  mon-pix/tests/acceptance/challenge-item-test.js
  mon-pix/tests/integration/components/assessments/live-alert-test.gjs
  mon-pix/tests/integration/components/challenge-actions-test.js
  mon-pix/tests/integration/components/feedback-panel-test.js
  mon-pix/tests/integration/components/feedback-panel-v3-test.js
  mon-pix/tests/unit/components/assessments/assessments-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, Func Review OK, team-certif, team-companion

#10331 [TECH] Mise à jour de webpack et un plugin babel (pix-14825)
  junior/package-lock.json
  junior/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10330 [FEATURE] :art: Légère reprise d'une phrase de fin de mission (pix-14822)
  junior/app/templates/assessment/results.hbs
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10356 [TECH] Migrer la route `createTargetProfile` dans le BC Prescription Target Profile (PIX-14918)
  api/lib/application/target-profiles/index.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/src/prescription/shared/application/http-error-mapper-configuration.js
  api/src/prescription/target-profile/application/admin-target-profile-controller.js
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/src/prescription/target-profile/application/http-error-mapper-configuration.js
  api/src/prescription/target-profile/domain/constants.js
  api/src/prescription/target-profile/domain/errors.js
  api/src/prescription/target-profile/domain/models/TargetProfileForCreation.js
  api/src/prescription/target-profile/domain/usecases/create-target-profile.js
  api/src/prescription/target-profile/domain/validators/base-validation.js
  api/src/prescription/target-profile/domain/validators/creation-command-validation.js
  api/src/shared/application/error-manager.js
  api/src/shared/domain/constants.js
  api/src/shared/domain/errors.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/prescription/target-profile/acceptance/application/admin-target-profile-route_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profile-controller_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profiles-route_test.js
  api/tests/prescription/target-profile/unit/domain/usecases/create-target-profile_test.js
  api/tests/prescription/target-profile/unit/domain/validators/creation-command-validation_test.js
  api/tests/unit/application/target-profiles/index_test.js
  api/tests/unit/application/target-profiles/target-profile-controller_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#10361 [BUGFIX] valide que le code campagne ne contient pas de caractère utf8 bizarre (pix-14718)
  api/src/prescription/campaign/application/campaign-detail-route.js
  api/tests/prescription/campaign/unit/application/campaign-detail-route_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10366 [FEATURE] Afficher un bandeau d'information concernant l'extension Companion dans la page du surveillant sur Pix Certif (PIX-12779).
  certif/app/components/session-supervising/header.hbs
  certif/app/components/session-supervising/header.js
  certif/app/models/feature-toggle.js
  certif/app/services/url.js
  certif/app/styles/components/session-supervising/header.scss
  certif/tests/integration/components/session-supervising/header-test.js
  certif/tests/unit/services/url-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-certif, team-companion

#10332 [FEATURE] Ajoute un endpoint pour récupérer les résultats de quêtes dans le cadre d'une campagne (PIX-14837).
  api/server.js
  api/src/prescription/campaign/application/http-error-mapper-configuration.js
  api/src/prescription/campaign/application/usecases/checkCampaignParticipationBelongsToUser.js
  api/src/prescription/campaign/domain/errors.js
  api/src/prescription/organization-learner/application/api/read-models/OrganizationLearnerWithParticipations.js
  api/src/profile/application/api/reward-api.js
  api/src/profile/domain/errors.js
  api/src/profile/domain/usecases/get-reward-by-id-and-type.js
  api/src/profile/domain/usecases/index.js
  api/src/profile/infrastructure/repositories/reward-repository.js
  api/src/quest/application/index.js
  api/src/quest/application/quest-controller.js
  api/src/quest/domain/models/Eligibility.js
  api/src/quest/domain/models/QuestResult.js
  api/src/quest/domain/usecases/get-quest-results-for-campaign-participation.js
  api/src/quest/infrastructure/repositories/index.js
  api/src/quest/infrastructure/repositories/reward-repository.js
  api/src/quest/infrastructure/serializers/quest-result-serializer.js
  api/src/quest/routes.js
  api/src/shared/application/security-pre-handlers.js
  api/tests/prescription/campaign-participation/unit/domain/errors_test.js
  api/tests/prescription/campaign/unit/application/http-error-mapper-configuration_test.js
  api/tests/prescription/organization-learner/unit/application/api/models/OrganizationLearnerWithParticipations_test.js
  api/tests/prescription/organization-learner/unit/application/api/organization-learners-with-participations-api_test.js
  api/tests/profile/integration/infrastructure/repositories/reward-repository_test.js
  api/tests/profile/unit/application/api/reward-api_test.js
  api/tests/profile/unit/domain/usecases/get-reward-by-id-and-type_test.js
  api/tests/quest/acceptance/application/quest-route_test.js
  api/tests/quest/integration/domain/usecases/get-quest-results-for-campaign-participation_test.js
  api/tests/quest/unit/application/index_test.js
  api/tests/quest/unit/domain/models/Eligibility_test.js
  api/tests/quest/unit/domain/usecases/get-quest-results-for-campaign-participation_test.js
  api/tests/quest/unit/infrastructure/repositories/reward-repository_test.js
  api/tests/quest/unit/infrastructure/serializers/quest-result-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, team-prescription

#10369 [TECH] Feat add back translations lint
  api/eslint.config.cjs
  api/package-lock.json
  api/package.json
  api/translations/en.json
  api/translations/fr.json
  mon-pix/eslint.config.cjs
  mon-pix/package.json
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: :rocket: Ready to Merge, Func Review OK, cross-team

#10367 [TECH] Ajouter les méthodes increment et decrement dans la méthode withPrefix de Redis (PIX-14936)
  api/src/shared/infrastructure/temporary-storage/TemporaryStorage.js
  api/tests/shared/unit/infrastructure/temporary-storage/TemporaryStorage_test.js
Labels: :eyes: Tech Review Needed, team-evaluation, team-prescription, no-review-app

#10368 [FEATURE] Déclencher le job "AnswerJob" lorsqu'un utilisateur répond à une question (PIX-13817)
  api/lib/domain/usecases/correct-answer-then-update-assessment.js
  api/lib/domain/usecases/index.js
  api/sample.env
  api/src/evaluation/application/answers/answer-controller.js
  api/src/evaluation/infrastructure/repositories/answer-job-repository.js
  api/src/shared/config.js
  api/tests/evaluation/unit/application/answers/answer-controller_test.js
  api/tests/evaluation/unit/infrastructure/repositories/answer-job-repository_test.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
  api/tests/unit/domain/usecases/correct-answer-then-update-assessment_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, team-prescription

#10374 [BUGFIX] Ajuster la grille des badges de la bannière de fin de parcours (PIX-14931).
  mon-pix/app/styles/pages/_evaluation-results.scss
Labels: :rocket: Ready to Merge, Func Review OK, team-evaluation

#10020 [FEATURE] Amélioration continue mdl adresse-ip-publique-et-vous - dette MVP (MODC-5)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Labels: :rocket: Ready to Merge, contribution-modulix

#10342 [FEATURE] Convertir les sessions et les centres de certification à la version 3 (PIX-14429).
  api/scripts/certification/next-gen/convert-all-centers-to-v3.js
  api/src/certification/configuration/domain/usecases/convert-centers-to-v3.js
  api/src/certification/configuration/domain/usecases/convert-sessions-with-no-courses-to-v3.js
  api/src/certification/configuration/infrastructure/repositories/center-repository.js
  api/src/certification/configuration/infrastructure/repositories/sessions-repository.js
  api/tests/certification/configuration/integration/infrastructure/repositories/center-repository_test.js
  api/tests/certification/configuration/integration/infrastructure/repositories/sessions-repository_test.js
  api/tests/certification/configuration/unit/domain/usecases/convert-centers-to-v3_test.js
  api/tests/certification/configuration/unit/domain/usecases/convert-sessions-with-no-courses-to-v3_test.js
  api/tests/integration/scripts/certification/next-gen/convert-all-centers-to-v3_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, team-captains

#10377 [FEATURE] Update attestation template PDF (PIX-13825)
  api/src/profile/infrastructure/serializers/pdf/templates/sixth-grade-attestation-template.pdf
  api/tests/profile/integration/infrastructure/serializers/pdf/expected-first.pdf
  api/tests/profile/integration/infrastructure/serializers/pdf/expected-pdf-with-form.pdf
  api/tests/profile/integration/infrastructure/serializers/pdf/expected-second.pdf
  api/tests/profile/integration/infrastructure/serializers/pdf/pdf-with-form-serializer_test.js
  api/tests/profile/integration/infrastructure/serializers/pdf/template.pdf
Labels: Tech Review OK, team-evaluation

#10355 [FEATURE] Ajouter un nouveau composant formulaire de demande de réinitialisation de mot de passe (PIX-14111)
  api/src/identity-access-management/application/password/password.controller.js
  api/src/identity-access-management/application/password/password.route.js
  api/tests/identity-access-management/acceptance/application/password/password.route.test.js
  api/tests/identity-access-management/integration/application/password/password.controller.test.js
  api/tests/identity-access-management/unit/application/password/password.controller.test.js
  mon-pix/app/components/authentication/password-reset-demand-form.gjs
  mon-pix/app/components/authentication/password-reset-demand.scss
  mon-pix/app/components/form-textfield.hbs
  mon-pix/app/components/form-textfield.js
  mon-pix/app/controllers/password-reset-demand.js
  mon-pix/app/styles/app.scss
  mon-pix/app/templates/password-reset-demand.hbs
  mon-pix/tests/acceptance/password-reset-demand-form-test.js
  mon-pix/tests/integration/components/authentication/password-reset-demand-form-test.gjs
  mon-pix/tests/integration/components/password-reset-demand-form-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10365 [FEATURE] Tagguer les certif Pix+ seules en V2 (PIX-14714)
  api/db/database-builder/factory/build-certification-course.js
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/usecases/retrieve-last-or-create-certification-course.js
  api/src/certification/enrolment/domain/models/SessionEnrolment.js
  api/src/certification/enrolment/domain/usecases/create-session.js
  api/src/certification/enrolment/domain/usecases/create-sessions.js
  api/src/certification/enrolment/domain/usecases/verify-candidate-identity.js
  api/src/certification/enrolment/domain/usecases/verify-candidate-subscriptions.js
  api/src/certification/scoring/application/jobs/certification-completed-job-controller.js
  api/src/certification/session-management/domain/models/CertificationAssessment.js
  api/src/certification/session-management/domain/models/SessionManagement.js
  api/src/certification/session-management/domain/usecases/get-certification-details.js
  api/src/certification/shared/domain/models/AlgorithmEngineVersion.js
  api/src/certification/shared/domain/models/CertificationCourse.js
  api/src/certification/shared/domain/models/CertificationVersion.js
  api/src/certification/shared/domain/models/SessionVersion.js
  api/src/certification/shared/domain/services/scoring-certification-service.js
  api/src/certification/shared/domain/validators/session-validator.js
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/domain/models/CertificationCandidate.js
  api/src/shared/domain/services/placement-profile-service.js
  api/tests/acceptance/application/certification-courses/certification-course-controller_test.js
  api/tests/certification/enrolment/acceptance/application/session-route_test.js
  api/tests/certification/enrolment/unit/domain/usecases/create-sessions_test.js
  api/tests/certification/enrolment/unit/domain/usecases/verify-candidate-identity_test.js
  api/tests/certification/enrolment/unit/domain/usecases/verify-candidate-subscriptions_test.js
  api/tests/certification/evaluation/unit/domain/usecases/get-next-challenge_test.js
  api/tests/certification/results/integration/infrastructure/repositories/certification-version-repository_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/session-for-supervising-repository_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-challenge-repository_test.js
  api/tests/certification/shared/unit/domain/models/CertificationCourse_test.js
  api/tests/certification/shared/unit/domain/services/scoring-certification-service_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get-next-challenge-for-certification_test.js
  api/tests/tooling/domain-builder/factory/build-certification-course.js
  api/tests/tooling/domain-builder/factory/build-jury-certification.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
  api/tests/unit/domain/models/CertificationCandidate_test.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10378 [BUGFIX] Ne pas retourner une erreur 500 lors de la vérification de l'éligibilité d'un utilisateur sans badges (PIX-14764).
  api/src/certification/enrolment/domain/usecases/verify-candidate-subscriptions.js
  api/tests/certification/enrolment/unit/domain/usecases/verify-candidate-subscriptions_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10376 [BUGFIX] Corriger la taille des boutons sur les Flashcards (PIX-14955)
  mon-pix/app/styles/components/module/_flashcards.scss
Labels: :rocket: Ready to Merge, team-devcomp

#10381 [TECH] Ajouter un index manquant sur la table supervisor-accesses
  api/db/migrations/20241022082432_add_index_on_table_supervisor_accesses.js
Labels: :rocket: Ready to Merge, team-captains

#10379 [BUGFIX] Rafraîchir la page lorsque le candidat clique sur le bouton lors d'un signalement en certification (PIX-14959).
  mon-pix/app/components/assessments/live-alert.gjs
  mon-pix/app/components/feedback-panel-v3.hbs
  mon-pix/app/templates/assessments/challenge.hbs
  mon-pix/tests/integration/components/assessments/live-alert-test.gjs
  mon-pix/tests/unit/components/assessments/live-alert-test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#10383 [FEATURE] Mise à jour du wording des écrans d'instruction (PIX-14884)
  mon-pix/app/components/certification-instructions/step-five.gjs
  mon-pix/app/components/certification-instructions/step-five.hbs
  mon-pix/app/components/certification-instructions/step-five.js
  mon-pix/app/components/certification-instructions/step-four.gjs
  mon-pix/app/components/certification-instructions/step-four.hbs
  mon-pix/app/components/certification-instructions/step-one.gjs
  mon-pix/app/components/certification-instructions/step-one.hbs
  mon-pix/app/components/certification-instructions/step-three.gjs
  mon-pix/app/components/certification-instructions/step-three.hbs
  mon-pix/app/components/certification-instructions/step-two.gjs
  mon-pix/app/components/certification-instructions/step-two.hbs
  mon-pix/app/components/certification-instructions/steps.gjs
  mon-pix/app/components/certification-instructions/steps.hbs
  mon-pix/app/components/certification-instructions/steps.js
  mon-pix/app/styles/pages/_certification-instructions.scss
  mon-pix/tests/integration/components/steps-test.gjs
  mon-pix/tests/integration/components/steps-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#10354 [FEATURE] Enregistrer l'auto-évaluation de l'utilisateur dans Matomo (PIX-14313)
  mon-pix/app/components/module/element.gjs
  mon-pix/app/components/module/element/flashcards/flashcards.gjs
  mon-pix/app/components/module/grain.gjs
  mon-pix/app/components/module/passage.gjs
  mon-pix/tests/integration/components/module/flashcards_test.gjs
  mon-pix/tests/integration/components/module/passage_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#10387 [BUGFIX] N'afficher que les RT non-acquis qui sont en lacune (PIX-14969).
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/rewards/index.gjs
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/rewards/rewards-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#10352 [FEATURE] Ajout d'une route pour récupérer les infos de début de parcours (PIX-14813).
  api/src/prescription/campaign/application/campaign-controller.js
  api/src/prescription/campaign/application/campaign-route.js
  api/src/prescription/campaign/domain/usecases/get-presentation-steps.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/presentation-steps-serializer.js
  api/src/prescription/shared/domain/types/identifiers-type.js
  api/tests/prescription/campaign/acceptance/application/campaign-route_test.js
  api/tests/prescription/campaign/integration/domain/usecases/get-presentation-steps_test.js
  api/tests/prescription/campaign/unit/application/campaign-controller_test.js
  api/tests/prescription/campaign/unit/domain/usecases/get-presentation-steps_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/jsonapi/presentation-steps-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#10364 [FEATURE]: Afficher l'onglet Formations au clic sur "Voir les formations" de la bannière (PIX-14803).
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-hero/index.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/index.gjs
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results.gjs
  mon-pix/app/components/tabs/index.gjs
  mon-pix/app/services/tab-manager.js
  mon-pix/tests/integration/components/routes/campaigns/assessment/evaluation-results-test.js
  mon-pix/tests/unit/services/tab-manager-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#10385 [TECH] Ajout d'une instruction comment dans le template de migration BDD
  api/db/template.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#10402 [FEATURE] Afficher la bonne réception de demande de réinitialisation de mot de passe (PIX-14112)
  mon-pix/app/components/authentication/password-reset-demand-form.gjs
  mon-pix/app/components/authentication/password-reset-demand.scss
  mon-pix/public/images/mail.svg
  mon-pix/tests/integration/components/authentication/password-reset-demand-form-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Design Review OK

#10400 [TECH] Suppression temporaire des habilitations aux complementaires sauf CLEA (PIX-14881).
  api/scripts/certification/next-gen/remove-not-clea-centers-habilitations.js
  api/src/certification/configuration/domain/usecases/index.js
  api/src/certification/configuration/domain/usecases/remove-center-habilitations-except-clea.js
  api/src/certification/configuration/infrastructure/repositories/habilitation-repository.js
  api/tests/certification/configuration/integration/infrastructure/repositories/habilitation-repository_test.js
  api/tests/integration/scripts/certification/next-gen/remove-not-clea-centers-habilitations_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10403 [BUGFIX] Gérer une épreuve qui est périmée en cours de test de certification (PIX-14819).
  api/src/certification/evaluation/domain/usecases/get-next-challenge.js
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithmChallengesBetweenCompetencesRule.js
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithmNonAnsweredSkillsRule.js
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/tests/certification/evaluation/unit/domain/usecases/get-next-challenge_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10288 [TECH] Utiliser la date de reconciliation dans le scoring (PIX-14540).
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/index.js
  api/src/certification/evaluation/application/jobs/certification-completed-job-controller.js
  api/src/certification/evaluation/domain/models/Candidate.js
  api/src/certification/evaluation/domain/services/index.js
  api/src/certification/evaluation/domain/services/scoring/scoring-v2.js
  api/src/certification/evaluation/domain/services/scoring/scoring-v3.js
  api/src/certification/evaluation/domain/usecases/index.js
  api/src/certification/evaluation/infrastructure/repositories/certification-assessment-history-repository.js
  api/src/certification/evaluation/infrastructure/repositories/certification-candidate-repository.js
  api/src/certification/evaluation/infrastructure/repositories/certification-challenge-for-scoring-repository.js
  api/src/certification/scoring/domain/services/scoring-degradation-service.js
  api/src/certification/scoring/domain/usecases/index.js
  api/src/certification/session-management/domain/read-models/CertificationDetails.js
  api/src/certification/session-management/domain/usecases/get-certification-details.js
  api/src/certification/session-management/domain/usecases/index.js
  api/src/certification/shared/domain/models/CompetenceForScoring.js
  api/src/certification/shared/domain/models/V3CertificationScoring.js
  api/src/certification/shared/domain/services/scoring-certification-service.js
  api/src/certification/shared/infrastructure/repositories/scoring-configuration-repository.js
  api/tests/certification/evaluation/integration/evaluation/jobs/certification-completed-job-controller_test.js
  api/tests/certification/evaluation/integration/infrastructure/repositories/certification-assessment-history-repository_test.js
  api/tests/certification/evaluation/integration/infrastructure/repositories/certification-candidate-repository_test.js
  api/tests/certification/evaluation/integration/infrastructure/repositories/certification-challenge-for-scoring-repository_test.js
  api/tests/certification/evaluation/unit/application/jobs/certification-completed-job-controller_test.js
  api/tests/certification/evaluation/unit/domain/models/Candidate_test.js
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v2_test.js
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v3_test.js
  api/tests/certification/scoring/integration/application/services/scoring-degradation-service_test.js
  api/tests/certification/session-management/acceptance/application/certification-details-route_test.js
  api/tests/certification/session-management/unit/domain/read-models/CertificationDetails_test.js
  api/tests/certification/session-management/unit/domain/usecases/get-certification-details_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/scoring-configuration-repository_test.js
  api/tests/certification/shared/unit/domain/models/CompetenceForScoring_test.js
  api/tests/certification/shared/unit/domain/models/V3CertificationScoring_test.js
  api/tests/certification/shared/unit/domain/services/scoring-certification-service_test.js
  api/tests/tooling/domain-builder/factory/certification/evaluation/build-candidate.js
  api/tests/tooling/domain-builder/factory/certification/shared/build-competence-for-scoring.js
  api/tests/tooling/domain-builder/factory/certification/shared/build-v3-certification-scoring.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10373 [BUGFIX] Cacher la tooltip lorsque le palier ne contient pas de description (PIX-14756)
  orga/app/components/ui/mastery-percentage-display.gjs
  orga/app/components/ui/mastery-percentage-display.hbs
  orga/app/components/ui/mastery-percentage-display.js
  orga/app/styles/components/ui/mastery-percentage-display.scss
  orga/tests/integration/components/ui/mastery-percentage-display_test.gjs
Labels: Tech Review OK, Func Review OK, team-prescription

#10380 [FEATURE] Ajoute une page de loader avant les résultats de fin de parcours (PIX-14944).
  high-level-tests/e2e/cypress/integration/pix-app/campaign-assessment.feature
  mon-pix/app/components/pages/campaigns/results-loader.gjs
  mon-pix/app/components/pages/campaigns/results-loader.scss
  mon-pix/app/models/campaign-participation-badge.js
  mon-pix/app/models/campaign-participation-result.js
  mon-pix/app/models/campaign-participation.js
  mon-pix/app/models/competence-result.js
  mon-pix/app/router.js
  mon-pix/app/routes/assessments/resume.js
  mon-pix/app/routes/campaigns/access.js
  mon-pix/app/routes/campaigns/assessment.js
  mon-pix/app/routes/campaigns/assessment/skill-review.js
  mon-pix/app/routes/campaigns/entrance.js
  mon-pix/app/routes/campaigns/entry-point.js
  mon-pix/app/routes/campaigns/profiles-collection.js
  mon-pix/app/routes/campaigns/results-loader.js
  mon-pix/app/styles/app.scss
  mon-pix/app/templates/campaigns/results-loader.hbs
  mon-pix/public/images/illustrations/score-computation.svg
  mon-pix/tests/acceptance/resume-campaigns-with-type-assessment-test.js
  mon-pix/tests/acceptance/skill-review-test.js
  mon-pix/tests/integration/components/pages/campaigns/results-loader-test.gjs
  mon-pix/tests/unit/routes/assessments/resume-test.js
  mon-pix/tests/unit/routes/campaigns/assessment/skill-review-test.js
  mon-pix/tests/unit/routes/campaigns/entry-point-test.js
  mon-pix/tests/unit/routes/campaigns/results-loader-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription, Design Review OK

#10397 [DOC] ADR 56: Standardisation de l'exécution des scripts
  docs/adr/0056-standardisation-des-scripts-nodejs.md
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#10410 [FEATURE] Modification des roles de la page de reset de password (PIX-14114)
  mon-pix/app/components/authentication/password-reset-demand-form.gjs
  mon-pix/app/components/authentication/password-reset-form/password-reset-form.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#10401 [FEATURE] Générer un test de certification v2 avec des questions du référentiel Pix+ seul (PIX-14715)
  api/lib/domain/usecases/retrieve-last-or-create-certification-course.js
  api/src/certification/evaluation/domain/services/scoring/scoring-v2.js
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v2_test.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10405 [FEATURE] Afficher la carte de conclusion des flashcards et gérer le score (PIX-14312)
  mon-pix/app/components/module/element/flashcards/flashcards-outro-card.gjs
  mon-pix/app/components/module/element/flashcards/flashcards.gjs
  mon-pix/app/styles/components/module/_flashcards-card.scss
  mon-pix/public/images/modulix/flashcards-outro-image.svg
  mon-pix/tests/integration/components/module/flashcards-card_test.gjs
  mon-pix/tests/integration/components/module/flashcards-intro-card_test.gjs
  mon-pix/tests/integration/components/module/flashcards-outro-card_test.gjs
  mon-pix/tests/integration/components/module/flashcards_test.gjs
  mon-pix/tests/integration/components/module/passage_test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-devcomp

#10412 [FEATURE] Afficher les flashcards à plat dans la preview (PIX-14316)
  mon-pix/app/components/module/element/flashcards/flashcards.gjs
  mon-pix/app/styles/components/module/_flashcards.scss
  mon-pix/tests/integration/components/module/flashcards_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#10394 [TECH] ♻️ migration de la route `/api/admin/target-profile/{id}` (Pix-14968)
  api/lib/application/target-profiles/index.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/domain/usecases/get-target-profile-for-admin.js
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/update-target-profile.js
  api/scripts/prod/target-profile-migrations/migrate-stages-to-level.js
  api/scripts/prod/target-profile-migrations/revert-stages-to-threshold.js
  api/src/evaluation/domain/usecases/create-or-update-stage-collection.js
  api/src/evaluation/domain/usecases/index.js
  api/src/evaluation/domain/usecases/save-autonomous-course.js
  api/src/evaluation/domain/usecases/update-stage.js
  api/src/prescription/target-profile/application/admin-target-profile-controller.js
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/src/prescription/target-profile/application/api/target-profile-api.js
  api/src/prescription/target-profile/domain/models/TargetProfileForAdmin.js
  api/src/prescription/target-profile/domain/usecases/get-learning-content-by-target-profile.js
  api/src/prescription/target-profile/domain/usecases/get-target-profile-content-as-json.js
  api/src/prescription/target-profile/domain/usecases/get-target-profile-for-admin.js
  api/src/prescription/target-profile/domain/usecases/index.js
  api/src/prescription/target-profile/infrastructure/repositories/target-profile-administration-repository.js
  api/src/prescription/target-profile/infrastructure/serializers/jsonapi/target-profile-for-admin-serializer.js
  api/src/shared/domain/models/index.js
  api/src/shared/infrastructure/repositories/target-profile-for-admin-repository.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/evaluation/unit/domain/usecases/save-autonomous-course_test.js
  api/tests/evaluation/unit/domain/usecases/update-stage_test.js
  api/tests/prescription/target-profile/acceptance/application/admin-target-profile-route_test.js
  api/tests/prescription/target-profile/integration/domain/models/TargetProfileForAdmin_test.js
  api/tests/prescription/target-profile/integration/infrastructure/repositories/target-profile-administration-repository_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profile-controller_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profiles-route_test.js
  api/tests/prescription/target-profile/unit/application/api/target-profile-api_test.js
  api/tests/prescription/target-profile/unit/domain/usecases/get-learning-content-by-target-profile_test.js
  api/tests/prescription/target-profile/unit/domain/usecases/get-target-profile-content-as-json_test.js
  api/tests/prescription/target-profile/unit/domain/usecases/get-target-profile-for-admin_test.js
  api/tests/prescription/target-profile/unit/infrastructure/serializers/jsonapi/target-profile-for-admin-serializer_test.js
  api/tests/shared/integration/infrastructure/repositories/target-profile-for-admin-repository_test.js
  api/tests/tooling/domain-builder/factory/build-target-profile-for-admin.js
  api/tests/unit/application/target-profiles/index_test.js
  api/tests/unit/application/target-profiles/target-profile-controller_test.js
  api/tests/unit/domain/usecases/create-or-update-stage-collection_test.js
  api/tests/unit/domain/usecases/get-target-profile-for-admin_test.js
  api/tests/unit/domain/usecases/update-target-profile_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#10415 [TECH] Insérer l'acquisition du palier zéro en base lors du seed d'une campagne (PIX-15037)
  api/db/seeds/data/common/tooling/campaign-tooling.js
Labels: :eyes: Tech Review Needed, team-evaluation

#10389 [TECH] Migration du endpoint /api/users/{userId}/campaigns/{campaignId}/profile dans src (Pix-14707)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/src/prescription/campaign-participation/application/learner-participation-controller.js
  api/src/prescription/campaign-participation/application/learner-participation-route.js
  api/src/prescription/campaign-participation/domain/usecases/get-shared-campaign-participation-profile.js
  api/src/prescription/campaign-participation/domain/usecases/index.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/campaign-participation/infrastructure/serializers/jsonapi/shared-profile-for-campaign-serializer.js
  api/tests/acceptance/application/users/users-get-shared-profile-for-campaign_test.js
  api/tests/integration/application/users/user-controller_test.js
  api/tests/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/prescription/campaign-participation/acceptance/application/learner-participation-route_test.js
  api/tests/prescription/campaign-participation/integration/application/learner-participation-controller_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/prescription/campaign-participation/unit/application/learner-participation-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/learner-participation-route_test.js
  api/tests/prescription/campaign-participation/unit/domain/usecases/get-user-profile-shared-for-campaign_test.js
  api/tests/prescription/campaign-participation/unit/infrastructure/serializers/jsonapi/shared-profile-for-campaign-serializer_test.js
  api/tests/unit/application/users/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#10416 [FEATURE] Ajouter une validation sur les emails saisies en identifiant externe lorsque ce champ est défini comme email (Pix-13814)
  api/db/seeds/data/common/tooling/campaign-tooling.js
  api/db/seeds/data/team-prescription/build-campaigns.js
  api/src/prescription/campaign-participation/domain/models/CampaignParticipant.js
  api/src/prescription/campaign/domain/models/CampaignForCreation.js
  api/src/prescription/campaign/domain/validators/campaign-creation-validator.js
  api/src/shared/domain/services/email-validation-service.js
  api/src/shared/infrastructure/serializers/csv/csv-serializer.js
  api/tests/prescription/campaign-participation/unit/domain/models/CampaignParticipant_test.js
  api/tests/prescription/campaign/integration/domain/usecases/create-campaign_test.js
  api/tests/prescription/campaign/unit/domain/models/CampaignForCreation_test.js
  api/tests/shared/unit/domain/services/email-validation-service_test.js
  api/tests/shared/unit/infrastructure/serializers/csv/csv-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-to-start-participation.js
  mon-pix/app/components/routes/campaigns/invited/fill-in-participant-external-id.hbs
  mon-pix/app/components/routes/campaigns/invited/fill-in-participant-external-id.js
  mon-pix/app/models/campaign.js
  mon-pix/app/routes/campaigns/entrance.js
  mon-pix/app/styles/pages/_fill-in-participant-external-id.scss
  mon-pix/mirage/factories/campaign.js
  mon-pix/mirage/routes/campaign-participations/post-campaign-participation.js
  mon-pix/tests/acceptance/start-campaigns-with-type-assessment-test.js
  mon-pix/tests/acceptance/start-campaigns-with-type-profiles-collection-test.js
  mon-pix/tests/acceptance/start-campaigns-workflow-test.js
  mon-pix/tests/helpers/campaign.js
  mon-pix/tests/integration/components/routes/campaigns/invited/fill-in-participant-external-id-test.js
  mon-pix/tests/unit/routes/campaigns/entrance-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
  orga/app/components/campaign/create-form.gjs
  orga/app/routes/authenticated/campaigns/new.js
  orga/app/services/error-messages.js
  orga/tests/integration/components/campaign/create-form-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10371 [TECH] Migrer la route FT qui permet de récupérer les participations aux campagnes FT (PIX-14942)
  api/lib/domain/events/index.js
  api/lib/domain/usecases/index.js
  api/lib/routes.js
  api/scripts/prod/insert-missing-pole-emploi-sending-from-date.js
  api/src/prescription/campaign-participation/application/pole-emploi-controller.js
  api/src/prescription/campaign-participation/application/pole-emploi-route.js
  api/src/prescription/campaign-participation/domain/services/pole-emploi-service.js
  api/src/prescription/campaign-participation/domain/usecases/get-pole-emploi-sendings.js
  api/src/prescription/campaign-participation/domain/usecases/index.js
  api/src/prescription/campaign-participation/infrastructure/repositories/pole-emploi-sending-repository.js
  api/src/prescription/campaign-participation/routes.js
  api/tests/prescription/campaign-participation/acceptance/application/pole-emploi-controller_test.js
  api/tests/prescription/campaign-participation/acceptance/application/pole-emploi-route_test.js
  api/tests/prescription/campaign-participation/integration/domain/usecases/get-pole-emploi-sendings_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/pole-emploi-sending-repository_test.js
  api/tests/prescription/campaign-participation/unit/application/pole-emploi-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/pole-emploi-route_test.js
  api/tests/prescription/campaign-participation/unit/domain/services/pole-emploi-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#10417 [FEATURE] Afficher la consigne au-dessus des Flashcards (PIX-15035)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/flashcards-schema.js
  mon-pix/app/components/module/element/flashcards/flashcards.gjs
  mon-pix/app/styles/components/module/_flashcards.scss
  mon-pix/tests/integration/components/module/flashcards_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#10413 [BUGFIX] Rendre plus résistant le changement de mot de passe d'un utilisateur côté API, pour ne plus renvoyer d’erreur 500 (PIX-14971)
  api/db/database-builder/factory/build-reset-password-demand.js
  api/src/identity-access-management/domain/services/reset-password.service.js
  api/src/identity-access-management/domain/usecases/update-user-password.usecase.js
  api/src/identity-access-management/infrastructure/repositories/reset-password-demand.repository.js
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/tests/identity-access-management/integration/infrastructure/repositories/reset-password-demand.repository.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user.repository.test.js
  api/tests/identity-access-management/unit/domain/services/reset-password.service.test.js
  api/tests/identity-access-management/unit/domain/usecases/update-user-password.usecase.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#10407 [TECH] Forcer le HTTPS sur les environnements non dev
  admin/servers.conf.erb
  api/server.js
  certif/servers.conf.erb
  junior/servers.conf.erb
  mon-pix/servers.conf.erb
  orga/servers.conf.erb
  servers.conf.erb
Labels: :rocket: Ready to Merge, team-captains

#10273 [TECH] Standardisation des scripts nodejs
  api/package-lock.json
  api/package.json
  api/scripts/add-or-update-certification-centers-dpo-infos.js
  api/src/organizational-entities/scripts/add-or-update-certification-centers-dpo-info.js
  api/src/shared/application/scripts/parsers.js
  api/src/shared/application/scripts/script-runner.js
  api/src/shared/application/scripts/script.js
  api/tests/shared/unit/application/scripts/files/invalid.csv
  api/tests/shared/unit/application/scripts/files/valid.csv
  api/tests/shared/unit/application/scripts/parsers_test.js
  api/tests/shared/unit/application/scripts/script-runner_test.js
  api/tests/shared/unit/application/scripts/script_test.js
  docs/adr/0056-standardisation-des-scripts-nodejs.md
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, cross-team

#10438 [FEATURE] Unifier les dossiers module/modulix dans l'appli (PIX-15028)
  mon-pix/app/components/module/element/qcm.gjs
  mon-pix/app/components/module/element/qcu.gjs
  mon-pix/app/components/module/element/qrocm.gjs
  mon-pix/app/components/module/feedback.gjs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/module/_feedback.scss
Labels: :rocket: Ready to Merge, team-devcomp

#10430 [FEATURE] - Traductions manquantes NL et ES Pix App (PIX-14193)
  mon-pix/translations/es.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-certif

#10431 [FEATURE] Séparer les schémas d'éléments acceptés dans le stepper par rapport au component element (PIX-15063)
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-schema.js
Labels: :rocket: Ready to Merge, team-devcomp

#10434 [FEATURE] Mettre fichiers SCSS dans le même dossier que son composant (PIX-14945)
  mon-pix/app/components/module/_beta-banner.scss
  mon-pix/app/components/module/_details.scss
  mon-pix/app/components/module/_feedback.scss
  mon-pix/app/components/module/_grain.scss
  mon-pix/app/components/module/_objectives.scss
  mon-pix/app/components/module/_passage.scss
  mon-pix/app/components/module/_recap.scss
  mon-pix/app/components/module/_stepper.scss
  mon-pix/app/components/module/element/_download.scss
  mon-pix/app/components/module/element/_embed.scss
  mon-pix/app/components/module/element/_image.scss
  mon-pix/app/components/module/element/_qcm.scss
  mon-pix/app/components/module/element/_qcu.scss
  mon-pix/app/components/module/element/_qrocm.scss
  mon-pix/app/components/module/element/_separator.scss
  mon-pix/app/components/module/element/_video.scss
  mon-pix/app/components/module/element/flashcards/_flashcards-card.scss
  mon-pix/app/components/module/element/flashcards/_flashcards.scss
  mon-pix/app/components/module/grain/_tag.scss
  mon-pix/app/styles/app.scss
Labels: :rocket: Ready to Merge, team-devcomp

#10429 [TECH] Rattrapage des dates de reconciliation (PIX-15026).
  api/db/migrations/20240924091540_add-reconciliation-date-to-former-candidates.js
  api/scripts/certification/finishing-reconciled-at-migration.js
  api/src/certification/configuration/domain/models/Candidate.js
  api/src/certification/configuration/domain/usecases/catching-up-candidate-reconciliation.js
  api/src/certification/configuration/domain/usecases/index.js
  api/src/certification/configuration/infrastructure/repositories/candidate-repository.js
  api/tests/certification/configuration/integration/infrastructure/repositories/candidate-repository_test.js
  api/tests/integration/scripts/certification/finishing-reconciled-at-migration_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10424 [TECH] Montée de version de Pix UI sur Certif (PIX-15059).
  certif/app/components/dropdown/icon-trigger.hbs
  certif/app/components/import/file-import-block.hbs
  certif/app/components/import/step-two-section.hbs
  certif/app/components/issue-report-modal/issue-reports-modal.hbs
  certif/app/components/language-switcher.gjs
  certif/app/components/members-list-item.hbs
  certif/app/components/session-supervising/candidate-in-list.hbs
  certif/app/components/session-supervising/candidate-list.hbs
  certif/app/components/sessions/session-details/enrolled-candidates/index.gjs
  certif/app/components/sessions/session-list-row.gjs
  certif/app/components/team/invitations-list-item.hbs
  certif/app/components/user-logged-menu.hbs
  certif/app/styles/pages/authenticated/sessions/details/certification-candidates.scss
  certif/app/styles/pages/authenticated/sessions/import.scss
  certif/app/templates/authenticated/sessions/details/parameters.hbs
  certif/config/icons.js
  certif/package-lock.json
  certif/package.json
  certif/tests/acceptance/routes/authenticated/sessions/import-test.js
  certif/tests/acceptance/session-supervising-test.js
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/index-test.gjs
Labels: :rocket: Ready to Merge, team-certif

#10408 [FEATURE] Afficher une icône de progression pour les 2 dernières participations d'un prescrit à une campagne d'évaluation sur Pix Orga (PIX-14808)
  api/db/seeds/data/team-prescription/build-campaigns.js
  api/db/seeds/data/team-prescription/build-organization-learners-with-multiple-participations.js
  api/db/seeds/data/team-prescription/constants.js
  api/db/seeds/data/team-prescription/data-builder.js
  orga/app/components/campaign/results/assessment-list.gjs
  orga/app/components/campaign/results/assessment-row.gjs
  orga/app/components/campaign/results/participation-evolution-icon.gjs
  orga/app/components/ui/tooltip-with-icon.gjs
  orga/app/models/campaign-assessment-result-minimal.js
  orga/app/styles/components/campaign/index.scss
  orga/app/styles/components/campaign/results/assessment-list.scss
  orga/app/styles/components/ui/index.scss
  orga/app/styles/components/ui/tooltip-with-icon.scss
  orga/app/templates/authenticated/campaigns/campaign/assessment-results.hbs
  orga/tests/integration/components/campaign/results/assessment-list-test.js
  orga/tests/integration/components/campaign/results/assessment-row-test.js
  orga/tests/integration/components/campaign/results/participation-evolution-icon-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10436 [BUGFIX] Corriger le lien de renvoi d'email dans la page de réinitialisation de mot de passe (PIX-15060)
  mon-pix/app/components/authentication/password-reset-demand/password-reset-demand-form.gjs
  mon-pix/app/components/authentication/password-reset-demand/password-reset-demand-received-info.gjs
  mon-pix/app/components/authentication/password-reset-demand/password-reset-demand.scss
  mon-pix/app/styles/app.scss
  mon-pix/app/templates/password-reset-demand.hbs
  mon-pix/tests/integration/components/authentication/password-reset-demand/password-reset-demand-form-test.gjs
  mon-pix/tests/integration/components/authentication/password-reset-demand/password-reset-demand-received-info-test.gjs
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10449 [BUGFIX].Rendre réactif le partage de résultat depuis l'onglet formations (PIX-15069)
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/index.gjs
  mon-pix/app/components/campaigns/assessment/skill-review/evaluation-results-tabs/trainings.gjs
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results.gjs
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/evaluation-results-tabs-test.js
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/tabs/badge-test.js
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/tabs/rewards-test.js
  mon-pix/tests/integration/components/campaigns/assessment/skill-review/tabs/trainings-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#10448 [BUGFIX] Resoudre le souci de crash de la page de fin de parcours (PIX-15093).
  mon-pix/app/routes/assessments/resume.js
Labels: :eyes: Tech Review Needed, team-evaluation

#10444 [TECH] Lancer la CI des PRs au statut draft
  .github/workflows/trigger-ci.yaml
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, no-review-app, team-devcomp

#10447 [TECH] Documenter la variable d'env `SEEDS_CONTEXT`
  api/db/seeds/seed.js
  api/sample.env
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, no-review-app

#10435 [FEATURE] Ajustements sur les mires d'inscription/connexion (pix-15056)
  mon-pix/app/components/authentication-layout/header.gjs
  mon-pix/app/components/authentication-layout/index.scss
  mon-pix/app/components/language-switcher.hbs
  mon-pix/app/services/url.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/language-switcher.scss
  mon-pix/public/images/illustrations/authentication.svg
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10452 [FEATURE] Modifier le ton et la voix des pages d'authentification (PIX-15062)
  mon-pix/app/components/authentication/other-authentication-providers.gjs
  mon-pix/app/components/authentication/signup-form/index.scss
  mon-pix/tests/integration/components/authentication/other-authentication-providers-test.gjs
  mon-pix/tests/integration/components/authentication/signin-form-test.gjs
  mon-pix/tests/integration/components/authentication/signup-form/index-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK
