Repository 1024pix/pix, pull requests merged in 2024-06, with the labels that each got.

#9081 [FEATURE] Permettre la vocalisation des consignes des épreuves (PIX-11050).
  api/lib/infrastructure/validate-environment-variables.js
  api/sample.env
  api/src/shared/config.js
  api/tests/acceptance/application/feature-toggles/feature-toggle-controller_test.js
  mon-pix/app/components/assessment-banner.hbs
  mon-pix/app/components/assessment-banner.js
  mon-pix/app/components/challenge-statement.hbs
  mon-pix/app/components/challenge-statement.js
  mon-pix/app/components/challenge/item.hbs
  mon-pix/app/components/routes/campaigns/assessment/skill-review.hbs
  mon-pix/app/controllers/assessments/challenge.js
  mon-pix/app/models/feature-toggle.js
  mon-pix/app/styles/components/_assessment-banner.scss
  mon-pix/app/styles/components/_challenge-statement.scss
  mon-pix/app/templates/assessments/challenge.hbs
  mon-pix/app/templates/assessments/checkpoint.hbs
  mon-pix/app/templates/assessments/results.hbs
  mon-pix/config/icons.js
  mon-pix/tests/acceptance/challenge-page-banner_test.js
  mon-pix/tests/integration/components/assessment-banner_test.js
  mon-pix/tests/integration/components/challenge-statement_test.js
  mon-pix/tests/unit/services/feature-toggles_test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#9115 [TECH] Migrer la route POST /api/admin/oidc/user/reconcile vers src/identity-access-management (PIX-12661)
  api/lib/application/authentication/oidc/index.js
  api/lib/application/authentication/oidc/oidc-controller.js
  api/lib/routes.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.admin.controller.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.admin.route.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/identity-access-management/domain/usecases/reconcile-oidc-user-for-admin.usecase.js
  api/tests/acceptance/application/authentication/oidc/reconcile-route-admin-post_test.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.admin.route.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.admin.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/reconcile-oidc-user-for-admin.usecase.test.js
  api/tests/unit/application/authentication/oidc/oidc-controller_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#9079 [TECH] Migration de prescriber-management de src/shared vers src/team (PIX-12697)
  api/lib/domain/usecases/index.js
  api/server.js
  api/src/shared/prescriber-management/application/prescriber-informations-route.js
  api/src/shared/prescriber-management/domain/usecases/index.js
  api/src/shared/prescriber-management/routes.js
  api/src/team/application/prescriber-informations.controller.js
  api/src/team/application/prescriber-informations.route.js
  api/src/team/application/routes.js
  api/src/team/domain/read-models/Prescriber.js
  api/src/team/domain/usecases/get-prescriber.js
  api/src/team/domain/usecases/index.js
  api/src/team/infrastructure/repositories/prescriber-repository.js
  api/src/team/infrastructure/repositories/user-orga-settings-repository.js
  api/src/team/infrastructure/serializers/jsonapi/prescriber-serializer.js
  api/tests/shared/prescriber-management/unit/application/prescriber-informations-route_test.js
  api/tests/team/acceptance/application/prescriber-informations.controller.test.js
  api/tests/team/integration/application/prescriber-informations.controller.test.js
  api/tests/team/integration/application/prescriber-informations.route.test.js
  api/tests/team/integration/domain/usecases/get-prescriber_test.js
  api/tests/team/integration/infrastructure/repositories/prescriber-repository_test.js
  api/tests/team/integration/infrastructure/repositories/user-orga-settings-repository_test.js
  api/tests/team/unit/application/prescriber-informations.controller.test.js
  api/tests/team/unit/application/prescriber-informations.route.test.js
  api/tests/team/unit/domain/usecases/get-prescriber_test.js
  api/tests/team/unit/infrastructure/serializers/jsonapi/prescriber-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-prescriber.js
Labels: :rocket: Ready to Merge, team-acces

#9124 [BUGFIX] Echec du job sendSharedParticipationResults... (Pix-12762)
  api/src/prescription/campaign-participation/domain/usecases/index.js
  api/src/prescription/campaign-participation/infrastructure/externals/pole-emploi-notifier.js
  api/src/shared/config.js
  api/tests/acceptance/application/feature-toggles/feature-toggle-controller_test.js
  api/tests/unit/infrastructure/externals/pole-emploi/pole-emploi-notifier_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#9128 [TECH] Mise en place des composants `Element` & `Step` (PIX-12622)
  mon-pix/.eslintrc.cjs
  mon-pix/.prettierrc.json
  mon-pix/.template-lintrc.js
  mon-pix/app/components/module/element.gjs
  mon-pix/app/components/module/image.hbs
  mon-pix/app/components/module/image.js
  mon-pix/app/components/module/plyr-translation/player_fr.js
  mon-pix/app/components/module/qcm.hbs
  mon-pix/app/components/module/qcm.js
  mon-pix/app/components/module/qcu.hbs
  mon-pix/app/components/module/qcu.js
  mon-pix/app/components/module/qrocm.hbs
  mon-pix/app/components/module/qrocm.js
  mon-pix/app/components/module/step.gjs
  mon-pix/app/components/module/text.hbs
  mon-pix/app/components/module/video.hbs
  mon-pix/app/components/module/video.js
  mon-pix/app/pods/components/module/grain/template.hbs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/module/_image.scss
  mon-pix/app/styles/components/module/_qcm.scss
  mon-pix/app/styles/components/module/_qcu.scss
  mon-pix/app/styles/components/module/_qrocm.scss
  mon-pix/app/styles/components/module/_video.scss
  mon-pix/package-lock.json
  mon-pix/package.json
  mon-pix/testem.js
  mon-pix/tests/integration/components/module/element_test.gjs
  mon-pix/tests/integration/components/module/step_test.gjs
  mon-pix/tests/unit/components/module/element_test.gjs
  mon-pix/tests/unit/components/module/image_test.js
  mon-pix/tests/unit/components/module/qcu_test.js
  mon-pix/tests/unit/components/module/video_test.js
Labels: :rocket: Ready to Merge, cross-team, team-devcomp

#9133 [BUGFIX] Afficher la bonne langue dans le Language Switcher (PIX-10753)
  mon-pix/app/controllers/authentication/login.js
  mon-pix/app/controllers/inscription.js
Labels: :rocket: Ready to Merge, team-acces

#9076 [FEATURE] Ajouter l'import générique sur la page des participants d'une Organisation (Pix-12554)
  api/db/seeds/data/common/common-builder.js
  api/db/seeds/data/common/complementary-certification-builder.js
  api/db/seeds/data/common/constants.js
  api/db/seeds/data/common/organization-builder.js
  api/db/seeds/data/common/organization-learner-import-formats.js
  api/db/seeds/data/common/tooling/organization-tooling.js
  api/db/seeds/data/common/tooling/session-tooling.js
  api/db/seeds/data/team-1d/data-builder.js
  api/db/seeds/data/team-acces/build-archived-organizations.js
  api/db/seeds/data/team-acces/build-sco-organizations.js
  api/db/seeds/data/team-certification/create-competence-scoring-configuration.js
  api/db/seeds/data/team-certification/create-scoring-configuration.js
  api/db/seeds/data/team-certification/data-builder.js
  api/db/seeds/data/team-devcomp/build-campaigns.js
  api/db/seeds/data/team-evaluation/autonomous-courses/create-autonomous-courses.js
  api/db/seeds/data/team-prescription/build-campaigns.js
  api/db/seeds/data/team-prescription/build-organization-learner-import-formats.js
  api/db/seeds/data/team-prescription/build-place-lots.js
  api/db/seeds/data/team-prescription/constants.js
  api/db/seeds/data/team-prescription/data-builder.js
  api/db/seeds/seed.js
  api/src/organizational-entities/application/api/OrganizationFeaturesDTO.js
  api/src/organizational-entities/application/api/organization-features-api.js
  api/src/prescription/organization-learner/application/learner-list-controller.js
  api/src/prescription/organization-learner/application/learner-list-route.js
  api/src/prescription/organization-learner/domain/usecases/find-paginated-filtered-participants.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-participant-repository.js
  api/src/shared/application/security-pre-handlers.js
  api/tests/organizational-entities/unit/application/api/OrganizationFeaturesDTO_test.js
  api/tests/organizational-entities/unit/application/api/organization-features-api_test.js
  api/tests/prescription/organization-learner/integration/application/learner-list-route_test.js
  api/tests/prescription/organization-learner/integration/domain/usecases/find-paginated-filtered-participants_test.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-participant-repository_test.js
  api/tests/prescription/organization-learner/unit/application/learner-list-controller_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-paginated-filtered-participants_test.js
  api/tests/shared/integration/application/security-pre-handlers_test.js
  orga/app/adapters/organization-learners-import.js
  orga/app/components/organization-participant/header.gjs
  orga/app/components/organization-participant/header.hbs
  orga/app/components/organization-participant/list.js
  orga/app/components/organization-participant/table-row.hbs
  orga/app/components/sco-organization-participant/add.gjs
  orga/app/components/sco-organization-participant/header-actions.hbs
  orga/app/components/sup-organization-participant/header-actions.hbs
  orga/app/controllers/authenticated/import-organization-participants.js
  orga/tests/acceptance/import-organization-participants_test.js
  orga/tests/integration/components/import_test.js
  orga/tests/integration/components/organization-participant/header_test.js
  orga/tests/integration/components/organization-participant/list_test.js
  orga/tests/integration/components/sco-organization-participant/header-actions_test.js
  orga/tests/integration/components/sup-organization-participant/header-actions_test.js
  orga/tests/unit/adapters/organization-learners-import_test.js
  orga/tests/unit/controllers/authenticated/import-organization-participants_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9136 [BUGFIX] Gérer le cas où le paramètre tubes est vide à la création de déclencheurs de contenus formatifs (PIX-12738)
  api/src/devcomp/application/trainings/index.js
  api/tests/devcomp/unit/application/trainings/index_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#9097 [FEATURE] Récupération de la version de la session après réconciliation (PIX-11842).
  api/lib/domain/read-models/CertificationCandidateSubscription.js
  api/lib/domain/usecases/get-certification-candidate-subscription.js
  api/lib/infrastructure/serializers/jsonapi/certification-candidate-subscription-serializer.js
  api/src/certification/session-management/infrastructure/repositories/session-repository.js
  api/tests/acceptance/application/certification-candidates/certification-candidates-controller_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/session-repository_test.js
  api/tests/tooling/domain-builder/factory/build-certification-candidate-subscription.js
  api/tests/unit/domain/usecases/get-certification-candidate-subscription_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-candidate-subscription-serializer_test.js
  mon-pix/app/components/certification-information.hbs
  mon-pix/app/models/certification-candidate-subscription.js
  mon-pix/app/models/feature-toggle.js
  mon-pix/app/router.js
  mon-pix/app/routes/authenticated/certifications/start.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/pages/_certification-information.scss
  mon-pix/app/templates/authenticated/certifications/information.hbs
  mon-pix/tests/unit/routes/authenticated/certifications/start_test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#9135 [FEATURE] Ajout d'une section étape dans un module (PIX-12790)
  mon-pix/app/components/module/step.gjs
  mon-pix/app/components/module/stepper.gjs
  mon-pix/app/helpers/inc.js
  mon-pix/tests/integration/components/module/step_test.gjs
  mon-pix/tests/integration/components/module/stepper_test.gjs
  mon-pix/tests/unit/helpers/inc_test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-devcomp

#9146 [BUGFIX] Mettre à jour la colonne `updatedAt` de la table `assessments` lors de la mise à jour d'un assessment (PIX-11293).
  api/src/shared/infrastructure/repositories/assessment-repository.js
  api/tests/shared/integration/infrastructure/repositories/assessment-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#9147 [BUGFIX] Corriger l'injection de dépendance manquante sur pole emploi notifier (PIX-12812)
  api/src/prescription/campaign-participation/domain/usecases/index.js
  api/src/prescription/campaign-participation/domain/usecases/send-shared-participation-results-to-pole-emploi.js
  api/tests/prescription/campaign-participation/integration/domain/usecases/send-shared-participation-results-to-pole-emploi_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#9134 [FEATURE] Ajouter un sélecteur de langue sur la double mire OIDC (PIX-12151)
  mon-pix/app/components/authentication/login-or-register-oidc.js
  mon-pix/app/controllers/authentication/login-or-register-oidc.js
  mon-pix/app/templates/authentication/login-or-register-oidc.hbs
  mon-pix/mirage/routes/authentication/oidc/index.js
  mon-pix/tests/acceptance/authentication/login-or-register-oidc_test.js
Labels: :rocket: Ready to Merge, team-acces

#9125 [BUGFIX] Améliorer le design pour les tablettes (Pix-11931)
  junior/app/pods/components/bubble/bubble.scss
  junior/app/pods/components/challenge/item/challenge-item.scss
  junior/app/pods/components/robot-dialog/robot-dialog.scss
  junior/app/pods/identified/missions/mission/mission.scss
  junior/app/pods/organization-code/template.hbs
  junior/app/pods/school/school.scss
  junior/app/styles/app.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, Design Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9173 [FEATURE] Amélioration wording et logo
  junior/public/images/division.svg
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9175 [TECH] Supprimer Pix UI de la racine du monorepo
  package-lock.json
  package.json
Labels: :rocket: Ready to Merge, cross-team

#9170 [TECH] Ajouter les montées de version Node.js des dockerfiles au groupement Renovate
  docker/dockerfiles/Dockerfile.ember
  docker/dockerfiles/Dockerfile.hapi
  high-level-tests/e2e/Dockerfile
  high-level-tests/e2e/docker-compose.yaml
Labels: :rocket: Ready to Merge, cross-team, no-review-app

#9174 [BUGFIX] Ignorer la casse lors de la détermination des noms d'élèves à afficher (PIX-12800).
  api/db/seeds/data/team-1d/data-builder.js
  api/src/school/domain/models/School.js
  api/tests/school/unit/domain/models/School_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9132 [TECH] Migrer la route POST /api/organization-invitations/sco vers src/team (pix-12628)
  api/db/database-builder/factory/build-organization-invitation.js
  api/db/migrations/20230112103200_cancel-pending-organization-invitations-with-an-updatedAt-greater-than-a-year.js
  api/lib/application/organization-invitations/index.js
  api/lib/application/organization-invitations/organization-invitation-controller.js
  api/lib/domain/models/OrganizationInvitedUser.js
  api/lib/domain/models/index.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/orm-models/OrganizationInvitation.js
  api/scripts/create-organizations-with-tags-and-target-profiles.js
  api/src/organizational-entities/infrastructure/repositories/organization-for-admin.repository.js
  api/src/team/application/organization-invitations/organization-invitation.controller.js
  api/src/team/application/organization-invitations/organization-invitation.route.js
  api/src/team/application/routes.js
  api/src/team/domain/models/OrganizationInvitation.js
  api/src/team/domain/services/organization-invitation.service.js
  api/src/team/domain/usecases/index.js
  api/src/team/domain/usecases/send-sco-invitation.js
  api/src/team/infrastructure/repositories/organization-invitation.repository.js
  api/src/team/infrastructure/serializers/jsonapi/sco-organization-invitation.serializer.js
  api/tests/acceptance/application/organization-invitations/organization-invitation-controller_test.js
  api/tests/acceptance/application/organizations/cancel-organization-invitation-delete_test.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
  api/tests/integration/application/organization-invitations/index_test.js
  api/tests/integration/application/organization-invitations/organization-invitation-controller_test.js
  api/tests/integration/application/organizations/organization-controller_test.js
  api/tests/integration/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
  api/tests/integration/infrastructure/repositories/organization-invited-user-repository_test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin.repository.test.js
  api/tests/team/integration/application/organization-invitation/organization-invitation.controller.test.js
  api/tests/team/integration/application/organization-invitation/organization-invitation.route.test.js
  api/tests/team/integration/domain/services/organization-invitation.service.test.js
  api/tests/team/integration/infrastructure/repositories/organization-invitation.repository.test.js
  api/tests/team/unit/domain/models/OrganizationInvitation_test.js
  api/tests/team/unit/domain/services/organization-invitation.service.test.js
  api/tests/team/unit/domain/usecases/send-sco-invitation_test.js
  api/tests/team/unit/infrastructure/serializers/jsonapi/sco-organization-invitation-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-organization-invitation.js
  api/tests/unit/domain/usecases/cancel-organization-invitation_test.js
  api/tests/unit/domain/usecases/find-pending-organization-invitations_test.js
  api/tests/unit/domain/usecases/get-organization-invitation_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#9182 [BUGFIX] Ignore la casse du code école dans l'URL d'accès direct.
  junior/app/adapters/school.js
  junior/app/services/store.js
  junior/tests/acceptance/access-school_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9179 [BUGFIX] Ne pas afficher les boutons de vocalisation si la fonctionnalité a été désactivée sur le navigateur (PIX-12831).
  mon-pix/app/components/assessment-banner.js
  mon-pix/app/components/challenge-statement.js
  mon-pix/tests/integration/components/assessment-banner_test.js
  mon-pix/tests/integration/components/challenge-statement_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#9184 [BUGFIX] Ajoute le point d'exclamation dans le bouton de démarrage de mission sur Pix Junior.
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9185 [FEATURE] Ouvre Pix Junior depuis Pix Orga dans un nouvel onglet.
  orga/app/templates/authenticated/missions/list.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9159 [TECH] Migrer `/api/frameworks/for-target-profile-submission` vers le context target profile (PIX-12832)
  api/lib/application/campaign-participations/campaign-participation-controller.js
  api/lib/application/campaigns/campaign-controller.js
  api/lib/application/certification-center-invitations/certification-center-invitation-controller.js
  api/lib/application/certification-center-memberships/certification-center-membership-controller.js
  api/lib/application/certification-courses/certification-course-controller.js
  api/lib/application/certifications/certification-controller.js
  api/lib/application/courses/course-controller.js
  api/lib/application/frameworks/frameworks-controller.js
  api/lib/application/frameworks/index.js
  api/lib/application/memberships/membership-controller.js
  api/lib/application/organizations/organization-controller.js
  api/lib/application/passwords/password-controller.js
  api/lib/application/preHandlers/assessment-authorization.js
  api/lib/application/preHandlers/session-supervisor-authorization.js
  api/lib/application/sco-organization-learners/sco-organization-learner-controller.js
  api/lib/application/sessions/session-controller.js
  api/lib/application/users/user-controller.js
  api/lib/infrastructure/monitoring-tools.js
  api/lib/infrastructure/serializers/jsonapi/framework-serializer.js
  api/lib/infrastructure/utils/request-response-utils.js
  api/src/certification/flash-certification/application/scenario-simulator-controller.js
  api/src/devcomp/infrastructure/utils/handlerWithDependencies.js
  api/src/evaluation/application/answers/answer-controller.js
  api/src/evaluation/application/autonomous-courses/autonomous-course-controller.js
  api/src/evaluation/application/scorecards/scorecard-controller.js
  api/src/evaluation/application/smart-random-simulator/smart-random-simulator-controller.js
  api/src/identity-access-management/application/user/user.controller.js
  api/src/prescription/campaign-participation/application/campaign-participation-controller.js
  api/src/prescription/campaign/application/campaign-adminstration-controller.js
  api/src/prescription/campaign/application/campaign-detail-controller.js
  api/src/prescription/campaign/application/campaign-results-controller.js
  api/src/prescription/target-profile/application/admin-target-profile-controller.js
  api/src/prescription/target-profile/application/target-profile-controller.js
  api/src/prescription/target-profile/application/target-profile-route.js
  api/src/prescription/target-profile/domain/usecases/get-learning-content-for-target-profile-submission.js
  api/src/prescription/target-profile/infrastructure/serializers/jsonapi/framework-without-skills-serializer.js
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/application/error-manager.js
  api/src/shared/infrastructure/utils/request-response-utils.js
  api/src/team/application/certification-center-invitation/certification-center-invitation.controller.js
  api/tests/acceptance/application/frameworks/frameworks-controller_test.js
  api/tests/evaluation/unit/application/scorecards/scorecard-controller_test.js
  api/tests/identity-access-management/unit/application/user.controller.test.js
  api/tests/prescription/target-profile/acceptance/application/target-profile-route_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profiles-route_test.js
  api/tests/prescription/target-profile/unit/application/target-profile-controller_test.js
  api/tests/prescription/target-profile/unit/application/target-profiles-route_test.js
  api/tests/shared/acceptance/application/security-pre-handlers_test.js
  api/tests/shared/unit/application/security-pre-handlers_test.js
  api/tests/unit/application/certification-center-invitations/certification-center-invitation-controller_test.js
  api/tests/unit/application/frameworks/frameworks-controller_test.js
  api/tests/unit/application/users/user-controller_test.js
  api/tests/unit/infrastructure/utils/request-response-utils_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9160 [TECH] Réorganisation des tests de scoring-certification-service.js (PIX-12827).
  api/tests/unit/domain/services/scoring/scoring-certification-service_test.js
Labels: :rocket: Ready to Merge, team-certif, certif-next-gen

#9099 [FEATURE] Ajouter le chargement d'une campagne dans le simulateur Smart Random (PIX-12731)
  admin/app/components/smart-random-simulator/current-challenge.hbs
  admin/app/components/smart-random-simulator/previous-challenges.hbs
  admin/app/components/smart-random-simulator/smart-random-params.hbs
  admin/app/components/smart-random-simulator/smart-random-params.js
  admin/app/components/smart-random-simulator/start.hbs
  admin/app/controllers/authenticated/smart-random-simulator/get-next-challenge.js
  admin/app/styles/authenticated/smart-random-simulator/get-next-challenge.scss
  admin/app/templates/authenticated/smart-random-simulator/get-next-challenge.hbs
  admin/tests/unit/controllers/authenticated/smart-random-simulator/get-next-challenge-test.js
  api/src/evaluation/application/smart-random-simulator/index.js
  api/src/evaluation/application/smart-random-simulator/smart-random-simulator-controller.js
  api/src/evaluation/domain/usecases/get-campaign-parameters-for-simulator.js
  api/src/evaluation/domain/usecases/index.js
  api/tests/evaluation/integration/domain/usecases/get-campaign-parameters-for-simulator_test.js
  api/tests/evaluation/unit/domain/usecases/get-campaign-parameters-for-simulator_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#9153 [BUGFIX] Corriger l'absence de langue à utiliser pour les épreuves de preview (PIX-12813)
  mon-pix/app/components/challenge-statement.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#9181 [BUGFIX] Blob rouge de page d'erreur tronqué
  junior/app/pods/components/issue/issue.scss
  junior/app/pods/components/issue/template.hbs
  junior/app/pods/error/route.js
  junior/app/pods/not-found/route.js
  junior/app/pods/school/route.js
  junior/app/utils/layout.js
  junior/public/images/background-blob-error.svg
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9189 [TECH] Migrer la route `/api/admin/users/{id}/participations` vers src (Pix-12849)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/lib/domain/usecases/index.js
  api/src/prescription/campaign-participation/application/admin-campaign-participation-controller.js
  api/src/prescription/campaign-participation/application/admin-campaign-participation-route.js
  api/src/prescription/campaign-participation/domain/models/CampaignParticipationForUserManagement.js
  api/src/prescription/campaign-participation/domain/usecases/find-campaign-participations-for-user-management.js
  api/src/prescription/campaign-participation/domain/usecases/index.js
  api/src/prescription/campaign-participation/infrastructure/repositories/participations-for-user-management-repository.js
  api/src/prescription/campaign-participation/infrastructure/serializers/jsonapi/campaign-participation-for-user-management-serializer.js
  api/src/prescription/campaign-participation/routes.js
  api/tests/prescription/campaign-participation/acceptance/application/admin-campaign-participation-route_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/participations-for-user-management-repository_test.js
  api/tests/prescription/campaign-participation/unit/application/admin-campaign-participation-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/admin-campaign-participation-route_test.js
  api/tests/prescription/campaign-participation/unit/domain/usecases/find-campaign-participations-for-user-management_test.js
  api/tests/prescription/campaign-participation/unit/infrastructure/serializers/jsonapi/campaign-participation-for-user-management-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-participation-for-user-management.js
  api/tests/unit/application/users/index_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#9206 [FEATURE] Rendre séléctionnable toute la zone de réponse QCU/QCM Modulix (PIX-12851)
  mon-pix/app/components/module/element/qcm.hbs
  mon-pix/app/components/module/element/qcm.js
  mon-pix/app/components/module/element/qcu.hbs
  mon-pix/app/components/module/element/qcu.js
  mon-pix/app/styles/components/module/_qcm.scss
  mon-pix/app/styles/components/module/_qcu.scss
Labels: :rocket: Ready to Merge, team-devcomp

#9161 [TECH] Migrer la route POST /api/token/anonymous vers src/identity-access-management (PIX-12826)
  api/lib/application/authentication/authentication-controller.js
  api/lib/application/authentication/index.js
  api/lib/application/error-manager.js
  api/lib/domain/errors.js
  api/lib/domain/usecases/index.js
  api/scripts/create-users-accounts-for-contest.js
  api/scripts/data-generation/add-many-fake-members-related-to-one-organization.js
  api/src/identity-access-management/application/http-error-mapper-configuration.js
  api/src/identity-access-management/application/token/token.controller.js
  api/src/identity-access-management/application/token/token.route.js
  api/src/identity-access-management/domain/errors.js
  api/src/identity-access-management/domain/usecases/authenticate-anonymous-user.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/identity-access-management/infrastructure/repositories/user-to-create.repository.js
  api/tests/acceptance/application/authentication/authentication-route_test.js
  api/tests/identity-access-management/acceptance/application/token.route.test.js
  api/tests/identity-access-management/integration/domain/services/pole-emploi-oidc-authentication-service_test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user-to-create.repository.test.js
  api/tests/identity-access-management/unit/application/http-error-mapper-configuration_test.js
  api/tests/identity-access-management/unit/application/token.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-anonymous-user.usecase.test.js
  api/tests/integration/application/authentication/index_test.js
  api/tests/integration/application/error-manager_test.js
  api/tests/integration/domain/usecases/create-and-reconcile-user-to-organization-learner_test.js
  api/tests/integration/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
  api/tests/shared/integration/domain/services/user-service_test.js
  api/tests/unit/application/authentication/authentication-controller_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#9186 [BUGFIX] Empecher d'accéder à la page mission si l'utilisateur n'appartient pas à une orga SCO-1D
  orga/app/components/layout/sidebar.js
  orga/app/routes/authenticated/campaigns/list/all-campaigns.js
  orga/app/routes/authenticated/campaigns/list/index.js
  orga/app/routes/authenticated/campaigns/list/my-campaigns.js
  orga/app/routes/authenticated/import-organization-participants.js
  orga/app/routes/authenticated/index.js
  orga/app/routes/authenticated/missions.js
  orga/app/routes/authenticated/sco-organization-participants/list.js
  orga/app/routes/authenticated/sup-organization-participants/list.js
  orga/app/services/current-user.js
  orga/tests/acceptance/campaign-list-all-campaigns_test.js
  orga/tests/acceptance/campaign-list-my-campaigns_test.js
  orga/tests/acceptance/missions-list_test.js
  orga/tests/integration/components/layout/sidebar_test.js
  orga/tests/unit/routes/authenticated/import-organization-participants_test.js
  orga/tests/unit/routes/authenticated/missions_test.js
  orga/tests/unit/routes/authenticated/sco-organization-participants/list_test.js
  orga/tests/unit/routes/authenticated/sup-organization-participants/list_test.js
  orga/tests/unit/services/current-user_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9178 [FEATURE] Ajouter le bouton `suivant` dans le stepper (PIX-12839)
  mon-pix/app/components/module/stepper.gjs
  mon-pix/config/icons.js
  mon-pix/tests/integration/components/module/stepper_test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-devcomp

#9151 [FEATURE] Suppression de l'aléatoire dans le choix de questions pour la dégradation (PIX-12811).
  api/src/certification/scoring/domain/services/scoring-degradation-service.js
  api/tests/evaluation/unit/domain/services/pick-challenge-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#9176 [TECH] Migrer la route GET /api/organization-invitation vers src/team (pix-12825)
  api/lib/application/organization-invitations/index.js
  api/lib/application/organization-invitations/organization-invitation-controller.js
  api/lib/application/organizations/organization-controller.js
  api/src/team/application/organization-invitations/organization-invitation.controller.js
  api/src/team/application/organization-invitations/organization-invitation.route.js
  api/src/team/domain/usecases/get-organization-invitation.js
  api/src/team/infrastructure/serializers/jsonapi/organization-invitation.serializer.js
  api/tests/integration/application/organization-invitations/index_test.js
  api/tests/team/acceptance/application/organization-invitations/organization-invitation.route.test.js
  api/tests/team/integration/application/organization-invitation/organization-invitation.route.test.js
  api/tests/team/unit/application/organization-invitation/organization-invitation.controller.test.js
  api/tests/team/unit/application/organization-invitation/organization-invitation.route.test.js
  api/tests/team/unit/domain/usecases/get-organization-invitation.test.js
  api/tests/team/unit/infrastructure/serializers/jsonapi/organization-invitation.serializer.test.js
  api/tests/unit/application/organization-invitations/index_test.js
  api/tests/unit/application/organization-invitations/organization-invitation-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#9138 [FEATURE] Rendre dynamique le carousel des écrans d'instruction pour la certification V3 sur Pix App (PIX-12757).
  mon-pix/app/components/certification-information.hbs
  mon-pix/app/components/certification-information.js
  mon-pix/app/router.js
  mon-pix/app/routes/authenticated/certifications/information.js
  mon-pix/app/routes/authenticated/certifications/start.js
  mon-pix/app/styles/pages/_certification-information.scss
  mon-pix/app/templates/authenticated/certifications/information.hbs
  mon-pix/public/images/illustrations/certification-information-screens/ellipse.svg
  mon-pix/tests/acceptance/authenticated/certifications/information_test.js
  mon-pix/tests/integration/components/assessment-banner_test.js
  mon-pix/tests/integration/components/certification-information_test.js
  mon-pix/tests/integration/components/challenge-statement_test.js
  mon-pix/tests/unit/routes/authenticated/certifications/start_test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#9126 [FEATURE] Afficher le nombre max de caractères du champ nom interne d'un parcours autonome (PIX-12778).
  admin/app/components/autonomous-courses/create-autonomous-course-form.hbs
  admin/app/components/autonomous-courses/update-autonomous-course-form.hbs
  admin/app/controllers/authenticated/autonomous-courses/autonomous-course/details.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#9210 [BUGFIX] Prendre en compte uniquement les organisations actives lors de la recherche par UAI (PIX-5677)
  api/db/seeds/data/team-acces/build-archived-organizations.js
  api/db/seeds/data/team-acces/build-sco-organizations.js
  api/db/seeds/data/team-acces/constants.js
  api/src/shared/infrastructure/repositories/organization-repository.js
  api/src/team/domain/usecases/send-sco-invitation.js
  api/tests/integration/infrastructure/repositories/organization-repository_test.js
  api/tests/team/unit/domain/usecases/send-sco-invitation_test.js
Labels: :rocket: Ready to Merge, team-acces

#9213 [BUGFIX] Régression sur l'affichage des données DPO (PIX-12868)
  api/src/certification/enrolment/domain/usecases/get-center-for-admin.js
  api/tests/certification/enrolment/unit/domain/usecases/get-center-for-admin_test.js
Labels: :rocket: Ready to Merge, team-certif

#8212 [TECH] Faciliter le build des seeds en base de données avec JSDoc
  api/db/database-builder/database-builder.js
  api/db/database-builder/factory/build-data-protection-officer.js
  api/db/database-builder/factory/build-organization-learner.js
  api/db/database-builder/factory/build-training.js
  api/db/database-builder/factory/build-user.js
  api/db/database-builder/factory/index.js
Labels: :rocket: Ready to Merge, cross-team

#9216 [TECH] migration du fichier `Tag.js` vers `src/organizational-entities`
  api/lib/domain/models/index.js
  api/lib/domain/usecases/create-tag.js
  api/lib/infrastructure/repositories/organization-tag-repository.js
  api/lib/infrastructure/repositories/tag-repository.js
  api/lib/infrastructure/serializers/jsonapi/organization-serializer.js
  api/src/organizational-entities/domain/models/Organization.js
  api/src/organizational-entities/domain/models/Tag.js
  api/src/organizational-entities/infrastructure/repositories/organization-for-admin.repository.js
  api/src/shared/infrastructure/repositories/organization-repository.js
  api/src/team/infrastructure/repositories/prescriber-repository.js
  api/tests/integration/domain/usecases/get-recently-used-tags_test.js
  api/tests/integration/infrastructure/repositories/tag-repository_test.js
  api/tests/integration/infrastructure/utils/bookshelf-to-domain-converter_test.js
  api/tests/organizational-entities/unit/domain/models/Organization_test.js
  api/tests/team/integration/infrastructure/repositories/prescriber-repository_test.js
  api/tests/tooling/domain-builder/factory/build-tag.js
  api/tests/unit/domain/usecases/create-tag_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/organization-serializer_test.js
  api/tests/unit/scripts/add-tags-to-organizations_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, Bounded-context-migration

#9148 [TECH] Supprime un workflow github qui ne sert à rien
  .github/workflows/stale-branches.yml
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#9209 [FEATURE] Afficher les étapes de sélection de l'algorithme après que l'évaluation soit terminée (PIX-12763)
  admin/app/components/smart-random-simulator/current-challenge.hbs
  admin/app/components/smart-random-simulator/reset.hbs
  admin/app/components/smart-random-simulator/smart-random-params.hbs
  admin/app/components/smart-random-simulator/tubes-viewer.hbs
  admin/app/controllers/authenticated/smart-random-simulator/get-next-challenge.js
  admin/app/styles/authenticated/smart-random-simulator/get-next-challenge.scss
  admin/app/templates/authenticated/smart-random-simulator/get-next-challenge.hbs
  admin/tests/unit/controllers/authenticated/smart-random-simulator/get-next-challenge-test.js
  api/src/evaluation/domain/usecases/get-next-challenge-for-simulator.js
  api/tests/evaluation/acceptance/application/smart-random-simulator/smart-random-simulator-controller_test.js
  api/tests/evaluation/integration/domain/usecases/get-next-challenge-for-simulator_test.js
  api/tests/evaluation/unit/domain/usecases/get-next-challenge-for-simulator_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#9219 [BUGFIX] Missing EN translation of SSO reconciliation page (PIX-12821)
  mon-pix/translations/es.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, Func Review OK

#9221 [TECH] Accélerer le `lint` local de l'API
  .circleci/config.yml
  api/package.json
Labels: :rocket: Ready to Merge, cross-team

#9192 [FEATURE] Ouverture de session d'école Pix Junior depuis Orga (PIX-12724)
  api/db/migrations/20240607144451_add-session-expiration-date-to-school.js
  api/db/migrations/20240610093658_add-unicity-constraint-on-school-code.js
  api/src/school/application/school-controller.js
  api/src/school/application/school-route.js
  api/src/school/domain/usecases/activate-school-session.js
  api/src/school/infrastructure/repositories/school-repository.js
  api/tests/school/integration/infrastructure/repositories/school-repository_test.js
  api/tests/school/unit/application/school-route_test.js
  api/tests/school/unit/domain/usecases/activate-school-session_test.js
  orga/app/adapters/organization.js
  orga/app/components/layout/school-session-management.gjs
  orga/app/components/layout/topbar.hbs
  orga/app/styles/components/layout/topbar.scss
  orga/tests/integration/components/layout/school-session-management_test.gjs
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9158 [TECH] Permettre de contextualiser les seeds (PIX-12833)
  api/db/seeds/seed.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, cross-team

#9230 [BUGFIX] Permettre de focus sur les propositions de QCU/QCM/QROCM une fois répondu (PIX-12906)
  mon-pix/app/components/module/element/qcm.hbs
  mon-pix/app/components/module/element/qcu.hbs
  mon-pix/app/components/module/element/qrocm.hbs
  mon-pix/tests/integration/components/module/qcm_test.js
  mon-pix/tests/integration/components/module/qcu_test.js
  mon-pix/tests/integration/components/module/qrocm_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#9234 [TECH] MAJ du thème QUnit pour les tests certifs.
  certif/ember-cli-build.js
  certif/package-lock.json
  certif/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, certif-next-gen

#9212 [FEATURE] Audit logger peut log des events en masse (PIX-12808)
  api/lib/infrastructure/jobs/audit-log/UserAnonymizedBatchEventsLoggingJob.js
  api/lib/infrastructure/jobs/audit-log/UserAnonymizedBatchEventsLoggingJobHandler.js
  api/lib/infrastructure/repositories/audit-logger-repository.js
  api/tests/unit/infrastructure/jobs/audit-log/UserAnonymizedBatchEventsLoggingJobHandler_test.js
  api/tests/unit/infrastructure/jobs/audit-log/UserAnonymizedEventLoggingJobHandler_test.js
  api/tests/unit/infrastructure/repositories/audit-logger-repository_test.js
  api/worker.js
  audit-logger/src/lib/controllers/create-audit-log.controller.ts
  audit-logger/tests/acceptance/controllers/create-audit-log.controller.test.ts
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9223 [FEATURE] Add a link to smart random simulator (PIX-12889)
  admin/app/templates/authenticated/target-profiles/list.hbs
Labels: :rocket: Ready to Merge, team-evaluation

#9226 [FEATURE] Gérer l'affichage du bouton "Suivant" avec des éléments répondables (PIX-12856)
  mon-pix/app/components/module/stepper.gjs
  mon-pix/tests/integration/components/module/stepper_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#9245 [TECH] ajoute la configuration pour activer les synchros de traduction dans orga (pix-12923)
  .phrase.yml
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, no-review-app

#9242 [BUGFIX] Corriger le tag 'POLE EMPLOI' dans les seeds (PIX-12919)
  api/db/seeds/data/common/constants.js
  api/src/organizational-entities/domain/models/Tag.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9152 [TECH] Migrer la route POST /api/password-reset-demands vers src/identity-access-management (PIX-12748)
  api/lib/application/passwords/index.js
  api/lib/application/passwords/password-controller.js
  api/lib/domain/usecases/index.js
  api/src/identity-access-management/application/password/password.controller.js
  api/src/identity-access-management/application/password/password.route.js
  api/src/identity-access-management/application/routes.js
  api/src/identity-access-management/domain/models/ResetPasswordDemand.js
  api/src/identity-access-management/domain/services/reset-password.service.js
  api/src/identity-access-management/domain/usecases/create-reset-password-demand.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/identity-access-management/infrastructure/repositories/reset-password-demand.repository.js
  api/src/identity-access-management/infrastructure/serializers/jsonapi/reset-password.serializer.js
  api/tests/acceptance/application/passwords/password-controller_test.js
  api/tests/identity-access-management/acceptance/application/password/password.route.test.js
  api/tests/identity-access-management/integration/application/password/password.controller.test.js
  api/tests/identity-access-management/integration/application/password/password.route.test.js
  api/tests/identity-access-management/integration/domain/services/reset-password.service.test.js
  api/tests/identity-access-management/integration/domain/usecases/create-reset-password-demand.usecase.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/reset-password-demand.repository.test.js
  api/tests/identity-access-management/unit/application/password/password.controller.test.js
  api/tests/identity-access-management/unit/application/password/password.route.test.js
  api/tests/identity-access-management/unit/domain/models/ResetPasswordDemand.test.js
  api/tests/identity-access-management/unit/domain/services/reset-password.service.test.js
  api/tests/identity-access-management/unit/domain/usecases/create-reset-password-demand.usecase.test.js
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/reset-password.serializer.test.js
  api/tests/integration/application/passwords/index_test.js
  api/tests/integration/application/passwords/password-controller_test.js
  api/tests/integration/domain/usecases/create-password-reset-demand_test.js
  api/tests/integration/domain/usecases/get-user-by-reset-password-demand_test.js
  api/tests/unit/application/passwords/index_test.js
  api/tests/unit/application/passwords/password-controller_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/password-reset-serializer_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#8850 [FEATURE] Ajouter la page de modification d'infos et référentiel d'un profil cible (PIX-12442).
  admin/app/components/common/tubes-selection.hbs
  admin/app/components/common/tubes-selection.js
  admin/app/components/target-profiles/create-target-profile-form.hbs
  admin/app/components/target-profiles/edit-target-profile-form.hbs
  admin/app/components/target-profiles/edit-target-profile-form.js
  admin/app/components/target-profiles/target-profile.hbs
  admin/app/components/target-profiles/target-profile.js
  admin/app/components/target-profiles/update-target-profile.hbs
  admin/app/components/target-profiles/update-target-profile.js
  admin/app/controllers/authenticated/target-profiles/edit.js
  admin/app/models/target-profile.js
  admin/app/router.js
  admin/app/routes/authenticated/target-profiles/edit.js
  admin/app/styles/app.scss
  admin/app/styles/components/common/tubes-selection.scss
  admin/app/styles/components/target-profiles/create-target-profile-form.scss
  admin/app/templates/authenticated/target-profiles/edit.hbs
  admin/app/templates/authenticated/target-profiles/new.hbs
  admin/mirage/handlers/target-profiles.js
  admin/tests/acceptance/authenticated/target-profiles/target-profile/creation_test.js
  admin/tests/acceptance/authenticated/target-profiles/target-profile/edition_test.js
  admin/tests/acceptance/authenticated/target-profiles/target-profile/management_test.js
  admin/tests/acceptance/authenticated/trainings/edit-triggers_test.js
  admin/tests/integration/components/common/tubes-selection_test.js
  admin/tests/integration/components/target-profiles/create-target-profile-form_test.js
  admin/tests/integration/components/target-profiles/edit-target-profile-form_test.js
  admin/tests/unit/components/update-target-profile_test.js
  api/lib/infrastructure/serializers/jsonapi/target-profile-for-admin-serializer.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/target-profile-for-admin-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#9187 [FEATURE] Ajouter le contenu de plusieurs écrans d'instruction sur Pix App (PIX-12841).
  mon-pix/app/components/certification-information.hbs
  mon-pix/app/components/certification-instructions/step-four.hbs
  mon-pix/app/components/certification-instructions/step-four.js
  mon-pix/app/components/certification-instructions/step-one.hbs
  mon-pix/app/components/certification-instructions/step-one.js
  mon-pix/app/components/certification-instructions/step-three.hbs
  mon-pix/app/components/certification-instructions/step-three.js
  mon-pix/app/components/certification-instructions/step-two.hbs
  mon-pix/app/components/certification-instructions/step-two.js
  mon-pix/app/components/certification-instructions/steps.hbs
  mon-pix/app/components/certification-instructions/steps.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/pages/_certification-instructions.scss
  mon-pix/app/templates/authenticated/certifications/information.hbs
  mon-pix/public/images/illustrations/certification-instructions-steps/clock.svg
  mon-pix/public/images/illustrations/certification-instructions-steps/ellipse.svg
  mon-pix/public/images/illustrations/certification-instructions-steps/focus-challenge-round.svg
  mon-pix/public/images/illustrations/certification-instructions-steps/regular-challenge-round.svg
  mon-pix/tests/integration/components/certification-information_test.js
  mon-pix/tests/integration/components/steps_test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-certif

#9180 [BUGFIX] Créer un script afin de recréer des données manquantes sur les états des participations à une campagne définit (PIX-12837)
  api/db/database-builder/factory/build-pole-emploi-sending.js
  api/scripts/prod/insert-missing-pole-emploi-sending-from-date.js
  api/tests/integration/scripts/prod/insert-missing-pole-emploi-sending-from-date_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#9222 [BUGFIX] Corriger l'affichage des methodes de connexion dans Mon Compte
  mon-pix/app/styles/components/_user-account.scss
  mon-pix/app/styles/pages/_connection-methods.scss
  mon-pix/app/templates/authenticated/user-account/connection-methods.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9248 [TECH] check autonomous course id presence (PIX-12938)
  api/lib/infrastructure/validate-environment-variables.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, cross-team

#9122 [FEATURE] Accepter un id de campagne dans l'url du simulateur (PIX-12760)
  admin/app/components/smart-random-simulator/smart-random-params.hbs
  admin/app/components/smart-random-simulator/smart-random-params.js
  admin/tests/integration/components/smart-random-simulator/smart-random-params_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-evaluation

#9227 [FEATURE] Afficher la dernière page des écrans d'instructions sur Pix App (PIX-12900).
  mon-pix/app/components/certification-instructions/step-five.hbs
  mon-pix/app/components/certification-instructions/step-five.js
  mon-pix/app/components/certification-instructions/steps.hbs
  mon-pix/app/components/certification-instructions/steps.js
  mon-pix/app/routes/authenticated/certifications/start.js
  mon-pix/app/styles/pages/_certification-instructions.scss
  mon-pix/app/templates/authenticated/certifications/information.hbs
  mon-pix/tests/integration/components/steps_test.js
  mon-pix/tests/unit/components/certification-instructions/steps_test.js
  mon-pix/tests/unit/routes/authenticated/certifications/start_test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-certif

#9237 [BUGFIX] Améliorer le design (Pix-12910)
  junior/app/pods/components/mission-card/card.scss
  junior/app/pods/identified/missions/list/missions.scss
  junior/app/pods/identified/missions/mission/mission.scss
  junior/app/pods/school/school.scss
  junior/app/utils/layout.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9247 [FEATURE] Afficher un Stepper dans un Grain (PIX-12840)
  high-level-tests/e2e/cypress/integration/pix-app/modulix-a11y.feature
  mon-pix/app/components/module/grain.hbs
  mon-pix/app/components/module/grain.js
  mon-pix/app/components/module/passage.js
  mon-pix/app/components/module/step.gjs
  mon-pix/app/components/module/stepper.gjs
  mon-pix/tests/integration/components/module/grain_test.gjs
  mon-pix/tests/integration/components/module/passage_test.gjs
  mon-pix/tests/integration/components/module/step_test.gjs
  mon-pix/tests/integration/components/module/stepper_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#9250 [BUGFIX] Afficher un message d'erreur lorsqu'une donnée n'est pas unique (Pix-12936)
  orga/app/services/error-messages.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, 🎒👧🏽👦🏾 PIX JUNIOR

#9218 [TECH] migration de la route `/api/campaigns/{id}/analyses` (Pix-12829)
  api/lib/application/campaigns/campaign-controller.js
  api/lib/application/campaigns/index.js
  api/lib/domain/usecases/index.js
  api/lib/routes.js
  api/src/prescription/campaign-participation/domain/usecases/index.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-analysis-repository.js
  api/src/prescription/campaign/application/campaign-controller.js
  api/src/prescription/campaign/application/campaign-route.js
  api/src/prescription/campaign/domain/read-models/CampaignAnalysis.js
  api/src/prescription/campaign/domain/usecases/compute-campaign-analysis.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/tests/acceptance/application/campaigns/campaign-controller_test.js
  api/tests/integration/application/campaigns/index_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-analysis-repository_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-route_test.js
  api/tests/prescription/campaign/unit/application/campaign-controller_test.js
  api/tests/prescription/campaign/unit/application/campaign-route_test.js
  api/tests/prescription/campaign/unit/domain/read-models/CampaignAnalysis_test.js
  api/tests/prescription/campaign/unit/domain/usecases/compute-campaign-analysis_test.js
  api/tests/unit/application/campaign/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#9120 [FEATURE] Empêche un prescrit de démarrer une participation à une campagne supprimée (PIX-12692).
  api/db/database-builder/factory/build-campaign.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/campaign-participant-repository.js
  api/src/prescription/campaign-participation/domain/models/CampaignParticipant.js
  api/src/prescription/campaign-participation/domain/models/CampaignToStartParticipation.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participant-repository.js
  api/src/prescription/campaign/domain/read-models/CampaignToJoin.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-to-join-serializer.js
  api/tests/integration/infrastructure/repositories/campaign-participant-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participant-repository_test.js
  api/tests/prescription/campaign-participation/unit/domain/models/CampaignParticipant_test.js
  api/tests/prescription/campaign/unit/application/campaign-detail-controller_test.js
  api/tests/prescription/campaign/unit/domain/read-models/CampaignToJoin_test.js
  api/tests/prescription/campaign/unit/infrastrucutre/serializers/jsonapi/campaign-to-join-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-to-join.js
  api/tests/tooling/domain-builder/factory/build-campaign-to-start-participation.js
  mon-pix/app/controllers/campaigns/profiles-collection/send-profile.js
  mon-pix/app/models/campaign.js
  mon-pix/app/routes/campaigns/entry-point.js
  mon-pix/app/templates/fill-in-campaign-code.hbs
  mon-pix/mirage/factories/campaign.js
  mon-pix/tests/unit/controllers/campaigns/profiles-collection/send-profile_test.js
  mon-pix/tests/unit/routes/campaigns/entry-point_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9255 [BUGFIX] Tourner sur les déclinaisons entre 2 passages d'une épreuve
  api/src/school/domain/models/Activity.js
  api/src/school/domain/services/challenge.js
  api/src/school/domain/services/get-next-activity-info.js
  api/tests/school/unit/domain/models/Activity_test.js
  api/tests/school/unit/domain/services/challenge_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9233 [FEATURE] Affichage du statut de session d'école dans Pix Orga (PIX-12725)
  api/db/database-builder/factory/build-school.js
  api/src/organizational-entities/domain/models/Organization.js
  api/src/team/infrastructure/repositories/prescriber-repository.js
  api/src/team/infrastructure/serializers/jsonapi/prescriber-serializer.js
  api/tests/integration/infrastructure/repositories/organization-repository_test.js
  api/tests/team/integration/infrastructure/repositories/prescriber-repository_test.js
  api/tests/team/integration/infrastructure/repositories/user-orga-settings-repository_test.js
  orga/app/components/layout/school-session-management.gjs
  orga/app/components/layout/topbar.hbs
  orga/app/components/layout/user-logged-menu.js
  orga/app/controllers/authenticated.js
  orga/app/models/organization.js
  orga/app/routes/authenticated.js
  orga/app/styles/components/layout/topbar.scss
  orga/app/templates/authenticated.hbs
  orga/tests/acceptance/authentication_test.js
  orga/tests/integration/components/layout/school-session-management_test.gjs
  orga/tests/integration/components/layout/user-logged-menu_test.js
  orga/tests/unit/controllers/authenticated_test.js
  orga/tests/unit/routes/authenticated_test.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, 🎒👧🏽👦🏾 PIX JUNIOR

#9243 [FEATURE] Signaler si la campagne n'existe pas dans le simulateur (PIX-12892)
  admin/app/components/smart-random-simulator/smart-random-params.js
  api/src/evaluation/domain/usecases/get-campaign-parameters-for-simulator.js
  api/tests/evaluation/integration/domain/usecases/get-campaign-parameters-for-simulator_test.js
  api/tests/evaluation/unit/domain/usecases/get-campaign-parameters-for-simulator_test.js
Labels: :rocket: Ready to Merge, team-evaluation

#9238 [BUGFIX] Afficher une connexion externe par ligne sur l'écran de rattachement d'un compte externe à un compte Pix (PIX-12858)
  mon-pix/app/components/authentication/oidc-reconciliation.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9241 [FEATURE] Utiliser la langue de l'épreuve en cas d'absence de langue utilisateur (PIX-12862).
  api/src/shared/infrastructure/serializers/jsonapi/challenge-serializer.js
  api/tests/shared/unit/infrastructure/serializers/jsonapi/challenge-serializer_test.js
  mon-pix/app/components/challenge-statement.js
  mon-pix/app/models/challenge.js
  mon-pix/tests/integration/components/challenge-statement_test.js
  mon-pix/tests/unit/components/challenge-statement_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#9266 [TECH] Monter de version ember-data en 5.3.3 sur PixAdmin (PIX-12950)
  admin/app/models/certification-center-invitation.js
  admin/app/models/organization.js
  admin/package-lock.json
  admin/package.json
  admin/tests/acceptance/authenticated/organizations/places_test.js
  admin/tests/integration/components/actions-on-users-role-in-organization_test.js
  admin/tests/integration/components/certification-centers/creation-form_test.js
  admin/tests/integration/components/organizations/places/delete-modal_test.js
  admin/tests/integration/components/organizations/places/list_test.js
  admin/tests/integration/components/organizations/places_test.js
  admin/tests/unit/adapters/organization-membership_test.js
  admin/tests/unit/components/actions-on-users-role-in-organization_test.js
  admin/tests/unit/controllers/authenticated/certification-centers/get/invitations_test.js
  admin/tests/unit/models/admin-member_test.js
  admin/tests/unit/models/organization-place_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, cross-team

#9114 [TECH] Améliorer l'accessibilité sur l'affichage des compétences (PIX-12360)
  admin/app/components/certifications/competence-list.hbs
  admin/app/styles/components/certification/competence-list.scss
  admin/app/styles/components/certification/scoring-simulation.scss
  admin/app/templates/authenticated/certifications/scoring-simulation.hbs
  admin/tests/acceptance/authenticated/certifications/certification/informations_test.js
  admin/tests/acceptance/authenticated/certifications/scoring-simulation_test.js
  admin/tests/integration/components/certifications/info-competences_test.js
  admin/translations/en.json
  admin/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, Design Review OK

#9253 [TECH] Corriger un test flaky sur PixAdmin (PIX-12942)
  admin/app/components/administration/add-organization-features-in-batch.js
  admin/tests/integration/components/administration/add-organization-features-in-batch_test.js
  admin/tests/integration/components/administration/update-organizations-in-batch_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, team-prescription, no-review-app

#9235 [TECH] Mettre à jour le fichier CODEOWNERS
  .github/CODEOWNERS
Labels: :rocket: Ready to Merge, cross-team, no-review-app

#9279 [FEATURE] Afficher une étiquette "Version Bêta" sur la page d'accueil de Pix Junior (PIX-12954)
  junior/app/pods/organization-code/home.scss
  junior/app/pods/organization-code/template.hbs
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9274 [FEATURE] Changement de traduction pour informer de l'activation de session (Pix-12728)
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9275 [BUGFIX] Corrige un flaky sur l'import d'OIDC provider
  admin/app/components/administration/oidc-providers-import.js
  admin/tests/integration/components/administration/oidc-providers-import_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9278 [FEATURE] Ajouter un cadre autour des média des épreuves (Pix-12894)
  junior/app/pods/components/challenge/challenge-actions/challenge-actions.scss
  junior/app/pods/components/challenge/item/challenge-item.scss
  junior/app/pods/components/challenge/item/component.js
  junior/app/pods/components/challenge/item/template.hbs
  junior/app/styles/app.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, Design Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9267 [BUGFIX] Fix transaction et updateAt dans le repo organization-for-admin
  api/src/organizational-entities/infrastructure/repositories/organization-for-admin.repository.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin.repository.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9229 [TECH] :broom: suppression des fichiers inutilisés
  api/lib/infrastructure/orm-models/BadgeAcquisition.js
  api/lib/infrastructure/orm-models/CompetenceEvaluation.js
  api/lib/infrastructure/orm-models/CompetenceMark.js
  api/lib/infrastructure/orm-models/FinalizedSession.js
  api/lib/infrastructure/orm-models/OrganizationTag.js
  api/lib/infrastructure/orm-models/PoleEmploiSending.js
  api/lib/infrastructure/orm-models/TargetProfileShare.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#9228 [TECH] Creer une souscription "Coeur" pour chaque candidat existant (PIX-12526)
  api/db/migrations/20240610164300_catching-up-on-CORE-subscriptions.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#9285 [FEATURE][ORGA] Ne pas afficher le bouton pour copier le code de campagne pour les organisations rattachées au GAR (PIX-12916)
  orga/app/controllers/authenticated/campaigns/campaign/activity.js
  orga/app/controllers/authenticated/campaigns/campaign/analysis.js
  orga/app/controllers/authenticated/campaigns/campaign/assessment-results.js
  orga/app/services/current-user.js
  orga/app/templates/authenticated/campaigns/campaign/activity.hbs
  orga/app/templates/authenticated/campaigns/campaign/analysis.hbs
  orga/app/templates/authenticated/campaigns/campaign/assessment-results.hbs
  orga/tests/acceptance/campaign-analysis_test.js
  orga/tests/unit/services/current-user_test.js
Labels: :rocket: Ready to Merge, team-acces

#9303 [TECH] Suppression d'avertissements liés à des dépréciations à venir d'Ember data.
  junior/app/transforms/boolean.js
  junior/app/transforms/string.js
Labels: Tech Review OK, :rocket: Ready to Merge, 🎒👧🏽👦🏾 PIX JUNIOR

#9286 [BUGFIX] Erreur lors du reset de mot de passe (PIX-12935)
  api/src/identity-access-management/application/user/user.controller.js
  api/src/identity-access-management/domain/usecases/update-user-password.usecase.js
  api/tests/identity-access-management/acceptance/application/user.route.test.js
  api/tests/identity-access-management/unit/application/user.controller.test.js
  docs/security/reset_with_email.puml
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9305 [BUGFIX] Corriger l'affichage des places dans le Header Et sur la pages des Places sur PixOrga (PIX-13017)
  orga/app/routes/authenticated.js
  orga/mirage/config.js
  orga/tests/acceptance/authentication_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, 🎒👧🏽👦🏾 PIX JUNIOR

#9284 [BUGFIX] Adapter la hauteur de l'embed en fonction de la hauteur de l'écran (Pix-12973)
  junior/app/pods/components/challenge/challenge-embed-simulator/component.js
  junior/app/pods/components/challenge/item/challenge-item.scss
  junior/app/pods/components/challenge/item/component.js
  junior/app/pods/components/challenge/item/template.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9232 [FEATURE] Améliorer l'UX de sélection de sujet d'un profil cible (PIX-11910).
  admin/app/components/common/tubes-selection/competence.hbs
  admin/app/components/common/tubes-selection/thematic.hbs
  admin/app/components/common/tubes-selection/thematic.js
  admin/app/components/common/tubes-selection/tube.hbs
  admin/app/components/common/tubes-selection/tube.js
  admin/app/styles/components/common/tubes-selection.scss
  admin/tests/acceptance/authenticated/target-profiles/target-profile/creation_test.js
  admin/tests/integration/components/common/tubes-selection/tube_test.js
  admin/tests/integration/components/common/tubes-selection_test.js
  admin/tests/unit/components/common/tubes-selection/tube_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#9283 [TECH] Mettre a jour ember-source en 5.8.0 sur PixAdmin (PIX-12963)
  admin/package-lock.json
  admin/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, cross-team

#9282 [BUGFIX][MON-PIX] Prendre en compte le choix de la langue lors de la création d'un compte via un SSO (PIX-12860)
  api/src/identity-access-management/application/oidc-provider/oidc-provider.controller.js
  api/src/identity-access-management/domain/usecases/create-oidc-user.usecase.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.route.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/create-oidc-user.usecase.test.js
  mon-pix/app/authenticators/oidc.js
  mon-pix/tests/unit/authenticators/oidc_test.js
Labels: :rocket: Ready to Merge, team-acces

#9306 [BUGFIX] Réparer les caractères de balises HTML incorrects (PIX-13036)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
  api/tests/devcomp/acceptance/scripts/get-elements_test.js
  api/tests/devcomp/acceptance/scripts/get-modules_test.js
  api/tests/devcomp/acceptance/scripts/get-proposals_test.js
  api/tests/devcomp/integration/repositories/element-repository_test.js
  api/tests/devcomp/unit/domain/models/module/Module_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/joi-error-parser_test.js
  mon-pix/app/controllers/module-preview.js
Labels: :rocket: Ready to Merge, team-contenu, team-devcomp

#9311 [TECH] Migrer la route `/api/organization-learners` Vers le BC organization-learner (PIX-13026)
  api/lib/application/organization-learners/index.js
  api/lib/application/organization-learners/organization-learner-controller.js
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/reconcile-sco-organization-learner-manually.js
  api/lib/infrastructure/repositories/organization-learner-repository.js
  api/src/prescription/organization-learner/application/registration-organization-learner-controller.js
  api/src/prescription/organization-learner/application/registration-organization-learner-route.js
  api/src/prescription/organization-learner/domain/usecases/find-association-between-user-and-organization-learner.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/src/prescription/organization-learner/infrastructure/repositories/registration-organization-learner-repository.js
  api/src/prescription/organization-learner/infrastructure/serializers/jsonapi/organization-learner-identity-serializer.js
  api/src/prescription/organization-learner/routes.js
  api/tests/acceptance/application/organization-learners/organization-learner-controller_test.js
  api/tests/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/organization-learner/acceptance/registration-organization-learner-route_test.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/registration-organization-learner-repository_test.js
  api/tests/prescription/organization-learner/unit/application/registration-organization-learner-route_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-association-between-user-and-organization-learner_test.js
  api/tests/prescription/organization-learner/unit/infrastructure/serializers/jsonapi/organization-learner-identity-serializer_test.js
  api/tests/unit/application/organization-learners/index_test.js
  api/tests/unit/domain/usecases/reconcile-sco-organization-learner-manually_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#9281 [TECH] Migrer la route `/api/admin/target-profiles/{targetProfileId}/organizations` vers son BC (PIX-12970)
  api/lib/application/organizations/organization-controller.js
  api/lib/application/target-profiles/index.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/domain/usecases/find-paginated-filtered-target-profile-organizations.js
  api/lib/domain/usecases/index.js
  api/src/organizational-entities/infrastructure/serializers/jsonapi/organization-serializer.js
  api/src/prescription/target-profile/application/admin-target-profile-controller.js
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/src/prescription/target-profile/domain/usecases/find-paginated-filtered-target-profile-organizations.js
  api/src/prescription/target-profile/domain/usecases/index.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/organizational-entities/unit/infrastructure/serializers/jsonapi/organization-serializer_test.js
  api/tests/prescription/target-profile/acceptance/application/admin-target-profile-route_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profiles-route_test.js
  api/tests/prescription/target-profile/unit/domain/usecases/find-paginated-filtered-target-profile-organizations_test.js
  api/tests/unit/application/target-profiles/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#9291 [BUGFIX] Modification de la valeur CORE en BDD (PIX-12981).
  api/db/migrations/20240617134714_update-core-type.js
  api/lib/infrastructure/repositories/sco-certification-candidate-repository.js
  api/tests/integration/infrastructure/repositories/sco-certification-candidate-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#9310 [TECH] Ajout de la configuration pour .gjs sur Pix Certif (PIX-13024)
  certif/.eslintrc.cjs
  certif/.prettierrc.json
  certif/.template-lintrc.js
  certif/app/components/no-session-panel.gjs
  certif/app/components/no-session-panel.hbs
  certif/app/components/no-session-panel.js
  certif/package-lock.json
  certif/package.json
  certif/testem.js
Labels: :rocket: Ready to Merge, team-certif, cross-team

#9319 [TECH] Flaky sur database-builder test
  api/tests/integration/tooling/database-builder/database-builder_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, no-review-app

#9312 [TECH] Ajout d'un index sur la table `certification-subscriptions` (PIX-13028).
  api/db/migrations/20240610164300_catching-up-on-CORE-subscriptions.js
  api/db/migrations/20240618134300_catching-up-on-CORE-subscriptions.js
  api/db/migrations/20240618143134_add-index-on-certification-candidate-id-in-subscriptions-table.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#9304 [FEATURE][MON-PIX] Afficher une bannière informative lorsque l'adresse e-mail du compte est vérifiée (PIX-11710)
  api/lib/application/users/user-controller.js
  api/lib/domain/usecases/get-current-user.js
  api/src/identity-access-management/domain/models/User.js
  api/src/identity-access-management/domain/read-models/UserWithActivity.js
  api/src/identity-access-management/infrastructure/serializers/jsonapi/user-with-activity.serializer.js
  api/tests/acceptance/application/users/users-controller-get-current-user_test.js
  api/tests/identity-access-management/unit/domain/models/User.test.js
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/user-with-activity.serializer.test.js
  mon-pix/app/controllers/authenticated/user-account/connection-methods.js
  mon-pix/app/models/user.js
  mon-pix/app/templates/authenticated/user-account/connection-methods.hbs
  mon-pix/tests/acceptance/user-account/connection-methods_test.js
  mon-pix/tests/unit/controllers/authenticated/user-account/connection-methods_test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#9190 [FEATURE] Permettre la pérénité des `organization-learners` via l'import générique d'un import à l'autre (PIX-12788)
  api/src/prescription/learner-management/domain/models/ImportOrganizationLearnerSet.js
  api/src/prescription/learner-management/domain/usecases/import-from-feature/save-organization-learners-file.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/learner-management/unit/domain/models/ImportOrganizationLearnerSet_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-from-feature/save-organization-learners-file_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9317 [FEATURE] Cache les campagnes supprimées sur PixOrga (PIX-13019).
  api/src/prescription/campaign/infrastructure/repositories/campaign-report-repository.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-report-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9211 [FEATURE] Ajouter une route pour anonymiser en masse les données du GAR
  api/src/identity-access-management/application/anonymization/anonymization.admin.controller.js
  api/src/identity-access-management/application/anonymization/anonymization.admin.route.js
  api/src/identity-access-management/application/routes.js
  api/src/identity-access-management/domain/services/GarAnonymizationParser.js
  api/src/identity-access-management/domain/usecases/anonymize-gar-authentication-methods.usecase.js
  api/src/identity-access-management/infrastructure/repositories/authentication-method.repository.js
  api/src/identity-access-management/infrastructure/serializers/jsonapi/anonymize-gar-result.serializer.js
  api/tests/identity-access-management/acceptance/application/anonymization.admin.route.test.js
  api/tests/identity-access-management/integration/application/anonymization.admin.route.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/authentication-method.repository.test.js
  api/tests/identity-access-management/unit/application/anonymization.admin.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/anonymize-gar-authentication-methods.usecase.test.js
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/anonymize-gar-result.serializer.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9318 [FEATURE] Affiche la date de suppression d'une campagne sur PixAdmin (13054).
  admin/app/components/organizations/campaigns-section.gjs
  admin/app/components/organizations/campaigns-section.hbs
  admin/app/models/campaign.js
  admin/tests/integration/components/organizations/campaigns-section-test.js
  api/src/prescription/campaign/domain/models/CampaignManagement.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-management-repository.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-management-serializer.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-management-repository_test.js
  api/tests/prescription/campaign/unit/infrastrucutre/serializers/jsonapi/campaign-management-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-management.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9325 [FEATURE] Gestion des actions du Grain (PIX-12927)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/src/devcomp/infrastructure/repositories/element-repository.js
  api/tests/devcomp/integration/repositories/element-repository_test.js
  high-level-tests/e2e/cypress/integration/pix-app/modulix-a11y.feature
  mon-pix/app/components/module/grain.hbs
  mon-pix/app/components/module/grain.js
  mon-pix/app/components/module/stepper.gjs
  mon-pix/tests/integration/components/module/grain_test.gjs
  mon-pix/tests/integration/components/module/passage_test.gjs
  mon-pix/tests/integration/components/module/stepper_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#9309 [TECH] Migrer la route PATCH /api/account-recovery vers src/identity-access-management (PIX-12761)
  api/lib/application/account-recovery/account-recovery-controller.js
  api/lib/application/account-recovery/index.js
  api/lib/domain/models/index.js
  api/lib/domain/usecases/account-recovery/send-email-for-account-recovery.js
  api/lib/domain/usecases/index.js
  api/src/identity-access-management/application/account-recovery/account-recovery.controller.js
  api/src/identity-access-management/application/account-recovery/account-recovery.route.js
  api/src/identity-access-management/application/routes.js
  api/src/identity-access-management/domain/models/AccountRecoveryDemand.js
  api/src/identity-access-management/domain/services/sco-account-recovery.service.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/identity-access-management/domain/usecases/update-user-for-account-recovery.usecase.js
  api/src/identity-access-management/infrastructure/repositories/account-recovery-demand.repository.js
  api/tests/identity-access-management/acceptance/application/account-recovery/account-recovery.route.test.js
  api/tests/identity-access-management/integration/domain/usecases/update-user-for-account-recovery.usecase.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/account-recovery-demand.repository.test.js
  api/tests/identity-access-management/unit/application/account-recovery/account-recovery.controller.test.js
  api/tests/identity-access-management/unit/domain/services/sco-account-recovery.service.test.js
  api/tests/identity-access-management/unit/domain/usecases/update-user-for-account-recovery.usecase.test.js
  api/tests/integration/domain/usecases/account-recovery/update-user-for-account-recovery_test.js
  api/tests/tooling/domain-builder/factory/build-account-recovery-demand.js
  api/tests/unit/application/account-recovery/account-recovery-controller_test.js
  api/tests/unit/domain/usecases/account-recovery/send-email-for-account-recovery_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#9336 [FEATURE] Mettre à jour les URLs de la page d'accueil du support utilisateur
  api/lib/domain/services/mail-service.js
  api/tests/unit/domain/services/mail-service_test.js
  certif/app/services/url.js
  certif/tests/acceptance/session-add-students_test.js
  certif/tests/unit/services/url_test.js
  certif/translations/en.json
  certif/translations/fr.json
  mon-pix/app/services/url.js
  mon-pix/tests/acceptance/footer_test.js
  mon-pix/tests/acceptance/user-logged-menu_test.js
  mon-pix/tests/integration/components/Sitemap/content_test.js
  mon-pix/tests/unit/services/url_test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
Labels: :rocket: Ready to Merge, team-acces, team-certif, cross-team

#9333 [BUGFIX] Corriger la création de campagne en masse via PixAdmin (PIX-13071)
  api/db/migrations/20240620134506_replace-empty-string-by-null-in-idPixLabel-on-campaigns.js
  api/src/prescription/campaign/domain/models/CampaignForCreation.js
  api/tests/integration/migration/20240620134506_replace-empty-string-by-null-in-idPixLabel-on-campaigns_test.js
  api/tests/prescription/campaign/unit/domain/models/CampaignForCreation_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9335 [BUGFIX] Correction wording participation supprimée dans PixAdmin (PIX-13081)
  admin/app/components/campaigns/participations-section.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9322 [TECH] Migrer la route GET /api/account-recovery/{temporaryKey} vers src/identity-access-management (PIX-12525)
  api/lib/application/account-recovery/account-recovery-controller.js
  api/lib/application/account-recovery/index.js
  api/src/identity-access-management/application/account-recovery/account-recovery.controller.js
  api/src/identity-access-management/application/account-recovery/account-recovery.route.js
  api/src/identity-access-management/domain/usecases/get-account-recovery-details.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/tests/acceptance/application/account-recovery/account-recovery-route-get_test.js
  api/tests/identity-access-management/acceptance/application/account-recovery/account-recovery.route.test.js
  api/tests/identity-access-management/integration/application/account-recovery/account-recovery.controller.test.js
  api/tests/identity-access-management/unit/application/account-recovery/account-recovery.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/get-account-recovery-details.usecase.test.js
  api/tests/integration/application/account-recovery/account-recovery-controller_test.js
  api/tests/unit/application/account-recovery/account-recovery-controller_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#9330 [FEATURE] Mettre à jour le lien d'aide des épreuves avec téléchargement (PIX-13078).
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#9249 [FEATURE] Permettre la reconciliation d'un organization learner en fonction des paramètre de reconcialitaion prédéfini (PIX-12556)
  api/db/seeds/data/common/organization-learner-import-formats.js
  api/src/prescription/learner-management/application/organization-learners-controller.js
  api/src/prescription/learner-management/application/organization-learners-route.js
  api/src/prescription/learner-management/domain/errors.js
  api/src/prescription/learner-management/domain/models/CommonOrganizationLearner.js
  api/src/prescription/learner-management/domain/models/ImportOrganizationLearnerSet.js
  api/src/prescription/learner-management/domain/models/OrganizationLearnerImportFormat.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/domain/usecases/reconcile-common-organization-learner.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-repository.js
  api/tests/prescription/learner-management/acceptance/application/organization-learners-controller_test.js
  api/tests/prescription/learner-management/acceptance/application/organization-learners-route_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/learner-management/unit/application/organization-learners-controller_test.js
  api/tests/prescription/learner-management/unit/application/organization-learners-route_test.js
  api/tests/prescription/learner-management/unit/domain/models/CommonOrganizationLearner_test.js
  api/tests/prescription/learner-management/unit/domain/models/ImportOrganizationLearnerSet_test.js
  api/tests/prescription/learner-management/unit/domain/models/OrganizationLearnerImportFormat_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/reconcile-common-organization-learner_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9341 [BUGFIX] Correction du variant pix button des boutons Modifier et Dupliquer une campagne (PIX-13102)
  orga/app/components/campaign/settings/view.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9321 [TECH] Migrer la route POST /api/account-recovery vers src/identity-access-management (PIX-12740)
  api/lib/application/account-recovery/account-recovery-controller.js
  api/lib/application/account-recovery/index.js
  api/lib/domain/usecases/index.js
  api/lib/routes.js
  api/src/identity-access-management/application/account-recovery/account-recovery.controller.js
  api/src/identity-access-management/application/account-recovery/account-recovery.route.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/identity-access-management/domain/usecases/send-email-for-account-recovery.usecase.js
  api/tests/acceptance/application/account-recovery/account-recovery-route_test.js
  api/tests/identity-access-management/acceptance/application/account-recovery/account-recovery.route.test.js
  api/tests/identity-access-management/unit/application/account-recovery/account-recovery.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/send-email-for-account-recovery.usecase.test.js
  api/tests/unit/application/account-recovery/account-recovery-controller_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#9145 [FEATURE] Rendre inscription CORE optionnel (PIX-12213).
  api/lib/domain/models/CertificationCandidate.js
  api/lib/domain/services/certification-candidates-ods-service.js
  api/lib/infrastructure/repositories/sco-certification-candidate-repository.js
  api/src/certification/enrolment/domain/models/Subscription.js
  api/src/certification/enrolment/domain/usecases/add-certification-candidate-to-session.js
  api/src/certification/enrolment/domain/usecases/validate-sessions.js
  api/src/certification/enrolment/infrastructure/repositories/certification-candidate-repository.js
  api/src/certification/shared/domain/validators/certification-candidate-validator.js
  api/src/certification/shared/domain/validators/subscription-validator.js
  api/tests/certification/course/unit/domain/usecases/end-assessment-by-supervisor_test.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-controller-post-certification-candidate_test.js
  api/tests/certification/enrolment/integration/domain/services/certification-candidates-ods-service/certification-candidates-ods-service_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/certification-candidate-repository_test.js
  api/tests/certification/enrolment/unit/domain/models/CenterTypes_test.js
  api/tests/certification/enrolment/unit/domain/models/Center_test.js
  api/tests/certification/enrolment/unit/domain/models/SessionMassImportReport_test.js
  api/tests/certification/enrolment/unit/domain/models/Subscription_test.js
  api/tests/certification/enrolment/unit/domain/services/sessions-import-validation-service_test.js
  api/tests/certification/enrolment/unit/domain/usecases/add-certification-candidate-to-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/create-sessions_test.js
  api/tests/certification/enrolment/unit/domain/usecases/validate-sessions_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/certification-candidate-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-certification-candidate.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-subscription.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/models/CertificationCandidate_test.js
  api/tests/unit/domain/services/session-publication-service_test.js
  api/tests/unit/domain/usecases/find-students-for-enrolment_test.js
  api/tests/unit/domain/usecases/get-candidate-import-sheet-data_test.js
  api/tests/unit/domain/usecases/get-certification-candidate-subscription_test.js
  api/tests/unit/domain/usecases/get-session-results-by-result-recipient-email_test.js
  api/tests/unit/domain/usecases/import-certification-candidates-from-candidates-import-sheet_test.js
  api/tests/unit/domain/usecases/link-user-to-session-certification-candidate_test.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#9273 [FEATURE] Ajouter une route de duplication des profils cibles (PIX-11828).
  api/lib/application/target-profiles/index.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/domain/models/TargetProfileForCreation.js
  api/lib/domain/usecases/copy-target-profile.js
  api/lib/infrastructure/repositories/target-profile-repository.js
  api/src/shared/domain/constants.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/integration/domain/usecases/copy-target-profile_test.js
  api/tests/integration/infrastructure/repositories/target-profile-repository_test.js
  api/tests/shared/unit/domain/models/TargetProfileForCreation_test.js
  api/tests/unit/application/target-profiles/index_test.js
  api/tests/unit/domain/usecases/copy-target-profile_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#9315 [FEATURE] Afficher le statut de la dernière mission pour chaque élève dans Pix Orga (PIX-11200).
  api/db/database-builder/factory/build-mission-assessment.js
  api/src/school/application/mission-learner-controller.js
  api/src/school/application/mission-learner-route.js
  api/src/school/domain/models/MissionLearnerWithStatus.js
  api/src/school/domain/usecases/find-paginated-mission-learners.js
  api/src/school/domain/usecases/get-all-mission-learners.js
  api/src/school/infrastructure/repositories/mission-assessment-repository.js
  api/src/school/infrastructure/serializers/mission-learner-serializer.js
  api/tests/school/integration/application/mission-learner-controller_test.js
  api/tests/school/integration/domain/usecases/find-paginated-mission-learners_test.js
  api/tests/school/integration/infrastructure/repositories/mission-assessment-repository_test.js
  api/tests/school/unit/application/mission-learner-route_test.js
  api/tests/school/unit/infrastructure/repositories/mission-learner-repository_test.js
  orga/app/adapters/mission-learner.js
  orga/app/controllers/authenticated/missions/details/learners.js
  orga/app/models/mission-learner.js
  orga/app/routes/authenticated/missions/details/learners.js
  orga/app/templates/authenticated/missions/details/learners.hbs
  orga/app/templates/authenticated/missions/list.hbs
  orga/mirage/config.js
  orga/tests/acceptance/missions-details_test.js
  orga/tests/helpers/test-init.js
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9264 [TECH] Améliorer la structure des écrans d'instruction (PIX-12902).
  mon-pix/app/components/certification-instructions/step-five.hbs
  mon-pix/app/components/certification-instructions/step-four.hbs
  mon-pix/app/components/certification-instructions/step-four.js
  mon-pix/app/components/certification-instructions/step-one.hbs
  mon-pix/app/components/certification-instructions/step-one.js
  mon-pix/app/components/certification-instructions/step-three.hbs
  mon-pix/app/components/certification-instructions/step-three.js
  mon-pix/app/components/certification-instructions/step-two.hbs
  mon-pix/app/components/certification-instructions/step-two.js
  mon-pix/app/components/certification-instructions/steps.hbs
  mon-pix/app/styles/pages/_certification-instructions.scss
  mon-pix/app/templates/authenticated/certifications/information.hbs
  mon-pix/tests/integration/components/steps_test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-certif

#9329 [FEATURE] Anonymize GAR import (PIX-12809)
  admin/app/components/administration/anonymize-gar-import.hbs
  admin/app/components/administration/anonymize-gar-import.js
  admin/app/templates/authenticated/administration.hbs
  admin/tests/integration/components/administration/anonymize-gar-import_test.js
  admin/translations/en.json
  admin/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9287 [FEATURE] Duplication de la route d'ajout de candidat de certification (PIX-12977).
  api/src/certification/enrolment/application/certification-candidate-controller.js
  api/src/certification/enrolment/application/certification-candidate-route.js
  api/src/certification/enrolment/domain/usecases/add-certification-candidate-to-session.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-controller-post-certification-candidate_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-controller_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-route_test.js
  api/tests/certification/enrolment/unit/domain/usecases/add-certification-candidate-to-session_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, certif-next-gen

#9324 [FEATURE] Afficher le positionnement de chaque élève sur une mission donnée dans Pix Orga (PIX-11869).
  api/src/school/domain/models/MissionLearner.js
  api/src/school/domain/models/MissionLearnerWithStatus.js
  api/src/school/domain/models/SchoolLearner.js
  api/src/school/domain/services/get-mission-result.js
  api/src/school/domain/usecases/find-paginated-mission-learners.js
  api/src/school/infrastructure/repositories/mission-assessment-repository.js
  api/src/school/infrastructure/repositories/mission-learner-repository.js
  api/src/school/infrastructure/serializers/mission-learner-serializer.js
  api/tests/school/integration/application/mission-learner-controller_test.js
  api/tests/school/integration/domain/usecases/find-paginated-mission-learners_test.js
  api/tests/school/integration/infrastructure/repositories/mission-assessment-repository_test.js
  api/tests/school/unit/domain/services/get-mission-result-tests.js
  api/tests/school/unit/infrastructure/repositories/mission-learner-repository_test.js
  orga/app/models/mission-learner.js
  orga/app/templates/authenticated/missions/details/learners.hbs
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#9280 [FEATURE] Empêche un prescrit de partager une participation à une campagne supprimée (PIX-12691)
  api/lib/domain/models/Campaign.js
  api/lib/domain/read-models/participant-results/AssessmentResult.js
  api/lib/infrastructure/repositories/participant-result-repository.js
  api/src/prescription/campaign-participation/domain/models/CampaignParticipation.js
  api/tests/integration/infrastructure/repositories/participant-result-repository_test.js
  api/tests/prescription/campaign-participation/integration/application/learner-participation-route_test.js
  api/tests/prescription/campaign-participation/unit/domain/models/CampaignParticipation_test.js
  api/tests/tooling/domain-builder/factory/build-campaign.js
  api/tests/unit/domain/models/Campaign_test.js
  api/tests/unit/domain/read-models/participant-results/AssessmentResult_test.js
  mon-pix/mirage/serializers/campaign-participation-result.js
  mon-pix/tests/acceptance/resume-campaigns-with-type-assessment_test.js
  mon-pix/tests/acceptance/skill-review_test.js
  mon-pix/tests/unit/components/routes/campaigns/assessment/skill-review_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9327 [FEATURE] Utiliser les tokens de texte sur la page d'erreur surveillant sur Pix Certif (PIX-11587).
  certif/app/styles/pages/session-supervising-error.scss
Labels: :rocket: Ready to Merge, team-certif, Design Review OK

#9332 [FEATURE] Créer une navigation et déplacer la config sur la page administration sur Pix Admin (PIX-13066).
  admin/app/adapters/scoring-and-capacity-simulator-report.js
  admin/app/components/administration/certification/certification-scoring-configuration.gjs
  admin/app/components/administration/certification/competence-scoring-configuration.gjs
  admin/app/components/administration/certification/scoring-simulator.gjs
  admin/app/controllers/authenticated/certifications/configuration.js
  admin/app/controllers/authenticated/certifications/scoring-simulation.js
  admin/app/router.js
  admin/app/routes/authenticated/administration/index.js
  admin/app/styles/app.scss
  admin/app/styles/components/administration/certification/certification-scoring-configuration.scss
  admin/app/styles/components/administration/certification/competence-scoring-configuration.scss
  admin/app/styles/components/administration/certification/scoring-simulator.scss
  admin/app/styles/components/certification/scoring-simulation.scss
  admin/app/styles/globals/page.scss
  admin/app/templates/authenticated/administration.hbs
  admin/app/templates/authenticated/administration/certification.hbs
  admin/app/templates/authenticated/administration/common.hbs
  admin/app/templates/authenticated/certifications/configuration.hbs
  admin/app/templates/authenticated/certifications/scoring-simulation.hbs
  admin/tests/acceptance/administration_test.js
  admin/tests/acceptance/authenticated/certifications/scoring-simulation_test.js
  admin/tests/integration/components/administration/certification/certification-scoring-configuration_test.js
  admin/tests/integration/components/administration/certification/competence-scoring-configuration_test.js
  admin/tests/integration/components/administration/certification/scoring-simulator_test.js
  admin/tests/unit/adapters/scoring-and-capacity-simulator-report_test.js
  admin/tests/unit/components/administration/certification/scoring-simulator_test.js
  admin/tests/unit/controllers/authenticated/certifications/certification/scoring-simulation_test.js
  admin/tests/unit/routes/authenticated/administration/index_test.js
  admin/translations/en.json
  admin/translations/fr.json
Labels: :rocket: Ready to Merge, team-certif

#9346 [TECH] Migrer la route GET /api/users/me vers src/identity-access-management (PIX-12822)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/src/identity-access-management/application/user/user.controller.js
  api/src/identity-access-management/application/user/user.route.js
  api/src/identity-access-management/domain/usecases/get-current-user.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/tests/acceptance/application/users/users-controller-get-current-user_test.js
  api/tests/identity-access-management/acceptance/application/user.route.test.js
  api/tests/identity-access-management/unit/application/user.controller.test.js
  api/tests/identity-access-management/unit/application/user.route.test.js
  api/tests/identity-access-management/unit/domain/usecases/get-current-user.usecase.test.js
  api/tests/unit/application/users/index_test.js
  api/tests/unit/application/users/user-controller_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#9344 [FEATURE] Add API context to get organization membership (PIX-13074)
  api/lib/domain/models/Membership.js
  api/package.json
  api/scripts/generate-api-documentation.js
  api/src/shared/infrastructure/repositories/membership-repository.js
  api/src/team/API.md
  api/src/team/application/api/errors/MembershipNotFound.js
  api/src/team/application/api/models/organization-membership.js
  api/src/team/application/api/organization.js
  api/src/team/domain/errors.js
  api/src/team/domain/usecases/get-organization-membership.js
  api/tests/shared/integration/infrastructure/repositories/membership-repository_test.js
  api/tests/team/integration/domain/usecases/get-organization-membership.test.js
  api/tests/team/unit/application/api/models/organization-membership.test.js
  api/tests/team/unit/application/api/organization.test.js
  api/tests/team/unit/domain/usecases/get-organization-membership_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, team-prescription

#9355 [TECH] Migrer la route GET /api/users/{id}/authentication-methods vers src/identity-access-management (PIX-13082)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/lib/domain/usecases/find-user-authentication-methods.js
  api/src/identity-access-management/application/user/user.controller.js
  api/src/identity-access-management/application/user/user.route.js
  api/src/identity-access-management/domain/usecases/find-user-authentication-methods.usecase.js
  api/src/identity-access-management/infrastructure/serializers/jsonapi/authentication-methods.serializer.js
  api/tests/acceptance/application/users/get-user-authentication-methods-route-get_test.js
  api/tests/identity-access-management/acceptance/application/user.route.test.js
  api/tests/identity-access-management/unit/application/user.controller.test.js
  api/tests/identity-access-management/unit/application/user.route.test.js
  api/tests/identity-access-management/unit/domain/usecases/find-user-authentication-methods.usecase.test.js
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/authentication-methods.serializer.test.js
  api/tests/unit/application/users/index_test.js
  api/tests/unit/application/users/user-controller_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/authentication-methods-serializer_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#9356 [TECH] Migrer la route PATCH /api/users/{id}/pix-terms-of-service-acceptance vers src/identity-access-management (PIX-13083)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/lib/domain/usecases/accept-pix-last-terms-of-service.js
  api/src/identity-access-management/application/user/user.controller.js
  api/src/identity-access-management/application/user/user.route.js
  api/src/identity-access-management/domain/usecases/accept-pix-last-terms-of-service.usecase.js
  api/tests/acceptance/application/users/accept-pix-terms-of-service_test.js
  api/tests/identity-access-management/acceptance/application/user.route.test.js
  api/tests/identity-access-management/unit/application/user.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/accept-pix-terms-of-service.usecase.test.js
  api/tests/unit/application/users/user-controller_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#9357 [TECH] Migrer la route PATCH /api/users/{id}/pix-orga-terms-of-service-acceptance vers src/identity-access-management (PIX-13084)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/lib/domain/usecases/accept-pix-orga-terms-of-service.js
  api/src/identity-access-management/application/user/user.controller.js
  api/src/identity-access-management/application/user/user.route.js
  api/src/identity-access-management/domain/usecases/accept-pix-orga-terms-of-service.usecase.js
  api/src/shared/infrastructure/serializers/jsonapi/user-serializer.js
  api/tests/acceptance/application/users/accept-pix-orga-terms-of-service_test.js
  api/tests/identity-access-management/acceptance/application/user.route.test.js
  api/tests/identity-access-management/unit/application/user.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/accept-pix-orga-terms-of-service.usecase.test.js
  api/tests/unit/application/users/user-controller_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#9334 [BUGFIX] Corriger les infos renvoyées pour les analyses de campagne (PIX-13021)
  api/src/prescription/campaign/infrastructure/repositories/campaign-collective-result-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-participations-stats-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-report-repository.js
  api/src/prescription/campaign/infrastructure/repositories/helpers/get-latest-participation-shared-for-one-learner.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-collective-result-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-participations-stats-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-report-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/helpers/get-latest-participation-shared-for-one-learner_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9360 [BUGFIX] Force l'encodage UTF-8 pour la maj d'organisations en masse (PIX-13053)
  api/src/organizational-entities/domain/usecases/update-organizations-in-batch.usecase.js
  api/src/shared/infrastructure/serializers/csv/csv-parser.js
  api/tests/shared/unit/infrastructure/serializers/csv/csv-parser_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#9339 [FEATURE] CSS review pour les Stepper (PIX-12838)
  mon-pix/app/components/module/grain.hbs
  mon-pix/app/components/module/step.gjs
  mon-pix/app/components/module/stepper.gjs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/module/_grain.scss
  mon-pix/app/styles/components/module/_stepper.scss
Labels: :rocket: Ready to Merge, team-devcomp

#9366 [TECH] Mutualise les règles métier de la campagne dans l'API (PIX-13154)
  api/lib/domain/models/index.js
  api/lib/domain/usecases/archive-campaign-from-campaign-code.js
  api/src/prescription/campaign/domain/models/Campaign.js
  api/src/prescription/campaign/domain/models/CampaignForArchiving.js
  api/src/prescription/campaign/domain/usecases/archive-campaign.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/domain/usecases/unarchive-campaign.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-administration-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-for-archiving-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-management-repository.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-administration-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-for-archiving-repository_test.js
  api/tests/prescription/campaign/unit/domain/models/CampaignForArchiving_test.js
  api/tests/prescription/campaign/unit/domain/models/Campaign_test.js
  api/tests/prescription/campaign/unit/domain/usecases/archive-campaign_test.js
  api/tests/prescription/campaign/unit/domain/usecases/unarchive-campaign_test.js
  api/tests/unit/domain/usecases/archive-campaign-from-campaign-code_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#9323 [BUGFIX] Reparer l'affichage des habilitations des centres (PIX-12909).
  api/lib/domain/usecases/get-certification-point-of-contact.js
  api/lib/domain/usecases/update-certification-center.js
  api/lib/infrastructure/repositories/certification-center-for-admin-repository.js
  api/lib/infrastructure/repositories/complementary-certification-habilitation-repository.js
  api/lib/infrastructure/serializers/jsonapi/certification-center-for-admin-serializer.js
  api/src/certification/enrolment/domain/models/Center.js
  api/src/certification/enrolment/domain/models/CenterForAdmin.js
  api/src/certification/enrolment/domain/models/Habilitation.js
  api/src/certification/enrolment/domain/models/factories/CenterForAdminFactory.js
  api/src/certification/enrolment/domain/usecases/get-center-for-admin.js
  api/src/certification/enrolment/domain/usecases/get-mass-import-template-information.js
  api/src/certification/enrolment/domain/validators/center-validator.js
  api/src/certification/enrolment/domain/validators/habilitation-validator.js
  api/src/certification/enrolment/infrastructure/repositories/center-repository.js
  api/src/certification/session-management/domain/models/CenterForAdmin.js
  api/tests/acceptance/application/certification-centers/certification-center-controller_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/center-repository_test.js
  api/tests/certification/enrolment/unit/domain/models/Center_test.js
  api/tests/certification/enrolment/unit/domain/models/Habilitation_test.js
  api/tests/certification/enrolment/unit/domain/models/factories/CenterForAdminFactory_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-center-for-admin_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-mass-import-template-information_test.js
  api/tests/integration/domain/usecases/update-certification-center_test.js
  api/tests/integration/infrastructure/repositories/certification-center-for-admin-repository_test.js
  api/tests/tooling/domain-builder/factory/build-center-for-admin.js
  api/tests/tooling/domain-builder/factory/build-center.js
  api/tests/tooling/domain-builder/factory/build-habilitation.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-center-for-admin-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#9288 [TECH] Corrige le code pour suivre la règle de lint no-builtin-form-components.
  admin/app/components/badges/badge.hbs
  admin/app/components/certification-centers/creation-form.hbs
  admin/app/components/certification-centers/information-edit.hbs
  admin/app/components/certifications/candidate-edit-modal.hbs
  admin/app/components/certifications/certification/comments.hbs
  admin/app/components/certifications/certification/comments.js
  admin/app/components/certifications/info-field.hbs
  admin/app/components/complementary-certifications/attach-badges/index.hbs
  admin/app/components/login-form.hbs
  admin/app/components/organizations/information-section-edit.hbs
  admin/app/components/organizations/information-section-edit.js
  admin/app/components/organizations/places-lot-creation-form.hbs
  admin/app/components/organizations/target-profiles-section.hbs
  admin/app/components/stages/update-stage.hbs
  admin/app/components/target-profiles/organizations.hbs
  admin/app/components/trainings/create-or-update-training-form.hbs
  admin/app/components/users/user-overview.hbs
  admin/app/components/users/user-overview.js
  admin/app/controllers/authenticated/certifications/certification/informations.js
  admin/app/models/organization-form.js
  admin/app/models/user-form.js
  admin/app/styles/authenticated/organizations/get.scss
  admin/app/styles/components/badges/badge.scss
  admin/app/styles/components/certification-center-form.scss
  admin/app/styles/components/target-profiles/stage-form.scss
  admin/app/styles/components/trainings/create-or-update-training-form.scss
  admin/app/styles/components/users/user-overview.scss
  admin/app/styles/login.scss
  admin/app/templates/authenticated/certification-centers/get/team.hbs
  admin/app/templates/authenticated/certifications.hbs
  admin/app/templates/authenticated/sessions/session.hbs
  admin/app/templates/authenticated/trainings/training/target-profiles.hbs
  admin/package-lock.json
  admin/package.json
  admin/tests/acceptance/authenticated/target-profiles/target-profile/insights_test.js
  admin/tests/integration/components/trainings/create-or-update-training-form_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#9379 [FEATURE] Enregistrer le click sur le bouton suivant dans un Stepper sur Matomo (PIX-12857)
  mon-pix/app/components/module/grain.hbs
  mon-pix/app/components/module/passage.hbs
  mon-pix/app/components/module/passage.js
  mon-pix/app/components/module/stepper.gjs
  mon-pix/tests/integration/components/module/grain_test.gjs
  mon-pix/tests/integration/components/module/passage_test.gjs
  mon-pix/tests/integration/components/module/stepper_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#9384 [FEATURE] Spanish and Dutch translation from Phrase (PIX-13056)
  mon-pix/translations/es.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, Func Review OK, team-acces, team-certif

#9380 [FEATURE] Ajout de filtre dans organization-learner-api (Pix-13162)
  api/src/prescription/organization-learner/application/api/organization-learners-api.js
  api/src/prescription/organization-learner/domain/usecases/find-paginated-organization-learners.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-repository.js
  api/tests/prescription/organization-learner/integration/application/api/organization-learners-api_test.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/organization-learner/unit/application/api/organization-learners-api_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-paginated-organization-learners_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, 🎒👧🏽👦🏾 PIX JUNIOR

#9386 [FEATURE] Ajouter les règles de validation du Stepper (PIX-13143)
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module.js
Labels: :rocket: Ready to Merge, team-devcomp

#9390 [FEATURE] Améliorer l'accéssibilité du Stepper dans Modulix (PIX-12866)
  mon-pix/app/components/module/stepper.gjs
  mon-pix/tests/integration/components/module/grain_test.gjs
  mon-pix/tests/integration/components/module/passage_test.gjs
  mon-pix/tests/integration/components/module/stepper_test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-devcomp

#9368 [TECH] Migrer la route PATCH /api/users/{id}/has-seen-last-data-protection-policy-information vers src/identity-access-management (PIX-13120)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/lib/domain/usecases/remember-user-has-seen-last-data-protection-policy-information.js
  api/src/identity-access-management/application/user/user.controller.js
  api/src/identity-access-management/application/user/user.route.js
  api/src/identity-access-management/domain/usecases/remember-user-has-seen-last-data-protection-policy-information.usecase.js
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/tests/acceptance/application/users/remember-user-has-seen-last-data-protection-policy-information_test.js
  api/tests/identity-access-management/acceptance/application/user.route.test.js
  api/tests/identity-access-management/unit/application/user.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/remember-user-has-seen-last-data-protection-policy-information.usecase.test.js
  api/tests/unit/application/users/user-controller_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#9377 [TECH] Migrer la route POST /api/revoke vers src/identity-access-management (PIX-13121)
  api/lib/application/authentication/authentication-controller.js
  api/lib/application/authentication/index.js
  api/lib/domain/usecases/revoke-refresh-token.js
  api/src/identity-access-management/application/token/token.controller.js
  api/src/identity-access-management/application/token/token.route.js
  api/src/identity-access-management/domain/usecases/revoke-refresh-token.usecase.js
  api/src/shared/domain/services/token-service.js
  api/tests/identity-access-management/acceptance/application/token.route.test.js
  api/tests/identity-access-management/unit/application/token.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/revoke-refresh-token.usecase.test.js
  api/tests/integration/application/authentication/index_test.js
  api/tests/unit/application/authentication/authentication-controller_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#9394 [BUGFIX] Corriger le clignotement sur le bouton `Continuer` des grains (PIX-13097)
  mon-pix/app/components/module/grain.js
  mon-pix/app/models/passage.js
  mon-pix/tests/unit/models/modules/passage_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#9400 [FEATURE] Augmentation de la taille maximale de la payload pour la route /api/audit-log (PIX-13204)
  audit-logger/src/lib/controllers/create-audit-log.controller.ts
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#9391 [TECH] Passer la page d'affichage de la liste des sessions en .gjs (PIX-13149)
  certif/app/components/session-delete-confirm-modal.hbs
  certif/app/components/session-summary-list.hbs
  certif/app/components/session-summary-list.js
  certif/app/components/session-summary-row.hbs
  certif/app/components/session-summary-row.js
  certif/app/components/sessions/index.gjs
  certif/app/components/sessions/no-session-panel.gjs
  certif/app/components/sessions/panel-header.gjs
  certif/app/components/sessions/panel-header.hbs
  certif/app/components/sessions/panel-header.js
  certif/app/components/sessions/session-delete-confirm-modal.gjs
  certif/app/components/sessions/session-summary-list.gjs
  certif/app/components/sessions/session-summary-row.gjs
  certif/app/controllers/authenticated/sessions/list.js
  certif/app/templates/authenticated/sessions/list.hbs
  certif/tests/acceptance/session-list_test.js
  certif/tests/integration/components/session-delete-confirm-modal_test.js
  certif/tests/integration/components/sessions/index_test.gjs
  certif/tests/integration/components/sessions/no-session-panel_test.gjs
  certif/tests/integration/components/sessions/panel-header_test.gjs
  certif/tests/integration/components/sessions/session-delete-confirm-modal_test.gjs
  certif/tests/integration/components/sessions/session-summary-list_test.gjs
  certif/tests/unit/components/sessions/index_test.gjs
  certif/tests/unit/components/sessions/no-session-panel_test.gjs
  certif/tests/unit/components/sessions/panel-header_test.gjs
  certif/tests/unit/components/sessions/session-summary-list_test.gjs
  certif/tests/unit/controllers/authenticated/sessions/list_test.js
Labels: :rocket: Ready to Merge, team-certif

#9308 [BUGFIX] Correction du script de configuration
  scripts/configure.sh
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team
