Repository 1024pix/pix, pull requests merged in 2024-11, with the labels that each got.

#10461 [TECH] Amélioration et nettoyage des tests du scoring v3.
  api/src/certification/evaluation/domain/services/scoring/scoring-v3.js
  api/src/certification/scoring/domain/models/CertificationAssessmentHistory.js
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v3_test.js
  api/tests/tooling/learning-content-builder/build-learning-content.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#10451 [TECH] Suppression du FT_ENABLE_PIX_PLUS_LOWER_LEVEL (PIX-15053).
  api/lib/domain/events/handle-complementary-certifications-scoring.js
  api/sample.env
  api/src/certification/enrolment/domain/usecases/get-V2-user-certification-eligibility.js
  api/src/shared/config.js
  api/src/shared/infrastructure/validate-environment-variables.js
  api/tests/certification/enrolment/unit/domain/usecases/get-V2-user-certification-eligibility_test.js
  api/tests/integration/domain/event/handle-complementary-certifications-scoring_test.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
  api/tests/unit/domain/events/handle-complementary-certifications-scoring_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10459 [BUGFIX] Corriger la couleur de l'icone sur le lien se déconnecter dans PixOrga (PIX-14146)
  orga/app/components/layout/user-logged-menu.hbs
  orga/app/styles/components/dropdown.scss
  orga/app/styles/components/layout/user-logged-menu.scss
Labels: :rocket: Ready to Merge, Func Review OK, team-prescription

#10457 [FEATURE] Créer la page de vérification d'extension Pix Companion (PIX-15113).
  mon-pix/app/components/companion/check.gjs
  mon-pix/app/router.js
  mon-pix/app/routes/companion.js
  mon-pix/app/services/pix-companion.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/companion/check.scss
  mon-pix/app/templates/companion.hbs
  mon-pix/tests/integration/components/assessments/assessment-test.gjs
  mon-pix/tests/integration/components/certifications/start-test.gjs
  mon-pix/tests/integration/components/companion/blocker-test.gjs
  mon-pix/tests/integration/components/companion/check-test.gjs
  mon-pix/tests/unit/routes/companion-test.js
  mon-pix/tests/unit/services/pix-companion-test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-companion

#10455 [BUGFIX] Corriger l'affichage de la page Participant External Id (PIX-15141)
  mon-pix/app/components/routes/campaigns/invited/fill-in-participant-external-id.hbs
  mon-pix/app/styles/pages/_fill-in-participant-external-id.scss
  mon-pix/app/templates/campaigns/invited/fill-in-participant-external-id.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10453 [FEATURE] Renvoyer les infos du précédent pixScore, sa date de partage et l'évolution dans la route résultats d'une campagne de collecte de profils (PIX-14805)
  api/src/prescription/campaign/domain/read-models/CampaignProfilesCollectionParticipationSummary.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-profiles-collection-participation-summary-repository.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-profiles-collection-participation-summary-serializer.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-profiles-collection-participation-summary-repository_test.js
  api/tests/prescription/campaign/unit/domain/read-models/CampaignProfilesCollectionParticipationSummary_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/jsonapi/campaign-profiles-collection-participation-summary-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10458 [FEATURE] Nouvelle catégorisation des grains (PIX-14867)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-schema.js
  mon-pix/app/components/module/_grain.scss
  mon-pix/app/components/module/grain.gjs
  mon-pix/app/components/module/grain/_tag.scss
  mon-pix/app/components/module/grain/tag.gjs
  mon-pix/public/images/icons/icon-cognition.svg
  mon-pix/public/images/icons/icon-door-open.svg
  mon-pix/public/images/icons/icon-mountain.svg
  mon-pix/tests/integration/components/module/grain_test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-devcomp

#10372 [TECH] :package: mise à jour des dépendances de paquet utilisé chez pix junior (PIX-14976)
  junior/app/styles/app.scss
  junior/package-lock.json
  junior/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, dependencies, 🎒👧🏽👦🏾 PIX JUNIOR

#10437 [FEATURE] :art: Ajout d'un bouton dans la liste des missions pour aller sur la page de détail d'une mission (PIX-14992)
  orga/app/styles/app.scss
  orga/app/styles/pages/authenticated/mission/list.scss
  orga/app/templates/authenticated/missions/list.hbs
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10442 [FEATURE] :lipstick: Ajoute un tootltip sur un entête de colonne pour préciser un titre (PIX-15016)
  orga/app/components/organization-participant/table-headers.gjs
  orga/app/styles/pages/authenticated/organization-participants/list.scss
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10475 [FEATURE] Supprimer les colonnes "Identifiant externe" et "tarification part Pix" de la liste des candidats Pix Certif (PIX-15160).
  certif/app/components/sessions/session-details/enrolled-candidates/index.gjs
  certif/tests/acceptance/session-details-certification-candidates-test.js
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/index-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10466 [FEATURE] Supprimer le lien de la documentation v3 sur Pix Certif (PIX-15150).
  certif/app/components/layout/sidebar.gjs
  certif/tests/integration/components/layout/sidebar_test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10473 [FEATURE] Bloquer la finalisation de session selon certaines conditions sur Pix Certif (PIX-14717).
  certif/app/controllers/authenticated/sessions/details/parameters.js
  certif/app/models/certification-candidate.js
  certif/app/models/subscription.js
  certif/app/templates/authenticated/sessions/details/parameters.hbs
  certif/tests/acceptance/session-details-parameters-test.js
  certif/tests/unit/models/certification-candidate-test.js
  certif/tests/unit/models/subscription-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10477 [TECH] Retirer le loader avant la page de fin de parcours (PIX-15178)
  high-level-tests/e2e/cypress/integration/pix-app/campaign-assessment.feature
  mon-pix/app/components/pages/campaigns/results-loader.gjs
  mon-pix/app/components/pages/campaigns/results-loader.scss
  mon-pix/app/router.js
  mon-pix/app/routes/assessments/resume.js
  mon-pix/app/routes/campaigns/results-loader.js
  mon-pix/app/styles/app.scss
  mon-pix/app/templates/campaigns/results-loader.hbs
  mon-pix/public/images/illustrations/score-computation.svg
  mon-pix/tests/acceptance/resume-campaigns-with-type-assessment-test.js
  mon-pix/tests/acceptance/skill-review-test.js
  mon-pix/tests/integration/components/pages/campaigns/results-loader-test.gjs
  mon-pix/tests/unit/routes/assessments/resume-test.js
  mon-pix/tests/unit/routes/campaigns/results-loader-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, Func Review OK, team-evaluation, team-prescription

#10441 [TECH] Ajouter des index sur les tables pg
  api/db/migrations/20241028125952_add-indexes.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-captains, cross-team

#10492 [TECH] Limite la taille mémoire utilisée par node lors du seed de la base de données.
  api/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#10483 [TECH] Logger et prévenir le crash de container lorsque la création de release est en échec
  api/src/shared/infrastructure/lcms.js
  api/tests/shared/unit/infrastructure/lcms_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#10465 [TECH] Ajouter un feature toggle pour la suppression en autonomie du compte utilisateur (PIX-14909)
  api/sample.env
  api/src/shared/config.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10482 [BUGFIX] Positionner à gauche le logo sur la page de code école de Pix Junior
  junior/app/components/issue.gjs
  junior/app/styles/components/issue.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, Design Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10469 [TECH] Corriger un test flaky sur le tri des prescrits d'une organisation (PIX-15165)
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-learner-repository_test.js
Labels: Tech Review OK, team-prescription

#10485 [TECH] Migrer la route des resultats d'une participation dans son Bounded Context (PIX-15193)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/lib/domain/usecases/index.js
  api/src/prescription/campaign-participation/application/campaign-participation-controller.js
  api/src/prescription/campaign-participation/application/campaign-participation-route.js
  api/src/prescription/campaign-participation/domain/usecases/get-user-campaign-assessment-result.js
  api/src/prescription/campaign-participation/domain/usecases/index.js
  api/src/prescription/campaign-participation/infrastructure/repositories/participant-result-repository.js
  api/src/prescription/campaign-participation/infrastructure/serializers/jsonapi/participant-result-serializer.js
  api/tests/acceptance/application/users/get-user-campaign-assessment-result_test.js
  api/tests/integration/application/users/user-controller_test.js
  api/tests/prescription/campaign-participation/acceptance/application/campaign-participation-route_test.js
  api/tests/prescription/campaign-participation/integration/application/campaign-participation-route_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/participant-result-repository_test.js
  api/tests/prescription/campaign-participation/unit/application/campaign-participation-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/campaign-participation-route_test.js
  api/tests/prescription/campaign-participation/unit/domain/usecases/get-user-campaign-assessment-result_test.js
  api/tests/prescription/campaign-participation/unit/infrastructure/serializers/jsonapi/participant-result-serializer_test.js
  api/tests/unit/application/users/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#10439 [FEATURE] Informer l'utilisateur si la demande de réinitialisation de mot de passe est expirée ou déjà utilisée (PIX-15061)
  mon-pix/app/components/authentication/password-reset-demand/password-reset-demand-form.gjs
  mon-pix/app/routes/reset-password.js
  mon-pix/app/styles/pages/_sso-selection.scss
  mon-pix/app/templates/authentication/sso-selection.hbs
  mon-pix/tests/integration/components/authentication/password-reset-demand/password-reset-demand-form-test.gjs
  mon-pix/tests/unit/routes/password-reset-demand-test.js
  mon-pix/tests/unit/routes/reset-password-demand-test.js
  mon-pix/tests/unit/routes/reset-password-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Design Review OK

#10472 [BUGFIX] Réparer l'affichage du contenu spécifique de l'écran de fin de parcours (PIX-15109).
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/index.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results/hero/evaluation-results-hero-test.js
Labels: Tech Review OK, Func Review OK, team-evaluation

#10471 [BUGFIX] Corrige le problème de finalisation de session pour les sessions à cheval sur 2 calibrations (PIX-15005).
  api/src/certification/evaluation/domain/services/scoring/scoring-v3.js
  api/src/certification/scoring/domain/models/CertificationAssessmentHistory.js
  api/src/certification/scoring/domain/models/CertificationAssessmentScoreV3.js
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v3_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10486 [TECH] Réduire la latence lors de scale massif de containers ou de mise en production en chargeant le référentiel et en initialisant la connexion à la base de données avant de démarrer l'API
  api/db/knex-database-connection.js
  api/index.js
  api/src/shared/config.js
  api/src/shared/infrastructure/datasources/learning-content/datasource.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
Labels: :rocket: Ready to Merge, cross-team

#10414 [TECH] Migration de PixAdmin vers PixIcon / Partie Certif (PIX-14772)
  admin/app/components/certification-centers/habilitation-tag.gjs
  admin/app/components/certification-centers/information.scss
  admin/app/components/certifications/certification/details-v3.gjs
  admin/app/components/certifications/certification/details-v3.scss
  admin/app/components/certifications/certification/informations.gjs
  admin/app/components/certifications/certified-profile.gjs
  admin/app/components/certifications/issue-report.gjs
  admin/app/components/certifications/issue-report.scss
  admin/app/components/sessions/session-informations.gjs
  admin/app/styles/app.scss
  admin/app/styles/components/certified-profile.scss
  admin/app/styles/components/profile.scss
  admin/app/styles/components/target-profiles/details.scss
  admin/app/templates/authenticated/certifications/certification/informations.hbs
  admin/app/templates/authenticated/certifications/certification/profile.hbs
  admin/app/templates/authenticated/sessions/session/informations.hbs
  admin/tests/integration/components/certifications/certification/details-v3-test.gjs
  admin/tests/integration/components/certifications/certified-profile-test.gjs
  admin/tests/unit/components/certification-centers/habilitation-tag/index-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10487 [TECH] Redimensionner les colonnes du tableau des candidats sur Pix Certif.
  certif/app/components/import-candidates.js
  certif/app/components/sessions/session-details/enrolled-candidates/index.gjs
  certif/app/styles/globals/tables.scss
  certif/app/styles/pages/authenticated/sessions/details/certification-candidates.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10468 [TECH] Suppression du feature toggle FT_ENABLE_V3_ELIGIBILITY_CHECK (PIX-15054).
  api/sample.env
  api/src/certification/enrolment/application/user-controller.js
  api/src/certification/enrolment/infrastructure/serializers/certification-eligibility-serializer.js
  api/src/shared/config.js
  api/tests/certification/enrolment/acceptance/application/user-route_test.js
  api/tests/certification/enrolment/unit/application/user-controller_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/certification-eligibility-serializer_test.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10464 [TECH] Rendre les seeds de learners déterministes (PIX-15156)
  api/db/seeds/data/common/tooling/campaign-tooling.js
  api/db/seeds/data/team-devcomp/build-campaigns.js
  api/db/seeds/data/team-devcomp/build-organization.js
  api/db/seeds/data/team-devcomp/constants.js
  api/db/seeds/data/team-devcomp/data-builder.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, team-devcomp

#10498 [BUGFIX] Flaky validation de contenu des modules (PIX-15205)
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/module-datasource_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#10504 [BUGFIX] Corriger le chevauchement d'affichage des écrans focus et timer lors de la certification sur Pix App (PIX-14970).
  mon-pix/app/components/timed-challenge-instructions.hbs
  mon-pix/app/controllers/assessments/challenge.js
  mon-pix/app/styles/components/_focused-certification-challenge-instructions.scss
  mon-pix/app/styles/components/_timed-challenge-instructions.scss
  mon-pix/app/templates/components/focused-certification-challenge-instructions.hbs
  mon-pix/tests/acceptance/challenge-item-test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#10495 [TECH] Migrer la route campaign-participations-overview dans son BC (PIX-15202)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/lib/domain/usecases/index.js
  api/src/prescription/campaign-participation/application/campaign-participation-controller.js
  api/src/prescription/campaign-participation/application/campaign-participation-route.js
  api/src/prescription/campaign-participation/domain/usecases/find-user-campaign-participation-overviews.js
  api/src/prescription/campaign-participation/domain/usecases/index.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-overview-repository.js
  api/src/prescription/campaign-participation/infrastructure/serializers/jsonapi/campaign-participation-overview-serializer.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/tests/acceptance/application/users/users-controller-get-campaign-participation-overviews_test.js
  api/tests/prescription/campaign-participation/acceptance/application/campaign-participation-route_test.js
  api/tests/prescription/campaign-participation/integration/domain/usecases/find-user-campaign-participation-overviews_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-overview-repository_test.js
  api/tests/prescription/campaign-participation/unit/application/campaign-participation-controller_test.js
  api/tests/prescription/campaign-participation/unit/domain/usecases/find-user-campaign-participation-overviews_test.js
  api/tests/prescription/campaign-participation/unit/infrastructure/serializers/jsonapi/campaign-participation-overview-serializer_test.js
  api/tests/prescription/organization-learner/integration/domain/usecases/find-organization-learners-with-participations_test.js
  api/tests/unit/application/users/user-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#10505 [BUGFIX] Ajouter des paramètres dans l'URL du lien custom de fin de parcours (PIX-15184).
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/custom-organization-block.gjs
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/index.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results/hero/custom-organization-block-test.js
  mon-pix/tests/unit/components/campaigns/assessment/hero/custom-organization-block-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#10489 [FEATURE] Ajouter la barre de navigation Modulix (PIX-14864)
  mon-pix/app/components/module/_beta-banner.scss
  mon-pix/app/components/module/_passage.scss
  mon-pix/app/components/module/beta-banner.gjs
  mon-pix/app/components/module/element/_embed.scss
  mon-pix/app/components/module/element/embed.gjs
  mon-pix/app/components/module/passage.gjs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/pages/_module.scss
  mon-pix/app/templates/module/details.hbs
  mon-pix/tests/integration/components/module/passage_test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-devcomp

#10502 [FEATURE] Ajuster le wording et le design des pages d'authentification (PIX-15198)
  mon-pix/app/components/authentication/oidc-provider-selector.scss
  mon-pix/app/components/authentication/password-reset-demand/password-reset-demand-form.gjs
  mon-pix/app/components/authentication/password-reset-demand/password-reset-demand.scss
  mon-pix/app/components/authentication/sso-selection-form.gjs
  mon-pix/app/templates/authentication/sso-selection.hbs
  mon-pix/app/templates/password-reset-demand.hbs
  mon-pix/tests/integration/components/authentication/sso-selection-form-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10450 [FEATURE] Transcription vidéo finale - MODC-101
  api/src/devcomp/infrastructure/datasources/learning-content/modules/chatgpt-parle-francais.json
Labels: :rocket: Ready to Merge, contribution-modulix

#10510 [TECH] Migrer la mise à jour d'un profile cible dans son bounded context (PIX-15243)
  api/lib/application/target-profiles/index.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/domain/usecases/index.js
  api/src/prescription/target-profile/application/admin-target-profile-controller.js
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/src/prescription/target-profile/domain/usecases/index.js
  api/src/prescription/target-profile/domain/usecases/update-target-profile.js
  api/src/prescription/target-profile/infrastructure/repositories/target-profile-for-update-repository.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/prescription/target-profile/acceptance/application/admin-target-profile-route_test.js
  api/tests/prescription/target-profile/integration/infrastructure/repositories/target-profile-for-update-repository_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profile-controller_test.js
  api/tests/prescription/target-profile/unit/application/admin-target-profiles-route_test.js
  api/tests/prescription/target-profile/unit/domain/usecases/update-target-profile_test.js
  api/tests/unit/application/target-profiles/index_test.js
  api/tests/unit/application/target-profiles/target-profile-controller_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#10497 [BUGFIX] Utiliser la locale sur la demande de reset de password (PIX-15065)
  mon-pix/app/components/authentication/password-reset-demand/password-reset-demand-form.gjs
  mon-pix/app/services/request-manager-handlers/app-info-handler.js
  mon-pix/app/services/request-manager-handlers/auth-handler.js
  mon-pix/app/services/request-manager-handlers/json-handler.js
  mon-pix/app/services/request-manager-handlers/locale-handler.js
  mon-pix/app/services/request-manager.js
  mon-pix/tests/integration/components/authentication/password-reset-demand/password-reset-demand-form-test.gjs
  mon-pix/tests/unit/services/request-manager-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10496 [FEATURE] Afficher l'évolution des participants sur la page des résultats à une campagne collecte de profils (PIX-14807)
  api/db/seeds/data/team-prescription/build-campaigns.js
  api/db/seeds/data/team-prescription/build-organization-learners-with-multiple-participations.js
  api/db/seeds/data/team-prescription/constants.js
  orga/app/components/campaign/results/assessment-list.gjs
  orga/app/components/campaign/results/evolution-header.gjs
  orga/app/components/campaign/results/participation-evolution-icon.gjs
  orga/app/components/campaign/results/profile-list.gjs
  orga/app/components/ui/tooltip-with-icon.gjs
  orga/app/models/campaign-profiles-collection-participation-summary.js
  orga/app/styles/components/campaign/index.scss
  orga/app/styles/components/campaign/results/assessment-list.scss
  orga/app/styles/components/campaign/results/evolution-header.scss
  orga/app/styles/components/campaign/results/participation-evolution-icon.scss
  orga/app/styles/components/ui/tooltip-with-icon.scss
  orga/tests/integration/components/campaign/results/participation-evolution-icon-test.js
  orga/tests/integration/components/campaign/results/profile-list-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10519 [TECH] Suppression du script de backfill d'anonymisation
  api/src/identity-access-management/scripts/backfill-anonymized-users.js
  api/tests/identity-access-management/acceptance/scripts/backfill-anonymized-users.script.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#10514 [TECH] Migration de la route GET /api/certification-centers/{certificationCenterId}/members dans src (pix-15219)
  api/lib/application/certification-center-memberships/certification-center-membership-controller.js
  api/lib/application/certification-centers/certification-center-controller.js
  api/lib/application/certification-centers/index.js
  api/lib/application/users/user-controller.js
  api/src/shared/infrastructure/serializers/jsonapi/certification-center-membership.serializer.js
  api/src/team/application/certification-center-membership/certification-center-membership.controller.js
  api/src/team/application/certification-center-membership/certification-center-membership.route.js
  api/src/team/application/routes.js
  api/src/team/domain/usecases/find-certification-center-memberships-by-certification-center.usecase.js
  api/tests/team/acceptance/application/certification-center-membership.route.test.js
  api/tests/team/integration/domain/usecases/find-certification-center-memberships-by-certification-center.usecase.test.js
  api/tests/team/unit/application/certification-center-membership/certification-center-membership.controller.test.js
  api/tests/team/unit/domain/usecases/find-certification-center-memberships-by-certification-center.usecase.test.js
  api/tests/unit/application/certification-centers/certification-center-controller_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-center-membership.serializer.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#10382 [FEATURE] Active ou désactive l'oralisation pour un élève (PIX-14939)
  api/server.js
  api/src/organizational-entities/domain/models/OrganizationFeatureItem.js
  api/src/prescription/organization-learner-feature/application/organization-learner-features-controller.js
  api/src/prescription/organization-learner-feature/application/organization-learner-features-route.js
  api/src/prescription/organization-learner-feature/domain/usecases/create-organization-learner-feature.js
  api/src/prescription/organization-learner-feature/domain/usecases/index.js
  api/src/prescription/organization-learner-feature/domain/usecases/unlink-organization-learner-feature.js
  api/src/prescription/organization-learner-feature/routes.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-feature-repository.js
  api/src/shared/application/security-pre-handlers.js
  api/src/shared/domain/models/Feature.js
  api/src/shared/infrastructure/repositories/feature-repository.js
  api/tests/prescription/organization-learner-feature/acceptance/application/organization-learner-features_test.js
  api/tests/prescription/organization-learner-feature/integration/infrastructure/organization-learner-feature-repository_test.js
  api/tests/prescription/organization-learner-feature/unit/application/organization-learner-feature-route_test.js
  api/tests/shared/integration/application/security-pre-handlers_test.js
  api/tests/shared/integration/infrastructure/repositories/feature-repository_test.js
  orga/app/adapters/organization-participant.js
  orga/app/components/dropdown/icon-trigger.hbs
  orga/app/components/dropdown/item.hbs
  orga/app/components/dropdown/item.js
  orga/app/components/organization-participant/list.gjs
  orga/app/components/organization-participant/table-headers.gjs
  orga/app/components/organization-participant/table-row.gjs
  orga/app/controllers/authenticated/organization-participants/list.js
  orga/app/models/prescriber.js
  orga/app/services/current-user.js
  orga/app/styles/globals/tables.scss
  orga/app/templates/authenticated/organization-participants/list.hbs
  orga/tests/unit/adapters/organization-participant-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, 🎒👧🏽👦🏾 PIX JUNIOR

#10524 [TECH] Changer le nombre de retry du job ParticipationResultCalculationJob (PIX-15258)
  api/src/prescription/campaign-participation/infrastructure/repositories/jobs/participation-result-calculation-job-repository.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-result-calculation-job-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10528 [TECH] Changer les dates du bandeau SCO dans Pix Certif (PIX-15268).
  certif/tests/acceptance/authenticated-test.js
  certif/tests/acceptance/session-list-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-certif

#10525 [FEATURE] Barre de navigation : Afficher la barre d'avancement (PIX-14865)
  mon-pix/app/components/module/_navbar.scss
  mon-pix/app/components/module/_passage.scss
  mon-pix/app/components/module/navbar.gjs
  mon-pix/app/components/module/passage.gjs
  mon-pix/app/styles/app.scss
  mon-pix/tests/integration/components/module/navbar_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#10526 [FEATURE] Ajout de traductions pour les pages de fin de parcours (PIX-15259).
  mon-pix/translations/en.json
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#10529 [BUGFIX] Répare la finalisation de session quand une épreuve a été exclue de la calibration (PIX-15226).
  api/src/certification/evaluation/domain/services/scoring/scoring-v3.js
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v3_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10534 [BUGFIX] Empêcher un candidat de répondre à un challenge si celui-ci dispose d'une alerte validée (PIX-15263).
  api/lib/domain/usecases/correct-answer-then-update-assessment.js
  api/src/certification/shared/infrastructure/repositories/certification-challenge-live-alert-repository.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-challenge-live-alert-repository_test.js
  api/tests/unit/domain/usecases/correct-answer-then-update-assessment_test.js
  mon-pix/app/components/challenge/item.js
  mon-pix/tests/unit/components/challenge/challenge-item-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10535 [TECH] Définir la locale a FRENCH dans le cas des attestations (PIX-14836)
  api/src/profile/application/attestation-controller.js
  api/tests/profile/unit/application/attestation-controller_test.js
Labels: Tech Review OK, Func Review OK, team-evaluation, team-prescription

#10509 [FEATURE] Envoi de l'email de creation de compte en asynchrone (PIX-15112)
  api/lib/domain/services/mail-service.js
  api/lib/domain/usecases/create-and-reconcile-user-to-organization-learner.js
  api/lib/domain/usecases/index.js
  api/src/identity-access-management/domain/emails/create-account-creation.email.js
  api/src/identity-access-management/domain/usecases/create-user.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/shared/mail/application/jobs/send-email.job-controller.js
  api/src/shared/mail/domain/emails-default-variables.js
  api/src/shared/mail/domain/models/Email.js
  api/src/shared/mail/domain/models/EmailFactory.js
  api/src/shared/mail/infrastructure/repositories/email.repository.js
  api/src/shared/mail/infrastructure/repositories/jobs/send-email.job-repository.js
  api/tests/identity-access-management/unit/application/user/user.controller.test.js
  api/tests/identity-access-management/unit/domain/emails/create-account-creation.email_test.js
  api/tests/identity-access-management/unit/domain/usecases/create-user.usecase.test.js
  api/tests/shared/unit/mail/application/jobs/send-email.job-controller_test.js
  api/tests/shared/unit/mail/domain/email-default-variables_test.js
  api/tests/shared/unit/mail/domain/models/EmailFactory_test.js
  api/tests/shared/unit/mail/domain/models/Email_test.js
  api/tests/shared/unit/mail/infrastructure/repositories/email.repository_test.js
  api/tests/shared/unit/mail/infrastructure/repositories/jobs/send-email.job-repository_test.js
  api/tests/unit/domain/services/mail-service_test.js
  api/tests/unit/domain/usecases/create-and-reconcile-user-to-organization-learner_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10520 [TECH] Migrer le script de création de comptes en masse (PIX-15276)
  api/src/identity-access-management/scripts/mass-create-user-accounts.js
  api/tests/identity-access-management/integration/scripts/files/mass-create-user-accounts.csv
  api/tests/identity-access-management/integration/scripts/mass-create-user-accounts.script.test.js
  api/tests/unit/scripts/identity-access-management/mass-create-user-accounts.script.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10539 [BUGFIX] Réparer le usecase récupérant les étapes de présentation de parcours (PIX-15283).
  api/src/prescription/campaign/domain/usecases/get-presentation-steps.js
  api/tests/prescription/campaign/acceptance/application/campaign-route_test.js
  api/tests/prescription/campaign/integration/domain/usecases/get-presentation-steps_test.js
  api/tests/prescription/campaign/unit/domain/usecases/get-presentation-steps_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#10538 [BUGFIX] Ne pas tenir compte de la locale lors de la séléction du prochain challenge de certification (PIX-15008)
  api/src/certification/evaluation/domain/usecases/get-next-challenge.js
  api/tests/certification/evaluation/unit/domain/usecases/get-next-challenge_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10533 [FEATURE] API verifiant si un utilisateur a été candidat de certif (PIX-14984)
  api/src/certification/enrolment/application/api/candidates-api.js
  api/src/certification/enrolment/domain/usecases/has-been-candidate.js
  api/src/certification/enrolment/infrastructure/repositories/candidate-repository.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/candidate-repository_test.js
  api/tests/certification/enrolment/unit/application/api/candidates-api_test.js
  api/tests/certification/enrolment/unit/domain/usecases/has-been-candidate_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, team-certif

#10508 [FEATURE] Ne pas afficher la mention professionnalisante sur le PDF de l'attestation d'une certification v3 (PIX-15163).
  api/src/certification/results/domain/models/CertificationAttestation.js
  api/src/certification/results/infrastructure/repositories/certificate-repository.js
  api/src/certification/results/infrastructure/utils/pdf/AttestationViewModel.js
  api/tests/certification/results/integration/infrastructure/repositories/certificate-repository_test.js
  api/tests/certification/results/integration/infrastructure/utils/pdf/certification-attestation-pdf-v3-without-professionalizing-message_test.pdf
  api/tests/certification/results/integration/infrastructure/utils/pdf/certification-attestation-pdf_test.js
  api/tests/tooling/domain-builder/factory/build-certification-attestation.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10544 [FEATURE] Bloquer le scoring des certifications Pix+ seule (PIX-14716)
  api/lib/domain/events/handle-certification-rescoring.js
  api/src/certification/evaluation/application/jobs/certification-completed-job-controller.js
  api/src/certification/session-management/domain/models/CertificationAssessment.js
  api/tests/certification/evaluation/unit/application/jobs/certification-completed-job-controller_test.js
  api/tests/certification/session-management/unit/domain/models/CertificationAssessment_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10527 [BUGFIX] Ne pas permettre de partager une campagne STARTED (PIX-15151)
  api/src/prescription/campaign-participation/application/http-error-mapper-configuration.js
  api/src/prescription/campaign-participation/domain/errors.js
  api/src/prescription/campaign-participation/domain/models/CampaignParticipation.js
  api/src/prescription/campaign-participation/domain/usecases/begin-campaign-participation-improvement.js
  api/src/prescription/shared/application/http-error-mapper-configuration.js
  api/tests/prescription/campaign-participation/acceptance/application/learner-participation-route_test.js
  api/tests/prescription/campaign-participation/unit/domain/models/CampaignParticipation_test.js
  api/tests/prescription/campaign-participation/unit/domain/usecases/begin-campaign-participation-improvement_test.js
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/index.gjs
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/retry-or-reset-block.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results/hero/evaluation-results-hero-test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-prescription, team-captains

#10541 [FEATURE] Afficher le nombre de partages de profils dans les résultats d'un campagne collecte de profils (PIX-15266)
  api/src/prescription/campaign/domain/read-models/CampaignProfilesCollectionParticipationSummary.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-profiles-collection-participation-summary-repository.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-profiles-collection-participation-summary-serializer.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-profiles-collection-participation-summary-repository_test.js
  api/tests/prescription/campaign/unit/domain/read-models/CampaignProfilesCollectionParticipationSummary_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/jsonapi/campaign-profiles-collection-participation-summary-serializer_test.js
  orga/app/components/campaign/results/profile-list.gjs
  orga/app/models/campaign-profiles-collection-participation-summary.js
  orga/tests/integration/components/campaign/results/profile-list-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10537 [BUGFIX] Corriger l'inscription en local sur la double mire SCO (PIX-15290)
  api/lib/infrastructure/serializers/jsonapi/sco-organization-learner-serializer.js
  api/tests/acceptance/application/sco-organization-learners/sco-organization-learner-controller_test.js
  api/tests/unit/infrastructure/serializers/jsonapi/sco-organization-learner-serializer_test.js
  mon-pix/app/components/routes/register-form.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10516 [FEATURE] écouter/stopper la lecture d’une consigne (PIX-13754)
  api/db/database-builder/factory/prescription/organization-learners/build-organization-learner-feature.js
  api/db/migrations/20241106164209_add-index-on-organization-learner-features.js
  api/src/prescription/organization-learner/application/api/models/OrganizationLearner.js
  api/src/prescription/organization-learner/domain/read-models/OrganizationLearner.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-repository.js
  api/src/school/domain/models/OrganizationLearner.js
  api/src/school/domain/read-models/OrganizationLearnerDTO.js
  api/src/school/infrastructure/serializers/organization-learner.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/school/integration/domain/usecases/get-organization-learner-with-completed-mission-ids_test.js
  api/tests/school/unit/application/organization-learner-controller_test.js
  api/tests/school/unit/application/school-controller_test.js
  api/tests/school/unit/infrastructure/serializers/organization-learner_test.js
  junior/app/components/bubble.gjs
  junior/app/components/challenge/item/integration-test.js
  junior/app/components/challenge/template.hbs
  junior/app/components/oralization-button.gjs
  junior/app/components/robot-dialog.gjs
  junior/app/models/organization-learner.js
  junior/app/routes/assessment/challenge.js
  junior/app/routes/assessment/challenge_unit-test.js
  junior/app/routes/identified/missions/mission/introduction.js
  junior/app/styles/app.scss
  junior/app/styles/components/bubble.scss
  junior/app/styles/components/oralization-button.scss
  junior/app/templates/assessment/challenge.hbs
  junior/app/templates/identified/missions/list.hbs
  junior/app/templates/identified/missions/mission/introduction.hbs
  junior/public/images/icons/oralization-start.svg
  junior/public/images/icons/oralization-stop.svg
  junior/tests/acceptance/display-challenge-test.js
  junior/tests/acceptance/lesson-workflow-test.js
  junior/tests/integration/bubble_test.gjs
  junior/tests/integration/challenge_test.js
  junior/translations/fr.json
  orga/app/components/layout/sidebar.hbs
  orga/app/components/layout/sidebar.js
  orga/app/services/current-user.js
  orga/tests/integration/components/layout/sidebar-test.js
  orga/tests/unit/services/current-user-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10532 [TECH] Migrer la route `GET /api/users/{userId}/campaigns/{campaignId}/campaign-participations` vers son BC (PIX-15278)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/lib/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/campaign-participation/application/campaign-participation-controller.js
  api/src/prescription/campaign-participation/application/campaign-participation-route.js
  api/src/prescription/campaign-participation/domain/usecases/get-user-campaign-participation-to-campaign.js
  api/tests/acceptance/application/users/get-user-campaign-participation-to-campaign_test.js
  api/tests/integration/application/users/user-controller_test.js
  api/tests/prescription/campaign-participation/acceptance/application/campaign-participation-route_test.js
  api/tests/prescription/campaign-participation/integration/application/campaign-participation-route_test.js
  api/tests/prescription/campaign-participation/unit/application/campaign-participation-controller_test.js
  api/tests/prescription/campaign-participation/unit/application/campaign-participation-route_test.js
  api/tests/unit/application/users/index_test.js
  api/tests/unit/application/users/user-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#10550 [BUGFIX] Ne pas afficher l'encart attestation pour les participations a des campagnes sans lien avec les quêtes (PIX-15308)
  api/src/quest/domain/usecases/get-quest-results-for-campaign-participation.js
  api/tests/quest/integration/domain/usecases/get-quest-results-for-campaign-participation_test.js
Labels: Tech Review OK, Func Review OK, team-evaluation, team-prescription

#10531 [FEATURE] Permettre aux prescripteurs de télécharger les attestations de leurs élèves (PIX-13827)
  api/db/migrations/20241107142820_add-attestations-management-feature.js
  api/db/seeds/data/common/constants.js
  api/db/seeds/data/common/feature-builder.js
  api/db/seeds/data/common/organization-builder.js
  api/src/shared/domain/constants.js
  orga/app/components/attestations/sixth-grade.gjs
  orga/app/components/layout/sidebar.hbs
  orga/app/components/layout/sidebar.js
  orga/app/controllers/authenticated/attestations.js
  orga/app/models/prescriber.js
  orga/app/router.js
  orga/app/routes/authenticated/attestations.js
  orga/app/services/current-user.js
  orga/app/services/file-saver.js
  orga/app/styles/app.scss
  orga/app/styles/pages/authenticated/attestations.scss
  orga/app/templates/authenticated/attestations.hbs
  orga/tests/integration/components/attestations/sixth-grade-test.gjs
  orga/tests/integration/components/layout/sidebar-test.js
  orga/tests/unit/controllers/authenticated/attestations-test.js
  orga/tests/unit/models/prescriber-test.js
  orga/tests/unit/routes/authenticated/attestations-test.js
  orga/tests/unit/services/current-user-test.js
  orga/tests/unit/services/file-saver-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription

#10521 [TECH] Permettre de supprimer une liste de learners de l'orga (PIX-15244)
  api/scripts/prod/delete-organization-learners-from-organization.js
  api/src/prescription/learner-management/application/http-error-mapper-configuration.js
  api/src/prescription/learner-management/application/organization-learners-controller.js
  api/src/prescription/learner-management/application/organization-learners-route.js
  api/src/prescription/learner-management/domain/errors.js
  api/src/prescription/learner-management/domain/models/OrganizationLearnerList.js
  api/src/prescription/learner-management/domain/usecases/delete-organization-learners.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-repository.js
  api/src/shared/application/security-pre-handlers.js
  api/tests/prescription/learner-management/integration/application/organization-learners-route_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/learner-management/unit/domain/models/OrganizationLearnerList_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/delete-organization-learners_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10558 [TECH] Supprimer le script permettant de retirer certaines habilitations des centres (PIX-15312).
  api/scripts/certification/next-gen/remove-not-clea-centers-habilitations.js
  api/src/certification/configuration/domain/usecases/index.js
  api/src/certification/configuration/domain/usecases/remove-center-habilitations-except-clea.js
  api/src/certification/configuration/infrastructure/repositories/habilitation-repository.js
  api/tests/certification/configuration/integration/infrastructure/repositories/habilitation-repository_test.js
  api/tests/integration/scripts/certification/next-gen/remove-not-clea-centers-habilitations_test.js
Labels: :rocket: Ready to Merge, team-certif, no-review-app

#10555 [TECH] Suppression des scripts de conversion des centres en V3 (PIX-14274).
  api/scripts/certification/next-gen/convert-all-centers-to-v3.js
  api/scripts/certification/next-gen/convert-centers-to-v3.js
  api/src/certification/configuration/application/jobs/convert-center-to-v3-job-controller.js
  api/src/certification/configuration/domain/models/ConvertCenterToV3Job.js
  api/src/certification/configuration/domain/usecases/convert-centers-to-v3.js
  api/src/certification/configuration/domain/usecases/convert-sessions-with-no-courses-to-v3.js
  api/src/certification/configuration/domain/usecases/delete-unstarted-sessions.js
  api/src/certification/configuration/domain/usecases/find-and-trigger-v2-center-to-convert-in-v3.js
  api/src/certification/configuration/domain/usecases/index.js
  api/src/certification/configuration/infrastructure/repositories/center-repository.js
  api/src/certification/configuration/infrastructure/repositories/index.js
  api/src/certification/configuration/infrastructure/repositories/jobs/convert-center-to-v3-job-repository.js
  api/src/certification/configuration/infrastructure/repositories/sessions-repository.js
  api/src/certification/enrolment/application/api/sessions-api.js
  api/tests/certification/configuration/integration/application/jobs/convert-center-to-v3-job-controller_test.js
  api/tests/certification/configuration/integration/infrastructure/repositories/center-repository_test.js
  api/tests/certification/configuration/integration/infrastructure/repositories/jobs/convert-center-to-v3-job-repository_test.js
  api/tests/certification/configuration/integration/infrastructure/repositories/sessions-repository_test.js
  api/tests/certification/configuration/unit/application/jobs/convert-center-to-v3-job-controller_test.js
  api/tests/certification/configuration/unit/domain/models/ConvertCenterToV3Job_test.js
  api/tests/certification/configuration/unit/domain/usecases/convert-centers-to-v3_test.js
  api/tests/certification/configuration/unit/domain/usecases/convert-sessions-with-no-courses-to-v3_test.js
  api/tests/certification/configuration/unit/domain/usecases/delete-unstarted-sessions_test.js
  api/tests/certification/configuration/unit/domain/usecases/find-and-trigger-v2-center-to-convert-in-v3_test.js
  api/tests/certification/enrolment/unit/application/api/sessions-api_test.js
  api/tests/integration/scripts/certification/next-gen/convert-all-centers-to-v3_test.js
  api/tests/integration/scripts/certification/next-gen/convert-centers-to-v3_test.js
Labels: :rocket: Ready to Merge, team-certif, no-review-app

#10552 [TECH] Suppression du script d'éligibilité V2 (PIX-15191).
  api/scripts/certification/get-user-certification-eligibility.js
  api/src/certification/enrolment/domain/usecases/get-V2-user-certification-eligibility.js
  api/tests/certification/enrolment/unit/domain/usecases/get-V2-user-certification-eligibility_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-user-certification-eligibility_test.js
Labels: :rocket: Ready to Merge, team-certif, no-review-app

#10560 [TECH] Déplacement du code relatif à la gestion du référentiel depuis lib vers src/shared (PIX-15315)
  api/lib/application/cache/cache-controller.js
  api/lib/application/cache/index.js
  api/lib/routes.js
  api/src/shared/application/lcms/index.js
  api/src/shared/application/lcms/lcms-controller.js
  api/src/shared/domain/usecases/index.js
  api/tests/shared/acceptance/application/lcms/lcms-controller_test.js
  api/tests/shared/unit/application/lcms/index_test.js
  api/tests/shared/unit/application/lcms/lcms-controller_test.js
  api/tests/unit/application/cache/cache-controller_test.js
  api/tests/unit/application/cache/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-contenu, Bounded-context-migration

#10565 [FEATURE] Ajouter le profileRewardId dans le endpoint qui remonte les résultats d'une quête (PIX-15322)
  api/src/quest/domain/models/QuestResult.js
  api/src/quest/infrastructure/repositories/reward-repository.js
  api/src/quest/infrastructure/serializers/quest-result-serializer.js
  api/src/shared/config.js
  api/tests/quest/unit/infrastructure/repositories/reward-repository_test.js
  api/tests/quest/unit/infrastructure/serializers/quest-result-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription

#10545 [TECH] 🪓 suppression de la route `/api/users/{userId}/campaign-participations` (Pix-15301)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/lib/domain/usecases/find-latest-ongoing-user-campaign-participations.js
  api/lib/infrastructure/repositories/campaign-participation-repository.js
  api/tests/acceptance/application/users/users-controller-get-campaign-participations_test.js
  api/tests/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/shared/acceptance/application/security-pre-handlers_test.js
  api/tests/unit/application/users/user-controller_test.js
  api/tests/unit/domain/usecases/find-latest-ongoing-user-campaign-participation_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10549 [FEATURE] Masquer le pourcentage de progression dans la navbar Modulix (PIX-15306)
  mon-pix/app/components/module/navbar.gjs
  mon-pix/tests/integration/components/module/navbar_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#10548 [TECH] Suppression de paramètres dans le simulateur de déroulé (PIX-15213).
  api/src/certification/flash-certification/application/scenario-simulator-controller.js
  api/src/certification/flash-certification/application/scenario-simulator-route.js
  api/src/certification/flash-certification/domain/models/FlashAssessmentSuccessRateHandler.js
  api/src/certification/flash-certification/domain/models/FlashAssessmentSuccessRateHandlerLinearStrategy.js
  api/src/certification/flash-certification/domain/usecases/simulate-flash-assessment-scenario.js
  api/src/shared/infrastructure/datasources/learning-content/challenge-datasource.js
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/src/shared/infrastructure/utils/random.js
  api/tests/acceptance/application/scenario-simulator/scenario-simulator-controller_test.js
  api/tests/certification/flash-certification/integration/application/scenario-simulator-controller_test.js
  api/tests/certification/flash-certification/unit/domain/models/FlashAssessmentSuccessRateHandler_test.js
  api/tests/certification/shared/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/shared/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/shared/unit/infrastructure/datasources/learning-content/challenge-datasource_test.js
  api/tests/shared/unit/infrastructure/utils/random_test.js
  api/tests/tooling/domain-builder/factory/build-flash-assessment-algorithm-success-rate-handler.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/usecases/simulate-flash-assessment-scenario_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10411 [FEATURE] Ajoute un encart sur les attestations sur la page de fin de parcours (PIX-13826).
  api/db/seeds/data/team-prescription/build-quests.js
  api/src/profile/application/index.js
  api/src/shared/infrastructure/temporary-storage/TemporaryStorage.js
  api/tests/shared/unit/infrastructure/temporary-storage/TemporaryStorage_test.js
  mon-pix/app/adapters/quest-result.js
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/attestation-result.gjs
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/attestation-result.scss
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/index.gjs
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results.gjs
  mon-pix/app/models/quest-result.js
  mon-pix/app/routes/campaigns/assessment/results.js
  mon-pix/app/styles/app.scss
  mon-pix/mirage/config.js
  mon-pix/mirage/routes/get-quest-results.js
  mon-pix/public/images/illustrations/results/attestation-computing.svg
  mon-pix/public/images/illustrations/results/attestation-obtained.svg
  mon-pix/tests/integration/components/campaign/skill-review/attestation-result-test.gjs
  mon-pix/tests/unit/routes/campaigns/assessment/results.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription

#10536 [TECH] Migrer la route POST /api/admin/certification-centers dans src (PIX-15277)
  api/lib/application/certification-centers/certification-center-controller.js
  api/lib/application/certification-centers/index.js
  api/lib/domain/usecases/index.js
  api/scripts/create-organizations-with-tags-and-target-profiles.js
  api/src/organizational-entities/application/certification-center/certification-center.admin.controller.js
  api/src/organizational-entities/application/certification-center/certification-center.admin.route.js
  api/src/organizational-entities/domain/usecases/create-certification-center.usecase.js
  api/src/organizational-entities/domain/usecases/index.js
  api/src/organizational-entities/infrastructure/repositories/certification-center-for-admin.repository.js
  api/src/organizational-entities/infrastructure/repositories/complementary-certification-habilitation.repository.js
  api/src/organizational-entities/infrastructure/repositories/data-protection-officer.repository.js
  api/src/organizational-entities/infrastructure/serializers/jsonapi/certification-center/certification-center-for-admin.serializer.js
  api/src/organizational-entities/scripts/add-or-update-certification-centers-dpo-info.js
  api/tests/acceptance/application/certification-centers/certification-center-controller_test.js
  api/tests/integration/domain/usecases/create-organization_test.js
  api/tests/integration/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
  api/tests/integration/domain/usecases/update-certification-center-data-protection-officer-information_test.js
  api/tests/integration/domain/usecases/update-certification-center_test.js
  api/tests/integration/infrastructure/repositories/data-protection-officer-repository_test.js
  api/tests/organizational-entities/acceptance/application/certification-center/certification-center.admin.route.test.js
  api/tests/organizational-entities/acceptance/application/certification-center/certification-center.controller.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/certification-center-for-admin-repository_test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/complementary-certification-habilitation.repository.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/data-protection-officer.repository.test.js
  api/tests/organizational-entities/unit/application/certification-center/certification-center.admin.controller.test.js
  api/tests/organizational-entities/unit/domain/usecases/create-certification-center.usecase.test.js
  api/tests/organizational-entities/unit/infrastructure/serializers/jsonapi/certification-center/certification-center-for-admin.serializer.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10542 [FEATURE] Utiliser le composant Pix Toast dans Pix Certif (PIX-15280).
  certif/app/components/add-student-list.js
  certif/app/components/import-candidates.js
  certif/app/components/members-list-item.js
  certif/app/components/members-list.js
  certif/app/components/session-finalization/uncompleted-reports-information-step.js
  certif/app/components/session-supervising/candidate-in-list.js
  certif/app/components/sessions/session-details/clea-results-download.gjs
  certif/app/components/sessions/session-details/enrolled-candidates/index.gjs
  certif/app/components/sessions/session-details/index.gjs
  certif/app/components/sessions/session-list.gjs
  certif/app/controllers/authenticated/sessions/details/certification-candidates.js
  certif/app/controllers/authenticated/sessions/finalize.js
  certif/app/controllers/authenticated/sessions/import.js
  certif/app/controllers/authenticated/sessions/new.js
  certif/app/controllers/authenticated/sessions/update.js
  certif/app/controllers/authenticated/team/invite.js
  certif/app/controllers/authenticated/team/list.js
  certif/app/controllers/authenticated/team/list/invitations.js
  certif/app/controllers/terms-of-service.js
  certif/app/routes/authenticated/sessions/finalize.js
  certif/app/routes/session-supervising.js
  certif/app/styles/app.scss
  certif/app/styles/components/ember-cli-notifications-ie-fallback.scss
  certif/app/templates/application.hbs
  certif/package-lock.json
  certif/package.json
  certif/tests/acceptance/session-add-students-test.js
  certif/tests/acceptance/session-details-certification-candidates-test.js
  certif/tests/acceptance/session-details-parameters-test.js
  certif/tests/acceptance/session-details-test.js
  certif/tests/acceptance/session-finalization-test.js
  certif/tests/integration/components/add-student-list-test.js
  certif/tests/test-helper.js
  certif/tests/unit/components/add-student-list-test.js
  certif/tests/unit/components/members-list-item-test.js
  certif/tests/unit/components/members-list-test.js
  certif/tests/unit/components/session-supervising/candidate-in-list-test.js
  certif/tests/unit/controllers/authenticated/sessions/import-test.js
  certif/tests/unit/controllers/authenticated/team/invite-test.js
  certif/tests/unit/controllers/authenticated/team/list/invitations-test.js
  certif/tests/unit/controllers/terms-of-service-test.js
  certif/tests/unit/routes/authenticated/sessions/finalize-test.js
  certif/tests/unit/routes/session-supervising-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-certif

#10543 [REFACTOR] Améliorer les affichages conditionnels de l'en-tête de fin de parcours (PIX-15274).
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/index.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results/hero/evaluation-results-hero-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#10559 [FEATURE] ajout de metrics sur les visites du détail de participations partagées (PIX-14814)
  mon-pix/app/components/campaign-participation-overview/card/ended.hbs
  mon-pix/app/components/campaign-participation-overview/card/ended.js
  mon-pix/tests/integration/components/campaign-participation-overview/card/ended-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10491 [FEATURE] Mise à jour du CTA de fin de parcours autonomes (PIX-15070).
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/index.gjs
  mon-pix/app/routes/authentication/login.js
  mon-pix/tests/integration/components/campaigns/assessment/results/hero/evaluation-results-hero-test.js
Labels: :eyes: Tech Review Needed, :eyes: Func Review Needed, team-evaluation

#10568 [BUGFIX] Utiliser la bonne couleur sur le logo d'informations des places dans PixOrga(PIX-15281)
  orga/app/styles/components/places/place-info.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10579 [BUGFIX] Ne pas restreindre le scoring d'une session de certification v3 aux épreuves de la locale courante (PIX-15330).
  api/src/certification/evaluation/domain/services/scoring/scoring-v3.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10582 [FEATURE] Faire une passe sur l'accessibilité pour l'élément Flashcards (PIX-14427)
  mon-pix/app/components/module/element/flashcards/_flashcards-card.scss
  mon-pix/app/components/module/element/flashcards/_flashcards.scss
  mon-pix/app/components/module/element/flashcards/flashcards-intro-card.gjs
  mon-pix/app/components/module/element/flashcards/flashcards.gjs
  mon-pix/tests/integration/components/module/flashcards-intro-card_test.gjs
  mon-pix/tests/integration/components/module/flashcards_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#10551 [TECH] Mettre à jour des tests suite à la suppression de Bookshelf (PIX-10677)
  api/src/shared/domain/models/UserOrgaSettings.js
  api/src/team/infrastructure/repositories/user-orga-settings-repository.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user.repository.test.js
  api/tests/team/integration/infrastructure/repositories/organization-invitation.repository.test.js
  api/tests/team/integration/infrastructure/repositories/user-orga-settings-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#10547 [TECH] ajoute un script de suppression / anonymisation d'un prescrit (pix-15254)
  api/scripts/prod/delete-and-anonymise-organization-learners.js
  api/tests/integration/scripts/prod/delete-and-anonymise-organization-learners_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10592 [BUGFIX] Afficher l'onglet Récompenses de fin de parcours uniquement sous condition (PIX-15052).
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-tabs/index.gjs
  mon-pix/tests/unit/components/campaigns/assessment/results/evaluation-results-tabs/index-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#10576 [FEATURE] Partager sa récompense de quête à une organisation (PIX-15314)
  api/db/database-builder/factory/build-organizations-profile-rewards.js
  api/db/migrations/20240820101213_add-profile-rewards-table.js
  api/db/migrations/20241118134739_create-organizations-profile-rewards-table.js
  api/db/seeds/data/team-prescription/build-quests.js
  api/src/profile/application/http-error-mapper-configuration.js
  api/src/profile/application/index.js
  api/src/profile/application/profile-controller.js
  api/src/profile/domain/errors.js
  api/src/profile/domain/models/Campaign.js
  api/src/profile/domain/usecases/index.js
  api/src/profile/domain/usecases/share-profile-reward.js
  api/src/profile/infrastructure/repositories/campaign-participation-repository.js
  api/src/profile/infrastructure/repositories/organization-profile-reward-repository.js
  api/src/profile/infrastructure/repositories/profile-reward-repository.js
  api/src/shared/domain/types/identifiers-type.js
  api/tests/profile/acceptance/application/share-profile-reward-route_test.js
  api/tests/profile/integration/domain/usecases/share-profile-reward_test.js
  api/tests/profile/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/profile/integration/infrastructure/repositories/organizations-profile-rewards-repository_test.js
  api/tests/profile/integration/infrastructure/repositories/profile-reward-repository_test.js
  api/tests/profile/unit/application/http-error-mapper-configuration_test.js
  api/tests/profile/unit/application/profile-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription

#10573 [FEATURE] Rendre asynchrone l'import SUP sur PixOrga (Pix-13792)
  api/src/prescription/learner-management/application/jobs/import-sup-organization-learners-job-controller.js
  api/src/prescription/learner-management/application/sup-organization-management-controller.js
  api/src/prescription/learner-management/application/sup-organization-management-route.js
  api/src/prescription/learner-management/domain/models/ImportSupOrganizationLearnersJob.js
  api/src/prescription/learner-management/domain/usecases/import-sup-organization-learners.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/domain/usecases/replace-sup-organization-learners.js
  api/src/prescription/learner-management/domain/usecases/validate-csv-file.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/import-sup-organization-learners-job-repository.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-import-repository.js
  api/tests/prescription/learner-management/acceptance/application/sup-organization-management-route_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-sup-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-import-repository_test.js
  api/tests/prescription/learner-management/unit/application/jobs/import-sup-organization-learners-job-controller_test.js
  api/tests/prescription/learner-management/unit/application/sup-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-sup-organization-learners_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/replace-sup-organization-learners_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/validate-csv-file_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10572 [BUGFIX] Utiliser la date de réconciliation du candidat lors du scoring de la certification en V2 (PIX-15138).
  api/src/certification/evaluation/domain/services/scoring/scoring-v2.js
  api/src/certification/session-management/domain/models/CertificationAssessment.js
  api/src/shared/domain/models/PlacementProfile.js
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v2_test.js
  api/tests/certification/session-management/acceptance/application/certification-course-route_test.js
  api/tests/certification/session-management/acceptance/application/finalize-route_test.js
  api/tests/certification/shared/fixtures/certification-course.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#10588 [TECH] ♻️ migre la route reconciliation sup (Pix-15334)
  api/lib/application/sup-organization-learners/index.js
  api/lib/application/sup-organization-learners/sup-organization-learner-controller.js
  api/lib/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user.js
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/reconcile-sco-organization-learner-manually.js
  api/lib/infrastructure/repositories/organization-learner-repository.js
  api/lib/routes.js
  api/src/prescription/learner-management/application/sup-organization-management-controller.js
  api/src/prescription/learner-management/application/sup-organization-management-route.js
  api/src/prescription/learner-management/domain/usecases/reconcile-sup-organization-learner.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-repository.js
  api/tests/acceptance/application/sup-organization-learners/sup-organization-learner-controller_test.js
  api/tests/integration/application/sup-organization-learners/index_test.js
  api/tests/integration/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
  api/tests/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/learner-management/acceptance/application/sup-organization-management-route_test.js
  api/tests/prescription/learner-management/integration/application/sup-organization-management-routes_test.js
  api/tests/prescription/learner-management/integration/domain/usecases/reconcile-sup-organization-learner_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/unit/domain/usecases/reconcile-sco-organization-learner-manually_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#10586 [TECH] Nouveau contexte Privacy et API (PIX-14907)
  api/src/privacy/application/api/users-api.js
  api/src/privacy/domain/usecases/can-self-delete-account.usecase.js
  api/src/privacy/domain/usecases/index.js
  api/tests/privacy/integration/domain/usecases/can-self-delete-account.usecase.test.js
  api/tests/privacy/unit/application/api/users-api.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#10578 [BUGFIX] Corriger l'affichage du tableau des résultats d'une campagne de collecte de profils (PIX-15329)
  orga/app/components/campaign/results/profile-list.gjs
  orga/tests/integration/components/campaign/results/profile-list-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10589 [FEATURE] Ajout de la route GET /api/users/my-account (PIX-14903)
  api/src/identity-access-management/application/user/user.controller.js
  api/src/identity-access-management/application/user/user.route.js
  api/src/identity-access-management/domain/models/UserAccountInfo.js
  api/src/identity-access-management/domain/usecases/get-user-account-info.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/identity-access-management/infrastructure/repositories/privacy-users-api.repository.js
  api/src/identity-access-management/infrastructure/serializers/jsonapi/user-account-info.serializer.js
  api/src/identity-access-management/infrastructure/serializers/jsonapi/user-with-activity.serializer.js
  api/tests/identity-access-management/acceptance/application/user/user.route.test.js
  api/tests/identity-access-management/integration/domain/usecases/get-user-account-info.usecase.test.js
  api/tests/identity-access-management/unit/infrastructure/repositories/privacy-users-api.repository.test.js
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/user-account-info.serializer.test.js
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/user-with-activity.serializer.test.js
  mon-pix/app/models/account-info.js
  mon-pix/app/models/user.js
  mon-pix/app/templates/authenticated/user-account.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10594 [FEATURE] Ne recuperer que les attestations partagées pour le prescripteur (PIX-15336)
  api/db/seeds/data/team-prescription/build-quests.js
  api/src/prescription/organization-learner/application/organization-learners-controller.js
  api/src/prescription/organization-learner/domain/usecases/get-attestation-zip-for-divisions.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-repository.js
  api/src/profile/application/api/attestations-api.js
  api/src/profile/domain/errors.js
  api/src/profile/domain/models/OrganizationProfileReward.js
  api/src/profile/domain/usecases/get-attestation-data-for-users.js
  api/src/profile/domain/usecases/get-shared-attestations-for-organization-by-user-ids.js
  api/src/profile/infrastructure/repositories/organization-profile-reward-repository.js
  api/src/profile/infrastructure/repositories/profile-reward-repository.js
  api/tests/prescription/learner-management/unit/infrastructure/organization-learner-repository_test.js
  api/tests/prescription/organization-learner/acceptance/application/organization-learner-route_test.js
  api/tests/prescription/organization-learner/integration/domain/usecases/get-attestation-zip-for-divisions_test.js
  api/tests/prescription/organization-learner/unit/application/organization-learners-controller_test.js
  api/tests/profile/integration/domain/usecases/get-shared-attestations-for-organization-by-user-ids_test.js
  api/tests/profile/integration/infrastructure/repositories/organizations-profile-rewards-repository_test.js
  api/tests/profile/integration/infrastructure/repositories/profile-reward-repository_test.js
  api/tests/profile/unit/application/api/attestations-api_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription

#10590 [TECH] Migrer la route reconciliation SCO dans son bounded Context (Pix-15335)
  api/lib/application/sco-organization-learners/index.js
  api/lib/application/sco-organization-learners/sco-organization-learner-controller.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/organization-learner-repository.js
  api/src/prescription/learner-management/application/organization-learners-controller.js
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/application/sco-organization-management-route.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/domain/usecases/reconcile-sco-organization-learner-manually.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-repository.js
  api/src/prescription/learner-management/infrastructure/repositories/student-repository.js
  api/src/prescription/learner-management/infrastructure/serializers/jsonapi/sco-organization-learner-serializer.js
  api/tests/acceptance/application/sco-organization-learners/sco-organization-learner-controller_test.js
  api/tests/integration/application/sco-organization-learners/index_test.js
  api/tests/prescription/learner-management/acceptance/application/sco-organization-management-route_test.js
  api/tests/prescription/learner-management/integration/application/sco-organization-management-route_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/student-repository_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/reconcile-sco-organization-learner-manually_test.js
  api/tests/prescription/learner-management/unit/infrastructure/serializers/jsonapi/sco-organization-learner-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#10591 [TECH] Suppression de paramètres non utilisés du simulateur de déroulé (PIX-15316).
  api/src/certification/flash-certification/application/scenario-simulator-controller.js
  api/src/certification/flash-certification/application/scenario-simulator-route.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulator.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorDoubleMeasureStrategy.js
  api/src/certification/flash-certification/domain/usecases/simulate-flash-assessment-scenario.js
  api/src/certification/scoring/domain/services/scoring-degradation-service.js
  api/tests/acceptance/application/scenario-simulator/scenario-simulator-controller_test.js
  api/tests/certification/flash-certification/integration/application/scenario-simulator-controller_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorDoubleMeasureStrategy_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulator_test.js
  api/tests/unit/domain/usecases/simulate-flash-assessment-scenario_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10604 [FEATURE] Correction coquille + ajout vignette video module chatgpt-parle-francais
  api/src/devcomp/infrastructure/datasources/learning-content/modules/chatgpt-parle-francais.json
Labels: :rocket: Ready to Merge

#10600 [TECH] Nettoyage du simulateur PARTIE 3 (PIX-15353).
  api/src/certification/flash-certification/application/scenario-simulator-controller.js
  api/src/certification/flash-certification/application/scenario-simulator-route.js
  api/src/certification/flash-certification/domain/usecases/simulate-flash-assessment-scenario.js
  api/tests/certification/flash-certification/integration/application/scenario-simulator-controller_test.js
  api/tests/unit/domain/usecases/simulate-flash-assessment-scenario_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10585 [FEATURE] Permettre d'avoir un `campaignParticipationId` `NULL` dans `user-recommended-trainings` (PIX-15303)
  api/db/migrations/20241119103307_devcomp-user-recommended-trainings-remove-nullable-constraint-on-campaign-participation-id.js
Labels: :rocket: Ready to Merge, team-prescription, team-devcomp

#10596 [FEATURE] API - statut béta (PIX-15350)
  api/src/devcomp/domain/models/module/Module.js
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/chatgpt-parle-francais.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
  api/src/devcomp/infrastructure/factories/module-factory.js
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/integration/domain/models/Module_test.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
  api/tests/devcomp/unit/domain/models/module/Module_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-validation_test.js
  api/tests/devcomp/unit/infrastructure/factories/module-factory_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#10404 [TECH] :recycle: Déplacement des éléments de `CertificationCourse` vers le contexte `src/certification/evaluation`
  api/lib/domain/usecases/index.js
  api/lib/routes.js
  api/src/certification/enrolment/domain/usecases/index.js
  api/src/certification/enrolment/infrastructure/repositories/index.js
  api/src/certification/evaluation/application/certification-course-controller.js
  api/src/certification/evaluation/application/certification-course-route.js
  api/src/certification/evaluation/domain/usecases/index.js
  api/src/certification/evaluation/domain/usecases/retrieve-last-or-create-certification-course.js
  api/src/certification/evaluation/infrastructure/serializers/certification-course-serializer.js
  api/src/certification/evaluation/routes.js
  api/src/certification/results/application/certification-results-controller.js
  api/src/certification/results/application/certification-results-route.js
  api/src/certification/results/infrastructure/repositories/certified-profile-repository.js
  api/src/certification/results/infrastructure/serializers/certified-profile-serializer.js
  api/src/certification/session-management/application/certification-course-controller.js
  api/src/certification/shared/domain/usecases/get-certification-course.js
  api/src/certification/shared/domain/usecases/index.js
  api/src/certification/shared/infrastructure/repositories/certification-candidate-repository.js
  api/src/certification/shared/infrastructure/repositories/user-repository.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/certification-candidate-repository_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/user-repository_test.js
  api/tests/certification/evaluation/acceptance/application/certification-courses/certification-course-controller_test.js
  api/tests/certification/evaluation/acceptance/application/certification-courses/index_test.js
  api/tests/certification/evaluation/integration/infrastructure/repositories/certified-profile-repository_test.js
  api/tests/certification/evaluation/integration/serializers/certification-course-serializer_test.js
  api/tests/certification/evaluation/unit/application/certification-courses-route_test.js
  api/tests/certification/evaluation/unit/domain/usecases/get-certification-course_test.js
  api/tests/certification/results/unit/application/certification-results-controller_test.js
  api/tests/certification/results/unit/application/certification-results-route_test.js
  api/tests/certification/results/unit/infrastructure/serializers/certified-profile-serializer_test.js
  api/tests/certification/session-management/unit/application/certification-course-controller_test.js
  api/tests/unit/application/certification-courses/certification-course-controller_test.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, Bounded-context-migration

#10602 [TECH] Création des tables de contenu pédagogique dans la base de données de l'API (PIX-15355)
  api/db/migrations/20241120132349_create-learningcontent-schema-and-tables.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-contenu

#10583 [BUGFIX] ✏️ Correction du titre "Objectif.s" (PIX-15326)
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10546 [FEATURE] Afficher le message d'erreur "adresse email invalide ou déjà utilisée" (PIX-14689)
  api/lib/domain/usecases/create-and-reconcile-user-to-organization-learner.js
  api/src/identity-access-management/application/http-error-mapper-configuration.js
  api/src/identity-access-management/domain/errors.js
  api/src/identity-access-management/domain/usecases/create-user.usecase.js
  api/src/identity-access-management/domain/usecases/send-verification-code.usecase.js
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/tests/identity-access-management/acceptance/application/account-recovery/account-recovery.route.test.js
  api/tests/identity-access-management/acceptance/application/user/user.route.test.js
  api/tests/identity-access-management/integration/domain/usecases/update-user-email-with-validation.usecase.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user.repository.test.js
  api/tests/identity-access-management/unit/domain/usecases/create-user.usecase.test.js
  certif/app/components/auth/register-form.js
  certif/tests/unit/components/auth/register-form-test.js
  certif/translations/en.json
  certif/translations/fr.json
  mon-pix/app/components/account-recovery/backup-email-confirmation-form.hbs
  mon-pix/app/components/authentication/signup-form/index.gjs
  mon-pix/app/components/user-account/email-with-validation-form.js
  mon-pix/app/controllers/account-recovery/find-sco-record.js
  mon-pix/app/utils/form-validation.js
  mon-pix/mirage/routes/account-recovery/index.js
  mon-pix/tests/acceptance/account-recovery/find-sco-record-test.js
  mon-pix/tests/integration/components/authentication/signup-form/index-test.gjs
  mon-pix/tests/integration/components/user-account/email-with-validation-form-test.js
  mon-pix/tests/unit/utils/form-validation-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
  orga/app/components/auth/register-form.hbs
  orga/app/components/auth/register-form.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10615 [BUGFIX] Empêcher de lever une alerte sur un challenge déjà répondu (PIX-15388).
  api/src/certification/evaluation/domain/errors.js
  api/src/certification/session-management/domain/usecases/create-certification-challenge-live-alert.js
  api/tests/certification/session-management/unit/domain/usecases/create-certification-challenge-live-alert_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10610 [TECH] Uniformiser la sélection de challenges entre le simulateur de déroulé et la prod (PIX-15214).
  api/src/certification/flash-certification/domain/models/FlashAssessmentAlgorithm.js
  api/src/certification/flash-certification/domain/usecases/simulate-flash-assessment-scenario.js
  api/tests/certification/shared/unit/domain/models/FlashAssessmentAlgorithm_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#10601 [FEATURE] Améliorer le style du footer (PIX-15363).
  mon-pix/app/components/footer/footer-links.gjs
  mon-pix/app/components/footer/index.gjs
  mon-pix/app/components/footer/index.hbs
  mon-pix/app/components/footer/index.js
  mon-pix/app/styles/components/_footer.scss
  mon-pix/tests/acceptance/footer-test.js
  mon-pix/tests/integration/components/footer/footer-links_test.gjs
  mon-pix/tests/integration/components/footer/footer-test.js
Labels: :rocket: Ready to Merge, Func Review OK, cross-team

#10607 [FEATURE] Partager l'attestation au partage du résultat de la campagne (PIX-15365).
  api/db/seeds/data/team-prescription/build-quests.js
  mon-pix/app/adapters/campaign-participation-result.js
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/index.gjs
  mon-pix/app/models/quest-result.js
  mon-pix/tests/integration/components/campaigns/assessment/results/hero/evaluation-results-hero-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription

#10616 [FEATURE] Afficher une notification lorsque aucune attestation n'est disponible (PIX-15364)
  orga/app/controllers/authenticated/attestations.js
  orga/app/services/file-saver.js
  orga/tests/unit/controllers/authenticated/attestations-test.js
  orga/tests/unit/services/file-saver-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription

#10621 [BUGFIX] Valider le bon externalId lorsque l'on repasse une campagne (PIX-15361)
  api/src/prescription/campaign-participation/domain/models/CampaignParticipant.js
  api/tests/prescription/campaign-participation/unit/domain/models/CampaignParticipant_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10599 [TECH] Ajouter une API interne permettant de vérifier si un utilisateur a été un prescrit (PIX-14983)
  api/src/prescription/learner-management/application/api/learners-api.js
  api/src/prescription/learner-management/domain/usecases/has-been-learner.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-repository.js
  api/tests/prescription/learner-management/integration/domain/usecases/has-been-learner_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/learner-management/unit/application/api/learners-api_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/has-been-learner_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, team-prescription

#10612 [FEATURE] Ajouter la validation des imports SUP dans un job PgBoss (Pix-13793)
  api/src/prescription/learner-management/application/jobs/validate-csv-organization-learners-import-file-job-controller.js
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/application/sup-organization-management-controller.js
  api/src/prescription/learner-management/domain/models/ValidateCsvOrganizationImportFileJob.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/domain/usecases/upload-csv-file.js
  api/src/prescription/learner-management/domain/usecases/validate-csv-file.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/validate-csv-organization-learners-import-file-job-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/validate-csv-organization-learners-import-file-job-repository_test.js
  api/tests/prescription/learner-management/unit/application/jobs/validate-csv-organization-learners-import-file-job-controller_test.js
  api/tests/prescription/learner-management/unit/application/sup-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/upload-csv-file_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/validate-csv-file_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10620 [FEATURE] Améliorer le style de la page de détails de parcours autonome (PIX-15401).
  admin/app/components/autonomous-courses/details.gjs
  admin/app/components/autonomous-courses/view-autonomous-course.gjs
  admin/app/styles/app.scss
  admin/app/styles/globals/page-details.scss
  admin/tests/integration/components/autonomous-courses/details-test.gjs
Labels: :eyes: Func Review Needed, team-evaluation

#10561 [FEATURE] Affiche les bulles une à une puis l'épreuve avec un délai (PIX-14571)
  api/src/school/application/assessment-controller.js
  api/src/school/application/challenge-controller.js
  api/src/school/domain/services/challenge.js
  api/src/school/domain/usecases/get-challenge.js
  api/src/school/domain/usecases/get-next-challenge.js
  api/src/school/infrastructure/serializers/challenge-serializer.js
  api/tests/school/acceptance/application/challenge-route_test.js
  api/tests/school/integration/domain/usecases/get-next-challenge_test.js
  api/tests/school/unit/domain/services/challenge_test.js
  api/tests/school/unit/infrastructure/serializers/challenge-serializer_test.js
  junior/app/components/challenge/component.js
  junior/app/components/challenge/template.hbs
  junior/app/components/delayed-element.gjs
  junior/app/components/mission-card/mission-card.gjs
  junior/app/components/robot-dialog.gjs
  junior/app/models/challenge.js
  junior/app/styles/app.scss
  junior/app/styles/components/bubble.scss
  junior/app/styles/components/challenge/challenge-item.scss
  junior/app/styles/components/delayed-element.scss
  junior/app/styles/components/issue.scss
  junior/app/styles/components/robot-dialog.scss
  junior/app/styles/pages/identified/missions/list.scss
  junior/app/transforms/array.js
  junior/config/environment.js
  junior/mirage/factories/challenge.js
  junior/sample.env
  junior/tests/acceptance/challenge-preview-test.js
  junior/tests/acceptance/challenge-workflow-test.js
  junior/tests/acceptance/display-challenge-test.js
  junior/tests/integration/challenge_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10609 [TECH] Créer des tests d'intégration pour OidcAuthenticationServiceRegistry (PIX-14173)
  api/tests/identity-access-management/integration/domain/services/oidc-authentication-service-registry.test.js
  api/tests/identity-access-management/unit/domain/services/oidc-authentication-service-registry_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#10614 [FEATURE] Déplacer la validation et l'insertion des learners SCO Csv dans un job (Pix-13790)
  api/src/prescription/learner-management/application/jobs/import-sco-csv-organization-learners-job-controller.js
  api/src/prescription/learner-management/application/jobs/validate-csv-organization-learners-import-file-job-controller.js
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/domain/models/ImportScoCsvOrganizationLearnersJob.js
  api/src/prescription/learner-management/domain/usecases/import-organization-learners-from-siecle-csv-format.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/domain/usecases/validate-csv-file.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/import-sco-csv-organization-learners-job-repository.js
  api/tests/prescription/learner-management/acceptance/application/organization-controller-import-sco-organization-learners_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-sco-csv-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/unit/application/jobs/import-sco-csv-organization-learners-job-controller_test.js
  api/tests/prescription/learner-management/unit/application/jobs/validate-csv-organization-learners-import-file-job-controller_test.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-csv-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/validate-csv-file_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10605 [FEATURE] Ajout de la page de suppression de compte (PIX-14904) (PIX-14905)
  mon-pix/app/components/user-account/delete-account-section.gjs
  mon-pix/app/components/user-account/delete-account-section.scss
  mon-pix/app/router.js
  mon-pix/app/routes/authenticated/user-account/delete-account.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/_user-account.scss
  mon-pix/app/styles/pages/_language.scss
  mon-pix/app/styles/pages/_personal-information.scss
  mon-pix/app/templates/authenticated/user-account.hbs
  mon-pix/app/templates/authenticated/user-account/delete-account.hbs
  mon-pix/mirage/factories/user.js
  mon-pix/mirage/routes/users/get-my-account.js
  mon-pix/mirage/routes/users/index.js
  mon-pix/mirage/serializers/user.js
  mon-pix/tests/acceptance/user-account-test.js
  mon-pix/tests/acceptance/user-account/delete-account-test.js
  mon-pix/tests/integration/components/user-account/delete-account-section-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10608 [TECH] Extraire la sélection d'épreuves lors du scoring dans un service dédié (PIX-15332).
  api/lib/domain/events/handle-certification-rescoring.js
  api/lib/domain/events/index.js
  api/src/certification/evaluation/application/jobs/certification-completed-job-controller.js
  api/src/certification/evaluation/domain/services/index.js
  api/src/certification/evaluation/domain/services/scoring/calibrated-challenge-service.js
  api/src/certification/evaluation/domain/services/scoring/scoring-v3.js
  api/src/certification/evaluation/domain/usecases/get-next-challenge-for-v2-certification.js
  api/src/certification/evaluation/domain/usecases/get-next-challenge.js
  api/src/certification/evaluation/domain/usecases/index.js
  api/src/certification/evaluation/infrastructure/repositories/certification-challenge-for-scoring-repository.js
  api/src/certification/evaluation/infrastructure/repositories/challenge-calibration-repository.js
  api/src/certification/scoring/domain/models/CertificationAssessmentHistory.js
  api/src/certification/scoring/domain/read-models/ChallengeCalibration.js
  api/tests/certification/evaluation/integration/infrastructure/repositories/challenge-calibration-repository_test.js
  api/tests/certification/evaluation/unit/application/jobs/certification-completed-job-controller_test.js
  api/tests/certification/evaluation/unit/domain/services/scoring/calibrated-challenge-service_test.js
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v3_test.js
  api/tests/certification/evaluation/unit/domain/usecases/get-next-challenge-for-v2-certification_test.js
  api/tests/certification/evaluation/unit/domain/usecases/get-next-challenge_test.js
  api/tests/certification/scoring/unit/domain/models/CertificationAssessmentHistory_test.js
  api/tests/tooling/domain-builder/factory/certification/scoring/build-certification-challenge-for-scoring.js
  api/tests/tooling/domain-builder/factory/certification/scoring/build-challenge-calibration.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10625 [TECH] Suppression des vieilles versions du changelog
  CHANGELOG.md
Labels: :rocket: Ready to Merge, cross-team, no-review-app

#10479 [FEATURE] Afficher de manière graphique les parcours Pix Junior
  admin/app/controllers/authenticated/tools.js
  admin/app/styles/authenticated/tools.scss
  admin/app/templates/authenticated/tools.hbs
  admin/app/utils/create-tree-data.js
  admin/package-lock.json
  admin/package.json
  admin/tests/unit/utils/create-tree-data_test.js
  package-lock.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10613 [FEATURE] Ajout de la modal de suppression de compte (PIX-14908)
  mon-pix/app/components/user-account/delete-account-section.gjs
  mon-pix/app/components/user-account/delete-account-section.scss
  mon-pix/app/styles/components/_user-account.scss
  mon-pix/tests/acceptance/user-account/delete-account-test.js
  mon-pix/tests/helpers/wait-for.js
  mon-pix/tests/integration/components/user-account/delete-account-section-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10617 [TECH] Déplacer du code relatif à la gestion du cache référentiel depuis le fichier datasource vers des usecases dédiés (PIX-15389)
  api/index.js
  api/scripts/refresh-cache.js
  api/src/shared/application/jobs/lcms-refresh-cache-job-controller.js
  api/src/shared/application/lcms/index.js
  api/src/shared/application/lcms/lcms-controller.js
  api/src/shared/domain/usecases/create-lcms-release.js
  api/src/shared/domain/usecases/index.js
  api/src/shared/domain/usecases/init-learning-content-cache.js
  api/src/shared/domain/usecases/patch-learning-content-cache-entry.js
  api/src/shared/domain/usecases/refresh-learning-content-cache.js
  api/src/shared/domain/usecases/schedule-refresh-learning-content-cache-job.js
  api/src/shared/infrastructure/caches/learning-content-cache.js
  api/src/shared/infrastructure/datasources/learning-content/datasource.js
  api/src/shared/infrastructure/lcms-client.js
  api/tests/devcomp/integration/infrastructure/datasources/tutorial-datasource_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/tutorial-datasource_test.js
  api/tests/shared/acceptance/application/lcms/lcms-controller_test.js
  api/tests/shared/integration/infrastructure/caches/learning-content-cache_test.js
  api/tests/shared/integration/infrastructure/datasources/learning-content/area-datasource_test.js
  api/tests/shared/integration/infrastructure/datasources/learning-content/challenge-datasource_test.js
  api/tests/shared/integration/infrastructure/datasources/learning-content/competence-datasource_test.js
  api/tests/shared/integration/infrastructure/datasources/learning-content/framework-datasource_test.js
  api/tests/shared/integration/infrastructure/datasources/learning-content/skill-datasource_test.js
  api/tests/shared/integration/infrastructure/datasources/learning-content/thematic-datasource_test.js
  api/tests/shared/integration/infrastructure/datasources/learning-content/tube-datasource_test.js
  api/tests/shared/integration/infrastructure/lcms-client_test.js
  api/tests/shared/unit/application/jobs/lcms-refresh-cache-job-controller_test.js
  api/tests/shared/unit/application/lcms/index_test.js
  api/tests/shared/unit/application/lcms/lcms-controller_test.js
  api/tests/shared/unit/domain/usecases/create-lcms-release_test.js
  api/tests/shared/unit/domain/usecases/init-learning-content-cache_test.js
  api/tests/shared/unit/domain/usecases/patch-learning-content-cache-entry_test.js
  api/tests/shared/unit/domain/usecases/refresh-learning-content-cache_test.js
  api/tests/shared/unit/domain/usecases/schedule-refresh-learning-content-cache-job_test.js
  api/tests/shared/unit/infrastructure/caches/learning-content-cache_test.js
  api/tests/shared/unit/infrastructure/datasources/learning-content/datasource_test.js
  api/tests/test-helper.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-contenu

#10574 [FEATURE] Ajout de metriques Matomo pour la page de fin de parcours (PIX-15040).
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/custom-organization-block.gjs
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/index.gjs
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/retry-or-reset-block.gjs
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-tabs/results-details/index.gjs
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-tabs/rewards/index.gjs
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-tabs/trainings.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results/hero/retry-or-reset-block-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation

#10611 [FEATURE] Front - statut béta (PIX-15351)
  mon-pix/app/components/module/details.gjs
  mon-pix/app/components/module/passage.gjs
  mon-pix/app/components/module/recap.gjs
  mon-pix/app/models/module.js
  mon-pix/app/templates/module/details.hbs
  mon-pix/tests/acceptance/module/navigate-into-the-module-recap-test.js
  mon-pix/tests/acceptance/module/retry-qcm-test.js
  mon-pix/tests/acceptance/module/retry-qcu-test.js
  mon-pix/tests/acceptance/module/retry-qrocm-test.js
  mon-pix/tests/acceptance/module/visit-module-details-page-test.js
  mon-pix/tests/integration/components/module/passage_test.gjs
  mon-pix/tests/integration/components/module/recap-test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#10644 [FEATURE] Modififier le texte anglais du tag d'éligibilité à la certification (PIX-15311)
  orga/app/components/campaign/results/profile-list.gjs
  orga/tests/integration/components/campaign/results/profile-list-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10639 [FEATURE] Renvoyer le nombre de challenges possibles dans le simulateur (PIX-15216).
  api/src/certification/flash-certification/application/scenario-simulator-controller.js
  api/src/certification/flash-certification/domain/models/AssessmentSimulatorSingleMeasureStrategy.js
  api/tests/acceptance/application/scenario-simulator/scenario-simulator-controller_test.js
  api/tests/certification/flash-certification/integration/application/scenario-simulator-controller_test.js
  api/tests/certification/flash-certification/unit/domain/models/AssessmentSimulatorSingleMeasureStrategy_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10626 [FEATURE] Informer les prescripteurs des informations de leurs campagnes que leurs prescrits voient [PIX-191]
  orga/app/components/campaign/create-form.gjs
  orga/app/components/campaign/update-form.gjs
  orga/tests/acceptance/campaign-creation-test.js
  orga/tests/acceptance/campaign-update-test.js
  orga/tests/integration/components/campaign/create-form-test.js
  orga/tests/integration/components/campaign/update-form-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10650 [FEATURE] Prendre en compte la langue depuis la payload pour le simualtor flash (PIX-15218).
  api/src/certification/flash-certification/application/scenario-simulator-controller.js
  api/src/certification/flash-certification/application/scenario-simulator-route.js
  api/tests/acceptance/application/scenario-simulator/scenario-simulator-controller_test.js
  api/tests/certification/flash-certification/integration/application/scenario-simulator-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10645 [TECH] Ajout d'un format compact de log pour le dev
  api/sample.env
  api/src/shared/config.js
  api/src/shared/infrastructure/utils/logger.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#10641 [BUGFIX] Améliorer la gestion des cas d'erreurs lors de la création d'un utilisateur (PIX-15393)
  api/src/identity-access-management/infrastructure/repositories/user-to-create.repository.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user-to-create.repository.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#10627 [BUGFIX] Réparer le style du pied de page de la mire de connexion (PIX-15363).
  mon-pix/app/components/authentication-layout/index.scss
  mon-pix/app/components/footer/footer-links.gjs
  mon-pix/app/styles/components/_footer.scss
  mon-pix/tests/integration/components/footer/footer-links-test.js
  mon-pix/tests/integration/components/footer/footer-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, Design Review OK, cross-team

#10633 [BUGFIX] Centrer la description du formulaire d'activation d'espace Pix Orga (PIX-11564)
  orga/app/styles/pages/join-request.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10651 [BUGFIX] Fix mission title in list display (PIX-15395)
  junior/app/styles/components/mission-card/card.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10652 [TECH] Migrer la route GET /api/admin/certification-centers/{id} dans src (PIX-15465)
  api/lib/application/certification-centers/certification-center-controller.js
  api/lib/application/certification-centers/index.js
  api/lib/domain/usecases/index.js
  api/src/certification/enrolment/infrastructure/repositories/index.js
  api/src/organizational-entities/application/certification-center/certification-center.admin.controller.js
  api/src/organizational-entities/application/certification-center/certification-center.admin.route.js
  api/tests/acceptance/application/certification-centers/certification-center-controller_test.js
  api/tests/organizational-entities/acceptance/application/certification-center/certification-center.admin.route.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-certif, Bounded-context-migration

#10640 [FEATURE] Reprendre l’extract CSV pour ajouter le champ isBeta dans les infos du module (PIX-15359)
  api/scripts/modulix/get-modules-csv.js
  api/tests/devcomp/acceptance/scripts/get-answerable-elements_test.js
  api/tests/devcomp/acceptance/scripts/get-elements_test.js
  api/tests/devcomp/acceptance/scripts/get-modules_test.js
  api/tests/devcomp/acceptance/scripts/get-proposals_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#10648 [BUGFIX] Réparer l'envoi des résultats d'une campagne à accès simplifié (PIX-15440).
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/index.gjs
  mon-pix/app/components/campaigns/assessment/results/quit-results.gjs
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results/hero/evaluation-results-hero-test.js
  mon-pix/tests/integration/components/campaigns/assessment/results/quit-results-test.js
  mon-pix/tests/unit/components/routes/campaigns/assessment/evaluation-results-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription

#10653 [BUGFIX] Permettre de recréer un learner avec nationalStudentId lorsque l'ancien est supprimé (PIX-15467)
  api/db/migrations/20241126150201_update-constraint-national-student-id-organization-id-deleted-at.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10649 [FEATURE] Activer le taux de couverture à des organisations précises (PIX-15449).
  api/db/migrations/20241126144339_create-cover-rate-feature.js
  api/db/seeds/data/common/constants.js
  api/db/seeds/data/common/feature-builder.js
  api/db/seeds/data/common/organization-builder.js
  api/src/shared/domain/constants.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#10656 [TECH] Améliorer la composition de FooterLinks (PIX-15477).
  mon-pix/app/components/authentication-layout/footer.gjs
  mon-pix/app/components/authentication-layout/index.scss
  mon-pix/app/components/footer/footer-links.gjs
  mon-pix/app/components/footer/index.gjs
  mon-pix/app/styles/components/_footer.scss
  mon-pix/tests/integration/components/footer/footer-links-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Design Review OK, cross-team

#10628 [FEATURE] Voir dans une Sidebar les grains accessibles (PIX-15396)
  mon-pix/app/components/module/_navbar.scss
  mon-pix/app/components/module/navbar.gjs
  mon-pix/app/components/module/passage.gjs
  mon-pix/app/styles/components/_navbar-burger-menu.scss
  mon-pix/tests/integration/components/module/grain_test.gjs
  mon-pix/tests/integration/components/module/navbar_test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-devcomp

#10662 [FEATURE] Ajout d'une description à Pix Certif et autorisation du passage des google Bots (PIX-15321).
  certif/app/index.html
  certif/app/routes/application.js
  certif/app/templates/application.hbs
  certif/public/robots.txt
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10655 [TECH] :recycle: Utiliser un seul système de vérification d'email
  api/lib/domain/services/email-validator.js
  api/src/organizational-entities/domain/usecases/update-organizations-in-batch.usecase.js
  api/tests/unit/domain/services/email-validator_test.js
Labels: :rocket: Ready to Merge, team-acces

#10666 [TECH] Améliorer la performance de la route de création d'organisation en masse (PIX-15486).
  api/src/prescription/campaign/domain/usecases/create-campaigns.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#10664 [TECH] Correction d'un test flaky sur Certif (PIX-14960).
  certif/tests/integration/components/issue-report-modal/in-challenge-certification-issue-report-fields-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10659 [FEATURE] Empecher l'affichage des resultats d'une attestation si elle est liee a plusieurs profils cible (PIX-13828)
  api/db/seeds/data/team-prescription/build-quests.js
  api/src/profile/domain/models/Campaign.js
  api/src/profile/infrastructure/repositories/campaign-participation-repository.js
  api/src/quest/domain/models/Eligibility.js
  api/src/quest/domain/usecases/get-quest-results-for-campaign-participation.js
  api/src/quest/domain/usecases/index.js
  api/tests/profile/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/quest/integration/domain/usecases/get-quest-results-for-campaign-participation_test.js
  api/tests/quest/unit/domain/models/Eligibility_test.js
  api/tests/quest/unit/domain/usecases/get-quest-results-for-campaign-participation_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription

#10668 [TECH] Appliquer le patch dans PG lorsque la release est patchée (PIX-15471)
  api/src/learning-content/application/learning-content-controller.js
  api/src/learning-content/domain/usecases/create-learning-content-release.js
  api/src/learning-content/domain/usecases/patch-learning-content-cache-entry.js
  api/src/learning-content/domain/usecases/refresh-learning-content-cache.js
  api/src/shared/domain/usecases/patch-learning-content-cache-entry.js
  api/tests/learning-content/acceptance/application/lcms-controller_test.js
  api/tests/learning-content/unit/application/learning-content-controller_test.js
  api/tests/learning-content/unit/domain/usecases/patch-learning-content-cache-entry_test.js
  api/tests/shared/unit/domain/usecases/patch-learning-content-cache-entry_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-contenu, Bounded-context-migration

#10636 [FEATURE] Ajout des règles métier pour canSelfDeleteAccount (PIX-15333)
  api/src/privacy/domain/usecases/can-self-delete-account.usecase.js
  api/src/privacy/domain/usecases/index.js
  api/src/privacy/infrastructure/repositories/candidates-api.repository.js
  api/src/privacy/infrastructure/repositories/learners-api.repository.js
  api/src/privacy/infrastructure/repositories/user-teams-api.repository.js
  api/src/team/application/api/models/user-teams-info.js
  api/src/team/application/api/user-teams.js
  api/src/team/domain/usecases/get-user-teams-info.usecase.js
  api/src/team/infrastructure/repositories/certification-center-membership.repository.js
  api/src/team/infrastructure/repositories/membership.repository.js
  api/tests/privacy/integration/domain/usecases/can-self-delete-account.usecase.test.js
  api/tests/privacy/unit/domain/usecases/can-self-delete-account.usecase.test.js
  api/tests/privacy/unit/infrastructure/repositories/candidates-api.repository.test.js
  api/tests/privacy/unit/infrastructure/repositories/learners-api.repository.test.js
  api/tests/privacy/unit/infrastructure/repositories/user-teams-api.repository.test.js
  api/tests/team/integration/application/api/user-teams.test.js
  api/tests/team/integration/domain/usecases/get-user-teams-info.usecase.test.js
  api/tests/team/integration/infrastructure/repositories/certification-center-membership.repository.test.js
  api/tests/team/integration/infrastructure/repositories/membership-repository.test.js
  api/tests/team/unit/application/api/user-teams.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10674 [TECH] Retirer les imports directs en dehors des repositories autorisés aux fichiers "datasources/learning-content/*" (PIX-15474)
  api/db/seeds/data/common/tooling/learning-content.js
  api/lib/infrastructure/repositories/campaign-repository.js
  api/lib/infrastructure/repositories/correction-repository.js
  api/scripts/data-generation/generate-certifications-for-organization.js
  api/src/certification/results/infrastructure/repositories/certified-profile-repository.js
  api/tests/certification/evaluation/integration/infrastructure/repositories/certified-profile-repository_test.js
  api/tests/integration/infrastructure/repositories/campaign-repository_test.js
  api/tests/tooling/learning-content-builder/build-skill.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-contenu

#10676 [FEATURE] Ajouter un endpoint pour récuperer les statistiques par compétences au grain d'une organisation (PIX-15451)
  api/src/prescription/organization-learner/application/organization-learners-controller.js
  api/src/prescription/organization-learner/application/organization-learners-route.js
  api/src/prescription/organization-learner/domain/usecases/get-analysis-by-tubes.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/src/prescription/organization-learner/infrastructure/repositories/analysis-repository.js
  api/src/prescription/organization-learner/infrastructure/repositories/index.js
  api/src/shared/config.js
  api/tests/prescription/organization-learner/acceptance/application/organization-learner-route_test.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/analysis-repository_test.js
  api/tests/prescription/organization-learner/unit/application/organization-learners-controller_test.js
  api/tests/prescription/organization-learner/unit/application/organization-learners-route_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/get-analysis-by-tubes_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10682 [FEATURE] Changement du logo sur la page d'erreur (Pix-15030)
  junior/app/components/challenge/challenge-actions/template.hbs
  junior/app/components/issue.gjs
  junior/app/styles/components/issue.scss
  junior/public/images/logo-in-one-line.svg
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10688 [BUGFIX] retirer un scroll non utils sur la page d'accueil (PIX-13917)
  junior/app/styles/app.scss
  junior/app/styles/pages/organization-code.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10690 [TECH] Remettre l'usage de skillDatasource dans les seeds
  api/db/seeds/data/common/tooling/learning-content.js
Labels: Tech Review OK, :rocket: Ready to Merge
