Repository 1024pix/pix, pull requests merged in 2025-02, with the labels that each got.

#11287 [TECH] Ne plus planifier de job unitaire pour chaque calcul de certificabilité.
  api/src/prescription/learner-management/application/jobs/schedule-compute-organization-learners-certificability-job-controller.js
  api/src/shared/config.js
  api/tests/prescription/learner-management/integration/application/jobs/schedule-compute-organization-learners-certificability-job-controller_test.js
  api/tests/prescription/learner-management/unit/application/jobs/schedule-compute-organization-learners-certificability-job-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, team-captains

#11269 [FEATURE] Script pour révoquer les accès d'utilisateurs (PIX-15950)
  api/lib/domain/usecases/update-expired-password.js
  api/lib/domain/usecases/update-organization-learner-dependent-user-password.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/identity-access-management/domain/usecases/revoke-access-for-users.usecase.js
  api/src/identity-access-management/domain/usecases/update-user-for-account-recovery.usecase.js
  api/src/identity-access-management/domain/usecases/update-user-password.usecase.js
  api/src/identity-access-management/infrastructure/repositories/authentication-method.repository.js
  api/src/identity-access-management/infrastructure/repositories/revoked-user-access.repository.js
  api/src/identity-access-management/scripts/revoke-access-for-users.script.js
  api/tests/identity-access-management/integration/domain/usecases/revoke-access-for-users.usecase.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/authentication-method.repository.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/revoked-user-access.repository.test.js
  api/tests/identity-access-management/unit/domain/usecases/update-user-for-account-recovery.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/update-user-password.usecase.test.js
  api/tests/identity-access-management/unit/scripts/files/revoked-access-for-users.csv
  api/tests/identity-access-management/unit/scripts/revoke-access-for-users.script.test.js
  api/tests/shared/unit/domain/services/user-service_test.js
  api/tests/unit/domain/usecases/generate-username-with-temporary-password_test.js
  api/tests/unit/domain/usecases/update-expired-password_test.js
  api/tests/unit/domain/usecases/update-organization-learner-dependent-user-password_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11262 [FEATURE] Vérifier l'audience à l'utilisation du Refresh Token (PIX-15949)
  api/src/identity-access-management/domain/models/RefreshToken.js
  api/src/identity-access-management/domain/usecases/create-access-token-from-refresh-token.usecase.js
  api/tests/identity-access-management/integration/domain/usecases/create-access-token-from-refresh-token.usecase.test.js
  api/tests/identity-access-management/unit/domain/models/RefreshToken.test.js
  api/tests/identity-access-management/unit/domain/usecases/create-access-token-from-refresh-token.usecase.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11303 [TECH] Ajouts de logs d’erreurs de lecture du Learning Content (PIX-16374)
  api/lib/infrastructure/repositories/framework-repository.js
  api/src/shared/infrastructure/repositories/area-repository.js
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/src/shared/infrastructure/repositories/competence-repository.js
  api/src/shared/infrastructure/repositories/skill-repository.js
  api/src/shared/infrastructure/repositories/tube-repository.js
  api/tests/shared/integration/infrastructure/repositories/challenge-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-captains, team-contenu

#11250 [FEATURE] Ajout d'un lien vers les explications de résultats sur le Certificat Pix (PIX-16247).
  mon-pix/app/components/user-certifications-detail-header.hbs
  mon-pix/app/components/user-certifications-detail-header.js
  mon-pix/app/models/certification.js
  mon-pix/app/services/url.js
  mon-pix/tests/helpers/service-stubs.js
  mon-pix/tests/integration/components/user-certifications-detail-header-test.js
  mon-pix/tests/unit/services/url-test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11131 [TECH] Créer un nouvel assessment result lorsqu'on annule et désannule une certification sur Pix Admin (PIX-16045).
  api/src/certification/evaluation/domain/services/scoring/scoring-v2.js
  api/src/certification/evaluation/domain/services/scoring/scoring-v3.js
  api/src/certification/scoring/domain/models/factories/AssessmentResultFactory.js
  api/src/certification/session-management/application/cancellation-controller.js
  api/src/certification/session-management/domain/models/SessionManagement.js
  api/src/certification/session-management/domain/usecases/cancel-certification-course.js
  api/src/certification/session-management/domain/usecases/cancel.js
  api/src/certification/session-management/domain/usecases/uncancel-certification-course.js
  api/src/certification/session-management/domain/usecases/uncancel.js
  api/src/certification/session-management/infrastructure/repositories/certification-rescoring-repository.js
  api/src/certification/session-management/infrastructure/repositories/index.js
  api/src/shared/domain/errors.js
  api/src/shared/domain/events/CertificationCancelled.js
  api/src/shared/domain/events/CertificationUncancelled.js
  api/src/shared/domain/events/handle-certification-rescoring.js
  api/src/shared/domain/events/index.js
  api/src/shared/domain/models/AssessmentResult.js
  api/src/shared/domain/models/CertificationResult.js
  api/src/shared/infrastructure/repositories/assessment-result-repository.js
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v2_test.js
  api/tests/certification/scoring/unit/domain/factories/AssessmentResultFactory_test.js
  api/tests/certification/session-management/acceptance/application/cancellation-route_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/certification-rescoring-repository_test.js
  api/tests/certification/session-management/unit/application/cancellation-controller_test.js
  api/tests/certification/session-management/unit/domain/usecases/cancel-certification-course_test.js
  api/tests/certification/session-management/unit/domain/usecases/cancel_test.js
  api/tests/certification/session-management/unit/domain/usecases/uncancel-certification-course_test.js
  api/tests/certification/session-management/unit/domain/usecases/uncancel_test.js
  api/tests/shared/unit/domain/models/AssessmentResult_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11286 [TECH] Migration de la route /api/admin/users/{id}/organizations (PIX-16360)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/lib/domain/usecases/index.js
  api/src/team/application/membership/membership.admin.controller.js
  api/src/team/application/membership/membership.admin.route.js
  api/src/team/domain/usecases/find-user-organizations-for-admin.usecase.js
  api/src/team/domain/usecases/index.js
  api/src/team/infrastructure/repositories/user-organizations-for-admin.repository.js
  api/src/team/infrastructure/serializers/jsonapi/user-organization-for-admin-serializer.js
  api/tests/acceptance/application/users/find-user-organizations-for-admin-route-get_test.js
  api/tests/team/acceptance/application/membership/membership.admin.route.test.js
  api/tests/team/integration/infrastructure/repositories/user-organizations-for-admin.repository.test.js
  api/tests/team/unit/application/membership/membership.admin.controller.test.js
  api/tests/team/unit/domain/usecases/find-user-organizations-for-admin.usecase.test.js
  api/tests/team/unit/infrastructure/serializers/jsonapi/user-organization-for-admin-serializer.test.js
  api/tests/unit/application/users/user-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11306 [FEATURE] API-Pouvoir retourner le titre interne d’un CF depuis l’API (PIX-16219)
  api/db/database-builder/factory/build-training.js
  api/src/devcomp/domain/models/Training.js
  api/src/devcomp/domain/read-models/TrainingForAdmin.js
  api/src/devcomp/domain/read-models/TrainingSummary.js
  api/src/devcomp/infrastructure/repositories/training-repository.js
  api/src/devcomp/infrastructure/serializers/jsonapi/training-serializer.js
  api/src/devcomp/infrastructure/serializers/jsonapi/training-summary-serializer.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/devcomp/acceptance/application/trainings/training-controller_test.js
  api/tests/devcomp/integration/infrastructure/repositories/training-repository_test.js
  api/tests/devcomp/unit/domain/read-models/TrainingForAdmin_test.js
  api/tests/devcomp/unit/domain/usecases/find-paginated-training-summaries_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/training-serializer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/training-summary-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-training-for-admin.js
  api/tests/tooling/domain-builder/factory/build-training-summary.js
  api/tests/tooling/domain-builder/factory/build-training.js
Labels: :rocket: Ready to Merge, team-devcomp

#11279 [TECH] findSnapshotForUsers appelé directement dans les autres repos (Pix-16338)
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-assessment-participation-result-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-collective-result-repository.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-assessment-export.js
  api/src/shared/domain/services/placement-profile-service.js
  api/src/shared/infrastructure/repositories/knowledge-element-repository.js
  api/tests/shared/integration/infrastructure/repositories/knowledge-element-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11290 [BUGFIX] Raccrocher les collecte de profile anonymisé avec leur Knowledge-element-snapshots (PIX-16326)
  api/scripts/prod/populate-campaign-participation-id-in-knowledge-element-snapshot.js
  api/tests/integration/scripts/prod/populate-campaign-participation-id-in-knowledge-element-snapshot_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11307 [BUGFIX] Gérer les pages hors connexion dans le nouveau gabarit (PIX-16378).
  mon-pix/app/components/global/app-layout.gjs
  mon-pix/app/components/global/app-navigation.gjs
  mon-pix/tests/integration/components/global/app-layout-test.gjs
  mon-pix/tests/integration/components/global/app-navigation-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, cross-team

#11302 [BUGFIX] Corriger les informations dans le toaster de désactivation des utilisateurs de Pix admin (PIX-13604)
  admin/app/components/team/list.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11318 [TECH] Utilise l'`AssessmentResult` qui a été annulé en plus du statut `isCancelled` pour le repo du LSU/LSL (PIX-16394)
  api/src/certification/results/infrastructure/repositories/certification-livret-scolaire-repository.js
  api/tests/certification/results/integration/infrastructure/repositories/certification-livret-scolaire-repository_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/certification-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11300 [FEATURE] Ne pas afficher les boutons d'annulation si la session n'est pas finalisée (PIX-16141).
  admin/app/components/certifications/certification/informations.gjs
  admin/app/routes/authenticated/certifications/certification/informations.js
  admin/app/templates/authenticated/certifications/certification/informations.hbs
  admin/tests/acceptance/authenticated/certifications/certification/certification-test.js
  admin/tests/acceptance/authenticated/certifications/certification/informations-test.js
  admin/tests/acceptance/authenticated/certifications/certification/neutralization-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11323 [FEATURE] [API] Pouvoir enregistrer un titre interne d’un CF (PIX-16218)
  api/src/devcomp/application/trainings/index.js
  api/src/devcomp/infrastructure/repositories/training-repository.js
  api/tests/devcomp/acceptance/application/trainings/training-controller_test.js
  api/tests/devcomp/integration/infrastructure/repositories/training-repository_test.js
  api/tests/devcomp/unit/application/trainings/training-controller_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11296 [FEATURE] Pix Junior - Utiliser les options de validation de challenge provenant de Pix Editor
  api/src/school/infrastructure/serializers/challenge-serializer.js
  api/src/shared/domain/models/Challenge.js
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/tests/school/unit/infrastructure/serializers/challenge-serializer_test.js
  api/tests/shared/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/tooling/domain-builder/factory/build-challenge.js
  junior/app/models/challenge.js
  junior/tests/unit/models/challenge-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#11322 [BUGFIX] Fix regression de css sur l'introduction (PIX-16413)
  junior/app/styles/pages/identified/missions/introduction.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#11321 [TECH] Ajouter une route /api/healthcheck/forwarded-origin (PIX-16368)
  api/src/shared/application/feature-toggles/feature-toggle-controller.js
  api/src/shared/application/feature-toggles/index.js
  api/src/shared/application/healthcheck/healthcheck-controller.js
  api/src/shared/application/healthcheck/index.js
  api/tests/integration/application/healthcheck/index_test.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
  api/tests/shared/acceptance/application/healthcheck.route.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, team-captains

#11284 [TECH] ajoute la méthode findSnapshotByCampaignParticipationId (PIX-16339)
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-analysis-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-assessment-participation-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-assessment-participation-result-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-result-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-profile-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/participant-results-shared-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-collective-result-repository.js
  api/src/prescription/campaign/infrastructure/repositories/knowledge-element-snapshot-repository.js
  api/src/shared/domain/services/placement-profile-service.js
  api/src/shared/infrastructure/repositories/knowledge-element-repository.js
  api/tests/prescription/campaign-participation/acceptance/application/campaign-participation-route_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-analysis-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-assessment-participation-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-result-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-profile-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/participant-results-shared-repository_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-results-route_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-collective-result-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/knowledge-element-snapshot-repository_test.js
  api/tests/shared/integration/domain/services/placement-profile-service_test.js
  api/tests/shared/integration/infrastructure/repositories/knowledge-element-repository_test.js
  high-level-tests/e2e/cypress/fixtures/knowledge-element-snapshots.json
  high-level-tests/e2e/cypress/support/step_definitions/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#11289 [FEATURE] Ajouter un script pour envoyer des invitations à rejoindre une organisation en masse (PIX-16265)
  api/src/team/domain/models/OrganizationInvitation.js
  api/src/team/scripts/send-organization-invitations-script.js
  api/tests/team/unit/scripts/files/send-organization-invitations.csv
  api/tests/team/unit/scripts/send-organization-invitations-script_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11334 [FEATURE] Ajouter le champ titre interne dans la page de détails du CF (PIX-16068)
  admin/app/components/trainings/training-details-card.gjs
  admin/app/models/training.js
  admin/app/styles/components/trainings/training-details-card.scss
  admin/tests/integration/components/trainings/training-details-card-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Labels: :rocket: Ready to Merge, team-devcomp

#11328 [FEATURE] Passage module chatgpt-vraiment-neutre en tabletSupport=comfortable
  api/src/devcomp/infrastructure/datasources/learning-content/modules/chatgpt-vraiment-neutre.json
Labels: :rocket: Ready to Merge, contribution-modulix

#11314 [TECH] Migrer la route PATCH patch /api/certification-center-invitations/{certificationCenterInvitationId} (PIX-16392)
  api/lib/application/certification-center-invitations/certification-center-invitation-controller.js
  api/lib/application/certification-center-invitations/index.js
  api/lib/domain/usecases/index.js
  api/lib/routes.js
  api/src/team/application/certification-center-invitation/certification-center-invitation.controller.js
  api/src/team/application/certification-center-invitation/certification-center-invitation.route.js
  api/src/team/domain/usecases/resend-certification-center-invitation.usecase.js
  api/tests/acceptance/application/certification-center-invitations/index_test.js
  api/tests/team/acceptance/application/certification-center-invitation/certification-center-invitation.route.test.js
  api/tests/team/unit/application/certification-center-invitation/certification-center-invitation.controller.test.js
  api/tests/team/unit/domain/usecases/resend-certification-center-invitation.usecase.test.js
  api/tests/unit/application/certification-center-invitations/certification-center-invitation-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#11345 [FEATURE] Avoir un champ "Titre interne" lors de l'édition et création d’un CF (PIX-16435)
  admin/app/components/trainings/create-or-update-training-form.gjs
  admin/tests/acceptance/authenticated/trainings/training-test.js
  admin/tests/integration/components/trainings/create-or-update-training-form-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Labels: :rocket: Ready to Merge, team-devcomp, :bellhop_bell: ping-jp

#11353 Revert "[BUMP] Update dependency redis to v7.2.7"
  .circleci/config.yml
  compose.yaml
  docker/docker-compose.yaml
  high-level-tests/e2e/docker-compose.yaml
  scalingo.json
Labels: :rocket: Ready to Merge, team-captains, :bellhop_bell: ping-jp

#11341 [FEATURE] Gestion des doublons d'INE dans Parcoursup (PIX-16361).
  api/src/certification/shared/application/http-error-mapper-configuration.js
  api/src/parcoursup/application/certification-controller.js
  api/src/parcoursup/application/certification-route.js
  api/src/parcoursup/application/http-error-mapper-configuration.js
  api/src/parcoursup/domain/errors.js
  api/src/parcoursup/domain/read-models/CertificationResult.js
  api/src/parcoursup/domain/read-models/Competence.js
  api/src/parcoursup/domain/usecases/get-certification-result.js
  api/src/parcoursup/infrastructure/repositories/certification-repository.js
  api/tests/parcoursup/acceptance/application/certification-route_test.js
  api/tests/parcoursup/integration/repositories/certification-repository_test.js
  api/tests/parcoursup/unit/application/certification-route_test.js
  api/tests/parcoursup/unit/domain/usecases/get-certification-result_test.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/tooling/domain-builder/factory/parcoursup/build-competence.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, :bellhop_bell: ping-jp

#11294 [FEATURE] : Ajout videos module souris-2
  api/src/devcomp/infrastructure/datasources/learning-content/modules/utiliser-souris-ordinateur-2.json
Labels: :rocket: Ready to Merge, contribution-modulix

#11325 [TECH] :recycle: Utilise l'enum de `AssessmentResult.status` plutôt qu'une valeur en dur
  api/src/certification/results/infrastructure/repositories/certification-livret-scolaire-repository.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11355 [TECH] :recycle: Utilise le statut d'`assessmentResult` pour l'éligibilité dans le bandeau pixApp et la réconciliation (PIX-16455)
  api/src/certification/enrolment/domain/usecases/get-user-certification-eligibility.js
  api/tests/certification/enrolment/unit/domain/usecases/get-user-certification-eligibility_test.js
  api/tests/certification/enrolment/unit/domain/usecases/verify-candidate-subscriptions_test.js
Labels: :rocket: Ready to Merge, team-certif

#11343 [FEATURE] Utiliser PixCode dans la vérification des certificats sur Pix App (PIX-16429).
  mon-pix/app/components/certification-verification-code-form.gjs
  mon-pix/app/controllers/fill-in-certificate-verification-code.js
  mon-pix/app/styles/pages/_fill-in-certificate-verification-code.scss
  mon-pix/app/templates/fill-in-certificate-verification-code.hbs
  mon-pix/tests/acceptance/fill-in-certificate-verification-code-test.js
  mon-pix/tests/integration/components/certification-verification-code-form-test.gjs
  mon-pix/tests/unit/controllers/fill-in-certificate-verification-code-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, Design Review OK, cross-team

#11340 [FEATURE] Accéder à un board metabase sur les PC depuis PixAdmin (PIX-16427)
  admin/app/components/target-profiles/target-profile.gjs
  admin/config/environment.js
  admin/tests/integration/components/target-profiles/target-profile-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11335 [FEATURE] Ajouter la colone isVisible dans la table oidc-providers (PIX-16077)
  api/db/migrations/20250205101750_add-isVisible-column-to-oidc-providers-tables.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, team-captains

#11308 [TECH] Amélioration de l'utilisation de pgBoss.
  api/db/database-builder/database-builder.js
  api/src/evaluation/infrastructure/repositories/answer-job-repository.js
  api/src/shared/config.js
  api/src/shared/infrastructure/repositories/jobs/job-repository.js
  api/src/shared/infrastructure/repositories/jobs/pg-boss.js
  api/tests/certification/session-management/integration/infrastructure/repositories/jobs/certification-rescoring-by-script-job-repository_test.js
  api/tests/evaluation/unit/infrastructure/repositories/answer-job-repository_test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/jobs/gar-anonymized-batch-events-logging-job.repository.test.js
  api/tests/integration/infrastructure/repositories/jobs/certification-completed-job-repository_test.js
  api/tests/integration/scripts/certification/rescore-certifications_test.js
  api/tests/integration/tooling/jobs/expect-job.test.js
  api/tests/learning-content/integration/infrastructure/repositories/jobs/lcms-create-release-job-repository_test.js
  api/tests/learning-content/integration/infrastructure/repositories/jobs/lcms-refresh-cache-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-completed-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-result-calculation-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-shared-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-started-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/compute-certificability-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-common-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-sco-csv-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-sup-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/validate-common-organization-learners-import-file-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/validate-csv-organization-learners-import-file-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/validate-organization-learners-import-file-job-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/jobs/job-repository_test.js
  api/tests/test-helper.js
  api/tests/tooling/jobs/expect-job.js
  api/tests/unit/tooling/database-builder/database-helpers_test.js
  api/worker.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-certif, team-evaluation, team-prescription, team-captains, cross-team

#11358 [TECH] Utiliser le status annulée de l'assessment-result pour l'accès aux certifications (PIX-16459).
  api/src/certification/results/domain/models/PrivateCertificate.js
  api/src/certification/results/infrastructure/repositories/certificate-repository.js
  api/src/shared/domain/read-models/GeneralCertificationInformation.js
  api/tests/certification/results/integration/infrastructure/repositories/certificate-repository_test.js
  api/tests/certification/results/unit/domain/models/PrivateCertificate_test.js
Labels: :rocket: Ready to Merge, team-certif

#11362 [TECH] renome le filtre badge en acquiredThematicResults (Pix-16349)
  api/db/seeds/data/team-prescription/build-target-profiles.js
  api/src/prescription/campaign/application/campaign-results-controller.js
  api/src/prescription/campaign/application/campaign-results-route.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-assessment-participation-result-list-repository.js
  api/tests/prescription/campaign/acceptance/application/campaign-results-route_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-assessment-participation-result-list-repository_test.js
  orga/app/components/campaign/filter/participation-filters.gjs
  orga/app/controllers/authenticated/campaigns/campaign/assessment-results.js
  orga/app/routes/authenticated/campaigns/campaign/assessment-results.js
  orga/app/templates/authenticated/campaigns/campaign/assessment-results.hbs
  orga/tests/integration/components/campaign/filter/participation-filters-test.js
  orga/tests/unit/controllers/authenticated/campaigns/campaign/assessment-results-test.js
  orga/tests/unit/routes/authenticated/campaigns/campaign/assessment-results-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11356 [FEATURE] Mesurer l'utilisation du bouton "Télécharger" des attestations (PIX-14954)
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/attestation-result.gjs
  mon-pix/tests/integration/components/campaign/skill-review/attestation-result-test.gjs
  orga/app/controllers/authenticated/attestations.js
  orga/tests/unit/controllers/authenticated/attestations-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#11360 [TECH] Utiliser l'`AssessmentResult.status` dans les manipulations de CSV de certification (PIX-16458)
  api/src/certification/results/infrastructure/repositories/certificate-repository.js
  api/src/certification/results/infrastructure/repositories/certification-result-repository.js
  api/src/certification/results/infrastructure/serializers/shareable-certificate-serializer.js
  api/src/shared/domain/models/CertificationResult.js
  api/tests/certification/results/integration/infrastructure/repositories/certificate-repository_test.js
  api/tests/certification/results/integration/infrastructure/repositories/certification-result-repository_test.js
  api/tests/unit/domain/models/CertificationResult_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#11369 [TECH] Mettre à jour Pix-UI dans la dernière version sur Pix-Orga (PIX-16473)
  orga/package-lock.json
  orga/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#11107 [DOC] Ajout d'un document décrivant les pratiques à suivre concernant les traductions pour les devs
  docs/translations.md
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, :bellhop_bell: ping-jp, documentation

#11359 [FEATURE] Page de fin de module : changer le bouton "revenir aux détails du module"(PIX-16426)
  mon-pix/app/components/module/instruction/recap.gjs
  mon-pix/tests/acceptance/module/navigate-into-the-module-recap_test.js
  mon-pix/tests/acceptance/module/retake_completed_module_test.js
  mon-pix/tests/integration/components/module/recap_test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-devcomp

#11365 [TECH] Déprécie l'utilisation du `isCancelled` au profit du status du dernier `AssessmentResult`
  api/db/database-builder/factory/build-certification-course.js
  api/db/seeds/data/common/tooling/session-tooling.js
  api/src/certification/enrolment/domain/models/PixCertification.js
  api/src/certification/enrolment/domain/usecases/get-user-certification-eligibility.js
  api/src/certification/enrolment/domain/usecases/verify-candidate-subscriptions.js
  api/src/certification/enrolment/infrastructure/repositories/pix-certification-repository.js
  api/src/certification/evaluation/domain/services/scoring/scoring-v3.js
  api/src/certification/results/infrastructure/repositories/certificate-repository.js
  api/src/certification/results/infrastructure/repositories/certification-livret-scolaire-repository.js
  api/src/certification/session-management/domain/services/session-publication-service.js
  api/src/certification/session-management/infrastructure/repositories/certification-repository.js
  api/src/certification/shared/domain/models/CertificationCourse.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/src/shared/domain/events/handle-certification-rescoring.js
  api/tests/certification/session-management/unit/domain/services/session-publication-service_test.js
Labels: :rocket: Ready to Merge, team-certif

#11366 [FEATURE] Pouvoir créer et modifier des quêtes via PixAdmin (PIX-16388)
  admin/app/components/administration/common/index.gjs
  admin/app/components/administration/common/upsert-quests-in-batch.gjs
  admin/tests/integration/components/administration/common/upsert-quests-in-batch-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
  api/db/database-builder/factory/build-quest.js
  api/db/migrations/20250206134925_add-updated-at-on-quests.js
  api/src/quest/application/index.js
  api/src/quest/application/quest-controller.js
  api/src/quest/domain/models/Quest.js
  api/src/quest/domain/usecases/create-or-update-quests-in-batch.js
  api/src/quest/domain/usecases/index.js
  api/src/quest/infrastructure/repositories/index.js
  api/src/quest/infrastructure/repositories/quest-repository.js
  api/tests/quest/acceptance/application/quest-route_test.js
  api/tests/quest/integration/domain/usecases/create-or-update-quests-in-batch_test.js
  api/tests/quest/integration/infrastructure/repositories/quest-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11372 [FIX] #16477 Update a nextcloud doc link
  certif/app/services/url.js
Labels: :rocket: Ready to Merge

#11357 [TECH] Migration de la route POST /api/admin/certification-centers/{certificationCenterId}/certification-center-memberships (PIX-16451)
  api/lib/application/certification-centers/certification-center-controller.js
  api/lib/application/certification-centers/index.js
  api/src/team/application/certification-center-membership/certification-center-membership.admin.controller.js
  api/src/team/application/certification-center-membership/certification-center-membership.admin.route.js
  api/src/team/domain/usecases/create-certification-center-membership-by-email.usecase.js
  api/tests/acceptance/application/certification-centers/certification-center-controller_test.js
  api/tests/team/acceptance/application/certification-center-membership/certification-center-membership.admin.route.test.js
  api/tests/team/integration/domain/usecases/create-certification-center-membership-by-email.usecase.test.js
  api/tests/team/unit/application/certification-center-membership/certification-center-membership.admin.controller.test.js
  api/tests/team/unit/domain/usecases/create-certification-center-membership-by-email.usecase.test.js
  api/tests/unit/application/certification-centers/certification-center-controller_test.js
  api/tests/unit/application/certification-centers/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#11305 [TECH] Migrer la route POST /api/expired-password-updates (PIX-16367)
  api/lib/application/passwords/index.js
  api/lib/application/passwords/password-controller.js
  api/lib/routes.js
  api/src/identity-access-management/application/password/password.controller.js
  api/src/identity-access-management/application/password/password.route.js
  api/src/identity-access-management/domain/usecases/update-expired-password.usecase.js
  api/tests/acceptance/application/passwords/password-controller_test.js
  api/tests/identity-access-management/acceptance/application/password/password.route.test.js
  api/tests/identity-access-management/integration/application/password/password.route.test.js
  api/tests/identity-access-management/unit/application/password/password.controller.test.js
  api/tests/identity-access-management/unit/application/password/password.route.test.js
  api/tests/identity-access-management/unit/domain/usecases/update-expired-password.usecase.test.js
  api/tests/integration/application/passwords/index_test.js
  api/tests/integration/application/passwords/password-controller_test.js
  api/tests/unit/application/passwords/index_test.js
  api/tests/unit/application/passwords/password-controller_test.js
  docs/test.md
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#11344 [FEATURE] Evolution de l'import des OIDC pour prendre en compte la variable isVisible (PIX-16390)
  api/OIDC_PROVIDERS.example.json
  api/db/database-builder/factory/build-oidc-provider.js
  api/src/identity-access-management/domain/models/OidcProvider.js
  api/src/identity-access-management/domain/usecases/add-oidc-provider.js
  api/src/identity-access-management/domain/validators/add-oidc-provider.validator.js
  api/src/identity-access-management/infrastructure/repositories/oidc-provider-repository.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.admin.route.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/oidc-provider-repository_test.js
  api/tests/identity-access-management/unit/application/oidc-provider.admin.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/add-oidc-provider_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11337 [TECH] Récupère le snapshot avec l'id d'une participation à une campagne (pix-15758)
  api/scripts/prod/compute-participation-results.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-profiles-collection-participation-summary-repository.js
  api/src/prescription/campaign/infrastructure/repositories/knowledge-element-snapshot-repository.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-assessment-export.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-profiles-collection-export.js
  api/src/prescription/shared/domain/read-models/CampaignParticipationKnowledgeElementSnapshots.js
  api/src/shared/domain/services/placement-profile-service.js
  api/tests/integration/scripts/prod/compute-participation-results_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-assessment-results-to-stream_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-profiles-collection-participation-summary-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/knowledge-element-snapshot-repository_test.js
  api/tests/shared/integration/domain/services/placement-profile-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11310 [FEATURE] Indiquer si l'utilisateur se connecte via SSO sur Pix admin (PIX-14788)
  admin/app/components/users/user-overview.gjs
  admin/tests/integration/components/users/user-overview-test.gjs
  admin/tests/unit/components/users/user-overview-test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/db/database-builder/factory/build-authentication-method.js
  api/db/seeds/data/team-acces/build-users.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Design Review OK

#11376 [FEATURE] Afficher le titre interne comme titre dans la liste des contenus formatifs et la section côté Profil Cible (PIX-16462)
  admin/app/components/trainings/list-summary-items.gjs
  admin/app/components/trainings/training-details-card.gjs
  admin/app/controllers/authenticated/trainings/list.js
  admin/app/models/training-summary.js
  admin/app/routes/authenticated/trainings/list.js
  admin/app/templates/authenticated/trainings/list.hbs
  admin/tests/acceptance/authenticated/target-profiles/target-profile/training-summaries-test.js
  admin/tests/acceptance/authenticated/trainings/list-test.js
  admin/tests/acceptance/authenticated/trainings/training-test.js
  admin/tests/integration/components/trainings/create-or-update-training-form-test.gjs
  admin/tests/integration/components/trainings/list-summary-items-test.gjs
  admin/tests/integration/components/trainings/training-details-card-test.gjs
  admin/tests/unit/controllers/authenticated/trainings/list-test.js
  admin/tests/unit/routes/authenticated/trainings/list-test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/src/devcomp/application/trainings/index.js
  api/src/devcomp/infrastructure/repositories/training-repository.js
  api/tests/devcomp/integration/infrastructure/repositories/training-repository_test.js
  api/tests/devcomp/unit/domain/usecases/find-paginated-training-summaries_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11363 [FEATURE] Filtrer les SSO sur la page de connexion de Pix app (PIX-16391)
  api/OIDC_PROVIDERS.example.json
  api/src/identity-access-management/domain/services/oidc-authentication-service.js
  api/src/identity-access-management/infrastructure/serializers/jsonapi/oidc-identity-providers.serializer.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.admin.route.test.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.route.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.admin.controller.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.controller.test.js
  api/tests/identity-access-management/unit/domain/services/oidc-authentication-service_test.js
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/oidc-identity-providers.serializer.test.js
  mon-pix/app/components/authentication/oidc-provider-selector.gjs
  mon-pix/app/models/oidc-identity-provider.js
  mon-pix/mirage/routes/authentication/oidc/index.js
  mon-pix/tests/integration/components/authentication/oidc-provider-selector-test.gjs
  mon-pix/tests/integration/components/authentication/sso-selection-form-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11348 [TECH] Stocker la config des features toggles dans Redis
  api/src/shared/infrastructure/feature-toggles/feature-toggles-client.js
  api/tests/shared/unit/infrastructure/feature-toggles/feature-toggles-client.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#11381 [TECH] Revert de la PR-11308 sur l'amélioration de PGBoss
  api/db/database-builder/database-builder.js
  api/src/evaluation/infrastructure/repositories/answer-job-repository.js
  api/src/shared/config.js
  api/src/shared/infrastructure/repositories/jobs/job-repository.js
  api/src/shared/infrastructure/repositories/jobs/pg-boss.js
  api/tests/certification/session-management/integration/infrastructure/repositories/jobs/certification-rescoring-by-script-job-repository_test.js
  api/tests/evaluation/unit/infrastructure/repositories/answer-job-repository_test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/jobs/gar-anonymized-batch-events-logging-job.repository.test.js
  api/tests/integration/infrastructure/repositories/jobs/certification-completed-job-repository_test.js
  api/tests/integration/scripts/certification/rescore-certifications_test.js
  api/tests/integration/tooling/jobs/expect-job.test.js
  api/tests/learning-content/integration/infrastructure/repositories/jobs/lcms-create-release-job-repository_test.js
  api/tests/learning-content/integration/infrastructure/repositories/jobs/lcms-refresh-cache-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-completed-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-result-calculation-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-shared-job-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/jobs/participation-started-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/compute-certificability-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-common-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-sco-csv-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-sup-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/validate-common-organization-learners-import-file-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/validate-csv-organization-learners-import-file-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/validate-organization-learners-import-file-job-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/jobs/job-repository_test.js
  api/tests/test-helper.js
  api/tests/tooling/jobs/expect-job.js
  api/tests/unit/tooling/database-builder/database-helpers_test.js
  api/worker.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#11383 [FEATURE] Rendre le champ titre interne obligatoire (PIX-16461) (PIX-16068)
  api/src/devcomp/application/trainings/index.js
  api/tests/devcomp/acceptance/application/trainings/training-controller_test.js
  api/tests/devcomp/unit/application/trainings/index_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11373 [BUGFIX] Tolérance aux doublons dans les réponses sur Pix Junior
  api/src/school/domain/models/Mission.js
  api/src/school/domain/services/update-current-activity.js
  api/src/school/domain/usecases/get-next-challenge.js
  api/src/school/infrastructure/repositories/activity-answer-repository.js
  api/tests/school/integration/domain/services/update-current-activity_test.js
  api/tests/school/integration/domain/usecases/get-next-challenge_test.js
  api/tests/school/integration/infrastructure/repositories/activity-answer-repository_test.js
  api/tests/school/unit/domain/models/Mission_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#11371 [TECH] Afficher un statut annulée en cas de certification avec problème technique et - 20 questions (PIX-16476).
  api/src/certification/evaluation/domain/services/scoring/scoring-v3.js
  api/src/certification/scoring/domain/models/factories/AssessmentResultFactory.js
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v3_test.js
  api/tests/certification/scoring/unit/domain/factories/AssessmentResultFactory_test.js
  api/tests/certification/session-management/acceptance/application/finalize-route_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11375 [FEATURE] Ajouter une route pour retourner les badges acquis lors des participations d'une campagne (PIX-16240)
  api/lib/infrastructure/repositories/badge-acquisition-repository.js
  api/src/prescription/campaign/application/campaign-stats-controller.js
  api/src/prescription/campaign/application/campaign-stats-route.js
  api/src/prescription/campaign/domain/read-models/BadgeAcquisitionParticipationStatistic.js
  api/src/prescription/campaign/domain/usecases/statistics/get-badge-acquisitions-statistics.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-participations-stats-repository.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/badge-acquisitions-statistics-serializer.js
  api/tests/integration/infrastructure/repositories/badge-acquisition-repository_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-stats-route_test.js
  api/tests/prescription/campaign/integration/domain/usecases/statistics/get-badge-acquisitions-statistics_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-participations-stats-repository_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/jsonapi/badge-acquisitions-statistics-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11379 [BUGFIX] Corriger le script d'envoi d'invitation à rejoindre une organisation en masse (PIX-16498)
  api/src/team/scripts/send-organization-invitations-script.js
  api/tests/team/unit/scripts/files/send-incorrecte-organization-invitations.csv
  api/tests/team/unit/scripts/send-organization-invitations-script_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11163 [DOC] Ajout d'un document décrivant les pratiques à suivre concernant les erreurs pour les devs
  docs/errors.md
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, documentation

#11380 [FEATURE] Ne pas faire fuiter l'information qu'un compte existe ou non dans la route /api/password-reset-demands (PIX-16365)
  api/src/identity-access-management/application/password/password.controller.js
  api/src/identity-access-management/domain/usecases/create-reset-password-demand.usecase.js
  api/src/identity-access-management/infrastructure/serializers/jsonapi/reset-password.serializer.js
  api/tests/identity-access-management/acceptance/application/password/password.route.test.js
  api/tests/identity-access-management/integration/application/password/password.controller.test.js
  api/tests/identity-access-management/integration/domain/usecases/create-reset-password-demand.usecase.test.js
  api/tests/identity-access-management/unit/application/password/password.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/create-reset-password-demand.usecase.test.js
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/reset-password.serializer.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#11062 [FEATURE] Create Module bases-clavier-ordinateur-1.json (MODC-204)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bases-clavier-ordinateur-1.json
Labels: :rocket: Ready to Merge, contribution-modulix

#11235 [FEATURE] Create Module bases-clavier-ordinateur-2.json (MODC-606)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bases-clavier-ordinateur-2.json
Labels: :rocket: Ready to Merge, contribution-modulix

#11339 [TECH] ne plus enregistrer les userId / assessmentId dans les snapshot (Pix-16285)
  api/db/database-builder/factory/build-knowledge-element-snapshot.js
  api/db/seeds/data/common/tooling/campaign-tooling.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-collective-result-repository.js
  api/src/prescription/campaign/infrastructure/repositories/knowledge-element-snapshot-repository.js
  api/src/prescription/shared/domain/models/KnowledgeElementCollection.js
  api/src/shared/infrastructure/repositories/knowledge-element-repository.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-results-route_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-assessment-results-to-stream_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-collective-result-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-profiles-collection-participation-summary-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/knowledge-element-snapshot-repository_test.js
  api/tests/prescription/shared/unit/domain/models/KnowledgeElementCollection_test.js
  api/tests/shared/integration/domain/services/placement-profile-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11378 [TECH] :package: Déplace le repo `badgeForCalculation` vers `src/`
  api/lib/domain/usecases/index.js
  api/src/certification/shared/domain/services/certification-badges-service.js
  api/src/prescription/campaign-participation/domain/usecases/index.js
  api/src/shared/infrastructure/repositories/badge-for-calculation-repository.js
  api/tests/shared/integration/infrastructure/repositories/badge-for-calculation-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, team-prescription, Bounded-context-migration

#11382 [BUGFIX] Ajouter automatiquement un 0 devant le département s'il ne contient que 2 chiffres (PIX-13151)
  api/src/organizational-entities/domain/models/OrganizationForAdmin.js
  api/tests/organizational-entities/acceptance/application/organization/organization.admin.route.test.js
  api/tests/organizational-entities/unit/domain/models/OrganizationForAdmin_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#11384 [BUGFIX] Éviter les corruptions de cache du Learning Content (PIX-16501)
  api/src/shared/infrastructure/caches/learning-content-cache.js
  api/src/shared/infrastructure/repositories/learning-content-repository.js
  api/tests/shared/integration/infrastructure/repositories/learning-content-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, team-contenu

#11389 [TECH] ♻️ migre le usecase et les repo associé aux badge acquisition (Pix-16518)
  api/lib/domain/usecases/index.js
  api/scripts/prod/insert-missing-pole-emploi-sending-from-date.js
  api/src/evaluation/domain/usecases/handle-badge-acquisition.js
  api/src/evaluation/domain/usecases/index.js
  api/src/evaluation/infrastructure/repositories/badge-acquisition-repository.js
  api/src/prescription/campaign-participation/domain/usecases/index.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/domain/events/index.js
  api/tests/evaluation/integration/domain/usecases/handle-badge-acquisition_test.js
  api/tests/evaluation/integration/infrastructure/repositories/badge-acquisition-repository_test.js
  api/tests/evaluation/unit/domain/usecases/handle-badge-acquisition_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-complete-assessment_test.js
  api/tests/shared/unit/application/assessments/assessment-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11350 [FEATURE] Reprise mdl bien-ecrire-son-adresse-mail pour coval 16/10 (MODC-2) (closed PR#10189)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/tests/devcomp/acceptance/application/passages/passage-controller_test.js
Labels: :rocket: Ready to Merge, team-devcomp, contribution-modulix

#11402 [TECH] corrige le test flaky sur admin
  admin/app/components/common/tubes-selection.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#11231 [FEATURE] Créer un script pour supprimer des références dans "snapshot" de la table "knowledge-element-snapshots" (PIX-15756)
  api/scripts/prod/clean-ke-snapshots.js
  api/tests/integration/scripts/prod/clean-ke-snapshots_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, team-captains

#11388 [TECH] Déprécier l'utilisation du `isCancelled` au profit du statut de l'assessment-result (PIX-16046).
  api/lib/domain/usecases/index.js
  api/src/certification/evaluation/application/jobs/certification-completed-job-controller.js
  api/src/certification/evaluation/domain/services/scoring/scoring-v2.js
  api/src/certification/scoring/domain/models/factories/AssessmentResultFactory.js
  api/src/certification/session-management/domain/usecases/index.js
  api/src/certification/session-management/infrastructure/repositories/cpf-certification-result-repository.js
  api/src/shared/domain/events/handle-certification-rescoring.js
  api/tests/certification/evaluation/unit/application/jobs/certification-completed-job-controller_test.js
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v2_test.js
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v3_test.js
  api/tests/certification/scoring/unit/domain/factories/AssessmentResultFactory_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/cpf-certification-result-repository_test.js
  api/tests/tooling/domain-builder/factory/certification/scoring/build-assessment-result.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11312 [FEATURE] Ajout de metrics sur le filtre RT (PIX-16345)
  orga/app/components/campaign/filter/participation-filters.gjs
  orga/tests/integration/components/campaign/filter/participation-filters-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11400 [TECH] Utiliser partout la même logique explicite MissingOrInvalidCredentialsError qui ne fait pas fuiter les informations (PIX-16543)
  api/src/identity-access-management/domain/usecases/authenticate-user.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-user_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#11395 [TECH] Ajouter un sous-composant d'affichage de l'état d'une certification (PIX-16534).
  admin/app/components/certifications/certification/informations.gjs
  admin/app/components/certifications/certification/informations/state.gjs
  admin/app/components/certifications/info-tag.gjs
  admin/app/styles/app.scss
  admin/app/styles/authenticated/certifications/certification/informations.scss
  admin/app/styles/components/certification-info-tag.scss
  admin/tests/integration/components/certifications/certification/informations-test.gjs
  admin/tests/integration/components/certifications/certification/informations/state-test.gjs
  admin/tests/integration/components/certifications/info-tag-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11385 [BUGFIX] Corriger le decalage entre capacities et certification-challenges (PIX-16457).
  api/scripts/certification/remove-exact-same-challenge-recorded-twice.js
  api/tests/integration/scripts/certification/remove-exact-same-challenge-recorded-twice_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11401 [TECH] Bump des dépendances Audit Logger mineures et patchs
  audit-logger/package-lock.json
  audit-logger/package.json
Labels: :rocket: Ready to Merge, team-acces, cross-team, dependencies

#11403 [FEATURE] Ajouter un endpoint pour supprimer la liaison entre un Profil Cible et un Contenu Formatif (PIX-16512)
  api/lib/infrastructure/repositories/target-profile-training-repository.js
  api/src/devcomp/application/trainings/index.js
  api/src/devcomp/application/trainings/training-controller.js
  api/src/devcomp/domain/usecases/detach-target-profiles-from-training.js
  api/tests/devcomp/acceptance/application/trainings/index_test.js
  api/tests/devcomp/integration/application/trainings/index_test.js
  api/tests/devcomp/unit/domain/usecases/detach-target-profiles-from-training_test.js
  api/tests/integration/infrastructure/repositories/target-profile-training-repository_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11394 [BUGFIX] Réparer l'apparence de la liste déroulante de SSO pour qu'elle retrouve son style pyjama (PIX-16535)
  mon-pix/app/components/authentication/oidc-provider-selector.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11399 [TECH] Améliorer les seeds des SSO (OIDC Providers) (PIX-16538)
  api/OIDC_PROVIDERS.example.json
  api/db/database-builder/factory/build-authentication-method.js
  api/db/seeds/data/team-acces/build-oidc-providers.js
  api/db/seeds/data/team-acces/build-users.js
  api/db/seeds/data/team-acces/constants.js
  api/db/seeds/data/team-acces/data-builder.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#11405 [FEATURE] Ajouter une colone locale dans le tableau des invitations à rejoindre une orga en attente sur Pix admin (Pix-16380)
  admin/app/components/organizations/invitations.gjs
  admin/tests/integration/components/organizations/invitations-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11409 [FEATURE] Ajouter la durée du code de validation du changement d'email sur Pix-app (PIX-14088)
  mon-pix/app/components/user-account/email-verification-code.hbs
  mon-pix/app/styles/components/user-account/_email-verification-code.scss
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Design Review OK

#10724 [FEATURE] création module PPN#2 Controle parental
  api/src/devcomp/infrastructure/datasources/learning-content/modules/controle-parental.json
Labels: :rocket: Ready to Merge, contribution-modulix

#11317 [FEATURE] Suppression du scope pour les RT utilisateurs (PIX-15926)
  api/sample.env
  api/src/identity-access-management/application/monitor-pre-handlers.js
  api/src/identity-access-management/application/token/token.controller.js
  api/src/identity-access-management/application/token/token.route.js
  api/src/identity-access-management/domain/models/RefreshToken.js
  api/src/identity-access-management/domain/usecases/authenticate-user.js
  api/src/identity-access-management/domain/usecases/create-access-token-from-refresh-token.usecase.js
  api/src/identity-access-management/infrastructure/repositories/refresh-token.repository.js
  api/src/shared/config.js
  api/src/shared/infrastructure/plugins/pino.js
  api/tests/identity-access-management/acceptance/application/token.route.test.js
  api/tests/identity-access-management/integration/domain/usecases/create-access-token-from-refresh-token.usecase.test.js
  api/tests/identity-access-management/unit/application/monitor-pre-handlers.test.js
  api/tests/identity-access-management/unit/application/token.controller.test.js
  api/tests/identity-access-management/unit/domain/models/RefreshToken.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11272 [TECH] Uniformise le code des fonctionnalités d'organisation sur PixAdmin (PIX-16319).
  admin/app/components/organizations/information-section-edit.gjs
  admin/app/components/organizations/information-section-view.gjs
  admin/app/models/organization-form.js
  admin/app/models/organization.js
  admin/app/serializers/organization.js
  admin/mirage/factories/organization.js
  admin/tests/acceptance/authenticated/organizations/information-management-test.js
  admin/tests/integration/components/organizations/information-section-edit-test.gjs
  admin/tests/integration/components/organizations/information-section-test.gjs
  admin/tests/integration/components/organizations/information-section-view-test.gjs
  admin/tests/unit/components/organizations/information-section-edit-test.js
  admin/tests/unit/models/organization-test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/src/organizational-entities/domain/models/OrganizationForAdmin.js
  api/src/organizational-entities/infrastructure/repositories/organization-for-admin.repository.js
  api/src/organizational-entities/infrastructure/serializers/jsonapi/organizations-administration/organization-for-admin.serializer.js
  api/src/shared/domain/constants.js
  api/tests/organizational-entities/acceptance/application/organization/organization.admin.route.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin.repository.test.js
  api/tests/organizational-entities/unit/domain/models/OrganizationForAdmin_test.js
  api/tests/organizational-entities/unit/infrastructure/serializers/jsonapi/organization-for-admin.serializer.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11342 [FEATURE] Envoyer un email d'avertissement si l'utilisateur ne s'est pas connecté depuis 12 mois ou plus (PIX-16126)
  api/sample.env
  api/src/identity-access-management/domain/emails/create-reset-password-demand.email.js
  api/src/identity-access-management/domain/emails/create-warning-connection.email.js
  api/src/identity-access-management/domain/models/UserLogin.js
  api/src/identity-access-management/domain/usecases/authenticate-user.js
  api/src/shared/config.js
  api/src/shared/infrastructure/utils/url-builder.js
  api/src/shared/mail/infrastructure/services/mailer.js
  api/tests/identity-access-management/unit/domain/emails/create-warning-connection.email.test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-user_test.js
  api/tests/tooling/domain-builder/factory/identity-access-management/build-user-login.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/models/UserLogin_test.js
  api/translations/en.json
  api/translations/es.json
  api/translations/fr.json
  api/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11351 [FEATURE] Utiliser PixCode dans le code candidat pour l'entrée en certification sur Pix App (PIX-16448).
  mon-pix/app/components/certification-starter.hbs
  mon-pix/app/components/certification-starter.js
  mon-pix/app/styles/components/_certification-starter.scss
  mon-pix/tests/integration/components/certification-starter-test.js
  mon-pix/tests/integration/components/certifications/start-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-certif

#11393 [FEATURE] Autoriser la suppression de Quetes via PixAdmin (Pix-16533)
  api/src/quest/domain/usecases/create-or-update-quests-in-batch.js
  api/src/quest/infrastructure/repositories/quest-repository.js
  api/tests/quest/integration/domain/usecases/create-or-update-quests-in-batch_test.js
  api/tests/quest/integration/infrastructure/repositories/quest-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11412 [FEATURE] Remplacer skills par competences dans le tableau de la page statistiques (PIX-16411)
  orga/app/components/statistics/index.gjs
  orga/tests/integration/components/statistics/index-test.gjs
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11397 [FEATURE] Utiliser PixCode dans le code campagne sur PixApp (PIX-16449).
  mon-pix/app/components/campaign-code-form.gjs
  mon-pix/app/controllers/fill-in-campaign-code.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/globals/_inputs.scss
  mon-pix/app/styles/pages/_fill-in-campaign-code.scss
  mon-pix/app/templates/fill-in-campaign-code.hbs
  mon-pix/tests/acceptance/authentication/signup-test.js
  mon-pix/tests/acceptance/fill-in-campaign-code-test.js
  mon-pix/tests/acceptance/oidc/start-campaigns-workflow-for-oidc-partner-test.js
  mon-pix/tests/acceptance/start-campaigns-workflow-test.js
  mon-pix/tests/integration/components/campaign-code-form-test.gjs
  mon-pix/tests/unit/controllers/fill-in-campaign-code-test.js
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#11396 [FEATURE] Liste blanche ouverture SCO via BDD (PIX-15544).
  api/src/certification/configuration/domain/models/Center.js
  api/src/identity-access-management/infrastructure/repositories/certification-point-of-contact.repository.js
  api/src/shared/config.js
  api/src/shared/domain/read-models/AllowedCertificationCenterAccess.js
  api/tests/certification/configuration/unit/domain/models/Center_test.js
  api/tests/integration/infrastructure/repositories/certification-point-of-contact.repository.test.js
  api/tests/tooling/domain-builder/factory/build-allowed-certification-center-access.js
  api/tests/unit/domain/read-models/AllowedCertificationCenterAccess_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-acces, team-certif

#11386 [TECH] Migrer la route Admin qui liste les adhésions aux centres de certification d'un utilisateur (PIX-16452)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/src/team/application/certification-center-membership/certification-center-membership.admin.controller.js
  api/src/team/application/certification-center-membership/certification-center-membership.admin.route.js
  api/src/team/domain/usecases/find-certification-center-memberships-by-user.js
  api/tests/acceptance/application/users/find-user-certification-centers-for-admin-route-get_test.js
  api/tests/team/acceptance/application/certification-center-membership/certification-center-membership.admin.route.test.js
  api/tests/team/integration/application/certification-center-membership/certification-center-membership.admin.route.test.js
  api/tests/team/unit/application/certification-center-membership/certification-center-membership.admin.controller.test.js
  api/tests/team/unit/application/certification-center-membership/certification-center-membership.controller.test.js
  api/tests/team/unit/domain/usecases/find-certification-center-memberships-by-user_test.js
  api/tests/unit/application/users/user-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#11413 [FEATURE] Ajouter une action Détacher dans la liste des Contenus Formatifs (PIX-16511)(PIX-7393)
  admin/app/adapters/training.js
  admin/app/controllers/authenticated/trainings/training/target-profiles.js
  admin/app/templates/authenticated/trainings/training/target-profiles.hbs
  admin/mirage/config.js
  admin/mirage/handlers/trainings.js
  admin/tests/acceptance/authenticated/trainings/target-profiles-test.js
  admin/tests/unit/adapters/training-test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11410 [TECH] Ajouter le niveau global dans la documentation Parcoursup (PIX-16471).
  api/src/parcoursup/application/certification-route.js
  api/src/parcoursup/domain/read-models/CertificationResult.js
  api/tests/parcoursup/acceptance/application/certification-route_test.js
Labels: :rocket: Ready to Merge, team-certif

#11408 [FEATURE] Ajouter un icône dans la liste des profils cible pour afficher le type d'accès au parcours (PIX-16384)
  api/src/prescription/target-profile/infrastructure/serializers/jsonapi/target-profile-for-specifier-serializer.js
  api/tests/prescription/target-profile/unit/infrastructure/serializers/jsonapi/target-profile-for-specifier-serializer_test.js
  orga/app/components/campaign/create-form.gjs
  orga/app/components/campaign/target-profile-details.gjs
  orga/app/models/target-profile.js
  orga/mirage/config.js
  orga/tests/acceptance/campaign-creation-test.js
  orga/tests/integration/components/campaign/create-form-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11424 [TECH] Simplifier la création des migrations
  api/db/template.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#11404 [FEATURE] Ajouter la nouvelle barre de navigation dans Pix Admin (PIX-16550)
  admin/app/components/certification-centers/list-items.gjs
  admin/app/components/layout/sidebar.gjs
  admin/app/components/login-form.gjs
  admin/app/components/sessions/list-items.gjs
  admin/app/components/team/list.gjs
  admin/app/controllers/authenticated.js
  admin/app/models/feature-toggle.js
  admin/app/styles/app.scss
  admin/app/styles/globals/global.scss
  admin/app/styles/globals/page.scss
  admin/app/styles/globals/tables.scss
  admin/app/styles/layout/sidebar.scss
  admin/app/styles/login.scss
  admin/app/templates/authenticated.hbs
  admin/app/templates/authenticated/certifications.hbs
  admin/public/admin-logo.svg
  admin/tests/acceptance/authenticated-test.js
  admin/tests/integration/components/layout/sidebar_test.gjs
  admin/tests/integration/components/login-form-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
  api/sample.env
  api/src/shared/config.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
Labels: :rocket: Ready to Merge, Design Review OK, cross-team

#11422 [FEATURE] Remise à jour du script `get-modules-csv` (PIX-16132)
  api/scripts/modulix/get-modules-csv.js
  api/tests/devcomp/acceptance/scripts/get-modules-csv_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#10748 [FEATURE] Création - Module tri multicritère avancé (MODC-174)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/tri-multicritere-tableau.json
Labels: :rocket: Ready to Merge, contribution-modulix

#11398 [TECH] Ajouter un sous-composant d'affichage des actions sur une certification (PIX-16542).
  admin/app/components/certifications/certification/informations.gjs
  admin/app/components/certifications/certification/informations/global-actions.gjs
  admin/app/controllers/authenticated/certifications/certification/informations.js
  admin/app/templates/authenticated/certifications/certification/informations.hbs
  admin/tests/acceptance/authenticated/certifications/certification/informations-test.js
  admin/tests/integration/components/certifications/certification/informations-test.gjs
  admin/tests/integration/components/certifications/certification/informations/global-actions-test.gjs
  admin/tests/unit/components/certifications/certification/informations/global-actions-test.js
  admin/tests/unit/controllers/authenticated/certifications/certification/informations-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11423 [TECH] Migrer la route POST api/admin/memberships/{id}/disable
  api/lib/application/memberships/index.js
  api/lib/application/memberships/membership-controller.js
  api/src/team/application/membership/membership.admin.route.js
  api/src/team/application/membership/membership.controller.js
  api/src/team/domain/usecases/disable-membership.usecase.js
  api/tests/integration/application/memberships/membership-controller_test.js
  api/tests/team/acceptance/application/membership/membership.admin.route.test.js
  api/tests/team/unit/application/membership/membership.admin.route.test.js
  api/tests/team/unit/domain/usecases/disable-membership.usecase.test.js
  api/tests/unit/application/memberships/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#11430 [BUGFIX] Augmente la durée maximum du job de calcul de la certificabilité.
  api/src/prescription/learner-management/application/jobs/schedule-compute-organization-learners-certificability-job-controller.js
  api/src/shared/application/jobs/job-controller.js
  api/src/shared/infrastructure/repositories/jobs/job-repository.js
  api/tests/shared/unit/application/jobs/job-controller_test.js
  api/tests/unit/worker_test.js
  api/worker.js
Labels: :rocket: Ready to Merge, team-prescription, team-captains

#11101 [FEATURE] Create module PPN#3 Jeux vidéo
  api/src/devcomp/infrastructure/datasources/learning-content/modules/jeux-video-enfant.json
Labels: :rocket: Ready to Merge, contribution-modulix

#11429 [FEATURE] Ajouter PixTable dans les certifications complémentaires sur Pix Admin (PIX-16588)
  admin/app/components/complementary-certifications/list.gjs
  admin/app/components/complementary-certifications/target-profiles/badges-list.gjs
  admin/app/components/complementary-certifications/target-profiles/history.gjs
  admin/app/components/complementary-certifications/target-profiles/information.gjs
  admin/app/templates/authenticated/complementary-certifications/list.hbs
  admin/tests/integration/components/complementary-certifications/target-profiles/history-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, Design Review OK, cross-team

#10900 [FEATURE] Création du module comment-envoyer-un-mail
  api/src/devcomp/infrastructure/datasources/learning-content/modules/comment-envoyer-un-mail.json
Labels: :rocket: Ready to Merge, contribution-modulix

#11433 [FEATURE] Déplacer get-answerable-elements hors de la liste des scripts extract CSV de Modulix (PIX-16025)
  api/scripts/modulix/get-proposals-csv.js
  api/scripts/modulix/utils/get-answerable-elements.js
  api/tests/devcomp/acceptance/scripts/get-proposals_test.js
  api/tests/devcomp/acceptance/scripts/utils/get-answerable-elements_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11427 [TECH] Simplifier l'usage de stratégie de connexions au sein de l'API (PIX-16585).
  api/lib/infrastructure/authentication.js
  api/server.js
  api/server.maddo.js
  api/src/certification/results/application/livret-scolaire-route.js
  api/src/parcoursup/application/certification-route.js
  api/src/prescription/campaign-participation/application/pole-emploi-route.js
  api/tests/tooling/server/http-test-server.js
  api/tests/unit/infrastructure/authentication_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-maddo

#11414 [TECH] Rattrapage des certifications annulées (PIX-16047).
  api/scripts/certification/create-assessment-result-for-cancelled-certification.js
  api/src/shared/config.js
  api/tests/integration/scripts/certification/create-assessment-result-for-cancelled-certification_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#11411 [TECH] Ajouter des logs spécifiques pour certains tokens problématiques (audience mismatch, revoked token) (PIX-16551)
  api/lib/infrastructure/authentication.js
  api/src/identity-access-management/infrastructure/repositories/revoked-user-access.repository.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, team-captains

#11436 Revert "[TECH] Retirer le script de suppression en masse d'organisations (PIX-16269)"
  api/src/organizational-entities/infrastructure/repositories/data-protection-officer.repository.js
  api/src/organizational-entities/infrastructure/repositories/organization-feature-repository.js
  api/src/organizational-entities/infrastructure/repositories/organization-for-admin.repository.js
  api/src/organizational-entities/infrastructure/repositories/organization-tag.repository.js
  api/src/organizational-entities/scripts/delete-organizations-script.js
  api/src/school/infrastructure/repositories/school-repository.js
  api/tests/organizational-entities/integration/infrastructure/repositories/data-protection-officer.repository.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-feature-repository_test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin.repository.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-tag.repository.test.js
  api/tests/organizational-entities/unit/scripts/delete-organizations-script.test.js
  api/tests/school/integration/infrastructure/repositories/school-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11444 [TECH] Contextualiser les loggers de Scripts par défaut
  api/src/shared/application/scripts/script-runner.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#11443 [TECH] Suppression du token d’accès aux résultats de campagne (PIX-16610)
  api/sample.env
  api/src/prescription/campaign/application/campaign-detail-controller.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-report-serializer.js
  api/src/shared/config.js
  api/src/shared/config.maddo.js
  api/src/shared/domain/services/token-service.js
  api/tests/prescription/campaign/unit/application/campaign-detail-controller_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/jsonapi/campaign-report-serializer_test.js
  api/tests/shared/unit/domain/services/token-service_test.js
  orga/app/models/campaign.js
  orga/tests/unit/models/campaign-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-prescription

#11438 [BUGFIX] Les appels imbriqués aux méthodes d'exécution de code en transaction de la DomainTransaction n'utilisent pas la même transaction
  api/src/shared/domain/DomainTransaction.js
  api/tests/shared/integration/domain/DomainTransaction_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#11434 [FEATURE] Migrer les applications en BDD (PIX-16590).
  api/db/database-builder/factory/build-client-application.js
  api/db/migrations/20250213133525_create-table-client-applications.js
  api/db/seeds/data/common/common-builder.js
  api/lib/domain/usecases/authenticate-application.js
  api/lib/domain/usecases/index.js
  api/scripts/prod/migrate-client-application.js
  api/src/identity-access-management/domain/models/ClientApplication.js
  api/src/identity-access-management/infrastructure/repositories/client-application.repository.js
  api/src/shared/config.js
  api/tests/acceptance/application/authentication/authentication-route_test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/client-application.repository.test.js
  api/tests/integration/scripts/prod/migrate-client-application_test.js
  api/tests/prescription/organization-place/acceptance/application/get-data-organization-places_test.js
  api/tests/tooling/chai-custom-helpers/deep-equal-instance.js
  api/tests/tooling/domain-builder/factory/build-client-application.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/usecases/authenticate-application_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-maddo

#11285 [TECH] Déplacer la route des contenus formatifs vers le domaine Dev Comp (PIX-16249).
  api/lib/application/target-profiles/index.js
  api/lib/application/target-profiles/target-profile-controller.js
  api/lib/routes.js
  api/src/devcomp/application/trainings/index.js
  api/src/devcomp/application/trainings/training-controller.js
  api/tests/acceptance/application/target-profiles/index_test.js
  api/tests/devcomp/acceptance/application/trainings/index_test.js
  api/tests/devcomp/integration/application/trainings/index_test.js
  api/tests/devcomp/unit/application/trainings/training-controller_test.js
  api/tests/unit/application/target-profiles/index_test.js
  api/tests/unit/application/target-profiles/target-profile-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-devcomp, Bounded-context-migration

#11451 [TECH] Suppression du message de dépréciation au lancement des tests.
  api/src/devcomp/infrastructure/datasources/learning-content/module-datasource.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#11449 [FEATURE] Forcer une longueur minimum sur la solution des QROCM (PIX-16609)
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/qrocm-schema.js
Labels: :rocket: Ready to Merge, team-devcomp

#11455 Revert "[FEATURE] Utiliser les applications clientes en BdD"
  api/lib/domain/usecases/authenticate-application.js
  api/lib/domain/usecases/index.js
  api/tests/acceptance/application/authentication/authentication-route_test.js
  api/tests/prescription/organization-place/acceptance/application/get-data-organization-places_test.js
  api/tests/unit/domain/usecases/authenticate-application_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-maddo

#11448 [FEATURE] Ajout du score global dans les resultats Parcoursup (PIX-16548).
  api/db/seeds/data/common/common-builder.js
  api/sample.env
  api/src/certification/results/application/parcoursup-controller.js
  api/src/certification/results/application/parcoursup-route.js
  api/src/certification/results/domain/services/pix-score-to-mesh-level.js
  api/src/certification/results/domain/usecases/get-global-mesh-level.js
  api/src/certification/results/domain/usecases/index.js
  api/src/certification/results/infrastructure/serializers/parcoursup-certification-serializer.js
  api/src/certification/shared/domain/models/GlobalCertificationLevel.js
  api/tests/certification/results/acceptance/application/parcoursup-route_test.js
  api/tests/certification/results/unit/application/parcoursup-controller_test.js
  api/tests/certification/results/unit/domain/services/pix-score-to-mesh-level_test.js
  api/tests/certification/results/unit/domain/usecases/get-global-mesh-level_test.js
  api/tests/certification/results/unit/infrastructure/serializers/parcoursup-certification-serializer_test.js
  api/tests/certification/shared/unit/domain/models/GlobalCertificationLevel_test.js
  api/tests/tooling/domain-builder/factory/certification/results/build-global-mesh-level.js
  api/tests/tooling/domain-builder/factory/index.js
  api/translations/en.json
  api/translations/es.json
  api/translations/fr.json
  api/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, Parcoursup

#11440 [BUGFIX] Corriger une traduction anglaise sur le mail d'invitation à rejoindre un centre de certification (PIX-16587)
  api/translations/en.json
Labels: :rocket: Ready to Merge, team-acces

#11417 [FEATURE] Affiche tous les badges du PC (Pix-16352)
  api/db/seeds/data/common/tooling/campaign-tooling.js
  api/db/seeds/data/team-prescription/build-target-profiles.js
  api/db/seeds/data/team-prescription/constants.js
  orga/app/components/campaign/badges.gjs
  orga/app/components/campaign/results/assessment-list.gjs
  orga/app/components/campaign/results/assessment-row.gjs
  orga/app/models/badge.js
  orga/app/styles/pages/authenticated/campaigns/details/assessment-results.scss
  orga/tests/integration/components/campaign/badges-test.gjs
  orga/tests/integration/components/campaign/badges-test.js
  orga/tests/integration/components/campaign/results/assessment-list-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11416 [TECH] Déplacer les services solution dans le scope evaluation (PIX-16574).
  api/lib/domain/services/user-reconciliation-service.js
  api/lib/infrastructure/repositories/index.js
  api/scripts/prod/target-profile-migrations/parse-xls-files-for-target-profiles-migration.js
  api/src/evaluation/domain/models/ValidatorQCM.js
  api/src/evaluation/domain/models/ValidatorQCU.js
  api/src/evaluation/domain/models/ValidatorQROC.js
  api/src/evaluation/domain/models/ValidatorQROCMDep.js
  api/src/evaluation/domain/models/ValidatorQROCMInd.js
  api/src/evaluation/domain/services/services-utils.js
  api/src/evaluation/domain/services/solution/solution-service-qcm.js
  api/src/evaluation/domain/services/solution/solution-service-qcu.js
  api/src/evaluation/domain/services/solution/solution-service-qroc.js
  api/src/evaluation/domain/services/solution/solution-service-qrocm-dep.js
  api/src/evaluation/domain/services/solution/solution-service-qrocm-ind.js
  api/src/evaluation/domain/services/string-comparison-service.js
  api/src/evaluation/domain/services/validation-treatments.js
  api/tests/evaluation/unit/domain/services/solution/solution-service-qcm_test.js
  api/tests/evaluation/unit/domain/services/solution/solution-service-qcu_test.js
  api/tests/evaluation/unit/domain/services/solution/solution-service-qroc_test.js
  api/tests/evaluation/unit/domain/services/solution/solution-service-qrocm-dep_test.js
  api/tests/evaluation/unit/domain/services/solution/solution-service-qrocm-ind_test.js
  api/tests/evaluation/unit/domain/services/string-comparison-service_test.js
  api/tests/evaluation/unit/domain/services/validation-treatments_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, Bounded-context-migration

#11456 [FEATURE] Utiliser les applications clientes en Bdd
  api/lib/domain/usecases/authenticate-application.js
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/authentication.js
  api/scripts/prod/migrate-client-application.js
  api/src/certification/results/application/livret-scolaire-route.js
  api/src/certification/results/application/parcoursup-route.js
  api/src/prescription/campaign-participation/application/pole-emploi-route.js
  api/src/prescription/organization-place/application/organization-place-route.js
  api/src/shared/config.js
  api/tests/acceptance/application/authentication/authentication-route_test.js
  api/tests/certification/results/unit/application/parcoursup-route_test.js
  api/tests/integration/scripts/prod/migrate-client-application_test.js
  api/tests/prescription/organization-place/acceptance/application/get-data-organization-places_test.js
  api/tests/test-helper.js
  api/tests/unit/domain/usecases/authenticate-application_test.js
  api/tests/unit/infrastructure/authentication_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-maddo

#11454 [TECH] Créer nouvel usecase de duplication d'un CF (PIX-16643)
  api/src/devcomp/domain/usecases/duplicate-training.js
  api/tests/devcomp/unit/domain/usecases/duplicate-training_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11466 [BUGFIX] Convertir la valeur de la variable de certificabilitée en booléen (PIX-16515)
  api/src/shared/config.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#11457 [TECH] Utiliser la CLI de GitHub pour commenter les pull request de modulix
  .github/workflows/test-modulix-content.yaml
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#11437 [FEATURE] Ajouter PixTable dans les tableaux des sessions sur Pix Admin (PIX-16591).
  admin/app/components/certification-centers/list-items.gjs
  admin/app/components/certification-centers/memberships-section.gjs
  admin/app/components/complementary-certifications/attach-badges/target-profile-selector/searchbar.gjs
  admin/app/components/complementary-certifications/list.gjs
  admin/app/components/complementary-certifications/target-profiles/badges-list.gjs
  admin/app/components/complementary-certifications/target-profiles/history.gjs
  admin/app/components/organizations/all-tags.gjs
  admin/app/components/organizations/list-items.gjs
  admin/app/components/organizations/target-profiles-section.gjs
  admin/app/components/organizations/team-section.gjs
  admin/app/components/sessions/list-items.gjs
  admin/app/components/target-profiles/list-summary-items.gjs
  admin/app/components/team/list.gjs
  admin/app/components/to-be-published-sessions/list-items.gjs
  admin/app/components/users/list-items.gjs
  admin/app/components/users/user-detail-personal-information/organization-learner-information.gjs
  admin/app/components/users/user-profile.gjs
  admin/app/components/with-required-action-sessions/list-items.gjs
  admin/app/controllers/authenticated/sessions/list/to-be-published.js
  admin/app/controllers/authenticated/sessions/list/with-required-action.js
  admin/app/styles/authenticated/sessions/list.scss
  admin/app/templates/authenticated/sessions/list.hbs
  admin/app/templates/authenticated/sessions/list/to-be-published.hbs
  admin/app/templates/authenticated/sessions/list/with-required-action.hbs
  admin/tests/acceptance/authenticated/sessions/list/with-required-action-test.js
  admin/tests/integration/components/complementary-certifications/list-test.gjs
  admin/tests/integration/components/complementary-certifications/target-profiles/badges-list-test.gjs
  admin/tests/integration/components/complementary-certifications/target-profiles/history-test.gjs
  admin/tests/integration/components/routes/authenticated/sessions/list-items-test.gjs
  admin/tests/integration/components/to-be-published-sessions/list-items-test.gjs
  admin/tests/integration/components/users/user-detail-personal-information/organization-learner-information-test.gjs
  admin/tests/integration/components/users/user-profile-test.gjs
  admin/tests/integration/components/with-required-action-sessions/list-items-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Labels: :rocket: Ready to Merge, Func Review OK, team-certif, Design Review OK, cross-team

#11441 [FEATURE] Créer un centre de certification en pilote V3 par défaut (PIX-16601)
  admin/app/components/certification-centers/creation-form.gjs
  admin/app/components/certification-centers/information-edit.gjs
  admin/app/controllers/authenticated/certification-centers/get.js
  admin/tests/acceptance/authenticated/certification-centers/get-test.js
  admin/tests/integration/components/certification-centers/creation-form-test.gjs
  admin/tests/integration/components/certification-centers/information-edit-test.gjs
  admin/tests/unit/components/certification-centers/information-edit-test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/src/organizational-entities/infrastructure/repositories/certification-center-for-admin.repository.js
  api/tests/organizational-entities/integration/infrastructure/repositories/certification-center-for-admin-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11472 [TECH] Ajoute les infos de badges imageUrl et altMessage dans le serializer de campagne (pix-16689)
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-report-serializer.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/jsonapi/campaign-report-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11452 [FEATURE] Ajouter les migrations de lastLoggedAt et lastAccessedAt
  api/db/migrations/20250218170901_add-lastLoggedAt-column-to-authentication-methods-table.js
  api/db/migrations/20250218184023_add-lastAccessedAt-column-to-memberships-table.js
  api/db/migrations/20250218184324_add-lastAccessedAt-column-to-certification-center-memberships-table.js
  api/tests/team/integration/infrastructure/repositories/certification-center-membership.repository.test.js
  api/tests/team/integration/infrastructure/repositories/membership-repository.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#11473 [BUGFIX] Correction du layout shift sur la bannière de nouvelle information du dashboard Pix App
  mon-pix/app/styles/components/_new-information.scss
Labels: :rocket: Ready to Merge, cross-team

#11453 [FEATURE] Afficher correctement le nom/prenom sur les attesations PDF sixth_grade / parenthood (Pix-16644)
  api/src/profile/domain/models/User.js
  api/src/profile/infrastructure/serializers/pdf/templates/parenthood-attestation-template.pdf
  api/src/profile/infrastructure/serializers/pdf/templates/sixth-grade-attestation-template.pdf
  api/tests/profile/integration/domain/usecases/get-attestation-data-for-users_test.js
  api/tests/profile/integration/domain/usecases/get-shared-attestations-for-organization-by-user-ids_test.js
  api/tests/profile/unit/domain/models/User_test.js
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/attestation-result.gjs
  mon-pix/tests/integration/components/campaign/skill-review/attestation-result-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11474 [FEATURE] Ajouter une feature qui permet d'avoir une nouvelle typologie de campagne (PIX-16375)
  api/db/migrations/20250221092357_add-feature-assessment-without-profile.js
  api/db/seeds/data/common/constants.js
  api/db/seeds/data/common/feature-builder.js
  api/db/seeds/data/common/organization-builder.js
  api/src/shared/domain/constants.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11459 [TECH] Migrer la route de mise à jour du rôle d'un membre d'un centre de certification
  api/lib/application/certification-center-memberships/certification-center-membership-controller.js
  api/lib/application/certification-center-memberships/index.js
  api/src/team/application/certification-center-membership/certification-center-membership.controller.js
  api/src/team/application/certification-center-membership/certification-center-membership.route.js
  api/tests/acceptance/application/certification-center-memberships/certification-center-membership-controller_test.js
  api/tests/integration/application/certification-center-memberships/certification-center-membership-controller_test.js
  api/tests/team/acceptance/application/certification-center-membership/certification-center-membership.route.test.js
  api/tests/team/integration/application/certification-center-membership/certification-center-membership.route.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#11471 [TECH] : 🔧 Ajout de la config maintenance plannifiée pour pix-admin
  admin/maintenance_page.html
  admin/maintenance_scheduled.html
  admin/servers.conf.erb
Labels: Tech Review OK, :rocket: Ready to Merge, team-captains

#11387 [FEATURE] Page résultats de campagne : afficher les badges obtenus sur le total des participations (PIX-16241)
  api/db/seeds/data/team-contenu/data-builder.js
  api/db/seeds/data/team-evaluation/data-builder.js
  api/db/seeds/data/team-prescription/build-target-profiles.js
  api/src/prescription/campaign/domain/read-models/BadgeAcquisitionParticipationStatistic.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/badge-acquisitions-statistics-serializer.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/jsonapi/badge-acquisitions-statistics-serializer_test.js
  orga/app/adapters/campaign-stats.js
  orga/app/components/campaign/charts/campaign-badge-acquisitions.gjs
  orga/app/components/campaign/charts/result-distribution.gjs
  orga/app/components/copy-paste-button.hbs
  orga/app/components/ui/chart-card.gjs
  orga/app/components/ui/chart-card.hbs
  orga/app/styles/components/campaign/charts/campaign-badge-acquisitions.scss
  orga/app/styles/components/campaign/charts/participants-by-stage.scss
  orga/app/styles/components/campaign/charts/results-distribution.scss
  orga/app/styles/components/campaign/index.scss
  orga/app/styles/components/ui/cards.scss
  orga/app/styles/pages/authenticated/campaigns/details/assessment-results.scss
  orga/tests/integration/components/campaign/charts/campaign-badge-acquisition-test.gjs
  orga/tests/integration/components/campaign/charts/result-distribution-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11469 [TECH] Déplacer les assets du Didacticiel Modulix vers `assets.pix.org` (PIX-16677)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
Labels: :rocket: Ready to Merge, team-devcomp

#11486 [FEATURE] Renommage du didacticiel de Modulix en bac-a-sable (PIX-16674)
  api/db/seeds/data/team-devcomp/build-trainings.js
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bac-a-sable.json
  api/src/devcomp/infrastructure/datasources/learning-content/readme.md
  api/tests/devcomp/acceptance/application/passages/passage-controller_test.js
  api/tests/devcomp/acceptance/scripts/get-elements-csv_test.js
  api/tests/devcomp/acceptance/scripts/get-modules-csv_test.js
  api/tests/devcomp/acceptance/scripts/get-proposals_test.js
  api/tests/devcomp/acceptance/scripts/test-module.json
  api/tests/devcomp/acceptance/scripts/utils/get-answerable-elements_test.js
  api/tests/devcomp/integration/repositories/element-repository_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-validation_test.js
  high-level-tests/e2e/cypress/integration/pix-app/a11y-not-authenticated.test.js
  high-level-tests/e2e/cypress/integration/pix-app/modulix-a11y.feature
Labels: :rocket: Ready to Merge, team-devcomp

#11478 [FEATURE] Remplacer le PixReturnTo déprécié par le PixButtonLink sur Pix Orga (PIX-16694).
  orga/app/styles/components/import.scss
  orga/app/templates/authenticated/import-organization-participants.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11347 [TECH] Expliciter la définiton des quêtes (PIX-16445)
  api/db/database-builder/factory/build-quest.js
  api/db/seeds/data/team-prescription/build-quests.js
  api/src/evaluation/application/api/knowledge-elements-api.js
  api/src/evaluation/application/api/models/KnowledgeElementDTO.js
  api/src/prescription/organization-learner/application/api/read-models/OrganizationLearnerWithParticipations.js
  api/src/profile/domain/constants.js
  api/src/quest/domain/errors.js
  api/src/quest/domain/models/Criterion.js
  api/src/quest/domain/models/CriterionProperty.js
  api/src/quest/domain/models/DataForQuest.js
  api/src/quest/domain/models/Eligibility.js
  api/src/quest/domain/models/Quest.js
  api/src/quest/domain/models/Requirement.js
  api/src/quest/domain/models/Success.js
  api/src/quest/domain/usecases/get-quest-results-for-campaign-participation.js
  api/src/quest/domain/usecases/index.js
  api/src/quest/domain/usecases/reward-user.js
  api/src/quest/infrastructure/repositories/quest-repository.js
  api/src/quest/infrastructure/repositories/success-repository.js
  api/tests/evaluation/acceptance/application/answers/answer-controller-save_test.js
  api/tests/prescription/organization-learner/unit/application/api/models/OrganizationLearnerWithParticipations_test.js
  api/tests/prescription/organization-learner/unit/application/api/organization-learners-with-participations-api_test.js
  api/tests/profile/integration/infrastructure/repositories/profile-reward-repository_test.js
  api/tests/quest/acceptance/application/quest-route_test.js
  api/tests/quest/integration/domain/usecases/create-or-update-quests-in-batch_test.js
  api/tests/quest/integration/domain/usecases/get-quest-results-for-campaign-participation_test.js
  api/tests/quest/integration/domain/usecases/reward-user_test.js
  api/tests/quest/integration/infrastructure/repositories/quest-repository_test.js
  api/tests/quest/unit/domain/models/CriterionProperty_test.js
  api/tests/quest/unit/domain/models/Criterion_test.js
  api/tests/quest/unit/domain/models/Eligibility_test.js
  api/tests/quest/unit/domain/models/Quest_test.js
  api/tests/quest/unit/domain/models/Requirement_test.js
  api/tests/quest/unit/domain/models/Success_test.js
  api/tests/quest/unit/domain/usecases/get-quest-results-for-campaign-participation_test.js
  api/tests/quest/unit/domain/usecases/reward-user_test.js
  api/tests/quest/unit/infrastructure/repositories/eligibility-repository_test.js
  api/tests/quest/unit/infrastructure/repositories/success-repository_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-complete-assessment_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11465 [FEATURE] Créer un endpoint pour la duplication d'un CF(PIX-16669)
  api/src/devcomp/application/trainings/index.js
  api/src/devcomp/application/trainings/training-controller.js
  api/src/devcomp/domain/usecases/duplicate-training.js
  api/tests/devcomp/acceptance/application/trainings/index_test.js
  api/tests/devcomp/integration/application/trainings/index_test.js
  api/tests/devcomp/unit/application/trainings/training-controller_test.js
  api/tests/devcomp/unit/domain/usecases/duplicate-training_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11426 [TECH] Ajouter un sous-composant d'affichage des infos du candidat d'une certification (PIX-16580).
  admin/app/components/certifications/candidate-edit-modal.gjs
  admin/app/components/certifications/certification/informations.gjs
  admin/app/components/certifications/certification/informations/candidate.gjs
  admin/app/controllers/authenticated/certifications/certification/informations.js
  admin/app/routes/authenticated/certifications/certification/informations.js
  admin/app/templates/authenticated/certifications/certification/informations.hbs
  admin/tests/acceptance/authenticated/certifications/certification/informations-test.js
  admin/tests/integration/components/certifications/candidate-edit-modal-test.gjs
  admin/tests/integration/components/certifications/certification/informations-test.gjs
  admin/tests/integration/components/certifications/certification/informations/candidate-test.gjs
  admin/tests/unit/controllers/authenticated/certifications/certification/informations-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11450 [TECH] Mettre à jour la configuration docker pour le local-domains
  scripts/local-domains/compose.yaml
Labels: :rocket: Ready to Merge, Func Review OK, cross-team

#11255 [TECH] Ajouter un script pour actualiser les fichiers de traductions
  api/scripts/update-audit-api-csv-file.js
  api/scripts/update-translations.js
  api/scripts/wait-for-api-deployment.js
  api/tests/integration/scripts/update-translations_test.js
  api/tests/unit/scripts/update-translations_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Rework needed after Design Review, cross-team

#11498 [TECH] Déclenche la CI sur les commits de la branche dev.
  .github/workflows/trigger-ci.yaml
Labels: :rocket: Ready to Merge

#11497 [FEATURE] Mettre à disposition un webhook pour repliquer les données entre le datawarehouse et le datamart (PIX-16704)
  api/.depcheckrc
  api/eslint.config.mjs
  api/package-lock.json
  api/package.json
  api/server.maddo.js
  api/src/maddo/application/replications-controller.js
  api/src/maddo/application/replications-routes.js
  api/src/maddo/domain/usecases/extract-transform-and-load-data.js
  api/src/maddo/infrastructure/repositories/replication-repository.js
  api/tests/maddo/application/acceptance/replications-routes_test.js
  api/tests/maddo/application/unit/replications-controller_test.js
  api/tests/maddo/domain/unit/usecases/extract-transform-and-load-data_test.js
  api/tests/maddo/infrastructure/unit/repositories/replication-repository_test.js
  api/tests/test-helper.js
Labels: :rocket: Ready to Merge, team-maddo

#11420 [FEATURE] Ajouter une validation de l'email dans les liens de l'email d'avertissement de connexion après un an d'inactivité (PIX-16127)
  api/db/seeds/data/team-acces/build-users.js
  api/src/identity-access-management/domain/emails/create-warning-connection.email.js
  api/src/identity-access-management/domain/usecases/authenticate-user.js
  api/src/shared/infrastructure/utils/url-builder.js
  api/tests/identity-access-management/unit/domain/emails/create-warning-connection.email.test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-user_test.js
  api/tests/shared/unit/infrastructure/utils/url-builder_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11495 [TECH] Amélioration des performances du database builder
  api/db/database-builder/factory/build-authentication-method.js
  api/db/database-builder/factory/build-client-application.js
  api/db/database-builder/factory/build-user.js
  api/db/seeds/data/common/common-builder.js
  api/db/seeds/data/common/constants.js
  api/db/seeds/data/common/organization-builder.js
  api/db/seeds/data/team-1d/data-builder.js
  api/db/seeds/data/team-acces/build-blocked-users.js
  api/db/seeds/data/team-acces/build-certification-centers.js
  api/db/seeds/data/team-acces/build-organization-users.js
  api/db/seeds/data/team-acces/build-pix-admin-roles.js
  api/db/seeds/data/team-acces/build-reset-password-users.js
  api/db/seeds/data/team-certification/data-builder.js
  api/db/seeds/data/team-contenu/data-builder.js
  api/db/seeds/data/team-devcomp/constants.js
  api/db/seeds/data/team-evaluation/data-builder.js
  api/db/seeds/data/team-evaluation/users/eval-campaign-with-badges.js
  api/db/seeds/data/team-evaluation/users/eval-campaign-with-stages.js
  api/db/seeds/data/team-prescription/constants.js
  api/tests/tooling/domain-builder/factory/build-authentication-method.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#11406 [DOC] Documenter le choix de l'architecture pour la mise à disposition des données (PIX-16526).
  docs/adr/0059-mise-a-disposition-de-donnees.md
  docs/assets/0059-schema-api-data.png
  docs/assets/0059-schema-api-maddo-isolée.png
  docs/assets/0059-schema-api-maddo-mutualisée.png
  docs/assets/0059-schema-mise-a-dispo-actuelle.png
  docs/assets/0059-schema-utilisant-l-api-actuelle.png
Labels: :rocket: Ready to Merge, no-review-app, team-maddo

#11477 [FEATURE] Remplacer le PixReturnTo déprécié par le PixButtonLink sur Pix Certif (PIX-16687).
  certif/app/components/sessions/session-details/index.gjs
  certif/app/styles/globals/texts.scss
  certif/app/templates/authenticated/sessions/add-student.hbs
  certif/app/templates/authenticated/sessions/finalize.hbs
  certif/app/templates/authenticated/sessions/import.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11510 [TECH] Pouvoir spécifier les variables d'environnement obligatoires par API
  api/maddo.js
  api/src/shared/config-joi.js
  api/src/shared/config.js
  api/src/shared/config.maddo.js
  api/tests/shared/integration/config-joi_test.js
  api/tests/shared/integration/config_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-maddo

#11484 [FEATURE] Utiliser PixCode dans la page de connexion sur Pix Junior (PIX-16536).
  junior/app/components/challenge/content/challenge-actions.gjs
  junior/app/controllers/organization-code.js
  junior/app/styles/pages/organization-code.scss
  junior/app/templates/assessment/results.hbs
  junior/app/templates/organization-code.hbs
  junior/tests/acceptance/access-school-test.js
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, Design Review OK, 🎒👧🏽👦🏾 PIX JUNIOR
