Repository 1024pix/pix, pull requests merged in 2025-08, with the labels that each got.

#13082 [FEATURE] Interdire les `iframe` dans les contenus de Modules (PIX-18969)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/comment-envoyer-un-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/tri-multicritere-tableau.json
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/utils.js
Labels: :rocket: Ready to Merge, team-devcomp

#13040 [TECH] :truck: Déplace le modèle `AnswerCollectionForScoring` vers le contexte `src/certification/shared/`
  api/src/certification/evaluation/domain/services/scoring/score-complementary-certification-v2.js
  api/src/certification/evaluation/domain/services/scoring/scoring-v2.js
  api/src/certification/session-management/domain/read-models/CertificationDetails.js
  api/src/certification/shared/domain/models/AnswerCollectionForScoring.js
  api/src/shared/domain/models/index.js
  api/tests/unit/domain/models/AnswerCollectionForScoring_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#13061 [FEATURE] Changer l'algo de détection de local avec cookie dans PixApp (PIX-18780)
  high-level-tests/e2e/cypress/support/index.js
  mon-pix/app/authenticators/anonymous.js
  mon-pix/app/authenticators/oidc.js
  mon-pix/app/components/authentication/login-or-register-oidc.gjs
  mon-pix/app/components/authentication/signup-form/index.gjs
  mon-pix/app/components/campaign-start-block.gjs
  mon-pix/app/components/certifications/certificate-information/download-pdf.gjs
  mon-pix/app/components/certifications/list/item.gjs
  mon-pix/app/components/locale-switcher.gjs
  mon-pix/app/helpers/text-with-multiple-lang.js
  mon-pix/app/services/current-domain.js
  mon-pix/app/services/locale.js
  mon-pix/app/services/location.js
  mon-pix/app/services/session.js
  mon-pix/app/services/url-base.js
  mon-pix/app/templates/authenticated/user-trainings.gjs
  mon-pix/app/templates/authenticated/user-tutorials/recommended.gjs
  mon-pix/app/templates/authenticated/user-tutorials/saved.gjs
  mon-pix/app/utils/pix-window.js
  mon-pix/config/environment.js
  mon-pix/package-lock.json
  mon-pix/package.json
  mon-pix/tests/acceptance/account-recovery/update-sco-record-test.js
  mon-pix/tests/acceptance/oidc/oidc-authentication-flow-test.js
  mon-pix/tests/acceptance/oidc/start-campaigns-workflow-for-oidc-partner-test.js
  mon-pix/tests/acceptance/user-account-test.js
  mon-pix/tests/acceptance/user-logged-menu-test.js
  mon-pix/tests/helpers/setup-intl.js
  mon-pix/tests/integration/components/assessment-banner-test.js
  mon-pix/tests/integration/components/authentication-layout/footer_test.gjs
  mon-pix/tests/integration/components/authentication/password-reset-demand/password-reset-demand-form-test.gjs
  mon-pix/tests/integration/components/authentication/password-reset-demand/password-reset-demand-received-info-test.gjs
  mon-pix/tests/integration/components/campaign-start-block-test.js
  mon-pix/tests/integration/components/campaigns/assessment/results/hero/evaluation-results-hero-test.js
  mon-pix/tests/integration/components/campaigns/assessment/results/hero/retry-or-reset-block-test.js
  mon-pix/tests/integration/components/certifications/certificate-information/competences-details-test.gjs
  mon-pix/tests/integration/components/challenge-statement-test.js
  mon-pix/tests/integration/components/dashboard/content-test.js
  mon-pix/tests/integration/components/data-protection-policy-information-banner-test.js
  mon-pix/tests/integration/components/footer/footer-links-test.js
  mon-pix/tests/integration/components/footer/footer-test.js
  mon-pix/tests/integration/components/global/app-navigation-test.gjs
  mon-pix/tests/integration/components/header-details-test.gjs
  mon-pix/tests/integration/components/inaccessible-campaign-test.js
  mon-pix/tests/test-helper.js
  mon-pix/tests/unit/components/certifications/certificate-information/download-pdf-test.gjs
  mon-pix/tests/unit/components/certifications/list/item-test.gjs
  mon-pix/tests/unit/helpers/text-with-multiple-lang-test.js
  mon-pix/tests/unit/models/certification-test.js
  mon-pix/tests/unit/services/current-domain-test.js
  mon-pix/tests/unit/services/locale-test.js
  mon-pix/tests/unit/services/session-test.js
  mon-pix/tests/unit/services/url-base-test.js
  mon-pix/tests/unit/services/url-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#13071 [BUGFIX] Réparer l'affichage d'analyse d'une campagne lorsqu'il y a beaucoup de participations (PIX-18957).
  api/scripts/data-generation/generate-campaign-with-participants.js
  api/src/prescription/campaign/domain/usecases/get-result-levels-per-tubes-and-competences.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#13094 [FEATURE] Ne pas afficher les modules non recommandés par les diagnostiques dans un parcours combiné (PIX-18125)
  api/db/seeds/data/team-prescription/build-quests.js
  api/db/seeds/data/team-prescription/constants.js
  api/src/prescription/campaign/application/api/models/Campaign.js
  api/src/prescription/organization-learner/application/api/read-models/OrganizationLearnerWithParticipations.js
  api/src/quest/domain/models/Campaign.js
  api/src/quest/domain/models/CombinedCourse.js
  api/src/quest/domain/models/RecommendedModule.js
  api/src/quest/domain/usecases/get-combined-course-by-code.js
  api/src/quest/domain/usecases/get-quest-results-for-campaign-participation.js
  api/src/quest/domain/usecases/index.js
  api/src/quest/domain/usecases/reward-user.js
  api/src/quest/infrastructure/repositories/eligibility-repository.js
  api/src/quest/infrastructure/repositories/index.js
  api/src/quest/infrastructure/repositories/quest-repository.js
  api/src/quest/infrastructure/repositories/recommended-module-repository.js
  api/tests/prescription/campaign/unit/application/api/campaigns-api_test.js
  api/tests/prescription/organization-learner/unit/application/api/models/OrganizationLearnerWithParticipations_test.js
  api/tests/prescription/organization-learner/unit/application/api/organization-learners-with-participations-api_test.js
  api/tests/quest/acceptance/application/combined-course-route_test.js
  api/tests/quest/integration/domain/usecases/get-combined-course-by-code_test.js
  api/tests/quest/integration/infrastructure/repositories/quest-repository_test.js
  api/tests/quest/unit/domain/models/CombinedCourse_test.js
  api/tests/quest/unit/domain/usecases/get-quest-results-for-campaign-participation_test.js
  api/tests/quest/unit/domain/usecases/reward-user_test.js
  api/tests/quest/unit/infrastructure/repositories/campaign-repository_test.js
  api/tests/quest/unit/infrastructure/repositories/eligibility-repository_test.js
  api/tests/quest/unit/infrastructure/repositories/recommended-module-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, :dango: Combinix

#13100 [BUGFIX] X-Forwarded-Host sans modification pour les RA
  admin/servers.conf.erb
  certif/servers.conf.erb
  junior/servers.conf.erb
  mon-pix/servers.conf.erb
  orga/servers.conf.erb
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, team-captains

#13086 [TECH] Supprimer l'ancienne page d'analyse de Pix Orga (PIX-17680).
  orga/app/components/campaign/analysis/competences.gjs
  orga/app/models/feature-toggle.js
  orga/app/routes/authenticated/campaigns/campaign/analysis.js
  orga/app/templates/authenticated/campaigns/campaign/analysis.gjs
  orga/tests/acceptance/campaign-analysis-test.js
  orga/tests/integration/components/campaign/analysis/competences-test.js
  orga/tests/unit/routes/authenticated/campaigns/campaign/analysis-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#13107 [FEATURE] Modifications module IA Deepfakes suite évolutions
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ia-deepfakes.json
Labels: :rocket: Ready to Merge, contribution-modulix

#13102 [FEATURE] Afficher la bordure des Custom element seulement si ils sont interactifs (PIX-18999)
  mon-pix/app/components/module/element/custom-element.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#13113 [TECH] Supprimer le feature toggle d'inscription d'un utilisateur après parcours anonyme (PIX-18027)
  api/config/feature-toggles-config.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
  mon-pix/app/components/authentication/signup-form/index.gjs
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/index.gjs
  mon-pix/app/models/feature-toggle.js
  mon-pix/app/routes/inscription/inscription.js
  mon-pix/tests/acceptance/authentication/signup-test.js
  mon-pix/tests/integration/components/campaigns/assessment/results/hero/evaluation-results-hero-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#13118 [FEATURE] modifs module IA deepfakes suite retours FTO
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ia-deepfakes.json
Labels: :rocket: Ready to Merge, contribution-modulix

#13075 [TECH] placer le contexte prescription se trouvant dans src/shared dans src/prescription (PIX-15344)
  api/lib/domain/usecases/index.js
  api/src/certification/enrolment/domain/usecases/index.js
  api/src/evaluation/domain/services/stages/stage-and-stage-acquisition-comparison-service.js
  api/src/evaluation/infrastructure/repositories/stage-collection-repository.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/prescription/campaign-participation/domain/models/CampaignParticipationResult.js
  api/src/prescription/campaign-participation/domain/models/StageAcquisitionCollection.js
  api/src/prescription/campaign-participation/domain/models/StageCollection.js
  api/src/prescription/campaign-participation/domain/usecases/index.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participant-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-result-repository.js
  api/src/prescription/campaign/application/campaign-administration-controller.js
  api/src/prescription/campaign/application/campaign-administration-route.js
  api/src/prescription/campaign/domain/usecases/statistics/get-campaign-participations-counts-by-stage.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-assessment-participation-result-list-repository.js
  api/src/prescription/campaign/infrastructure/repositories/stage-collection-repository.js
  api/src/prescription/learner-management/application/jobs/schedule-compute-organization-learners-certificability-job-controller.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-repository.js
  api/src/prescription/organization-learner/domain/models/ParticipantRepartition.js
  api/src/prescription/organization-learner/domain/read-models/OrganizationLearnerForStartingParticipation.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-repository.js
  api/src/prescription/organization-place/domain/usecases/index.js
  api/src/prescription/target-profile/domain/models/StageCollection.js
  api/src/prescription/target-profile/infrastructure/repositories/target-profile-administration-repository.js
  api/src/privacy/domain/usecases/index.js
  api/src/quest/domain/models/Success.js
  api/src/shared/domain/models/index.js
  api/src/shared/infrastructure/repositories/organization-learner-repository.js
  api/src/shared/infrastructure/repositories/stage-collection-repository.js
  api/tests/prescription/campaign/integration/application/campaign-administration-route_test.js
  api/tests/prescription/campaign/unit/application/campaign-administration-controller_test.js
  api/tests/prescription/campaign/unit/application/campaign-administration-route_test.js
  api/tests/prescription/learner-management/integration/application/jobs/schedule-compute-organization-learners-certificability-job-controller_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/prescription/organization-learner/integration/domain/usecases/find-organization-learners-with-participations_test.js
  api/tests/prescription/organization-learner/unit/domain/models/CampaignParticipationResult_test.js
  api/tests/prescription/organization-learner/unit/domain/models/ParticipantRepartition_test.js
  api/tests/prescription/organization-learner/unit/domain/models/SupOrganizationLearner_test.js
  api/tests/prescription/organization-place/integration/domain/usecases/get-data-organizations-places-statistics_test.js
  api/tests/prescription/target-profile/unit/domain/models/TargetProfileSummaryForAdmin_test.js
  api/tests/prescription/target-profile/unit/domain/models/TargetProfile_test.js
  api/tests/shared/integration/domain/services/user-service_test.js
  api/tests/shared/integration/infrastructure/repositories/organization-learner-repository_test.js
  api/tests/shared/unit/domain/models/StageAcquisitionCollection_test.js
  api/tests/shared/unit/domain/models/user-campaign-results/StageCollection_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-participation-result.js
  api/tests/tooling/domain-builder/factory/target-profile-management/build-stage-collection.js
  api/tests/tooling/domain-builder/factory/user-campaign-results/build-stage-collection.js
  api/tests/unit/domain/models/TargetProfile_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#13103 [FEATURE] Suppression de isCancelled dans le check de vérification en entrée de certification (PIX-16048).
  api/src/certification/enrolment/domain/models/PixCertification.js
  api/src/certification/enrolment/domain/usecases/verify-candidate-subscriptions.js
  api/src/certification/enrolment/infrastructure/repositories/pix-certification-repository.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/pix-certification-repository_test.js
  api/tests/certification/enrolment/unit/domain/usecases/verify-candidate-subscriptions_test.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-pix-certification.js
Labels: :rocket: Ready to Merge, team-certif

#13110 [FEATURE] Rediriger l'utilisateur à la page de parcours combiné lors de la fin de la campagne de diagnostique (PIX-18124)
  api/db/seeds/data/team-prescription/build-quests.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, :dango: Combinix

#13099 [FEATURE] Créer la table target-profile-training-organizations (PIX-18864)
  api/db/migrations/20250801094559_add-target-profile-training-organizations-table.js
Labels: :rocket: Ready to Merge, team-devcomp

#13122 [FEATURE] Modif module IA Hallucinations suite évolutions
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ia-hallu.json
Labels: :rocket: Ready to Merge, contribution-modulix

#13116 [FEATURE] Mettre à jour les seeds côté Devcomp (PIX-19011)
  api/db/seeds/data/team-devcomp/build-organization.js
  api/db/seeds/data/team-devcomp/build-target-profiles.js
  api/db/seeds/data/team-devcomp/constants.js
  api/db/seeds/data/team-devcomp/data-builder.js
Labels: :rocket: Ready to Merge, team-devcomp

#13084 [TECH] Supprimer isCancelled sur les pages de détail d'une certification/session sur Pix Admin (PIX-18974).
  admin/app/components/certifications/certification/details-v3.gjs
  admin/app/components/certifications/certification/informations/state.gjs
  admin/app/components/sessions/certifications/header.gjs
  admin/app/controllers/authenticated/certifications/certification/informations.js
  admin/app/models/certification.js
  admin/app/models/jury-certification-summary.js
  admin/app/models/v3-certification-course-details-for-administration.js
  admin/tests/acceptance/authenticated/certifications/certification/certification-test.js
  admin/tests/acceptance/authenticated/certifications/certification/informations-test.js
  admin/tests/integration/components/certifications/certification/informations/state-test.gjs
  admin/tests/integration/components/sessions/certifications/header-test.gjs
  admin/tests/unit/controllers/authenticated/certifications/certification/informations-test.js
  api/src/certification/session-management/domain/models/JuryCertification.js
  api/src/certification/session-management/domain/models/V3CertificationCourseDetailsForAdministration.js
  api/src/certification/session-management/domain/read-models/JuryCertificationSummary.js
  api/src/certification/session-management/infrastructure/repositories/jury-certification-repository.js
  api/src/certification/session-management/infrastructure/repositories/jury-certification-summary-repository.js
  api/src/certification/session-management/infrastructure/repositories/v3-certification-course-details-for-administration-repository.js
  api/src/certification/session-management/infrastructure/serializers/jury-certification-serializer.js
  api/src/certification/session-management/infrastructure/serializers/jury-certification-summary-serializer.js
  api/src/certification/session-management/infrastructure/serializers/v3-certification-course-details-for-administration-serializer.js
  api/tests/acceptance/application/session/session-controller-get-jury-certification-summaries_test.js
  api/tests/certification/session-management/acceptance/application/certification-course-route_test.js
  api/tests/certification/session-management/acceptance/application/jury-certification-route_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/jury-certification-repository_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/jury-certification-summary-repository_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/v3-certification-course-details-for-administration-repository_test.js
  api/tests/certification/session-management/unit/application/jury-certification-controller_test.js
  api/tests/certification/session-management/unit/domain/read-models/JuryCertificationSummary_test.js
  api/tests/certification/session-management/unit/domain/usecases/get-v3-certification-course-details-for-administration_test.js
  api/tests/certification/session-management/unit/infrastructure/serializers/jury-certification-serializer_test.js
  api/tests/certification/session-management/unit/infrastructure/serializers/jury-certification-summary-serializer_test.js
  api/tests/certification/session-management/unit/infrastructure/serializers/v3-certification-course-details-for-administration-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-jury-certification-summary.js
  api/tests/tooling/domain-builder/factory/build-jury-certification.js
  api/tests/tooling/domain-builder/factory/build-v3-certification-course-details-for-administration.js
  api/tests/unit/domain/models/JuryCertification_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#13115 [BUGFIX] Permettre d'ignorer les valeurs par défaut de `modulix-editor` dans les arguments de POIs (PIX-18994)
  api/src/devcomp/domain/models/element/CustomElement.js
  api/src/devcomp/infrastructure/datasources/learning-content/modules/demo-epreuves-components.json
  api/tests/devcomp/unit/domain/models/element/CustomElement_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/custom-element-schema.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-contenu

#13097 [FEATURE] Ajout d'une route pour changer le nom des participants (PIX-18970)
  api/src/prescription/learner-management/application/organization-learners-controller.js
  api/src/prescription/learner-management/application/organization-learners-route.js
  api/src/prescription/learner-management/domain/models/OrganizationLearner.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/learner-management/domain/usecases/update-organization-learner-name.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-repository.js
  api/src/shared/application/security-pre-handlers.js
  api/src/shared/application/usecases/checkOrganizationDoesNotHaveFeature.js
  api/src/shared/application/usecases/checkOrganizationIsNotManagingStudents.js
  api/src/shared/application/usecases/checkOrganizationLearnerBelongsToOrganization.js
  api/tests/prescription/learner-management/acceptance/application/organization-learners-route_test.js
  api/tests/prescription/learner-management/integration/domain/usecases/update-organization-learner-name_test.js
  api/tests/prescription/learner-management/unit/domain/models/OrganizationLearner_test.js
  api/tests/shared/integration/application/security-pre-handlers_test.js
  api/tests/shared/integration/application/usecases/checkOrganizationLearnerBelongsToOrganization.test.js
  api/tests/shared/unit/application/security-pre-handlers_test.js
  api/tests/shared/unit/application/usecases/checkOrganizationDoesNotHaveFeature_test.js
  api/tests/shared/unit/application/usecases/checkOrganizationIsNotManagingStudents_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#13125 [FEATURE] Ajouter un bouton de réinitialisation de custom element (PIX-18931)
  mon-pix/app/components/module/element/_custom-element.scss
  mon-pix/app/components/module/element/custom-draft.gjs
  mon-pix/app/components/module/element/custom-element.gjs
  mon-pix/app/components/module/element/embed.gjs
  mon-pix/app/components/module/element/text.gjs
  mon-pix/tests/integration/components/module/custom-draft_test.gjs
  mon-pix/tests/integration/components/module/embed_test.gjs
  mon-pix/tests/integration/components/module/text_test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-devcomp

#13101 [TECH] Supprimer isCancelled sur les attestations et certificats Pix (PIX-18997).
  api/src/certification/results/domain/models/PrivateCertificate.js
  api/src/certification/results/infrastructure/repositories/certificate-repository.js
  api/tests/certification/results/acceptance/application/certificate-route_test.js
  api/tests/certification/results/acceptance/application/organization-route_test.js
  api/tests/certification/results/integration/infrastructure/repositories/certificate-repository_test.js
  api/tests/certification/results/unit/domain/models/PrivateCertificate_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#13134 [TECH] Preparer la future structure pour stocker les configuration de l'algo flash de certif (PIX-19042).
  api/db/migrations/20250807115444_new-certif-flash-config-table.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, team-captains

#13141 [FEATURE] Ajouter les dates de création et mise à jour des lignes dans la table "combined_course_participations" (PIX-19073)
  api/db/migrations/20250808075247_add-created-at-and-updated-at-on-combined-course-participations.js
Labels: Tech Review OK, :rocket: Ready to Merge, :dango: Combinix

#13135 [TECH] Migrer la route possibilities vers son Bounded Context (PIX-16334)
  api/lib/application/sco-organization-learners/index.js
  api/lib/application/sco-organization-learners/sco-organization-learner-controller.js
  api/lib/domain/usecases/index.js
  api/lib/routes.js
  api/server.js
  api/src/certification/session-management/domain/services/session-publication-service.js
  api/src/certification/session-management/domain/usecases/publish-session.js
  api/src/identity-access-management/domain/usecases/reconcile-oidc-user-for-admin.usecase.js
  api/src/prescription/organization-learner/application/sco-organization-learner-controller.js
  api/src/prescription/organization-learner/application/sco-organization-learner-route.js
  api/src/prescription/organization-learner/domain/usecases/generate-username.js
  api/src/prescription/organization-place/application/organization-place-controller.js
  api/tests/integration/application/sco-organization-learners/index_test.js
  api/tests/prescription/organization-learner/acceptance/application/sco-organization-learner-controller_test.js
  api/tests/prescription/organization-learner/integration/application/sco-organization-learner-route_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/generate-username_test.js
  api/tests/prescription/organization-place/unit/application/organization-place-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#13144 [BUGFIX] Invitation Centre de Certif: si un utilisateur a une invitation en attente, le code n'est pas envoyé dans l'URL (PIX-18961)
  api/src/team/domain/usecases/cancel-certification-center-invitation.js
  api/src/team/infrastructure/repositories/certification-center-invitation-repository.js
  api/tests/team/integration/domain/usecases/cancel-certification-center-invitation_test.js
  api/tests/team/integration/infrastructure/repositories/certification-center-invitation-repository_test.js
  api/tests/tooling/domain-builder/factory/build-certification-center-invitation.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#13143 [TECH] Remplacer les feature toggles liés aux locales
  api/config/feature-toggles-config.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#13142 [TECH] Supprimer les anciennes erreurs de locales sur PixApp
  mon-pix/app/services/error-messages.js
  mon-pix/tests/integration/components/authentication/login-form-test.gjs
  mon-pix/tests/integration/components/authentication/signup-form/index-test.gjs
  mon-pix/tests/unit/components/authentication/login-or-register-oidc-test.js
  mon-pix/tests/unit/services/error-messages-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#13146 [FEATURE] Modifs sur le module IA Deepfakes
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ia-deepfakes.json
Labels: :rocket: Ready to Merge, contribution-modulix

#13088 [FEATURE] Suppression du bandeau hors CleA avant entrée en certification (PIX-18926).
  api/src/certification/enrolment/domain/usecases/get-certification-candidate-subscription.js
  api/src/shared/domain/models/CertificationCandidate.js
  api/tests/certification/enrolment/unit/domain/usecases/get-certification-candidate-subscription_test.js
  mon-pix/app/styles/components/_congratulations-certification-banner.scss
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#13119 [FEATURE] Changer l'algo de détection de local avec cookie dans PixOrga (PIX-18978)
  orga/app/components/attestations/list.gjs
  orga/app/components/auth/login-form.gjs
  orga/app/components/auth/register-form.gjs
  orga/app/components/campaign/activity/participants-list.gjs
  orga/app/components/campaign/list.gjs
  orga/app/components/campaign/results/assessment-list.gjs
  orga/app/components/campaign/results/profile-list.gjs
  orga/app/components/import/download-import-template-link.gjs
  orga/app/components/locale-switcher.gjs
  orga/app/components/mission/activity-table.gjs
  orga/app/components/mission/result-table.gjs
  orga/app/components/organization-participant/list.gjs
  orga/app/components/sco-organization-participant/list.gjs
  orga/app/components/statistics/index.gjs
  orga/app/components/sup-organization-participant/list.gjs
  orga/app/components/team/members-list.gjs
  orga/app/controllers/authenticated/certifications.js
  orga/app/controllers/terms-of-service.js
  orga/app/helpers/text-with-multiple-lang.js
  orga/app/services/current-domain.js
  orga/app/services/error-messages.js
  orga/app/services/feature-toggles.js
  orga/app/services/file-saver.js
  orga/app/services/locale.js
  orga/app/services/location.js
  orga/app/services/session.js
  orga/app/services/url-base.js
  orga/config/environment.js
  orga/package-lock.json
  orga/package.json
  orga/tests/helpers/setup-intl.js
  orga/tests/integration/components/auth/login-form-test.js
  orga/tests/integration/components/auth/login-or-register-test.js
  orga/tests/integration/components/banner/survey_test.gjs
  orga/tests/integration/components/layout/sidebar-test.js
  orga/tests/test-helper.js
  orga/tests/unit/controllers/authenticated/certifications-test.js
  orga/tests/unit/helpers/text-with-multiple-lang-test.js
  orga/tests/unit/routes/application-test.js
  orga/tests/unit/services/current-domain-test.js
  orga/tests/unit/services/error-messages-test.js
  orga/tests/unit/services/locale-test.js
  orga/tests/unit/services/session-test.js
  orga/tests/unit/services/url-base-test.js
  orga/tests/unit/services/url-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-prescription

#13153 [FEATURE] ajout du component pix-carousel dans module PPN JV + qcu-discovery dans PPN JV et PPNCP
  api/src/devcomp/infrastructure/datasources/learning-content/modules/controle-parental.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/jeux-video-enfant.json
Labels: :rocket: Ready to Merge, contribution-modulix

#13098 [BUGFIX] Ignorer la case des emails des destinataires de résultats (PIX-12345)
  api/src/certification/results/domain/usecases/get-session-results-by-result-recipient-email.js
  api/src/certification/session-management/domain/services/session-publication-service.js
  api/tests/certification/results/unit/domain/usecases/get-session-results-by-result-recipient-email_test.js
  api/tests/certification/session-management/unit/domain/services/session-publication-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#13136 [FEATURE] Revue design boutons action QAB (PIX-19065)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bac-a-sable.json
  mon-pix/app/components/module/element/custom-draft.gjs
  mon-pix/app/components/module/element/qab/_proposal-button.scss
  mon-pix/app/components/module/element/qab/_qab.scss
Labels: :rocket: Ready to Merge, team-devcomp

#13019 [TECH] Utiliser la clé de certif complémentaire au moment de l'ajout d'un candidat à une session (PIX-18902).
  api/db/seeds/data/team-certification/cases/simple-CLEA-v3.js
  api/src/certification/enrolment/application/certification-candidate-route.js
  api/src/certification/enrolment/domain/models/Candidate.js
  api/src/certification/enrolment/domain/models/Subscription.js
  api/src/certification/enrolment/domain/services/certification-candidates-ods-service.js
  api/src/certification/enrolment/domain/services/sessions-import-validation-service.js
  api/src/certification/enrolment/domain/validators/candidate-validator.js
  api/src/certification/enrolment/infrastructure/files/candidates-import/CandidateData.js
  api/src/certification/enrolment/infrastructure/repositories/candidate-repository.js
  api/src/certification/enrolment/infrastructure/repositories/enrolled-candidate-repository.js
  api/src/certification/enrolment/infrastructure/repositories/sco-certification-candidate-repository.js
  api/src/certification/enrolment/infrastructure/serializers/candidate-serializer.js
  api/src/certification/enrolment/infrastructure/serializers/enrolled-candidate-serializer.js
  api/src/certification/enrolment/infrastructure/serializers/session-candidate-serializer.js
  api/src/certification/shared/domain/validators/subscription-validator.js
  api/src/certification/shared/infrastructure/repositories/certification-candidate-repository.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-controller-post-certification-candidate_test.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-route_test.js
  api/tests/certification/enrolment/acceptance/application/enrolment-route_test.js
  api/tests/certification/enrolment/acceptance/application/subscription-route_test.js
  api/tests/certification/enrolment/integration/domain/services/certification-candidates-ods-service/certification-candidates-ods-service_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/candidate-repository_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/certification-candidate-repository_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/enrolled-candidate-repository_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/sco-certification-candidate-repository_test.js
  api/tests/certification/enrolment/unit/application/certification-candidate-route_test.js
  api/tests/certification/enrolment/unit/domain/models/Candidate_test.js
  api/tests/certification/enrolment/unit/domain/models/Subscription_test.js
  api/tests/certification/enrolment/unit/domain/services/sessions-import-validation-service_test.js
  api/tests/certification/enrolment/unit/domain/usecases/add-candidate-to-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/create-sessions_test.js
  api/tests/certification/enrolment/unit/domain/usecases/enrol-students-to-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/find-students-for-enrolment_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-certification-candidate-subscription_test.js
  api/tests/certification/enrolment/unit/domain/usecases/import-certification-candidates-from-candidates-import-sheet_test.js
  api/tests/certification/enrolment/unit/domain/usecases/validate-sessions_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/candidate-serializer_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/enrolled-candidate-serializer_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/session-candidate-serializer_test.js
  api/tests/certification/results/unit/domain/usecases/get-session-results-by-result-recipient-email_test.js
  api/tests/certification/session-management/unit/domain/services/session-publication-service_test.js
  api/tests/certification/session-management/unit/domain/usecases/end-assessment-by-supervisor_test.js
  api/tests/tooling/domain-builder/factory/build-certification-candidate.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-subscription.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/models/CertificationCandidate_test.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
  certif/app/adapters/certification-candidate.js
  certif/app/components/sessions/session-details/enrolled-candidates/candidate-creation-modal.gjs
  certif/app/components/sessions/session-details/enrolled-candidates/candidate-details-modal.gjs
  certif/app/components/sessions/session-details/enrolled-candidates/index.gjs
  certif/app/models/subscription.js
  certif/mirage/factories/certification-candidate.js
  certif/tests/acceptance/session-details-certification-candidates-test.js
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/candidate-details-modal-test.gjs
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/index-test.gjs
  certif/tests/unit/models/certification-candidate-test.js
  certif/tests/unit/models/subscription-test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#13138 [TECH] Copier la configuration des tables de config certif vers la nouvelle table (PIX-19064).
  api/db/migrations/20250807134527_copy-flash-configurations-to-new-table.js
  api/tests/integration/migration/20250807134527_copy-flash-configurations-to-new-table_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, team-captains

#13148 [TECH] Enregistrer l'assessmentId ou le passageId dans le Chat LLM persisté (PIX-19063)
  api/src/devcomp/domain/usecases/start-embed-llm-chat.js
  api/src/evaluation/domain/usecases/start-embed-llm-chat.js
  api/src/llm/domain/models/Chat.js
  api/src/llm/domain/usecases/start-chat.js
  api/tests/devcomp/unit/domain/usecases/start-embed-llm-chat_test.js
  api/tests/evaluation/unit/domain/usecases/start-embed-llm-chat_test.js
  api/tests/llm/integration/domain/usecases/start-chat_test.js
  api/tests/llm/unit/domain/models/Chat_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-contenu

#13147 [TECH] Seeds pour peupler la nouvelle table de configurations certif (PIX-19072).
  api/db/database-builder/factory/build-certification-configuration.js
  api/db/seeds/data/team-certification/shared/setup-configuration.js
  api/db/seeds/data/team-certification/tools/algorithm-configuration/create-certification-configuration.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#13158 [FEATURE] Afficher la liste des organisations rattachées au profil cible (PIX-18867)
  admin/app/components/trainings/target-profiles/organizations.gjs
  admin/app/controllers/authenticated/target-profiles/target-profile/organizations.js
  admin/app/controllers/authenticated/trainings/training/target-profiles.js
  admin/app/controllers/authenticated/trainings/training/target-profiles/organizations.js
  admin/app/router.js
  admin/app/routes/authenticated/trainings/training/target-profiles/organizations.js
  admin/app/styles/components/trainings/training-target-profiles-tab.scss
  admin/app/templates/authenticated/trainings/training/target-profiles.hbs
  admin/app/templates/authenticated/trainings/training/target-profiles/organizations.gjs
  admin/tests/acceptance/authenticated/trainings/target-profiles-test.js
  admin/tests/integration/components/trainings/target-profiles/organizations_test.gjs
  admin/tests/unit/routes/authenticated/trainings/target-profiles/organizations-test.js
  api/db/seeds/data/team-devcomp/build-organization.js
  api/db/seeds/data/team-devcomp/build-trainings.js
  api/db/seeds/data/team-devcomp/build-user.js
  api/db/seeds/data/team-devcomp/constants.js
  api/db/seeds/data/team-devcomp/data-builder.js
Labels: :rocket: Ready to Merge, team-devcomp

#13109 [FEATURE] Update tmp-ia-fonctionnement-debut.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/tmp-ia-fonctionnement-debut.json
Labels: contribution-modulix

#13161 [TECH] Algo de selection de challenge au format jsonb (PIX-19083).
  api/db/database-builder/factory/build-certification-configuration.js
  api/db/migrations/20240618134300_catching-up-on-CORE-subscriptions.js
  api/db/migrations/20240924091540_add-reconciliation-date-to-former-candidates.js
  api/db/migrations/20250811074525_reorganize-new-certif-configurations-table.js
  api/tests/integration/migration/20250807134527_copy-flash-configurations-to-new-table_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, team-captains

#13133 [FEATURE] Changer l'algo de détection de local avec cookie dans PixCertif (PIX-18979)
  certif/app/components/auth/register-form.js
  certif/app/components/locale-switcher.gjs
  certif/app/components/sessions/session-list.gjs
  certif/app/controllers/authenticated/sessions/new.js
  certif/app/controllers/authenticated/sessions/update.js
  certif/app/helpers/text-with-multiple-lang.js
  certif/app/services/current-domain.js
  certif/app/services/feature-toggles.js
  certif/app/services/locale.js
  certif/app/services/location.js
  certif/app/services/session.js
  certif/app/services/url-base.js
  certif/app/services/url.js
  certif/config/environment.js
  certif/package-lock.json
  certif/package.json
  certif/tests/helpers/setup-intl.js
  certif/tests/integration/components/auth/login-or-register-test.js
  certif/tests/test-helper.js
  certif/tests/unit/components/sessions/session-list_test.gjs
  certif/tests/unit/helpers/text-with-multiple-lang-test.js
  certif/tests/unit/routes/application-test.js
  certif/tests/unit/services/current-domain-test.js
  certif/tests/unit/services/locale-test.js
  certif/tests/unit/services/session-test.js
  certif/tests/unit/services/url-base-test.js
  certif/tests/unit/services/url-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-certif

#13163 [FEATURE] Aligner le bouton "Passer l'activité" à gauche (PIX-19103)
  mon-pix/app/components/module/grain/_grain.scss
  mon-pix/app/components/module/grain/grain.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#13164 [BUGFIX] Renommer le bouton "commencer" affiché au début d'une épreuve timée (PIX-19105)
  mon-pix/tests/acceptance/challenge-item-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, Func Review OK, team-contenu

#13121 [FEATURE] Ajout d'une modale pour changer le nom des participants sur PixOrga (PIX-18971)
  orga/app/adapters/organization-participant.js
  orga/app/components/organization-participant/list.gjs
  orga/app/components/sco-organization-participant/list.gjs
  orga/app/components/sco-organization-participant/table-row.gjs
  orga/app/components/sup-organization-participant/list.gjs
  orga/app/components/sup-organization-participant/table-row.gjs
  orga/app/components/ui/edit-participant-name-modal.gjs
  orga/app/services/current-user.js
  orga/mirage/config.js
  orga/tests/acceptance/organization-participant-list-test.js
  orga/tests/acceptance/sco-organization-participant-list-test.js
  orga/tests/acceptance/sup-organization-participant-list-test.js
  orga/tests/helpers/test-init.js
  orga/tests/integration/components/organization-participant/list-test.js
  orga/tests/integration/components/sco-organization-participant/list-test.js
  orga/tests/integration/components/sup-organization-participant/list-test.js
  orga/tests/integration/components/ui/edit-participant-name-modal-test.gjs
  orga/tests/unit/adapters/organization-participant-test.js
  orga/tests/unit/services/current-user-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: :rocket: Ready to Merge, Func Review OK, team-prescription

#13167 [FEATURE] Ne plus vérifier le badge en cas de passage d'une certification complémentaire seul (PIX-19099).
  api/src/certification/evaluation/application/http-error-mapper-configuration.js
  api/src/certification/evaluation/domain/errors.js
  api/src/certification/evaluation/domain/models/CertifiableProfileForLearningContent.js
  api/src/certification/evaluation/domain/services/certification-challenges-service.js
  api/src/certification/evaluation/domain/usecases/index.js
  api/src/certification/evaluation/domain/usecases/retrieve-last-or-create-certification-course.js
  api/src/certification/evaluation/infrastructure/repositories/certifiable-profile-for-learning-content-repository.js
  api/src/certification/shared/application/http-error-mapper-configuration.js
  api/src/certification/shared/domain/models/CertificationCourse.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/src/shared/domain/constants.js
  api/src/shared/domain/models/CertificationChallenge.js
  api/src/shared/domain/models/Challenge.js
  api/src/shared/domain/models/KnowledgeElement.js
  api/src/shared/domain/models/PlacementProfile.js
  api/src/shared/domain/models/UserCompetence.js
  api/src/shared/infrastructure/repositories/answer-repository.js
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/tests/certification/evaluation/integration/domain/services/certification-challenges-service_test.js
  api/tests/certification/evaluation/integration/infrastructure/repositories/certifiable-profile-for-learning-content-repository_test.js
  api/tests/certification/evaluation/unit/domain/services/certification-challenges-service_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-course-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/answer-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/tooling/domain-builder/factory/build-certifiable-profile-for-learning-content.js
  api/tests/tooling/domain-builder/factory/build-certification-course.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/unit/domain/models/CertifiableProfileForLearningContent_test.js
  api/tests/unit/domain/models/CertificationChallenge_test.js
  api/tests/unit/domain/models/PlacementProfile_test.js
  api/tests/unit/domain/models/UserCompetence_test.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#13139 [FEATURE] Permettre l'inscription d'une liste de candidats Pix+ dans plusieurs sessions via la gestion massive des sessions (.csv) (PIX-18596)
  api/src/certification/enrolment/domain/services/sessions-import-validation-service.js
  api/src/certification/enrolment/domain/usecases/validate-sessions.js
  api/src/certification/shared/domain/constants/certification-candidates-errors.js
  api/src/shared/infrastructure/serializers/csv/csv-serializer.js
  api/tests/certification/enrolment/unit/domain/services/sessions-import-validation-service_test.js
  api/tests/certification/enrolment/unit/domain/usecases/validate-sessions_test.js
  api/tests/shared/unit/infrastructure/serializers/csv/csv-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#13159 [FEATURE] Informer l'utilisateur qu'il a terminé son parcours combiné (PIX-18129)
  api/db/database-builder/factory/build-combined-course-participation.js
  api/db/seeds/data/team-prescription/build-quests.js
  api/src/quest/application/combined-course-controller.js
  api/src/quest/application/combined-course-route.js
  api/src/quest/domain/models/CombinedCourse.js
  api/src/quest/domain/models/CombinedCourseParticipation.js
  api/src/quest/domain/models/DataForQuest.js
  api/src/quest/domain/models/Eligibility.js
  api/src/quest/domain/usecases/update-combined-course.js
  api/src/quest/infrastructure/repositories/combined-course-participation-repository.js
  api/src/quest/infrastructure/repositories/eligibility-repository.js
  api/tests/quest/acceptance/application/combined-course-route_test.js
  api/tests/quest/integration/domain/usecases/get-combined-course-by-code_test.js
  api/tests/quest/integration/domain/usecases/update-combined-course_test.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-participation-repository_test.js
  api/tests/quest/unit/domain/models/CombinedCourseParticipation_test.js
  api/tests/quest/unit/domain/models/CombinedCourse_test.js
  api/tests/quest/unit/infrastructure/repositories/eligibility-repository_test.js
  mon-pix/app/adapters/combined-course.js
  mon-pix/app/components/routes/combined-courses.gjs
  mon-pix/app/routes/combined-courses.js
  mon-pix/app/styles/components/_combined-courses.scss
  mon-pix/mirage/config.js
  mon-pix/public/images/illustrations/combined-course/completed.svg
  mon-pix/tests/integration/components/routes/combined-courses-test.gjs
  mon-pix/tests/unit/adapters/combined-course_test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, :dango: Combinix

#13175 [TECH] Valeurs par défaut des features toggle en RA et tests
  api/config/feature-toggles-config.js
  api/src/shared/infrastructure/feature-toggles/feature-toggles-client.js
  api/src/shared/infrastructure/feature-toggles/index.js
  api/tests/shared/unit/infrastructure/feature-toggles/feature-toggles-client.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#13137 [FEATURE] Create tmp-def-ia-supervise.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/tmp-def-ia-supervise.json
Labels: :rocket: Ready to Merge, contribution-modulix

#13176 [TECH] Repasser les imports dynamiques en imports statiques
  api/src/banner/domain/usecases/index.js
  api/src/certification/complementary-certification/domain/usecases/index.js
  api/src/certification/configuration/domain/usecases/index.js
  api/src/certification/enrolment/application/services/index.js
  api/src/certification/enrolment/domain/usecases/index.js
  api/src/certification/evaluation/domain/services/index.js
  api/src/certification/evaluation/domain/usecases/index.js
  api/src/certification/results/domain/usecases/index.js
  api/src/certification/scoring/domain/usecases/index.js
  api/src/certification/session-management/domain/usecases/index.js
  api/src/certification/shared/domain/usecases/index.js
  api/src/devcomp/domain/usecases/index.js
  api/src/evaluation/domain/usecases/index.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/learning-content/domain/usecases/index.js
  api/src/legal-documents/domain/usecases/index.js
  api/src/llm/domain/usecases/index.js
  api/src/organizational-entities/domain/usecases/index.js
  api/src/prescription/campaign-participation/domain/usecases/index.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/organization-learner-feature/domain/usecases/index.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/src/prescription/organization-place/domain/usecases/index.js
  api/src/prescription/target-profile/domain/usecases/index.js
  api/src/privacy/domain/usecases/index.js
  api/src/profile/domain/usecases/index.js
  api/src/quest/domain/usecases/index.js
  api/src/school/domain/usecases/index.js
  api/src/shared/domain/usecases/index.js
  api/src/team/domain/usecases/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#13152 [FEATURE] Permettre l'inscription d'une liste de candidats Pix+ via l'import d'une liste de candidats dans une session (.ods) (PIX-18595)
  api/src/certification/enrolment/domain/services/certification-candidates-ods-service.js
  api/src/certification/enrolment/domain/usecases/import-certification-candidates-from-candidates-import-sheet.js
  api/src/certification/enrolment/infrastructure/files/candidates-import/candidates-import-transformation-structures.js
  api/tests/certification/enrolment/integration/domain/services/certification-candidates-ods-service/attendance_sheet_extract_with_complementary_certifications_compatibility_ko_test.ods
  api/tests/certification/enrolment/integration/domain/services/certification-candidates-ods-service/attendance_sheet_extract_with_complementary_certifications_compatibility_ok_test.ods
  api/tests/certification/enrolment/integration/domain/services/certification-candidates-ods-service/attendance_sheet_extract_with_complementary_certifications_ko_test.ods
  api/tests/certification/enrolment/integration/domain/services/certification-candidates-ods-service/attendance_sheet_extract_with_complementary_certifications_ok_test.ods
  api/tests/certification/enrolment/integration/domain/services/certification-candidates-ods-service/certification-candidates-ods-service_test.js
  api/tests/certification/enrolment/unit/domain/usecases/import-certification-candidates-from-candidates-import-sheet_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#13172 [FEATURE] Ajouter les bannières des typologies SCO / SCO-1D dans la page de presentation de l'organisation (PIX-18950).
  orga/app/components/banner/mission-banner.gjs
  orga/app/components/banner/sco-banner.gjs
  orga/app/components/banner/sco-communication.gjs
  orga/app/components/index/classic.gjs
  orga/app/components/index/missions.gjs
  orga/app/controllers/authenticated/index.js
  orga/app/services/url.js
  orga/app/templates/authenticated/missions/list.gjs
  orga/tests/integration/components/index/classic_test.gjs
  orga/tests/integration/components/index/missions_test.gjs
  orga/tests/unit/services/url-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#13173 [FEATURE] Empêcher l'accès à une certification (complémentaire ou double) si le centre n'a plus l'habilitation (PIX-19111).
  api/src/certification/enrolment/application/services/register-candidate-participation-service.js
  api/src/certification/enrolment/domain/models/Candidate.js
  api/src/certification/enrolment/domain/usecases/index.js
  api/src/certification/enrolment/domain/usecases/verify-candidate-certificability.js
  api/src/certification/enrolment/domain/usecases/verify-candidate-reconciliation-requirements.js
  api/src/certification/evaluation/application/http-error-mapper-configuration.js
  api/src/certification/evaluation/domain/errors.js
  api/src/certification/evaluation/domain/usecases/retrieve-last-or-create-certification-course.js
  api/src/certification/shared/application/http-error-mapper-configuration.js
  api/src/certification/shared/domain/errors.js
  api/tests/certification/enrolment/unit/domain/models/Candidate_test.js
  api/tests/certification/enrolment/unit/domain/services/register-candidate-participation-service_test.js
  api/tests/certification/enrolment/unit/domain/usecases/verify-candidate-certificability_test.js
  api/tests/certification/enrolment/unit/domain/usecases/verify-candidate-reconciliation-requirements_test.js
  api/tests/certification/shared/unit/application/http-error-mapper-configuration_test.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
  mon-pix/app/components/certification-joiner.gjs
  mon-pix/tests/integration/components/certification-joiner-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#12901 [FEATURE] Suppression de isCancelled pour CPF et LSU/LSL (PIX-16048).
  api/db/database-builder/factory/build-certification-course.js
  api/src/certification/results/infrastructure/repositories/certification-livret-scolaire-repository.js
  api/src/certification/session-management/infrastructure/repositories/cpf-certification-result-repository.js
  api/src/certification/shared/domain/models/CertificationCourse.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
  api/tests/certification/results/integration/infrastructure/repositories/certification-livret-scolaire-repository_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/cpf-certification-result-repository_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-course-repository_test.js
  api/tests/certification/shared/unit/domain/models/CertificationCourse_test.js
  api/tests/tooling/domain-builder/factory/build-certification-course.js
  api/tests/tooling/domain-builder/factory/build-certifications-results-for-livret-scolaire.js
Labels: :rocket: Ready to Merge, team-certif

#13155 [FEATURE] Script de reprise des locales des utilisateurs (PIX-18985)
  api/src/identity-access-management/scripts/fill-users-locale-from-csv.script.js
  api/tests/identity-access-management/integration/scripts/files/fill-users-locale.csv
  api/tests/identity-access-management/integration/scripts/fill-users-locale-from-csv.script.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#13174 [FEATURE] Ajout d'une route pour obtenir des statistiques de participation (PIX-18955)
  api/src/prescription/organization-learner/application/organization-learners-controller.js
  api/src/prescription/organization-learner/application/organization-learners-route.js
  api/src/prescription/organization-learner/domain/usecases/get-organization-learner-statistics.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-statistics-repository.js
  api/src/prescription/organization-learner/infrastructure/serializers/jsonapi/organization-participation-statistics-serializer.js
  api/tests/prescription/organization-learner/acceptance/application/organization-learners-route_test.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-learner-statistics-repository_test.js
  api/tests/prescription/organization-learner/unit/application/organization-learners-route_test.js
Labels: :rocket: Ready to Merge, team-prescription

#13150 [TECH] Suppression de la colonne isCancelled dans la table "certification-courses" (PIX-16049).
  api/db/migrations/20250808074506_remove-is-cancelled-column-from-certification-courses-table.js
Labels: :rocket: Ready to Merge, team-certif, team-captains

#13187 [BUGFIX] Eviter les timeouts lors des épreuves de prompt avec le LLM en relayant les pings émis depuis l'API poc-llm (PIX-19139)
  api/src/llm/infrastructure/streaming/transforms/response-object-to-event-stream-transform.js
  api/tests/llm/unit/infrastructure/streaming/transforms/response-object-to-event-stream-transform_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-contenu

#13190 [FEATURE] Tmp update prompt intermediaire
  api/src/devcomp/infrastructure/datasources/learning-content/modules/prompt-intermediaire.json
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/embed-schema.js
Labels: :rocket: Ready to Merge, team-devcomp, contribution-modulix

#13194 [TECH] Corriger le test flaky affichant le moment ou l'utilisateur peut repasser son parcours (PIX-19150).
  mon-pix/tests/integration/components/campaigns/assessment/results/hero/retry-or-reset-block-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#13193 [BUMP] Update dependency @1024pix/epreuves-components to 0.9.5
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-contenu

#13044 [TECH] :truck: Déplace le modèle `ReproducibilityRate` vers le contexte de Certification
  api/src/certification/evaluation/domain/services/scoring/score-complementary-certification-v2.js
  api/src/certification/evaluation/domain/services/scoring/scoring-v2.js
  api/src/certification/scoring/domain/models/CertificationAssessmentScore.js
  api/src/certification/session-management/domain/read-models/CertificationDetails.js
  api/src/certification/shared/domain/constants.js
  api/src/certification/shared/domain/models/ReproducibilityRate.js
  api/src/shared/domain/constants.js
  api/tests/tooling/domain-builder/factory/build-reproducibility-rate.js
  api/tests/unit/domain/models/ReproducibilityRate_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#13213 [BUGFIX] Permettre de retourner un masteryPercentage sans arrondi pour des calculs complexe (PIX-17143).
  api/src/evaluation/domain/services/get-mastery-percentage-service.js
  api/src/shared/domain/models/BadgeCriterionForCalculation.js
  api/tests/unit/domain/models/BadgeCriterionForCalculation_test.js
  api/tests/unit/domain/services/get-mastery-percentage-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, team-prescription

#13214 [FEATURE] retours JRO - les-ia-generatives-consomment
  api/src/devcomp/infrastructure/datasources/learning-content/modules/les-ia-consomment.json
Labels: :rocket: Ready to Merge, contribution-modulix

#13151 [FEATURE] Récupérer le bon référentiel cadre lors de la sélection de l'épreuve (PIX-17885).
  api/db/database-builder/factory/build-complementary-certification.js
  api/src/certification/configuration/domain/services/get-version-number.js
  api/src/certification/configuration/domain/usecases/create-consolidated-framework.js
  api/src/certification/evaluation/domain/models/ComplementaryCertificationCourse.js
  api/src/certification/evaluation/domain/usecases/get-next-challenge.js
  api/src/certification/evaluation/domain/usecases/index.js
  api/src/certification/evaluation/infrastructure/repositories/complementary-certification-course-repository.js
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/tests/certification/configuration/unit/domain/services/get-version-number_test.js
  api/tests/certification/evaluation/integration/application/jobs/certification-completed-job-controller_test.js
  api/tests/certification/evaluation/integration/infrastructure/repositories/complementary-certification-course-repository_test.js
  api/tests/certification/evaluation/unit/domain/usecases/get-next-challenge_test.js
  api/tests/certification/evaluation/unit/domain/usecases/simulate-flash-assessment-scenario_test.js
  api/tests/certification/session-management/acceptance/application/finalize-route_test.js
  api/tests/shared/integration/infrastructure/repositories/challenge-repository_test.js
  api/tests/tooling/domain-builder/factory/certification/evaluation/build-complementary-certification-course.js
  api/tests/tooling/domain-builder/factory/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#13206 [FEATURE] Récupérer la ville de naissance à partir du code INSEE à l'ajout d'un candidat à une session SCO (PIX-18170).
  api/src/certification/enrolment/domain/usecases/enrol-students-to-session.js
  api/tests/certification/enrolment/unit/domain/usecases/enrol-students-to-session_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#13205 [TECH] Simplifier l'affichage de la bannière d'éligibilité sur Pix App (PIX-19145)
  api/src/certification/enrolment/application/user-route.js
  api/src/certification/enrolment/domain/read-models/UserCertificationEligibility.js
  api/src/certification/enrolment/domain/usecases/get-user-certification-eligibility.js
  api/src/certification/enrolment/infrastructure/serializers/user-certification-eligibility-serializer.js
  api/tests/certification/enrolment/acceptance/application/user-route_test.js
  api/tests/certification/enrolment/unit/application/user-controller_test.js
  api/tests/certification/enrolment/unit/domain/usecases/get-user-certification-eligibility_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/user-certification-eligibility-serializer_test.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-certification-eligibility.js
  api/tests/tooling/domain-builder/factory/certification/enrolment/build-user-certification-eligibility.js
  api/tests/tooling/domain-builder/factory/index.js
  mon-pix/app/components/certification-banners/congratulations-certification-banner.gjs
  mon-pix/app/components/certification-banners/eligible-complementary-certification-banner.gjs
  mon-pix/app/components/certification-banners/eligible-double-certification-banner.gjs
  mon-pix/app/components/certification-banners/index.gjs
  mon-pix/app/components/certification-banners/outdated-complementary-certification-banner.gjs
  mon-pix/app/components/certification-banners/outdated-double-certification-banner.gjs
  mon-pix/app/models/is-certifiable.js
  mon-pix/app/styles/components/_congratulations-certification-banner.scss
  mon-pix/mirage/factories/user.js
  mon-pix/tests/integration/components/certification-banners/congratulations-certification-banner-test.js
  mon-pix/tests/integration/components/certification-banners/eligible-complementary-certification-banner-test.js
  mon-pix/tests/integration/components/certification-banners/eligible-double-certification-banner-test.js
  mon-pix/tests/integration/components/certification-banners/index-test.js
  mon-pix/tests/integration/components/certification-banners/outdated-complementary-certification-banner-test.js
  mon-pix/tests/integration/components/certification-banners/outdated-double-certification-banner-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#13230 [TECH] :bug: Ne pas bloquer si un `recipientEmail` n'est pas associé au candidat
  api/src/certification/results/domain/usecases/get-session-results-by-result-recipient-email.js
  api/tests/certification/results/unit/domain/usecases/get-session-results-by-result-recipient-email_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#13170 [TECH] Ne plus injecter request.i18n (PIX-18782)
  api/package-lock.json
  api/package.json
  api/src/certification/enrolment/application/attendance-sheet-controller.js
  api/src/certification/enrolment/application/enrolment-controller.js
  api/src/certification/enrolment/application/session-mass-import-controller.js
  api/src/certification/results/application/certificate-controller.js
  api/src/certification/results/application/certification-results-controller.js
  api/src/certification/results/application/organization-controller.js
  api/src/certification/session-management/application/invigilator-kit-controller.js
  api/src/certification/session-management/application/jury-certification-controller.js
  api/src/certification/session-management/application/session-publication-controller.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.controller.js
  api/src/identity-access-management/application/user/user.controller.js
  api/src/prescription/campaign/application/campaign-detail-controller.js
  api/src/prescription/learner-management/application/sco-organization-management-controller.js
  api/src/prescription/learner-management/application/sup-organization-management-controller.js
  api/src/prescription/organization-learner/application/sco-organization-learner-controller.js
  api/src/shared/application/healthcheck/healthcheck-controller.js
  api/src/shared/infrastructure/i18n/i18n.js
  api/src/shared/infrastructure/plugins/i18n.js
  api/src/shared/infrastructure/plugins/index.js
  api/tests/certification/enrolment/unit/application/enrolment-controller_test.js
  api/tests/certification/enrolment/unit/application/session-mass-import-controller_test.js
  api/tests/certification/results/unit/application/certificate-controller_test.js
  api/tests/certification/results/unit/application/certification-results-controller_test.js
  api/tests/certification/results/unit/application/organization-controller_test.js
  api/tests/certification/session-management/unit/application/invigilator-kit-controller_test.js
  api/tests/identity-access-management/integration/application/user/user.route.test.js
  api/tests/identity-access-management/unit/application/user/user.controller.test.js
  api/tests/integration/infrastructure/plugins/i18n_test.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/learner-management/unit/application/sup-organization-management-controller_test.js
  api/tests/shared/unit/application/healthcheck/healthcheck-controller_test.js
  api/tests/shared/unit/infrastructure/i18n/i18n_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#13229 [FEATURE] Afficher le nombre d'organisations enfant dans le titre de l'onglet (PIX-17881)
  admin/app/templates/authenticated/organizations/get.hbs
  admin/tests/acceptance/authenticated/organizations/get/children-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#13236 [FEATURE] Pouvoir passer une URL relative pour la redirection en fin de module (PIX-19130)
  api/src/devcomp/domain/models/module/Module.js
  api/src/quest/application/combined-course-controller.js
  api/src/quest/domain/usecases/get-combined-course-by-code.js
  api/tests/devcomp/unit/domain/models/module/Module_test.js
  api/tests/devcomp/unit/domain/usecases/get-module_test.js
  api/tests/quest/integration/domain/usecases/get-combined-course-by-code_test.js
  api/tests/quest/unit/application/combined-course-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, :dango: Combinix

#13232 [FEATURE] Afficher la locale utilisée pour l'envoi des invitations à rejoindre un centre de certif dans pix-admin (PIX-17508)
  admin/app/components/certification-centers/invitations.gjs
  admin/tests/integration/components/certification-centers/invitations-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#13228 [FEATURE] WIP module apprentissage supervise avec carousel
  api/src/devcomp/infrastructure/datasources/learning-content/modules/tmp-def-ia-supervise.json
Labels: :rocket: Ready to Merge, contribution-modulix

#13243 [FEATURE] Ajouter le nouveau POI complete-phrase à modulix (relatif à pix-18766 | pix epreuves)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/demo-epreuves-components.json
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/custom-element-schema.js
  junior/package-lock.json
  junior/package.json
  mon-pix/package-lock.json
  mon-pix/package.json
Labels: :rocket: Ready to Merge, team-contenu

#13244 [FEATURE] Ajouter un endpoint pour récupérer les profils cibles filtrés par orga (PIX-19100)
  api/src/devcomp/application/trainings/index.js
  api/src/devcomp/application/trainings/training-controller.js
  api/src/devcomp/domain/models/trainings/FilteredOrganization.js
  api/src/devcomp/domain/models/trainings/PaginatedFilteredOrganizations.js
  api/src/devcomp/domain/usecases/find-paginated-filtered-organizations.js
  api/src/devcomp/domain/usecases/index.js
  api/src/devcomp/infrastructure/repositories/target-profile-training-organization-repository.js
  api/src/devcomp/infrastructure/serializers/jsonapi/filtered-organization-serializer.js
  api/tests/devcomp/acceptance/application/trainings/index_test.js
  api/tests/devcomp/integration/application/trainings/index_test.js
  api/tests/devcomp/integration/domain/usecases/find-paginated-filtered-organizations_test.js
  api/tests/devcomp/integration/infrastructure/repositories/target-profile-training-organization-repository_test.js
  api/tests/devcomp/unit/domain/models/training/FilteredOrganization_test.js
  api/tests/devcomp/unit/domain/models/training/PaginatedFilteredOrganizations_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/filtered-organization-serializer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#13197 [FEATURE] Permettre de créer des parcours combinés depuis PixAdmin (PIX-18162)
  admin/app/components/administration/common/create-combined-courses.gjs
  admin/app/components/administration/common/index.gjs
  admin/app/styles/components/administration/create-combined-courses.scss
  admin/app/styles/components/administration/index.scss
  admin/tests/integration/components/administration/common/create-combined-courses-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
  api/src/prescription/campaign/infrastructure/repositories/campaign-administration-repository.js
  api/src/prescription/target-profile/application/api/TargetProfile.js
  api/src/quest/application/combined-course-controller.js
  api/src/quest/application/combined-course-route.js
  api/src/quest/domain/constants.js
  api/src/quest/domain/models/Campaign.js
  api/src/quest/domain/models/CombinedCourse.js
  api/src/quest/domain/models/CombinedCourseTemplate.js
  api/src/quest/domain/models/TargetProfile.js
  api/src/quest/domain/usecases/create-combined-courses.js
  api/src/quest/domain/usecases/index.js
  api/src/quest/infrastructure/repositories/campaign-repository.js
  api/src/quest/infrastructure/repositories/combined-course-repository.js
  api/src/quest/infrastructure/repositories/index.js
  api/src/quest/infrastructure/repositories/target-profile-repository.js
  api/src/shared/infrastructure/repositories/access-code-repository.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-administration-repository_test.js
  api/tests/quest/acceptance/application/combined-course-route_test.js
  api/tests/quest/integration/domain/usecases/create-combined-courses_test.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-repository_test.js
  api/tests/quest/unit/domain/models/CombinedCourseTemplate_test.js
  api/tests/quest/unit/infrastructure/repositories/campaign-repository_test.js
  api/tests/quest/unit/infrastructure/repositories/target-profile-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/access-code-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, :dango: Combinix

#13241 [FEATURE] Ajouter des vérifications sur les routes des parcours combinés (PIX-19104)
  api/src/quest/application/combined-course-route.js
  api/src/quest/application/usecases/check-authorization-to-access-combined-course.js
  api/src/quest/domain/models/OrganizationLearner.js
  api/src/quest/domain/usecases/start-combined-course.js
  api/src/quest/infrastructure/repositories/combined-course-participant-repository.js
  api/src/shared/application/security-pre-handlers.js
  api/tests/quest/acceptance/application/combined-course-route_test.js
  api/tests/quest/integration/application/usecases/check-authorization-to-access-combined-course_test.js
  api/tests/quest/integration/infrastructure/repositories/combined-course-participant-repository_test.js
  api/tests/quest/unit/application/combined-course-route_test.js
  api/tests/shared/acceptance/application/security-pre-handlers_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, :dango: Combinix

#13257 [BUGFIX] Réparer la validation de mot de passe lors de création de compte sco (PIX-19209)
  mon-pix/app/components/routes/register-form.gjs
  mon-pix/tests/integration/components/routes/register-form-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#13258 [BUGFIX] Utiliser les challenges des référentiels cadres en cas de simulation de complémentaire (PIX-19189).
  api/src/certification/evaluation/domain/usecases/simulate-flash-assessment-scenario.js
  api/tests/certification/evaluation/unit/domain/usecases/simulate-flash-assessment-scenario_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#13261 [FEATURE] Créer un helper pour les tests de rôles sur les endpoints (PIX-19205)
  api/tests/devcomp/integration/application/trainings/training-route_test.js
  api/tests/tooling/security-pre-handlers-helpers.js
  api/tests/unit/tooling/security-pre-handlers-helpers_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#13269 [BUGFIX] Résoudre le crash API lors de l'activation de la feature Import avec Suppression de Learner (PIX-17414).
  api/src/organizational-entities/domain/usecases/add-organization-feature-in-batch.usecase.js
  api/src/organizational-entities/domain/usecases/index.js
  api/tests/organizational-entities/integration/domain/usecases/add-organization-feature-in-batch.usecase.test.js
  api/tests/organizational-entities/unit/domain/usecases/add-organization-feature-in-batch_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-prescription

#13276 [FEATURE] Envoyer la solution et les feedbacks des QCU à la récupération des données du module (PIX-19220)
  api/src/devcomp/domain/models/QcuProposal.js
  api/src/devcomp/domain/models/element/QCU-declarative.js
  api/src/devcomp/domain/models/element/QCU-discovery.js
  api/src/devcomp/domain/models/element/QCU-for-answer-verification.js
  api/src/devcomp/domain/models/element/QCU.js
  api/src/devcomp/infrastructure/datasources/learning-content/modules/demo-epreuves-components.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/galerie.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/tmp-ia-int-mgo.json
  api/src/devcomp/infrastructure/factories/module-factory.js
  api/tests/devcomp/acceptance/scripts/test-module.json
  api/tests/devcomp/integration/repositories/element-repository_test.js
  api/tests/devcomp/unit/domain/models/QcuProposal_test.js
  api/tests/devcomp/unit/domain/models/element/Element_test.js
  api/tests/devcomp/unit/domain/models/element/QCU-discovery_test.js
  api/tests/devcomp/unit/domain/models/element/QCU_test.js
  api/tests/devcomp/unit/infrastructure/factories/element-for-verification-factory_test.js
  api/tests/devcomp/unit/infrastructure/factories/module-factory_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#13245 [TECH] Ajout de seed pour avoir un centre de certification SUP avec habilitations à des Pix+ (PIX-19096).
  api/db/seeds/data/team-certification/cases/complementary-certification.js
  api/db/seeds/data/team-certification/cases/complementary-certifications.js
  api/db/seeds/data/team-certification/cases/sup-certification-centre-with-habilitations.js
  api/db/seeds/data/team-certification/data-builder.js
  api/db/seeds/data/team-certification/shared/constants.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#13267 [TECH] :truck: Déplace des tests dans leurs contextes spécifiques.
  api/src/certification/enrolment/infrastructure/files/candidates-import/CandidateData.js
  api/src/certification/enrolment/infrastructure/files/candidates-import/fill-candidates-import-sheet.js
  api/src/certification/shared/domain/models/CertificationCandidate.js
  api/src/certification/shared/infrastructure/repositories/certification-candidate-repository.js
  api/src/certification/shared/infrastructure/repositories/session-repository.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-controller-post-certification-candidate_test.js
  api/tests/certification/enrolment/acceptance/application/certification-candidate-route_test.js
  api/tests/certification/enrolment/integration/infrastructure/repositories/enrolled-candidate-repository_test.js
  api/tests/certification/enrolment/unit/domain/models/Candidate_test.js
  api/tests/certification/enrolment/unit/domain/usecases/add-candidate-to-session_test.js
  api/tests/certification/enrolment/unit/domain/usecases/validate-sessions_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/candidate-serializer_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/enrolled-candidate-serializer_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/session-candidate-serializer_test.js
  api/tests/certification/evaluation/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
  api/tests/certification/shared/unit/domain/models/CertificationCandidate_test.js
  api/tests/shared/unit/domain/models/CertificationCenter_test.js
  api/tests/tooling/domain-builder/factory/build-certification-candidate.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#13255 [TECH] Séparer les responsabilités du token service (partie 1) (PIX-19215)
  api/src/identity-access-management/application/token/token.controller.js
  api/src/identity-access-management/domain/models/UserAccessToken.js
  api/src/identity-access-management/domain/usecases/authenticate-anonymous-user.usecase.js
  api/src/identity-access-management/domain/usecases/authenticate-for-saml.usecase.js
  api/src/identity-access-management/domain/usecases/authenticate-user.js
  api/src/identity-access-management/domain/usecases/create-access-token-from-refresh-token.usecase.js
  api/src/identity-access-management/domain/usecases/get-saml-authentication-redirection-url.js
  api/src/prescription/organization-learner/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user.js
  api/src/shared/domain/services/token-service.js
  api/tests/identity-access-management/acceptance/application/token.route.test.js
  api/tests/identity-access-management/unit/application/token.controller.test.js
  api/tests/identity-access-management/unit/domain/models/UserAccessToken.test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-for-saml.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/get-saml-authentication-redirection-url_test.js
  api/tests/prescription/learner-management/acceptance/application/sup-organization-management-route_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
  api/tests/shared/integration/domain/services/token-service_test.js
  api/tests/shared/unit/application/usecases/checkAdminMemberHasRoleCertif_test.js
  api/tests/shared/unit/application/usecases/checkAdminMemberHasRolePixMetier_test.js
  api/tests/shared/unit/application/usecases/checkAdminMemberHasRolePixSupport_test.js
  api/tests/shared/unit/application/usecases/checkAdminMemberHasRoleSuperAdmin_test.js
  api/tests/shared/unit/domain/services/token-service_test.js
  api/tests/test-helper.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, cross-team

#13278 [TECH] Utilisation d'URL relatives pour la redirection post-campagne (PIX-19131)
  api/db/seeds/data/team-prescription/build-quests.js
  api/src/devcomp/domain/usecases/find-recommended-modules-by-target-profile-ids.js
  api/src/prescription/campaign/domain/validators/campaign-creation-validator.js
  api/src/quest/domain/models/Campaign.js
  api/src/quest/domain/usecases/create-combined-courses.js
  api/src/quest/infrastructure/repositories/campaign-repository.js
  api/src/shared/config.js
  api/tests/devcomp/integration/domain/usecases/find-recommended-modules-by-target-profile-ids_test.js
  api/tests/quest/unit/infrastructure/repositories/campaign-repository_test.js
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/custom-organization-block.gjs
  mon-pix/app/utils/location.js
  mon-pix/tests/integration/components/campaigns/assessment/results/hero/custom-organization-block-test.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results/hero/custom-organization-block-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, :dango: Combinix

#13284 [TECH] Séparer les responsabilités du token service (partie 2) (PIX-19217)
  api/src/identity-access-management/application/password/password.controller.js
  api/src/identity-access-management/domain/models/ApplicationAccessToken.js
  api/src/identity-access-management/domain/models/PasswordExpirationToken.js
  api/src/identity-access-management/domain/usecases/authenticate-application.js
  api/src/identity-access-management/domain/usecases/authenticate-for-saml.usecase.js
  api/src/identity-access-management/domain/usecases/authenticate-user.js
  api/src/identity-access-management/domain/usecases/update-expired-password.usecase.js
  api/src/shared/domain/services/token-service.js
  api/tests/identity-access-management/acceptance/application/password/password.route.test.js
  api/tests/identity-access-management/unit/application/password/password.controller.test.js
  api/tests/identity-access-management/unit/application/token.controller.test.js
  api/tests/identity-access-management/unit/domain/models/ApplicationAccessToken.test.js
  api/tests/identity-access-management/unit/domain/models/PasswordExpirationToken.test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-application_test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-for-saml.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/update-expired-password.usecase.test.js
  api/tests/shared/unit/domain/services/token-service_test.js
  api/tests/test-helper.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#13281 [FEATURE] Afficher dans PixOrga les organization-learners associés à des utilisateurs anonymisés (PIX-19192)
  api/src/prescription/organization-learner/infrastructure/repositories/organization-participant-repository.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-participant-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#13296 [TECH] :truck: Déplace le modèle `CertificationResult` vers le contexte `certification/results`
  api/src/certification/results/domain/models/CertificationResult.js
  api/src/certification/results/infrastructure/repositories/certification-result-repository.js
  api/tests/certification/results/integration/infrastructure/repositories/certification-result-repository_test.js
  api/tests/certification/results/unit/domain/models/CertificationResult_test.js
  api/tests/certification/results/unit/infrastructure/utils/csv/certification-results/CertificationResultsCsvValues_test.js
  api/tests/tooling/domain-builder/factory/build-certification-result.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#13291 [TECH] :truck: Déplace le modèle `CertifiableBadgeAcquisition` vers un contexte de certification
  api/src/certification/shared/domain/models/CertifiableBadgeAcquisition.js
  api/src/certification/shared/domain/services/certification-badges-service.js
  api/src/certification/shared/infrastructure/repositories/certifiable-badge-acquisition-repository.js
  api/tests/tooling/domain-builder/factory/build-certifiable-badge-acquisition.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#13289 [TECH] :truck: Déplace le modèle en lecture seule `SharedProfileForCampaign` vers un contexte de la prescription
  api/src/prescription/campaign-participation/domain/read-models/SharedProfileForCampaign.js
  api/src/prescription/campaign-participation/domain/usecases/get-shared-campaign-participation-profile.js
  api/tests/prescription/campaign-participation/unit/domain/read-models/SharedProfileForCampaign_test.js
  api/tests/prescription/campaign-participation/unit/infrastructure/serializers/jsonapi/shared-profile-for-campaign-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#13300 [FEATURE] Cacher les contenus recommandés à l'issue d'une campagne dans le cadre d'un parcours combiné
  high-level-tests/e2e-playwright/tests/pix-app/combined-course.test.ts
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-tabs/results-details/competence-row.gjs
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-tabs/results-details/index.gjs
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results.gjs
  mon-pix/app/models/campaign.js
  mon-pix/tests/integration/components/campaigns/assessment/results/evaluation-results-tabs-test.js
  mon-pix/tests/integration/components/routes/campaigns/assessment/evaluation-results-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, :dango: Combinix

#13279 [BUGFIX] Corriger le toggle "Cacher les organisations archivées" sur PixAdmin dans les profils cible (PIX-19182).
  admin/app/components/organizations/list-items.gjs
  admin/app/components/target-profiles/organizations.gjs
  admin/app/controllers/authenticated/target-profiles/target-profile/organizations.js
  admin/app/routes/authenticated/target-profiles/target-profile/organizations.js
  admin/app/templates/authenticated/target-profiles/target-profile/organizations.hbs
  admin/tests/integration/components/target-profiles/organizations-test.gjs
  api/src/prescription/target-profile/application/admin-target-profile-route.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#13305 [BUGFIX] Corriger les problèmes d'affichage sur la double mire Pix Certif (PIX-16112)
  certif/app/components/auth/register-form.hbs
  certif/app/styles/components/login-or-register.scss
  certif/app/styles/components/register-form.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#13271 [FEATURE] Afficher les statistiques de participations sur la page d'accueil de PixOrga (PIX-18959)
  api/src/prescription/campaign-participation/infrastructure/serializers/jsonapi/campaign-participation-statistics-serializer.js
  api/src/team/infrastructure/serializers/jsonapi/prescriber-serializer.js
  api/tests/prescription/organization-learner/acceptance/application/organization-learners-route_test.js
  api/tests/team/acceptance/application/prescriber-informations.controller.test.js
  api/tests/team/unit/infrastructure/serializers/jsonapi/prescriber-serializer_test.js
  orga/app/components/index/classic.gjs
  orga/app/components/index/participation-statistics.gjs
  orga/app/models/organization.js
  orga/app/models/participation-statistic.js
  orga/app/routes/authenticated/index.js
  orga/app/styles/components/index/index.scss
  orga/app/styles/components/index/participation-statistics.scss
  orga/app/templates/authenticated/index.gjs
  orga/tests/integration/components/index/participation-statistics-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#13322 [TECH] Récupérer les challenges actifs pour la création des référentiels cadres (PIX -19274)
  api/src/certification/configuration/domain/usecases/create-consolidated-framework.js
  api/src/shared/infrastructure/repositories/challenge-repository.js
  api/tests/certification/configuration/unit/domain/usecases/create-consolidated-framework_test.js
  api/tests/integration/scripts/certification/target-profile-to-calibrated-framework_test.js
  api/tests/shared/integration/infrastructure/repositories/challenge-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#13313 [BUGFIX] Corriger l'affichage sur la page de changement d'email (PIX-14089)
  mon-pix/app/styles/components/user-account/_email-verification-code.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#13312 [BUGFIX] Empêcher l'accès au language switch depuis le compte sur domaine fr (PIX-7933)
  mon-pix/app/routes/authenticated/user-account/language.js
  mon-pix/tests/acceptance/user-account-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#13318 [BUGFIX] Corriger UrlBaseService.pixAppForgottenPasswordUrl (PIX-19264)
  admin/app/services/url-base.js
  admin/tests/unit/services/url-base-test.js
  certif/app/services/url-base.js
  certif/tests/integration/components/login-test.gjs
  certif/tests/unit/services/url-base-test.js
  mon-pix/app/services/url-base.js
  mon-pix/tests/unit/services/url-base-test.js
  orga/app/services/url-base.js
  orga/tests/integration/components/auth/login-form-test.js
  orga/tests/unit/services/url-base-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#13307 [FEATURE] Ajouter des champs à l'API Maddo (PIX-19247).
  api/src/maddo/application/campaigns-routes.js
  api/src/maddo/application/organizations-routes.js
  api/src/maddo/domain/models/CampaignParticipation.js
  api/src/maddo/domain/models/Organization.js
  api/src/maddo/infrastructure/repositories/campaign-participation-repository.js
  api/src/maddo/infrastructure/repositories/organization-repository.js
  api/tests/maddo/application/acceptance/campaigns-routes_test.js
  api/tests/maddo/application/acceptance/organizations-routes_test.js
  api/tests/maddo/infrastructure/integration/repositories/organization-repository_test.js
  api/tests/tooling/domain-builder/factory/maddo/build-campaign-participation.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#13306 [FEATURE] update prompt-intermediaire.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/prompt-intermediaire.json
Labels: contribution-modulix

#13330 [FEATURE] Affiche un bloc de formation dans les parcours combiné quand il y a une campagne de diagnostique (PIX-18909)
  api/src/quest/domain/models/CombinedCourse.js
  api/src/quest/domain/models/CombinedCourseItem.js
  api/tests/quest/unit/domain/models/CombinedCourse_test.js
  mon-pix/app/components/combined-course/combined-course-item.gjs
  mon-pix/app/models/combined-course-item.js
  mon-pix/app/styles/components/_combined-courses.scss
  mon-pix/public/images/formation-book.svg
  mon-pix/tests/integration/components/routes/combined-courses-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, :dango: Combinix

#13298 [FEATURE] Envoyer les solutions et les feedbacks des QCM à la récupération des données du module (PIX-19240)
  api/src/devcomp/domain/models/element/QCM-for-answer-verification.js
  api/src/devcomp/domain/models/element/QCM.js
  api/src/devcomp/domain/models/element/QROCM-for-answer-verification.js
  api/src/devcomp/infrastructure/factories/module-factory.js
  api/tests/devcomp/unit/domain/models/element/Element_test.js
  api/tests/devcomp/unit/domain/models/element/QCM-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QCM_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#13334 [BUGFIX] ajouter un param par défault pour trackEvent
  orga/app/services/pix-metrics.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#13336 [FEATURE] Afficher le numéro d'étape courante dans le Stepper horizontal (PIX-19287)
  mon-pix/app/components/module/component/_stepper.scss
  mon-pix/app/components/module/component/stepper.gjs
  mon-pix/tests/integration/components/module/stepper_test.gjs
Labels: :rocket: Ready to Merge, Func Review OK, team-devcomp

#13327 [FEATURE] Mettre a jour les traductions (PIX-19281)
  orga/app/components/index/missions.gjs
  orga/app/components/index/participation-statistics.gjs
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#13344 [FEATURE] Modifier les trads du bloc pour gérer la session pix1D sur la page d'accueil (PIX-19294)
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#13335 [FEATURE] Gestion de la locale dans les emails d'accès (PIX-19266).
  api/src/identity-access-management/application/password/password.controller.js
  api/src/identity-access-management/application/user/user.controller.js
  api/tests/identity-access-management/integration/application/password/password.controller.test.js
  api/tests/identity-access-management/unit/application/password/password.controller.test.js
  api/tests/identity-access-management/unit/application/user/user.controller.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#13337 [FEATURE]WIP mon premier prompt VSection
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ia-premier-prompt.json
Labels: :rocket: Ready to Merge, contribution-modulix

#13340 [FEATURE] update module ia botaniste
  api/src/devcomp/infrastructure/datasources/learning-content/modules/tmp-def-ia-supervise.json
Labels: :rocket: Ready to Merge, contribution-modulix

#13350 [FEATURE] Modification module hallu
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ia-hallu.json
Labels: :rocket: Ready to Merge, contribution-modulix
