Repository 1024pix/pix, pull requests merged in 2025-03, with the labels that each got.

#11537 [FEATURE] Corriger l'espace entre le menu et l'alert en format mobile (PIX-16665)
  orga/app/styles/components/banner/top-banners.scss
Labels: :rocket: Ready to Merge, team-prescription

#11529 [TECH] Migration de la route GET /api/admin/certification-centers/{certificationCenterId}/certification-center-memberships (PIX-16758)
  api/lib/application/certification-centers/certification-center-controller.js
  api/lib/application/certification-centers/index.js
  api/src/team/application/certification-center-membership/certification-center-membership.admin.controller.js
  api/src/team/application/certification-center-membership/certification-center-membership.admin.route.js
  api/tests/team/acceptance/application/certification-center-membership/certification-center-membership.admin.route.test.js
  api/tests/team/unit/application/certification-center-membership/certification-center-membership.admin.controller.test.js
  api/tests/unit/application/certification-centers/certification-center-controller_test.js
  api/tests/unit/application/certification-centers/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#11528 [TECH] Migration de la route POST api/membership/me/disable (PIX-16733)
  api/lib/application/memberships/index.js
  api/lib/application/memberships/membership-controller.js
  api/src/team/application/membership/membership.controller.js
  api/src/team/application/membership/membership.route.js
  api/src/team/domain/usecases/disable-own-organization-membership.usecase.js
  api/tests/acceptance/application/memberships/membership-controller_test.js
  api/tests/team/acceptance/application/membership/membership.route.test.js
  api/tests/team/integration/domain/usecases/disable-own-organization-membership.usecase.test.js
  api/tests/unit/domain/usecases/disable-own-organization-membership_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#11513 [TECH] Dans Pix API supprimer les notions erronées ou obsolètes de scope et de target utilisées pour la vérification du droit d’accès d’un utilisateur à une application (PIX-15945)
  api/src/authorization/domain/constants.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.admin.controller.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.controller.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.route.js
  api/src/identity-access-management/application/token/token.controller.js
  api/src/identity-access-management/application/token/token.route.js
  api/src/identity-access-management/domain/services/oidc-authentication-service-registry.js
  api/src/identity-access-management/domain/usecases/authenticate-oidc-user.usecase.js
  api/src/identity-access-management/domain/usecases/authenticate-user.js
  api/src/identity-access-management/domain/usecases/get-authorization-url.usecase.js
  api/src/identity-access-management/domain/usecases/get-ready-identity-providers.usecase.js
  api/src/identity-access-management/domain/usecases/reconcile-oidc-user.usecase.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.route.test.js
  api/tests/identity-access-management/acceptance/application/token.route.test.js
  api/tests/identity-access-management/integration/domain/services/oidc-authentication-service-registry.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.controller.test.js
  api/tests/identity-access-management/unit/application/token.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-oidc-user.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-user_test.js
  api/tests/identity-access-management/unit/domain/usecases/get-authorization-url.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/get-ready-identity-providers.usecase.test.js
  high-level-tests/e2e/cypress.config.cjs
  high-level-tests/e2e/cypress/support/commands.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11536 [TECH] Mise en place d'`Events` liés au passage de module (PIX-16726)
  api/src/devcomp/domain/errors.js
  api/src/devcomp/domain/models/passage-events/PassageEvent.js
  api/src/devcomp/domain/models/passage-events/passage-events.js
  api/tests/devcomp/integration/domain/models/passage-events/passage-events_test.js
  api/tests/devcomp/unit/domain/models/module/PassageEvent_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11524 [TECH] Script pour fix les certification-challenge-capacities liés à des live-alerts (PIX-16701).
  api/scripts/certification/fix-validated-live-alert-certification-challenge-ids.js
  api/tests/integration/scripts/certification/fix-validated-live-alert-certification-challenge-ids_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11521 [TECH] Utiliser PixTable sur Pix Certif (PIX-15794).
  certif/app/components/add-student-list.hbs
  certif/app/components/sessions/index.gjs
  certif/app/components/sessions/session-details/enrolled-candidates/index.gjs
  certif/app/components/sessions/session-details/index.gjs
  certif/app/components/sessions/session-list-row.gjs
  certif/app/components/sessions/session-list.gjs
  certif/app/components/team/invitations-list-item.hbs
  certif/app/components/team/invitations-list.hbs
  certif/app/controllers/authenticated/sessions/details/certification-candidates.js
  certif/app/styles/app.scss
  certif/app/styles/components/add-student-list.scss
  certif/app/styles/components/session-summary-list.scss
  certif/app/styles/components/team/invitations-list.scss
  certif/app/styles/globals/tables.scss
  certif/app/styles/pages/authenticated/sessions/details/certification-candidates.scss
  certif/app/templates/authenticated/sessions/details/certification-candidates.hbs
  certif/package-lock.json
  certif/package.json
  certif/tests/acceptance/session-list-test.js
  certif/tests/acceptance/team/list/list-test.js
  certif/tests/integration/components/sessions/session-details/enrolled-candidates/index-test.gjs
  certif/tests/integration/components/sessions/session-list_test.gjs
  certif/tests/integration/components/team/invitations-list-item-test.js
  certif/tests/integration/components/team/invitations-list-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: :rocket: Ready to Merge, team-acces, team-certif

#11549 [BUGFIX] Permettre d'afficher les notifications avec le nouveau menu sur Pix Admin.
  admin/app/components/layout/index.gjs
  admin/app/templates/authenticated.hbs
Labels: :rocket: Ready to Merge, cross-team

#11542 [BUGFIX] Empêcher la validation d'un live-alert assigné à une épreuve déjà répondue (PIX-16783).
  api/src/certification/evaluation/domain/errors.js
  api/src/certification/session-management/domain/usecases/validate-live-alert.js
  api/src/shared/application/error-manager.js
  api/tests/certification/session-management/unit/domain/usecases/validate-live-alert_test.js
  certif/app/components/session-supervising/candidate-in-list.js
  certif/tests/acceptance/session-supervising-test.js
  certif/tests/unit/components/session-supervising/candidate-in-list-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11550 [TECH] Les types de colonnes ne sont pas corrects sur le datamart Parcoursup de dev (PIX-16800).
  api/datamart/migrations/20250303102000_fix_column_types.js
  api/datamart/seeds/cases/ine-ok.js
  api/datamart/seeds/cases/same-ine-different-person.js
  api/datamart/seeds/cases/same-person-different-birthdate.js
  api/datamart/seeds/cases/special-names.js
  api/datamart/seeds/cases/tools.js
  api/datamart/seeds/cases/uai-ok.js
  api/datamart/seeds/cases/verification-code-only.js
  api/datamart/seeds/populate-certification-results.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11502 [FEATURE] Utiliser les designs tokens sur Mon Pix (PIX-16698).
  mon-pix/app/components/routes/campaigns/profiles-collection/send-profile.hbs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/_certification-result.scss
  mon-pix/app/styles/components/_certifications-list.scss
  mon-pix/app/styles/components/_challenge-statement.scss
  mon-pix/app/styles/components/_checkpoint.scss
  mon-pix/app/styles/components/_comparison-window.scss
  mon-pix/app/styles/components/_hexagon-score.scss
  mon-pix/app/styles/components/_levelup-notif.scss
  mon-pix/app/styles/components/_no-certification-panel.scss
  mon-pix/app/styles/components/_rounded-panel.scss
  mon-pix/app/styles/components/_scorecard-details.scss
  mon-pix/app/styles/components/_tutorial-panel.scss
  mon-pix/app/styles/components/_user-certification-hexagon-score.scss
  mon-pix/app/styles/components/_user-certifications-detail-competence.scss
  mon-pix/app/styles/components/_user-certifications-detail-competences-list.scss
  mon-pix/app/styles/components/_user-certifications-detail-result.scss
  mon-pix/app/styles/components/campaign-participation-overview/_card.scss
  mon-pix/app/styles/components/sitemap/_content.scss
  mon-pix/app/styles/components/user-tutorials/_sidebar.scss
  mon-pix/app/styles/globals/_text.scss
  mon-pix/app/styles/pages/_campaign-tutorial.scss
  mon-pix/app/styles/pages/_competence-results.scss
  mon-pix/app/styles/pages/_course-error.scss
  mon-pix/app/styles/pages/_profile-already-shared.scss
  mon-pix/app/styles/pages/_send-profile.scss
  mon-pix/app/styles/pages/_user-certifications.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, cross-team

#11553 [TECH] Créer la table `passage-events` (migration) (PIX-16727)
  api/db/migrations/20250303133924_create-passage-events-table.js
Labels: :rocket: Ready to Merge, team-devcomp

#11540 [FEATURE] Enregistrer la date de dernière connexion Pix par application (PIX-16721)
  api/lib/application/authentication/authentication-controller.js
  api/lib/domain/usecases/authenticate-external-user.js
  api/lib/domain/usecases/index.js
  api/src/identity-access-management/domain/usecases/authenticate-user.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-user_test.js
  api/tests/unit/application/authentication/authentication-controller_test.js
  api/tests/unit/domain/usecases/authenticate-external-user_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11523 [FEATURE] Les iframes autorisent l'utilisation du presse papier de l'utilisateur (PIX-16746)
  mon-pix/app/components/challenge-embed-simulator.hbs
  mon-pix/app/components/challenge-embed-simulator.js
  mon-pix/tests/integration/components/challenge-embed-simulator-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-contenu

#11544 [TECH] Ajouter une contrainte sur la table last-user-application-connections assurant l'unicité du couple userId-application (PIX-16769)
  api/db/migrations/20250228155843_add-unicity-constraint-in-last-user-application-connections.js
  api/src/identity-access-management/infrastructure/repositories/last-user-application-connections.repository.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-captains

#11555 [BUGFIX] Corriger le warning `MaxListenersExceededWarning` lors de l'exécution des tests
  api/src/monitoring/infrastructure/metrics.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-captains

#11519 [TECH] :truck: Déplace `errors helper` vers `src/prescription/campaign-participation/`
  api/src/prescription/campaign-participation/domain/usecases/send-completed-participation-results-to-pole-emploi.js
  api/src/prescription/campaign-participation/domain/usecases/send-shared-participation-results-to-pole-emploi.js
  api/src/prescription/campaign-participation/domain/usecases/send-started-participation-results-to-pole-emploi.js
  api/src/prescription/campaign-participation/infrastructure/errors-helper.js
  api/tests/prescription/campaign-participation/integration/infrastructure/errors-helper_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, Bounded-context-migration

#11557 [FEATURE] Initier un data repository pour enregistrer des passages events (PIX-16728)
  api/src/devcomp/domain/models/passage-events/PassageEvent.js
  api/src/devcomp/infrastructure/repositories/passage-event-repository.js
  api/tests/devcomp/integration/repositories/passage-event-repository_test.js
  api/tests/devcomp/unit/domain/models/module/PassageEvent_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11530 [FEATURE] Module PPN#2 - derniers changements avant sortie !
  api/src/devcomp/infrastructure/datasources/learning-content/modules/controle-parental.json
Labels: :rocket: Ready to Merge, contribution-modulix

#11554 [TECH] Migration de la route POST /api/memberships/{id}/disable dans /src/team
  api/lib/application/memberships/index.js
  api/lib/routes.js
  api/src/team/application/membership/membership.route.js
  api/tests/acceptance/application/memberships/membership-controller_test.js
  api/tests/integration/application/memberships/membership-controller_test.js
  api/tests/team/acceptance/application/membership/membership.route.test.js
  api/tests/team/unit/application/membership/membership.route.test.js
  api/tests/unit/application/memberships/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, Bounded-context-migration

#11566 [TECH] Supprimer des logs plus utilisés
  api/src/certification/shared/infrastructure/repositories/certification-challenge-repository.js
  api/src/certification/shared/infrastructure/repositories/certification-course-repository.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-captains

#11541 [FEATURE] Pouvoir démarrer et achever une participation à une campagne interro - sans les spécificités interros pour le moment (PIX-16779)
  api/lib/domain/usecases/get-assessment.js
  api/src/prescription/campaign-participation/domain/models/CampaignParticipant.js
  api/src/prescription/campaign-participation/domain/models/CampaignParticipation.js
  api/src/prescription/campaign-participation/domain/models/CampaignToStartParticipation.js
  api/src/prescription/campaign-participation/domain/usecases/start-campaign-participation.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participant-repository.js
  api/src/prescription/campaign/domain/models/Campaign.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-administration-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-repository.js
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/domain/models/Assessment.js
  api/src/shared/domain/models/Campaign.js
  api/src/shared/infrastructure/repositories/assessment-repository.js
  api/src/shared/infrastructure/serializers/jsonapi/assessment-serializer.js
  api/tests/prescription/campaign-participation/unit/domain/models/CampaignParticipant_test.js
  api/tests/prescription/campaign-participation/unit/domain/models/CampaignParticipation_test.js
  api/tests/prescription/campaign-participation/unit/domain/models/CampaignToStartParticipation_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-administration-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-repository_test.js
  api/tests/prescription/campaign/unit/domain/models/Campaign_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get-next-challenge-for-campaign-assessment_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get_test.js
  api/tests/shared/unit/domain/models/Assessment_test.js
  api/tests/shared/unit/infrastructure/serializers/jsonapi/assessment-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-to-join.js
  api/tests/tooling/domain-builder/factory/build-campaign-to-start-participation.js
  api/tests/unit/domain/models/Campaign_test.js
  api/tests/unit/domain/usecases/get-assessment_test.js
  mon-pix/app/components/campaign-start-block.js
  mon-pix/app/models/assessment.js
  mon-pix/app/models/campaign.js
  mon-pix/mirage/factories/assessment.js
  mon-pix/mirage/factories/certification-course.js
  mon-pix/mirage/routes/assessments/post-assessments.js
  mon-pix/mirage/routes/campaign-participations/post-campaign-participation.js
  mon-pix/mirage/routes/post-competence-evaluation.js
  mon-pix/tests/acceptance/start-campaigns-with-type-exam-test.js
  mon-pix/tests/integration/components/campaign-start-block-test.js
  mon-pix/tests/integration/components/progress-bar-test.js
  mon-pix/tests/unit/models/assessment-test.js
  mon-pix/tests/unit/models/campaign-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11538 [FEATURE] Enregistrer la date de dernière connexion dans Authentication method pour les connexions OIDC (PIX-16742)
  api/src/identity-access-management/domain/usecases/authenticate-oidc-user.usecase.js
  api/src/identity-access-management/domain/usecases/create-oidc-user.usecase.js
  api/src/identity-access-management/domain/usecases/reconcile-oidc-user-for-admin.usecase.js
  api/src/identity-access-management/domain/usecases/reconcile-oidc-user.usecase.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-oidc-user.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/create-oidc-user.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/reconcile-oidc-user-for-admin.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/reconcile-oidc-user.usecase.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11552 [FEATURE] Enregistrer la date de dernière connexion Pix pour les méthodes de connexion GAR (PIX-16624)
  api/lib/application/sco-organization-learners/sco-organization-learner-controller.js
  api/lib/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user.js
  api/lib/domain/usecases/index.js
  api/src/identity-access-management/application/saml/saml.controller.js
  api/src/identity-access-management/domain/usecases/get-saml-authentication-redirection-url.js
  api/tests/acceptance/application/sco-organization-learners/sco-organization-learner-controller_test.js
  api/tests/identity-access-management/unit/domain/usecases/get-saml-authentication-redirection-url_test.js
  api/tests/integration/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
  api/tests/unit/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11559 [FEATURE] Sauvegarder les événements `PASSAGE_TERMINATED`(PIX-16811)
  api/src/devcomp/application/passages/controller.js
  api/src/devcomp/domain/usecases/terminate-passage.js
  api/src/devcomp/infrastructure/repositories/index.js
  api/src/shared/infrastructure/utils/request-response-utils.js
  api/tests/devcomp/unit/application/passages/controller_test.js
  api/tests/devcomp/unit/domain/usecases/terminate-passage_test.js
  api/tests/shared/unit/infrastructure/utils/request-response-utils_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11547 [FEATURE] Afficher la date de dernière connexion par rapport à la méthode de connexion utilisée (PIX-16631)
  admin/app/components/users/user-detail-personal-information/authentication-method.gjs
  admin/app/models/authentication-method.js
  admin/app/styles/components/users/authentication-method.scss
  admin/tests/integration/components/users/user-detail-personal-information/authentication-method-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
  api/db/database-builder/factory/build-authentication-method.js
  api/db/seeds/data/team-acces/build-users.js
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/src/identity-access-management/infrastructure/serializers/jsonapi/user-details-for-admin.serializer.js
  api/tests/identity-access-management/integration/infrastructure/repositories/authentication-method.repository.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user.repository.test.js
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/user-details-for-admin.serializer.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11569 [FEATURE] Utiliser le même style pour l'intitulé Réponse correcte et Réponse incorrecte (PIX-16840).
  mon-pix/app/components/solution-panel/qcu-solution-panel.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#11556 [TECH] :broom: Utilisations de valeurs déjà présente dans le code pour le calcul du niveau de maille (PIX-16718)
  api/src/certification/results/application/parcoursup-controller.js
  api/src/certification/results/domain/services/pix-score-to-mesh-level.js
  api/src/certification/results/domain/usecases/get-global-mesh-level.js
  api/src/certification/results/domain/usecases/index.js
  api/src/certification/scoring/domain/models/CapacitySimulator.js
  api/tests/certification/results/acceptance/application/parcoursup-route_test.js
  api/tests/certification/results/unit/application/parcoursup-controller_test.js
  api/tests/certification/results/unit/domain/usecases/get-global-mesh-level_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11577 [BUGFIX] Remplacement des UUIDs dupliqués des contenus de modules (PIX-16819)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bases-clavier-ordinateur-1.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/chatgpt-vraiment-neutre.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/controle-parental.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/jeux-video-enfant.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/utiliser-souris-ordinateur-1.json
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11573 [TECH] Separer les seeds SCO et GP pour Parcoursup (PIX-16842).
  api/datamart/seeds/cases/sco/ine-ok.js
  api/datamart/seeds/cases/sco/same-ine-different-person.js
  api/datamart/seeds/cases/sco/same-person-different-birthdate.js
  api/datamart/seeds/cases/sco/special-names.js
  api/datamart/seeds/cases/sco/uai-ok.js
  api/datamart/seeds/cases/tools.js
  api/datamart/seeds/cases/verification-code/verification-code-only.js
  api/datamart/seeds/populate-certification-results.js
  api/datamart/seeds/populate-sco-datamart.js
  api/datamart/seeds/populate-verification-code-datamart.js
  api/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11580 [BUGFIX] Traduire le text du label de l'icone dans le select de création de campagne (PIX-16831)
  orga/app/components/campaign/create-form.gjs
  orga/tests/integration/components/campaign/create-form-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11560 [TECH] Permettre de hasher le contenu d'un module (PIX-16810)
  api/src/devcomp/domain/models/module/Module.js
  api/src/devcomp/infrastructure/factories/module-factory.js
  api/src/devcomp/infrastructure/repositories/module-repository.js
  api/tests/devcomp/integration/repositories/module-repository_test.js
  api/tests/devcomp/unit/domain/models/module/Module_test.js
  api/tests/devcomp/unit/infrastructure/factories/module-factory_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11562 [FEATURE] Pouvoir visualiser les résultats d'une campagne d'interro côté PixOrga, à la manière d'une campagne d'évaluation pour le moment (PIX-16829)
  api/src/prescription/campaign/domain/usecases/get-campaign.js
  api/src/prescription/campaign/domain/validators/campaign-update-validator.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-report-repository.js
  api/src/shared/domain/read-models/CampaignReport.js
  api/tests/prescription/campaign/integration/domain/usecases/get-campaign_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-report-repository_test.js
  api/tests/prescription/campaign/unit/domain/validators/campaign-update-validator_test.js
  api/tests/unit/domain/read-models/CampaignReport_test.js
  orga/app/components/campaign/activity/dashboard.gjs
  orga/app/components/campaign/activity/participants-list.gjs
  orga/app/components/campaign/cards/shared-count.gjs
  orga/app/components/campaign/charts/participants-by-day.gjs
  orga/app/components/campaign/charts/participants-by-status.gjs
  orga/app/components/campaign/filter/participation-filters.gjs
  orga/app/components/campaign/header/tabs.gjs
  orga/app/components/campaign/header/title.gjs
  orga/app/components/campaign/results/assessment-cards.gjs
  orga/app/components/campaign/settings/view.gjs
  orga/app/components/campaign/update-form.gjs
  orga/app/components/ui/participation-status.gjs
  orga/app/controllers/authenticated/campaigns/campaign/activity.js
  orga/app/models/campaign.js
  orga/tests/integration/components/campaign/cards/shared-count-test.js
  orga/tests/integration/components/campaign/charts/participants-by-day-test.js
  orga/tests/integration/components/campaign/charts/participants-by-status-test.js
  orga/tests/integration/components/campaign/filter/participation-filters-test.gjs
  orga/tests/integration/components/campaign/header/title-test.js
  orga/tests/integration/components/campaign/settings/view-test.js
  orga/tests/integration/components/campaign/update-form-test.js
  orga/tests/unit/models/campaign-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11578 [FEATURE] Cacher le bouton "Je retente" lors d'une campagne d'interro (PIX-16496)
  api/sample.env
  api/src/prescription/campaign-participation/infrastructure/repositories/participant-result-repository.js
  api/src/shared/domain/read-models/participant-results/AssessmentResult.js
  api/tests/unit/domain/read-models/participant-results/AssessmentResult_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11579 [TECH] Améliorer la récupération du timestamp d'une requête (PIX-16871)
  api/src/shared/infrastructure/utils/request-response-utils.js
  api/tests/shared/unit/infrastructure/utils/request-response-utils_test.js
Labels: team-devcomp

#11567 [FEATURE] Enregistrer le début d'un passage en tant qu'événement (PIX-16812)
  api/src/devcomp/application/passages/controller.js
  api/src/devcomp/domain/usecases/create-passage.js
  api/tests/devcomp/unit/application/passages/controller_test.js
  api/tests/devcomp/unit/domain/usecases/create-passage_test.js
Labels: team-devcomp

#11589 [BUGFIX]: Afficher correctement les badges sur l'ecran de resultat de Pix orga (PIX-16909)
  orga/app/components/participant/assessment/header.gjs
  orga/tests/integration/components/participant/assessment/header-test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-prescription

#11468 [TECH] Refactorer getPlacementProfileWithSnapshotting et generatePlacementProfile
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-profile-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/participant-results-shared-repository.js
  api/src/shared/domain/services/placement-profile-service.js
  api/tests/shared/integration/domain/services/placement-profile-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11583 [FEATURE] Supprimer le tag "Autorisé à reprendre" de l'espace surveillant sur Pix Certif (PIX-16875).
  certif/app/components/session-supervising/candidate-in-list.hbs
  certif/app/styles/components/session-supervising/candidate-in-list.scss
  certif/tests/integration/components/session-supervising/candidate-in-list-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11601 [TECH] Création de la table des enregistrements de plateforme LTI
  api/db/migrations/20250307094503_create-lti-platform-registrations-table.js
Labels: :rocket: Ready to Merge, team-maddo, LTI

#11595 [FEATURE] Cacher la progression dans les campagnes de Type EXAM (Pix-16921)
  api/lib/infrastructure/repositories/user-campaign-results/stage-collection-repository.js
  api/src/prescription/campaign-participation/domain/models/CampaignAssessmentParticipation.js
  api/src/prescription/campaign-participation/domain/usecases/get-campaign-assessment-participation.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-assessment-participation-repository.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-repository.js
  api/tests/prescription/campaign-participation/integration/domain/usecases/get-campaign-assessment-participation_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-assessment-participation-repository_test.js
  api/tests/prescription/campaign-participation/unit/domain/read-models/CampaignAssessmentParticipation_test.js
  api/tests/prescription/campaign-participation/unit/domain/usecases/get-campaign-assessment-participation_test.js
  orga/tests/integration/components/participant/assessment/header-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, team-noa(h)

#11603 [TECH] Séparer la sauvegarde d'une réponse avec la sauvegarde des knowledge-elements correspondants (PIX-16930)
  api/src/evaluation/domain/usecases/save-and-correct-answer-for-campaign.js
  api/src/evaluation/domain/usecases/save-and-correct-answer-for-certification.js
  api/src/evaluation/domain/usecases/save-and-correct-answer-for-competence-evaluation.js
  api/src/evaluation/domain/usecases/save-and-correct-answer-for-demo-and-preview.js
  api/src/shared/infrastructure/repositories/answer-repository.js
  api/src/shared/infrastructure/repositories/knowledge-element-repository.js
  api/tests/evaluation/unit/domain/usecases/save-and-correct-answer-for-campaign_test.js
  api/tests/evaluation/unit/domain/usecases/save-and-correct-answer-for-certification_test.js
  api/tests/evaluation/unit/domain/usecases/save-and-correct-answer-for-competence-evaluation_test.js
  api/tests/evaluation/unit/domain/usecases/save-and-correct-answer-for-demo-and-preview_test.js
  api/tests/shared/integration/infrastructure/repositories/answer-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/knowledge-element-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11591 [FEATURE] Ne pas afficher les indicateurs de progression, level-up et compteur de question en mode interro (PIX-16490)
  api/src/shared/domain/models/Assessment.js
  api/src/shared/infrastructure/repositories/assessment-repository.js
  api/src/shared/infrastructure/serializers/jsonapi/assessment-serializer.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get_test.js
  api/tests/shared/integration/infrastructure/repositories/assessment-repository_test.js
  api/tests/shared/unit/domain/models/Assessment_test.js
  api/tests/shared/unit/infrastructure/serializers/jsonapi/assessment-serializer_test.js
  mon-pix/app/components/progress-bar.hbs
  mon-pix/app/components/progress-bar.js
  mon-pix/app/models/assessment.js
  mon-pix/app/styles/components/_progress-bar.scss
  mon-pix/mirage/factories/assessment.js
  mon-pix/mirage/factories/certification-course.js
  mon-pix/mirage/routes/assessments/post-assessments.js
  mon-pix/mirage/routes/campaign-participations/post-campaign-participation.js
  mon-pix/mirage/routes/post-competence-evaluation.js
  mon-pix/tests/acceptance/start-campaigns-with-type-exam-test.js
  mon-pix/tests/integration/components/progress-bar-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11596 [TECH] Ajouter le dossier de migrations aux codeowners
  .github/CODEOWNERS
Labels: :rocket: Ready to Merge, team-captains, cross-team

#11574 [TECH] Limiter les 500 en cas de mauvais URL et/ou de mauvaise utilisation de l'API (PIX-16830)
  api/src/identity-access-management/infrastructure/utils/network.js
  api/src/shared/application/healthcheck/healthcheck-controller.js
  api/src/shared/infrastructure/plugins/pino.js
  api/tests/identity-access-management/unit/infrastructure/utils/network.test.js
  api/tests/integration/infrastructure/plugins/pino_test.js
  api/tests/unit/infrastructure/authentication_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11605 [FEATURE] Màj feedback constat, dont QCM
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/chatgpt-vraiment-neutre.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/controle-parental.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/tri-multicritere-tableau.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/utiliser-souris-ordinateur-1.json
Labels: :rocket: Ready to Merge, team-devcomp, contribution-modulix

#11599 [BUGFIX] Quand on retente un QCM, les réponses sélectionnées avant ne sont pas prises en compte (PIX-16822)
  mon-pix/app/components/module/element/module-element.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#11545 [FEATURE] Utiliser PixTable dans les tableaux d'équipe et de finalisation sur Pix Certif (PIX-16788).
  certif/app/components/members-list-item.hbs
  certif/app/components/members-list-item.js
  certif/app/components/members-list.hbs
  certif/app/components/members-list.js
  certif/app/components/members-table.gjs
  certif/app/components/session-finalization/completed-reports-information-step.hbs
  certif/app/components/session-finalization/uncompleted-reports-information-step.hbs
  certif/app/components/team/modal/change-member-role-modal.gjs
  certif/app/styles/app.scss
  certif/app/styles/components/issue-report-modal.scss
  certif/app/styles/components/session-finalization/reports-information-step.scss
  certif/app/styles/components/team/change-member-role-modal.scss
  certif/app/styles/globals/panels.scss
  certif/app/styles/globals/tables.scss
  certif/app/styles/pages/authenticated/sessions/details/certification-candidates.scss
  certif/tests/acceptance/routes/authenticated/team/list/members-test.js
  certif/tests/acceptance/team/list/list-test.js
  certif/tests/integration/components/members-list-item-test.js
  certif/tests/integration/components/members-list-test.js
  certif/tests/integration/components/members-table-test.gjs
  certif/tests/integration/components/session-finalization/completed-reports-information-step-test.js
  certif/tests/integration/components/session-finalization/uncompleted-reports-information-step-test.js
  certif/tests/unit/components/members-list-item-test.js
  certif/tests/unit/components/members-list-test.js
  certif/tests/unit/components/members-table-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11602 [BUGFIX] Le `figcaption` des éléments images produisent toujours un espace vide
  mon-pix/app/components/module/element/image.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#11590 [FEATURE] Afficher le bouton de gestion du signalement en dehors du menu sur Pix Certif (PIX-16884).
  certif/app/components/session-supervising/candidate-in-list.hbs
  certif/app/styles/components/session-supervising/candidate-in-list.scss
  certif/app/styles/components/session-supervising/candidate-list.scss
  certif/app/styles/components/session-supervising/header.scss
  certif/tests/acceptance/session-supervising-test.js
  certif/tests/integration/components/session-supervising/candidate-in-list-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11610 [BUGFIX] Pour les demandes de réinitialisation de mot de passe, rendre la recherche des comptes vraiment insensible à la casse (PIX-16896)
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/tests/identity-access-management/integration/domain/usecases/create-reset-password-demand.usecase.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user.repository.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11592 [FEATURE] Créer le tag "En attente" lors d'un signalement d'épreuve ou d'extension sur Pix Certif (PIX-16913).
  certif/app/components/session-supervising/candidate-in-list.hbs
  certif/tests/integration/components/session-supervising/candidate-in-list-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11614 [TECH] Créer le FT pour les attestations PDF V3 avec le nouveau système (PIX-16957).
  api/config/feature-toggles-config.js
  api/sample.env
  api/src/shared/config.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#11607 [FEATURE] Autoriser l'affichage des campagnes de type EXAM sur le dashboard d'un utilisateur (PIX-16821)
  api/src/identity-access-management/domain/usecases/get-current-user.usecase.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-overview-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-repository.js
  api/tests/identity-access-management/unit/domain/usecases/get-current-user.usecase.test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-overview-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11608 [FEATURE] Afficher le type de campagne dans PixAdmin (PIX-16495)
  admin/app/components/administration/nav.scss
  admin/app/components/campaigns/details.gjs
  admin/app/components/campaigns/type.gjs
  admin/app/components/organizations/campaigns-section.gjs
  admin/app/models/campaign.js
  admin/app/styles/app.scss
  admin/app/styles/components/campaigns/type.scss
  admin/app/styles/components/organizations/campaigns-section.scss
  admin/app/styles/globals/tables.scss
  admin/tests/integration/components/campaigns/details-test.gjs
  admin/tests/integration/components/organizations/campaigns-section-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11615 [BUGFIX] Corriger un test flaky sur PixAdmin (PIX-16958)
  admin/tests/integration/components/common/tubes-selection-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#11563 [TECH] :recycle: Extraction d'un service à partir d'un modèle plus plus de clarté
  api/src/certification/results/domain/services/find-interval-index-from-score.js
  api/src/certification/results/domain/services/pix-score-to-mesh-level.js
  api/src/certification/scoring/domain/models/CapacitySimulator.js
  api/tests/certification/results/unit/domain/services/find-interval-index-from-score.test.js
  api/tests/certification/scoring/unit/domain/models/CapacitySimulator_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11568 [FEATURE] Module PPN3 ajout images définitives
  api/src/devcomp/infrastructure/datasources/learning-content/modules/jeux-video-enfant.json
Labels: :rocket: Ready to Merge, contribution-modulix

#11565 [FEATURE] Améliorer les déclenchements d'action de l'écran d'épreuve (PIX-16784).
  mon-pix/app/components/challenge-actions.hbs
  mon-pix/app/components/challenge-actions.js
  mon-pix/app/components/challenge/content.gjs
  mon-pix/app/components/challenge/item.js
  mon-pix/app/components/feedback-panel-v3.hbs
  mon-pix/app/components/feedback-panel-v3.js
  mon-pix/app/styles/components/_feedback-panel-v3.scss
  mon-pix/app/templates/assessments/challenge.hbs
  mon-pix/tests/integration/components/challenge-actions-test.js
  mon-pix/tests/integration/components/challenge/content-test.js
  mon-pix/tests/integration/components/feedback-panel-v3-test.js
  mon-pix/tests/unit/components/challenge/challenge-item-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, team-contenu

#11551 [FEATURE] Avoir l'envoi multiple activé par défaut à la création d'une organisation (PIX-16684)
  api/src/organizational-entities/domain/models/OrganizationForAdmin.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
  api/tests/integration/domain/usecases/create-organization_test.js
  api/tests/integration/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
  api/tests/organizational-entities/acceptance/application/organization/organization.admin.route.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin.repository.test.js
  api/tests/test-helper.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11588 [BUGFIX] Utiliser la bonne variante blanche du logo République FR (PIX-16881).
  mon-pix/public/images/logo/logo-de-la-republique-francaise-blanc.svg
Labels: :rocket: Ready to Merge, Design Review OK, cross-team

#11561 [FEATURE] Enregistrer l'accès d'un utilisateur à une organisation (PIX-16628)
  api/db/database-builder/factory/build-membership.js
  api/src/team/application/membership/membership.controller.js
  api/src/team/application/membership/membership.route.js
  api/src/team/domain/usecases/update-membership-last-accessed-at.usecase.js
  api/src/team/infrastructure/repositories/membership.repository.js
  api/tests/team/acceptance/application/membership/membership.route.test.js
  api/tests/team/integration/application/membership/membership.controller.test.js
  api/tests/team/integration/domain/usecases/update-membership-last-accessed-at.usecase.test.js
  api/tests/team/integration/infrastructure/repositories/membership.repository.test.js
  orga/app/adapters/membership.js
  orga/app/services/current-user.js
  orga/mirage/config.js
  orga/tests/unit/adapters/membership-test.js
  orga/tests/unit/services/current-user-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11609 [FEATURE] Retrouver une plateforme LTI grâce à son clientId (PIX-16940).
  api/db/database-builder/factory/build-lti-platform-registration.js
  api/db/migrations/20250307144507_fix-lti-platform-registration-encrypted-key-length.js
  api/src/identity-access-management/domain/models/LtiPlatformRegistration.js
  api/src/identity-access-management/infrastructure/repositories/lti-platform-registration.repository.js
  api/tests/identity-access-management/integration/infrastructure/repositories/lti-platform-registration.repository.test.js
  api/tests/identity-access-management/unit/domain/models/LtiPlatformRegistration.test.js
  api/tests/tooling/domain-builder/factory/identity-access-management/build-lti-platform-registration.js
  api/tests/tooling/domain-builder/factory/index.js
  api/worker.js
Labels: :rocket: Ready to Merge, team-acces, team-maddo, LTI

#11619 [FEATURE] Exposer les clés publiques des plateformes LTI (PIX-16947).
  api/db/database-builder/factory/build-lti-platform-registration.js
  api/db/seeds/data/team-acces/build-lti-platform-registrations.js
  api/db/seeds/data/team-acces/data-builder.js
  api/package-lock.json
  api/package.json
  api/src/identity-access-management/application/lti/lti.controller.js
  api/src/identity-access-management/application/lti/lti.route.js
  api/src/identity-access-management/application/routes.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/identity-access-management/domain/usecases/list-lti-public-keys.usecase.js
  api/src/identity-access-management/infrastructure/repositories/lti-platform-registration.repository.js
  api/src/shared/domain/services/crypto-service.js
  api/tests/identity-access-management/acceptance/application/lti.route.test.js
  api/tests/identity-access-management/integration/domain/usecases/list-lti-public-keys.usecase.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/lti-platform-registration.repository.test.js
  api/tests/shared/unit/domain/services/.gitkeep
  api/tests/shared/unit/domain/services/crypto-service_test.js
  api/tests/tooling/domain-builder/factory/identity-access-management/build-lti-platform-registration.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-maddo, LTI

#11594 [FEATURE] Enregistrer l'accès d'un utilisateur à un centre de certification (PIX-16629)
  api/db/database-builder/factory/build-certification-center-membership.js
  api/src/shared/domain/models/CertificationCenterMembership.js
  api/src/team/application/certification-center-membership/certification-center-membership.controller.js
  api/src/team/application/certification-center-membership/certification-center-membership.route.js
  api/src/team/domain/usecases/update-certification-center-membership-last-accessed-at.usecase.js
  api/src/team/infrastructure/repositories/certification-center-membership.repository.js
  api/tests/team/acceptance/application/certification-center-membership/certification-center-membership.route.test.js
  api/tests/team/integration/domain/usecases/update-certification-center-membership-last-accessed-at.usecase.test.js
  api/tests/team/integration/infrastructure/repositories/certification-center-membership.repository.test.js
  api/tests/tooling/domain-builder/factory/build-certification-center-membership.js
  certif/app/adapters/certification-center-membership.js
  certif/app/services/current-user.js
  certif/mirage/config.js
  certif/tests/unit/adapters/certification-center-membership-test.js
  certif/tests/unit/services/current-user-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11620 [TECH] Supprimer le double model Campaign (PIX-16997)
  api/src/prescription/campaign-participation/domain/models/CampaignParticipation.js
  api/src/prescription/campaign-participation/domain/usecases/send-shared-participation-results-to-pole-emploi.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/campaign-participation/infrastructure/serializers/jsonapi/campaign-participation-serializer.js
  api/src/prescription/campaign/domain/models/Campaign.js
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-repository.js
  api/src/shared/domain/models/Campaign.js
  api/src/shared/domain/models/index.js
  api/tests/prescription/campaign-participation/unit/domain/models/CampaignParticipation_test.js
  api/tests/prescription/campaign-participation/unit/domain/usecases/send-shared-participation-results-to-pole-emploi_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-repository_test.js
  api/tests/prescription/campaign/unit/application/api/campaigns-api_test.js
  api/tests/prescription/campaign/unit/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/reconcile-sco-organization-learner-automatically_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/reconcile-sco-organization-learner-manually_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/find-association-between-user-and-organization-learner_test.js
  api/tests/tooling/domain-builder/factory/build-campaign.js
  api/tests/unit/domain/models/Campaign_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, team-noa(h)

#11593 [FEATURE] Appliquer les modifications de navigation et de gabarit sur la page "Certification" sur App (PIX-16692).
  mon-pix/app/components/certification-banners/congratulations-certification-banner.hbs
  mon-pix/app/components/certification-banners/index.hbs
  mon-pix/app/components/certification-banners/index.js
  mon-pix/app/components/certification-joiner.hbs
  mon-pix/app/components/certification-not-certifiable.hbs
  mon-pix/app/styles/components/_certification-joiner.scss
  mon-pix/app/styles/components/_certification-not-certifiable.scss
  mon-pix/app/styles/components/_certification-starter.scss
  mon-pix/app/styles/components/_congratulations-certification-banner.scss
  mon-pix/app/templates/authenticated/certifications/join.hbs
  mon-pix/tests/integration/components/certification-banners/congratulations-certification-banner-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11639 [FEATURE] S'assurer que les UUIDs de modules ne sont pas en doublon dans les PRs de modif de contenu
  api/package.json
Labels: :rocket: Ready to Merge, team-devcomp

#11632 [TECH] Corriger des tests flacky sur le lastAccessedAt d'une organisation (PIX-16991)
  api/tests/team/acceptance/application/membership/membership.route.test.js
  api/tests/team/integration/domain/usecases/update-membership-last-accessed-at.usecase.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11598 [TECH] Migrer la route POST /api/application/token (PIX-16859)
  api/lib/application/authentication/authentication-controller.js
  api/lib/application/authentication/index.js
  api/lib/domain/usecases/index.js
  api/src/identity-access-management/application/token/token.controller.js
  api/src/identity-access-management/application/token/token.route.js
  api/src/identity-access-management/domain/usecases/authenticate-application.js
  api/src/identity-access-management/domain/usecases/index.js
  api/tests/acceptance/application/authentication/authentication-route_test.js
  api/tests/identity-access-management/acceptance/application/token.route.test.js
  api/tests/identity-access-management/unit/application/token.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-application_test.js
  api/tests/unit/application/authentication/authentication-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-certif, Bounded-context-migration

#11643 Revert "[BUGFIX] Pour les demandes de réinitialisation de mot de passe, rendre la recherche des comptes vraiment insensible à la casse (PIX-16896)"
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/tests/identity-access-management/integration/domain/usecases/create-reset-password-demand.usecase.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user.repository.test.js
Labels: :rocket: Ready to Merge, team-captains

#11621 [FEATURE] Supprime le dégradé en haut de le page de saisie du code (pix-16880)
  mon-pix/app/components/campaign-code-form.gjs
  mon-pix/app/styles/components/_user-logged-menu.scss
  mon-pix/app/styles/globals/_layout.scss
  mon-pix/app/styles/pages/_fill-in-campaign-code.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11636 [TECH] Utiliser le composant PixTable dans la page des participations d'une campagne sur PixAdmin (PIX-16998)
  admin/app/components/administration/nav.scss
  admin/app/components/campaigns/participation-row.gjs
  admin/app/components/campaigns/participations-section.gjs
  admin/app/styles/globals/tables.scss
  admin/tests/integration/components/campaigns/participations-section-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, team-noa(h)

#11651 [TECH] Ne pas pinger `team-devcomp` en cas d'évols du référentiel Modulix (PIX-17006)
  .github/CODEOWNERS
Labels: :rocket: Ready to Merge, no-review-app, team-devcomp

#11617 [FEATURE] Permettre de télécharger le csv des résultats d'une campagne de type EXAM (PIX-16976)
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-assessment-results-to-stream.js
  api/src/prescription/campaign/infrastructure/exports/campaigns/campaign-assessment-result-line.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-assessment-export.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-assessment-results-to-stream_test.js
  api/tests/prescription/campaign/unit/domain/usecases/start-writing-campaign-assessment-results-to-stream_test.js
  api/tests/prescription/campaign/unit/infrastructure/exports/campaigns/campaign-assessment-result-line_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/csv/campaign-assessment-export_test.js
  api/tests/tooling/domain-builder/factory/prescription/campaign/build-campaign.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11653 [TECH] Mettre à jour le CHANGELOG avec la version v5.61.1
  CHANGELOG.md
Labels: :rocket: Ready to Merge, team-captains, no-review-app

#11656 Revert "[TECH] Ne pas pinger `team-devcomp` en cas d'évols du référentiel Modulix (PIX-17006)"
  .github/CODEOWNERS
Labels: :rocket: Ready to Merge, team-devcomp

#11634 [FEATURE] Récupère le prochain challenge en fonction du knowledge element snapshot dans les campagnes d'Exam (PIX-16775).
  api/lib/domain/usecases/index.js
  api/src/evaluation/domain/services/algorithm-methods/data-fetcher.js
  api/src/evaluation/domain/usecases/get-next-challenge-for-campaign-assessment.js
  api/src/evaluation/domain/usecases/index.js
  api/src/shared/application/assessments/assessment-controller.js
  api/tests/evaluation/integration/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/evaluation/integration/domain/usecases/save-and-correct-answer-for-campaign_test.js
  api/tests/evaluation/unit/domain/services/smart-random/data-fetcher_test.js
  api/tests/evaluation/unit/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/integration/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/shared/unit/application/assessments/assessment-controller-get-next-challenge_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11631 [TECH] Migrer la route de suppression d'un membre de centre de CERTIF (PIX-16994).
  api/lib/application/certification-center-memberships/index.js
  api/lib/routes.js
  api/src/team/application/certification-center-membership/certification-center-membership.controller.js
  api/src/team/application/certification-center-membership/certification-center-membership.route.js
  api/src/team/domain/usecases/disable-certification-center-membership-from-pix-certif.js
  api/tests/acceptance/application/certification-center-memberships/certification-center-membership-controller_test.js
  api/tests/team/acceptance/application/certification-center-membership/certification-center-membership.route.test.js
  api/tests/team/integration/application/certification-center-membership/certification-center-membership.route.test.js
  api/tests/team/unit/domain/usecases/disable-certification-center-membership-from-pix-certif_test.js
  api/tests/unit/application/certification-center-memberships/certification-center-memberships-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, cross-team, Bounded-context-migration

#11650 [BUGFIX] (Correctif sans ilike) Pour les demandes de réinitialisation de mot de passe, rendre la recherche des comptes vraiment insensible à la casse (PIX-17005)
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/tests/identity-access-management/integration/domain/usecases/create-reset-password-demand.usecase.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user.repository.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11649 [FEATURE] Utilise les snapshots dans les campagnes d'EXAM pour acquérir les paliers (PIX-17002).
  api/lib/domain/usecases/index.js
  api/src/evaluation/domain/services/get-mastery-percentage-service.js
  api/src/evaluation/domain/usecases/handle-stage-acquisition.js
  api/src/evaluation/domain/usecases/index.js
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/domain/models/BadgeCriterionForCalculation.js
  api/tests/evaluation/integration/domain/usecases/handle-stage-acquisition_test.js
  api/tests/evaluation/unit/domain/usecases/handle-stage-acquisition_test.js
  api/tests/integration/domain/usecases/handle-stage-acquisition_test.js
  api/tests/shared/unit/application/assessments/assessment-controller_test.js
  api/tests/unit/domain/services/get-mastery-percentage-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11633 [FEATURE] Changement de taille du logo Pix dans le footer (PIX-16697)
  mon-pix/app/components/footer/index.gjs
  mon-pix/app/styles/components/_footer.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#11627 [FEATURE] Remplacement du bloc "Durant ce parcours" de la page de début d'évaluation (PIX-16944)
  mon-pix/app/components/campaign-landing-page-details.gjs
  mon-pix/app/components/campaign-start-block.hbs
  mon-pix/app/components/campaigns/assessment/start-landing-page/campaign-step.gjs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/campaigns/assessment/start-landing-page/campaign-landing-page-details.scss
  mon-pix/app/styles/components/campaigns/assessment/start-landing-page/campaign-step.scss
  mon-pix/app/styles/pages/_campaign-landing-page.scss
  mon-pix/app/templates/campaigns/campaign-landing-page.hbs
  mon-pix/public/images/book.svg
  mon-pix/public/images/chart.svg
  mon-pix/public/images/rocket.svg
  mon-pix/tests/integration/components/campaigns/assessment/start-landing-page/campaign-landing-page-details-test.gjs
  mon-pix/tests/integration/components/campaigns/assessment/start-landing-page/campaign-step-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, team-devcomp

#11657 [FEATURE] Empêcher les campagnes de Type EXAM à pouvoir faire du reset de campagne (Pix-16497)
  api/src/prescription/campaign-participation/domain/models/PreviousCampaignParticipation.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participant-repository.js
  api/src/shared/domain/read-models/participant-results/AssessmentResult.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participant-repository_test.js
  api/tests/prescription/campaign-participation/unit/domain/models/PreviousCampaignParticipation_test.js
  api/tests/prescription/campaign-participation/unit/infrastructure/serializers/jsonapi/participant-result-serializer_test.js
  api/tests/unit/domain/read-models/participant-results/AssessmentResult_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11624 [TECH] Suppression du feature toggle FT_PIX1D_ENABLED (PIX-16979)
  api/sample.env
  api/src/school/application/activity-answer-route.js
  api/src/school/application/assessment-route.js
  api/src/school/application/challenge-route.js
  api/src/school/application/mission-learner-route.js
  api/src/school/application/mission-route.js
  api/src/school/application/organization-learner-route.js
  api/src/school/application/school-route.js
  api/src/shared/application/assessments/index.js
  api/src/shared/application/security-pre-handlers.js
  api/src/shared/application/usecases/checkPix1dEnabled.js
  api/src/shared/config.js
  api/tests/school/unit/application/mission-learner-route_test.js
  api/tests/school/unit/application/mission-route_test.js
  api/tests/school/unit/application/organization-learner-route_test.js
  api/tests/school/unit/application/school-route_test.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
  api/tests/shared/integration/application/security-pre-handlers_test.js
  api/tests/shared/unit/application/usecases/checkPix1dEnabled_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR, feature-toggle

#11673 [FEATURE] Corriger des typos au niveau de la création de campagne (PIX-17014)
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11672 [FEATURE] Ajout d'une description dans les balises meta (PIX-16761)
  junior/app/index.html
Labels: Tech Review OK, :rocket: Ready to Merge, 🎒👧🏽👦🏾 PIX JUNIOR

#11299 [FEATURE] Supprimer l'utilisation des propriétés timer et focus des challenges Pix Junior (PIX-16316)
  api/src/school/infrastructure/serializers/challenge-serializer.js
  api/tests/school/unit/infrastructure/serializers/challenge-serializer_test.js
  junior/app/components/challenge/challenge-content.gjs
  junior/app/components/challenge/challenge.gjs
  junior/app/components/challenge/content/auto-reply.js
  junior/app/components/challenge/content/challenge-actions.gjs
  junior/app/models/challenge.js
  junior/mirage/factories/challenge.js
  junior/tests/integration/challenge-content_test.gjs
  junior/tests/unit/models/challenge-test.js
Labels: :rocket: Ready to Merge, 🎒👧🏽👦🏾 PIX JUNIOR

#11670 [BUGFIX] Pix Junior - Suppression du scroll excessif des épreuves avec 2 colonnes (PIX-16760)
  junior/app/styles/components/challenge/challenge-content.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#11663 [FEATURE] : Modifications des alternatives textuelles module PPN#3
  api/src/devcomp/infrastructure/datasources/learning-content/modules/jeux-video-enfant.json
Labels: :rocket: Ready to Merge, contribution-modulix

#11677 [FEATURE] Rediriger les campagnes FWB sur le domaine pix.org (PIX-16227)
  mon-pix/app/routes/campaigns/entry-point.js
  mon-pix/app/services/current-domain.js
  mon-pix/app/services/oidc-identity-providers.js
  mon-pix/app/utils/pix-window.js
  mon-pix/tests/unit/routes/campaigns/entry-point-test.js
  mon-pix/tests/unit/services/current-domain-test.js
  mon-pix/tests/unit/services/oidc-identity-providers-test.js
  mon-pix/tests/unit/utils/pix-window-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11618 [TECH] Upgrade audit-logger dependencies
  audit-logger/package-lock.json
  audit-logger/package.json
Labels: :rocket: Ready to Merge, team-acces, cross-team

#11662 [BUGFIX] Remplacement des UUIDs dupliqués des contenus de modules (PIX-17009)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bases-clavier-ordinateur-2.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/comment-envoyer-un-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/decouverte-de-l-ent.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/tmp08ef.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/tri-multicritere-tableau.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/utiliser-souris-ordinateur-2.json
  api/tests/devcomp/integration/repositories/module-repository_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11587 [BUGFIX] Correction des compteurs de la page de résumé de session de certification dans pixAdmin (PIX-16764)
  admin/app/components/sessions/session-informations.gjs
  admin/app/models/session.js
  admin/tests/integration/components/routes/authenticated/sessions/session-id/informations-test.gjs
  admin/tests/unit/models/session-test.js
  api/src/certification/session-management/application/session-controller.js
  api/src/certification/session-management/domain/models/JurySession.js
  api/src/certification/session-management/domain/read-models/JurySessionCounters.js
  api/src/certification/session-management/domain/usecases/get-jury-session.js
  api/src/certification/session-management/infrastructure/repositories/jury-session-repository.js
  api/src/certification/session-management/infrastructure/serializers/jury-session-serializer.js
  api/tests/certification/session-management/acceptance/application/session-route_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/jury-session-repository_test.js
  api/tests/certification/session-management/unit/application/session-controller_test.js
  api/tests/certification/session-management/unit/domain/models/JurySession_test.js
  api/tests/certification/session-management/unit/domain/read-models/JurySessionCounters_test.js
  api/tests/certification/session-management/unit/domain/usecases/get-jury-session_test.js
  api/tests/certification/session-management/unit/infrastructure/serializers/jury-session-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-jury-session.js
  api/tests/tooling/domain-builder/factory/certification/session-management/build-jury-session-counters.js
  api/tests/tooling/domain-builder/factory/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11644 [FEATURE] Gérer la génération des certificats des sessions V3 (PIX-16444).
  api/src/certification/results/application/certification-attestation-controller.js
  api/src/certification/results/domain/models/V3CertificationAttestation.js
  api/src/certification/results/domain/usecases/get-certification-attestation.js
  api/src/certification/results/infrastructure/repositories/certificate-repository.js
  api/tests/certification/evaluation/acceptance/application/certification-attestation-route_test.js
  api/tests/certification/results/integration/infrastructure/repositories/certificate-repository_test.js
  api/tests/certification/results/unit/domain/usecases/get-certification-attestation_test.js
  api/tests/tooling/domain-builder/factory/certification/results/build-v3-certification-attestation.js
  api/tests/tooling/domain-builder/factory/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#11667 [TECH] utilise le composant PixBlock dans orga (Pix-16886)
  orga/app/components/auth/login-or-register.gjs
  orga/app/components/campaign/empty-state.gjs
  orga/app/components/campaign/no-campaign-panel.gjs
  orga/app/components/campaign/settings/view.gjs
  orga/app/components/organization-learner/activity/empty-state.gjs
  orga/app/components/organization-participant/no-participant-panel.gjs
  orga/app/components/participant/assessment/header.gjs
  orga/app/components/participant/profile/header.gjs
  orga/app/components/statistics/index.gjs
  orga/app/components/terms-of-service/acceptation.gjs
  orga/app/components/ui/chart-card.gjs
  orga/app/components/ui/empty-state.gjs
  orga/app/styles/app.scss
  orga/app/styles/components/login-or-register.scss
  orga/app/styles/components/ui/cards.scss
  orga/app/styles/pages/authenticated/campaigns/details/participants/participant.scss
  orga/app/styles/pages/authenticated/campaigns/details/participants/participant/header.scss
  orga/app/styles/pages/authenticated/terms-of-service.scss
  orga/app/styles/pages/join-request.scss
  orga/app/styles/pages/login.scss
  orga/app/templates/join-request.hbs
  orga/app/templates/login.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11635 [BUGFIX]PixAdmin: Autoriser le profil SUPPORT à détacher un profil cible d'une organisation
  api/src/prescription/target-profile/application/admin-target-profile-route.js
  api/tests/prescription/target-profile/integration/application/admin-target-profile-route_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11641 [FEATURE] Enregistrer la date de dernière connexion aux orgas & cdc seulement sur les memberships actifs (PIX-16990)
  api/src/shared/domain/models/Membership.js
  api/src/team/application/certification-center-membership/certification-center-membership.controller.js
  api/src/team/application/certification-center-membership/certification-center-membership.route.js
  api/src/team/application/membership/membership.controller.js
  api/src/team/application/membership/membership.route.js
  api/src/team/domain/usecases/update-certification-center-membership-last-accessed-at.usecase.js
  api/src/team/domain/usecases/update-membership-last-accessed-at.usecase.js
  api/src/team/infrastructure/repositories/certification-center-membership.repository.js
  api/src/team/infrastructure/repositories/membership.repository.js
  api/tests/team/acceptance/application/certification-center-membership/certification-center-membership.route.test.js
  api/tests/team/acceptance/application/membership/membership.route.test.js
  api/tests/team/integration/application/membership/membership.controller.test.js
  api/tests/team/integration/domain/usecases/update-certification-center-membership-last-accessed-at.usecase.test.js
  api/tests/team/integration/domain/usecases/update-membership-last-accessed-at.usecase.test.js
  api/tests/team/integration/infrastructure/repositories/certification-center-membership.repository.test.js
  api/tests/team/integration/infrastructure/repositories/membership.repository.test.js
  certif/app/adapters/certification-center-membership.js
  certif/app/services/current-user.js
  certif/mirage/config.js
  certif/tests/unit/adapters/certification-center-membership-test.js
  certif/tests/unit/services/current-user-test.js
  orga/app/adapters/membership.js
  orga/app/services/current-user.js
  orga/mirage/config.js
  orga/tests/unit/adapters/membership-test.js
  orga/tests/unit/services/current-user-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11664 [FEATURE] Créer les events liés aux flashcards - (PIX-16953)
  api/src/devcomp/domain/models/passage-events/flashcard-events.js
  api/tests/devcomp/integration/domain/models/flashcard-events/flashcard-events_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#11666 [FEATURE] Modifier et rendre conditionnel le wording d'information sur le reset/retry en fin de parcours (PIX-16683)
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/retry-or-reset-block.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results/hero/retry-or-reset-block-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11691 [FEATURE] Autoriser de repasser une campagne de type EXAM avec un score de 100% (PIX-17029)
  api/src/shared/domain/read-models/participant-results/AssessmentResult.js
  api/tests/unit/domain/read-models/participant-results/AssessmentResult_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11701 [BUGFIX]: Réparer Smart Random Simulator (PIX-17038)
  admin/app/components/smart-random-simulator/smart-random-params.gjs
  api/src/evaluation/application/smart-random-simulator/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11660 [FEATURE] Affichage de la date de dernier accès des membres d'une organisation (PIX-16633)
  admin/app/components/organizations/member-item.gjs
  admin/app/components/organizations/team-section.gjs
  admin/app/models/organization-membership.js
  admin/tests/integration/components/organizations/member-item-test.gjs
  api/src/shared/domain/models/Membership.js
  api/src/shared/infrastructure/serializers/jsonapi/membership.serializer.js
  api/src/team/infrastructure/repositories/membership.repository.js
  api/tests/team/acceptance/application/membership/membership.admin.route.test.js
  api/tests/team/integration/infrastructure/repositories/membership.repository.test.js
  api/tests/tooling/domain-builder/factory/build-membership.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11626 [FEATURE] PixTable sur Pix Admin épisode 6 (PIX-16988).
  admin/app/components/administration/certification/scoring-simulator.gjs
  admin/app/components/certifications/certification/details-v3.gjs
  admin/app/components/certifications/certification/details-v3.scss
  admin/app/components/certifications/competence-list.gjs
  admin/app/components/to-be-published-sessions/list-items.gjs
  admin/app/styles/app.scss
  admin/app/styles/components/publish-session-button.scss
  admin/app/styles/globals/table-admin.scss
  admin/app/styles/globals/toggle.scss
  admin/tests/acceptance/administration-test.js
  admin/tests/acceptance/authenticated/certifications/certification/informations-test.js
  admin/tests/integration/components/administration/deployment/organizations-import-test.gjs
  admin/tests/integration/components/certifications/competence-list-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#11674 [BUGFIX] Corriger un test flaky sur Pix App (PIX-16872)
  mon-pix/app/services/storage.js
  mon-pix/tests/integration/components/authentication/login-form-test.gjs
  mon-pix/tests/integration/components/authentication/password-reset-demand/password-reset-demand-form-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#11709 [FEATURE] afficher sur Pix Admin le dernier accès à un centre de certification (PIX-16634)
  admin/app/components/certification-centers/membership-item.gjs
  admin/app/components/certification-centers/memberships-section.gjs
  admin/app/models/certification-center-membership.js
  admin/tests/integration/components/certification-centers/membership-item-test.gjs
  api/src/shared/infrastructure/serializers/jsonapi/certification-center-membership.serializer.js
  api/tests/unit/infrastructure/serializers/jsonapi/certification-center-membership.serializer.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11648 [FEATURE] : modification alt text infographie module PPN#2 Controle parental
  api/src/devcomp/infrastructure/datasources/learning-content/modules/controle-parental.json
Labels: :rocket: Ready to Merge, contribution-modulix

#11678 [FEATURE] Pix Junior - Ajout d'un lien sur le site Pix depuis la page d'accueil (PIX-16765)
  junior/app/components/device-warning-modal.gjs
  junior/app/styles/components/bubble.scss
  junior/app/styles/components/challenge/challenge-content.scss
  junior/app/styles/components/challenge/content/challenge-media.scss
  junior/app/styles/components/device-warning-modal.scss
  junior/app/styles/components/robot-dialog.scss
  junior/app/styles/globals/_breakpoints.scss
  junior/app/styles/pages/identified/missions/list.scss
  junior/app/styles/pages/identified/missions/mission.scss
  junior/app/styles/pages/organization-code.scss
  junior/app/styles/pages/school.scss
  junior/app/templates/organization-code.hbs
  junior/public/images/government-logo.svg
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#11703 [FEATURE] Nouveau design du layout pour la page Mon Compte (PIX-16928)
  mon-pix/app/components/user-account/email-verification-code.hbs
  mon-pix/app/components/user-account/email-with-validation-form.hbs
  mon-pix/app/components/user-account/user-account-navigation.gjs
  mon-pix/app/components/user-account/user-account-navigation.scss
  mon-pix/app/controllers/authenticated/user-account.js
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/_user-account.scss
  mon-pix/app/styles/components/user-account/_email-verification-code.scss
  mon-pix/app/styles/components/user-account/_update-email-with-validation.scss
  mon-pix/app/templates/authenticated/user-account.hbs
  mon-pix/tests/unit/controllers/authenticated/user-account-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Design Review OK

#11715 [FEATURE] Mise à jour du wording des campagnes de type "EXAM" (Pix-16494)
  admin/translations/en.json
  admin/translations/fr.json
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11750 [TECH] Correction de flaky sur le test d'acceptance de Account Recovery (PIX-16873)
  api/tests/identity-access-management/acceptance/application/account-recovery/account-recovery.route.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11697 [FEATURE] Ajout de la page html d'activité inhabituelle pour Baleen (PIX-16320)
  mon-pix/unusual_activity_page.html
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11671 [FEATURE] Initialiser la génération de l'attestation V3 avec PDFKit (PIX-17007).
  api/package-lock.json
  api/package.json
  api/src/certification/results/application/certification-attestation-controller.js
  api/src/certification/results/infrastructure/utils/pdf/templates/v3-attestation.js
  api/src/certification/results/infrastructure/utils/pdf/v3-certification-attestation-pdf.js
  api/tests/certification/evaluation/acceptance/application/certification-attestation-route_test.js
  api/tests/certification/results/integration/infrastructure/utils/pdf/certification-attestation-pdf_test.js
  api/tests/certification/results/integration/infrastructure/utils/pdf/v3-certification-attestation-pdf_test.js
  api/tests/certification/results/unit/application/certification-attestation-controller_test.js
  api/tests/certification/results/unit/domain/models/CertificationAttestation_test.js
  api/tests/tooling/domain-builder/factory/build-v3-certification-attestation.js
  api/translations/en.json
  api/translations/es.json
  api/translations/fr.json
  api/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11695 [FEATURE] Améliorations visuelles de la page de début de parcours(PIX-16945)
  mon-pix/app/components/campaign-start-block.hbs
  mon-pix/app/styles/components/campaigns/assessment/start-landing-page/campaign-landing-page-details.scss
  mon-pix/app/styles/pages/_campaign-landing-page.scss
  mon-pix/app/templates/campaigns/campaign-landing-page.hbs
  mon-pix/tests/integration/components/campaign-start-block-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-prescription, team-devcomp

#11680 [FEATURE] Changement de style des bouton de selection d'une classe (PIX-16977)
  junior/app/styles/pages/school.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, Design Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#11737 [FEATURE] Supprimer la date de dernière connexion d'une méthode d'authentification après sa réassignation
  api/src/identity-access-management/infrastructure/repositories/authentication-method.repository.js
  api/tests/identity-access-management/integration/domain/usecases/reassign-authentication-method-to-another-user.usecase.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/authentication-method.repository.test.js
  api/tests/identity-access-management/unit/domain/usecases/reassign-authentication-method-to-another-user.usecase.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11755 [FEATURE] Supression des colonnes pixOrgaTermsOfServiceAccepted et lastPixOrgaTermsOfServiceValidatedAt de la table users (PIX-16700)
  api/db/migrations/20250318093202_remove-pix-orga-terms-of-service-in-users-table.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11736 [FEATURE] PixTable sur Pix Admin épisode 7 : Centres de certification (PIX-17063).
  admin/app/components/certification-centers/invitations.gjs
  admin/app/components/certification-centers/list-items.gjs
  admin/app/components/certification-centers/membership-item.gjs
  admin/app/components/certification-centers/memberships-section.gjs
  admin/app/styles/app.scss
  admin/app/styles/components/certification-center-invitations.scss
  admin/app/styles/components/certification-centers/list-items.scss
  admin/tests/acceptance/authenticated/certification-centers/get/team-test.js
  admin/tests/acceptance/authenticated/certification-centers/list-test.js
  admin/tests/integration/components/certification-centers/invitations-test.gjs
  admin/tests/integration/components/certification-centers/membership-item-test.gjs
  admin/tests/integration/components/certification-centers/memberships-section-test.gjs
  admin/tests/integration/components/routes/authenticated/certification-centers/list-items-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Labels: :rocket: Ready to Merge, team-acces, cross-team

#11759 [BUGFIX] La notification de levelup apparaître parfois lors d'une évaluation de compétence alors que le levelup n'est pas justifié (PIX-17085)
  api/src/evaluation/domain/usecases/save-and-correct-answer-for-competence-evaluation.js
  api/tests/evaluation/integration/domain/usecases/save-and-correct-answer-for-competence-evaluation_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11756 [FEATURE] Anonymisation (par généralisation) sur les dernières dates de connexion (PIX-16635)
  api/db/database-builder/factory/build-last-user-application-connection.js
  api/src/identity-access-management/domain/models/LastUserApplicationConnection.js
  api/src/identity-access-management/infrastructure/repositories/last-user-application-connections.repository.js
  api/src/privacy/domain/usecases/anonymize-user.usecase.js
  api/src/privacy/domain/usecases/index.js
  api/src/shared/infrastructure/utils/date-utils.js
  api/src/team/infrastructure/repositories/membership.repository.js
  api/tests/identity-access-management/integration/infrastructure/repositories/last-user-application-connections.repository.test.js
  api/tests/privacy/integration/domain/usecases/anonymize-user.usecase.test.js
  api/tests/team/integration/infrastructure/repositories/membership.repository.test.js
  api/tests/unit/infrastructure/utils/date-utils_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11616 [TECH] :broom: :seedling: Nettoyage des seeds de certification (PIX-16430)
  api/db/seeds/data/common/tooling/organization-tooling.js
  api/db/seeds/data/team-certification/constants.js
  api/db/seeds/data/team-certification/create-issue-report-categories.js
  api/db/seeds/data/team-certification/create-pro-organization-with-certif-center.js
  api/db/seeds/data/team-certification/create-sco-organization-managing-agri-student-with-fregata.js
  api/db/seeds/data/team-certification/create-sco-organization-managing-student-with-siecle.js
  api/db/seeds/data/team-certification/create-sco-organization-not-managing-students.js
  api/db/seeds/data/team-certification/create-sup-certifification-center-only.js
  api/db/seeds/data/team-certification/data-builder.js
  api/db/seeds/data/team-certification/setup-configuration.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11676 [TECH] Regrouper l'ensemble des actions de finalisation dans une transaction (PIX-17013)
  api/src/certification/session-management/application/finalize-controller.js
  api/src/certification/session-management/domain/usecases/process-auto-jury.js
  api/src/certification/session-management/infrastructure/repositories/finalized-session-repository.js
  api/src/certification/session-management/infrastructure/repositories/jury-certification-summary-repository.js
  api/src/certification/session-management/infrastructure/repositories/supervisor-access-repository.js
  api/tests/certification/session-management/acceptance/application/finalize-route_test.js
  api/tests/certification/session-management/unit/application/finalize-controller_test.js
  api/tests/certification/session-management/unit/domain/usecases/process-auto-jury_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-certif

#11704 [TECH] Suppression du code lié aux campagnes FLASH (PIX-16668)
  api/db/database-builder/factory/build-flash-assessment-result.js
  api/lib/infrastructure/repositories/flash-assessment-result-repository.js
  api/sample.env
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/src/evaluation/domain/services/algorithm-methods/data-fetcher.js
  api/src/evaluation/domain/usecases/get-next-challenge-for-campaign-assessment.js
  api/src/evaluation/domain/usecases/get-progression.js
  api/src/evaluation/domain/usecases/index.js
  api/src/evaluation/domain/usecases/save-and-correct-answer-for-campaign.js
  api/src/prescription/campaign-participation/infrastructure/repositories/participant-result-repository.js
  api/src/prescription/campaign-participation/infrastructure/serializers/jsonapi/participant-result-serializer.js
  api/src/prescription/campaign/domain/read-models/CampaignToJoin.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-to-join-serializer.js
  api/src/shared/config.js
  api/src/shared/domain/models/Assessment.js
  api/src/shared/domain/read-models/participant-results/AssessmentResult.js
  api/src/shared/domain/read-models/participant-results/CompetenceResult.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
  api/tests/certification/shared/unit/domain/models/FlashAssessmentAlgorithm_test.js
  api/tests/evaluation/unit/domain/services/smart-random/data-fetcher_test.js
  api/tests/evaluation/unit/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/evaluation/unit/domain/usecases/get-progression_test.js
  api/tests/evaluation/unit/domain/usecases/save-and-correct-answer-for-campaign_test.js
  api/tests/integration/infrastructure/repositories/flash-assessment-result-repository_test.js
  api/tests/prescription/campaign-participation/acceptance/application/campaign-participation-route_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-overview-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/participant-result-repository_test.js
  api/tests/prescription/campaign-participation/unit/infrastructure/serializers/jsonapi/participant-result-serializer_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-administration-repository_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/jsonapi/campaign-to-join-serializer_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get-next-challenge-for-campaign-assessment_test.js
  api/tests/shared/unit/domain/models/Assessment_test.js
  api/tests/unit/domain/read-models/participant-results/CompetenceResult_test.js
  docker/sample.env
  mon-pix/app/models/assessment.js
  mon-pix/app/models/campaign-participation-result.js
  mon-pix/app/models/campaign.js
  mon-pix/app/models/competence-result.js
  mon-pix/app/utils/progress-in-assessment.js
  mon-pix/config/environment.js
  mon-pix/mirage/factories/assessment.js
  mon-pix/tests/acceptance/challenge-flash-in-campaign-test.js
  mon-pix/tests/unit/models/assessment-test.js
  mon-pix/tests/unit/utils/progress-in-assessment-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, team-prescription

#11761 [FEATURE] PixTable sur Pix Admin épisode 8 : Organisations (PIX-17091).
  admin/app/components/actions-on-users-role-in-organization.gjs
  admin/app/components/certification-centers/member-item.scss
  admin/app/components/organizations/children/list-item.gjs
  admin/app/components/organizations/children/list.gjs
  admin/app/components/organizations/invitations.gjs
  admin/app/components/organizations/list-items.gjs
  admin/app/components/organizations/member-item.gjs
  admin/app/components/organizations/places/list.gjs
  admin/app/components/organizations/target-profiles-section.gjs
  admin/app/components/organizations/team-section.gjs
  admin/app/styles/components/organization-invitations.scss
  admin/app/styles/components/organization-team-section.scss
  admin/app/styles/components/organizations/list-items.scss
  admin/app/templates/authenticated/organizations/get/children.hbs
  admin/app/templates/authenticated/organizations/list.hbs
  admin/tests/acceptance/authenticated/organizations/invitations-management-test.js
  admin/tests/acceptance/authenticated/organizations/list-test.js
  admin/tests/acceptance/authenticated/organizations/memberships-management-test.js
  admin/tests/acceptance/authenticated/organizations/target-profiles-management-test.js
  admin/tests/acceptance/authenticated/target-profiles/target-profile/organizations-test.js
  admin/tests/integration/components/organizations/children/list-item-test.gjs
  admin/tests/integration/components/organizations/children/list-test.gjs
  admin/tests/integration/components/organizations/team-section-test.gjs
  admin/tests/integration/components/routes/authenticated/organizations/list-items-test.gjs
  admin/tests/integration/components/users/user-organization-memberships-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Labels: :rocket: Ready to Merge, team-acces, team-prescription

#11763 [BUGFIX] Ne plus retourner de 500 sur le reset d'une compétence avec un assessment de type campagne anonymisé (PIX-17092)
  api/src/shared/domain/models/Assessment.js
  api/tests/shared/unit/domain/models/Assessment_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, team-noa(h)

#11762 [BUGFIX] Ajuster l'affichage de la page de début de campagne (PIX-17090)
  mon-pix/app/styles/pages/_campaign-landing-page.scss
Labels: :rocket: Ready to Merge, team-devcomp

#11766 [FEATURE] Créer le composant transitoire entre l'envoi de résultats et la page de fin de parcours (PIX-17015)
  mon-pix/app/components/campaigns/assessment/results/evaluation-sent-results-modal.gjs
  mon-pix/app/styles/components/campaigns/assessment/results/evaluation-sent-results-modal.scss
  mon-pix/app/styles/components/campaigns/index.scss
  mon-pix/public/images/strike.svg
  mon-pix/tests/integration/components/campaigns/assessment/results/evaluation-sent-results-modal-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-devcomp

#11768 [TECH] Migrer les feedback générique de QCU vers du spécifique (PIX-17114)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bac-a-sable.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/chatgpt-vraiment-neutre.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/tmp08ef.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/utiliser-souris-ordinateur-1.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/utiliser-souris-ordinateur-2.json
Labels: :rocket: Ready to Merge, team-devcomp

#11682 [TECH] Script dev pour identifier les violations de dépendances entre les contextes
  .gitignore
  api/package-lock.json
  api/package.json
  api/scripts/dev/check-api-dependency-violations.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#11767 [FEATURE] Générer une première version complète du certificat v3 (PIX-16443).
  api/src/certification/results/infrastructure/utils/pdf/templates/background.jpg
  api/src/certification/results/infrastructure/utils/pdf/templates/v3-attestation.js
  api/tests/certification/results/integration/infrastructure/utils/pdf/v3-certification-attestation-pdf_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11760 [TECH] optimisations de la CI
  .circleci/config.yml
  high-level-tests/e2e/cypress.config.cjs
  high-level-tests/e2e/package-lock.json
  high-level-tests/e2e/package.json
  high-level-tests/e2e/timings.json
  mon-pix/package.json
  orga/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#11764 [BUGFIX] Réparer un flaky Tubes Selection sur l'admin
  admin/tests/integration/components/common/tubes-selection-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#11777 [FEATURE] Gérer la traduction pour le certificat V3 (PIX-17120).
  api/src/certification/results/infrastructure/utils/pdf/templates/v3-attestation.js
  api/src/certification/results/infrastructure/utils/pdf/v3-certification-attestation-pdf.js
  api/translations/en.json
  api/translations/es.json
  api/translations/fr.json
  api/translations/nl.json
Labels: :rocket: Ready to Merge, team-certif

#11775 [BUGFIX] :bug: Corrige le problème de pagination dans la page de liste des sessions de PixAdmin
  api/src/certification/session-management/infrastructure/serializers/jury-session-serializer.js
  api/tests/certification/session-management/unit/infrastructure/serializers/jury-session-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#11772 [TECH] :hammer: création d'un script pour compléter un `assessment` qui ne l'a pas été... (pix-17108)
  api/scripts/certification/complete-assessment.js
  api/tests/integration/scripts/certification/complete-assessment_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#11754 [TECH] modification des robots.txt pour ne pas indexer les environnements hors prod
  certif/public/robots.horsProd.txt
  certif/servers.conf.erb
  junior/public/robots.horsProd.txt
  junior/servers.conf.erb
  orga/public/robots.horsProd.txt
  orga/servers.conf.erb
Labels: :rocket: Ready to Merge, team-captains

#11546 [FEATURE] Script de gestion des applications clientes (PIX-16791)
  api/scripts/identity-access-management/client-applications.js
  api/src/identity-access-management/domain/errors.js
  api/src/identity-access-management/infrastructure/repositories/client-application.repository.js
  api/src/shared/application/scripts/script-runner.js
  api/src/shared/application/scripts/script.js
  api/tests/identity-access-management/integration/infrastructure/repositories/client-application.repository.test.js
  api/tests/shared/unit/application/scripts/script-runner_test.js
  api/tests/shared/unit/application/scripts/script_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-maddo

#11773 [TECH] Ajout de la colonne jurisdiction à la table client_applications (PIX-17137)
  api/db/migrations/20250320145104_add-column-jurisdiction-to-client-applications.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-maddo

#11698 [FEATURE] Ajout d'une route d'enregistrement automatique de plateforme LTI (PIX-16989)
  api/db/database-builder/factory/build-lti-platform-registration.js
  api/sample.env
  api/src/identity-access-management/application/lti/lti.controller.js
  api/src/identity-access-management/application/lti/lti.route.js
  api/src/identity-access-management/domain/errors.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/identity-access-management/domain/usecases/register-lti-platform.js
  api/src/identity-access-management/infrastructure/repositories/lti-platform-registration.repository.js
  api/src/shared/config.js
  api/src/shared/domain/services/crypto-service.js
  api/src/shared/infrastructure/utils/logger.js
  api/tests/identity-access-management/acceptance/application/lti.route.test.js
  api/tests/identity-access-management/integration/application/lti.route.test.js
  api/tests/identity-access-management/integration/domain/usecases/list-lti-public-keys.usecase.test.js
  api/tests/identity-access-management/integration/domain/usecases/register-lti-platform.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/lti-platform-registration.repository.test.js
  api/tests/shared/unit/domain/services/crypto-service_test.js
  api/tests/tooling/domain-builder/factory/identity-access-management/build-lti-platform-registration.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, team-maddo, LTI

#11421 [TECH] Ajouter un nouveau requirement de type CappedTubes pour pouvoir exprimer une quête à l'aide de sujets cappés en niveau (PIX-16539)
  api/src/evaluation/application/api/models/KnowledgeElementDTO.js
  api/src/learning-content/application/api/models/SkillDTO.js
  api/src/learning-content/application/api/skills-api.js
  api/src/learning-content/domain/usecases/dependencies.js
  api/src/learning-content/domain/usecases/find-skills-by-ids.js
  api/src/prescription/campaign/application/api/campaigns-api.js
  api/src/prescription/campaign/domain/usecases/find-campaign-skill-ids-for-campaign-participations.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-repository.js
  api/src/prescription/target-profile/application/api/TargetProfileSkill.js
  api/src/prescription/target-profile/application/api/target-profile-api.js
  api/src/prescription/target-profile/domain/usecases/find-skills-by-target-profile-ids.js
  api/src/prescription/target-profile/infrastructure/repositories/target-profile-repository.js
  api/src/quest/domain/models/DataForQuest.js
  api/src/quest/domain/models/Quest.js
  api/src/quest/domain/models/Requirement.js
  api/src/quest/domain/models/Success.js
  api/src/quest/domain/usecases/reward-user.js
  api/src/quest/infrastructure/repositories/index.js
  api/src/quest/infrastructure/repositories/success-repository.js
  api/tests/evaluation/unit/application/api/knowledge-elements-api_test.js
  api/tests/evaluation/unit/domain/services/smart-random/smart-random_test.js
  api/tests/learning-content/integration/domain/find-skills-by-ids_test.js
  api/tests/learning-content/unit/application/api/skills-api_test.js
  api/tests/prescription/campaign/integration/domain/usecases/find-campaign-skill-ids-for-campaign-participations.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-repository_test.js
  api/tests/prescription/campaign/unit/application/api/campaigns-api_test.js
  api/tests/prescription/target-profile/acceptance/application/api/target-profile-api_test.js
  api/tests/prescription/target-profile/integration/domain/usecases/find-skills-by-target-profile-ids_test.js
  api/tests/prescription/target-profile/integration/infrastructure/repositories/target-profile-repository_test.js
  api/tests/prescription/target-profile/unit/application/api/target-profile-api_test.js
  api/tests/quest/integration/domain/usecases/reward-user_test.js
  api/tests/quest/unit/domain/models/Quest_test.js
  api/tests/quest/unit/domain/models/Requirement_test.js
  api/tests/quest/unit/domain/models/Success_test.js
  api/tests/quest/unit/infrastructure/repositories/success-repository_test.js
  api/tests/test-helper.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11770 [FEATURE] Ne pas afficher le bloc des attestations si un utilisateur est anonyme (PIX-17118)
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/index.gjs
  mon-pix/app/routes/campaigns/assessment/results.js
  mon-pix/tests/integration/components/campaigns/assessment/results/hero/evaluation-results-hero-test.js
  mon-pix/tests/unit/routes/campaigns/assessment/results-test.js
  mon-pix/tests/unit/routes/campaigns/assessment/results.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11600 [FEATURE] Améliorer le style de la page de détail de compétence (PIX-16882).
  mon-pix/app/components/circle-chart.hbs
  mon-pix/app/components/competence-card-default.hbs
  mon-pix/app/components/competence-card-mobile.hbs
  mon-pix/app/components/scorecard-details.hbs
  mon-pix/app/styles/components/_circle-chart.scss
  mon-pix/app/styles/components/_scorecard-details.scss
  mon-pix/app/templates/authenticated/competences/details.hbs
  mon-pix/tests/acceptance/competences-details-test.js
  mon-pix/tests/integration/components/circle-chart-test.js
  mon-pix/tests/integration/components/scorecard-details-test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Design Review OK, cross-team

#11776 [TECH] Pix 17139/refactor application transaction
  api/src/prescription/campaign-participation/application/learner-participation-controller.js
  api/src/prescription/campaign/application/campaign-adminstration-controller.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-administration-repository.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-import-format-repository.js
  api/src/prescription/shared/infrastructure/ApplicationTransaction.js
  api/tests/prescription/campaign-participation/unit/application/learner-participation-controller_test.js
  api/tests/prescription/learner-management/unit/application/sco-organization-management-controller_test.js
  api/tests/prescription/shared/unit/infrastructure/application-transaction_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11774 [FEATURE] Affichage de la dernière connexion par app dans l'onglet "Méthodes de connexion" (PIX-16995)
  admin/app/components/users/user-detail-personal-information/authentication-method.gjs
  admin/app/models/last-application-connection.js
  admin/app/models/user.js
  admin/tests/integration/components/users/user-detail-personal-information/authentication-method-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
  api/src/identity-access-management/domain/models/UserDetailsForAdmin.js
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/src/identity-access-management/infrastructure/serializers/jsonapi/user-details-for-admin.serializer.js
  api/tests/identity-access-management/acceptance/application/user/user.admin.route.test.js
  api/tests/identity-access-management/integration/domain/usecases/get-user-details-for-admin.usecase.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user.repository.test.js
  api/tests/identity-access-management/unit/domain/usecases/get-user-details-for-admin.usecase.test.js
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/user-details-for-admin.serializer.test.js
  api/tests/tooling/domain-builder/factory/build-user-details-for-admin.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11718 [FEATURE] :memo: Révision du texte à propos de pix companion dans l'espace surveillant (PIX-17042)
  certif/app/components/session-supervising/header.hbs
  certif/app/components/session-supervising/header.js
  certif/app/services/url.js
  certif/app/styles/components/session-supervising/header.scss
  certif/tests/integration/components/session-supervising/header-test.js
  certif/tests/unit/services/url-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11769 [FEATURE] Interdire les feedbacks globaux dans les QCU (PIX-17119)
  api/src/devcomp/domain/models/element/QCU-for-answer-verification.js
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/qcu.sample.js
  api/src/devcomp/infrastructure/factories/element-for-verification-factory.js
  api/tests/devcomp/unit/domain/models/element/QCU-for-answer-verification_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/qcu-schema.js
  api/tests/devcomp/unit/infrastructure/factories/element-for-verification-factory_test.js
  api/tests/devcomp/unit/infrastructure/factories/module-factory_test.js
Labels: :rocket: Ready to Merge, team-devcomp, :bellhop_bell: ping-jp

#11625 [DOC] Amendement de l'ADR sur les migrations
  docs/adr/0056-migrate-down.md
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#11629 [TECH] Utilisation de Playwright pour les test e2e (expérimentation)
  .circleci/config.yml
  api/db/database-builder/database-builder.js
  high-level-tests/e2e-playwright/.env.e2e
  high-level-tests/e2e-playwright/.gitignore
  high-level-tests/e2e-playwright/.nvmrc
  high-level-tests/e2e-playwright/.prettierrc
  high-level-tests/e2e-playwright/README.md
  high-level-tests/e2e-playwright/eslint.config.js
  high-level-tests/e2e-playwright/helpers/auth.ts
  high-level-tests/e2e-playwright/helpers/db.ts
  high-level-tests/e2e-playwright/helpers/fixtures.ts
  high-level-tests/e2e-playwright/package-lock.json
  high-level-tests/e2e-playwright/package.json
  high-level-tests/e2e-playwright/pix-app/a11y.test.ts
  high-level-tests/e2e-playwright/pix-app/auth.setup.ts
  high-level-tests/e2e-playwright/pix-app/campaign-gar.test.ts
  high-level-tests/e2e-playwright/pix-app/campaign.test.ts
  high-level-tests/e2e-playwright/pix-orga/auth.setup.ts
  high-level-tests/e2e-playwright/pix-orga/homepage.test.ts
  high-level-tests/e2e-playwright/playwright.config.ts
  high-level-tests/e2e-playwright/tsconfig.json
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#11771 [FEATURE] Ajouter la génération des attestations v3 de sessions et classes (PIX-17066).
  api/db/seeds/data/common/tooling/organization-tooling.js
  api/db/seeds/data/common/tooling/session-tooling.js
  api/db/seeds/data/team-certification/constants.js
  api/db/seeds/data/team-certification/create-pro-organization-with-certif-center.js
  api/db/seeds/data/team-certification/create-sco-organization-managing-agri-student-with-fregata.js
  api/db/seeds/data/team-certification/create-sco-organization-managing-student-with-siecle.js
  api/db/seeds/data/team-certification/create-sco-organization-not-managing-students.js
  api/src/certification/results/application/certification-attestation-controller.js
  api/src/shared/infrastructure/utils/string-utils.js
  api/tests/certification/evaluation/acceptance/application/certification-attestation-route_test.js
  api/tests/certification/results/unit/application/certification-attestation-controller_test.js
  api/tests/shared/unit/infrastructure/utils/string-utils_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11820 [TECH] Remplacer ember-toggle par PixToggleButton
  admin/app/components/certifications/list-select-all.js
  admin/app/components/organizations/list-items.gjs
  admin/app/templates/authenticated/organizations/list.hbs
  admin/ember-cli-build.js
  admin/package-lock.json
  admin/package.json
  admin/tests/acceptance/authenticated/organizations/list-test.js
Labels: :rocket: Ready to Merge, Func Review OK, cross-team
