Repository 1024pix/pix, pull requests merged in 2025-01, with the labels that each got.

#10927 [TECH] Retourner une 204 No Content à l'appel GET /
  api/server.js
  api/src/shared/infrastructure/utils/RedisClient.js
Labels: :rocket: Ready to Merge, team-captains

#10928 [TECH] Étoffer la documentation de l'endpoint Parcoursup (PIX-15891).
  api/src/parcoursup/application/certification-route.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#10926 [TECH] Mise à jour des dépendances sur Pix Certif (PIX-15884).
  certif/app/components/layout/sidebar.gjs
  certif/app/components/session-finalization/completed-reports-information-step.js
  certif/app/components/sessions/session-details/enrolled-candidates/index.gjs
  certif/package-lock.json
  certif/package.json
  certif/tests/integration/components/session-finalization-step-container-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10807 [FEATURE] Utiliser les designs tokens sur Mon Pix (PIX-15177).
  mon-pix/app/styles/components/_certification-not-certifiable.scss
  mon-pix/app/styles/components/_competence-card-default.scss
  mon-pix/app/styles/components/_competence-card-mobile.scss
  mon-pix/app/styles/components/_new-information.scss
  mon-pix/app/styles/components/_scorecard-details.scss
  mon-pix/app/styles/components/_tutorial-card.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, Design Review OK

#10930 [FEATURE] Ajout du endpoint parcoursup pour récupérer les résultats d'une certification via les données UAI, nom, prénom et date de naissance (PIX-15893).
  api/src/parcoursup/application/certification-controller.js
  api/src/parcoursup/application/certification-route.js
  api/src/parcoursup/domain/usecases/get-certification-result.js
  api/src/parcoursup/infrastructure/repositories/certification-repository.js
  api/tests/parcoursup/acceptance/application/certification-route_test.js
  api/tests/parcoursup/integration/repositories/certification-repository_test.js
  api/tests/parcoursup/unit/application/certification-route_test.js
  api/tests/parcoursup/unit/domain/usecases/get-certification-result_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, Parcoursup

#10901 [BUGFIX] Rajouter la trad title maquante pour les Attestations (PIX-15873)
  orga/translations/en.json
  orga/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10898 [FEATURE] Passage > Mettre la Beta Banner au dessus de la navbar (PIX-15698)(PIX-15832)
  mon-pix/app/components/module/passage.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#10931 [FEATURE] Change l'URL du endpoint Parcoursup vers `/api/parcoursup/certification/search?ine={ine}` (PIX-15913).
  api/datamart/seeds/csv/data_export_parcoursup_certif_result.csv
  api/src/parcoursup/application/certification-controller.js
  api/src/parcoursup/application/certification-route.js
  api/tests/parcoursup/acceptance/application/certification-route_test.js
  api/tests/parcoursup/unit/application/certification-route_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif, Parcoursup

#10889 [FEATURE] Matomo - Envoyer les events liés à l'utilisation du Expand (toggle) (PIX-15774)
  mon-pix/app/components/module/element.gjs
  mon-pix/app/components/module/element/_expand.scss
  mon-pix/app/components/module/element/expand.gjs
  mon-pix/app/components/module/grain.gjs
  mon-pix/app/components/module/passage.gjs
  mon-pix/app/components/module/step.gjs
  mon-pix/app/components/module/stepper.gjs
  mon-pix/app/styles/app.scss
  mon-pix/tests/integration/components/module/expand_test.gjs
  mon-pix/tests/integration/components/module/passage_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#10933 [TECH] :truck: Déplacement de la route `/api/certification-centers/{certificationCenterId}/divisions` (PIX-15892)
  api/lib/application/certification-centers/certification-center-controller.js
  api/lib/application/certification-centers/index.js
  api/src/certification/enrolment/application/certification-center-controller.js
  api/src/certification/enrolment/application/certification-centers-get-divisions-controller.js
  api/src/certification/enrolment/application/certification-centers-get-divisions-route.js
  api/src/certification/enrolment/domain/usecases/find-divisions-by-certification-center.js
  api/src/certification/enrolment/domain/usecases/index.js
  api/src/certification/enrolment/infrastructure/serializers/division-serializer.js
  api/src/certification/enrolment/routes.js
  api/tests/certification/enrolment/acceptance/application/certification-centers-get-divisions_test.js
  api/tests/certification/enrolment/unit/application/certification-centers-get-divisions-controller_test.js
  api/tests/certification/enrolment/unit/application/certification-centers-get-divisions-route_test.js
  api/tests/certification/enrolment/unit/domain/usecases/find-divisions-by-certification-center_test.js
  api/tests/certification/enrolment/unit/infrastructure/serializers/division-serializer_test.js
  api/tests/unit/application/certification-centers/certification-center-controller_test.js
  api/tests/unit/application/certification-centers/index_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, Bounded-context-migration

#10932 [FEATURE] Afficher le nombre de méthodes de connexion actives dans Pix Admin (PIX-14787)
  admin/app/models/user.js
  admin/app/templates/authenticated/users/get.hbs
  admin/tests/acceptance/authenticated/users/get-test.js
Labels: :rocket: Ready to Merge, team-acces

#10892 [TECH] Montée de version PixOrga (PIX-15856)
  orga/package-lock.json
  orga/package.json
  orga/tests/helpers/create-glimmer-component.js
  orga/tests/integration/components/campaign/charts/participants-by-mastery-percentage-test.js
  orga/tests/unit/components/campaign/charts/participants-by-mastery-percentage-test.js
  orga/tests/unit/components/campaign/create-form-test.js
  orga/tests/unit/components/import/banner-test.js
  orga/tests/unit/components/import/index-test.js
  orga/tests/unit/components/language-switcher-test.js
  orga/tests/unit/components/organization-learner/activity/participation-row-test.js
  orga/tests/unit/components/participant/assessment/header-test.js
  orga/tests/unit/components/participant/link-to-test.js
  orga/tests/unit/components/selectable-list-test.js
  orga/tests/unit/components/table/pagination-control-test.js
  orga/tests/unit/components/team/members-list-test.js
  orga/tests/unit/components/tube/list-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10935 [FEATURE] Ajoute une route parcoursup pour la récupération de certification à partir du code de vérification (PIX-15894)
  api/datamart/datamart-builder/datamart-builder.js
  api/datamart/datamart-builder/factory/build-certification-result-code-validation.js
  api/datamart/migrations/20250103134809-create-data-export-parcoursup-certif-result-code-validation-table.js
  api/src/parcoursup/application/certification-route.js
  api/src/parcoursup/domain/usecases/get-certification-result.js
  api/src/parcoursup/infrastructure/repositories/certification-repository.js
  api/src/shared/domain/types/identifiers-type.js
  api/tests/parcoursup/acceptance/application/certification-route_test.js
  api/tests/parcoursup/integration/repositories/certification-repository_test.js
  api/tests/parcoursup/unit/application/certification-route_test.js
  api/tests/parcoursup/unit/domain/usecases/get-certification-result_test.js
  api/tests/tooling/domain-builder/factory/parcoursup/build-certification-result.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, Parcoursup

#10939 [TECH] Mise à jour Pix Certif vers 5.12 (PIX-15896).
  certif/.ember-cli
  certif/.eslintignore
  certif/.stylelintignore
  certif/.stylelintrc.js
  certif/.watchmanconfig
  certif/README.md
  certif/app/app.js
  certif/app/deprecation-workflow.js
  certif/config/deprecation-workflow.js
  certif/config/ember-cli-update.json
  certif/config/environment.js
  certif/config/optional-features.json
  certif/package-lock.json
  certif/package.json
  certif/tests/helpers/index.js
  certif/tests/index.html
  certif/vendor/.gitkeep
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10945 [FEATURE] déduplique les participations retentée (Pix-15885)
  api/src/prescription/campaign-participation/infrastructure/repositories/participations-for-user-management-repository.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/participations-for-user-management-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10915 [FEATURE] Suppression du cadre autour des qcu-image
  junior/app/components/banner/communication.gjs
  junior/app/components/banner/communication/template.hbs
  junior/app/components/challenge/challenge-actions/component.js
  junior/app/components/challenge/challenge-actions/template.hbs
  junior/app/components/challenge/challenge-content.gjs
  junior/app/components/challenge/challenge-embed-simulator/component.js
  junior/app/components/challenge/challenge-embed-simulator/template.hbs
  junior/app/components/challenge/challenge-item-qcm/template.hbs
  junior/app/components/challenge/challenge-item-qcu/template.hbs
  junior/app/components/challenge/challenge-item-qrocm/component.js
  junior/app/components/challenge/challenge-item-qrocm/template.hbs
  junior/app/components/challenge/challenge-layout.gjs
  junior/app/components/challenge/challenge-web-component/component.js
  junior/app/components/challenge/challenge-web-component/template.hbs
  junior/app/components/challenge/challenge.gjs
  junior/app/components/challenge/content/auto-reply.js
  junior/app/components/challenge/content/challenge-actions.gjs
  junior/app/components/challenge/content/challenge-media.gjs
  junior/app/components/challenge/content/embedded-simulator.gjs
  junior/app/components/challenge/content/embedded-web-component.gjs
  junior/app/components/challenge/content/qcm.gjs
  junior/app/components/challenge/content/qcu.gjs
  junior/app/components/challenge/content/qrocm.gjs
  junior/app/components/challenge/item/component.js
  junior/app/components/challenge/item/integration-test.js
  junior/app/components/challenge/item/template.hbs
  junior/app/components/challenge/template.hbs
  junior/app/components/footer.gjs
  junior/app/components/footer/template.hbs
  junior/app/helpers/.gitkeep
  junior/app/helpers/tests/index.js
  junior/app/styles/app.scss
  junior/app/styles/components/challenge/challenge-content-proposals.scss
  junior/app/styles/components/challenge/challenge-content.scss
  junior/app/styles/components/challenge/challenge-item.scss
  junior/app/styles/components/challenge/challenge-layout.scss
  junior/app/styles/components/challenge/content/challenge-media.scss
  junior/app/styles/pages/identified/missions/mission.scss
  junior/app/templates/assessment/challenge.hbs
  junior/app/templates/challenge-preview.hbs
  junior/app/templates/identified/missions/mission/introduction.hbs
  junior/tests/acceptance/challenge-item-qcm-test.js
  junior/tests/acceptance/challenge-item-qcu-test.js
  junior/tests/acceptance/challenge-item-qroc-test.js
  junior/tests/acceptance/challenge-item-qrocm-test.js
  junior/tests/helpers/index.js
  junior/tests/integration/bubble_test.gjs
  junior/tests/integration/challenge-content_test.gjs
  junior/tests/integration/challenge-media_test.gjs
  junior/tests/integration/challenge_test.gjs
  junior/tests/integration/issue_test.gjs
  junior/tests/integration/robot-dialog_test.gjs
  junior/tests/unit/routes/challenge_unit-test.js
  junior/tests/unit/routes/resume_unit-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10958 [TECH] Corrige un lien cassé dans la doc `api-dependencies.md`
  docs/api-dependencies.md
Labels: :rocket: Ready to Merge

#10905 [DOC] Ajouter des commentaires sur les tables liées au méchanisme de quete (PIX-14816)
  api/db/migrations/20241227103334_add-comments-on-quests-tables.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription

#10943 [FEATURE] Prendre en compte les nouveaux types de grain dans les scripts CSV (PIX-15860)
  api/scripts/modulix/get-modules-csv.js
  api/tests/devcomp/acceptance/scripts/get-modules-csv_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#10894 [FEATURE] Modifier l’API permettant d’accepter les CGU afin de fonctionner avec le nouveau modèle (PIX-15588)
  api/src/identity-access-management/application/user/user.controller.js
  api/src/identity-access-management/domain/usecases/accept-pix-orga-terms-of-service.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/identity-access-management/infrastructure/repositories/legal-document-api.repository.js
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/src/legal-documents/domain/usecases/accept-legal-document-by-user-id.usecase.js
  api/src/legal-documents/domain/usecases/create-legal-document.usecase.js
  api/src/legal-documents/infrastructure/repositories/user.repository.js
  api/tests/identity-access-management/acceptance/application/user/user.route.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/user.repository.test.js
  api/tests/identity-access-management/unit/application/user/user.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/accept-pix-orga-terms-of-service.usecase.test.js
  api/tests/identity-access-management/unit/infrastructure/repositories/legal-document-api.repository.test.js
  api/tests/legal-documents/unit/domain/usecase/accept-legal-document-by-user-id.usecase.test.js
  api/tests/legal-documents/unit/domain/usecase/create-legal-document.usecase.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, :bellhop_bell: ping-jp

#10902 [BUGFIX] Rendre accessibles les contenus formatifs associés aux campagnes non partageables (PIX-15836).
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-tabs/index.gjs
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-tabs/trainings.gjs
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results/tabs/trainings-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#10631 [TECH] add direct metrics pushed to datadog
  api/index.js
  api/package-lock.json
  api/package.json
  api/sample.env
  api/server.js
  api/src/monitoring/infrastructure/metrics.js
  api/src/shared/config.js
  api/src/shared/infrastructure/jobs/JobQueue.js
  api/src/shared/infrastructure/jobs/monitoring/MonitoredJobHandler.js
  api/src/shared/infrastructure/plugins/pino.js
  api/tests/monitoring/integration/infrastructure/metrics_test.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
  api/tests/shared/integration/infrastructure/jobs/JobQueue_test.js
  api/tests/unit/worker_test.js
  api/worker.js
Labels: :rocket: Ready to Merge, team-captains

#10983 [TECH] :truck: déplacement du `mailService` vers `src`
  api/lib/domain/usecases/index.js
  api/scripts/certification/send-certification-result-emails.js
  api/src/certification/session-management/application/jobs/cpf-export-sender-job-controller.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/shared/domain/services/mail-service.js
  api/src/team/domain/services/certification-center-invitation-service.js
  api/src/team/domain/services/organization-invitation.service.js
  api/src/team/domain/usecases/index.js
  api/tests/identity-access-management/integration/domain/usecases/create-reset-password-demand.usecase.test.js
  api/tests/integration/domain/usecases/create-and-reconcile-user-to-organization-learner_test.js
  api/tests/shared/unit/domain/services/mail-service_test.js
  api/tests/team/integration/domain/services/organization-invitation.service.test.js
  api/tests/team/integration/domain/usecases/create-or-update-certification-center-invitation-for-admin_test.js
Labels: :rocket: Ready to Merge, team-certif, cross-team, Bounded-context-migration

#10973 [BUGFIX] Ré-ajoute la raison d'abandon du candidat (PIX-15969).
  api/src/certification/session-management/application/certification-report-route.js
  api/tests/certification/session-management/acceptance/application/certification-report-route_test.js
  api/tests/certification/session-management/unit/application/certification-report-route_test.js
  certif/app/controllers/authenticated/sessions/finalize.js
  certif/tests/unit/controllers/authenticated/sessions/finalize-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10997 [TECH] :package: chore(junior) mise à jour du paquet `ember-cli-mirage` de pix Junior
  junior/package-lock.json
  junior/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, dependencies, 🎒👧🏽👦🏾 PIX JUNIOR

#11002 [TECH] :package: Mise à jour de`ember-file-upload` pour pix Admin
  admin/package-lock.json
  admin/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, dependencies

#10984 [TECH] :truck: Déplace le `tube-repository` vers `src/shared`
  api/lib/domain/usecases/index.js
  api/lib/infrastructure/repositories/campaign-repository.js
  api/lib/infrastructure/repositories/learning-content-repository.js
  api/scripts/prod/target-profile-migrations/common.js
  api/scripts/prod/target-profile-migrations/parse-xls-files-for-target-profiles-migration.js
  api/src/certification/results/infrastructure/repositories/certified-profile-repository.js
  api/src/devcomp/infrastructure/repositories/training-trigger-repository.js
  api/src/learning-content/infrastructure/repositories/tube-repository.js
  api/src/prescription/target-profile/infrastructure/repositories/target-profile-administration-repository.js
  api/src/shared/infrastructure/repositories/tube-repository.js
  api/tests/shared/integration/infrastructure/repositories/tube-repository_test.js
  api/tests/test-helper.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, team-prescription, team-devcomp, Bounded-context-migration

#11016 [BUGFIX] Répare Pix Certif suite à la montée de version de `ember-simple-auth` en v7.
  certif/app/session-stores/application.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#10961 [BUGFIX] Placer le curseur de l'utilisateur sur les en-têtes des pages de réinitialisation de mot de passe (PIX-15937)
  mon-pix/app/components/authentication/password-reset-demand/password-reset-demand-received-info.gjs
  mon-pix/app/components/authentication/password-reset-form.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10890 [TECH] Sortir la logique métier du usecase start-writing-campaign-assessments-results-to-stream.js (PIX-15822)
  api/src/prescription/campaign/domain/services/campaign-csv-export-service.js
  api/src/prescription/campaign/domain/services/campaign-participation-service.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-assessment-results-to-stream.js
  api/src/prescription/campaign/infrastructure/exports/campaigns/campaign-assessment-result-line.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-assessment-export.js
  api/src/shared/domain/models/CampaignParticipationResult.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-assessment-results-to-stream_test.js
  api/tests/prescription/campaign/unit/domain/services/campaign-participation-service_test.js
  api/tests/prescription/campaign/unit/domain/usecases/start-writing-campaign-assessment-results-to-stream_test.js
  api/tests/prescription/campaign/unit/infrastructure/exports/campaigns/campaign-assessment-result-line_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/csv/campaign-assessment-export_test.js
  api/tests/prescription/campaign/unit/infrastructure/utils/CampaignAssessmentCsvLine_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-participation-info.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11018 [BUGFIX] Permettre un arrêt graceful du serveur
  api/index.js
  api/worker.js
Labels: :rocket: Ready to Merge, team-captains

#10960 [TECH] Montée de version PixOrga (PIX-15959)
  orga/app/adapters/organization.js
  orga/app/adapters/sco-organization-participant.js
  orga/app/components/sco-organization-participant/list.js
  orga/app/services/file-saver.js
  orga/package-lock.json
  orga/package.json
  orga/tests/acceptance/authentication-test.js
  orga/tests/acceptance/sco-organization-participant-list-test.js
  orga/tests/unit/adapters/sco-organization-participant-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10899 [TECH] Utiliser le composant PixPagination du Design System (PIX-15862)
  orga/app/components/campaign/activity/participants-list.gjs
  orga/app/components/campaign/list.gjs
  orga/app/components/campaign/results/assessment-list.gjs
  orga/app/components/campaign/results/profile-list.gjs
  orga/app/components/mission/activity-table.gjs
  orga/app/components/mission/result-table.gjs
  orga/app/components/organization-participant/list.gjs
  orga/app/components/sco-organization-participant/list.hbs
  orga/app/components/statistics/index.gjs
  orga/app/components/sup-organization-participant/list.hbs
  orga/app/components/table/pagination-control.hbs
  orga/app/components/table/pagination-control.js
  orga/app/components/team/members-list.hbs
  orga/app/components/team/members-list.js
  orga/app/styles/app.scss
  orga/app/styles/components/pagination-control.scss
  orga/app/styles/globals/panels.scss
  orga/package-lock.json
  orga/package.json
  orga/tests/acceptance/campaign-assessment-results-test.js
  orga/tests/acceptance/campaign-profiles-test.js
  orga/tests/integration/components/campaign/list-test.js
  orga/tests/integration/components/organization-participant/list-test.js
  orga/tests/integration/components/statistics/index-test.gjs
  orga/tests/integration/components/sup-organization-participant/list-test.js
  orga/tests/integration/components/tables/pagination-control-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10937 [FEATURE] Modifier l'appel Pix Orga qui récupère le status des CGU (PIX-15586)
  api/config/server-setup-error-handling.js
  api/src/identity-access-management/infrastructure/serializers/jsonapi/user-with-activity.serializer.js
  api/src/legal-documents/application/http-error-mapper-configuration.js
  api/src/team/domain/read-models/Prescriber.js
  api/src/team/domain/usecases/get-prescriber.js
  api/src/team/domain/usecases/index.js
  api/src/team/infrastructure/repositories/index.js
  api/src/team/infrastructure/repositories/prescriber-repository.js
  api/src/team/infrastructure/serializers/jsonapi/prescriber-serializer.js
  api/tests/identity-access-management/acceptance/application/user/user.route.test.js
  api/tests/identity-access-management/unit/infrastructure/serializers/jsonapi/user-with-activity.serializer.test.js
  api/tests/legal-documents/unit/domain/application/http-error-mapper-configuration_test.js
  api/tests/team/acceptance/application/prescriber-informations.controller.test.js
  api/tests/team/integration/domain/usecases/get-prescriber_test.js
  api/tests/team/integration/infrastructure/repositories/prescriber-repository_test.js
  api/tests/team/unit/domain/usecases/get-prescriber_test.js
  api/tests/team/unit/infrastructure/serializers/jsonapi/prescriber-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-prescriber.js
Labels: :rocket: Ready to Merge, team-acces

#11017 [TECH] Utilise le `competenceName`, `competenceCode` et `areaName` plutôt qu'un `id` interne (Pix-15962)
  api/datamart/datamart-builder/factory/build-certification-result-code-validation.js
  api/datamart/datamart-builder/factory/build-certification-result.js
  api/datamart/migrations/20250107082936-add-competence-infos.js
  api/src/parcoursup/application/certification-route.js
  api/src/parcoursup/infrastructure/repositories/certification-repository.js
  api/tests/parcoursup/acceptance/application/certification-route_test.js
  api/tests/parcoursup/integration/repositories/certification-repository_test.js
Labels: :rocket: Ready to Merge, team-certif, Parcoursup

#10917 [TECH] Migrer la route de réinitialisation de scorecard (PIX-15881).
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/src/evaluation/application/scorecards/index.js
  api/src/evaluation/application/scorecards/scorecard-controller.js
  api/tests/evaluation/integration/application/scorecards/index_test.js
  api/tests/evaluation/unit/application/scorecards/index_test.js
  api/tests/evaluation/unit/application/scorecards/scorecard-controller_test.js
  api/tests/unit/application/users/user-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, Bounded-context-migration

#10974 [BUGFIX] Modification du lien "Mot de passe oublié" de l'application www.orga.pix.org (PIX-15940)
  orga/app/components/auth/login-form.hbs
  orga/app/components/auth/login-form.js
  orga/app/services/url.js
  orga/tests/integration/components/auth/login-form-test.js
  orga/tests/unit/services/url-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11019 [FEATURE] Utiliser le composant BannerAlert sur la bannière beta des modules (PIX-15861)
  mon-pix/app/components/module/beta-banner.gjs
  mon-pix/tests/integration/components/module/beta-banner_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#11022 [FEATURE] Ajouter les champs licence et légende pour l'élément Image côté API (PIX-15990)
  api/src/devcomp/domain/models/element/Image.js
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/src/devcomp/infrastructure/factories/module-factory.js
  api/tests/devcomp/unit/domain/models/element/Image_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/image-schema.js
  api/tests/devcomp/unit/infrastructure/factories/module-factory_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#10967 [FEATURE] Humaniser les seeds Devcomp (PIX-15835)
  api/db/seeds/data/team-devcomp/build-campaigns.js
  api/db/seeds/data/team-devcomp/build-organization-learners.js
  api/db/seeds/data/team-devcomp/data-builder.js
Labels: :rocket: Ready to Merge, team-devcomp

#10972 [FEATURE] Ajouter un on/off sur l'anonymisation lors de la suppression de prescrits (PIX-15880)
  api/scripts/prod/delete-organization-learners-from-organization.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-learner-repository.js
  api/tests/integration/scripts/prod/delete-organization-learners-from-organization_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-learner-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#10936 [FEATURE] Mettre à jour le champ UpdatedAt quand un membre d'équipe de centre de certification est désactivé (PIX-15548)
  api/db/database-builder/factory/build-certification-center-membership.js
  api/src/team/infrastructure/repositories/certification-center-membership.repository.js
  api/tests/team/integration/infrastructure/repositories/certification-center-membership.repository.test.js
  api/tests/tooling/domain-builder/factory/build-certification-center-membership.js
Labels: :rocket: Ready to Merge, team-acces

#11029 [TECH] Montée de version PixOrga (PIX-16024)
  orga/app/session-stores/application.js
  orga/package-lock.json
  orga/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11039 [FEATURE] Amélioration de la documentation d'API pour Parcoursup et ajout de nouveaux seeds (PIX-16022).
  api/datamart/migrations/20250109114100-add-missing-column.js
  api/datamart/seeds/csv/data_export_parcoursup_certif_result.csv
  api/datamart/seeds/csv/data_export_parcoursup_certif_result_code_validation.csv
  api/lib/application/authentication/index.js
  api/sample.env
  api/src/parcoursup/infrastructure/repositories/certification-repository.js
  api/src/shared/swaggers.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, Parcoursup

#11047 [BUGFIX] Update membership fields only if membership is not already deactivated (pix-16014)
  api/db/database-builder/factory/build-membership.js
  api/src/team/infrastructure/repositories/membership.repository.js
  api/tests/team/integration/infrastructure/repositories/membership-repository.test.js
Labels: :rocket: Ready to Merge, team-acces

#11035 [BUGFIX] Corriger l'affichage pour rejoindre une organisation SCO sur PixOrga (PIX-16020)
  orga/app/styles/components/join-request-form.scss
  orga/app/templates/join-request.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-prescription

#10980 [FEATURE] Réorganiser les fichiers de Modulix dans mon-pix/components (PIX-15127)
  mon-pix/app/components/module/component/_stepper.scss
  mon-pix/app/components/module/component/element.gjs
  mon-pix/app/components/module/component/step.gjs
  mon-pix/app/components/module/component/stepper.gjs
  mon-pix/app/components/module/grain/_grain.scss
  mon-pix/app/components/module/grain/grain.gjs
  mon-pix/app/components/module/instruction/_details.scss
  mon-pix/app/components/module/instruction/_objectives.scss
  mon-pix/app/components/module/instruction/_recap.scss
  mon-pix/app/components/module/instruction/details.gjs
  mon-pix/app/components/module/instruction/objectives.gjs
  mon-pix/app/components/module/instruction/recap.gjs
  mon-pix/app/components/module/layout/_navbar.scss
  mon-pix/app/components/module/layout/beta-banner.gjs
  mon-pix/app/components/module/layout/navbar.gjs
  mon-pix/app/components/module/passage.gjs
  mon-pix/app/components/module/preview.gjs
  mon-pix/app/styles/app.scss
  mon-pix/app/templates/module/details.hbs
  mon-pix/app/templates/module/recap.hbs
  mon-pix/tests/acceptance/module/navigate-into-the-module-details_test.js
  mon-pix/tests/acceptance/module/navigate-into-the-module-passage_test.js
  mon-pix/tests/acceptance/module/navigate-into-the-module-recap_test.js
  mon-pix/tests/acceptance/module/preview_test.js
  mon-pix/tests/acceptance/module/retake_completed_module_test.js
  mon-pix/tests/acceptance/module/retry-qcm_test.js
  mon-pix/tests/acceptance/module/retry-qcu_test.js
  mon-pix/tests/acceptance/module/retry-qrocm_test.js
  mon-pix/tests/acceptance/module/verify-qcm_test.js
  mon-pix/tests/acceptance/module/verify-qcu_test.js
  mon-pix/tests/acceptance/module/verify-qrocm_test.js
  mon-pix/tests/acceptance/module/visit-module-details-page_test.js
  mon-pix/tests/acceptance/module/visit-module-passage-page_test.js
  mon-pix/tests/acceptance/module/visit-module-recap-page_test.js
  mon-pix/tests/integration/components/module/beta-banner_test.gjs
  mon-pix/tests/integration/components/module/details_test.gjs
  mon-pix/tests/integration/components/module/download_test.gjs
  mon-pix/tests/integration/components/module/element_test.gjs
  mon-pix/tests/integration/components/module/grain_test.gjs
  mon-pix/tests/integration/components/module/navbar_test.gjs
  mon-pix/tests/integration/components/module/qcm_test.gjs
  mon-pix/tests/integration/components/module/qcu_test.gjs
  mon-pix/tests/integration/components/module/qrocm_test.gjs
  mon-pix/tests/integration/components/module/recap_test.gjs
  mon-pix/tests/integration/components/module/step_test.gjs
  mon-pix/tests/integration/components/module/stepper_test.gjs
  mon-pix/tests/integration/components/module/text_test.gjs
  mon-pix/tests/unit/components/module/element_test.gjs
  mon-pix/tests/unit/components/module/grain-test.gjs
  mon-pix/tests/unit/components/module/qcm_test.gjs
  mon-pix/tests/unit/components/module/qcu_test.gjs
  mon-pix/tests/unit/components/module/qrocm_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#10897 [FEATURE] Prendre en compte flashcards dans les scripts CSV (PIX-15634)(PIX-15857)
  api/scripts/modulix/get-elements-csv.js
  api/scripts/modulix/get-modules-csv.js
  api/src/devcomp/infrastructure/datasources/learning-content/modules/didacticiel-modulix.json
  api/tests/devcomp/acceptance/scripts/get-elements_test.js
  api/tests/devcomp/acceptance/scripts/get-modules-csv_test.js
  api/tests/devcomp/unit/scripts/get-modules-csv_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11037 [BUGFIX] Affiche le logo sur la page des cgu
  orga/app/components/terms-of-service/page-en.hbs
  orga/app/components/terms-of-service/page-fr.hbs
  orga/app/components/terms-of-service/page-nl.hbs
  orga/app/components/ui/page-title.gjs
  orga/app/styles/pages/authenticated/terms-of-service.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-prescription

#11044 [TECH] :truck: Déplacement de deux `knowledge repositories` vers `src`
  api/lib/domain/events/index.js
  api/lib/domain/services/certification-challenges-service.js
  api/lib/domain/usecases/index.js
  api/lib/domain/usecases/stages/handle-stage-acquisition.js
  api/lib/infrastructure/repositories/certifiable-profile-for-learning-content-repository.js
  api/scripts/prod/compute-participation-results.js
  api/scripts/prod/generate-knowledge-element-snapshots-for-campaigns.js
  api/src/certification/results/infrastructure/repositories/certified-profile-repository.js
  api/src/certification/shared/domain/services/certification-badges-service.js
  api/src/devcomp/domain/usecases/index.js
  api/src/devcomp/infrastructure/repositories/tutorial-repository.js
  api/src/evaluation/domain/services/get-competence-level.js
  api/src/evaluation/domain/usecases/index.js
  api/src/prescription/campaign-participation/domain/usecases/index.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-analysis-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-assessment-participation-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-assessment-participation-result-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-result-repository.js
  api/src/prescription/campaign-participation/infrastructure/repositories/participant-result-repository.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-collective-result-repository.js
  api/src/prescription/campaign/infrastructure/repositories/knowledge-element-snapshot-repository.js
  api/src/profile/domain/usecases/index.js
  api/src/shared/domain/services/placement-profile-service.js
  api/src/shared/infrastructure/repositories/knowledge-element-repository.js
  api/tests/integration/domain/services/certification-challenges-service_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/knowledge-element-snapshot-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/knowledge-element-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, team-evaluation, team-prescription, team-devcomp, Bounded-context-migration

#11060 [TECH] :truck: Déplace le service d'export pour le CPF vers `src`
  api/src/certification/session-management/application/jobs/cpf-export-builder-job-controller.js
  api/src/certification/session-management/domain/services/cpf-certification-xml-export-service.js
  api/tests/certification/session-management/integration/application/jobs/cpf-export-builder-job-controller_test.js
  api/tests/unit/domain/services/cpf/cpf-certification-xml-export-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, Bounded-context-migration

#11033 [TECH] :truck: Déplacement de `verify-certification-code-service` vers `src`
  api/lib/domain/usecases/index.js
  api/src/certification/evaluation/domain/services/verify-certificate-code-service.js
  api/src/certification/evaluation/domain/usecases/index.js
  api/tests/certification/evaluation/acceptance/application/certification-attestation-route_test.js
  api/tests/certification/evaluation/acceptance/application/certification-route_test.js
  api/tests/certification/evaluation/acceptance/application/sticker.pdf
  api/tests/certification/evaluation/unit/domain/services/verify-certificate-code-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, Bounded-context-migration

#11056 [BUGFIX] Correction de la gestion des erreurs de connexion SSO OIDC (PIX-15621)
  api/db/seeds/data/team-acces/build-blocked-users.js
  api/db/seeds/data/team-acces/build-temporary-blocked-user.js
  api/db/seeds/data/team-acces/data-builder.js
  api/src/identity-access-management/application/http-error-mapper-configuration.js
  api/src/identity-access-management/application/token/token.route.js
  api/src/identity-access-management/domain/errors.js
  api/src/identity-access-management/domain/usecases/find-user-for-oidc-reconciliation.usecase.js
  api/tests/identity-access-management/integration/domain/usecases/find-user-for-oidc-reconciliation.usecase.test.js
  api/tests/identity-access-management/unit/application/http-error-mapper-configuration_test.js
  api/tests/integration/application/error-manager_test.js
  api/tests/unit/domain/models/UserLogin_test.js
  mon-pix/app/components/authentication/login-or-register-oidc.js
  mon-pix/app/components/authentication/oidc-reconciliation.js
  mon-pix/app/services/error-messages.js
  mon-pix/tests/unit/components/authentication/login-or-register-oidc-test.js
  mon-pix/tests/unit/components/authentication/oidc-reconciliation-test.js
  mon-pix/tests/unit/services/error-messages-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11063 [FEATURE] Ajouter un feature toggle pour le confinement des access tokens (PIX-15924)
  api/sample.env
  api/src/shared/config.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#11069 [BUGFIX] Changer la phrase d'acceptation des CGUs dans pix-app, orga et certif (PIX-16000)
  certif/translations/en.json
  mon-pix/translations/en.json
  orga/translations/en.json
Labels: :rocket: Ready to Merge, Func Review OK, team-acces

#11065 [BUGFIX] Sur Pix App .org corriger les liens vers le support qui ne sont pas bons sur les pages de réinitialisation du mot de passe (PIX-16033)
  mon-pix/app/components/authentication/password-reset-demand/password-reset-demand-form.gjs
  mon-pix/app/services/locale.js
  mon-pix/app/services/url.js
  mon-pix/tests/integration/components/authentication/password-reset-demand/password-reset-demand-form-test.gjs
  mon-pix/tests/unit/services/locale-test.js
  mon-pix/tests/unit/services/url-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11076 [TECH] :truck: Dépalce le sérializer `csv-column` vers `src`
  api/lib/infrastructure/serializers/csv/csv-column.js
  api/src/certification/configuration/infrastructure/serializers/csv/sco-whitelist-csv-header.js
  api/src/organizational-entities/domain/usecases/add-organization-feature-in-batch.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-ids-csv-header.js
  api/src/prescription/learner-management/infrastructure/serializers/csv/organization-learner-import-header.js
  api/tests/prescription/learner-management/unit/infrastructure/serializers/csv/csv-organization-learner-parser_test.js
  api/tests/shared/unit/infrastructure/serializers/csv/csv-parser_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-certif, team-prescription, Bounded-context-migration

#11072 [BUGFIX] Ajoute la marge entre la PixNotificationAlert et le contenu de la page (PIX-16050)
  orga/app/components/places/capacity-alert.gjs
  orga/app/components/places/places-lot-alert.gjs
  orga/app/components/places/title.gjs
  orga/app/components/ui/page-title.gjs
  orga/app/styles/components/places/capacity-alert.scss
  orga/app/styles/components/places/index.scss
  orga/app/styles/components/places/places-lots-alert.scss
  orga/app/styles/components/ui/page-title.scss
  orga/app/templates/authenticated/places.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11012 [TECH] Refacto - méthodes dans OrganizationPlacesLotRepository (PIX-15818)
  api/src/prescription/organization-place/domain/usecases/find-organization-places-lot.js
  api/src/prescription/organization-place/domain/usecases/get-data-organizations-places-statistics.js
  api/src/prescription/organization-place/domain/usecases/get-organization-places-lots.js
  api/src/prescription/organization-place/domain/usecases/get-organization-places-statistics.js
  api/src/prescription/organization-place/infrastructure/repositories/organization-places-lot-repository.js
  api/tests/prescription/organization-place/integration/infrastructure/repositories/organization-places-lot-repository_test.js
  api/tests/prescription/organization-place/unit/domain/usecases/find-organization-places-lot_test.js
  api/tests/prescription/organization-place/unit/domain/usecases/get-organization-places-lots_test.js
  api/tests/prescription/organization-place/unit/domain/usecases/get-organization-places-statistics_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11023 [FEATURE] Modification des pages de CGU (PIX-15589)
  api/src/legal-documents/domain/models/LegalDocumentStatus.js
  api/tests/legal-documents/integration/domain/usecases/get-legal-document-status-by-user-id.usecase.test.js
  api/tests/legal-documents/unit/domain/models/LegalDocumentStatus.test.js
  api/tests/team/acceptance/application/prescriber-informations.controller.test.js
  api/tests/team/integration/infrastructure/repositories/prescriber-repository_test.js
  high-level-tests/e2e/cypress/support/step_definitions/login-logout.js
  orga/app/components/terms-of-service/acceptation.gjs
  orga/app/components/terms-of-service/page-en.hbs
  orga/app/components/terms-of-service/page-fr.hbs
  orga/app/components/terms-of-service/page-nl.hbs
  orga/app/controllers/terms-of-service.js
  orga/app/models/prescriber.js
  orga/app/models/user.js
  orga/app/routes/authenticated.js
  orga/app/routes/terms-of-service.js
  orga/app/services/locale.js
  orga/app/services/session.js
  orga/app/services/url.js
  orga/app/styles/pages/authenticated/terms-of-service.scss
  orga/app/templates/terms-of-service.hbs
  orga/mirage/config.js
  orga/mirage/factories/user.js
  orga/public/images/terms-of-service.svg
  orga/tests/acceptance/authentication-test.js
  orga/tests/acceptance/join-test.js
  orga/tests/acceptance/missions-list-test.js
  orga/tests/acceptance/statistics-test.js
  orga/tests/acceptance/team-creation-test.js
  orga/tests/acceptance/team-list-test.js
  orga/tests/acceptance/terms-of-service-test.js
  orga/tests/helpers/test-init.js
  orga/tests/integration/components/terms-of-service/acceptation-test.gjs
  orga/tests/unit/routes/authenticated-test.js
  orga/tests/unit/services/locale-test.js
  orga/tests/unit/services/url-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11084 [BUGFIX] Corriger l'affichage de la double mire sur PixOrga (PIX-16070)
  orga/app/components/auth/login-or-register.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-prescription

#11092 [BUMP] Update dependency ember-source to v6 (certif)
  certif/app/services/file-saver.js
  certif/package-lock.json
  certif/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11074 [FEATURE] Utiliser PixIcon dans Pix Admin - Partie 2 (PIX-16040).
  admin/app/app.js
  admin/app/components/actions-on-users-role-in-organization.gjs
  admin/app/components/campaigns/participation-row.gjs
  admin/app/components/campaigns/participations-section.gjs
  admin/app/components/certification-centers/member-item.scss
  admin/app/components/complementary-certifications/attach-badges/badges/header.gjs
  admin/app/components/complementary-certifications/attach-badges/index.gjs
  admin/app/components/organizations/campaigns-section.gjs
  admin/app/components/users/user-detail-personal-information/authentication-method.gjs
  admin/app/components/users/user-detail-personal-information/organization-learner-information.gjs
  admin/app/components/users/user-overview.gjs
  admin/app/styles/components/participation-row.scss
  admin/app/styles/globals/page.scss
  admin/app/templates/authenticated/sessions/session.hbs
  admin/app/templates/authenticated/trainings/list.hbs
  admin/app/templates/authenticated/trainings/new.hbs
  admin/app/templates/authenticated/trainings/training.hbs
  admin/config/icons.js
  admin/package-lock.json
  admin/package.json
Labels: :rocket: Ready to Merge, team-evaluation, cross-team

#11089 [TECH] :truck: Déplace le service de CertificationChallenge
  api/lib/domain/usecases/index.js
  api/src/certification/evaluation/domain/services/certification-challenges-service.js
  api/src/certification/evaluation/domain/usecases/index.js
  api/tests/certification/evaluation/integration/domain/services/certification-challenges-service_test.js
  api/tests/certification/evaluation/unit/domain/services/certification-challenges-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, Bounded-context-migration

#11104 [FEATURE] Mise en place d’une nouvelle fonction getForwardedOrigin qui récupére l’origin HTTP de l’application (PIX-15925)
  api/src/identity-access-management/infrastructure/utils/network.js
  api/src/shared/application/feature-toggles/feature-toggle-controller.js
  api/src/shared/application/feature-toggles/index.js
  api/tests/identity-access-management/unit/infrastructure/utils/network.test.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#11108 [TECH] :truck: déplace le code de gestion d'évènement `Certification Course Rejected`
  api/lib/domain/events/handle-certification-rescoring.js
  api/src/certification/session-management/domain/events/CertificationCourseRejected.js
  api/src/certification/session-management/domain/usecases/reject-certification-course.js
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v3_test.js
  api/tests/certification/session-management/unit/application/certification-course-controller_test.js
  api/tests/certification/session-management/unit/domain/usecases/reject-certification-course_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, Bounded-context-migration

#11055 [FEATURE] Utiliser PixIcon dans Pix App - Partie 2 (PIX-15468).
  mon-pix/app/components/action-chip.hbs
  mon-pix/app/components/authentication/oidc-reconciliation.hbs
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-tabs/rewards/index.gjs
  mon-pix/app/components/checkpoint-continue.hbs
  mon-pix/app/components/competence-card-default.hbs
  mon-pix/app/components/form-textfield.hbs
  mon-pix/app/components/levelup-notif.hbs
  mon-pix/app/components/profile-sharing-form.hbs
  mon-pix/app/components/tutorials/card.hbs
  mon-pix/app/styles/components/_action-chip.scss
  mon-pix/app/styles/components/_checkpoint.scss
  mon-pix/app/styles/components/_levelup-notif.scss
  mon-pix/config/icons.js
  mon-pix/package-lock.json
  mon-pix/package.json
  mon-pix/tests/integration/components/form-textfield-test.js
Labels: :rocket: Ready to Merge, team-acces

#11109 [TECH] :truck: déplace le code d'évènement de `certification completed` vers `src/`
  api/lib/domain/usecases/complete-assessment.js
  api/lib/infrastructure/repositories/jobs/certification-completed-job-repository.js
  api/src/certification/evaluation/application/jobs/certification-completed-job-controller.js
  api/src/certification/evaluation/domain/events/CertificationCompleted.js
  api/tests/certification/evaluation/integration/evaluation/jobs/certification-completed-job-controller_test.js
  api/tests/certification/evaluation/unit/application/jobs/certification-completed-job-controller_test.js
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v3_test.js
  api/tests/integration/domain/usecases/complete-assessment_test.js
  api/tests/integration/infrastructure/repositories/jobs/certification-completed-job-repository_test.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-complete-assessment_test.js
  api/tests/unit/domain/usecases/complete-assessment_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, Bounded-context-migration

#11095 [TECH] Migration de la route /api/admin/users/{id}/add-pix-authentication-method (PIX-16079)
  api/lib/application/users/index.js
  api/lib/application/users/user-controller.js
  api/lib/domain/usecases/add-pix-authentication-method-by-email.js
  api/lib/domain/usecases/index.js
  api/src/identity-access-management/application/user/user.admin.controller.js
  api/src/identity-access-management/application/user/user.admin.route.js
  api/src/identity-access-management/domain/services/password-generator.service.js
  api/src/identity-access-management/domain/usecases/add-pix-authentication-method.usecase.js
  api/src/identity-access-management/domain/usecases/index.js
  api/tests/acceptance/application/users/add-pix-authentication-method-by-email-route-post_test.js
  api/tests/identity-access-management/acceptance/application/user/user.admin.route.test.js
  api/tests/identity-access-management/integration/domain/usecases/add-pix-authentication-method.usecase.test.js
  api/tests/identity-access-management/unit/application/user/user.admin.controller.test.js
  api/tests/identity-access-management/unit/application/user/user.admin.route.test.js
  api/tests/identity-access-management/unit/domain/services/password-generator.service.test.js
  api/tests/identity-access-management/unit/domain/usecases/add-pix-authentication-method.test.js
  api/tests/integration/domain/usecases/add-pix-authentication-method-by-email_test.js
  api/tests/unit/application/users/index_test.js
  api/tests/unit/application/users/user-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#10837 [FEATURE] Changement du titre du module IA avancé LLM ChatGPT MODC-176
  api/src/devcomp/infrastructure/datasources/learning-content/modules/chatgpt-parle-francais.json
Labels: :rocket: Ready to Merge, contribution-modulix

#11113 [TECH] :truck: Déplace `Certification rescored by script event` vers `src/`
  api/lib/domain/events/handle-certification-rescoring.js
  api/src/certification/session-management/application/jobs/certification-rescoring-by-script-job-controller.js
  api/src/certification/session-management/domain/events/CertificationRescoredByScript.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, Bounded-context-migration

#11110 [TECH] :truck: Déplace l'événement `certification jury done` vers `src/`
  api/lib/domain/events/handle-certification-rescoring.js
  api/src/certification/session-management/domain/events/CertificationJuryDone.js
  api/src/certification/session-management/domain/usecases/process-auto-jury.js
  api/tests/certification/evaluation/unit/domain/services/scoring/scoring-v3_test.js
  api/tests/certification/session-management/unit/domain/usecases/process-auto-jury_test.js
  api/tests/unit/domain/events/event-choreography-certification-rescoring-after-jury_test.js
  api/tests/unit/domain/events/handle-certification-rescoring_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, Bounded-context-migration

#11099 [BUGFIX] Si l'utilisateur a un identifiant renseigné alors le champ "e-mail" ne doit pas être obligatoire dans Pix Admin (PIX-15540)
  admin/app/components/users/user-overview.gjs
  admin/tests/acceptance/authenticated/users/get-test.js
  admin/tests/integration/components/users/user-overview-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11112 [TECH] Ajout du prefixe application a Parcoursup (PIX-16090).
  api/sample.env
  api/src/parcoursup/application/certification-controller.js
  api/src/parcoursup/application/certification-route.js
  api/src/parcoursup/domain/usecases/get-certification-result.js
  api/src/parcoursup/domain/usecases/index.js
  api/src/shared/config.js
  api/src/shared/infrastructure/validate-environment-variables.js
  api/src/shared/swaggers.js
  api/tests/parcoursup/acceptance/application/certification-route_test.js
  api/tests/parcoursup/unit/application/certification-route_test.js
  api/tests/parcoursup/unit/domain/usecases/get-certification-result_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, Parcoursup

#11121 [BUGFIX] Autoriser les certifs terminées par finalisation à être rescorées (PIX-16107).
  api/src/certification/session-management/domain/usecases/process-auto-jury.js
  api/tests/certification/session-management/unit/domain/usecases/process-auto-jury_test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-certif

#11059 [FEATURE] Afficher la légende et la licence d'une image dans un module (PIX-15991)
  mon-pix/app/components/module/element/_image.scss
  mon-pix/app/components/module/element/image.gjs
  mon-pix/tests/integration/components/module/image_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#11102 [BUGFIX] Corriger les phrases d'acceptation des CGUs partie 2 (PIX-16000)
  orga/translations/en.json
Labels: :rocket: Ready to Merge, Func Review OK, team-acces

#11125 [FEATURE] Ajouter plusieurs paliers d'un seul coup (PIX-15833).
  api/src/evaluation/scripts/add-multiple-level-stages.js
  api/tests/evaluation/integration/scripts/add-multiple-level-stages.test.js
  api/tests/evaluation/integration/scripts/files/stages-test.csv
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#11106 [TECH] Migration de la route /api/admin/tags/{id}/recently-used (PIX-16086)
  api/lib/application/tags/index.js
  api/lib/application/tags/tag-controller.js
  api/lib/domain/usecases/index.js
  api/lib/routes.js
  api/scripts/create-organizations-with-tags-and-target-profiles.js
  api/src/organizational-entities/application/tag/tag.admin.controller.js
  api/src/organizational-entities/application/tag/tag.admin.route.js
  api/src/organizational-entities/domain/usecases/get-recently-used-tags.usecase.js
  api/src/organizational-entities/domain/usecases/index.js
  api/src/organizational-entities/infrastructure/repositories/organization-tag.repository.js
  api/tests/acceptance/application/tags/tag-api_test.js
  api/tests/integration/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
  api/tests/organizational-entities/acceptance/application/tag/tag.admin.route.test.js
  api/tests/organizational-entities/integration/domain/usecases/add-tags-to-organizations.usecase.test.js
  api/tests/organizational-entities/integration/domain/usecases/get-recently-used-tags.usecase.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-tag.repository.test.js
Labels: Tech Review OK, Func Review OK, team-acces, Bounded-context-migration

#11119 [TECH] :truck: Déplace l'événement `CertificationScoringCompleted` dans `src/`
  api/lib/domain/events/handle-complementary-certifications-scoring.js
  api/src/certification/evaluation/application/jobs/certification-completed-job-controller.js
  api/src/certification/evaluation/domain/events/CertificationScoringCompleted.js
  api/tests/certification/evaluation/unit/application/jobs/certification-completed-job-controller_test.js
  api/tests/integration/domain/event/handle-complementary-certifications-scoring_test.js
  api/tests/tooling/domain-builder/factory/build-certification-scoring-completed-event.js
Labels: :rocket: Ready to Merge, team-certif, Bounded-context-migration

#11116 [TECH] :truck: Déplace le repository `audit logger` vers `src/`
  api/src/identity-access-management/application/jobs/event-logging.job-controller.js
  api/src/identity-access-management/application/jobs/gar-anonymized-batch-events-logging.job-controller.js
  api/src/identity-access-management/infrastructure/repositories/audit-logger-repository.js
  api/src/shared/application/jobs/audit-log/user-anonymized-event-logging-job-controller.js
  api/tests/identity-access-management/integration/infrastructure/repositories/audit-logger-repository_test.js
  api/tests/shared/unit/application/jobs/audit-log/UserAnonymizedEventLoggingJobController_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#11120 [TECH] :broom: Supprime des simulateurs de scoring qui ne sont plus utilisés
  api/lib/infrastructure/serializers/json/scoring-simulator/scoring-simulation-context-serializer.js
  api/lib/infrastructure/serializers/json/scoring-simulator/scoring-simulation-dataset-serializer.js
  api/src/shared/domain/models/ScoringSimulationContext.js
  api/src/shared/domain/models/ScoringSimulationDataset.js
  api/src/shared/domain/models/index.js
Labels: :rocket: Ready to Merge, team-certif, Bounded-context-migration

#11087 [FEATURE] Ajuster la mention "Activez ou récupérer votre espace Pix Orga" car elle crée de la confusion pour nos utilisateurs (PIX-16035)
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11041 Pix 15834 display popup for smarphones and vertical tablets
  junior/app/components/device-warning-modal.gjs
  junior/app/services/current-learner.js
  junior/app/services/device.js
  junior/app/styles/app.scss
  junior/app/styles/components/device-warning-modal.scss
  junior/app/templates/application.hbs
  junior/public/images/icons/screen-rotation.svg
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, Design Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#11111 [TECH] :truck: Déplace `certifiable-profile-for-learning-content-repository.js` vers `src/`
  api/lib/domain/usecases/index.js
  api/src/certification/evaluation/domain/services/certification-challenges-service.js
  api/src/certification/evaluation/domain/usecases/index.js
  api/src/certification/evaluation/infrastructure/repositories/certifiable-profile-for-learning-content-repository.js
  api/tests/certification/evaluation/integration/infrastructure/repositories/certifiable-profile-for-learning-content-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, Bounded-context-migration

#11075 [FEATURE] Ajouter des filtres dans la liste des parcours autonomes (PIX-16065).
  admin/app/components/autonomous-courses/list/index.gjs
  admin/tests/integration/components/autonomous-courses/list/index-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#11081 [TECH] Regrouper les différents model de campagne dans l'API (PIX-15820)
  api/lib/domain/usecases/send-completed-participation-results-to-pole-emploi.js
  api/scripts/prod/insert-missing-pole-emploi-sending-from-date.js
  api/src/prescription/campaign-participation/domain/models/CampaignParticipation.js
  api/src/prescription/campaign-participation/domain/usecases/index.js
  api/src/prescription/campaign-participation/domain/usecases/send-shared-participation-results-to-pole-emploi.js
  api/src/prescription/campaign-participation/domain/usecases/send-started-participation-results-to-pole-emploi.js
  api/src/prescription/campaign/domain/models/Campaign.js
  api/src/prescription/campaign/domain/models/CampaignManagement.js
  api/src/prescription/campaign/domain/read-models/CampaignToJoin.js
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-assessment-results-to-stream.js
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-administration-repository.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-details-management-serializer.js
  api/tests/prescription/campaign/unit/domain/models/CampaignManagement_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/jsonapi/campaign-details-management-serializer_test.js
  api/tests/unit/domain/models/Campaign_test.js
  orga/app/components/campaign/header/title.gjs
  orga/app/models/campaign.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11085 [TECH] ♻️ migre le repository target-profile-repository dans le contexte prescription (pix-16073)
  api/lib/domain/events/index.js
  api/lib/domain/usecases/index.js
  api/scripts/prod/insert-missing-pole-emploi-sending-from-date.js
  api/src/devcomp/domain/usecases/index.js
  api/src/evaluation/domain/usecases/index.js
  api/src/prescription/campaign-participation/domain/usecases/index.js
  api/src/prescription/target-profile/domain/usecases/index.js
  api/src/prescription/target-profile/infrastructure/repositories/target-profile-repository.js
  api/tests/evaluation/integration/domain/usecases/create-badge_test.js
  api/tests/prescription/target-profile/integration/domain/usecases/attach-organizations-from-existing-target-profile_test.js
  api/tests/prescription/target-profile/integration/domain/usecases/copy-target-profile_test.js
  api/tests/prescription/target-profile/integration/infrastructure/repositories/target-profile-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription, team-devcomp, Bounded-context-migration

#11135 [FEATURE] Mise à jour du nom du fichier du module `chatgpt-vraiment-neutre`
  api/src/devcomp/infrastructure/datasources/learning-content/modules/chatgpt-vraiment-neutre.json
Labels: :rocket: Ready to Merge, team-devcomp, contribution-modulix

#11130 [BUGFIX] Orga - avoir une option par défaut pour l'external Id dans la création de campagne (PIX-16081)
  orga/app/components/campaign/create-form.gjs
  orga/tests/integration/components/campaign/create-form-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11128 [TECH] Utiliser une constante partagée au lieu de recréer TWENTY_MEGABYTES à chaque fois (PIX-15819)
  api/lib/application/organizations/index.js
  api/src/certification/configuration/application/sco-whitelist-route.js
  api/src/identity-access-management/application/anonymization/anonymization.admin.route.js
  api/src/organizational-entities/application/organization/organization.admin.route.js
  api/src/prescription/campaign/application/campaign-administration-route.js
  api/src/prescription/learner-management/application/organization-learners-route.js
  api/src/prescription/learner-management/application/sco-organization-management-route.js
  api/src/shared/domain/constants.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11132 [FEATURE] Ne pas générer les attestations des learners désactivés dans le zip pour les prescripteurs (PIX-16098)
  api/db/seeds/data/team-prescription/build-quests.js
  api/src/prescription/organization-learner/infrastructure/repositories/organization-learner-repository.js
  api/tests/prescription/organization-learner/integration/infrastructure/repositories/organization-learner-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11129 [FEATURE] Prendre en compte la valeur par défaut des proposals "input" dans les QROCm Modulix (PIX-16034)
  mon-pix/app/components/module/element/qrocm.gjs
  mon-pix/tests/integration/components/module/qrocm_test.gjs
  mon-pix/tests/unit/components/module/qrocm_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11136 [FEATURE] Affichage de l'utilisateur identifié sur toutes les pages pertinentes (PIX-16095)
  junior/app/components/challenge/challenge.gjs
  junior/app/components/challenge/content/qrocm.gjs
  junior/app/components/identified-learner.gjs
  junior/app/controllers/school/students.js
  junior/app/styles/app.scss
  junior/app/styles/components/challenge/challenge.scss
  junior/app/styles/components/identified-learner.scss
  junior/app/styles/pages/identified/missions/introduction.scss
  junior/app/styles/pages/identified/missions/list.scss
  junior/app/styles/pages/identified/missions/mission.scss
  junior/app/templates/assessment/results.hbs
  junior/app/templates/identified/missions/list.hbs
  junior/app/templates/identified/missions/mission/index.hbs
  junior/app/templates/identified/missions/mission/introduction.hbs
  junior/tests/acceptance/access-school-test.js
  junior/tests/acceptance/display-missions-list-test.js
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10490 [FEATURE] Pouvoir choisir les fronts à déployer en RA
  package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#11139 [FEATURE] Prévenir l'utilisateur prescrit sur mobile que son expérience risque d'être dégradée (PIX-16078).
  mon-pix/app/components/campaigns/presentation/alert-mobile-experience-modal.gjs
  mon-pix/app/styles/components/campaigns/index.scss
  mon-pix/app/styles/components/campaigns/presentation/alert-mobile-experience-modal.scss
  mon-pix/app/templates/campaigns/campaign-landing-page.hbs
  mon-pix/tests/integration/components/campaigns/presentation/alert-mobile-experience-modal-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#11142 [TECH] Ajout des headers x-forwarded-host et x-forwarded-proto pour getForwardedOrigin de l'API en integration, recette et production.
  admin/servers.conf.erb
  certif/servers.conf.erb
  junior/servers.conf.erb
  mon-pix/servers.conf.erb
  orga/servers.conf.erb
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, team-captains

#11138 [BUGFIX] Garder toujours le même ordre de colonnes dans le fichier d'export des résultats (PIX-16099)
  api/src/prescription/campaign/infrastructure/exports/campaigns/campaign-assessment-result-line.js
  api/src/prescription/campaign/infrastructure/serializers/csv/campaign-assessment-export.js
  api/src/shared/domain/models/CampaignLearningContent.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/training-serializer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/training-trigger-serializer_test.js
  api/tests/prescription/campaign/unit/infrastructure/exports/campaigns/campaign-assessment-result-line_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/csv/campaign-assessment-export_test.js
  api/tests/shared/unit/domain/models/CampaignLearningContent_test.js
  api/tests/tooling/domain-builder/factory/build-area.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11103 [TECH] ajoute le campaignParticipationId dans la table knowledge-element-snapshots (PIX-15755)
  api/scripts/prod/populate-campaign-participation-id-in-knowledge-element-snapshot.js
  api/tests/integration/scripts/prod/populate-campaign-participation-id-in-knowledge-element-snapshot_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11152 [BUGFIX] Corrige le model CampaignManagement (pix-16167)
  api/src/prescription/campaign/application/campaign-detail-controller.js
  api/src/prescription/campaign/domain/models/CampaignManagement.js
  api/src/prescription/campaign/domain/usecases/get-campaign-management.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-details-management-serializer.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-management-serializer.js
  api/tests/prescription/campaign/unit/domain/models/CampaignManagement_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/jsonapi/campaign-details-management-serializer_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/jsonapi/campaign-management-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-management.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11147 [BUGFIX] Le champ `solution` des embeds auto-validés n'apparait pas dans l'interface de Modulix Editor (PIX-16101)
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/embed-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/embed_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11134 [TECH] :wrench: Ajoute une tache `npm` pour executer uniquement les fichiers de test en cours de modification
  api/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#11140 [BUGFIX] Gerer les erreurs en cas de conflit avec la contrainte d'unicité de profile rewards (PIX-16129)
  api/src/profile/infrastructure/repositories/profile-reward-repository.js
  api/tests/profile/integration/infrastructure/repositories/profile-reward-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#11143 [TECH] Rendre disponible la documentation Open Api via la gateway (PIX-16111).
  api/src/shared/swaggers.js
  api/tests/shared/acceptance/application/swagger_test.js
  api/tests/shared/acceptance/application/swaggers_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, cross-team

#11169 [BUGFIX] Corriger l'url des liens vers la prévisualisation d'images (PIX-16100)
  admin/app/components/target-profiles/badge-form.gjs
  admin/app/components/trainings/create-or-update-training-form.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#10929 [DOC] ADR sur les migrations de données
  docs/adr/0056-migrate-down.md
Labels: :rocket: Ready to Merge, team-captains, cross-team

#11178 [FEATURE] Ajouter la colonne "internalTitle" dans la table "trainings" (PIX-16211)
  api/db/migrations/20250121151657_add-internal-title-column-to-trainings-table.js
Labels: :rocket: Ready to Merge, team-devcomp

#11020 [FEATURE] Creer un script pour partager les attestations précédemment obtenues (PIX-15888)
  api/db/database-builder/factory/build-organization-profile-reward.js
  api/src/profile/scripts/sixth-grade-organization-share.js
  api/tests/profile/integration/scripts/sixth-grade-organization-share_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-evaluation, team-prescription

#11161 [FEATURE] Remplir le mail automatiquement sur la page de réinitialisation du mot de passe si celui-ci a déjà été remplis sur la page de connexion (PIX13572)
  mon-pix/app/components/authentication/login-form.gjs
  mon-pix/app/components/authentication/password-reset-demand/password-reset-demand-form.gjs
  mon-pix/app/services/storage.js
  mon-pix/tests/unit/services/storage-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11164 [BUGFIX] utiliser le PixSearchInput (Pix-16187)
  orga/app/components/campaign/filter/campaign-filters.gjs
  orga/app/components/campaign/filter/participation-filters.gjs
  orga/app/components/organization-participant/learner-filters.gjs
  orga/app/components/sco-organization-participant/sco-learner-filters.hbs
  orga/app/components/sco-organization-participant/sco-learner-filters.js
  orga/app/components/sup-organization-participant/sup-learner-filters.hbs
  orga/app/components/sup-organization-participant/sup-learner-filters.js
  orga/app/components/ui/search-input-filter.hbs
  orga/app/components/ui/search-input-filter.js
  orga/app/controllers/authenticated/missions/mission/activities.js
  orga/app/controllers/authenticated/missions/mission/results.js
  orga/app/styles/app.scss
  orga/app/styles/components/search-input.scss
  orga/app/templates/authenticated/missions/mission/activities.hbs
  orga/app/templates/authenticated/missions/mission/results.hbs
  orga/tests/integration/components/ui/search-input-test.js
Labels: :rocket: Ready to Merge, Func Review OK, team-prescription

#11186 Revert "[FEATURE] Ajouter la colonne "internalTitle" dans la table "trainings" (PIX-16211)"
  api/db/migrations/20250121151657_add-internal-title-column-to-trainings-table.js
Labels: :rocket: Ready to Merge, team-devcomp

#11158 [BUGFIX] Permettre de finaliser/publier une session dont une certif ne contient pas de challenge (PIX-16128).
  api/src/certification/flash-certification/domain/services/algorithm-methods/flash.js
  api/src/certification/session-management/domain/models/CertificationAssessment.js
  api/src/certification/session-management/domain/models/V3CertificationChallengeForAdministration.js
  api/src/certification/session-management/infrastructure/repositories/v3-certification-course-details-for-administration-repository.js
  api/tests/certification/flash-certification/unit/domain/services/algorithm-methods/flash_test.js
  api/tests/certification/session-management/acceptance/application/finalize-route_test.js
  api/tests/certification/session-management/acceptance/application/session-publication-route_test.js
  api/tests/certification/session-management/integration/infrastructure/repositories/v3-certification-course-details-for-administration-repository_test.js
  api/tests/certification/session-management/unit/domain/models/CertificationAssessment_test.js
  api/tests/certification/session-management/unit/domain/models/V3CertificationCourseDetailsForAdministration_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11181 [BUGFIX] Pix Junior indisponible sur d'anciennes version de Safari (PIX-16209)
  junior/app/components/device-warning-modal.gjs
  junior/app/services/device.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#11192 Revert [FEATURE] Prévenir l'utilisateur prescrit sur mobile que son expérience risque d'être dégradée (PIX-16078).
  mon-pix/app/components/campaigns/presentation/alert-mobile-experience-modal.gjs
  mon-pix/app/styles/components/campaigns/index.scss
  mon-pix/app/styles/components/campaigns/presentation/alert-mobile-experience-modal.scss
  mon-pix/app/templates/campaigns/campaign-landing-page.hbs
  mon-pix/tests/integration/components/campaigns/presentation/alert-mobile-experience-modal-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#11137 [FEATURE] Ajouter la forwarded origin HTTP dans un nouvel attribut aud des AC utilisateurs lors du login (par mot de passe et SSO OIDC) (PIX-15928)
  admin/app/adapters/oidc-identity-provider.js
  admin/app/authenticators/oidc.js
  admin/app/routes/authentication/login-oidc.js
  admin/tests/unit/adapters/oidc-identity-provider-test.js
  admin/tests/unit/authenticators/oidc-test.js
  admin/tests/unit/routes/authentication/login-oidc-test.js
  api/src/authorization/domain/constants.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.admin.controller.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.controller.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.route.js
  api/src/identity-access-management/application/token/token.controller.js
  api/src/identity-access-management/domain/models/RefreshToken.js
  api/src/identity-access-management/domain/services/oidc-authentication-service-registry.js
  api/src/identity-access-management/domain/services/oidc-authentication-service.js
  api/src/identity-access-management/domain/usecases/authenticate-oidc-user.usecase.js
  api/src/identity-access-management/domain/usecases/authenticate-user.js
  api/src/identity-access-management/domain/usecases/create-access-token-from-refresh-token.usecase.js
  api/src/identity-access-management/domain/usecases/create-oidc-user.usecase.js
  api/src/identity-access-management/domain/usecases/get-authorization-url.usecase.js
  api/src/identity-access-management/domain/usecases/get-ready-identity-providers.usecase.js
  api/src/identity-access-management/domain/usecases/reconcile-oidc-user-for-admin.usecase.js
  api/src/identity-access-management/domain/usecases/reconcile-oidc-user.usecase.js
  api/src/identity-access-management/infrastructure/repositories/refresh-token.repository.js
  api/src/shared/domain/services/token-service.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.admin.route.test.js
  api/tests/identity-access-management/acceptance/application/oidc-provider.route.test.js
  api/tests/identity-access-management/acceptance/application/token.route.test.js
  api/tests/identity-access-management/integration/domain/services/oidc-authentication-service-registry.test.js
  api/tests/identity-access-management/integration/infrastructure/repositories/refresh-token.repository.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.admin.controller.test.js
  api/tests/identity-access-management/unit/application/oidc-provider.controller.test.js
  api/tests/identity-access-management/unit/application/token.controller.test.js
  api/tests/identity-access-management/unit/domain/models/RefreshToken.test.js
  api/tests/identity-access-management/unit/domain/services/oidc-authentication-service_test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-oidc-user.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-user_test.js
  api/tests/identity-access-management/unit/domain/usecases/create-access-token-from-refresh-token.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/create-oidc-user.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/get-authorization-url.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/get-ready-identity-providers.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/reconcile-oidc-user-for-admin.usecase.test.js
  api/tests/identity-access-management/unit/domain/usecases/reconcile-oidc-user.usecase.test.js
  api/tests/shared/unit/domain/services/token-service_test.js
  api/tests/test-helper.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10070 [FEATURE] Amélioration continue mdl distinguer-vrai-faux-sur-internet - coval 14/10 (MODC-5)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
Labels: contribution-modulix

#11187 [BUGFIX] Corriger le script de suppression en masse des orgas (PIX-16224)
  api/src/organizational-entities/infrastructure/repositories/organization-feature-repository.js
  api/src/organizational-entities/scripts/delete-organizations-script.js
  api/src/school/infrastructure/repositories/school-repository.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-feature-repository_test.js
  api/tests/organizational-entities/unit/scripts/delete-organizations-script.test.js
  api/tests/school/integration/infrastructure/repositories/school-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#10540 [FEATURE] Création d'un module Premiere Marche : utiliser-souris-ordinateur (MODC-350)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/utiliser-souris-ordinateur-1.json
Labels: :rocket: Ready to Merge, contribution-modulix

#11196 [TECH] Corriger la couleurs des bannières sur la page de finalisation sur Pix Certif (PIX-16236).
  certif/app/styles/components/session-finalization-step-container.scss
Labels: :rocket: Ready to Merge, team-certif

#11200 [BUGFIX] Safari ne comprend pas les width:auto (PIX-16206)
  junior/app/styles/components/oralization-button.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#11177 [FEATURE] Ajouter la forwarded origin HTTP dans les tokens utilisateurs lors du login par SSO GAR (PIX-16204)
  api/lib/application/authentication/authentication-controller.js
  api/lib/application/sco-organization-learners/sco-organization-learner-controller.js
  api/lib/domain/usecases/authenticate-external-user.js
  api/lib/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user.js
  api/src/identity-access-management/application/saml/saml.controller.js
  api/src/identity-access-management/domain/usecases/get-saml-authentication-redirection-url.js
  api/src/shared/domain/services/token-service.js
  api/tests/acceptance/application/authentication/authentication-route_test.js
  api/tests/identity-access-management/acceptance/application/saml.route.test.js
  api/tests/identity-access-management/unit/domain/usecases/get-saml-authentication-redirection-url_test.js
  api/tests/shared/integration/domain/services/token-service_test.js
  api/tests/shared/unit/domain/services/token-service_test.js
  api/tests/unit/application/authentication/authentication-controller_test.js
  api/tests/unit/application/sco-organization-learners/sco-organization-learner-controller_test.js
  api/tests/unit/domain/usecases/authenticate-external-user_test.js
  api/tests/unit/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11191 [FEATURE] Ajouter la colonne "internalTitle" dans la table "trainings" (PIX-16222)
  api/db/migrations/20250122131501_add-internal-title-column-to-trainings-table.js
Labels: :rocket: Ready to Merge, team-devcomp

#11151 [FEATURE] Filtrer les organisations en sélectionnant le type (PIX-16125)
  admin/app/components/organizations/list-items.gjs
  admin/tests/acceptance/authenticated/organizations/list-test.js
  admin/tests/integration/components/routes/authenticated/organizations/list-items-test.gjs
  api/src/shared/infrastructure/repositories/organization-repository.js
  api/tests/integration/infrastructure/repositories/organization-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-prescription

#11190 [TECH] Renommer le model "OrganizationImport" en "OrganizationImportStatus" (PIX-15824)
  api/src/prescription/learner-management/domain/models/OrganizationImportStatus.js
  api/src/prescription/learner-management/domain/usecases/handle-payload-too-large-error.js
  api/src/prescription/learner-management/domain/usecases/import-from-feature/send-organization-learners-file.js
  api/src/prescription/learner-management/domain/usecases/upload-csv-file.js
  api/src/prescription/learner-management/domain/usecases/upload-siecle-file.js
  api/src/prescription/learner-management/infrastructure/repositories/organization-import-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/organization-import-repository_test.js
  api/tests/prescription/learner-management/unit/domain/models/OrganizationImportStatus_test.js
  api/tests/prescription/learner-management/unit/domain/models/OrganizationImport_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/handle-payload-too-large-error_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-from-feature/send-organization-learners-file_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-organization-learners-from-siecle-csv-format_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/import-sup-organization-learners_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/replace-sup-organization-learners_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/upload-csv-file_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/upload-siecle-file_test.js
  api/tests/prescription/learner-management/unit/domain/usecases/validate-csv-file_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11146 [TECH] Migrer l'email de reset de mot de passe (PIX-16161)
  api/src/identity-access-management/domain/emails/create-account-creation.email.js
  api/src/identity-access-management/domain/emails/create-reset-password-demand.email.js
  api/src/identity-access-management/domain/emails/create-self-delete-user-account.email.js
  api/src/identity-access-management/domain/usecases/create-reset-password-demand.usecase.js
  api/src/shared/domain/services/mail-service.js
  api/tests/identity-access-management/integration/domain/usecases/create-reset-password-demand.usecase.test.js
  api/tests/identity-access-management/unit/domain/emails/create-account-creation.email.test.js
  api/tests/identity-access-management/unit/domain/emails/create-reset-password-demand.email.test.js
  api/tests/identity-access-management/unit/domain/emails/create-self-delete-user-account.email.test.js
  api/tests/identity-access-management/unit/domain/usecases/create-reset-password-demand.usecase.test.js
  api/tests/shared/unit/domain/services/mail-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11162 [TECH] Migrer le usecase de l'envoi de participation completed dans le BC Prescription (Pix-16197)
  api/lib/domain/events/index.js
  api/lib/domain/usecases/index.js
  api/src/prescription/campaign-participation/application/jobs/participation-completed-job-controller.js
  api/src/prescription/campaign-participation/domain/usecases/send-completed-participation-results-to-pole-emploi.js
  api/tests/prescription/campaign-participation/integration/domain/usecases/send-completed-participation-results-to-pole-emploi_test.js
  api/tests/prescription/campaign-participation/unit/application/jobs/participation-completed-job-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#11209 [FEATURE] Amélioration du feedback (PIX-16096)
  junior/app/components/challenge/challenge-content.gjs
  junior/app/components/challenge/challenge-layout.gjs
  junior/app/components/challenge/challenge.gjs
  junior/app/components/challenge/content/challenge-actions.gjs
  junior/app/styles/components/challenge/challenge-content.scss
  junior/app/styles/components/challenge/challenge-layout.scss
  junior/app/styles/pages/identified/missions/mission.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#11215 [TECH] Ne pas mettre de valeur par défaut dans les builders du learning content lors de la création de seeds
  api/db/database-builder/factory/learning-content/build-area.js
  api/db/database-builder/factory/learning-content/build-challenge.js
  api/db/database-builder/factory/learning-content/build-competence.js
  api/db/database-builder/factory/learning-content/build-course.js
  api/db/database-builder/factory/learning-content/build-framework.js
  api/db/database-builder/factory/learning-content/build-mission.js
  api/db/database-builder/factory/learning-content/build-skill.js
  api/db/database-builder/factory/learning-content/build-thematic.js
  api/db/database-builder/factory/learning-content/build-tube.js
  api/db/database-builder/factory/learning-content/build-tutorial.js
  api/db/database-builder/factory/learning-content/build.js
  api/db/seeds/data/common/learningcontent-builder.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#11183 [FEATURE] Supprimer les liens d'évitements inutiles dans Modulix (PIX-16030)
  mon-pix/app/templates/module/details.hbs
  mon-pix/tests/acceptance/module/visit-module-details-page_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11198 [TECH] Rendre swagger.json disponible via reverse proxy (PIX-16228).
  api/sample.env
  api/src/shared/config.js
  api/src/shared/infrastructure/validate-environment-variables.js
  api/src/shared/swaggers.js
  api/tests/shared/acceptance/application/swaggers_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11199 [FEATURE] Lancer les tests Modulix dans une github action (PIX-16245)
  .github/workflows/test-modulix-content.yaml
Labels: :rocket: Ready to Merge, team-devcomp, contribution-modulix

#11115 [TECH] Nouveau système de feature toggles
  api/config/feature-toggles-config.js
  api/index.js
  api/package-lock.json
  api/package.json
  api/src/shared/application/feature-toggles/feature-toggle-controller.js
  api/src/shared/infrastructure/feature-toggles/feature-toggles-client.js
  api/src/shared/infrastructure/feature-toggles/feature-toggles-script.js
  api/src/shared/infrastructure/feature-toggles/index.js
  api/src/shared/infrastructure/feature-toggles/pix-env-var-provider.js
  api/src/shared/infrastructure/key-value-storages/index.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
  api/tests/shared/integration/infrastructure/feature-toggles/feature-toggles.test.js
  api/tests/shared/integration/infrastructure/feature-toggles/feature-toggles_test.js
  api/tests/shared/unit/infrastructure/feature-toggles/feature-toggles-client.test.js
  api/tests/test-helper.js
  api/worker.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team

#11204 [FEATURE] Envoi automatique de la réponse pour les embed avec auto-validation (PIX-16156)
  api/src/school/infrastructure/serializers/challenge-serializer.js
  api/tests/school/unit/infrastructure/serializers/challenge-serializer_test.js
  junior/app/components/challenge/challenge-content.gjs
  junior/app/components/challenge/challenge.gjs
  junior/app/components/challenge/content/auto-reply.js
  junior/app/models/challenge.js
  junior/tests/acceptance/display-challenge-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#11193 [BUGFIX] Pose d'un verrou pour limiter la création de challenge en certification (PIX-16165)
  api/src/certification/evaluation/application/api/models/CertificationAssessmentIdentifier.js
  api/src/certification/evaluation/application/api/select-next-certification-challenge-api.js
  api/src/certification/evaluation/domain/usecases/get-next-challenge.js
  api/src/certification/evaluation/infrastructure/repositories/assessment-repository.js
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/infrastructure/repositories/certification-challenge-repository.js
  api/src/shared/infrastructure/repositories/index.js
  api/tests/certification/evaluation/integration/application/api/select-next-certification-challenge-api_test.js
  api/tests/certification/evaluation/integration/infrastructure/repositories/assessment-repository_test.js
  api/tests/certification/evaluation/unit/application/api/select-next-certification-challenge-api_test.js
  api/tests/shared/integration/infrastructure/repositories/certification-challenge-repository_test.js
  api/tests/shared/unit/application/assessments/assessment-controller-get-next-challenge_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11224 [FEATURE] mise à jour tracked-built-ins (PIX-16267)
  junior/package-lock.json
  junior/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#11223 [FEATURE] Montée de version qunit (PIX-16624)
  junior/package-lock.json
  junior/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, 🎒👧🏽👦🏾 PIX JUNIOR

#10893 [FEATURE] Create Module utiliser-souris-ordinateur-2.json (MODC-194)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/utiliser-souris-ordinateur-2.json
Labels: :rocket: Ready to Merge, contribution-modulix

#11221 [FEATURE] Monté de version webPack (PIX-16263)
  junior/package-lock.json
  junior/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#11217 [TECH] Mise à jour des dépendances de lint, prettier et sass (PIX-16261)
  junior/package-lock.json
  junior/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#10891 [FEATURE] Màj feedback module adresse-ip-publique-et-vous
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
Labels: :rocket: Ready to Merge, contribution-modulix

#11219 [TECH] Mise à jour des dépendances ember optional-features et embroider (PIX-16262)
  junior/package-lock.json
  junior/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#11201 [FEATURE] Ajouter une modale de confirmation des invitations sur Pix Orga (pix-14535)
  high-level-tests/e2e/cypress/support/step_definitions/member.js
  orga/app/components/team/invite-form.hbs
  orga/app/components/team/invite-form.js
  orga/app/styles/app.scss
  orga/app/styles/components/team/invite-form.scss
  orga/app/styles/pages/authenticated/team/new.scss
  orga/tests/acceptance/team-creation-test.js
  orga/tests/integration/components/team/invite-form-test.js
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: :rocket: Ready to Merge, team-acces

#11226 [TECH] Retirer le script de suppression en masse d'organisations (PIX-16269)
  api/src/organizational-entities/infrastructure/repositories/data-protection-officer.repository.js
  api/src/organizational-entities/infrastructure/repositories/organization-feature-repository.js
  api/src/organizational-entities/infrastructure/repositories/organization-for-admin.repository.js
  api/src/organizational-entities/infrastructure/repositories/organization-tag.repository.js
  api/src/organizational-entities/scripts/delete-organizations-script.js
  api/src/school/infrastructure/repositories/school-repository.js
  api/tests/organizational-entities/integration/infrastructure/repositories/data-protection-officer.repository.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-feature-repository_test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin.repository.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-tag.repository.test.js
  api/tests/organizational-entities/unit/scripts/delete-organizations-script.test.js
  api/tests/school/integration/infrastructure/repositories/school-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#11232 [BUGFIX] Autoriser un temps de réponse plus long pour le ping Companion (PIX-16287)
  mon-pix/app/services/pix-companion.js
  mon-pix/tests/unit/services/pix-companion-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-companion

#11145 [FEATURE] Améliorer la page de détails de résultats thématique (PIX-16154).
  admin/app/components/badges/badge.gjs
  admin/app/components/badges/campaign-criterion.gjs
  admin/app/styles/components/badges/badge.scss
  admin/tests/acceptance/authenticated/target-profiles/target-profile/insights-test.js
  admin/tests/integration/components/badges/badge-test.gjs
  admin/tests/integration/components/badges/campaign-criterion-test.gjs
  admin/tests/unit/components/badges/badge-test.js
  api/src/evaluation/domain/models/Badge.js
  api/tests/evaluation/unit/domain/models/Badge_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation

#11207 [FEATURE] Ajouter la forwarded origin HTTP pour les parcours autonomes anonymes (PIX-16244)
  api/src/identity-access-management/application/token/token.controller.js
  api/src/identity-access-management/domain/usecases/authenticate-anonymous-user.usecase.js
  api/src/shared/domain/services/token-service.js
  api/tests/identity-access-management/acceptance/application/token.route.test.js
  api/tests/identity-access-management/unit/application/token.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-anonymous-user.usecase.test.js
  api/tests/shared/unit/domain/services/token-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11189 [TECH] Suppression de la mise en cache sur certaines routes pour gérer le cache par Baleen
  api/src/banner/application/banner-route.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.route.js
  api/src/shared/application/feature-toggles/index.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-captains, cross-team

#11233 [FEATURE] Ajout de puces dynamiques à la page de résultat d'une mission (PIX-16278)
  junior/app/controllers/assessment/results.js
  junior/app/styles/pages/identified/missions/mission.scss
  junior/app/templates/assessment/results.hbs
  junior/public/images/icons/not-valid.svg
  junior/public/images/icons/valid.svg
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#11227 [FEATURE] Ajouter un affichage dans le cas ou il n'y a pas de données de statistiques Pix Orga (PIX-16229)
  orga/app/components/statistics/index.gjs
  orga/tests/integration/components/statistics/index-test.gjs
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11228 [FEATURE] Permettre de télécharger le kit dans l'espace surveillant sur Pix Certif (PIX-16250).
  api/src/certification/session-management/application/invigilator-kit-route.js
  api/src/certification/session-management/application/pre-handlers/authorization.js
  api/tests/acceptance/application/session/session-controller-get-supervisor-kit-PDF_test.js
  api/tests/certification/session-management/integration/application/pre-handlers/authorization_test.js
  api/tests/certification/session-management/unit/application/invigilator-kit-route_test.js
  certif/app/components/session-supervising/header.hbs
  certif/app/components/sessions/session-details/controls-links.gjs
  certif/app/controllers/session-supervising.js
  certif/app/styles/components/session-supervising/header.scss
  certif/app/templates/session-supervising.hbs
  certif/tests/integration/components/session-supervising/header-test.js
  certif/tests/unit/controllers/session-supervising-test.js
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif
