Repository 1024pix/pix, pull requests merged in 2025-04, with the labels that each got.

#11907 [TECH] Migrer la route PATCH /api/organizations/{id}/resend-invitation vers /src (PIX-17259)
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/src/team/application/organization-invitations/organization-invitation.controller.js
  api/src/team/application/organization-invitations/organization-invitation.route.js
  api/src/team/domain/usecases/resend-organization-invitation.usecase.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
  api/tests/team/acceptance/application/organization-invitations/organization-invitation.route.test.js
  api/tests/team/integration/domain/usecases/resend-organization-invitation.usecase.test.js
  api/tests/unit/domain/usecases/resend-organization-invitation_test.js
Labels: :rocket: Ready to Merge, team-acces, Bounded-context-migration

#11803 [FEATURE] Pix Junior - Limitation de la largeur du contenu affiché sur grand écran (PIX-16978)
  junior/app/components/challenge/challenge-layout.gjs
  junior/app/components/challenge/challenge.gjs
  junior/app/components/challenge/content/qrocm.gjs
  junior/app/components/header.gjs
  junior/app/components/width-limited-content.gjs
  junior/app/styles/app.scss
  junior/app/styles/components/challenge/challenge-layout.scss
  junior/app/styles/components/header.scss
  junior/app/styles/components/width-limited-content.scss
  junior/app/templates/assessment/results.hbs
  junior/app/templates/identified/missions/list.hbs
  junior/app/templates/identified/missions/mission/index.hbs
  junior/app/templates/identified/missions/mission/introduction.hbs
  junior/app/templates/organization-code.hbs
  junior/app/templates/school/divisions.hbs
  junior/app/templates/school/students.hbs
  junior/tests/acceptance/access-school-test.js
  junior/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, Design Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#11911 [FEATURE] Améliorer le style de la page de vérification de certif (PIX-17278).
  mon-pix/app/components/certification-verification-code-form.gjs
  mon-pix/app/styles/pages/_fill-in-certificate-verification-code.scss
  mon-pix/app/templates/fill-in-certificate-verification-code.hbs
  mon-pix/tests/integration/components/certification-verification-code-form-test.gjs
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#11855 [BUGFIX] La tooltip au niveau du parcours dans les paramètres de campagne n'affiche pas les bonnes informations (PIX-17032)
  api/src/prescription/campaign/application/campaign-detail-controller.js
  api/src/prescription/campaign/application/campaign-detail-route.js
  api/src/prescription/campaign/domain/usecases/get-target-profile.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/domain/usecases/start-writing-campaign-assessment-results-to-stream.js
  api/src/prescription/campaign/infrastructure/repositories/index.js
  api/src/prescription/campaign/infrastructure/repositories/target-profile-repository.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/campaign-report-serializer.js
  api/src/prescription/campaign/infrastructure/serializers/jsonapi/target-profile-serializer.js
  api/src/prescription/target-profile/application/api/target-profile-api.js
  api/src/prescription/target-profile/domain/usecases/get-target-profile.js
  api/tests/prescription/campaign/acceptance/application/campaign-detail-route_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/target-profile-repository_test.js
  api/tests/prescription/campaign/unit/application/campaign-detail-controller_test.js
  api/tests/prescription/campaign/unit/application/campaign-detail-route_test.js
  api/tests/prescription/campaign/unit/domain/usecases/get-target-profile_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/jsonapi/campaign-report-serializer_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/jsonapi/target-profile-serializer_test.js
  api/tests/prescription/target-profile/acceptance/application/api/target-profile-api_test.js
  api/tests/prescription/target-profile/unit/application/api/target-profile-api_test.js
  orga/app/components/campaign/settings/target-profile-tooltip.gjs
  orga/app/components/campaign/settings/view.gjs
  orga/tests/integration/components/campaign/settings/view-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11906 [TECH] Ajouter des élèves pour les seeds de Certif (cas sco managing student) (PIX-17252).
  api/db/seeds/data/team-certification/cases/simple-sco-managing-students-certification.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#11879 [FEATURE] Ajoute la validation sur le système de quêtes (PIX-17236)
  admin/app/components/administration/block-layout.gjs
  admin/app/components/administration/common/upsert-quests-in-batch.gjs
  admin/app/modifiers/scroll-to.js
  admin/app/styles/components/administration/index.scss
  admin/app/styles/components/administration/upsert-quests-in-batch.scss
  admin/tests/integration/components/administration/common/upsert-quests-in-batch-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
  api/src/quest/domain/models/Criterion.js
  api/src/quest/domain/models/CriterionProperty.js
  api/src/quest/domain/models/Quest.js
  api/src/quest/domain/models/Requirement.js
  api/src/shared/application/error-manager.js
  api/src/shared/domain/errors.js
  api/tests/quest/acceptance/application/quest-route_test.js
  api/tests/quest/integration/domain/usecases/create-or-update-quests-in-batch_test.js
  api/tests/quest/unit/domain/models/CriterionProperty_test.js
  api/tests/quest/unit/domain/models/Criterion_test.js
  api/tests/quest/unit/domain/models/Quest_test.js
  api/tests/quest/unit/domain/models/Requirement_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-noa(h)

#11922 [TECH] Créer un feature toggle pour la nouvelle page d'analyse de campagne (PIX-17025)
  api/config/feature-toggles-config.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
  orga/app/models/feature-toggle.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#11851 [FEATURE] [Pix Admin] Si la date de dernière connexion est vide afficher le message « Non connecté depuis 03/2025 » + renommer l’onglet « Méthodes de connexion » (PIX-17109)
  admin/app/components/certification-centers/membership-item.gjs
  admin/app/components/organizations/member-item.gjs
  admin/app/components/users/certification-centers/membership-item.gjs
  admin/app/components/users/user-detail-personal-information/authentication-method.gjs
  admin/app/components/users/user-organization-memberships.gjs
  admin/app/components/users/user-overview.gjs
  admin/app/styles/components/users/user-overview.scss
  admin/app/templates/authenticated/users/get.hbs
  admin/tests/acceptance/authenticated/users/get-test.js
  admin/tests/integration/components/certification-centers/membership-item-test.gjs
  admin/tests/integration/components/organizations/member-item-test.gjs
  admin/tests/integration/components/users/certification-centers/membership-item-test.gjs
  admin/tests/integration/components/users/user-detail-personal-information/authentication-method-test.gjs
  admin/tests/integration/components/users/user-organization-memberships-test.gjs
  admin/tests/integration/components/users/user-overview-test.gjs
  admin/translations/en.json
  admin/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11928 [FEATURE] Ajouter les attributs d'archivage d'un centre de certification (PIX-16748)
  api/db/database-builder/factory/build-certification-center.js
  api/db/migrations/20250401070307_add_archive_attributes_columns_to_certification_centers.js
  api/tests/tooling/domain-builder/factory/build-certification-center.js
Labels: :rocket: Ready to Merge, team-acces

#11876 [BUGFIX] Ajout d'un script pour finaliser des sessions pas entièrement finalisées (PIX-16785).
  api/scripts/certification/fix-not-fully-finalized-session.js
  api/tests/integration/scripts/certification/fix-not-fully-finalized-session_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#11939 [BUGFIX] MaDDo - Ne pas échouer la réplication si une nouvelle colonne est ajoutée dans la table source
  api/src/maddo/infrastructure/repositories/replication-repository.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-maddo

#11914 [FEATURE] Ajustements des marges et couleurs de fond après la mise à jour de la nav du Pix -Admin (PIX-17276)
  admin/app/components/certification-centers/invitations-action.gjs
  admin/app/components/certification-centers/invitations-action.scss
  admin/app/components/complementary-certifications/target-profiles/badges-list.gjs
  admin/app/components/complementary-certifications/target-profiles/history.gjs
  admin/app/styles/authenticated/certification-center/index.scss
  admin/app/styles/authenticated/organizations/get.scss
  admin/app/styles/components/trainings/training-target-profiles-tab.scss
  admin/app/styles/globals/page.scss
  admin/app/templates/authenticated/trainings/training/target-profiles.hbs
Labels: :rocket: Ready to Merge, cross-team

#11866 [FEATURE] Revoir le design de la page d'erreur (PIX-17054).
  mon-pix/app/styles/pages/_error.scss
  mon-pix/app/templates/error.hbs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Design Review OK, cross-team

#11916 [FEATURE] Splitter le diagnostic et le constat d'un feedback (PIX-16579)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bac-a-sable.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bases-clavier-ordinateur-1.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bases-clavier-ordinateur-2.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/chatgpt-vraiment-neutre.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/comment-envoyer-un-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/controle-parental.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/decouverte-de-l-ent.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/jeux-video-enfant.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/tmp08ef.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/tri-multicritere-tableau.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/utiliser-souris-ordinateur-1.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/utiliser-souris-ordinateur-2.json
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/qcm.sample.js
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/qcu.sample.js
  api/src/devcomp/infrastructure/datasources/learning-content/samples/elements/qrocm.sample.js
  api/tests/devcomp/acceptance/application/passages/passage-controller_test.js
  api/tests/devcomp/unit/domain/models/EmbedCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/QcmCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/QcuCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/QrocmCorrectionResponse_test.js
  api/tests/devcomp/unit/domain/models/element/QCM-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QCU-for-answer-verification_test.js
  api/tests/devcomp/unit/domain/models/element/QROCM-for-answer-verification_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/feedback-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/qcm-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/qcu-schema.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/element/qrocm-schema.js
  api/tests/devcomp/unit/infrastructure/factories/element-for-verification-factory_test.js
  api/tests/devcomp/unit/infrastructure/factories/module-factory_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/correction-response-serializer_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/element-answer-serializer_test.js
  mon-pix/app/components/module/element/qcm.gjs
  mon-pix/app/components/module/element/qcu.gjs
  mon-pix/app/components/module/element/qrocm.gjs
  mon-pix/app/components/module/feedback.gjs
  mon-pix/app/models/correction-response.js
  mon-pix/tests/acceptance/module/retake_completed_module_test.js
  mon-pix/tests/acceptance/module/retry-qcm_test.js
  mon-pix/tests/acceptance/module/retry-qcu_test.js
  mon-pix/tests/acceptance/module/retry-qrocm_test.js
  mon-pix/tests/acceptance/module/verify-qcm_test.js
  mon-pix/tests/acceptance/module/verify-qcu_test.js
  mon-pix/tests/acceptance/module/verify-qrocm_test.js
  mon-pix/tests/integration/components/module/feedback_test.gjs
  mon-pix/tests/integration/components/module/grain_test.gjs
  mon-pix/tests/integration/components/module/qcm_test.gjs
  mon-pix/tests/integration/components/module/qcu_test.gjs
  mon-pix/tests/integration/components/module/qrocm_test.gjs
  mon-pix/tests/integration/components/module/stepper_test.gjs
  mon-pix/tests/unit/models/modules/passage-test.js
Labels: :rocket: Ready to Merge, team-devcomp

#11921 [TECH] Corrige les tests n'utilisant pas correctement l'assert throw.
  api/tests/certification/session-management/unit/domain/services/session-publication-service_test.js
  api/tests/certification/shared/unit/domain/validators/session-validator_test.js
  api/tests/devcomp/integration/infrastructure/repositories/user-recommended-training-repository_test.js
  api/tests/evaluation/unit/domain/services/scorecard-service_test.js
  api/tests/integration/scripts/helpers/csvHelpers_test.js
  api/tests/organizational-entities/unit/domain/validators/certification-center-creation.validator.test.js
  api/tests/organizational-entities/unit/domain/validators/organization-creation-validator_test.js
  api/tests/prescription/campaign-participation/unit/application/pole-emploi-controller_test.js
  api/tests/prescription/campaign/unit/domain/usecases/create-campaigns_test.js
  api/tests/prescription/campaign/unit/domain/validators/campaign-update-validator_test.js
  api/tests/prescription/learner-management/unit/domain/models/ImportOrganizationLearnerSet_test.js
  api/tests/prescription/target-profile/unit/domain/validators/creation-command-validation_test.js
  api/tests/shared/unit/application/validator/checkOrganizationHasFeature_test.js
  api/tests/shared/unit/domain/validators/password-validator_test.js
  api/tests/shared/unit/domain/validators/user-validator_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#11915 [BUGFIX] Réparer les tables des listes de sessions (PIX-17279).
  admin/app/controllers/authenticated/sessions/list.js
  admin/app/controllers/authenticated/sessions/list/with-required-action.js
  admin/app/routes/authenticated/sessions/list.js
  admin/app/routes/authenticated/sessions/list/all.js
  admin/app/routes/authenticated/sessions/list/to-be-published.js
  admin/app/routes/authenticated/sessions/list/with-required-action.js
  admin/app/templates/authenticated/sessions/list.hbs
  admin/tests/unit/routes/authenticated/sessions/list-test.js
  admin/tests/unit/routes/authenticated/sessions/list/all-test.js
  admin/tests/unit/routes/authenticated/sessions/list/to-be-published-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11937 [FEATURE] Améliorer Design et traductions page de début / fin de parcours(PIX-17263)(PIX-17288)
  mon-pix/app/components/campaign-start-block.hbs
  mon-pix/app/styles/components/_training-card.scss
  mon-pix/app/styles/components/campaigns/assessment/results/evaluation-shared-results-modal.scss
  mon-pix/app/styles/pages/_campaign-landing-page.scss
  mon-pix/tests/integration/components/campaigns/assessment/results/evaluation-shared-results-modal-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-devcomp

#11938 FEATURE - modif clavier 1 & 2 : ajout des fiches de revisions
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bases-clavier-ordinateur-1.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bases-clavier-ordinateur-2.json
Labels: :rocket: Ready to Merge, contribution-modulix

#11936 [TECH] Créer une migration pour supprimer la contrainte userId et snappedAt dans la table knowledge-element-snapshots et rendre ces 2 colones nullables (PIX-17211)
  api/db/migrations/20250402075613_update-knowledge-element-snapshots-table.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11861 [FEATURE] Modifier l'interface de la double mire SSO pour inclure toutes les données récupérées des utilisateurs (PIX-16303)
  admin/app/routes/authentication/login-oidc.js
  admin/tests/unit/routes/authentication/login-oidc-test.js
  api/src/identity-access-management/application/oidc-provider/oidc-provider.controller.js
  api/src/identity-access-management/domain/usecases/authenticate-oidc-user.usecase.js
  api/tests/identity-access-management/unit/application/oidc-provider.controller.test.js
  api/tests/identity-access-management/unit/domain/usecases/authenticate-oidc-user.usecase.test.js
  mon-pix/app/components/authentication/login-or-register-oidc.hbs
  mon-pix/app/components/authentication/login-or-register-oidc.js
  mon-pix/app/controllers/authentication/login-or-register-oidc.js
  mon-pix/app/routes/authentication/login-oidc.js
  mon-pix/app/templates/authentication/login-or-register-oidc.hbs
  mon-pix/mirage/routes/authentication/oidc/index.js
  mon-pix/tests/acceptance/authentication/login-or-register-oidc-test.js
  mon-pix/tests/acceptance/oidc/start-campaigns-workflow-for-oidc-partner-test.js
  mon-pix/tests/integration/components/authentication/login-or-register-oidc-test.js
  mon-pix/tests/unit/controllers/authentication/login-or-register-oidc-test.js
  mon-pix/tests/unit/routes/authentication/login-oidc-test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11958 [BUGFIX] Corriger la sélection de question lorsqu'une alerte est levée (PIX-17349).
  api/src/shared/domain/usecases/get-next-challenge.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get-next-challenge-for-certification_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11957 [BUGFIX] Réparer les réplications parcoursup
  api/datamart/migrations/20250403125002_remove_useless_columns.js
  api/datamart/seeds/cases/verification-code/verification-code-only.js
  api/src/maddo/infrastructure/repositories/replication-repository.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-maddo

#11934 [FEATURE] Autoriser un participant avec une participation précédente supprimée à re-participer (PIX-15809)
  api/src/prescription/campaign-participation/domain/models/CampaignParticipant.js
  api/tests/prescription/campaign-participation/unit/domain/models/CampaignParticipant_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11802 [BUGFIX] Pix Junior - Affichage des puces sur la liste des objectifs d'une mission (PIX-16943)
  junior/app/styles/pages/identified/missions/mission.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, Design Review OK, 🎒👧🏽👦🏾 PIX JUNIOR

#11913 [TECH] :recycle: Execute le rescoring par script en synchrone (PIX-17242)
  api/scripts/certification/rescore-certifications.js
  api/src/certification/session-management/application/jobs/certification-rescoring-by-script-job-controller.js
  api/src/certification/session-management/infrastructure/repositories/jobs/certification-rescoring-by-script-job-repository.js
  api/tests/certification/session-management/integration/infrastructure/repositories/jobs/certification-rescoring-by-script-job-repository_test.js
  api/tests/integration/scripts/certification/rescore-certifications_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11963 [FEATURE] Créer le FT pour le nouveau certificat en ligne V3 (PIX-17328).
  api/config/feature-toggles-config.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11630 [BUGFIX] Mettre à jour et rajouter les attributs nécessaire sur la navbar de Pix app (PIX-16773)
  mon-pix/app/components/global/app-navigation.gjs
  mon-pix/package-lock.json
  mon-pix/package.json
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-prescription, Design Review OK, cross-team

#11964 [TECH] ajoute une contrainte d'unicité pour `campaignParticipationId` sur `knowledge-element-snapshot` (pix-17358)
  api/db/migrations/20250403142506_add-campaign-participation-id-unicity-constraint-on-snapshot.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11894 [BUGFIX] Quelques menues corrections suite au recettage des nouveaux gabarits (PIX-17255).
  mon-pix/app/components/certification-banners/congratulations-certification-banner.hbs
  mon-pix/app/components/hexagon-score.hbs
  mon-pix/app/components/scorecard-details.hbs
  mon-pix/app/components/training/header.hbs
  mon-pix/app/components/tutorials/card.hbs
  mon-pix/app/styles/components/_congratulations-certification-banner.scss
  mon-pix/app/styles/components/_scorecard-details.scss
  mon-pix/app/styles/components/ui/_page-header.scss
  mon-pix/app/styles/globals/_layout.scss
  mon-pix/app/styles/pages/_user-trainings.scss
  mon-pix/app/templates/authenticated/user-account.hbs
  mon-pix/tests/acceptance/user-trainings-test.js
  mon-pix/translations/fr.json
Labels: :rocket: Ready to Merge, Design Review OK, cross-team

#11979 [TECH] Corrige un test sur PixOrga qui casse en local et pas sur la CI.
  orga/tests/integration/components/participant/assessment/results-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#11975 [TECH] Ne plus demander de reviews de devcomp à la modification du référentiel (PIX-17006)
  .github/CODEOWNERS
Labels: Tech Review OK, :rocket: Ready to Merge, no-review-app, team-devcomp

#11985 [BUGFIX] Augmentation du délai maximum du job de réplication (MADDO).
  api/src/maddo/application/jobs/replication-job-controller.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-maddo

#11960 [FEATURE] Ajustements de la traduction en NL pour Accès (PIX-17357)
  mon-pix/tests/integration/components/data-protection-policy-information-banner-test.js
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11965 [TECH] arrêter d'utiliser les champs userId / snappedAt (Pix-17286)
  api/db/database-builder/factory/build-knowledge-element-snapshot.js
  api/db/database-builder/factory/knowledge-elements-snapshot-factory.js
  api/db/seeds/data/common/tooling/campaign-tooling.js
  api/scripts/prod/generate-knowledge-element-snapshots-for-campaigns.js
  api/scripts/prod/populate-campaign-participation-id-in-knowledge-element-snapshot.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/campaign/application/api/knowledge-element-snapshots-api.js
  api/src/prescription/campaign/domain/usecases/save-knowledge-element-snapshot-for-participation.js
  api/src/prescription/campaign/infrastructure/repositories/knowledge-element-snapshot-repository.js
  api/src/prescription/scripts/add-missing-knowledge-element-snapshots.js
  api/tests/evaluation/integration/domain/usecases/get-next-challenge-for-campaign-assessment_test.js
  api/tests/evaluation/integration/domain/usecases/handle-badge-acquisition_test.js
  api/tests/evaluation/integration/domain/usecases/handle-stage-acquisition_test.js
  api/tests/evaluation/integration/domain/usecases/save-and-correct-answer-for-campaign_test.js
  api/tests/integration/scripts/prod/clean-ke-snapshots_test.js
  api/tests/integration/scripts/prod/compute-participation-results_test.js
  api/tests/integration/scripts/prod/generate-knowledge-element-snapshots-for-campaigns_test.js
  api/tests/integration/scripts/prod/populate-campaign-participation-id-in-knowledge-element-snapshot_test.js
  api/tests/prescription/campaign-participation/acceptance/application/campaign-participation-route_test.js
  api/tests/prescription/campaign-participation/integration/domain/usecases/get-user-campaign-assessment-result_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-analysis-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-result-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-profile-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/participant-result-repository_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/participant-results-shared-repository_test.js
  api/tests/prescription/campaign/acceptance/application/campaign-results-route_test.js
  api/tests/prescription/campaign/integration/domain/usecases/save-knowledge-element-snapshot-for-participation_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-assessment-results-to-stream_test.js
  api/tests/prescription/campaign/integration/domain/usecases/start-writing-campaign-profiles-collection-results-to-stream_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-collective-result-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-profiles-collection-participation-summary-repository_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/knowledge-element-snapshot-repository_test.js
  api/tests/prescription/campaign/unit/application/api/knowledge-element-snapshots-api_test.js
  api/tests/prescription/scripts/add-missing-knowledge-element-snapshots_test.js
  api/tests/shared/integration/domain/services/placement-profile-service_test.js
  api/tests/shared/integration/infrastructure/repositories/knowledge-element-repository_test.js
  high-level-tests/e2e/cypress/fixtures/knowledge-element-snapshots.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#11971 [FEATURE] Créer la nouvelle page de certification (vide) sur Pix App (PIX-17337).
  mon-pix/app/components/certifications/shared/v2-certification.gjs
  mon-pix/app/components/certifications/shared/v3-certification.gjs
  mon-pix/app/components/certifications/user-certifications-detail-competence.hbs
  mon-pix/app/components/certifications/user-certifications-detail-competence.js
  mon-pix/app/components/certifications/user-certifications-detail-competences-list.hbs
  mon-pix/app/components/certifications/user-certifications-detail-competences-list.js
  mon-pix/app/components/certifications/user-certifications-detail-header.hbs
  mon-pix/app/components/certifications/user-certifications-detail-header.js
  mon-pix/app/components/certifications/user-certifications-detail-result.hbs
  mon-pix/app/components/certifications/user-certifications-hexagon-score.hbs
  mon-pix/app/controllers/shared-certification.js
  mon-pix/app/models/feature-toggle.js
  mon-pix/app/styles/pages/_user-certifications-get.scss
  mon-pix/app/templates/authenticated/user-certifications/get.hbs
  mon-pix/app/templates/shared-certification.hbs
  mon-pix/mirage/routes/post-shared-certifications.js
  mon-pix/tests/acceptance/shared-certification-test.js
  mon-pix/tests/integration/components/certifications/shared/v2-certification-test.gjs
  mon-pix/tests/integration/components/user-certifications-detail-competence-test.js
  mon-pix/tests/integration/components/user-certifications-detail-competences-list-test.js
  mon-pix/tests/integration/components/user-certifications-detail-header-test.js
  mon-pix/tests/integration/components/user-certifications-detail-result-test.js
  mon-pix/tests/unit/components/certification/user-certifications-detail-header-test.js
  mon-pix/tests/unit/controllers/shared-certification-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif, Design Review OK

#11986 [FEATURE] Modifier le wording du lien pour interpréter les résultats de la certification sur Pix App (PIX-17380).
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#11988 [TECH] Supprimer la mention attestation dans le nom du PDF de la certification (PIX-17409).
  api/src/certification/results/application/certification-attestation-controller.js
  api/tests/certification/evaluation/acceptance/application/certification-attestation-route_test.js
  api/tests/certification/results/unit/application/certification-attestation-controller_test.js
  api/translations/en.json
  api/translations/es.json
  api/translations/fr.json
  api/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#11994 [BUGFIX] Ajouter la dependance manquante codeGenerator dans les injections de dépendances pour les usecases (PIX-17417)
  api/src/organizational-entities/domain/usecases/index.js
  api/tests/organizational-entities/integration/domain/usecases/create-organization_test.js
  api/tests/test-helper.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#11982 [FEATURE] Corrections design sur la page d'affichage du Certificat Pix (PIX-17056).
  mon-pix/app/styles/components/_user-certifications-detail-header.scss
  mon-pix/app/styles/components/_user-certifications-detail-result.scss
  mon-pix/app/styles/pages/_user-certifications-get.scss
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces, team-certif

#11977 [FEATURE] Ajouter le champ moduleId au script get-modules-csv (PIX-17219)
  api/scripts/modulix/get-modules-csv.js
  api/tests/devcomp/acceptance/scripts/get-modules-csv_test.js
  api/tests/devcomp/unit/scripts/get-modules-csv_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#11959 [TECH] Migrer la route GET /api/admin/organizations (PIX-17348)
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/lib/domain/usecases/find-paginated-filtered-organizations.js
  api/src/organizational-entities/application/organization/organization.admin.controller.js
  api/src/organizational-entities/application/organization/organization.admin.route.js
  api/src/organizational-entities/domain/usecases/find-paginated-filtered-organizations.usecase.js
  api/src/organizational-entities/infrastructure/repositories/organization-for-admin.repository.js
  api/src/shared/infrastructure/repositories/organization-repository.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
  api/tests/integration/application/organizations/index_test.js
  api/tests/integration/infrastructure/repositories/organization-repository_test.js
  api/tests/organizational-entities/acceptance/application/organization/organization.admin.route.test.js
  api/tests/organizational-entities/integration/application/organization/organization.admin.route.test.js
  api/tests/organizational-entities/integration/domain/usecases/find-paginated-filtered-organizations.usecase.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin.repository.test.js
  api/tests/unit/application/organizations/index_test.js
  api/tests/unit/application/organizations/organization-controller_test.js
  api/tests/unit/domain/usecases/find-paginated-filtered-organizations_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#11980 [FEATURE] Déplacer le simulateur de scoring certif dans les outils (PIX-17393).
  admin/app/components/administration/certification/index.gjs
  admin/app/components/layout/menu-bar/index.gjs
  admin/app/components/layout/sidebar.gjs
  admin/app/components/tools/campaigns.gjs
  admin/app/components/tools/certification.gjs
  admin/app/components/tools/certification/scoring-simulator.gjs
  admin/app/components/tools/junior.gjs
  admin/app/controllers/authenticated/tools.js
  admin/app/router.js
  admin/app/routes/authenticated/tools.js
  admin/app/routes/authenticated/tools/campaigns.js
  admin/app/routes/authenticated/tools/certification.js
  admin/app/routes/authenticated/tools/index.js
  admin/app/routes/authenticated/tools/junior.js
  admin/app/services/access-control.js
  admin/app/styles/components/administration/certification/scoring-simulator.scss
  admin/app/templates/authenticated/tools.hbs
  admin/app/templates/authenticated/tools/campaigns.hbs
  admin/app/templates/authenticated/tools/certification.hbs
  admin/app/templates/authenticated/tools/junior.hbs
  admin/tests/acceptance/administration-test.js
  admin/tests/acceptance/tools-test.js
  admin/tests/integration/components/layout/sidebar_test.gjs
  admin/tests/integration/components/tools/certification/scoring-simulator-test.gjs
  admin/tests/unit/components/administration/certification/scoring-simulator-test.js
  admin/tests/unit/components/tools/campaigns-test.js
  admin/tests/unit/routes/authenticated/tools-test.js
  admin/translations/en.json
  admin/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11890 [TECH] Réduit la violation de contexte restreint entre évaluation et devcomp
  api/src/devcomp/domain/usecases/find-tutorials.js
  api/src/evaluation/application/scorecards/scorecard-controller.js
  api/tests/devcomp/unit/domain/usecases/find-tutorials_test.js
  api/tests/evaluation/unit/application/scorecards/scorecard-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, team-devcomp

#11991 [BUGFIX] Couper les cellules avec des mots trop longs dans la liste des sessions certif (PIX-17378).
  certif/app/components/sessions/session-list.gjs
  certif/app/styles/globals/tables.scss
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#12000 [FEATURE] Ajouter le champ moduleId dans get-elements-csv (PIX-17405)
  api/scripts/modulix/get-elements-csv.js
  api/tests/devcomp/acceptance/scripts/get-elements-csv_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#12003 [BUGFIX] Augmentation du délai maximum du job de réplication (MADDO).
  api/src/maddo/application/jobs/replication-job-controller.js
  api/src/maddo/infrastructure/repositories/jobs/replication-job-repository.js
Labels: :rocket: Ready to Merge, team-maddo

#11998 [TECH] Supprimer la dépendance à `ember-fetch` dans Pix App.
  mon-pix/app/authenticators/anonymous.js
  mon-pix/app/authenticators/oidc.js
  mon-pix/app/routes/authentication/login-oidc.js
  mon-pix/app/services/file-saver.js
  mon-pix/package-lock.json
  mon-pix/package.json
  mon-pix/tests/acceptance/oidc/oidc-authentication-flow-test.js
  mon-pix/tests/acceptance/oidc/start-campaigns-workflow-for-oidc-partner-test.js
  mon-pix/tests/integration/components/challenge/content-test.js
  mon-pix/tests/unit/authenticators/oidc-test.js
  mon-pix/tests/unit/routes/authentication/login-oidc-test.js
  mon-pix/tests/unit/services/file-saver-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#11970 [TECH] Supprimer les colones userId et snappedAt de knowledge-element-snapshots (PIX-17212)
  api/db/migrations/20250404132619_remove-userId-and-snappedAt-columns-from-knowledge-element-snapshots-table.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#12007 [FEATURE] Ajouter ModuleId dans le script get-proposals-csv (PIX-17406)
  api/scripts/modulix/get-proposals-csv.js
  api/scripts/modulix/utils/get-answerable-elements.js
  api/tests/devcomp/acceptance/scripts/get-proposals-csv_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp

#12011 [TECH] Supprimer le FT showNewCampaignPresentationPage (PIX-17434).
  api/sample.env
  api/src/shared/config.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
  mon-pix/app/models/feature-toggle.js
  mon-pix/tests/unit/services/feature-toggles-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#12005 [BUGFIX] Corriger la scrollbar sur le composant transitoire (PIX-17402)
  api/db/seeds/data/team-devcomp/build-campaigns.js
  mon-pix/app/styles/components/campaigns/assessment/results/evaluation-shared-results-modal.scss
Labels: :rocket: Ready to Merge, team-devcomp

#12006 [TECH] Corriger un test flaky sur le repository campaign-participation (PIX-17428)
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-repository_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#11954 [FEATURE] MaDDo - Suppression de la mise à dispo parcoursup depuis l'API Pix (PIX-17326).
  api/src/certification/results/routes.js
  api/tests/certification/results/acceptance/application/parcoursup-route_api_test.js
Labels: :rocket: Ready to Merge, team-maddo

#11952 [FEATURE] MaDDo Parcoursup - Utiliser les tables génériques de résultats de certif (PIX-17323)
  api/datamart/datamart-builder/datamart-builder.js
  api/datamart/datamart-builder/factory/build-certification-result-code-validation.js
  api/datamart/datamart-builder/factory/build-certification-result.js
  api/datamart/seeds/populate-sco-datamart.js
  api/datamart/seeds/populate-verification-code-datamart.js
  api/src/certification/results/infrastructure/repositories/certification-parcoursup-repository.js
Labels: :rocket: Ready to Merge, team-maddo

#12001 [FEATURE] Renommage du bouton de téléchargement de certificat (PIX-17421).
  mon-pix/app/components/attestations/card.gjs
  mon-pix/app/components/certifications/user-certifications-detail-header.hbs
  mon-pix/tests/integration/components/user-certifications-detail-header-test.js
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#11987 [FEATURE] Assurer l'intégrité des données enregistrées côté Model (PIX-17157)
  api/src/devcomp/domain/errors.js
  api/src/devcomp/domain/models/passage-events/PassageEvent.js
  api/src/devcomp/domain/models/passage-events/PassageEventWithElement.js
  api/src/devcomp/domain/models/passage-events/flashcard-events.js
  api/src/shared/domain/models/asserts.js
  api/tests/devcomp/integration/domain/models/flashcard-events/flashcard-events_test.js
  api/tests/devcomp/integration/domain/models/passage-events/passage-events_test.js
  api/tests/devcomp/unit/domain/models/module/PassageEventWithElement_test.js
  api/tests/devcomp/unit/domain/models/module/PassageEvent_test.js
  api/tests/devcomp/unit/domain/usecases/create-passage_test.js
  api/tests/devcomp/unit/domain/usecases/terminate-passage_test.js
  api/tests/shared/unit/domain/models/asserts_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#12016 [BUGFIX] Rajouter les attributs manquant sur la navbar de Pix orga (PIX-17440)
  orga/app/components/layout/sidebar.gjs
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-evaluation, cross-team

#12020 [TECH] Suppression des réplications sur les tables historiques de parcoursup
  api/src/maddo/infrastructure/repositories/replication-repository.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-maddo

#12022 [FEATURE] Améliorer la vitesse des réplications (PIX-17456).
  api/src/maddo/infrastructure/repositories/replication-repository.js
Labels: :rocket: Ready to Merge, team-maddo

#12008 [TECH] Ajout de métriques sur le pool de connexion pour toutes les connexions de base de données.
  api/db/database-connection.js
  api/db/database-connections.js
  api/server.js
  api/server.maddo.js
  api/tests/integration/infrastructure/database-connection_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-captains, team-maddo

#12021 [TECH] Suppression des tables parcoursup historiques non utilisées (PIX-17324)
  .github/CODEOWNERS
  api/datamart/migrations/20250410130742_remove-data-export-parcoursup-certif-result-code-validation-table.js
  api/datamart/migrations/20250410130831_remove-data_export_parcoursup_certif_result.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-captains, team-maddo

#12026 [BUGFIX] Problème SEO sur le projet junior (pix-17392)
  junior/public/robots.txt
Labels: :rocket: Ready to Merge, 🎒👧🏽👦🏾 PIX JUNIOR

#12013 [FEATURE] Ne récupérer que les certifs v3 lors du téléchargement des certifs d'une classe (PIX-17435).
  api/src/certification/results/application/certification-attestation-controller.js
  api/tests/certification/results/unit/application/certification-attestation-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#12024 [BUGFIX] :bug: Révision de la requête SQL pour la récupération de certificat pour le LSU/LSL (PIX-17408)
  api/src/certification/results/infrastructure/repositories/certification-livret-scolaire-repository.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#12009 [BUGFIX] Corriger des erreurs suite à la montée de version Pix UI sur Pix Certif (PIX-17429).
  certif/app/components/members-table.gjs
  certif/app/styles/components/finalization-confirmation-modal.scss
  certif/app/styles/components/select-referer-modal.scss
  certif/app/styles/components/session-supervising/candidate-in-list.scss
  certif/app/styles/pages/authenticated/sessions/details.scss
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#12029 [TECH] Utiliser une 401 plutôt qu'une 403 en cas d'erreur de mot de passe dans la page de connexion à l'espace surveillant (PIX-17461).
  api/src/certification/session-management/application/http-error-mapper-configuration.js
  api/tests/certification/session-management/unit/application/http-error-mapper-configuration_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#12018 [TECH] Supprimer la dépendance à `ember-fetch` dans Pix Admin.
  admin/app/authenticators/oidc.js
  admin/app/components/administration/access/oidc-providers-import.gjs
  admin/app/routes/authentication/login-oidc.js
  admin/app/services/file-saver.js
  admin/package-lock.json
  admin/package.json
  admin/tests/unit/authenticators/oidc-test.js
  admin/tests/unit/routes/authentication/login-oidc-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#12012 [TECH] Prévenir les incompréhensions due aux expirations de jobs.
  api/src/maddo/infrastructure/repositories/jobs/replication-job-repository.js
  api/src/prescription/learner-management/application/jobs/schedule-compute-organization-learners-certificability-job-controller.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/import-common-organization-learners-job-repository.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/import-organization-learners-job-repository.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/import-sco-csv-organization-learners-job-repository.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/import-sup-organization-learners-job-repository.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/validate-common-organization-learners-import-file-job-repository.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/validate-csv-organization-learners-import-file-job-repository.js
  api/src/prescription/learner-management/infrastructure/repositories/jobs/validate-organization-learners-import-file-job-repository.js
  api/src/shared/application/jobs/job-controller.js
  api/src/shared/infrastructure/repositories/jobs/job-repository.js
  api/src/shared/mail/infrastructure/repositories/jobs/send-email.job-repository.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-common-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-sco-csv-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/import-sup-organization-learners-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/validate-common-organization-learners-import-file-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/validate-csv-organization-learners-import-file-job-repository_test.js
  api/tests/prescription/learner-management/integration/infrastructure/repositories/jobs/validate-organization-learners-import-file-job-repository_test.js
  api/tests/shared/integration/infrastructure/repositories/jobs/job-repository_test.js
  api/tests/shared/unit/application/jobs/job-controller_test.js
  api/tests/shared/unit/mail/infrastructure/repositories/jobs/send-email.job-repository_test.js
  api/tests/unit/worker_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team

#12032 [TECH] Ajouter une colonne "id" à la table legal-document-version-user-acceptances (PIX-17466)
  api/db/migrations/20250411101356_add-id-to-legal-document-version-user-acceptances.js
  high-level-tests/e2e/cypress/fixtures/legal-document-version-user-acceptances.json
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#11692 [TECH] inclus les banner dans le layout de AppLayout (PIX-17484)
  orga/app/components/banner/communication.gjs
  orga/app/controllers/application.js
  orga/app/styles/pages/authenticated.scss
  orga/app/templates/application.gjs
  orga/app/templates/authenticated.gjs
  orga/tests/unit/controllers/application-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#12035 [FEATURE] Support du type de grain "transition" (PIX-17472)
  api/scripts/modulix/get-modules-csv.js
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bac-a-sable.json
  api/tests/devcomp/acceptance/scripts/get-modules-csv_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-schema.js
  high-level-tests/e2e/cypress/integration/pix-app/modulix-a11y.feature
  mon-pix/app/components/module/grain/grain.gjs
  mon-pix/tests/integration/components/module/grain_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#11976 [FEATURE] Afficher dans Pix-Admin si un CDC est archivé et qui a fait l'action (PIX-17367)
  admin/app/components/certification-centers/information-view.gjs
  admin/app/components/certification-centers/information.scss
  admin/app/models/certification-center.js
  admin/app/routes/authenticated/certification-centers/get/team.js
  admin/app/templates/authenticated/certification-centers/get.hbs
  admin/app/templates/authenticated/certification-centers/get/team.hbs
  admin/tests/acceptance/authenticated/certification-centers/get-test.js
  admin/translations/en.json
  admin/translations/fr.json
  api/src/certification/enrolment/domain/usecases/get-center-for-admin.js
  api/src/organizational-entities/application/certification-center/certification-center.admin.controller.js
  api/src/organizational-entities/domain/models/CenterForAdmin.js
  api/src/organizational-entities/domain/models/CertificationCenter.js
  api/src/organizational-entities/domain/models/factories/CenterForAdminFactory.js
  api/src/organizational-entities/domain/usecases/get-center-for-admin.usecase.js
  api/src/organizational-entities/domain/usecases/index.js
  api/src/organizational-entities/domain/usecases/update-certification-center.usecase.js
  api/src/organizational-entities/infrastructure/repositories/certification-center-for-admin.repository.js
  api/src/organizational-entities/infrastructure/repositories/certification-center.repository.js
  api/src/organizational-entities/infrastructure/serializers/jsonapi/certification-center/certification-center-for-admin.serializer.js
  api/src/shared/domain/models/AdminMember.js
  api/tests/certification/enrolment/unit/domain/usecases/get-center-for-admin_test.js
  api/tests/organizational-entities/acceptance/application/certification-center/certification-center.admin.route.test.js
  api/tests/organizational-entities/integration/domain/usecases/get-center-for-admin.usecase.test.js
  api/tests/organizational-entities/integration/domain/usecases/update-certification-center.usecase.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/certification-center-for-admin-repository_test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/certification-center.repository.test.js
  api/tests/organizational-entities/unit/application/certification-center/certification-center.admin.controller.test.js
  api/tests/organizational-entities/unit/domain/models/factories/CenterForAdminFactory_test.js
  api/tests/organizational-entities/unit/infrastructure/serializers/jsonapi/certification-center/certification-center-for-admin.serializer.test.js
  api/tests/tooling/domain-builder/factory/build-center-for-admin.js
  api/tests/tooling/domain-builder/factory/build-certification-center.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#12017 [BUGFIX] Ne plus faire apparaître le menu lorsqu'un candidat entre en certification sur Pix App (PIX-17425).
  mon-pix/app/components/certifications/start.gjs
  mon-pix/app/styles/components/_certification-starter.scss
  mon-pix/app/templates/authenticated.hbs
  mon-pix/app/templates/authenticated/attestations.hbs
  mon-pix/app/templates/authenticated/certifications/join.hbs
  mon-pix/app/templates/authenticated/certifications/resume.hbs
  mon-pix/app/templates/authenticated/competences.hbs
  mon-pix/app/templates/authenticated/profile.hbs
  mon-pix/app/templates/authenticated/sitemap.hbs
  mon-pix/app/templates/authenticated/user-account.hbs
  mon-pix/app/templates/authenticated/user-certifications/get.hbs
  mon-pix/app/templates/authenticated/user-certifications/index.hbs
  mon-pix/app/templates/authenticated/user-dashboard.hbs
  mon-pix/app/templates/authenticated/user-tests.hbs
  mon-pix/app/templates/authenticated/user-trainings.hbs
  mon-pix/app/templates/authenticated/user-tutorials.hbs
  mon-pix/tests/acceptance/authenticated/certifications/information-test.js
  mon-pix/tests/integration/components/certifications/certification-ender-test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif, cross-team

#12036 Ajouter un endpoint pour enregistrer les évènements des passages (PIX-16954)
  api/src/devcomp/application/passage-events/index.js
  api/src/devcomp/application/passage-events/passage-events-controller.js
  api/src/devcomp/domain/usecases/record-passage-events.js
  api/src/devcomp/infrastructure/serializers/jsonapi/passage-event-serializer.js
  api/src/devcomp/infrastructure/utils/handlerWithDependencies.js
  api/src/devcomp/routes.js
  api/tests/devcomp/acceptance/application/passages/passage-events-controller_test.js
  api/tests/devcomp/unit/application/passage-events/passage-events-controller_test.js
  api/tests/devcomp/unit/domain/usecases/record-passage-events_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/passage-event-serializer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#12002 [FEATURE] Donner accès aux compétences du candidat sur le modèle du certificat V3 (PIX-17338).
  api/src/certification/results/domain/models/ResultCompetenceTree.js
  api/src/certification/results/domain/models/V3CertificationAttestation.js
  api/src/certification/results/infrastructure/repositories/certificate-repository.js
  api/tests/certification/results/integration/infrastructure/repositories/certificate-repository_test.js
  api/tests/tooling/domain-builder/factory/certification/results/build-v3-certification-attestation.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#12054 [TECH] Déplacer le check de l'utilisateur téléchargeant le PDF de certificat dans le controller (PIX-17501).
  api/src/certification/results/application/certificate-controller.js
  api/src/certification/results/domain/usecases/get-certification-attestation.js
  api/tests/certification/results/unit/application/certificate-controller_test.js
  api/tests/certification/results/unit/domain/usecases/get-certification-attestation_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#12031 [TECH] Renommer l'objet du domaine v3 certification attestation (PIX-17464)
  api/src/certification/results/application/certificate-controller.js
  api/src/certification/results/domain/models/V3Certificate.js
  api/src/certification/results/infrastructure/repositories/certificate-repository.js
  api/src/certification/results/infrastructure/utils/pdf/templates/v3-attestation.js
  api/src/certification/results/infrastructure/utils/pdf/v3-certification-attestation-pdf.js
  api/tests/certification/results/integration/infrastructure/repositories/certificate-repository_test.js
  api/tests/certification/results/unit/application/certificate-controller_test.js
  api/tests/tooling/domain-builder/factory/build-v3-certification-attestation.js
  api/tests/tooling/domain-builder/factory/certification/results/build-v3-certification-attestation.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#11993 [TECH] Migrer la route /api/sco-organization-learners/external dans src>prescription>organization-learner (pix-16333)
  api/lib/application/sco-organization-learners/index.js
  api/lib/application/sco-organization-learners/sco-organization-learner-controller.js
  api/lib/domain/usecases/index.js
  api/src/identity-access-management/domain/usecases/index.js
  api/src/prescription/learner-management/domain/usecases/index.js
  api/src/prescription/organization-learner/application/sco-organization-learner-controller.js
  api/src/prescription/organization-learner/application/sco-organization-learner-route.js
  api/src/prescription/organization-learner/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/src/prescription/organization-learner/routes.js
  api/src/shared/domain/services/user-reconciliation-service.js
  api/tests/acceptance/application/sco-organization-learners/sco-organization-learner-controller_test.js
  api/tests/integration/application/sco-organization-learners/index_test.js
  api/tests/integration/domain/usecases/create-and-reconcile-user-to-organization-learner_test.js
  api/tests/integration/domain/usecases/generate-organization-learners-username-and-temporary-password_test.js
  api/tests/prescription/organization-learner/acceptance/application/sco-organization-learner-route_test.js
  api/tests/prescription/organization-learner/integration/application/sco-organization-learner-route_test.js
  api/tests/prescription/organization-learner/integration/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
  api/tests/prescription/organization-learner/unit/application/sco-organization-learner-controller_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/create-user-and-reconcile-to-organization-learner-from-external-user_test.js
  api/tests/unit/application/sco-organization-learners/sco-organization-learner-controller_test.js
  api/tests/unit/domain/services/user-reconciliation-service_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#12064 [BUGFIX] Corriger le nombre de contenus formatifs affiché dans la modal de fin de parcours (PIX-17512)
  mon-pix/app/components/routes/campaigns/assessment/evaluation-results.gjs
  mon-pix/tests/integration/components/routes/campaigns/assessment/evaluation-results-test.js
Labels: :rocket: Ready to Merge, team-devcomp

#12061 [TECH] copie les snapshot de datawarehouse vers production (PIX-17499)
  api/src/prescription/scripts/update-empty-snapshot-from-dwp.js
  api/tests/prescription/scripts/update-empty-snapshot-from-dwp_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#12014 [FEATURE] Créer l'API interne pour mettre à disposition les données des participations par campagne (PIX-17351)
  api/src/prescription/API.md
  api/src/prescription/campaign/application/api/campaigns-api.js
  api/src/prescription/campaign/application/api/models/CampaignListItem.js
  api/src/prescription/campaign/domain/usecases/find-paginated-filtered-organization-campaigns.js
  api/src/prescription/campaign/infrastructure/repositories/campaign-report-repository.js
  api/src/shared/domain/read-models/CampaignReport.js
  api/tests/prescription/campaign/integration/application/api/campaigns-api_test.js
  api/tests/prescription/campaign/integration/domain/usecases/find-paginated-filtered-organization-campaigns_test.js
  api/tests/prescription/campaign/integration/infrastructure/repositories/campaign-report-repository_test.js
  api/tests/prescription/campaign/unit/application/api/campaigns-api_test.js
  api/tests/prescription/campaign/unit/domain/usecases/find-paginated-filtered-organization-campaigns_test.js
  api/tests/prescription/campaign/unit/infrastructure/serializers/jsonapi/campaign-result-levels-per-tubes-and-competences-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-campaign-report.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/tooling/domain-builder/factory/prescription/campaign/build-campaign-result-levels-per-tubes-and-competences.js
  api/tests/unit/domain/read-models/CampaignReport_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription

#12068 [FEATURE] Exposer un learnerId unique par clientId (PIX-17513).
  api/server.js
  api/server.maddo.js
  api/src/maddo/application/campaigns-controller.js
  api/src/maddo/domain/models/CampaignParticipation.js
  api/src/maddo/domain/usecases/get-campaign-participations.js
  api/src/maddo/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/campaign-participation/application/learner-participation-controller.js
  api/src/shared/infrastructure/async-local-storage.js
  api/src/shared/infrastructure/monitoring-tools.js
  api/tests/integration/infrastructure/plugins/pino_test.js
  api/tests/maddo/application/acceptance/campaigns-routes_test.js
  api/tests/maddo/infrastructure/integration/repositories/campaign-participation-repository_test.js
  api/tests/shared/unit/infrastructure/async-local-storage_test.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/tooling/domain-builder/factory/maddo/build-campaign-participation.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-maddo

#12050 [TECH] Migrer le feature toggle de suppression de compte vers le nouveau système (PIX-17483)
  api/config/feature-toggles-config.js
  api/sample.env
  api/src/privacy/domain/usecases/can-self-delete-account.usecase.js
  api/src/shared/config.js
  api/tests/identity-access-management/acceptance/application/user/user.route.test.js
  api/tests/identity-access-management/integration/application/user/user.route.test.js
  api/tests/identity-access-management/integration/domain/usecases/get-user-account-info.usecase.test.js
  api/tests/identity-access-management/integration/domain/usecases/self-delete-user-account.usecase.test.js
  api/tests/privacy/integration/application/api/users-api.test.js
  api/tests/privacy/integration/domain/usecases/can-self-delete-account.usecase.test.js
  api/tests/privacy/unit/domain/usecases/can-self-delete-account.usecase.test.js
  api/tests/shared/acceptance/application/feature-toggles/feature-toggle-controller_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, feature-toggle

#12073 [BUGFIX] Ne pas afficher le bouton envoyé ses résultats lorsque la campagne est desactivé (PIX-17521)
  mon-pix/app/components/campaigns/assessment/results/evaluation-results-hero/index.gjs
  mon-pix/tests/integration/components/campaigns/assessment/results/hero/evaluation-results-hero-test.js
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#12065 [BUGFIX] Corriger le script de clean des snapshots (PIX-17471)
  api/scripts/prod/clean-ke-snapshots.js
  api/tests/integration/scripts/prod/clean-ke-snapshots_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#12077 [BUGFIX] Passer les tubes à null pour récupérer les collectes de profil via Campaign-Api.js (PIX-17531)
  api/src/prescription/campaign/domain/usecases/find-paginated-filtered-organization-campaigns.js
  api/src/shared/domain/read-models/CampaignReport.js
  api/tests/prescription/campaign/integration/domain/usecases/find-paginated-filtered-organization-campaigns_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-prescription, team-maddo

#12070 [FEATURE] Retourner le taux de couverture dans le retour du détails des organisations (PIX-17511).
  api/src/maddo/application/campaigns-routes.js
  api/src/maddo/application/organizations-routes.js
  api/src/maddo/domain/models/Campaign.js
  api/src/maddo/infrastructure/repositories/campaign-repository.js
  api/src/prescription/campaign/domain/models/CampaignResultLevelsPerTubesAndCompetences.js
  api/tests/maddo/application/acceptance/organizations-routes_test.js
  api/tests/maddo/infrastructure/integration/repositories/campaign-repository_test.js
Labels: :rocket: Ready to Merge, team-maddo

#12082 [TECH] Rendre la colonne userId nullable dans la table badge-acquisitions (PIX-16569)
  api/db/migrations/20250416084952_make-userId-nullable-in-badge-acquisitions.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#12071 [FEATURE] Afficher le détail des compétences d'un certificat en ligne (PIX-17476).
  mon-pix/app/components/certifications/certificate-information/competences-details.gjs
  mon-pix/app/components/certifications/shareable-certificate/v3-certificate.gjs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/certifications/certificate-information/_competences-details.scss
  mon-pix/tests/integration/components/certifications/certificate-information/competences-details-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#12067 [TECH] Utiliser une transaction pour la fonction d'acceptation des termes d'utilisations de certif (PIX-15374)
  api/src/identity-access-management/domain/usecases/accept-pix-certif-terms-of-service.usecase.js
  api/src/identity-access-management/infrastructure/repositories/user.repository.js
  api/tests/identity-access-management/unit/domain/usecases/accept-pix-certif-terms-of-service.usecase.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#12057 [TECH] Migrer la route GET /api/admin/organizations/{organizationId}/children (PIX-17498)
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/src/organizational-entities/application/organization/organization.admin.controller.js
  api/src/organizational-entities/application/organization/organization.admin.route.js
  api/src/organizational-entities/domain/usecases/find-children-organizations.usecase.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
  api/tests/organizational-entities/acceptance/application/organization/organization.admin.route.test.js
  api/tests/organizational-entities/integration/domain/usecases/find-children-organizations.usecase.test.js
  api/tests/unit/application/organizations/organization-controller_test.js
  api/tests/unit/domain/usecases/find-children-organizations-for-admin_tests.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#12072 [TECH] Ajouter un script pour archiver en masse des centres de certification (PIX-16851)
  api/src/organizational-entities/scripts/archive-certification-centers-script.js
  api/tests/organizational-entities/unit/scripts/archive-certification-centers-script.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#12047 [BUGFIX] Prendre en compte les legal-document-version-user-acceptances dans le use-case d'anonymisation d'un utilisateur (PIX-17271)
  api/db/database-builder/factory/build-legal-document-version-user-acceptance.js
  api/src/legal-documents/infrastructure/repositories/user-acceptance.repository.js
  api/src/privacy/domain/usecases/anonymize-user.usecase.js
  api/src/privacy/domain/usecases/index.js
  api/tests/legal-documents/integration/infrastructure/repositories/user-acceptance.repository.test.js
  api/tests/privacy/integration/domain/usecases/anonymize-user.usecase.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#12087 [FEATURE] Script de reprise de données d'acceptation de CGU pour les utilisateurs anonymisés (PIX-17272)
  api/src/legal-documents/scripts/backfill-data-for-anonymized-users-script.js
  api/tests/legal-documents/integration/scripts/backfill-data-for-anonymized-users-script.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#12081 [FEATURE] Renvoyer le certificat V3 pour un utilisateur connecté (PIX-17478).
  api/src/certification/results/application/certificate-controller.js
  api/src/certification/results/infrastructure/serializers/certificate-serializer.js
  api/src/certification/results/infrastructure/serializers/private-certificate-serializer.js
  api/tests/certification/results/unit/application/certificate-controller_test.js
  api/tests/certification/results/unit/infrastructure/serializers/certificate-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#12094 [FEATURE] Mise en retrait du bouton Réessayer de Modulix (PIX-17566)
  mon-pix/app/components/module/element/qcm.gjs
  mon-pix/app/components/module/element/qcu.gjs
  mon-pix/app/components/module/element/qrocm.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#12092 [FEATURE] Elargir la largeur max du module (desktop) et la taille de l'image (PIX-17564)
  mon-pix/app/components/module/element/_image.scss
  mon-pix/app/styles/pages/_module.scss
Labels: :rocket: Ready to Merge, team-devcomp

#12096 [FEATURE] Retirer les tags sur les cartes grains (PIX-17569)
  mon-pix/app/components/module/grain/_grain.scss
  mon-pix/app/components/module/grain/_tag.scss
  mon-pix/app/components/module/grain/grain.gjs
  mon-pix/app/components/module/grain/tag.gjs
  mon-pix/app/styles/app.scss
  mon-pix/tests/integration/components/module/grain_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#12088 [FEATURE] Afficher la jauge pour le certificat V3 sur Pix App (PIX-17545).
  api/src/certification/results/infrastructure/serializers/certificate-serializer.js
  api/tests/certification/results/unit/infrastructure/serializers/certificate-serializer_test.js
  mon-pix/app/components/certifications/certificate-information/candidate-global-level.gjs
  mon-pix/app/models/certification.js
  mon-pix/app/styles/components/certifications/certificate-information/_candidate-global-level.scss
  mon-pix/app/styles/globals/_a11y.scss
  mon-pix/tests/integration/components/certifications/certificate-information/candidate-global-level-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-certif

#12090 [FEATURE] Ajout des derniers éléments pour le certificat V3 complet sur Pix App (PIX-17575).
  mon-pix/app/components/certifications/certificate-information/candidate-global-level.gjs
  mon-pix/app/components/certifications/shareable-certificate/v3-certificate.gjs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/certifications/certificate-information/_candidate-global-level.scss
  mon-pix/app/styles/components/certifications/shareable-certificate/_v3-certificate.scss
  mon-pix/app/styles/components/ui/_page-header.scss
  mon-pix/tests/acceptance/shared-certification-test.js
  mon-pix/tests/integration/components/certifications/shareable-certificate/v3-certificate-test.gjs
Labels: :rocket: Ready to Merge, team-certif

#12101 [TECH] Améliorer la page de chargement d'entrée en certification (PIX-17556).
  mon-pix/app/styles/globals/_loading.scss
  mon-pix/app/templates/authenticated/certifications/start-loading.hbs
Labels: :rocket: Ready to Merge, team-certif

#12089 [FEATURE] Utiliser la campaignParticipationId pour récupérer les paliers atteint lors d'une campagne (Pix-17331)
  api/src/evaluation/infrastructure/repositories/stage-acquisition-repository.js
  api/src/prescription/campaign-participation/domain/usecases/get-user-campaign-assessment-result.js
  api/tests/evaluation/integration/infrastructure/repositories/stage-acquisition-repository_test.js
  api/tests/prescription/campaign-participation/integration/domain/usecases/get-user-campaign-assessment-result_test.js
  api/tests/prescription/campaign-participation/unit/domain/usecases/get-user-campaign-assessment-result_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#12079 [FEATURE] Ajouter l’action d’archivage d’un CDC dans Pix Admin (PIX-16750)
  admin/app/adapters/certification-center.js
  admin/app/components/certification-centers/information-view.gjs
  admin/app/components/certification-centers/information.gjs
  admin/app/components/certification-centers/information.scss
  admin/app/controllers/authenticated/certification-centers/get.js
  admin/app/routes/authenticated/certification-centers/get.js
  admin/app/templates/authenticated/certification-centers/get.hbs
  admin/mirage/config.js
  admin/tests/acceptance/authenticated/certification-centers/get-test.js
  admin/tests/acceptance/authenticated/complementary-certifications/complementary-certification/attach-target-profile-test.js
  admin/tests/unit/adapters/certification-centers-test.js
  admin/translations/en.json
  admin/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#12080 [FEATURE] Empecher un utilisateur ayant participé à une campagne de supprimer son compte en autonomie (PIX-17441).
  api/src/prescription/campaign-participation/application/api/campaign-participations-api.js
  api/src/prescription/campaign-participation/domain/usecases/has-campaign-participations.js
  api/src/prescription/campaign-participation/infrastructure/repositories/campaign-participation-repository.js
  api/src/privacy/domain/usecases/can-self-delete-account.usecase.js
  api/src/privacy/domain/usecases/index.js
  api/src/privacy/infrastructure/repositories/campaign-participations-api.repository.js
  api/tests/prescription/campaign-participation/integration/domain/usecases/has-campaign-participations_test.js
  api/tests/prescription/campaign-participation/integration/infrastructure/repositories/campaign-participation-repository_test.js
  api/tests/privacy/unit/domain/usecases/can-self-delete-account.usecase.test.js
  api/tests/privacy/unit/infrastructure/repositories/campaign-participations-api.repository.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-prescription

#12102 [FEATURE] Améliorer le design des modules
  mon-pix/app/components/module/_passage.scss
  mon-pix/app/components/module/component/_stepper.scss
  mon-pix/app/components/module/component/step.gjs
  mon-pix/app/components/module/component/stepper.gjs
  mon-pix/app/components/module/grain/_grain.scss
  mon-pix/app/components/module/grain/grain.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#12103 [FEATURE] Ajouter plus l'info sur l'import sur la page élèves/étudiants (PIX-16950)
  orga/app/components/import-information-banner.gjs
  orga/app/components/import/banner.gjs
  orga/tests/integration/components/import-information-banner_test.gjs
  orga/tests/integration/components/import/banner_test.gjs
  orga/translations/en.json
  orga/translations/fr.json
  orga/translations/nl.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#12104 [FEATURE] Gestion des compétences et du niveau global du Certificat v3 en cas de score en dessous de 64 pix (PIX-17541)
  api/src/certification/results/application/certificate-controller.js
  api/src/certification/results/domain/models/v3/Certificate.js
  api/src/certification/results/domain/models/v3/CertificateLevels.js
  api/src/certification/results/domain/models/v3/MeshConfiguration.js
  api/src/certification/results/infrastructure/repositories/certificate-repository.js
  api/src/certification/results/infrastructure/utils/pdf/templates/v3-attestation.js
  api/src/certification/results/infrastructure/utils/pdf/v3-certification-attestation-pdf.js
  api/tests/certification/results/integration/infrastructure/repositories/certificate-repository_test.js
  api/tests/certification/results/integration/infrastructure/utils/pdf/v3-certification-attestation-pdf_test.js
  api/tests/certification/results/unit/application/certificate-controller_test.js
  api/tests/certification/results/unit/domain/models/v3/Certificate_test.js
  api/tests/certification/results/unit/infrastructure/serializers/certificate-serializer_test.js
  api/tests/tooling/domain-builder/factory/build-certificate.js
  api/tests/tooling/domain-builder/factory/certification/results/build-v3-certification-attestation.js
  api/tests/tooling/domain-builder/factory/index.js
  mon-pix/app/components/certifications/certificate-information/candidate-global-level.gjs
  mon-pix/app/components/certifications/certificate-information/candidate-information.gjs
  mon-pix/app/components/certifications/shareable-certificate/v3-certificate.gjs
  mon-pix/tests/integration/components/certifications/certificate-information/candidate-global-level-test.gjs
  mon-pix/tests/integration/components/certifications/certificate-information/candidate-information-test.gjs
  mon-pix/tests/integration/components/certifications/shareable-certificate/v3-certificate-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#12105 [FEATURE] Corriger la phrase sur la date de dernière connexion lorsqu'il n'y en a pas (PIX-17562)
  admin/translations/en.json
  admin/translations/fr.json
  api/db/seeds/data/team-acces/build-users.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#12118 [TECH] Ajouter une validation JOI à la route POST /api/assessments
  api/src/shared/application/assessments/index.js
  api/tests/shared/unit/application/assessments/index_test.js
Labels: :rocket: Ready to Merge, team-captains

#12099 [TECH] Migrer la route POST /api/admin/organizations/import-csv (PIX-17560)
  api/lib/application/organizations/index.js
  api/lib/application/organizations/organization-controller.js
  api/lib/domain/usecases/index.js
  api/lib/routes.js
  api/scripts/create-organizations-with-tags-and-target-profiles.js
  api/src/organizational-entities/application/organization/organization.admin.controller.js
  api/src/organizational-entities/application/organization/organization.admin.route.js
  api/src/organizational-entities/domain/usecases/add-tags-to-organizations.usecase.js
  api/src/organizational-entities/domain/usecases/archive-organization.usecase.js
  api/src/organizational-entities/domain/usecases/attach-child-organization-to-organization.js
  api/src/organizational-entities/domain/usecases/create-organization.js
  api/src/organizational-entities/domain/usecases/create-organizations-with-tags-and-target-profiles.usecase.js
  api/src/organizational-entities/domain/usecases/find-children-organizations.usecase.js
  api/src/organizational-entities/domain/usecases/get-organization-details.usecase.js
  api/src/organizational-entities/domain/usecases/index.js
  api/src/organizational-entities/domain/usecases/update-organization-information.usecase.js
  api/src/organizational-entities/domain/usecases/update-organizations-in-batch.usecase.js
  api/src/organizational-entities/domain/validators/organization-with-tags-and-target-profiles.js
  api/src/organizational-entities/infrastructure/repositories/index.js
  api/src/organizational-entities/infrastructure/repositories/organization-for-admin.repository.js
  api/src/organizational-entities/infrastructure/repositories/target-profile-share-repository.js
  api/src/team/application/api/organization.js
  api/src/team/domain/usecases/create-pro-organization-invitation.usecase.js
  api/tests/acceptance/application/organizations/organization-controller_test.js
  api/tests/organizational-entities/acceptance/application/organization/organization.admin.route.test.js
  api/tests/organizational-entities/integration/domain/usecases/create-organizations-with-tags-and-target-profiles.usecase.test.js
  api/tests/organizational-entities/integration/domain/validators/organization-with-tags-and-target-profiles-script.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/organization-for-admin.repository.test.js
  api/tests/organizational-entities/integration/infrastructure/repositories/target-profile-share-repository.test.js
  api/tests/organizational-entities/unit/domain/usecases/attach-child-organization-to-organization_test.js
  api/tests/organizational-entities/unit/domain/usecases/create-organization_test.js
  api/tests/organizational-entities/unit/domain/usecases/get-organization-details.usecase.test.js
  api/tests/organizational-entities/unit/domain/usecases/update-organization-information.usecase.test.js
  api/tests/organizational-entities/unit/domain/usecases/update-organizations-in-batch.usecase.test.js
  api/tests/unit/domain/usecases/create-organizations-with-tags-and-target-profiles_test.js
  api/tests/unit/domain/usecases/retrieve-last-or-create-certification-course_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, Bounded-context-migration

#12091 [FEATURE] Cacher le grain transition de la navbar (PIX-17473)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bac-a-sable.json
  mon-pix/app/components/module/passage.gjs
  mon-pix/tests/integration/components/module/passage_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#12120 [TECH] Correction du script de suppression de réponses superflues (PIX-17257).
  api/scripts/certification/fix-doubled-answers.js
  api/tests/integration/scripts/certification/fix-doubled-answers_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-certif

#12100 [FEATURE] Retirer la colonne userId de stage-acquisitions (Pix-17332)
  api/db/migrations/20250418091455_remove-userid-fromstage-acquisition.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#12129 [FEATURE] Correction de 2 feedback grains vrai-faux
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/comment-envoyer-un-mail.json
Labels: :rocket: Ready to Merge, contribution-modulix

#12122 [BUGFIX] Utiliser le variant orga sur les PixBlock (PIX-17283)
  orga/app/components/auth/login-or-register.gjs
  orga/app/components/campaign/empty-state.gjs
  orga/app/components/campaign/no-campaign-panel.gjs
  orga/app/components/campaign/settings/view.gjs
  orga/app/components/organization-learner/activity/empty-state.gjs
  orga/app/components/organization-participant/no-participant-panel.gjs
  orga/app/components/participant/assessment/header.gjs
  orga/app/components/participant/profile/header.gjs
  orga/app/components/places/place-info.gjs
  orga/app/components/statistics/index.gjs
  orga/app/components/terms-of-service/acceptation.gjs
  orga/app/components/ui/chart-card.gjs
  orga/app/components/ui/empty-state.gjs
  orga/app/styles/components/campaign/activity/dashboard.scss
  orga/app/styles/components/ui/cards.scss
  orga/app/templates/join-request.gjs
  orga/app/templates/login.gjs
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#12136 [FEATURE] Mettre à jour les traductions ES sur page début de parcours (PIX-17610)
  mon-pix/translations/es.json
Labels: :rocket: Ready to Merge, team-devcomp

#12113 [TECH] :truck: Déplace le cas d'utilisation `findTargetProfileSummariesForTraining` vers `src/devcomp/`
  api/src/devcomp/application/trainings/training-controller.js
  api/src/devcomp/domain/usecases/find-target-profile-summaries-for-training.js
  api/src/devcomp/domain/usecases/index.js
  api/tests/devcomp/unit/application/trainings/training-controller_test.js
  api/tests/devcomp/unit/domain/usecases/find-target-profile-summaries-for-training_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-devcomp, Bounded-context-migration

#12095 [FEATURE] Ajout animation fondu à l'apparition des grains (PIX-17567)
  high-level-tests/e2e/cypress/support/disable-animation.js
  high-level-tests/e2e/cypress/support/index.js
  mon-pix/app/components/module/grain/_grain.scss
Labels: :rocket: Ready to Merge, team-devcomp

#12123 [FEATURE] Enregistrer les événements `PASSAGE_TERMINATED` sur le usecase `record-passage-events` (PIX-17599)
  api/src/devcomp/domain/usecases/record-passage-events.js
  api/tests/devcomp/unit/domain/usecases/record-passage-events_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#12130 [FEATURE] Créer le composant pour télécharger le PDF du certificat sur Pix App (PIX-17594).
  mon-pix/app/components/certifications/candidate-certificate/v3-certificate.gjs
  mon-pix/app/components/certifications/certificate-information/download-pdf.gjs
  mon-pix/app/components/copy-paste-button.gjs
  mon-pix/app/styles/app.scss
  mon-pix/app/styles/components/certifications/candidate-certificate/_v3-certificate.scss
  mon-pix/app/styles/components/certifications/certificate-information/_download-pdf.scss
  mon-pix/tests/integration/components/certifications/certificate-information/download-pdf-test.gjs
  mon-pix/tests/unit/components/certifications/certificate-information/download-pdf-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
  orga/tests/integration/components/copy-paste-button-test.gjs
Labels: :rocket: Ready to Merge, team-certif

#12134 [TECH] Remplacer les "inject as service" pour appeler directement service (PIX-17624)
  orga/app/components/organization-participant/list.gjs
  orga/app/routes/authenticated/campaigns/index.js
  orga/app/routes/authenticated/campaigns/list/index.js
  orga/app/routes/authenticated/missions/mission/index.js
  orga/app/routes/authenticated/organization-participants/list.js
  orga/app/services/current-user.js
  orga/app/services/error-messages.js
  orga/app/services/feature-toggles.js
  orga/app/services/locale.js
  orga/app/services/url.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#12132 [BUGFIX] Vérifier l'existence du learner avant de créer une mission
  api/src/school/domain/usecases/play-mission.js
  api/tests/school/integration/domain/usecases/play-mission_test.js
Labels: :rocket: Ready to Merge, team-captains, 🎒👧🏽👦🏾 PIX JUNIOR

#12138 [FEATURE] Finaliser la conception de la page de certificat candidat sur Pix App (PIX-17481).
  mon-pix/app/components/certifications/candidate-certificate/v3-certificate.gjs
  mon-pix/app/components/certifications/certificate-information/candidate-information.gjs
  mon-pix/app/styles/components/certifications/candidate-certificate/_v3-certificate.scss
  mon-pix/app/styles/components/certifications/certificate-information/_candidate-information.scss
  mon-pix/app/styles/components/certifications/certificate-information/_competences-details.scss
  mon-pix/tests/integration/components/certifications/candidate-certificate/v3-certificate-test.gjs
  mon-pix/translations/en.json
  mon-pix/translations/es.json
  mon-pix/translations/fr.json
  mon-pix/translations/nl.json
Labels: :rocket: Ready to Merge, team-certif

#12145 [TECH] Suppression de la table Maddo inutilisée campaign_participation_tube_reached_levels
  api/datamart/migrations/20250425095526_delete-table-campaign_participation_tube_reached_levels.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-maddo

#12111 [TECH] Correction d'un test non fiable sur l'import de profil cible
  admin/tests/integration/components/common/tubes-selection-test.gjs
Labels: Tech Review OK, :rocket: Ready to Merge

#12153 [TECH] Migrer les textes de transition des modules (PIX-17563)
  api/src/devcomp/infrastructure/datasources/learning-content/modules/adresse-ip-publique-et-vous.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bases-clavier-ordinateur-1.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bases-clavier-ordinateur-2.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/bien-ecrire-son-adresse-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/chatgpt-vraiment-neutre.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/comment-envoyer-un-mail.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/controle-parental.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/decouverte-de-l-ent.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/distinguer-vrai-faux-sur-internet.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/jeux-video-enfant.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/mots-de-passe-securises.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/ports-connexions-essentiels.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/principes-fondateurs-wikipedia.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/sources-informations.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/tmp08ef.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/tri-multicritere-tableau.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/utiliser-souris-ordinateur-1.json
  api/src/devcomp/infrastructure/datasources/learning-content/modules/utiliser-souris-ordinateur-2.json
Labels: :rocket: Ready to Merge, team-devcomp

#12127 [TECH] Migrer la route /api/sco-organization-learners/dependent dans organization-learner (PIX-16332)
  api/lib/application/sco-organization-learners/index.js
  api/lib/application/sco-organization-learners/sco-organization-learner-controller.js
  api/src/prescription/organization-learner/application/sco-organization-learner-controller.js
  api/src/prescription/organization-learner/application/sco-organization-learner-route.js
  api/src/prescription/organization-learner/domain/usecases/create-and-reconcile-user-to-organization-learner.js
  api/src/prescription/organization-learner/domain/usecases/index.js
  api/tests/acceptance/application/sco-organization-learners/sco-organization-learner-controller_test.js
  api/tests/integration/application/sco-organization-learners/index_test.js
  api/tests/integration/application/sco-organization-learners/sco-organization-learner-controller_test.js
  api/tests/prescription/organization-learner/acceptance/application/sco-organization-learner-route_test.js
  api/tests/prescription/organization-learner/integration/application/sco-organization-learner-route_test.js
  api/tests/prescription/organization-learner/integration/domain/usecases/create-and-reconcile-user-to-organization-learner_test.js
  api/tests/prescription/organization-learner/unit/application/sco-organization-learner-controller_test.js
  api/tests/prescription/organization-learner/unit/domain/usecases/create-and-reconcile-user-to-organization-learner_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription, Bounded-context-migration

#12125 [TECH] Ajouter le cas d'une certification v3 obtenue dans les seeds certif (PIX-17600).
  api/db/seeds/data/common/tooling/session-tooling.js
  api/db/seeds/data/team-certification/cases/published-v3-certification.js
  api/db/seeds/data/team-certification/constants.js
  api/db/seeds/data/team-certification/data-builder.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#12144 [BUGFIX] Récupérer uniquement les habilitations propres à un centre (PIX-17618).
  api/src/organizational-entities/infrastructure/repositories/certification-center.repository.js
  api/tests/organizational-entities/integration/infrastructure/repositories/certification-center.repository.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces, team-certif

#12160 [FEATURE] Enregistrer l'événement STARTED sur le usecase record-passage-events (PIX-17620)
  api/src/devcomp/domain/usecases/record-passage-events.js
  api/tests/devcomp/unit/domain/usecases/record-passage-events_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#12165 [TECH] Appeler le usecase record-passage-events dans le controller create-passage (PIX-17657)
  api/src/devcomp/application/passages/controller.js
  api/src/devcomp/domain/usecases/create-passage.js
  api/tests/devcomp/unit/application/passages/controller_test.js
  api/tests/devcomp/unit/domain/usecases/create-passage_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#12152 [TECH] Utiliser les paliers acquis pour afficher les statistiques de répartition par palier sur la page d'analyse (PIX-17629)
  api/db/seeds/data/common/tooling/campaign-tooling.js
  api/src/evaluation/domain/services/stages/stage-and-stage-acquisition-comparison-service.js
  api/src/prescription/campaign/domain/usecases/index.js
  api/src/prescription/campaign/domain/usecases/statistics/get-campaign-participations-counts-by-stage.js
  api/src/shared/domain/models/user-campaign-results/StageAcquisitionCollection.js
  api/tests/prescription/campaign/integration/domain/usecases/statistics/get-campaign-participations-counts-by-stage_test.js
  api/tests/shared/unit/domain/models/StageAcquisitionCollection_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#12158 [FEATURE] Arrêter de supporter les textes de transitions (API) (PIX-17570)
  api/src/devcomp/domain/models/TransitionText.js
  api/src/devcomp/domain/models/module/Module.js
  api/src/devcomp/infrastructure/datasources/learning-content/readme.md
  api/src/devcomp/infrastructure/factories/module-factory.js
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/acceptance/scripts/get-elements-csv_test.js
  api/tests/devcomp/acceptance/scripts/get-modules-csv_test.js
  api/tests/devcomp/acceptance/scripts/get-proposals-csv_test.js
  api/tests/devcomp/acceptance/scripts/test-module.json
  api/tests/devcomp/acceptance/scripts/utils/get-answerable-elements_test.js
  api/tests/devcomp/integration/domain/models/Module_test.js
  api/tests/devcomp/unit/domain/models/TransitionText_test.js
  api/tests/devcomp/unit/domain/models/module/Module_test.js
  api/tests/devcomp/unit/domain/usecases/create-passage_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/joi-error-parser_test.js
  api/tests/devcomp/unit/infrastructure/datasources/learning-content/validation/module-schema.js
  api/tests/devcomp/unit/infrastructure/factories/module-factory_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#12154 [TECH] Mise à jours de dépendances sur PixOrga (PIX-17623)
  orga/package-lock.json
  orga/package.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#12042 [TECH] :wastebasket: Supprime le cas d'usage `get-last-challenge-id` et la route qui l'appel
  api/lib/domain/usecases/get-last-challenge-id-from-assessment-id.js
  api/src/shared/application/assessments/assessment-controller.js
  api/src/shared/application/assessments/index.js
  api/tests/shared/acceptance/application/assessments/assessment-controller-get-last-challenge-id_test.js
  api/tests/unit/domain/usecases/get-last-challenge-id-from-assessment-id_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, cross-team, Bounded-context-migration

#12139 [FEATURE] Ajouter le taux de couverture aux participations de campagne dans l'API pour les partenaires (PIX-17280).
  api/scripts/wait-for-api-deployment.js
  api/src/maddo/application/campaigns-routes.js
  api/src/maddo/domain/models/CampaignParticipation.js
  api/src/maddo/domain/models/TubeCoverage.js
  api/src/maddo/infrastructure/repositories/campaign-participation-repository.js
  api/src/prescription/API.md
  api/src/prescription/campaign/application/api/models/CampaignParticipation.js
  api/src/prescription/campaign/domain/read-models/CampaignParticipation.js
  api/src/prescription/campaign/domain/usecases/get-campaign-participations.js
  api/tests/maddo/application/acceptance/campaigns-routes_test.js
  api/tests/maddo/infrastructure/integration/repositories/campaign-participation-repository_test.js
  api/tests/prescription/campaign/integration/application/api/campaigns-api_test.js
  api/tests/prescription/campaign/integration/domain/usecases/get-campaign-participations_test.js
  api/tests/tooling/domain-builder/factory/index.js
  api/tests/tooling/domain-builder/factory/maddo/build-campaign-participation.js
  api/tests/tooling/domain-builder/factory/maddo/build-tube-coverage.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-maddo

#12143 [BUGFIX] Appeler la traduction du formulaire correctement (PIX-17614)
  mon-pix/app/components/campaign-code-form.gjs
  mon-pix/app/components/certification-verification-code-form.gjs
Labels: :rocket: Ready to Merge, Func Review OK, team-acces

#12157 [TECH] Créer un script permanent pour anonymiser des utilisateurs en masse (PIX-17552)
  api/src/identity-access-management/scripts/anonymize-users-in-batch.script.js
  api/tests/identity-access-management/unit/scripts/anonymize-users-in-batch.script.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#12182 [FEATURE] Ajout de la pagination et de la traduction au endpoint `/api/organizations/{organizationId}/campaigns` (PIX-17662).
  api/package.json
  api/src/maddo/application/organizations-controller.js
  api/src/maddo/application/organizations-routes.js
  api/src/maddo/domain/usecases/find-campaigns.js
  api/src/maddo/infrastructure/repositories/campaign-repository.js
  api/src/prescription/campaign/application/api/campaigns-api.js
  api/tests/maddo/application/acceptance/organizations-routes_test.js
  api/tests/maddo/infrastructure/integration/repositories/campaign-repository_test.js
  api/tests/prescription/campaign/unit/application/api/campaigns-api_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-maddo

#12193 [TECH] Ajouter de la validation sur la route POST passage-events (PIX-17591)
  api/src/devcomp/application/passage-events/index.js
  api/tests/devcomp/integration/application/passage-events/index_test.js
Labels: :rocket: Ready to Merge, team-devcomp

#12174 [FEATURE] Empêcher l'accès à l'espace surveillant d'un centre de certification archivé (PIX-16805)
  api/src/certification/session-management/application/http-error-mapper-configuration.js
  api/src/certification/session-management/domain/errors.js
  api/src/certification/session-management/domain/usecases/supervise-session.js
  api/src/certification/shared/infrastructure/repositories/certification-center-repository.js
  api/tests/certification/session-management/unit/application/http-error-mapper-configuration_test.js
  api/tests/certification/session-management/unit/domain/errors_test.js
  api/tests/certification/session-management/unit/domain/usecases/supervise-session_test.js
  api/tests/certification/shared/integration/infrastructure/repositories/certification-center-repository_test.js
  certif/app/components/login-session-supervisor/index.gjs
  certif/translations/en.json
  certif/translations/fr.json
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-acces

#12140 [TECH] Ne pas lancer la CI lorsque une PR est encore au stade de développement
  .github/workflows/trigger-ci.yaml
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, cross-team, no-review-app

#12191 [TECH] Investiguer un flaky sur Saml POST /api/token-from-external-user (PIX-17670)
  api/src/shared/domain/services/token-service.js
  api/tests/identity-access-management/acceptance/application/saml.route.test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#12168 [TECH] Enlever les "transitionTexts" des modules et des passages côté app (PIX-17571)
  mon-pix/app/components/module/grain/grain.gjs
  mon-pix/app/components/module/passage.gjs
  mon-pix/app/components/module/preview.gjs
  mon-pix/app/models/module.js
  mon-pix/tests/integration/components/module/grain_test.gjs
  mon-pix/tests/integration/components/module/navbar_test.gjs
  mon-pix/tests/integration/components/module/passage_test.gjs
Labels: :rocket: Ready to Merge, team-devcomp

#12190 [TECH] Enregistrer les champs supplémentaires envoyés depuis Pix APP lors de la création d'un passage-event (PIX-17551)
  api/src/devcomp/application/passages/controller.js
  api/src/devcomp/application/passages/index.js
  api/src/devcomp/infrastructure/serializers/jsonapi/module-serializer.js
  api/tests/devcomp/acceptance/application/passages/passage-controller_test.js
  api/tests/devcomp/integration/application/passages/index_test.js
  api/tests/devcomp/unit/application/passages/controller_test.js
  api/tests/devcomp/unit/infrastructure/serializers/jsonapi/module-serializer_test.js
  mon-pix/app/adapters/passage.js
  mon-pix/app/models/module.js
  mon-pix/app/routes/module/passage.js
  mon-pix/tests/unit/adapters/passage-test.js
  mon-pix/tests/unit/models/modules/module-test.js
  mon-pix/tests/unit/routes/module/passage-test.js
Labels: :rocket: Ready to Merge, team-devcomp

#12199 [BUGFIX] Utiliser l'action de release de la branche main
  .github/workflows/release.yml
Labels: :rocket: Ready to Merge, team-captains, cross-team, no-review-app

#12146 [FEATURE] Ajout d'options de début et de fin pour le script de rattrapage de partage d'attestations 6e (PIX-17584)
  api/src/profile/scripts/sixth-grade-organization-share.js
  api/tests/profile/integration/scripts/sixth-grade-organization-share_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, Func Review OK, team-prescription

#12124 [FEATURE] Créer une route d'archivage des centres de certification en masse (PIX-17597).
  api/src/organizational-entities/application/certification-center/certification-center.admin.controller.js
  api/src/organizational-entities/application/certification-center/certification-center.admin.route.js
  api/src/organizational-entities/application/http-error-mapper-configuration.js
  api/src/organizational-entities/domain/errors.js
  api/src/organizational-entities/domain/usecases/archive-certification-centers-in-batch.usecase.js
  api/src/shared/infrastructure/serializers/csv/csv-serializer.js
  api/tests/organizational-entities/acceptance/application/certification-center/certification-center.admin.route.test.js
  api/tests/organizational-entities/integration/domain/usecases/archive-certification-centers-in-batch.usecase.test.js
  api/tests/shared/unit/infrastructure/serializers/csv/csv-serializer_test.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-acces

#12187 [TECH] Seeds certif: améliorer l'utilitaire de passage de certif (PIX-17665).
  api/db/seeds/data/team-certification/cases/published-v3-certification.js
  api/db/seeds/data/team-certification/cases/simple-sco-managing-students-certification.js
  api/db/seeds/data/team-certification/constants.js
  api/db/seeds/data/team-certification/data-builder.js
  api/db/seeds/data/team-certification/tools/makeCandidatePassCertification.js
Labels: Tech Review OK, :rocket: Ready to Merge, team-certif

#12200 [FEATURE] Assurer la cohérence des évènements avec les données en base (PIX-17416)
  api/src/devcomp/application/passage-events/passage-events-controller.js
  api/src/devcomp/domain/usecases/record-passage-events.js
  api/tests/devcomp/unit/application/passage-events/passage-events-controller_test.js
  api/tests/devcomp/unit/domain/usecases/record-passage-events_test.js
  api/tests/tooling/domain-builder/factory/devcomp/build-passage.js
  api/tests/tooling/domain-builder/factory/index.js
Labels: :rocket: Ready to Merge, team-devcomp
